<?xml version="1.0"?> 
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
						http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
	  <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	 </listener>

	<!-- WS Servlet -->
    <servlet>
        <servlet-name>ReservationService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationService</servlet-name>
        <url-pattern>/ReservationService</url-pattern>
    </servlet-mapping>

	<!-- Authentication Servlet -->
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>com.code.aon.gps.servlet.AuthenticationServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>

	<!-- Guest Data Servlet -->
    <servlet>
        <servlet-name>GuestDataServlet</servlet-name>
        <servlet-class>com.code.aon.gps.servlet.GuestDataServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestDataServlet</servlet-name>
        <url-pattern>/GuestDataServlet</url-pattern>
    </servlet-mapping>

	<!-- Guest Email Confirm Servlet -->
    <servlet>
        <servlet-name>GuestEmailConfirmServlet</servlet-name>
        <servlet-class>com.code.aon.gps.servlet.GuestEmailConfirmServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestEmailConfirmServlet</servlet-name>
        <url-pattern>/GuestEmailConfirmServlet</url-pattern>
    </servlet-mapping>

</web-app>
