#aon-content .aon-table-header-link:hover {
	text-decoration: underline;
}
#aon-content .aon-table-header-link:visited{
	text-decoration: none;
}

.aon-icon-task-reopen{
	background:transparent url(images/icons/aon-task-reopen.gif) scroll left center no-repeat;
	padding-left: 18px;	
 }
.aon-icon-task-start{
	background:transparent url(images/icons/aon-task-start.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-icon-task-stop{
	background:transparent url(images/icons/aon-task-stop.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-icon-daily-tracking{
	background:transparent url(images/icons/aon-daily-tracking.gif) scroll left center no-repeat;
	padding-left: 18px;	
}

