/*
----------- Tabbed Pane Component classes
*/

/* tabOn style classes */


.aon-TabSet-object{
	padding:1em 0;
	}
.aon-TabSet-TabOn {

}

.aon-TabSet-TabOn .LeftTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOn .MiddleTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOn .RightTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOn .LeftMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOn .MiddleMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.aon-TabSet-TabOn .MiddleMiddle a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;

}


* html .aon-TabSet-TabOn .MiddleMiddle a {
    width: 1%;
}

.aon-TabSet-TabOn .RightMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOn .LeftBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.aon-TabSet-TabOn .MiddleBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.aon-TabSet-TabOn .RightBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tabOff style classes */

.aon-TabSet-TabOff {

}

.aon-TabSet-TabOff .LeftTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOff .MiddleTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOff .RightTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOff .LeftMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-left-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;

}

.aon-TabSet-TabOff .MiddleMiddle {
   background-color: transparent;
    background-image: url( "./images/panelTabSet/off-mid-mid.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.aon-TabSet-TabOff .MiddleMiddle a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .aon-TabSet-TabOff .MiddleMiddle a {
    width: 1%;
}

.aon-TabSet-TabOff .RightMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-right-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
    background-color:#f2f2f2;
    border-right:#ccc 1px solid;
}

.aon-TabSet-TabOff .LeftBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.aon-TabSet-TabOff .MiddleBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.aon-TabSet-TabOff .RightBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tabOver style classes */

.aon-TabSet-TabOver {

}

.aon-TabSet-TabOver .LeftTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOver .MiddleTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOver .RightTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOver .LeftMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOver .MiddleMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.aon-TabSet-TabOver .MiddleMiddle a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .aon-TabSet-TabOver .MiddleMiddle a {
    width: 1%;
}

.aon-TabSet-TabOver .RightMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOver .LeftBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.aon-TabSet-TabOver .MiddleBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.aon-TabSet-TabOver .RightBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tabSpacer */

.aon-TabSet-TabSpacer {
    width: 100%;
    border-bottom: 1px solid #ABABAB;
}

/* tabPanel */

.aon-TabSet- {
}
.iceTabSet {
    /*padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    background-color: #FFFFFF;*/
}

/* TABS ON BOTTOM STYLE CLASSES */
/* tabOn style classes */

.aon-TabSet-TabOnBottom {

}

.aon-TabSet-TabOnBottom .LeftTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-on-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOnBottom .MiddleTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-on-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOnBottom .RightTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-on-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOnBottom .LeftMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOnBottom .MiddleMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.aon-TabSet-TabOnBottom .MiddleMiddle a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .aon-TabSet-TabOnBottom .MiddleMiddle a {
    width: 1%;
}

.aon-TabSet-TabOnBottom .RightMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/on-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOnBottom .LeftBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-on-left-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

.aon-TabSet-TabOnBottom .MiddleBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-on-mid-bot.gif" );
    background-repeat: repeat-x;
    padding-bottom: 5px;
    border: none;
}

.aon-TabSet-TabOnBottom .RightBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-on-right-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

/* tabOff style classes */

.aon-TabSet-TabOffBottom {

}

.aon-TabSet-TabOffBottom .LeftTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-off-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOffBottom .MiddleTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-off-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOffBottom .RightTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-off-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOffBottom .LeftMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-left-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOffBottom .MiddleMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-mid-mid.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.aon-TabSet-TabOffBottom .MiddleMiddle a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .aon-TabSet-TabOffBottom .MiddleMiddle a {
    width: 1%;
}

.aon-TabSet-TabOffBottom .RightMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/off-right-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOffBottom .LeftBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-off-left-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

.aon-TabSet-TabOffBottom .MiddleBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-off-mid-bot.gif" );
    background-repeat: repeat-x;
    padding-bottom: 5px;
    border: none;
}

.aon-TabSet-TabOffBottom .RightBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-off-right-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

/* tabOver style classes */

.aon-TabSet-TabOverBottom {

}

.aon-TabSet-TabOverBottom .LeftTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-over-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOverBottom .MiddleTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-over-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOverBottom .RightTop {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-over-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.aon-TabSet-TabOverBottom .LeftMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOverBottom .MiddleMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.aon-TabSet-TabOverBottom .MiddleMiddle a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .aon-TabSet-TabOverBottom .MiddleMiddle a {
    width: 1%;
}

.aon-TabSet-TabOverBottom .RightMiddle {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/over-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.aon-TabSet-TabOverBottom .LeftBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-over-left-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

.aon-TabSet-TabOverBottom .MiddleBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-over-mid-bot.gif" );
    background-repeat: repeat-x;
    padding-bottom: 5px;
    border: none;
}

.aon-TabSet-TabOverBottom .RightBottom {
    background-color: transparent;
    background-image: url( "./images/panelTabSet/tbot-over-right-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

/* tabSpacer */
.aon-TabSet-TabSpacerBottom {
    width: 100%;
    border-top: 1px solid #ABABAB;
}

/* tabPanel */

.aon-TabSet-Bottom {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    background-color: #FFFFFF;
}
