*{
    margin: 0 auto;
    padding: 0;
  }
html{
    height: 100%;
  }
body{
    background: ${bgcolor_color_de_fondo} url(images/body_top_bg.jpg) repeat-x;
    text-align: center;
    font: ${size_tamano_de_fuente}  ${font_fuente};
    color: ${color_color_de_texto};
  }
#canvas {
	width:750px;
	margin:0 auto;
}
#header{
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    width: 720px;
    height: 240px;
    
    text-align: left;
  }
h1#logo{
    position: absolute;
    top: 110px;
    left: 315px;
    font: normal 40px ${font_fuente};
  }
h1#logo a{
    color: ${color_color_de_texto_cabecera};
    text-decoration: none;
  }
h1#logo a:hover{
    color: ${color_color_de_texto_cabecera_hover};
  }
#logo .logoDot{
    color: ${color_color_punto_cabecera};
    font-size: 100px;
  }
#menu {
    float: right;
    padding:11px 60px;
    list-style: none;
	width:750px;
  }

#menu ul li{
    float: left;
    padding-left: 80px;
    text-align: right;
  }
#menu ul a{
    display: block;
    color: ${color_color_de_texto_menu};
    font: ${size_tamano_de_fuente_menu} ${font_fuente};
    text-decoration: none;
  }
#menu ul a:hover{
    color: ${color_color_de_texto_menu_hover};
    text-decoration: underline;
  }
#container{
    clear: both;
    padding: 40px 0;
    width: 100%;
    background-color: ${bgcolor_color_de_fondo_contenido};
  }
#wrapper{
    margin: 0 auto;
    width: 720px;
    text-align: left;
  }
h2{
    margin-bottom: 20px;
    padding-left: 25px;
    background: transparent url(images/content_title_ico.jpg) left center no-repeat;
    color: ${color_color_de_texto_titulos};
    font: bold 18px ${font_fuente};
  }
h3{
    color: #6699CC;
    font-size: 12px;
  }
#content{
    margin-left: 280px;
  }
p{
    margin-bottom: 10px;
  }
#foot{
    margin: 0 auto;
    width: 720px;
    color: ${color_color_de_texto_pie};
    font-size: 9px;
  }
#foot a{
    color: ${color_color_de_texto_pie};
    text-decoration: none;
  }
#foot a:hover{
    color: ${color_color_de_texto_pie_hover};
  }
#foot ul{
    padding: 5px 0 40px 0;
    background: transparent url(images/footer_dot.gif) repeat-x;
    list-style: none;
  }
li.validate{
    padding-right: 10px;
    float: left;
  }
li.copyright{
    float: right;
  }
li.copyright a{
    padding-right: 18px;
    background: transparent url(images/inhead_logo.gif) right center no-repeat;
  }
  .box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:375px; 
	padding:5px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:#000000;
}
.gallery-navigation a{
	color:#000000;
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}

.album {
	height:300px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:#000000;
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:#000000;
}