/********************************************************************
* Copyright (c) 2011, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

package ${package};


public interface SQLConstants  {


#foreach($table in $tables)
	
	/**
	 *  $table $table.remarks
	 */
	String ${table.name.toUpperCase()} = "${table.name}";
	
	interface ${table}Columns {
#foreach ($column in $table.columns)
		/**
		 *  $column	$column.remarks
		 */
		String ${column.name.toUpperCase()} = "${column.name}";	
#end
	}
#end
}
	
