.aon-commandButton{
	padding:0 0.5em 0 1.5em !important;
}

#aon-content .aon-table-header-link:hover {
	text-decoration: underline;
}
#aon-content .aon-table-header-link:visited{
	text-decoration: none;
}

.aon-row-auxiliary {
	color: #8D8D8D;
	font-size: 0.9em;
	padding-bottom: 0px;
	padding-top: 0px; 
}
.aon-row-auxiliary a{
	color: #8D8D8D;
}

.aon-dataTable-link {
	background:transparent url(images/aon-icon/aon-icon-arrow-dataTable-item.png) scroll right center no-repeat;
	padding-right: 10px;
}

.aon-dataTable-link:hover {
	color: #285E9C; 
	text-decoration: underline;
}

.aon-dataTable-link-simple {
	padding-right: 10px;
}

.aon-dataTable-link-simple:hover {
	cursor: pointer;
	color: #285E9C; 
	text-decoration: underline;
}
.aon-dataTable-footerClass {
	background-color: white;
}
.aon-column-middle-width {
	width: 50%;
}

.aon-homepage-column {
	vertical-align: top;
	width: 33%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.aon-homepage-column-header {
	font-weight: bold;
	font-family: Helvetica;
	width: 100%;
	text-decoration: underline;
	text-transform: uppercase;
	white-space: nowrap;
	margin-top: 2px;
	padding-top: 2px;
	padding-left: 26px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.aonSubMenu {
	margin-top: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	color:#555555;
	font-family: Helvetica;
	font-size: 1.2em;
	width:80%;
	white-space: nowrap; 
}
.aonSubMenuOption {
	background:#fff url(images/aon-content-menu/aon-content-option.gif) scroll left center no-repeat;
}

.aonSubMenuOptionCircle {
	background:#fff url(images/aon-content-menu/aon-content-option-circle.gif) scroll left center no-repeat;
}
.aonSubMenuOptionRectangle {
	background:#fff url(images/aon-content-menu/aon-content-option-rectangle.gif) scroll left center no-repeat;
}
.aonSubMenuOptionTriangle {
	background:#fff url(images/aon-content-menu/aon-content-option-triangle.gif) scroll left center no-repeat;
}
.aonSubMenuOptionPentagon {
	background:#fff url(images/aon-content-menu/aon-content-option-pentagon.gif) scroll left center no-repeat;
}
.aonSubMenuOptionCylinder {
	background:#fff url(images/aon-content-menu/aon-content-option-cylinder.gif) scroll left center no-repeat;
}
.aonSubMenuExtraLink {
	font-size:0.7em;
	font-style: italic;
}

.aonSubMenu a {
	margin-left: 5px;
	font-weight: normal;
	font-size: 0.9em;
	color: #000 !important; 
}
.aonSubMenu a:hover {
	color: #E55302 !important;
}
.aonSubMenu a:visited {
	color: #000 !important;
}

.aon-panelGrid-search-body {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 3px;
}

.aon-panelGrid2-odd{
	width: 115px;
	border:#c4c4c4 1px solid;
	background-color:#ffffff;
	white-space: nowrap;
	padding:1px 0.5em 1px 0.5em;
	vertical-align:top;
	text-align: right;
}
.aon-panelGrid2-even{
	width: 60px;
	border:#c4c4c4 1px solid;
	border-collapse: collapse;
	background-color:#f2f2f2;
	white-space: nowrap;
	padding:1px 0.5em 1px 0.5em;
	vertical-align:top;
	text-align: center;
}
.aon-panelGrid2-header-first{
	width: 150px;
	border:#c4c4c4 1px solid;
	border-collapse: collapse;
	background-color:#f2f2f2;
	white-space: nowrap;
	vertical-align:middle;
}
.aon-panelGrid2-header{
	border-collapse: collapse;
	width: 300px;
	border:#c4c4c4 1px solid;
	background-color:#ffffff;
	white-space: nowrap;
	vertical-align:top;
}
.aon-panelGrid2-header-text{
	font-weight: bold;
	text-align: center;
	background-color:#f2f2f2;
}
.aon-panelGrid2-total-text{
	font-style: italic;
	font-weight: bold;
	background-color:#f2f2f2;
}
.aon-panelGrid2-total-title{
	font-weight: normal;
	font-style: italic;
	text-align: right;
	padding-right: 5px;
	background-color:#ffffff;
}

.aon-dataTable-link-noicon {}
.aon-dataTable-link-noicon:hover {
	color: #285E9C; 
	text-decoration: underline;
}

.aon-disabling-div {
	z-index:1001;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #DDDDDD;
	opacity:.30;
	filter: alpha(opacity=30);
}

.rich-combobox-button-background {
	display:none;
}
.rich-combobox-button-background-inactive {
	display:none;
}

.aon-icon-task-reopen{
	background:transparent url(images/icons/aon-task-reopen.gif) scroll left center no-repeat;
	padding-left: 18px;	
 }
.aon-icon-task-start{
	background:transparent url(images/icons/aon-task-start.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-icon-task-stop{
	background:transparent url(images/icons/aon-task-stop.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-icon-daily-tracking{
	background:transparent url(images/icons/aon-daily-tracking.gif) scroll left center no-repeat;
	padding-left: 18px;	
}

.aon-icon-launch-process{
	background:transparent url(images/icons/aon-launch-process.gif) scroll left center no-repeat;
	padding-left: 18px;	
 }

.aon-icon-launch-process-previous{
	background:transparent url(images/icons/aon-launch-process-previous.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-icon-launch-process-next{
	background:transparent url(images/icons/aon-launch-process-next.gif) scroll left center no-repeat;
	padding-left: 18px;	
}

.aon-icon-process-start{
	background:transparent url(images/icons/aon-task-start.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-icon-process-stop{
	background:transparent url(images/icons/aon-task-stop.gif) scroll left center no-repeat;
	padding-left: 18px;	
}

.aon-icon-process-transition-selection{
	background:transparent url(images/icons/aon-process-transition-selection.gif) scroll left center no-repeat;
	padding-left: 18px;	
}
.aon-inplace-select {
 width: 200px; 
 border:none; 
 cursor:pointer; 
 text-decoration:none; 
 background-color: default;
}
