<app-card

>
  <div header class="models-header">
    <div class="models-header-name">
      <div class="models-header-line"></div>
      <div class="models-header-text"> Impuestos </div>
    </div>
    <div class="models-header-filters">
      <div class="models-header-filter-text"> {{ selected }} </div>
      <div class="models-header-filter-icon" [matMenuTriggerFor]="menu">
        <set-icon shape="more_vert" set-color [ngStyle]="{ color: 'black' }" size="21"></set-icon>
      </div>
      <mat-menu #menu="matMenu" xPosition="before">
        <button *ngFor="let item of items" mat-menu-item (click)="selected = item" class="menuText">
          {{ item }}
        </button>
      </mat-menu>
    </div>
  </div>
    <div body class="models-content">
    <div *ngFor="let model of models" class="models-content-element">
        <div class="models-content-element-name">Modelo {{ model.Name }} </div>
        <div class="models-content-element-tax"> {{ model.TaxType }}</div>
        <div class="models-content-element-amount">
            <div class="models-content-element-amount-text">
                <div stlye="width=10px;">
                    <div class="models-content-element-amount-text-point"></div>
                </div>
                {{model.Result}} €
            </div>
        </div>
    </div>
</div>

</app-card>





