<app-card class="dashboard min orange">
  <div header>
    <div class="line"></div>
    <div class="text">{{ 'HOME.TAXES'|translate }}</div>
    <div class="options-text">{{ selected }}</div>
    <div class="options">
      <app-icon shape="more_vert" [matMenuTriggerFor]="menu"></app-icon>
      <mat-menu #menu="matMenu">
        <button *ngFor="let item of items" mat-menu-item (click)="selected = item">
          {{ item }}
        </button>
      </mat-menu>
    </div>
  </div>
  <div body class="list">
    <div *ngFor="let model of models" class="list-row">
      <div class="list-name">{{ 'HOME.MODEL'|translate }} {{ model.Name }}</div>
      <div class="list-date"> {{ model.TaxType }}</div>
      <div class="list-money">
        <span class="list-money-icon"></span>
        {{model.Result}} €
      </div>
    </div>
  </div>
</app-card>





