<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:mysql://192.168.2.4:3306/aon-commercial</property>				
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.password">serubd2000</property>
		<property name="show_sql">true</property>		

		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON-MARKETING Mapping files -->
		<mapping class="com.code.aon.marketing.MarketingAction"/>
		<mapping class="com.code.aon.marketing.ActionTarget"/>
		<mapping class="com.code.aon.marketing.Campaign"/>
		<mapping class="com.code.aon.marketing.Question"/>
		<mapping class="com.code.aon.marketing.QuestionValue"/>
		<mapping class="com.code.aon.marketing.Survey"/>
		<mapping class="com.code.aon.marketing.SurveyQuestion"/>
		<mapping class="com.code.aon.marketing.SurveyResponse"/>
		<mapping class="com.code.aon.marketing.SurveyResponseDetail"/>
		<mapping class="com.code.aon.marketing.SurveyWorkflow"/>
		<mapping class="com.code.aon.marketing.TargetProfile"/>

		<!-- AON-GEOZONE Mapping files -->		
		<mapping class="com.code.aon.geozone.GeoTree"/>
		<mapping class="com.code.aon.geozone.GeoZone"/>			

		<!-- AON-REGISTRY Mapping files -->
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Segment"/>

		<!-- AON-COMMERCIAL Mapping files -->
		<mapping class="com.code.aon.commercial.Target"/>
		<mapping class="com.code.aon.commercial.TargetItem"/>
		<mapping class="com.code.aon.commercial.TargetSeller"/>
		<mapping class="com.code.aon.commercial.CommercialTracking"/>
		<mapping class="com.code.aon.commercial.CommercialActivity"/>
		
		<!-- AON-CONFIG Mapping files -->
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.Tax"/>
		
		<!-- AON-PRODUCT Mapping files -->	
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>		
		
		<!-- AON-SELLER Mapping files -->	
		<mapping class="com.code.aon.seller.Seller"/>
		
	</session-factory>

</hibernate-configuration>