<div>
  <mat-toolbar class="tedi-toolbar">
    <span>
      <button mat-icon-button (click)="openSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class="tedi-user-name"> {{service.user.email}} </span>
    <span class="tedi-right20">
      <button *ngIf="showAdd()" mat-icon-button (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <mat-progress-bar *ngIf="service.loading" mode="indeterminate"></mat-progress-bar>
</div>

<div>
  <mat-sidenav-container [autosize]="!isMobile()"  style="min-height:calc(100vh - 105px);">
    <mat-sidenav #sidenav mode="side" [opened]="true">
      <mat-nav-list class="tedi-list" *ngIf="isExpand">
        <mat-list-item class="tedi-list-item" (click)="general()">
          <mat-icon matListIcon> person </mat-icon>
          <span class="tedi-item" > Mi Cuenta </span>
        </mat-list-item>
        <mat-list-item class="tedi-list-item" (click)="users()">
          <mat-icon matListIcon> people </mat-icon>
          <span class="tedi-item" > Gestión de Usuarios</span>
        </mat-list-item>
        <mat-list-item class="tedi-list-item" (click)="companies()">
          <mat-icon matListIcon> domain </mat-icon>
          <span class="tedi-item" > Gestión de Empresas</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="tedi-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
