.aon-iCon {
    padding: 1px 0px 1px 18px;
}

.aon-link {
	border: 0 none;
    cursor: pointer;
    text-align: left;
}

.aon-black {
	color: black;
}

.aon-padding-left {
	padding-left:16px;	
}

@sprite .aon-icon-changed {
	width: auto;
	height: auto;
	gwt-image: "changed" ; 
}

@sprite .aon-icon-warn {
	gwt-image: "warn" ; 
}

@sprite .aon-icon-aet {
	gwt-image: "aet" ; 
}

@sprite .aon-icon-ine {
	gwt-image: "ine" ; 
}

@sprite .aon-icon-employee {
	gwt-image: "employee" ; 
}

@sprite .aon-icon-workplace {
	gwt-image: "workplace" ; 
}

@sprite .aon-icon-draft {
	gwt-image: "draft" ; 
}

@sprite .aon-icon-linechart {
	width: auto;
	height: auto;
	gwt-image: "linechart" ;
}

@sprite .aon-icon-columnchart {
	width: auto;
	height: auto;
	gwt-image: "columnchart" ;
}

@sprite .aon-icon-salaries {
	gwt-image: "salaries" ; 
}

@sprite .aon-icon-agreement {
	gwt-image: "agreement" ; 
}

@sprite .aon-icon-deduction {
	gwt-image: "deduction" ; 
}

@sprite .aon-icon-payment {
	gwt-image: "payment" ; 
}

@sprite .aon-icon-segsocial {
	gwt-image: "segsocial" ; 
}

@sprite .aon-icon-clipboard {
	gwt-image: "clipboard" ; 
}

@sprite .aon-icon-rowSelector-S {
	gwt-image: "aon_icon_row_s" ; 
}

@sprite .aon-icon-rowSelector-C {
	gwt-image: "aon_icon_row_c" ; 
}

@sprite .aon-icon-rowSelector-Changed {
	gwt-image: "aon_icon_row_changed" ; 
}

@sprite .rich-calendar-button {
	gwt-image: "rich_calendar_button" ; 
}

.aon-dataTable .selected {
    border: 1px solid #D3C061;
    background: none repeat scroll 0 0 #FFFADC;
}

.aon-comboBoxPopup {
	background-color: #FBEDB6;
	border: solid #808080 1px;
	border-top: 0px;
	box-shadow: 2px 2px 2px #888888;
}

@sprite .aon-icon-month-changed {
	gwt-image: "month_changed"
}


.aon-dataTable-cell-highlight {
	background: #fffadc;
	border-color: #d3c061 !important;
}

.aon-dataTable-cell-highlight-top {
	border-bottom-color: #d3c061 !important;
}

.aon-dataTable-row-highlight {
	background: #fffadc;
}
.aon-dataTable-row-highlight td {
	border-color: #d3c061;
}

.aon-dataTable-row-highlight-top {
}

.aon-dataTable-row-highlight-top td {
	border-bottom-color: #d3c061;
}
