.aon-iCon {
    padding: 1px 0px 1px 18px;
}

.aon-link {
	border: 0 none;
    cursor: pointer;
    text-align: left;
}

.aon-black {
	color: black;
}

.aon-label-warn {
	color: orange;
}

.aon-padding-left {
	padding-left:16px;	
}

@sprite .aon-icon-changed {
	width: auto;
	height: auto;
	gwt-image: "changed" ; 
}

@sprite .aon-icon-x {
	gwt-image: "x" ; 
}

@sprite .aon-icon-f {
	gwt-image: "f" ; 
}

@sprite .aon-icon-fx {
	gwt-image: "fx" ; 
}

@sprite .aon-icon-warn {
	gwt-image: "warn" ; 
}

@sprite .aon-icon-aet {
	gwt-image: "aet" ; 
}

@sprite .aon-icon-ine {
	gwt-image: "ine" ; 
}

@sprite .aon-icon-lamp {
	gwt-image: "lamp" ; 
}

@sprite .aon-icon-expand {
	gwt-image: "expand" ; 
	background-position: center;
}

@sprite .aon-icon-collapse {
	gwt-image: "collapse" ; 
	background-position: center;
}


@sprite .aon-icon-employee {
	gwt-image: "employee" ; 
}

@sprite .aon-icon-card {
	width: auto;
	height: auto;
	padding: 0 0 0 18px;
	text-align: left;
	gwt-image: "card" ; 
}

@sprite .aon-icon-workplace {
	gwt-image: "workplace" ; 
}

@sprite .aon-icon-draft {
	gwt-image: "draft" ; 
}

@sprite .aon-icon-linechart {
	width: auto;
	height: auto;
	gwt-image: "linechart" ;
}

@sprite .aon-icon-columnchart {
	width: auto;
	height: auto;
	gwt-image: "columnchart" ;
}

@sprite .aon-icon-salaries {
	gwt-image: "salaries" ; 
}

@sprite .aon-icon-agreement {
	gwt-image: "agreement" ; 
}

@sprite .aon-icon-deduction {
	gwt-image: "deduction" ; 
}

@sprite .aon-icon-paynnent {
	gwt-image: "payment" ; 
}

@sprite .aon-icon-segsocial {
	gwt-image: "segsocial" ; 
}

@sprite .aon-icon-segsocial-small {
	gwt-image: "segsocial_small" ; 
	padding-right: 14px;	
	background-position: right center;
}

@sprite .aon-icon-normal-segsocial-small {
	gwt-image: "segsocial_small" ; 
	padding: 0px 0px 0px 14px;
	background-position:left;
}

@sprite .aon-icon-clipboard {
	gwt-image: "clipboard" ; 
}

@sprite .aon-icon-rowSelector-S {
	gwt-image: "aon_icon_row_s" ; 
}

@sprite .aon-icon-rowSelector-C {
	gwt-image: "aon_icon_row_c" ; 
}

@sprite .aon-icon-rowSelector-Changed {
	gwt-image: "aon_icon_row_changed" ; 
}

@sprite .rich-calendar-button {
	gwt-image: "rich_calendar_button" ; 
}

.aon-dataTable .selected {
    border: 1px solid #D3C061;
    background: none repeat scroll 0 0 #FFFADC;
}

.aon-comboBoxPopup {
	padding: 0px;
	background-color: #FBEDB6;
	border-top: 0px;
	border: solid #808080 1px;
	box-shadow: 2px 2px 2px #888888;
}

@sprite .aon-icon-month-changed {
	gwt-image: "month_changed"
}


.aon-dataTable-cell-highlight {
	background: #fffadc;
	border-color: #d3c061 !important;
}

.aon-dataTable-cell-highlight-top {
	border-bottom-color: #d3c061 !important;
}

.aon-dataTable-row-highlight {
	background: #fffadc;
}
.aon-dataTable-row-highlight td {
	border-color: #d3c061;
}

.aon-dataTable-row-highlight-top {
}

.aon-dataTable-row-highlight-top td {
	border-bottom-color: #d3c061;
}

.aon-finding-toolbar-item {
	height: 14px;	
}

.aon-tooltip { 
	/* the outside of the popup */
	margin-left: 32px;
}
.aon-tooltip .popupContent { 
	/* the wrapper around the content */
    padding: 6px;
	color : #000 ;
	font-size : 11px ;
	border: 1px solid #CCCCCC;
	border-top: none;
    box-shadow: 2px 2px 5px #CCCCCC;
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.aon-tooltip .popupTopLeft { 
	/* the top left cell */
	background: inherit;
}
.aon-tooltip .popupTopLeftInner { 
	/* the inner element of the cell */
	background: inherit;
}
@sprite .aon-tooltip .popupTopCenter { 
	/* the top center cell */
	gwt-image: "tooltip_top";
	width: auto;
	background-position: center top;
}
.aon-tooltip .popupTopCenterInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupTopRight { 
	/* the top right cell */
	background: inherit;
}
.aon-tooltip .popupTopRightInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupMiddleLeft { 
	/* the middle left cell */
	background: inherit;
}
.aon-tooltip .popupMiddleLeftInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupMiddleCenter { 
	/* the middle center cell */
	background: inherit;
}
.aon-tooltip .popupMiddleCenterInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupMiddleRight { 
	/* the middle right cell */
	background: inherit;
}
.aon-tooltip .popupMiddleRightInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupBottomLeft { 
	/* the bottom left cell */
	background: inherit;
}
.aon-tooltip .popupBottomLeftInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupBottomCenter { 
	/* the bottom center cell */
	background: inherit;
}
.aon-tooltip .popupBottomCenterInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupBottomRight { 
	/* the bottom right cell */
	background: inherit;
}
.aon-tooltip .popupBottomRightInner { 
	/* the inner element of the cell */
	background: inherit;
}
