@charset "UTF-8";
@def selectionBorderWidth 2px;
.cellTableWidget {
	width: 100%;
	font-family: arial,verdana, "sans serif";
	border: #ccc 1px solid;
	border-collapse: collapse;
}
.cellTableFirstColumn {
	text-align: center;
}
.cellTableLastColumn {
	text-align: center;
}
.cellTableFooter {}

.cellTableHeader {
	cursor: pointer;
}

.cellTableCell {
	font-size: 13px;
	color:#000;
	font-family: lucida Grande,Trebuchet MS,Arial,sans-serif;
}
.cellTableFirstColumnFooter {}
.cellTableFirstColumnHeader {}
.cellTableLastColumnFooter {}
.cellTableLastColumnHeader {}

.cellTableSortableHeader {
	cursor: pointer;
}
.cellTableSortableHeader:hover {}
.cellTableSortedHeaderAscending {}
.cellTableSortedHeaderDescending {}

.cellTableEvenRow {
	background-color: #f8f9f9;
}
.cellTableEvenRowCell {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: #ccc 1px solid;
}

.cellTableOddRow {
	background-color: #fff;
}
.cellTableOddRowCell {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: #ccc 1px solid;
}
.cellTableHoveredRow {
	background-color: #e2f1f5 !important;
	cursor: pointer;
}
.cellTableHoveredRowCell {}
.cellTableKeyboardSelectedRow {}
.cellTableKeyboardSelectedRowCell {}

.cellTableSelectedRow {
	background: rgba(255, 255, 0, 0.3);
}
.cellTableSelectedRowCell {
	/*
	border: 2px solid rgba(255, 255, 0, 0);
	adding: 2px 15px;
	overflow: hidden;
	*/
}
.cellTableKeyboardSelectedCell {
	/*
	border: 2px solid rgba(255, 255, 0, 0);
	adding: 2px 15px;
	overflow: hidden;
	*/
}

@sprite .cellTableLoading {
	gwt-image: 'cellTableLoading';
  	margin: 30px;
}