<div class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false"  style="height:calc(100vh - 105px);">
  <div class="list-tag">
    {{listTitle}}
  </div>
  <mat-nav-list>
    <mat-list-item  *ngFor="let invoice of invoiceList; index as i" (click)="onSelect(invoice, i)">
      <mat-icon matListIcon>{{getInvoiceIcon(invoice)}}</mat-icon>
      <p mat-line>
        <span class="tedi-registry">{{getRegistry(invoice)}}</span>
        <span class="tedi-date"> {{getDate(invoice)}} </span>
      </p>
      <p mat-line>
        <span class="tedi-total"> {{invoice.total}} € </span>
        <span class="tedi-paymethod"> {{paymethod(invoice)}} </span>
        <span class="tedi-status">
          <mat-icon title="Verificada" class="tedi-margin-15" style="color:#61A141;" *ngIf="invoice.status === 'inbox' && invoice.verified">check_circle</mat-icon>
          <mat-icon title="Pendiente" class="tedi-margin-15" style="color:#8A8A8A;" *ngIf="invoice.status === 'inbox' && !invoice.verified">error</mat-icon>
          <mat-icon class="tedi-margin-15" *ngIf="invoice.file">attachment</mat-icon>
        </span>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
