<div class="content">
<div class="content-text">
	<div class="titular">$!title</div>
		<table width="90%" border="0" cellspacing="10" cellpadding="0">
			 	<colgroup width="522"/><colgroup />
			<tr>
			   <td >$!text</td>
			</tr>
		</table>
</div>
</div>