.container {
  display: flex;
  flex-direction: column;
  padding:0px;
}

.tedi-width-all {
  width:100%;
}

.tedi-width-50{
    width: 49%;
    margin-right: 1%;
    display: inline-block !important;
}

.container > * {
  padding:10px !important;
}
