<div class="container">
  <div>
      <mat-list>
        <mat-list-item>
          <mat-checkbox #adminCheck color="primary" (change)="updateAdmin(adminCheck.checked)" [checked]="f.admin">Administrador</mat-checkbox>
        </mat-list-item>
        <mat-divider> </mat-divider>
        <mat-list-item>
          <mat-checkbox #gestorCheck color="primary" (change)="updateGestor(gestorCheck.checked)" [checked]="f.gestor"> Asesor / Gestor</mat-checkbox>
        </mat-list-item>
        <mat-divider> </mat-divider>
        <mat-list-item>
          <mat-checkbox #otherCheck color="primary" (change)="updateOther(otherCheck.checked)" [checked]="f.other">Resto de Usuarios</mat-checkbox>
        </mat-list-item>
      </mat-list>
    <div >
      <button mat-raised-button (click)="search()">Buscar</button>
    </div>
  </div>
</div>
