
aon-viewer {
	display: flex;
	height: max-content;
	width: 100%;
	position: relative;
	background: #fafafa;
}

aon-viewer #aonViewerCanvasDiv {
	width: 100%;
	min-height: 100%;
	height: max-content;
	padding: 5rem;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	background: #fafafa;
	padding-bottom: 5rem;
	transition: transform .25s , margin .25s;
	box-sizing: border-box;
	transform-origin: center top 0px;
}

aon-icon-button button {
	background: #f1f1f1;
	border-radius: 10rem;
	padding: 1rem;
	border: .2rem;
	border: none;
	transition: background 0.2s;
}

aon-icon-button button:hover {
	background: #c7c7c7;
}

aon-viewer #aonViewerButtonsDiv {
	position: fixed !important;
	top: 10% !important;
}

aon-viewer #aonViewerButtonsDiv button {
	cursor: pointer;
	box-shadow: 0 .12rem .25rem rgba(0,0,0,.1);
}

aon-viewer canvas {
	margin-bottom: 1rem;
	border-radius: .5rem;
	background: #fff;
	border: none !important;
	box-shadow: 0rem 1rem 2rem rgba(0,0,0,.05);
}
