<div class="container">

  <h3 class="title">
    {{title}}
  </h3>
  <div >
    <mat-form-field class="tedi-width-all" >
      <input #filter matInput tediInitValue placeholder="Búsqueda" (keyup)="search(filter.value)">
    </mat-form-field>
    <mat-selection-list #cps>
      <mat-list-option #aa class="mat-primary" color="primary" *ngFor="let company of companies" (click)="onSelect(company, aa.selected)" [selected]="hasCompany(company)">
      {{company.document}} - {{company.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div *ngIf="hasCompanies()">
    No hay empresas disponibles.
  </div>

</div>
