
.aonMobileHeader {
  position: fixed;
  height: 60px;
}

.aonMobileLogo {
  position: absolute;
  margin-left: 15%;
  top: 15px;
  cursor: pointer;
}

.aonMobileHeaderButton {
  position: fixed;
  top: 10px;
}

.aonMobileRootPanel {
  position: fixed;
  top: 60px;
  bottom: 60px;
  width: 100%;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}

.aonMobileSidenav {
  position: relative;
  flex-basis: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
  left: -1;
  background-color: #fff;
  border-right: 1px solid #ddd;
  transition-duration: 500ms;
  overflow-x: hidden;
  height: calc(100vh - 102px);
}

.aonMobileToolbar {
  position: fixed;
  width: 100%;
  display: flex;
  height: 40px;
  padding-left: 16px;
  border-top: 0px none;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 16px;
}

.aonMobileApplicationContent {
  display: flex;
  position: fixed;
  top: 101px;
}

.aonMobileContent {
  position: fixed;
  top: 102px;
  bottom: 59px;
  width: 100%;
  display: block;
  transition: 0.5s;
  overflow-y: auto;
}

.aonMobileMenu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  border-top: 1px solid #ddd;
  background: #fff;
}


.aonMobileDesktopCompany {
  display: flex;
  margin: 15px;
}

.aonMobileDesktopCompanyName {
  width: 80%;
  font-size: 20px;
  margin: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
