.centerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow{
    display: flex ;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexJustifyCenter{
    justify-content: center;
}

.flexJustifyStart{
    justify-content: flex-start;
}

.flexJustifyEnd{
    justify-content: flex-end;
}

.flexJustifyBetween{
    justify-content: space-between;
}

.flexJustifyAround{
    justify-content: space-around;
}

.flexAlignCenter{
    align-items: center;
}

.noCopy, .noCopy * {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;
}

.copy, .copy * {
    -webkit-user-select: text;  
    -moz-user-select: text;    
    -ms-user-select: text;     
    user-select: text;
  }

.noScrollbar{
    scrollbar-width: none; /* Firefox 64 */
}

.noScrollbar::-webkit-scrollbar {
    width: 0px; 
    display: none;
    background: transparent; 
}


.noFocus:focus{
    outline: none;
}

.transitionCascade * {
    transition: inherit;
}

.transitionQuick{
    transition: .25s;
}

.contentEditable:hover { 
    border-radius: 2px;
    background : var(--aon-color-interaction-minus-two) !important; 
}

.contentEditable:focus { 
    transition: .25s;
    -webkit-user-select: text;  
    -moz-user-select: text;    
    -ms-user-select: text;     
    user-select: text;
    border-radius: 2px;
    background : var(--aon-color-interaction-minus-two) !important; 
}

.contentEditable:empty:before{ 
    content: attr(placeholder);
    color: #555; 
}
.contentEditable:empty:focus::before {
    content: "";
}