:root {
	--aon-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--aon-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--aon-color-interaction: #002469;
	--aon-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--aon-color-danger: #b50706;
	--aon-color-bg-low-contrast: #eff1f2;
	--aon-color-ink-high-contrast: #121212;
	--aon-color-bg-high-contrast: #ffffff;
}

.aonInputGroup {
  margin-bottom: 1rem;
  position: relative;
  width: 20.4375rem;
}

/* Input*/
.aonInputUnderlined > input,
.aonInputFilled > input {
	border: none;
	border-bottom: 1px solid var(--aon-color-ink-medium-contrast);
	width: 100%;
	height: 3rem;
	font-size: 1.0625rem;
	padding-left: 5px;
	line-height: 147.6%;
	padding-top: 1rem;
	padding-bottom: 0rem;
}

.aonInputUnderlined > input:focus,
.aonInputFilled > input:focus {
	outline: none;
}

.aonInputUnderlined > .aonInputLabel,
.aonInputFilled > .aonInputLabel {
	position: absolute;
	top: 20px;
	left: 5px;
	line-height: 147.6%;
	color: var(--aon-color-ink-medium-contrast);
	transition: top .2s;
}

.aonInputUnderlined > svg,
.aonInputFilled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--aon-color-ink-medium-contrast);
}

.aonInputUnderlined > .aonInputHelper,
.aonInputFilled > .aonInputHelper {
	font-size: 0.9375rem;
	color: var(--aon-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.aonInputUnderlined > input:hover,
.aonInputFilled > input:hover {
	background: var(--aon-color-interaction-minus-two);
	border-color: var(--aon-color-ink-high-contrast);
}

.aonInputUnderlined > input:focus + .aonInputLabel,
.aonInputUnderlined > input:valid + .aonInputLabel,
.aonInputFilled > input:focus + .aonInputLabel,
.aonInputFilled > input:valid + .aonInputLabel {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.aonInputNotEmpty {
	top: 0 !important;
	font-size: 0.9375rem;
	margin-bottom: 32px;
}

.aonInputUnderlined:not(.aonInputDanger) > input:focus + .aonInputLabel,
.aonInputFilled:not(.aonInputDanger) > input:focus + .aonInputLabel {
	color: var(--aon-color-interaction);
}

.aonInputUnderlined:not(.aonInputDanger) > input:focus,
.aonInputFilled:not(.aonInputDanger) > input:focus {
	border-color: var(--aon-color-interaction);
}

.aonInputUnderlined:not(.aonInputDanger) > input:focus ~ svg,
.aonInputFilled:not(.aonInputDanger) > input:focus ~ svg {
	fill: var(--aon-color-ink-high-contrast);
}

/** DISABLED **/

.aonInputUnderlined > input:disabled {
	background: var(--aon-color-bg-low-contrast);
	cursor: not-allowed;
}

.aonInputUnderlined > input:disabled + .aonInputLabel,
.aonInputUnderlined > input:disabled ~ .aonInputHelper{
	color: var(--aon-color-ink-low-contrast);
}

.aonInputUnderlined > input:disabled ~ svg {
	fill: var(--aon-color-ink-low-contrast);
}


/** DANGER **/

.aonInputUnderlined.aonInputDanger > .aonInputLabel, .aonInputUnderlined.aonInputDanger > .aonInputHelper,
.aonInputFilled.aonInputDanger > .aonInputLabel, .aonInputFilled.aonInputDanger > .aonInputHelper{
	color: var(--aon-color-danger);
}

.aonInputDanger > svg {
	fill: var(--aon-color-danger);
}

.aonInputDanger > input {
	border-color: var(--aon-color-danger);
}

.aonInputUnderlined > input {
	background: var(--aon-color-bg-high-contrast);
}
.aonInputFilled > input {
	background: var(--aon-color-bg-low-contrast);
}


.aonInputListOptions {
	display: block;
	background: #fff;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	overflow: visible;
	width: 0;
	max-height: 200px;
	visibility: hidden;
	z-index: -1;
}

.aonInputListOptions.is-visible {
	z-index: 999;
	visibility: visible;
	width: 100%;
	padding: 1px;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.aonInputListOptionsUl {
	max-height: 197px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.aonInputListOptionsItem {
	/* height: 30px; */
	line-height: 25px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	width: 100%;
}

.aonInputListOptionsItem:hover {
	 background-color: #f1f1f1;
}

.aonInputIconLabel {
	position: absolute;
	top: 10px;
	right: 0px;
	margin-bottom:0px;
}
