.centerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow{
    display: flex ;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexJustifyCenter{
    justify-content: center;
}

.flexJustifyStart{
    justify-content: flex-start;
}

.flexJustifyEnd{
    justify-content: flex-end;
}

.flexJustifyBetween{
    justify-content: space-between;
}

.flexJustifyAround{
    justify-content: space-around;
}

.flexAlignCenter{
    align-items: center;
}

.materialButton:hover{
    border-radius:  50px !important;
}

.noCopy, .noCopy * {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.noScrollbar::-webkit-scrollbar {
    width: 0px; 
    display: none;
    background: transparent; 
}


.noFocus:focus{
    outline: none;
}
