.rss-respuesta {
	width: 320px;
	border: 1px solid #005d8c;
}

.rss-respuesta h2 {
	background-color: #005d8c;
	color: white;
	margin: 0;
	padding: 2px 5px;
	box-shadow: 0px 0px 2px #292929;
}

.caja_rss_respuestas {
	overflow: auto;
}

.rss_respuesta {
	margin-bottom: 5px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

.rss_respuesta:nth-child(even) {
	background-color: #f4f3f5;
}

.rss_respuesta a {
	text-decoration: none;
	color: #005d8c;
}