/* div.google-visualization-tooltip {
  white-space: nowrap !important;
  height: 10px !important;
  border-radius: 10px !important;
  border: 1px solid #435279;
  padding: 10px;
  color: #3d4f61;
} */
