<app-grid-layout>
  <div content class="padding" *ngIf="!showMenu">
    <!-- Facturación -->
    <div class="box facturacion">
      <div class="header">
        <div class="line"></div>
        <div class="text">{{ "BILLING.BILLING" | translate }}</div>
      </div>
      <div class="data">
        <div id="charts-billing">
          <div class="chart" *ngFor="let chartItem of chartItems">
            <app-chart-dashboard
              [name]="chartItem.name"
              [typeDate]="chartItem.typeDate"
              (click)="
                selectedTab = chartItem.select;
                selectedMenu = 1;
                showMenu = true
              "
            ></app-chart-dashboard>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin facturación -->

    <!-- Tesoreria -->
    <div class="box tesoreria">
      <div class="header">
        <div class="line"></div>
        <div class="text">{{ "BILLING.TREASURY" | translate }}</div>
      </div>
      <div class="data">
        <div class="chart">
          <app-card-bank
            (click)="selectedTab = 4; selectedMenu = 2; showMenu = true"
          ></app-card-bank>
        </div>
      </div>
    </div>
    <!-- Fin Tesoreria -->
  </div>
  <!--SIDENAV-->
  <div nav *ngIf="showMenu">
    <!--List -->
    <div class="header-submenu" (click)="selectedMenu = 1; selectedTab = 1">
      <div class="line blue"></div>
      <div class="text">
        {{ "BILLING.BILLING" | translate }}
      </div>
    </div>
    <app-list-element
      class="blue"
      [class]="selectedMenu === 1 ? 'activated' : 'no-activated'"
    >
      <div menu>
        <li [ngClass]="{ select: selectedTab === 1 }" (click)="selectedTab = 1">
          <app-icon shape="trending_up"></app-icon>
          {{ "BILLING.SALES" | translate }}
        </li>
        <li [ngClass]="{ select: selectedTab === 2 }" (click)="selectedTab = 2">
          <app-icon shape="trending_down"></app-icon>
          {{ "BILLING.BILLS" | translate }}
        </li>
        <li [ngClass]="{ select: selectedTab === 3 }" (click)="selectedTab = 3">
          <app-icon class="blue" shape="assignment"></app-icon>
          {{ "BILLING.REPORTS" | translate }}
        </li>
      </div>
    </app-list-element>
    <div class="header-submenu" (click)="selectedMenu = 2; selectedTab = 4">
      <div class="line blue"></div>
      <div class="text">{{ "BILLING.TREASURY" | translate }}</div>
    </div>
    <app-list-element
      class="blue"
      [class]="selectedMenu === 2 ? 'activated' : 'no-activated'"
    >
      <div menu>
        <li [ngClass]="{ select: selectedTab === 4 }" (click)="selectedTab = 4">
          <app-icon class="blue" shape="account_balance"></app-icon>
          {{ "BILLING.BANKS" | translate }}
        </li>
      </div>
    </app-list-element>
    <!--FIN List -->
  </div>
  <!--FIN SIDENAV-->

  <!--CONTENIDO-->
  <div content *ngIf="showMenu">
    <!-- VENTAS -->
    <ng-container *ngIf="selectedTab == 1">
      <app-grid-layout>
        <div header class="menu">
          <div class="margin width-40">
            <app-input
              [appearance]="'outline'"
              [class]="'search'"
              [type]="'search'"
              [placeholder]="'INBOX.TEXT' | translate"
            ></app-input>
          </div>
          <div class="buttons">
            <app-button
              *ngFor="let button of buttonsVentas"
              class="icon-border"
              (click)="openModal(button.modal)"
            >
              <app-icon [shape]="button.shape"></app-icon>
            </app-button>
          </div>
        </div>
        <div content>
          <app-tabs [tabs]="tabs" [tabColor]="'blue'">
            <div tool>
              <app-button class="blue" (click)="selectedTab = 5">
                <app-icon shape="add"></app-icon>
                {{ "BILLING.CREATE_SALES_INVOICE" | translate }}
              </app-button>
            </div>
            <div content class="padding">
              <div id="upload">
                <app-file-upload-button (click)="uploadDocument($event)">
                  {{ "COMMON.FILE_UPLOAD_BUTTON" | translate }}
                  <app-icon shape="cloud_upload" class="margin-left"></app-icon>
                </app-file-upload-button>
              </div>
              <div>
                <app-sales-table
                  (selectedSales)="showSales($event)"
                ></app-sales-table>
              </div>
            </div>
          </app-tabs>
        </div>
      </app-grid-layout>
    </ng-container>
    <!-- FIN VENTAS -->

    <!-- GASTOS -->
    <ng-container *ngIf="selectedTab == 2">
      <app-grid-layout>
        <div header class="menu">
          <div class="margin width-40">
            <app-input
              [appearance]="'outline'"
              [class]="'search'"
              [type]="'search'"
              [placeholder]="'INBOX.TEXT' | translate"
            ></app-input>
          </div>
          <div class="buttons">
            <app-button
              *ngFor="let button of buttonsGastos"
              class="icon-border"
            >
              <app-icon [shape]="button.shape"></app-icon>
            </app-button>
          </div>
        </div>
        <div content>
          <app-tabs [tabs]="tabs" [tabColor]="'blue'">
            <div tool>
              <app-button class="blue button" (click)="selectedTab = 6">
                <app-icon shape="add"></app-icon>
                {{ "BILLING.CREATE_BILLS_INVOICE" | translate }}
              </app-button>
            </div>
            <div content class="padding">
              <div id="upload">
                <app-file-upload-button (click)="uploadDocument($event)">
                  {{ "COMMON.FILE_UPLOAD_BUTTON" | translate }}
                  <app-icon shape="cloud_upload" class="margin-left"></app-icon>
                </app-file-upload-button>
              </div>
              <app-bills-table></app-bills-table>
            </div>
          </app-tabs>
        </div>
      </app-grid-layout>
    </ng-container>
    <!-- FIN GASTOS -->

    <!-- INFORMES -->
    <ng-container class="padding" *ngIf="selectedTab == 3">
      <div class="padding">
        <p class="text">Resultados 2023</p>
        <div id="charts">
          <div class="chart" *ngFor="let chartItem of chartReports">
            <app-chart-dashboard-reports
              [name]="chartItem.name"
              [typeDate]="chartItem.typeDate"
            ></app-chart-dashboard-reports>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- FIN INFORMES -->

    <!-- BANCOS -->
    <ng-container *ngIf="selectedTab == 4">
      <div class="banks padding">
        <!-- Añadir un banco -->
        <div class="add-bank" *ngIf="!addBank" (click)="addBank = true">
          <app-icon class="blue icono" shape="account_balance"></app-icon>
          <p class="title">{{ "BILLING.ADD_BANK" | translate }}</p>
          <p>
            {{ 'HOME.CONNECT_AON'|translate }}
          </p>
        </div>
        <div class="add-bank-true" *ngIf="addBank">
          <app-icon
            class="blue button"
            shape="add"
            (click)="addBank = false"
          ></app-icon>
          <!-- Formulario añadir banco -->
          <div class="form">
            <app-input
              [appearance]="'outline'"
              [label]="'IBAN'"
              [class]="'text'"
              [type]="'text'"
              [placeholder]="'BILLING.IBAN_PLACEHOLDER' | translate"
            ></app-input>
            <app-input
              [appearance]="'outline'"
              [label]="'BILLING.DESCRIPTION' | translate"
              [class]="'text'"
              [type]="'text'"
              [placeholder]="'BILLING.DESCRIPTION_PLACEHOLDER' | translate"
            ></app-input>
            <app-input
              [appearance]="'outline'"
              [label]="'BIC SWIFT'"
              [class]="'text'"
              [type]="'text'"
              [placeholder]="'BILLING.SWIFT_PLACEHOLDER' | translate"
            ></app-input>
            <!-- Fin formulario añadir banco -->
          </div>
        </div>
        <!-- Fin añadir banco -->
        <!-- Listado de bancos -->
        <div *ngFor="let bank of banksView">
          <div
            class="bank"
            *ngIf="!editBank[bank.id]"
            (click)="selectedTab = 9"
          >
            <div class="buttons">
              <!-- Icono de sincronización -->
              <app-icon
                *ngIf="bank.sync === 'sync'"
                class="griss"
                shape="autorenew"
              ></app-icon>
              <app-icon
                *ngIf="bank.sync === 'syncProblem'"
                class="griss"
                shape="sync_problem"
              ></app-icon>
              <app-icon
                *ngIf="bank.sync === 'syncLost'"
                class="griss"
                shape="sync_disabled"
              ></app-icon>
              <!-- Fin de icono de sincronización -->
              <app-icon
                class="griss"
                shape="edit"
                (click)="editar(bank.id)"
              ></app-icon>
            </div>
            <app-icon class="blue" shape="account_balance"></app-icon>
            <p class="name-bank">{{ bank.name }}</p>
            <div class="money">
              <p class="balance">{{ "BILLING.BALANCE" | translate }}</p>
              <p>{{ bank.balance }} €</p>
            </div>
            <div class="iban">
              <p>{{ bank.iban }}</p>
            </div>
            <div class="footer">
              <p>{{ "BILLING.LAST_UPDATE" | translate }}</p>
              <p>{{ bank.date }}</p>
            </div>
          </div>
          <!-- Edición del banco -->
          <div class="bank" *ngIf="editBank[bank.id]">
            <div class="buttons">
              <app-icon
                *ngIf="bank.sync === 'sync'"
                class="griss"
                shape="autorenew"
              ></app-icon>
              <app-icon
                *ngIf="bank.sync === 'syncProblem'"
                class="griss"
                shape="sync_problem"
              ></app-icon>
              <app-icon
                *ngIf="bank.sync === 'syncLost'"
                class="griss"
                shape="sync_disabled"
              ></app-icon>
              <app-icon
                class="griss"
                shape="done"
                (click)="guardar(bank.id)"
              ></app-icon>
            </div>
            <div class="form">
              <app-input
                [appearance]="'outline'"
                [label]="'IBAN'"
                [class]="'text'"
                [type]="'text'"
                [value]="bank.iban"
                [placeholder]="'BILLING.IBAN_PLACEHOLDER' | translate"
              ></app-input>
              <app-input
                [appearance]="'outline'"
                [label]="'BILLING.DESCRIPTION' | translate"
                [class]="'text'"
                [type]="'text'"
                [value]="bank.name"
                [placeholder]="'BILLING.DESCRIPTION_PLACEHOLDER' | translate"
              ></app-input>
              <app-input
                [appearance]="'outline'"
                [label]="'BIC SWIFT'"
                [class]="'text'"
                [type]="'text'"
                [value]="bank.swift"
                [placeholder]="'BILLING.SWIFT_PLACEHOLDER' | translate"
              ></app-input>
            </div>
          </div>
          <!-- Fin de edición de banco -->
        </div>
        <!-- Fin listado de bancos -->
      </div>
    </ng-container>
    <!-- FIN BANCOS -->

    <!-- CREAR FACTURA VENTA-->
    <ng-container *ngIf="selectedTab == 5">
      <app-factura (atras)="atrasVenta()" [titulo]="'Factura de venta'" ></app-factura>
    </ng-container>
    <!-- FIN CREAR FACTURA VENTA -->

    <!-- CREAR FACTURA GASTO -->
    <ng-container *ngIf="selectedTab == 6">
      <app-factura (atras)="atrasGasto()" [titulo]="'Factura de gasto'" ></app-factura>
    </ng-container>
    <!-- FIN CREAR FACTURA GASTO -->

    <!-- VER FACTURA -->
    <ng-container *ngIf="selectedTab == 7">
      <app-factura (atras)="atrasVenta()" [titulo]="'Factura 8123123912841'" ></app-factura>
    </ng-container>
    <!-- FIN VER FACTURA -->

    <!-- EDITAR FACTURA -->
    <ng-container *ngIf="selectedTab == 8">
      <app-factura (atras)="atrasVenta()" [titulo]="'Factura 8123123912841'" ></app-factura>
    </ng-container>
    <!-- FIN EDITAR FACTURA -->

    <!-- VER BANCO -->
    <ng-container *ngIf="selectedTab == 9">
      <div class="view-bank">
        <app-grid-layout>
          <div header class="header">
            <div class="left">
              <app-icon
                class="griss"
                shape="arrow_back"
                (click)="atras()"
              ></app-icon>
              <p class="title">Caixabank</p>
            </div>
            <div class="right">
              <p class="griss">Ult. actualización 12/12/2020</p>
              <app-button class="button">
                <app-icon class="blue" shape="sync_disabled"></app-icon>
                &nbsp;&nbsp; Desconectar banco
              </app-button>
            </div>
          </div>
          <div content>
            <div class="filter-container padding">
              <div class="searchbar">
                <app-input
                  [appearance]="'outline'"
                  [class]="'search'"
                  [type]="'search'"
                  [placeholder]="'INBOX.TEXT' | translate"
                ></app-input>
              </div>
              <app-input
                [appearance]="'outline'"
                [class]="'date'"
                [type]="'date'"
                [placeholder]="'INBOX.TEXT' | translate"
              ></app-input>
            </div>
            <div class="padding">
              <app-bank-table></app-bank-table>
            </div>
          </div>
        </app-grid-layout>
      </div>
    </ng-container>
    <!-- FIN VER BANCO -->
  </div>

  <!-- MODALES -->
  <app-modal-controller #modal> </app-modal-controller>
  <!-- FIN MODALES -->

  <!--FIN CONTENIDO-->
</app-grid-layout>
