body {
	background-color:${bgcolor_color_de_fondo};
	background-image: url(images/${img_imagen_de_fondo}) repeat-x scroll left top;
	font-family: ${font_fuente} ;
	font-size: ${size_tamano_de_fuente};
	font-style: normal;
	color: ${color_texto};
	text-indent: 5px;
	height:450px;
	margin:0 auto;
	text-align:left;
	width:750px;
	text-decoration: none;
	}
dd{
	margin-left:-4px;
	}
.fButtons{
	margin-left:-4px;
	}
#header{
	background-repeat: no-repeat;
	width: 750px;
	text-decoration: none;
	color:${color_cabecera_color_de_texto};
	background-color:${bgcolor_color_de_fondo_cabecera};
	background-image: url(images/${img_imagen_fondo_cabecera});	
	}
#header img {
	float:right;
	text-decoration: none;
	/*padding:20px;*/
	}
#header .inicio{
	padding-left: 700px;
	line-height:15px;
	color:${color_cabecera_color_de_texto};
	background-color:${bgcolor_cabecera_color_fondo_inicio};
	text-decoration: none;
 
	}
#header .inicio{
	color:${color_cabecera_color_de_texto};
	text-decoration: none;
	}
#header .inicio a {
	font-family: ${font_fuente} ;
	font-size: ${size_tamano_de_fuente};
	text-decoration: none;
	color: ${color_cabecera_color_de_texto};
	padding-right:5px;
	font-variant: small-caps;	
	}
.menu{
	clear:both;
	overflow:auto;
	width: 750px;
	background-repeat: repeat-x;
	background-position: left top; 
	background-color:${bgcolor_color_de_fondo_menu};
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: ${color_color_bordes};
	text-decoration:none;
	}
.menu ul{

	}
.menu li{
	display:inline;
	border-right:${color_color_bordes} 1px solid;
	padding:2px;
	
	

float:left;

	}
.menu li a{
	text-decoration: none;
	color:#f70e76;
	text-transform:uppercase;
	font-size:${size_tamano_de_fuente};
	font-weight: bold;
	margin-left:10px;
	margin-right:10px;
	}
.menu ul a:link {
	font-family: ${font_fuente} ;
	font-size: ${size_tamano_de_fuente};
	color: ${color_texto_menu};
	}
.menu ul a:visited {
	font-family:${font_fuente};
	font-size: ${size_tamano_de_fuente};
	color: ${color_texto_menu};
	}
.menu ul a:hover {
	font-family: ${font_fuente} ;
	font-size: ${size_tamano_de_fuente};
	color:${color_texto_menu_hover};
	}
#ft{
	overflow:auto;
	height:60px; 
	width:750px;
	line-height:12px;
	color: ${color_texto};
	padding-top: 4px; 
	background-color:${bgcolor_color_de_fondo};
	background-repeat: repeat-x;
	background-position: left top;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: ${color_color_bordes};
	text-align: center;
	font-size: 9px;
	}
a, img, a:hover, a:visited{
	text-decoration:none;
	}
.content-text{
	color:${color_texto}; 
	font-family:${font_fuente}; 
	font-size:${size_tamano_de_fuente};
	background-color:${bgcolor_color_de_fondo_contenido};
	padding-bottom:15px;
	padding:6px 15px 0px;
	padding:20px;
	min-height:410px;
	}
.box{
	text-align:center; 
	padding-top:10px;
	float:left;
	}
#body-content{
	text-align:left; 
	padding-top:20px; 
	background-color:${bgcolor_color_de_fondo};
	}
.texto{
	text-align:right;
	}
.infoHelp{
	font-size:9px; 
	padding:15px;
	margin-top:20px;
	background-color:#dddddd;
	margin-left:255px;
	text-align:justify;
	}
.element.style {
	background-color:#DDDDDD;
	margin-left:150px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	}
.gallery-navigation{
	text-align:center;}
.bold{
	text-align:right;
	margin-left:350px;
	}
.album-block{ 
	text-align:center;}
.formulario{
	margin-left:45px;
	float: left;
	margin-top:27px;
	}
.Formpedidos{
	width: 150px;
	float: left;
	}
#formpedidos{
	margin:150px;
	}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
h1{
	margin-top:20px;
	font-family: ${font_fuente} ;
	font-size: 18px;
	color:${color_color_titulo};
	padding-left:20px ;
	font-weight: bold;
	text-align: center;
	}
	td img{
	padding:20px;}