.search-results {
  height: 20rem;
  overflow: auto;
}

.tedi-badge-icon {
  right: 40px;
  position: absolute;
}

.aon-sublist-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  color: rgba(0,0,0,.54);
  display: block;
  padding: 0;
}

.aon-nav-list {
  padding-top: 0px !important;
}

.aon-list-item-0 {
  background-color: #f1f1f1;
}

.aon-list-item-1 {
  background-color: #fff;
}

.aon-right20 {
  position:absolute;
  right:20px;
}
