<div *ngFor="let registryEnterprise of registryEnterprises">
  <div class="form">
    <app-input
      (inputValue)="getValue($event, registryEnterprise, 'Description')"
      [type]="'text'"
      [label]="'PROFILE.DESCRIPTION' | translate"
      [placeholder]="'PROFILE.DESCRIPTION' | translate"
      [value]="registryEnterprise.Description"
    ></app-input>
  </div>

  <div class="form">
    <app-input
      (inputValue)="getValue($event, registryEnterprise, 'DateCreation')"
      [label]="'PROFILE.DATE_OF_CREATION' | translate"
      [type]="'date'"
      [value]="registryEnterprise.DateCreation"
    ></app-input>
    <app-input
      (inputValue)="getValue($event, registryEnterprise, 'DateRegistration')"
      [label]="'PROFILE.REGISTRATION_DATE' | translate"
      [type]="'date'"
      [value]="registryEnterprise.DateRegistration"
    ></app-input>
  </div>

  <div class="form">
    <app-input
      (inputValue)="getValue($event, registryEnterprise, 'Notary')"
      [type]="'text'"
      [label]="'PROFILE.NOTARY' | translate"
      [placeholder]="'PROFILE.NOTARY' | translate"
      [value]="registryEnterprise.Notary"
    ></app-input>
  </div>

  <div class="form">
    <app-input
      (inputValue)="getValue($event, registryEnterprise, 'Protocol')"
      [type]="'text'"
      [label]="'PROFILE.PROTOCOL' | translate"
      [placeholder]="'PROFILE.PROTOCOL' | translate"
      [value]="registryEnterprise.Protocol"
    ></app-input>
    <app-input
      (inputValue)="getValue($event, registryEnterprise, 'Inscription')"
      [type]="'text'"
      [label]="'PROFILE.REGISTRATION' | translate"
      [placeholder]="'PROFILE.REGISTRATION' | translate"
      [value]="registryEnterprise.Inscription"
    ></app-input>
  </div>
  <form>
    <div tool>
      <app-button
        type="submit"
        [class]="'dark'"
        [width]="'100%'"
        (click)="onSave()"
      >
        {{ "PROFILE.SAVE" | translate }}
      </app-button>
      <app-button
        type="button"
        [class]="'white'"
        [width]="'100%'"
        (click)="onCancel()"
      >
        {{ "PROFILE.CANCEL" | translate }}
      </app-button>
    </div>
  </form>
</div>
