@import "src/styles.scss";

.input-profile-registry-data {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

.input-profile-registry {
  display: flex;
  justify-content: center;
  margin-top:  $margin-top;
  gap: 1rem;
}

.input-profile-registry-date {
  display: flex;
  margin-top:  $margin-top;
  font-size: 0.7rem;
  white-space: nowrap;


}

.input-profile-registry-date-title {
  margin-right:   $margin-right;
}

.input-profile-registry-form{
  display: flex;
  margin-right:  $margin-right;
  padding-left:  $padding-left;
  white-space: nowrap;
}
