<div *ngFor="let registryEnterprise of registryEnterprises" class="form">
  <app-input
    [type]="'text'"
    [label]="'PROFILE.DESCRIPTION' | translate"
    [placeholder]="'PROFILE.PLACEHOLDER' | translate"
    [value]="registryEnterprise.Description"
  ></app-input>
</div>

<div *ngFor="let registryEnterprise of registryEnterprises" class="form">
  <app-input
    [label]="'PROFILE.DATE_OF_CREATION' | translate"
    [type]="'text'"
    [value]="registryEnterprise.DateCreation | date:'dd-MM-yyyy'"
  ></app-input>
  <app-input
    [label]="'PROFILE.REGISTRATION_DATE' | translate"
    [type]="'text'"
    [value]="registryEnterprise.DateRegistration | date:'dd-MM-yyyy'"
  ></app-input>
</div>

<div *ngFor="let registryEnterprise of registryEnterprises" class="form">
  <app-input
    [type]="'text'"
    [label]="'PROFILE.NOTARY' | translate"
    [placeholder]="'PROFILE.PLACEHOLDER' | translate"
    [value]="registryEnterprise.Notary"
  ></app-input>
</div>

<div *ngFor="let registryEnterprise of registryEnterprises" class="form">
  <app-input
    [type]="'text'"
    [label]="'PROFILE.PROTOCOL' | translate"
    [placeholder]="'PROFILE.PLACEHOLDER' | translate"
    [value]="registryEnterprise.Protocol"
  ></app-input>
  <app-input
    [type]="'text'"
    [label]="'PROFILE.REGISTRATION' | translate"
    [placeholder]="'PROFILE.PLACEHOLDER' | translate"
    [value]="registryEnterprise.Inscription"
  ></app-input>
</div>
