<div class="input-profile-registry-data">
  <app-input
    [type]="'text'"
    [label]="'Descripción'"
    [placeholder]="'Placeholder'"
  ></app-input>
</div>

<div class="input-profile-registry-date">
  <div class="input-profile-registry-form">
  <p class="input-profile-registry-date-title">Fecha de creación</p>
  <app-input [type]="'date'"  [width]="'100%'"
  ></app-input>
</div>
  <p class="input-profile-registry-date-title">Fecha de registro</p>
  <app-input [type]="'date'" [width]="'100%'" ></app-input>
</div>

<div class="input-profile-registry">
  <app-input [type]="'text'" [label]="'Notario'" [placeholder]="'Placeholder'">
  </app-input>
</div>

<div class="input-profile-registry">
  <app-input
    [type]="'text'"
    [label]="'Protocolo'"
    [placeholder]="'Placeholder'"
  ></app-input>
  <app-input
    [type]="'text'"
    [label]="'Inscripción'"
    [placeholder]="'Placeholder'"
  ></app-input>
</div>
