<div id="foot">
	<div class="copiesferalia"><br> $!company_name 
$esc.html($!address.getFullAddress()) $esc.html($!address.getZip()) $esc.html($!address.getCity()) $esc.html($!address.getGeozone().getName()) 
$!phone <a href="mailto:$!email">$!email</a></br>

<!--<br>Desarrollado con aon Solutions<sup>&reg;</sup>
/InfoWEB, marca registrada de <a target="_blank" href="http://www.esferalia.com/">ESFERALIA NETWORKS S.A.
</a></br>-->
</div></div>

