.aon-logo{
  position: absolute;
  margin: 10px;
  top: 14px;
  cursor: pointer;
}

.aon-parent-logo {
  position: absolute;
  left: 140px;
  top: 0;
  margin: 10px;
  height: 60px;
  cursor: pointer;
}

.aon-company-logo {
  margin-top: 10px;
  margin-right: 10px;
}

.aon-toolbar{
  background-color: #fff;
  padding:0px !important;
  margin:0px !important;
  border-bottom: 1px solid #ddd;
  color: #5f6368;
  height: 80px;
}

.aon-mobile-toolbar{
  background-color: #fff;
  padding:0px !important;
  margin:0px !important;
  border-bottom: 1px solid #ddd;
  color: #5f6368;
  height: 100px;
}

.aon-right20 {
  position:absolute;
  right:20px;
}

.aon-right60 {
  position:absolute;
  right:60px;
}

.aon-right100 {
  right:100px;
}

.aon-right140 {
  right:140px;
}

.aon-toolbar-first-button {
  position:absolute;
  top: 0px;
}

.aon-toolbar-second-button {
    position:absolute;
    top: 40px;
}

.aon-toolbar-mobile-search {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #ddd;
}

.aon-home {
  position: absolute;
  top: 50px;
  left: 0px;
  color: gray;
}

.aon-company-name{
  position: absolute;
  right:140px;
  top:45px;
  padding:5px;
  font-weight: 700;
  font-size: 12px;
}

.aon-mobile-company-name{
  position: absolute;
  top: 60px;
  padding:10px;
  font-weight: 700;
  font-size: 12px;
}

.aon-company-background{
  padding-left: 10px;
  color: gray;
}

.aon-border-bottom {
  border-bottom: 1px solid #ddd;
}

.aon-user-dialog-backdrop {
  background: rgba(0,0,0,1);
}

.aon-user-dialog-panel {
  padding: 0px !important;
}

.aon-show-menu-button {
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  -moz-border-radius: 100px 0 0 100px;
  -webkit-border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
  right: 0px
}

.aon-toolbar-logo{
  height: 50px;
}
