<mat-toolbar *ngIf="!isMobile()" class="aon-toolbar" >
  <span>
    <img *ngIf="isParent()" class="aon-logo" (click)="home()" [src]="logo"  width="240px" />
    <img *ngIf="!isParent()" class="aon-logo" (click)="home()" [src]="logoCompany"  width="135px" />
    <img *ngIf="!isParent()" class="aon-parent-logo" (click)="home()" [src]="getCompanyParentLogo()"/>
  </span>

  <span *ngIf="isMobile() && mobileSearching">
    <aon-icon-button icon="arrow_back" (click)="closeSearch()"></aon-icon-button>
  </span>

  <span *ngIf="isMobile() && mobileSearching">
    <app-mobile-search-box> </app-mobile-search-box>
  </span>


  <span *ngIf="!isMobile() && !mobileSearching" class="aon-company-logo aon-toolbar-first-button aon-right140">
    <img *ngIf="!isMobile() && !isParent()" height="40px" (click)="home()" [src]="getCompanyLogo()" />
  </span>

  <span *ngIf="isParent()" [ngClass]="{'aon-border-bottom' : searching }" class="aon-toolbar-first-button aon-right100">
    <aon-icon-button icon="search" (click)="search()"></aon-icon-button>
    <aon-search-box *ngIf="searching"> </aon-search-box>
  </span>

  <span *ngIf="!isParent() && !mobileSearching" class="aon-toolbar-first-button aon-right100">
    <aon-icon-button icon="business" (click)="company()" title="Selección de Empresa"></aon-icon-button>
  </span>

  <span *ngIf="isParent() && !mobileSearching" class="aon-toolbar-first-button aon-right60">
    <aon-icon-button icon="apps" (click)="apps()" title="Aplicaciones"></aon-icon-button>
  </span>

  <span *ngIf="!isParent()" class="aon-toolbar-first-button aon-right60" >
    <aon-icon-button icon="help_outline" (click)="help()"></aon-icon-button>
  </span>

  <span *ngIf="!mobileSearching" class="aon-toolbar-first-button aon-right20" >
    <aon-icon-button icon="account_circle" (click)="openDialog()" [title]="getUserEmail()"></aon-icon-button>
  </span>

  <span class="aon-company-name">
    <span>{{getCompanyName()}}</span>
  </span>
  <span *ngIf="!isParent()" class="aon-toolbar-second-button aon-right100" >
    <aon-icon-button icon="home" outline="true" (click)="home()"></aon-icon-button>
  </span>

  <span id="showMenuButton" *ngIf="!isParent()" class="aon-show-menu-button" style="padding-right: 20px;">
    <aon-icon-button [icon]="showMenuIcon" (click)="showMenu()"></aon-icon-button>
  </span>
</mat-toolbar>

<mat-toolbar *ngIf="isMobile()" class="aon-toolbar" [ngStyle]="{height: isParent() ? '80px' : '100px' }" >
  <span *ngIf="searching">
    <aon-icon-button icon="arrow_back" (click)="search()"></aon-icon-button>
  </span>
  <span *ngIf="!searching">
    <aon-icon-button icon="menu" (click)="showMenu()"></aon-icon-button>
  </span>
  <span class="aon-toolbar-logo">
    <img *ngIf="!searching" style="cursor: pointer;margin-top: 10px;margin-left: 10px;" (click)="home()" [src]="logoMobile"  height="30px" />
  </span>
  <span *ngIf="isParent()" class="aon-right20" [ngClass]="{'aon-border-bottom' : searching }">
    <aon-icon-button  *ngIf="!searching" icon="search" (click)="search()"></aon-icon-button>
    <aon-search-box  *ngIf="searching"> </aon-search-box>
  </span>
  <span *ngIf="!isParent()" class="aon-right20">
    <aon-icon-button icon="business" (click)="company()" title="Selección de Empresa"></aon-icon-button>
  </span>

  <span class="aon-mobile-company-name">
    <span>{{getCompanyName()}}</span>
  </span>


</mat-toolbar>
