<mat-toolbar class="tedi-toolbar">
  <span>
    <img *ngIf="!isMobile()" class="aon-logo" style="cursor: pointer;" (click)="home()" [src]="logo"  width="240px" />
    <img *ngIf="isMobile() && !mobileSearching" style="cursor: pointer;margin-top: 10px;margin-left: 10px;" (click)="home()" [src]="logoMobile"  height="30px" />
  </span>

  <span *ngIf="!isMobile()" class="search-panel">
    <app-search-box> </app-search-box>
  </span>

  <span *ngIf="isMobile() && mobileSearching">
    <button mat-icon-button (click)="closeSearch()"><mat-icon>arrow_back</mat-icon></button>
  </span>

  <span *ngIf="isMobile() && mobileSearching">
    <app-mobile-search-box> </app-mobile-search-box>
  </span>

  <span *ngIf="isMobile() && !mobileSearching" class="tedi-right140">
    <button mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </span>


  <span *ngIf="!mobileSearching" class="tedi-right140">
      <span class="tedi-company-name"> {{getCompanyName()}} </span>
  </span>

  <span *ngIf="!mobileSearching" class="tedi-right100">
    <button mat-icon-button (click)="company()" title="Selección de Empresa">
      <mat-icon>business</mat-icon>
    </button>
  </span>

  <span *ngIf="!mobileSearching" class="tedi-right60">
    <button mat-icon-button [disabled]="isCompanySelected()"  (click)="apps()" title="Aplicaciones">
      <mat-icon>apps</mat-icon>
    </button>
  </span>

  <span *ngIf="!mobileSearching" class="tedi-right20" >
    <button mat-icon-button (click)="openDialog()" [title]="getUserEmail()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </span>
</mat-toolbar>
