<ng-container *ngIf="bodyTable.length > 0; else noModelsTemplate">
  <app-table
    mat-table
    mat-flat-table
    [displayedColumns]="displayedColumns"
    [head]="headerTable"
    [data]="bodyTable"
    (listenParentHandler)="modalClick($event)"
  >
  </app-table>
</ng-container>
<!-- Modales de acciones -->
<app-modal-controller #modalEdit></app-modal-controller>
<app-modal-controller #modalPayment></app-modal-controller>
<app-modal-controller #modalTaxesDetails></app-modal-controller>
<ng-template #noModelsTemplate>
  <div class="no-models padding">{{ models }}</div>
</ng-template>
