<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:aon="http://www.code.es/aon-rich-components"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<aon:dropDownMenu value="#{auditBundle.audit_favorite_module}">
		#foreach($option in ${options})
			${option.getMenuItemXml('favorite_')}
		#end
	</aon:dropDownMenu>

</ui:composition>
