<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:aon="http://www.code.es/aon-rich-components">
#foreach($option in ${options})
	<aon:div styleClass="aon-direct-access-list-element">
		${option.getXml(${preffix})}
	</aon:div>
#end
</ui:composition>
