<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>$!company.getName()</title>
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div id="main">
<!--inicio header-->
		
	#parse ("header.vm")		  	
 
<!--fin header-->


<!--inicio menu-->

	#parse ("menu.vm")		

<!--fin menu-->

<!--inicio content-->
	
	#parse ($content)

<!--fin content-->

<!--inicio foot-->

	#parse ("foot.vm")

<!--fin foot-->
</div>
</body>
</html>