<DIV style="BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 1em; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center">
	<P><STRONG>El mail ha sido enviado correctamente.</STRONG></P>
	<P>Gracias por su colaboración.</P>
</DIV>