<span *ngIf="this.menuItem[0].root == true" [matMenuTriggerFor]="menu">
</span>
<a mat-menu-item [matMenuTriggerFor]="menu" *ngIf="this.submenu.text != ''" [routerLink]="submenu.routerlink">
    <app-icon *ngIf="submenu.icon != undefined" [attr.shape]="submenu.icon" [size]="'1.2rem'" [attr.color]="submenu.colorIcon"></app-icon>
    <ng-container *ngIf="submenu.icon != undefined">&nbsp;&nbsp;</ng-container>
    <span>{{submenu.text}}</span>
</a>
<mat-menu #menu="matMenu">
    <ng-container *ngFor="let item of menuItem">
        <ng-container *ngIf="item.children != null">
            <app-dropdown-menu [submenu]="item" [menuItem]="item.children"></app-dropdown-menu>
        </ng-container>
        <a mat-menu-item *ngIf="item.children == null" [routerLink]="item.routerlink" (click)="item.value != undefined ? sendValue(item.value) : sendValue(0)">
            <app-icon *ngIf="item.icon != undefined" [attr.shape]="item.icon" [size]="'1.2rem'" [attr.color]="item.colorIcon"></app-icon>
            <ng-container *ngIf="item.icon != undefined">&nbsp;&nbsp;</ng-container>
            <span>{{item.text}}</span>
        </a>
    </ng-container>
</mat-menu>