<div id="header-wrapper">
	<div id="header">
		<div id="header-content">
			#if ($logo)
				<a href="index.html" title="Inicio">	
					<img src="images/$!logo" border="0px">
				</a>
			#end
		</div>	
	</div>
</div>		