package com.esferalia.aon.payroll.ctsql2mysql;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.Statement;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.math.BigDecimal;

/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

/**
* AbstractCtsqlDB
* 
*/
public class AbstractCtsqlDB {
	
	

	private Connection ctsqlConnection;


	public AbstractCtsqlDB( Connection ctsqlConnection) {
		this.ctsqlConnection = ctsqlConnection;
	}

#foreach($table in $tables)
	
	/**
	 * $table
	 * $table.remarks
	 */
	public class $table {
		
		private ResultSet rs;
		
		private String suffix;
		
		private $table (ResultSet rs) 
		throws SQLException {
			this(rs, "");
		}
		
		private $table (ResultSet rs, String suffix) 
		throws SQLException {
			this.rs =rs;
			this.suffix = suffix;
#foreach ($child in $table.childs)
			init${child.table}Stmt();
#end			
		}
		
		@Override
		protected void finalize() throws Throwable {
#foreach ($child in $table.childs)
			close${child.table}Stmt();
#end
			super.finalize();
		}
		

#foreach ($column in $table.columns)
		/**
		 * $column.remarks
		 * @return the column '${column.name}' value; if the value is SQL NULL, the value returned is null
		 * @throws SQLException
		 */
		public ${column.javaClass} get${column}()
		throws SQLException {
#if ($column.javaClass.equals("Integer"))
			return rs.getInt("${column.name}"+suffix );
#else
			return rs.get${column.javaClass}("${column.name}"+suffix);
#end
		}
#end

#foreach ($parent in $table.parents)
		
		private ${parent.table} ${parent.name}; 
		
		/**
		 * @throws SQLException
		 */
		public ${parent.table} get${parent}()
		throws SQLException {
			if ( this.${parent.name} == null )
				this.${parent.name} = new ${parent.table}(rs, "${velocityCount}");
			return this.${parent.name};
		}
#end

#foreach ($child in $table.childs)
		
		private PreparedStatement ${child.table}Stmt;
		
		private void init${child.table}Stmt() 
		throws SQLException{
			${child.table}Stmt = ctsqlConnection.prepareStatement(
					"SELECT *"
					+ " FROM ${child.table.name}"
					+ " WHERE" 
#foreach ($col in $child.fkColumns) 
					+ " $col.name = ?  " #if( $velocityHasNext ) + "AND" #end  
#end
				); 
		}
		
		private void close${child.table}Stmt() 
		throws SQLException{
			${child.table}Stmt.close();
		}


		public void visit${child.table}(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
			ResultSet 			rs 	= null;
			boolean				resume 	= true;
	
			try {
				
#foreach ($col in $child.pkColumns)
#if ($col.javaClass.equals("Integer"))
				this.${child.table}Stmt.setInt($velocityCount, this.get${col}() ); 
#else
				this.${child.table}Stmt.set${col.javaClass}($velocityCount, this.get${col}() ); 
#end
#end
				rs = this.${child.table}Stmt.executeQuery();
				${child.table} ${child.table.name} = new ${child.table}(rs); 
				while ( resume && rs.next() ) {
					resume = ctsqlDBVisitor.visit${child.table}(${child.table.name}, this);
				}
			}
			finally {
				if ( rs != null )
					rs.close();
			}
		}
#end

		
	}
	
#end

#foreach($table in $tables)

	public void visit$table(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
		ResultSet rs 	= null;
		Statement stmt 	= null;
		boolean	resume 	= true;

		try {
			
			stmt = ctsqlConnection.createStatement();
			rs = stmt.executeQuery("SELECT ${table.name}.*"
#set($parentIndex = 1)
#foreach ($parent in $table.parents )
#foreach ($column in $parent.table.columns)
				+ ",${parent.name}.${column.name} ${column.name}${parentIndex}"
#end
#set($parentIndex = $parentIndex + 1)
#end
				+ " FROM ${table.name}"
#foreach ($parent in $table.parents )
				+ ",OUTER ${parent.table.name} ${parent.name}" 
#end
#set($fkIndex = 0 )
#foreach ($parent in $table.parents )
#set($fkColIndex = 0 )
#set($pkColumns = $parent.getPkColumns() )
#foreach ($fkColumn in $parent.fkColumns )
#set ($pkColumn = $pkColumns.get($fkColIndex))
				+ " #if( $fkIndex  == 0 )WHERE#{else}AND#{end} ${table.name}.${fkColumn.name}=${parent.name}.${pkColumn.name} " 
#set($fkColIndex = $fkColIndex+1 )
#set($fkIndex = $fkIndex +1 )
#end
#end
				);
			$table $table.name = new $table(rs); 
			while ( resume && rs.next() ) {
				resume = ctsqlDBVisitor.visit$table($table.name);
			}
		}
		finally {
			if ( rs != null )
				rs.close();
			if ( stmt != null )
				stmt.close();
		}
	}


#end






}		
	
	
