			<div id="content">
			<table cellpadding="10" cellspacing="5" border="0">
<tr>
	<td valign="top" width="180">
		<p align="justify"><strong>$!company.getName()</strong></p>
		
<br>$!address.getAddress() $!address.getAddress2() $!add.getAddress3()</br> 
	 #if ($address.getZip()&& !$address.getZip().toString().trim().equals(""))
		<br>C.P. $!address.getZip()</br>
	 #end

	 #if ($address.getCity()&& !$address.getCity().toString().trim().equals(""))
		<br>$!address.getCity()</br>
	 #end

	 #if ($address.getGeozone().getName()&& !$address.getGeozone().getName().toString().trim().equals(""))
		<br>( $!address.getGeozone().getName() )</br>
	 #end

	 #if ($phone && !$phone.toString().trim().equals(""))
		<br>Tel: $!phone</br>
	 #end

	 #if ($fax && !$fax.toString().trim().equals(""))
		<br>Fax: $!fax</br>
	 #end

	<div class="title">
			$!title
	</div>
	<p>
			$!text


		</p>
	#if ($schedule && !$schedule.toString().trim().equals(""))
		<div class="title">
			Horario
		</div>
		<p>
			$!schedule

		</p>
	#end
	</td>
	<td valign="top">
	<h1>$!slogan</h1>
	<p>$!description</p>
	</td>
</tr>
</table>
	
	</div>