<app-grid-layout>
  <!-- encabezado con boton dar de alta -->
  <div header class="padding fit-button">
    <app-button
      class="icon-background "
      [width]="'width'"
      (click)= "changeTabIndex(3)"
      *ngIf="tabIndex !== 3"
    >
      <app-icon shape="person_add"></app-icon>
      {{ "EMPLOYEE_PANEL.TO_REGISTER" | translate }}
    </app-button>
  </div>
  <!-- fin encabezado -->
  <div content>
    <ng-container>
      <!-- buscador -->
      <div class="padding-top padding-right padding-left" *ngIf="tabIndex !== 3">
        <div class="width-40">
          <app-input
            [appearance]="'outline'"
            [class]="'search'"
            [type]="'search'"
            [placeholder]="'INBOX.TEXT' | translate"
            [value]="search"
            (inputValue)="searchContract((search = $event))"
          ></app-input>
        </div>
      </div>
      <!-- fin buscador -->
      <!-- tablas tabs -->
      <app-tabs
        [tabs]="tabs"
        [tabColor]="'green'"
        [tabIndex]="tabIndex"
        (changeTabIndex)="changeTabIndex($event)"
        *ngIf="tabIndex !== 3"
      >
        <div tool>
          <div class="buttons">
            <app-button
              *ngFor="let button of buttonsGastos"
              class="icon-border"
            >
              <app-icon [shape]="button.shape"></app-icon>
            </app-button>
          </div>
        </div>

        <div content class="padding" *ngIf="this.tabIndex == 0">
          <app-spinner *ngIf="spinner"></app-spinner>
          <app-table
            *ngIf="bodyTable.length > 0; else noModelsTemplate"
            mat-table
            mat-flat-table
            [displayedColumns]="displayedColumns"
            [head]="headerTable"
            [data]="bodyTable"
            (listenParentRow)="rowClick($event)"
          >
          </app-table>
          <ng-template #noModelsTemplate>
            <div class="no-models padding">{{ contracts }}</div>
          </ng-template>
        </div>

        <div content class="padding" *ngIf="this.tabIndex == 1">
          <app-spinner *ngIf="spinner"></app-spinner>
          <app-table
            *ngIf="bodyTable.length > 0; else noModelsTemplate"
            mat-table
            mat-flat-table
            [displayedColumns]="displayedColumns"
            [head]="headerTable"
            [data]="bodyTable"
            (listenParentRow)="rowClick1($event)"
          >
          </app-table>
          <ng-template #noModelsTemplate>
            <div class="no-models padding">{{ contracts }}</div>
          </ng-template>
        </div>
      </app-tabs>
    </ng-container>

    <!-- ALTA EMPLEADO-->
    <ng-container *ngIf="tabIndex == 3">
      <app-create-new-contract
      (changeTabIndex)="changeTabIndex($event)"></app-create-new-contract>
    </ng-container>
    <!-- FIN ALTA EMPLEADO -->

  </div>
  <!-- fin contenido -->

  <!-- mostrar detalles contratos vigentes-->
  <div detail *ngIf="showDetail">
    <div class="employee-detail padding">
      <div class="employee-detail-header">
        <div class="employee-detail-title">
          <app-icon class="griss button" (click)="closeDetail()" shape="arrow_back"></app-icon>
          <div class="title-contract">
            {{ "EMPLOYEE_PANEL.CURRENT_CONTRACT" | translate }}
          </div>
        </div>
        <div class="employee-detail-edit">
          <app-icon class="griss button" shape="edit"></app-icon>
        </div>
      </div>

      <div class="info-contract border padding ">
        <div class="info-status info-line">
          <div class="info-main-title">
            {{ dataBody[0].employee }}
          </div>
          <div class="info-data">EN LINEA</div>
        </div>

        <div class="info-line">
          <div class="info-title">
            {{ "EMPLOYEE_PANEL.ID_NUMBER" | translate }}
          </div>
          <div class="info-data">12345678-D</div>
        </div>
        <div class="info-line">
          <div class="info-title">{{ "PROFILE.EMAIL" | translate }}</div>
          <div class="info-data">prueba@gmail.com</div>
        </div>
        <div class="info-line separacion">
          <div class="info-title">{{ "PROFILE.PHONE" | translate }}</div>
          <div class="info-data ">600000000</div>
        </div>

        <div class="info-title-timing">{{ "HOME.TIMING" | translate }}</div>

        <div class="contenedor-principal">
          <div class="contenedor-izq">
            <div class="entrada">
              <div class="titulo">Entrada</div>
              <div class="hora">
                <app-icon class="green button titulo-icon" shape="input"></app-icon>
                07:00:22
              </div>
              <div class="fecha">fecha</div>
            </div>

            <div class="salida">
              <div class="titulo">Salida</div>
              <div class="hora">
                <app-icon class="red button titulo-icon" shape="input"></app-icon>
                07:00:22
              </div>
              <div class="fecha">fecha</div>
            </div>
          </div>

          <div class="contenedor-derecha">
            <div class="titulo titulo-margin">Total</div>
            <div class="hora"> 07:00:22</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mostrar detalles contratos extinguidos-->
  <div detail *ngIf="showDetail1">
    <div class="employee-detail padding">
      <div class="employee-detail-header">
        <div class="employee-detail-title">
          <app-icon class="griss button" (click)="closeDetail1()" shape="arrow_back"></app-icon>
          <div class="title-contract">
            {{ "EMPLOYEE_PANEL.EXPIRED_CONTRACT" | translate }}
          </div>
        </div>
      </div>

      <div class="info-contract border padding">
        <div class="info-status info-line">
          <div class="info-main-title">
            {{ dataBody[0].employee }}
          </div>
          <div class="info-data">INACTIVO</div>
        </div>

        <div class="info-line">
          <div class="info-title">
            {{ "EMPLOYEE_PANEL.ID_NUMBER" | translate }}
          </div>
          <div class="info-data">12345678-D</div>
        </div>
        <div class="info-line">
          <div class="info-title">{{ "PROFILE.EMAIL" | translate }}</div>
          <div class="info-data">prueba@gmail.com</div>
        </div>
        <div class="info-line">
          <div class="info-title">{{ "PROFILE.PHONE" | translate }}</div>
          <div class="info-data">600000000</div>
        </div>
      </div>
    </div>
  </div>
</app-grid-layout>
