@import "src/styles.scss";

::ng-deep{

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: $margin-right;
    gap: $margin;
    color: black !important;
  }
  .no-models{
    display:flex;
    justify-content: center;
  }
}
