@import "src/styles.scss";

::ng-deep {
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: $margin-right;
    gap: $margin;
    color: black !important;
  }
  .no-models {
    display: flex;
    justify-content: center;
  }

  .register-employee {
    hr {
      margin: 0 !important;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrow {
        display: flex;
        gap: $margin;

        .button {
          cursor: pointer;
        }
      }
    }
  }
  .title {
    display:flex;
    font-family: "Roboto-Medium";
    padding: $padding;
    align-items: center;

  }

  hr{
    margin-top: 0 !important;
  }

  .structure-form{
    width: 100%;
  }

  app-input {
    width: 100%;
  }
}
