<app-grid-layout>
  <!-- encabezado con boton dar de alta -->
  <div header class="padding">
    <app-button
      class="icon-background"
      [width]="'width'"
      (click)="selectedTab = 3"
      *ngIf="selectedTab !== 3"
    >
      <app-icon shape="person_add"></app-icon>
      {{ "EMPLOYEE_PANEL.TO_REGISTER" | translate }}
    </app-button>
  </div>
  <!-- fin encabezado -->
  <div content>
    <ng-container *ngIf="selectedTab == 0">
    <!-- buscador -->
    <div class="padding-top padding-right padding-left">
      <div class="width-40">
        <app-input
          [appearance]="'outline'"
          [class]="'search'"
          [type]="'search'"
          [placeholder]="'INBOX.TEXT' | translate"
          [value]="search"
          (inputValue)="searchContract((search = $event))"
        ></app-input>
      </div>
    </div>
    <!-- fin buscador -->
    <!-- tablas tabs -->
    <app-tabs
      [tabs]="tabs"
      [tabColor]="'green'"
    >
      <div tool>
        <div class="buttons">
          <app-button *ngFor="let button of buttonsGastos" class="icon-border">
            <app-icon [shape]="button.shape"></app-icon>
          </app-button>
        </div>
      </div>

      <div content class="padding" (click)="selectedTab = 0">
        <app-spinner *ngIf="spinner"></app-spinner>
        <app-table
          *ngIf="bodyTable.length > 0; else noModelsTemplate"
          mat-table
          mat-flat-table
          [displayedColumns]="displayedColumns"
          [head]="headerTable"
          [data]="bodyTable"
          (listenParentRow)="rowClick($event)"
        >
        </app-table>
        <ng-template #noModelsTemplate>
          <div class="no-models padding">{{ contracts }}</div>
        </ng-template>
      </div>
<!--
      <div content class="padding"(click)="selectedTab = 1">
        <app-spinner *ngIf="spinner"></app-spinner>
        <app-table
          *ngIf="bodyTable.length > 0; else noModelsTemplate"
          mat-table
          mat-flat-table
          [displayedColumns]="displayedColumns"
          [head]="headerTable"
          [data]="bodyTable"
        >
        </app-table>
        <ng-template #noModelsTemplate>
          <div class="no-models padding">{{ contracts }}</div>
        </ng-template>
      </div> -->
    </app-tabs>
  </ng-container>
   <!-- ALTA EMPLEADO-->
 <ng-container *ngIf="selectedTab == 3">
  <app-create-new-contract></app-create-new-contract>
</ng-container>
<!-- FIN ALTA EMPLEADO -->
  </div>
<!-- fin contenido -->


<!-- mostrar detalles -->
<div detail *ngIf="showDetail">
<div class="padding">
<p class="">{{ dataBody[0].employee }}</p>
{{ dataBody[0].type }}

</div>
</div>




</app-grid-layout>
