/* You can add global styles to this file, and also import other style files */
@import "../libraries/setproduct-ui/set-theming";

/* $roboto-font-path: "~roboto-fontface/fonts" !default; */
// @import "~roboto-fontface/css/roboto/sass/roboto-fontface";

// Predefined breakpoints sizes
$XSmall : 599.98px;
$Small  : 959.98px;
$Medium : 1279.98px;
$Large  : 1919.98px;
$XLarge : 1920px;

  // Header
  $header-height  : 3.265rem;

  // menu
  $menu-width-close : 3.5rem;
  $menu-width-open  : 12.6rem;

// Font-size
  // default is 20px
  $font-size-4k       : 30px;
  $font-size-2k       : 23px;
  $font-size-fullHD   : 20px;
  $font-size-default  : 20px;
  $font-size-800      : 14px;

  $font-size-primary    : 0.8rem;
  $font-size-head       : 1.7rem;
  $font-size-head-span  : 1rem;
  $font-size-24         : 1.2rem; // 24px
  $font-size-42         : 2.1rem; // 42px
  // button
    $font-size-button       : 0.7rem;
  // Input
    $font-size-input-label  : 0.7rem;

// Colors
$color-primary    : #19191d;
$color-secondary  : #787885;
$color-third      : #5a5b6a;
$color-quarter    : #fff;
$color-icon       : #b4b4bb;
$color-placeholder: #9696a0;
  /* Dark */
    $color-dark         : #292a31;
  /* Red */
    $color-red          : #f6655a;
  /* Blue */
    $color-blue         : #4f91ff;
  /* Pink */
    $color-pink         : #ef6292;
  /* Purple */
    $color-purple       : #7985cb;
  /* Green */
    $color-green        : #33a9a9;
  /* Orange */
    $color-orange       : #fb982e;
    $color-orange-light : #fddcb9;

// Shadow
$box-shadow: 0 0.1rem 0.2rem 0 #d2d2d6, 0 0.1rem 0.2rem 0 #b4b4bb !important;

// Colors Border
$color-border-primary   : #d2d2d6;
$color-border-secondary : #787885;

// Border
$border-size-primary: 0.05rem;
$border-size-error  : 0.1rem;
$border             : solid $border-size-primary $color-border-primary;
$border-radius      : 0.2rem;

// margin
  // 20px
  $margin       : 1rem;
  $margin-top   : 1rem;
  $margin-left  : 1rem;
  $margin-right : 1rem;
  $margin-bottom: 1rem;

  $margin-head       : 2rem;
  $margin-head-top   : 2rem;
  $margin-head-left  : 2rem;
  $margin-head-right : 2rem;
  $margin-head-bottom: 2rem;

// padding
  // 20px
  $padding       : 1rem;
  $padding-top   : 1rem;
  $padding-left  : 1rem;
  $padding-right : 1rem;
  $padding-bottom: 1rem;

// Buton
$top-button-icon: -0.075rem;
$right-button-icon: 0.5rem;
$left-button-icon: 0.5rem;
$bottom-button-icon: 0.5rem;

  $margin-button-icon             : 0.5rem;
  $margin-button-icon-top         : 0.5rem;
  $margin-button-icon-left        : 0.5rem;
  $margin-button-icon-right       : 0.5rem;
  $margin-button-icon-bottom      : 0.5rem;
  /* Primary */
    $background-button-primary        : #fff;
    $background-button-hover          : #f0f0f1;
    $background-button-hover-rgba     : rgba(240, 240, 241, 0);
    $background-button-hover-view-rgba: rgba(240, 240, 241, 1);
    $border-button                    : solid $border-size-primary $color-border-primary ;
    $border-button-radius             : 0.2rem;
  /* Dark */
    $background-button-dark         : #19191d;
    $background-button-dark-hover   : #292a31;
    $border-button-dark             : solid $border-size-primary $color-border-secondary;
  /* Red */
    $background-button-red          : $color-red;
    $background-button-red-hover    : #f8877f;
    $background-button-red-hover2   : #feedec;
    $border-button-red              : solid $border-size-primary $background-button-red;
  /* Blue */
    $background-button-blue         : $color-blue;
    $background-button-blue-hover   : #76a9ff;
    $background-button-blue-hover2  : #ebf2ff;
    $border-button-blue             : solid $border-size-primary $background-button-blue;
  /* Pink */
    $background-button-pink         : $color-pink;
    $background-button-pink-hover   : #f285aa;
    $background-button-pink-hover2  : #fdedf2;
    $border-button-pink             : solid $border-size-primary $background-button-pink;
  /* Purple */
    $background-button-purple       : $color-purple;
    $background-button-purple-hover : #97a0d6;
    $background-button-purple-hover2: #f0f1f9;
    $border-button-purple           : solid $border-size-primary $background-button-purple;
  /* Green */
    $background-button-green        : $color-green;
    $background-button-green-hover  : #60bcbc;
    $background-button-green-hover2 : #e8f5f5;
    $border-button-green            : solid $border-size-primary $background-button-green;
  /* Orange */
    $background-button-orange       : $color-orange;
    $background-button-orange-hover : #fcaf5c;
    $background-button-orange-hover2: #fef3e7;
    $border-button-orange           : solid $border-size-primary $background-button-orange;

/*
  FONT
*/
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url(assets/fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url(assets/fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: "Roboto-Italic";
  src: url(assets/fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(assets/fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url(assets/fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(assets/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url(assets/fonts/Roboto/Roboto-ThinItalic.ttf);
}

/*
  General
*/
* {
  font-family : "Roboto";
  color       : $color-primary;
  font-size   : $font-size-primary;
  caret-color : $color-primary !important;
}

html {
  @media screen and (min-width: 3800px) {
    font-size: $font-size-4k !important;
    /*background: yellow;*/
  }
  @media screen and (min-width: 2501px) and (max-width: 3800px) {
    font-size: $font-size-2k !important;
    /*background: green;*/
  }
  @media screen and (min-width: 1600px) and (max-width: 2500px) {
    font-size: $font-size-fullHD !important;
    /*background: blue;*/
  }
  @media screen and (min-width: 800px) and (max-width: 1599px) {
    font-size: $font-size-default !important;
    /*background: purple;*/
  }
  @media screen and (max-width: 799px) {
    font-size: $font-size-800 !important;
    /*background: orange;*/
    .form{
      display: grid!important;
      gap: 1rem;
    }
  }
}

.allSize {
  width : 100%;
  height: 100%;
}

/*
  width percentage
*/
  .width-10{
    width: 10%;
  }
  .width-20{
    width: 20%;
  }
  .width-30{
    width: 30%;
  }
  .width-40{
    width: 40%;
  }
  .width-50{
    width: 50%;
  }
  .width-60{
    width: 60%;
  }
  .width-70{
    width: 70%;
  }
  .width-80{
    width: 80%;
  }
  .width-90{
    width: 90%;
  }
  .width-100{
    width: 100%;
  }

/*
  Link
*/
  a,
  u {
    text-decoration: none;
  }

  a:visited,
  a:visited {
    color: $color-primary;
  }

/*
  Font size
*/
  .bold{
    font-family : 'Roboto-bold';
  }

/*
  Grid aling in top
*/
  .position-top-col .mat-figure{
    position: static!important;
    display: unset!important;
  }

  .griss set-icon path{
    color: $color-secondary;
  }

  .left-content figure{
    justify-content: left !important;
  }

/*
  Color text
*/
  .dark{
    color: $color-dark;
  }
  .griss{
    color: $color-secondary;
  }
  .red{
    color: $color-red;
  }
  .blue{
    color: $color-blue;
  }
  .orange{
    color: $color-orange;
  }
  .green{
    color: $color-green;
  }
  .pink{
    color: $color-pink;
  }
  .purple{
    color: $color-purple;
  }

/*
  Text background
*/
  .background-text-griss,
  .background-text-griss-light,
  .background-text-red,
  .background-text-red-light,
  .background-text-blue,
  .background-text-orange,
  .background-text-orange-light,
  .background-text-green,
  .background-text-pink,
  .background-text-purple{
    padding         : 0.375rem 0.5rem;
    border-radius   : $border-radius;
  }
  .background-text-griss{
    background: $color-secondary;
  }
  .background-text-griss-light{
    background: #f0f0f1;
  }
  .background-text-red{
    background: $color-red;
  }
  .background-text-red-light{
    background: #fddcda;
  }
  .background-text-blue{
    background: $color-blue;
  }
  .background-text-orange{
    background: $color-orange;
  }
  .background-text-orange-light{
    background-color: #fddcb9;
  }
  .background-text-green{
    background: $color-green;
  }
  .background-text-pink{
    background: $color-pink;
  }
  .background-text-purple{
    background: $color-purple;
  }
/*
  Margin
*/
  .margin{
    margin: $margin;
  }
  .margin-top{
    margin-top: $margin-top;
  }
  .margin-left{
    margin-left: $margin-left;
  }
  .margin-right{
    margin-right: $margin-right;
  }
  .margin-bottom{
    margin-bottom: $margin-bottom;
  }
  .margin{
    margin: $margin;
  }
  .margin-top-2{
    margin-top: $margin-top * 2;
  }
  .margin-left-2{
    margin-left: $margin-left * 2;
  }
  .margin-right-2{
    margin-right: $margin-right * 2;
  }
  .margin-bottom-2{
    margin-bottom: $margin-bottom * 2;
  }
/*
  Padding
*/
  .padding{
    padding: $padding;
  }
  .padding-top{
    padding-top: $padding-top;
  }
  .padding-left{
    padding-left: $padding-left;
  }
  .padding-right{
    padding-right: $padding-right;
  }
  .padding-bottom{
    padding-bottom: $padding-bottom;
  }
  .padding{
    padding: $padding;
  }
  .padding-top-2{
    padding-top: $padding-top * 2;
  }
  .padding-left-2{
    padding-left: $padding-left * 2;
  }
  .padding-right-2{
    padding-right: $padding-right * 2;
  }
  .padding-bottom-2{
    padding-bottom: $padding-bottom * 2;
  }
/*
  Form
*/
  .form{
    display       : flex;
    gap           : 1rem;
    padding       : 0 $padding*2 $padding $padding*2;
  }
  .form:first-of-type{
    padding-top: $padding*2;
  }
/*
  Hr
*/
  hr{
    border    : $border;
    border-top: none;
    margin    : $margin;
  }
