/* You can add global styles to this file, and also import other style files */
@import '../libraries/setproduct-ui/set-theming';

$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

// Predefined breakpoints sizes
$XSmall: 599.98px;
$Small: 959.98px;
$Medium: 1279.98px;
$Large: 1919.98px;
$XLarge: 1920px;

// Colors
$col-black-light: #4a4b57;
$col-black: #19191d;
$col-gray-light: #d2d2d6;
$col-gray: #b4b4bb;
$col-white: #fff;



html {
   font-size: 20px!important;
}

.allSize {
   width: calc(100%);
   height: calc(100%);
}

a, u {
  text-decoration: none;
}

a:visited {
  color: black;
}
