<div>
  <mat-nav-list style="padding-top:0px;">
    <mat-list-item *ngIf="sheet && isPending()" (click)="accept()">
      <mat-icon mat-list-icon>check</mat-icon>
      <span> Aceptar Factura </span>
    </mat-list-item>
    <mat-list-item *ngIf="sheet && isVerified()" (click)="revise()">
      <mat-icon mat-list-icon>360</mat-icon>
      <span> Marcar como pendiente</span>
    </mat-list-item>
    <mat-list-item *ngIf="sheet && (isVerified() || isPending())" (click)="refuse()">
      <mat-icon mat-list-icon>reply</mat-icon>
      <span> Rechazar Factura </span>
    </mat-list-item>
    <mat-list-item *ngIf="sheet && (isAccepted() || isTrash() || isRefused())" (click)="revise()">
      <mat-icon mat-list-icon>360</mat-icon>
      <span> Restaurar Factura </span>
    </mat-list-item>

    <mat-list-item *ngIf="isMultipleTrash() || isMultipleRefused()" (click)="reviseMultiple()">
      <mat-icon mat-list-icon>360</mat-icon>
      <span> Restaurar Facturas </span>
    </mat-list-item>

    <mat-list-item *ngIf="sheet && !isTrash() && !isRefused()">
      <input #fileInput style="display:none;" type="file" name="file" id="file"(change)="preview()" />
      <label for="file" style="cursor: pointer;">
        <mat-icon mat-list-icon>attach_file</mat-icon>
        <span> Adjuntar Fichero </span>
      </label>
    </mat-list-item>
    <mat-list-item *ngIf="sheet && !isTrash() && !isRefused()" (click)="print()">
      <mat-icon mat-list-icon>print</mat-icon>
      <span> Imprimir Factura </span>
    </mat-list-item>
    <mat-list-item *ngIf="(sheet && !isTrash() && !isRefused()) || (multiple && !isMultipleTrash() && !isMultipleRefused())" (click)="send()">
      <mat-icon mat-list-icon>mail</mat-icon>
      <span> Enviar Facturas </span>
    </mat-list-item>
    <mat-list-item *ngIf="multiple" (click)="excel()">
      <mat-icon mat-list-icon svgIcon="excel"></mat-icon>
      <span> Descargar Excel </span>
    </mat-list-item>

    <mat-list-item *ngIf="sheet && !isTrash() && !isRefused()" (click)="comment()">
      <mat-icon mat-list-icon> comment </mat-icon>
      <span> Añadir Comentario </span>
    </mat-list-item>

    <mat-list-item *ngIf="multiple && !isMultipleTrash()" (click)="delete()">
      <mat-icon mat-list-icon>delete</mat-icon>
      <span> Enviar a papelera </span>
    </mat-list-item>

    <mat-list-item *ngIf="isMultipleTrash()" (click)="delete()">
      <mat-icon mat-list-icon>delete_sweep</mat-icon>
      <span> Borrar Definitivamente </span>
    </mat-list-item>

    <mat-list-item *ngIf="sheet && !isTrash()" (click)="delete()">
      <mat-icon mat-list-icon>delete</mat-icon>
      <span> Enviar a papelera </span>
    </mat-list-item>

    <mat-list-item *ngIf="sheet && isTrash() " (click)="delete()">
      <mat-icon mat-list-icon>delete_sweep</mat-icon>
      <span> Borrar Definitivamente </span>
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item *ngIf="aon" (click)="aonc()">
      <mat-icon mat-list-icon svgIcon="aon"></mat-icon>
      <span> Exportar Aon</span>
    </mat-list-item>

  </mat-nav-list>
</div>
