
<div class="container">
  <h3 class="title">
    Editar Tipo
  </h3>
  <div>
    <mat-form-field class="tedi-width-all" >
      <mat-select placeholder="Tipo" [(ngModel)]="type">
        <mat-option value="EMITIDA"> Emitida </mat-option>
        <mat-option value="RECIBIDA"> Recibida </mat-option>
        <mat-option value="TICKET"> Ticket </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div  mat-dialog-actions >
    <button mat-raised-button (click)="accept()">Aceptar</button>
  </div>
</div>
