@import 'src/styles.scss';

.contTitleEnterprise {
  width: 100%;
}

.titleAuth{
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin-bottom : $margin-head-bottom;
}

.titleAuth div{
  font-size     : $font-size-head;
  font-weight   : bold;
  margin-bottom : $margin-bottom;
}

.titleAuth span{
  font-size   : $font-size-head-span;
  color       : $color-secondary;
}

.contTitleSelectEnterprise {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.itemEnterprise {
  align-items: center;
  border-radius: 4px;
  border: solid 1px $color-border-primary;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 36.8px;
  justify-content: flex-start;
  margin: 1rem;
  padding:  16px 2rem;
}
