@import 'src/styles.scss';

.contTitleEnterprise {
  width: 100%;
}

.titleAuth{
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin-bottom : $margin-head-bottom;
}

.titleAuth div{
  font-family   : 'Roboto-Bold';
  font-size     : $font-size-head;
  margin-bottom : $margin-bottom;
}

.titleAuth span {
  font-size   : $font-size-head-span;
  color       : $color-secondary;
}

/*
  Select enterprise
*/
  #itemEnterprise {
    border        : $border;
    border-radius : $border-radius;
    height        : 16.5rem;
    overflow-y    : auto;
    position      : relative;
  }

  #itemEnterprise div div {
    flex-direction: row;
    display       : flex;
    gap           : 36.8px;
    padding       : $padding;
    justify-content: flex-start;
    align-items   : center;
    cursor        : pointer;
    font-size     : $font-size-24;
    margin        : $margin;
    border-radius : $border-radius;
    border        : $border;
  }

  #itemEnterprise caption {
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
    font-family   : 'Roboto-Bold';
    font-size     : $font-size-24;
  }

  #itemEnterprise span {
    color         : $color-secondary;
  }
