@import "src/styles.scss";

.title-modal-taxes {
  font-family: "Roboto-Bold";
  font-size: $font-size-24;
  display: flex;
  justify-content: center;
}

.head-text {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.taxes-details {
  display: inline-block;
  font-weight: 400;
  font-size: 0.7rem;
}

.details-devengada {
  display: inline-block;
  border-right: 0.05rem solid #d2d2d6;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.details-deducible {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: $font-size-default;
  font-weight: 500;
}

.text-inside{
  font-weight: 400;
  font-size: 0.8rem;
  color: $color-secondary;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.total-number-inside{
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.number-inside{
  font-weight: 400;
  font-size: 0.8rem;
  color: $color-secondary;
}

.result-modal{
  font-size: $font-size-default;
  font-weight: 400;
  margin-left: 1rem;
  padding-bottom: 1.5rem;
}

.text-inside-taxes-in {
  display: flex;
  justify-content: space-between;
}

.buttons-modal{
  display:flex;
  justify-content: center;
  gap: $margin;
}
