<div>
  <p class="title-modal-taxes">{{ "TAX_PANEL.MODEL" | translate }} {{nameModel}} </p>

  <div class="head-text">
    <div style="display: inline-block">
      <p class="taxes-details">
        {{ "TAX_PANEL.TOTAL_ACCRUED_FEE" | translate }}
      </p>
      <p class="details-devengada"> €</p>
    </div>

    <div style="display: inline-block">
      <p class="taxes-details">
        {{ "TAX_PANEL.TOTAL_DEDUCTIBLE_FEE" | translate }}
      </p>
      <p class="details-deducible"> €</p>
    </div>
  </div>

  <div style="background-color: #f9f9fa; margin: 1rem">
    <div class="text-inside">
      <div class="text-inside-taxes-in">
        <p class="text-inside">
          {{ "TAX_PANEL.FEES_TO_BE_OFFSET" | translate }}
        </p>
        <p class="number-inside"> €</p>
      </div>
      <p class="total-number-inside"> €</p>

      <hr style="color: #d2d2d6; margin-left: 0.5rem" />

      <div class="text-inside-taxes-in">
        <p class="text-inside">
          {{ "TAX_PANEL.TO_DEDUCT_SUPPLEMENTARY_ASSESSMENT" | translate }}
        </p>
        <p class="number-inside"> €</p>
      </div>

      <hr />

    </div>

    <p class="result-modal">
      {{ "TAX_PANEL.LIQUIDATION_RESULT" | translate }}
    </p>
  </div>

  <div class="buttons-modal">
    <!-- <app-button
      style="display: inline-block"
      [mat-dialog-close]="true"
      [class]="'border-orange left'"
    >
      <app-icon shape="aon_excel"></app-icon>
      {{ "TAX_PANEL.DOWNLOAD_EXCEL" | translate }}
    </app-button> -->

    <app-button
      style="display: inline-block"
      [mat-dialog-close]="true"
      [class]="'border-orange left'"
    >
      <app-icon shape="picture_as_pdf"></app-icon>
      {{ "TAX_PANEL.DOWNLOAD_PDF" | translate }}
    </app-button>
  </div>
</div>
