@import 'src/styles.scss';

::ng-deep {

  .list-bank {
    cursor: pointer;
  }

  .list-bank-name {
    color: $color-secondary;
  }

  .list-bank-footer {
    opacity: 0;
    transform: translateY(30%);
    transition: 0.3s ease-in;
  }

  .dashboard:hover .list-bank-footer {
    transform: translateY(0);
    opacity: 1;
  }

  .dashboard:hover .list-bank {
    transform:  translateY(20px);
    transition: 0.3s ease-in;
  }

  .dashboard:not(:hover) .list-bank {
    transition: 0.3s ease-out ;
  }

}

