<div class="container">
  <div>

    <mat-form-field *ngIf="!isCompany" class="tedi-width-50" >
      <input #rdocument matInput tediInitValue placeholder="Documento" [value]="f.rdocument"
        (change)="updateRdocument(rdocument.value)">
    </mat-form-field>

    <mat-form-field *ngIf="!isCompany" class="tedi-width-50" >
      <input #rname matInput tediInitValue placeholder="Razón Social" [value]="f.rname"
        (change)="updateRname(rname.value)">
    </mat-form-field>

    <mat-form-field *ngIf="!isCompany" class="tedi-width-all" >
      <input #reference matInput tediInitValue placeholder="Referencia" [value]="f.reference"
        (change)="updateReference(reference.value)">
    </mat-form-field>

    <mat-form-field *ngIf="!isCompany" class="tedi-form-field tedi-width-50">
      <input #from matInput tediInitValue [matDatepicker]="fromPicker"
        placeholder="Desde" [formControl]="fromControl"
        [errorStateMatcher]="matcher"
        (dateChange)="updateFromDate(from.value)">
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!isCompany" class="tedi-form-field tedi-width-50">
      <input #to matInput tediInitValue [matDatepicker]="toPicker"
        placeholder="Hasta" [formControl]="toControl"
        [errorStateMatcher]="matcher"
        (dateChange)="updateToDate(to.value)">
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!isCompany" class="tedi-form-field tedi-width-50">
      <mat-select placeholder="Estado" [(ngModel)]="f.status">
        <mat-option value="accepted"> Aceptada </mat-option>
        <mat-option value="inbox"> Inbox </mat-option>
        <mat-option value="refused"> Rechazada </mat-option>
        <mat-option value="trash"> En Papelera </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!isCompany" class="tedi-form-field tedi-width-50">
      <mat-select placeholder="Tipo" [(ngModel)]="f.type">
        <mat-option value="EMITIDA"> Emitidas </mat-option>
        <mat-option value="RECIBIDA"> Recibidas </mat-option>
        <mat-option value="TICKET"> Ticket </mat-option>
      </mat-select>
    </mat-form-field>

    <div >
      <button mat-raised-button (click)="search()">Buscar</button>
    </div>
  </div>
</div>
