@use '../variables' as v;

#rootPanel {
  aon-configuration, aon-office-panel{
    aon-new-user{
      aon-card aon-basic-table.table-security table{
        tr {
          vertical-align: middle;
          text-align: center;

          td {
            vertical-align: middle;
            text-align: center;
            width: auto;
            height: auto;
            padding: v.$px-0 v.$padding-min;
            &:first-child{
              width: v.$px-24;
              max-width: v.$px-24;
            }
          }
        }
      }
    }
    aon-comunica-config{
      aon-card  .aonCardContent{
        .flexColumn{
          display: flex;
          flex-direction: column;
          gap: v.$gap;
        }
      }
    }
    aon-news-add{
      .canal-button{
        display: flex;
        align-items: flex-end;
        gap: v.$gap;
        aon-new-select{
          width: v.$pct-100;
        }
      }
    }
    aon-workgroup{
      #aonWorkgroupUsers, #aonWorkgroupListUsers{
        .title{
          display: flex;
          gap: v.$gap;
          padding: v.$padding;
          .description{
            width: v.$pct-100;
          }
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li{
            .aonLiSpan{
              display: flex;
              padding: v.$padding;
              gap: v.$gap-min;
              .aonListText{
                width: v.$pct-100;
              }
              .remove-icon{
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    // no es un componente por lo que veo ahora mismo
    aon-scope-simple-list{
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          .aonLiSpan{
            display: flex;
            padding: v.$padding;
            gap: v.$gap-min;
            .aonListText{
              width: v.$pct-100;
            }
            .remove-icon{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
