@use '../variables' as v;
@use '../base/mixins' as mixin;

#rootPanel {
  aon-documental .aonFlex #aonDocumentalContent{
    width        : v.$pct-100;
    padding      : v.$padding;
    border-radius: v.$border-radius;
  }
}
