@use '../variables' as v;

#rootPanel {
  aon-desktop{
    aon-toolbar{
      display: none;
    }
    .aonFlex .aonContentBeta{
      padding: v.$px-0;
      #cardsPanel{
        display         : flex;
        gap             : v.$gap;
        flex-wrap       : wrap;
        justify-content : center;
        width           : v.$pct-100;
        aon-card{
          flex-grow   : 1;
          flex-shrink : 1;
          flex-basis  : v.$px-400;
          max-width   : v.$px-480;
          .aonCardContent{
            min-height: v.$px-320;
            display   : grid;
            gap       : v.$gap;
          //
          // Control horario
            #timeControlCanvasDiv{
              width: v.$pct-100 !important;
              canvas{
                width   : v.$pct-100 !important;
                height  : v.$pct-100 !important;
                display : block;
              }
            }
            #aonSign{
              display : grid;
              gap     : v.$gap-min;
              #aonSignTime{
                cursor      : default;
                justify-self: center;
              }
              #aonSignContent{
                display : grid;
                gap     : v.$gap-min;
                #lastTimeUser{
                  cursor      : default;
                  justify-self: center;
                }
                #totalHour{
                  cursor: default;
                }
              }
            }
          // FIN Control horario
          //
        }
        //
        // Bancos listado
          aon-bank-card{
            #bankCardTable{
              display: grid;
              gap    : v.$gap-min;
              .bank{
                display: flex;
                justify-content: space-between;
                padding-bottom: v.$padding-min;
                .bank-detail{
                  display: grid;
                  .bank-name{
                    font-family: v.$font-primary-medium;
                  }
                }
                .bank-amount{
                  display: flex;
                  align-items: center;
                  font-family: v.$font-primary-medium;
                }
              }
            }
            .aonCardTotal{
              display: flex;
              justify-content: flex-end;
              padding-top: v.$padding;
              font-family: v.$font-primary-bold;
            }
          }
        // Bancos listado
        //
        }
      }
    }
  }
}
