@use '../variables' as v;
@use '../base/mixins' as mixin;

aon-home{
  width          : v.$pct-100;
  height         : v.$pct-100;
  display        : flex;
  flex-direction : column;
  
  #homeContent{
    display        : flex;
    height         : v.$vh-100;
    flex-direction : row;
  }
}
// Esta fuera para que cargue en las vista JAVA
/* Contenedor que agrupa topnav + contenido */
#rootPanel {
  flex           : 1;
  display        : flex;
  flex-direction : column;
  overflow       : auto;
  margin-top     : v.$menu-top-height; // para que salga el contenido debajo del menu
  padding        : v.$padding;

  &::after {
    content : '';
    display : block;
    height  : v.$pct-100;
  }
  .aonFlex{
    display : flex;
    gap     : v.$gap;

    .aonSidenav:empty{
      display: none;
    }
    .aonRightSidenav{
      &:empty{
        display: none;
      }
      img.aonWelcomeLogo{
        width: 10rem;
      }
    }
  }
}
