@use '../variables' as v;
@use '../base/mixins' as mixin;

aon-new-login{
  width         : 100%;
  height        : 100%;
  display       : flex;
  flex-direction: column;
  #logoContent{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-end;
  }
  #loginContent, #magicLinkContent{
    flex-grow       : 2; /* Hace que este div ocupe el espacio restante */
    overflow        : auto;
    display         : flex;
    align-items     : center;
    justify-content : center;
    .aonLoginForm{
      width        : 25rem;
      height       : fit-content;
      padding      : v.$px-25;
      border-radius: v.$px-6;
      .aonLoginTitle{
        display         : flex;
        justify-content : center;
      }
      .aonLoginFormContent{
        display : grid;
        gap     : v.$px-16;
        .aonDividerSpan{
          display         : flex;
          justify-content : center;
        }
      }
    }
    #logosMobiles{
      display         : none;
      justify-content : center;
      gap             : v.$px-25;
      img {
        width     : 10rem;
        max-width : 100%;
        height    : auto;
        display   : block;
      }
    }
  }
}
// Tablet para abajo
@include mixin.respond("md") {
  aon-new-login{
    #loginContent, #magicLinkContent{
      #logosMobiles{
        display: flex;
      }
    }
  }
}
