@use '../variables' as v;

$size-space        : v.$pct-32;
$min-size-space    : v.$px-300;
$panding-icon-table: calc(v.$input-height / v.$num-4);

#rootPanel {
  aon-invoice-panel{
    #aonInvoiceContent{
    // aon-invoice-home
      &:has(aon-invoice-home) {
        padding: v.$px-0;
      }
      aon-invoice-home{
        #aonInvoiceHomeDashboard{
          display       : flex;
          flex-direction: column;
          gap           : v.$gap;
          #aonInvoiceHomeFastPanel{
            display         : flex;
            flex-wrap       : wrap;
            gap             : v.$gap;
            /*justify-content : center;*/
            aon-dashboard-button{
              width: $size-space;
              min-width: $min-size-space;
            }
          }
          #aonInvoiceHomeCardPanel{
            width           : v.$pct-100;
            display         : flex;
            flex-wrap       : wrap;
            gap             : v.$gap;
            /*justify-content : center;*/
            aon-card{
              width: $size-space;
              min-width: $min-size-space;
              #aonInvoiceHomeInvoiceResumeContent{
                &.aonCardContent .aonInvoiceHomeDiv{
                  display       : flex;
                  flex-direction: column;
                  gap           : v.$gap;
                  >div{
                    display       : flex;
                    flex-direction: column;
                    gap           : v.$gap;
                    .aonInvoiceHomePendingNameRow{
                      font-family: v.$font-primary-semibold;
                    }
                    .aonInvoiceHomePendingCounterRow{
                      display        : flex;
                      padding-bottom : v.$padding-min;
                      gap            : v.$gap;
                      .aonInvoiceHomeOptionDiv{
                        display       : flex;
                        flex          : v.$num-1;
                        flex-direction: column;
                        align-items   : center;
                        padding-bottom: v.$padding-min;
                        gap           : v.$gap-min;
                        cursor        : pointer;
                        >div:first-child{
                          font-family: v.$font-primary-semibold;
                          font-size  : v.$px-40;
                        }
                        >div:last-child{
                          font-size: v.$px-10;
                        }
                        &:hover{
                          border-radius: v.$border-radius;
                        }
                      }
                    }
                    &:last-child{
                      .aonInvoiceHomePendingCounterRow{
                        padding-bottom: v.$px-0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    // FIN - aon-invoice-home
    // aon-invoice 
      aon-invoice{
        #aonInvoiceSheetDataGeneral{
          display: flex;
          aon-card{
            flex: v.$num-1 v.$num-1 v.$pct-50;
          }
        }
        table{
          tr{
            display    : flex;
            align-items: end;
          }
        }
        #irpfTableTable{
          .add-irpf {
            .add-irpf-padding{
              padding-bottom: $panding-icon-table;
            }
          }
        }
        #aonInvoiceTaxTable2Table{
          .invoice-tax{
            td:last-child:has(> aon-icon-button) {
              padding-bottom: $panding-icon-table;
            }
          }
        }
        #aonInvoiceDetailTableTable, #aonInvoiceFinanceTableTable{
          td:has(> aon-icon-button) {
            padding-bottom: $panding-icon-table;
          }
        }
      }
    // FIN - aon-invoice 
    }
  }
}
