@use '../variables' as v;

#rootPanel {
  // aon-booking.js 
  aon-booking{
    .booking-title-group{
      font-family: v.$font-primary-bold;
      font-size: v.$px-16;
      padding-top: v.$padding-min;
    }
    ul{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: v.$px-0;
      margin: v.$padding-min v.$px-0 v.$padding-min v.$px-0;
      border-radius: v.$border-radius;
      box-sizing: border-box;
      li{
        display: flex;
        box-sizing: border-box;
        padding: v.$padding v.$padding-min;
        >span{
          width: v.$pct-100;
        }
        aon-icon, img{
          width: v.$px-24;
          height: v.$px-24;
        }
        span{
          display: flex;
          align-items: center;
          gap: v.$gap-min;
          .aonAppTitle{
            width: v.$pct-70;
            font-family: v.$font-primary-semibold;
            >span{
              font-family: v.$font-primary-regular;
              font-size: v.$px-12;
            }
          }
          &.aonMarketplaceApp-buttons{
            width: v.$pct-30;
            justify-content: flex-end;
          }
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}