@use '../variables' as v;

#rootPanel {
  aon-marketplace-panel{
    background-color: #09e7fc;
    
    // aon-booking.js 
    aon-booking{
      ul{
        background-color: #09e7fc;
        display: flex;
        flex-direction: column;
        gap: v.$px-16;
        li{
          display: flex;
          >span{
            width: v.$pct-100;
          }
          span{
            display: flex;
            align-items: center;
            gap: v.$gap;
            &.aonMarketplaceApp-buttons{
              width: v.$pct-100;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}