  @use '../variables' as v;

#rootPanel {
  aon-messenger{
    aon-messenger-chat{
      .aonSubContent #mainView{
        display: flex;
        gap: v.$gap;
        #firstDiv{
          aon-card{
            .aonCardContent{
              padding: v.$padding-min v.$px-0;
            }
          }
        }
        #secondDiv {
          display: flex;
          flex-direction: column;
          gap: v.$gap;
          position: relative;
          wrapper{
            display: flex;
            flex-direction: column;
            gap: v.$gap;

            chat {
              display: flex;
              flex-direction: column;
              height: v.$vh-50;
    
              &.continueLined::after {
                content: "";
                height: var(--height);
                left: v.$px-25;
                position: absolute;
                top: v.$px-1;
                z-index: -10;
              }
    
              .flexRow {
                display: flex;
                align-items: center;
                gap: v.$gap-min;
              }
    
              .chat-icon {
                display: flex;
              }
    
              > message {
                width: v.$pct-70 !important;
              }
            }
    
            .chat-textarea {
              width: v.$pct-94;
              display: flex;
              flex-direction: column;
              border-radius: v.$border-radius;
            }
          }
          
          .upIcon-downIcon{
            position: absolute;
            right: 0;
            width: v.$pct-5;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            height: v.$pct-100;
            justify-content: flex-end;
            gap: v.$px-48;
          }
        }
      }
    }
  }
}
