@import 'src/styles.scss';

::ng-deep{
  .messageTotal{
  width: 14px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
  background-color: #cbe5cc;
  }
}
