@import 'src/styles.scss';

::ng-deep{
  .messageTotal{
  width: 0.7rem;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: #cbe5cc;
  }
}
