@import "src/styles.scss";

.modal-container {
  margin-top: $margin-top;
  margin-right: $margin-right;
  margin-left: $margin-left;
}

.close-button {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.title-modal-edit {
  font-family: "Roboto-Bold";
  font-size: $font-size-24;
}

.text-modal-edit-tax-model {
  color: $color-secondary;
  font-size: $font-size-primary;
  padding-bottom: $padding-bottom;
}

.container-button {
  display: flex;
  justify-content: flex-end;
}

app-button {
  width: fit-content;
  margin-left: auto;
  padding-top: $padding-top;
}
