<form (ngSubmit)="sendMessage()">
  <div class="modal-container">
    <app-icon
      class="close-button"
      shape="close"
      (click)="closeModal()"
    ></app-icon>

    <p class="title-modal-edit">
      {{ "TAX_PANEL.TO_RECTIFY" | translate }}
    </p>
    <p class="text-modal-edit-tax-model">
      {{ "TAX_PANEL.RECTIFIED_MODEL" | translate }}
    </p>
    <app-input
    (inputValue)="loadAdvisors($event)"
    [type]="'select'"
    [options]="advisorsList"
    [required]="'required'"
    [value]="this.advisors"
    [label]="'INBOX.ASSIGN_TO' | translate"
    >
    </app-input>
    <app-input
      [type]="'textarea'"
      [value]="newMessageDescription"
      [required]="'required'"
      (inputValue)="newMessageDescription = $event"
      [placeholder]="'INBOX.DESCRIPTION' | translate"
      [label]="'INBOX.DESCRIPTION' | translate"
    >
    </app-input>

    <div class="container-button">
      <app-spinner *ngIf="spinner"></app-spinner>
      <app-button
        [class]="'orange left'"
        (click)="sendMessage()"
      >
        <app-icon shape="send"></app-icon>
        {{ "TAX_PANEL.SEND" | translate }}
      </app-button>
    </div>
  </div>
</form>



