<form (ngSubmit)="sendMessage()">
  <div class="modal-container">
    <app-icon
      class="close-button"
      shape="close"
      (click)="closeModal()"
    ></app-icon>

    <p class="title-modal-edit">
      {{ "TAX_PANEL.TO_RECTIFY" | translate }}
    </p>
    <p class="text-modal-edit-tax-model">
      {{ "TAX_PANEL.RECTIFIED_MODEL" | translate }}
    </p>

    <app-input
      [type]="'text'"
      [value]="newMessageDescription"
      (inputValue)="newMessageDescription = $event"
    >
    </app-input>

    <div class="container-button">
      <app-spinner *ngIf="spinner"></app-spinner>
      <app-button
        [class]="'orange left'"
        (click)="sendMessage()"
      >
        <app-icon shape="send"></app-icon>
        {{ "TAX_PANEL.SEND" | translate }}
      </app-button>
    </div>
  </div>
</form>



