@import 'src/styles.scss';

::ng-deep{
  //
  // Buton basic
  //
    .appButton{
      box-sizing      : border-box;
      cursor          : pointer;
      display         : flex;
      align-items     : center;
      text-transform  : uppercase;
      white-space     : nowrap;
      overflow        : hidden;
      text-overflow   : ellipsis;
      margin-bottom   : $margin-bottom;
      font-size       : $font-size-button;
      color           : $color-primary;
      border          : $border-button;
      border-radius   : $border-button-radius;
      background-color: $background-button-primary;
    }
    .appButton:hover{
      background-color: $background-button-hover;
    }

    // Buton icon
      .appButton set-icon{
        margin-right  : $margin-button-icon-right;
        top           : $top-button-icon !important;
      }
      .appButton set-icon path{
        color         : $color-primary;
      }

    // Text aling
      .appButton.left{
        justify-content: left!important;
      }
      .appButton.right{
        justify-content: right!important;
      }
  //
  // Color White
  //
    .appButton.white{
      border          : $border-button-dark;
      background-color: $background-button-primary;
    }
    .appButton.white:hover{
      color           : $color-quarter;
      background-color: $background-button-dark-hover;
    }
      // Buton icon
      .appButton.white:hover set-icon path{
        color         : $color-quarter;
      }
  //
  // Color Dark
  //
    .appButton.dark{
      border          : $border-button;
      color           : $color-quarter;
      background-color: $background-button-dark;
    }
    .appButton.dark:hover{
      background-color: $background-button-dark-hover;
    }
      // Buton icon
      .appButton.dark set-icon path{
        color         : $color-quarter;
      }
      .appButton.dark:hover set-icon path{
        color         : $color-quarter;
      }
  //
  // Color Red
  //
    .appButton.red{
      border          : $border-button-red;
      color           : $color-quarter;
      background-color: $background-button-red;
    }
    .appButton.red:hover{
      background-color: $background-button-red-hover;
    }
      // Buton icon
      .appButton.red set-icon path{
        color         : $color-quarter;
      }
      .appButton.red:hover set-icon path{
        color         : $color-quarter;
      }
    // Boder pink
      .appButton.border-red{
        border          : $border-button-red;
      }
      .appButton.border-red:hover{
        background-color: $background-button-red-hover2;
      }
        // Buton icon
        .appButton.border-red set-icon path{
          color         : $background-button-red;
        }
        .appButton.border-red:hover set-icon path{
          color         : $background-button-red;
        }
  //
  // Color Blue
  //
    .appButton.blue{
      border          : $border-button-blue;
      color           : $color-quarter;
      background-color: $background-button-blue;
    }
    .appButton.blue:hover{
      background-color: $background-button-blue-hover;
    }
      // Buton icon
      .appButton.blue set-icon path{
        color         : $color-quarter;
      }
      .appButton.blue:hover set-icon path{
        color         : $color-quarter;
      }
    // Boder pink
      .appButton.border-blue{
        border          : $border-button-blue;
      }
      .appButton.border-blue:hover{
        background-color: $background-button-blue-hover2;
      }
        // Buton icon
        .appButton.border-blue set-icon path{
          color         : $background-button-blue;
        }
        .appButton.border-blue:hover set-icon path{
          color         : $background-button-blue;
        }
  //
  // Color Pink
  //
    .appButton.pink{
      border          : $border-button-pink;
      color           : $color-quarter;
      background-color: $background-button-pink;
    }
    .appButton.pink:hover{
      background-color: $background-button-pink-hover;
    }
      // Buton icon
      .appButton.pink set-icon path{
        color         : $color-quarter;
      }
      .appButton.pink:hover set-icon path{
        color         : $color-quarter;
      }
    // Boder pink
      .appButton.border-pink{
        border          : $border-button-pink;
      }
      .appButton.border-pink:hover{
        background-color: $background-button-pink-hover2;
      }
        // Buton icon
        .appButton.border-pink set-icon path{
          color         : $background-button-pink;
        }
        .appButton.border-pink:hover set-icon path{
          color         : $background-button-pink;
        }
  //
  // Color Purple
  //
    .appButton.purple{
      border          : $border-button-purple;
      color           : $color-quarter;
      background-color: $background-button-purple;
    }
    .appButton.purple:hover{
      background-color: $background-button-purple-hover;
    }
      // Buton icon
      .appButton.purple set-icon path{
        color         : $color-quarter;
      }
      .appButton.purple:hover set-icon path{
        color         : $color-quarter;
      }
    // Boder purple
      .appButton.border-purple{
        border          : $border-button-purple;
      }
      .appButton.border-purple:hover{
        background-color: $background-button-purple-hover2;
      }
        // Buton icon
        .appButton.border-purple set-icon path{
          color         : $background-button-purple;
        }
        .appButton.border-purple:hover set-icon path{
          color         : $background-button-purple;
        }
  //
  // Color Green
  //
    .appButton.green{
      border          : $border-button-green;
      color           : $color-quarter;
      background-color: $background-button-green;
    }
    .appButton.green:hover{
      background-color: $background-button-green-hover;
    }
      // Buton icon
      .appButton.green set-icon path{
        color         : $color-quarter;
      }
      .appButton.green:hover set-icon path{
        color         : $color-quarter;
      }
    // Boder green
      .appButton.border-green{
        border          : $border-button-green;
      }
      .appButton.border-green:hover{
        background-color: $background-button-green-hover2;
      }
        // Buton icon
        .appButton.border-green set-icon path{
          color         : $background-button-green;
        }
        .appButton.border-green:hover set-icon path{
          color         : $background-button-green;
        }
  //
  // Color Orange
  //
    .appButton.orange{
      border          : $border-button-orange;
      color           : $color-quarter;
      background-color: $background-button-orange;
    }
    .appButton.orange:hover{
      background-color: $background-button-orange-hover;
    }
      // Buton icon
      .appButton.orange set-icon path{
        color         : $color-quarter;
      }
      .appButton.orange:hover set-icon path{
        color         : $color-quarter;
      }
    // Boder orange
      .appButton.border-orange{
        border          : $border-button-orange;
      }
      .appButton.border-orange:hover{
        background-color: $background-button-orange-hover2;
      }
        // Buton icon
        .appButton.border-orange set-icon path{
          color         : $background-button-orange;
        }
        .appButton.border-orange:hover set-icon path{
          color         : $background-button-orange;
        }

  //
  // buton icon with background
  //
    .appButton.icon-background,
    .appButton.icon-background-red,
    .appButton.icon-background-blue,
    .appButton.icon-background-pink,
    .appButton.icon-background-purple,
    .appButton.icon-background-green,
    .appButton.icon-background-orange{
      height          : 3.05rem!important;
    }

    .appButton.icon-background app-icon,
    .appButton.icon-background-red app-icon,
    .appButton.icon-background-blue app-icon,
    .appButton.icon-background-pink app-icon,
    .appButton.icon-background-purple app-icon,
    .appButton.icon-background-green app-icon,
    .appButton.icon-background-orange app-icon{
      display         : flex;
      align-items     : center;
      width           : 1.7rem;
      height          : 2.2rem;
      border-radius   : $border-button-radius;
      padding-left    : $margin-button-icon-left;
      margin-right    : $margin-button-icon-right;
      justify-content : center;
    }

    .appButton.icon-background app-icon:nth-child(2),
    .appButton.icon-background-red app-icon:nth-child(2),
    .appButton.icon-background-blue app-icon:nth-child(2),
    .appButton.icon-background-pink app-icon:nth-child(2),
    .appButton.icon-background-purple app-icon:nth-child(2),
    .appButton.icon-background-green app-icon:nth-child(2),
    .appButton.icon-background-orange app-icon:nth-child(2){
      width           : 1.2;
      height          : 1.2;
      align-items     : right;
      background-color: $background-button-primary;
      margin          : 0
    }

    .appButton.icon-background app-icon:nth-child(2) set-icon,
    .appButton.icon-background-red app-icon:nth-child(2) set-icon,
    .appButton.icon-background-blue app-icon:nth-child(2) set-icon,
    .appButton.icon-background-pink app-icon:nth-child(2) set-icon,
    .appButton.icon-background-purple app-icon:nth-child(2) set-icon,
    .appButton.icon-background-green app-icon:nth-child(2) set-icon,
    .appButton.icon-background-orange app-icon:nth-child(2) set-icon{
      margin          : 0
    }

    .appButton.icon-background app-icon:nth-child(2) path,
    .appButton.icon-background-red app-icon:nth-child(2) path,
    .appButton.icon-background-blue app-icon:nth-child(2) path,
    .appButton.icon-background-pink app-icon:nth-child(2) path,
    .appButton.icon-background-purple app-icon:nth-child(2) path,
    .appButton.icon-background-green app-icon:nth-child(2) path,
    .appButton.icon-background-orange app-icon:nth-child(2) path{
      color: $color-icon;
      margin: 0
    }

    // colors
      .appButton.icon-background app-icon{
        background-color: $background-button-hover;
      }
      .appButton.icon-background:hover app-icon{
        background-color: $background-button-primary;
        opacity: 0.7;
      }
      .appButton.icon-background-red:hover,
      .appButton.icon-background-blue:hover,
      .appButton.icon-background-pink:hover,
      .appButton.icon-background-purple:hover,
      .appButton.icon-background-green:hover,
      .appButton.icon-background-orange:hover{
        background-color: $background-button-primary;
      }

      // red
      .appButton.icon-background-red:hover{
        border: solid $border-size-primary $color-red;
      }
      .appButton.icon-background-red app-icon path{
        color: $color-red;
      }
      .appButton.icon-background-red app-icon{
        background-color: $background-button-red-hover2;
      }
      // blue
      .appButton.icon-background-blue:hover{
        border: solid $border-size-primary $color-blue;
      }
      .appButton.icon-background-blue app-icon path{
        color: $color-blue;
      }
      .appButton.icon-background-blue app-icon{
        background-color: $background-button-blue-hover2;
      }
      // Pink
      .appButton.icon-background-pink:hover{
        border: solid $border-size-primary $color-pink;
      }
      .appButton.icon-background-pink app-icon path{
        color: $color-pink;
      }
      .appButton.icon-background-pink app-icon{
        background-color: $background-button-pink-hover2;
      }
      // purple
      .appButton.icon-background-purple:hover{
        border: solid $border-size-primary $color-purple;
      }
      .appButton.icon-background-purple app-icon path{
        color: $color-purple;
      }
      .appButton.icon-background-purple app-icon{
        background-color: $background-button-purple-hover2;
      }
      // green
      .appButton.icon-background-green:hover{
        border: solid $border-size-primary $color-green;
      }
      .appButton.icon-background-green app-icon path{
        color: $color-green;
      }
      .appButton.icon-background-green app-icon{
        background-color: $background-button-green-hover2;
      }
      // orange
      .appButton.icon-background-orange:hover{
        border: solid $border-size-primary $color-orange;
      }
      .appButton.icon-background-orange app-icon path{
        color: $color-orange;
      }
      .appButton.icon-background-orange app-icon{
        background-color: $background-button-orange-hover2;
      }

  //
  // Buton only icon
  //
    .appButton.icon-only{
      border          : none;
      background-color: $background-button-hover;
      justify-content : center;
      border-radius   : 50rem;
      width           : 2rem!important;
      height          : 2rem!important;
    }
    .appButton.icon-only set-icon{
      margin-right    : 0;
    }

  :host {
    display: flex;
    width: var(--widthHost);
    height: var(--heightHost);
  }
}
