<button class="appButton" appGlobalHover 
[backgroundColor]="hoverBackgroundColor" 
[borderColor]="hoverBorderColor" 
[oldBackgroundColor]="backgroundColor" 
[oldBorderColor]="(border.split(' ')[2] ? border.split(' ')[2] : '')"
[color]="hoverColor"
[oldColor]="color"
[ngStyle]="{
    'width': '100%',
    'height': '100%',
    'backgroundColor': backgroundColor,
    'border': border,
    'color': color,
    'fontSize': fontSize,
    'padding': padding,
    'borderRadius': borderRadius,
    'justifyContent': align
}">
    <ng-content></ng-content>
</button>
