<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:mysql://192.168.2.4:3306/cms?autoReconnect=true</property>		
		<property name="connection.username">dbuser</property>		
		<property name="show_sql">true</property>		
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">serubd2000</property>		

		<!-- Mapping files -->
		<mapping class="com.code.aon.cms.Language"/>
		<mapping class="com.code.aon.cms.Config"/>
		<mapping class="com.code.aon.cms.ConfigDetail"/>
		<mapping class="com.code.aon.cms.GenericPage"/>
		<mapping class="com.code.aon.cms.GenericPageDetail"/>
		<mapping class="com.code.aon.cms.Menu"/>
		<mapping class="com.code.aon.cms.MenuOption"/>
		<mapping class="com.code.aon.cms.MenuOptionDetail"/>
		<mapping class="com.code.aon.cms.Header"/>
		<mapping class="com.code.aon.cms.HeaderDetail"/>
		<mapping class="com.code.aon.cms.Footer"/>
		<mapping class="com.code.aon.cms.FooterDetail"/>
		<mapping class="com.code.aon.cms.Link"/>
		<mapping class="com.code.aon.cms.LinkDetail"/>
		<mapping class="com.code.aon.cms.LinkCategory"/>
		<mapping class="com.code.aon.cms.LinkCategoryDetail"/>
		<mapping class="com.code.aon.cms.Faq"/>
		<mapping class="com.code.aon.cms.FaqDetail"/>
		<mapping class="com.code.aon.cms.FaqCategory"/>
		<mapping class="com.code.aon.cms.FaqCategoryDetail"/>

	</session-factory>

</hibernate-configuration>