<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">true</property>		
		<property name="connection.url">jdbc:mysql://volga:3306/payroll-esferalia-org?autoReconnect=true</property>		
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.password">serubd2000</property>		
		
		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- Mapping files -->
		<mapping class="com.code.aon.employee.Contract"/>
		<mapping class="com.code.aon.employee.ContractBatch"/>
		<mapping class="com.code.aon.employee.ContractBatchDetail"/>
		<mapping class="com.code.aon.employee.ContractCalendarEvent"/>
		<mapping class="com.code.aon.employee.ContractData"/>
		<mapping class="com.code.aon.employee.ContractDeduction"/>
		<mapping class="com.code.aon.employee.ContractEvent"/>
		<mapping class="com.code.aon.employee.ContractPayment"/>
		<mapping class="com.code.aon.employee.ContractType"/>
		<mapping class="com.code.aon.employee.DeductionConcept"/>
		<mapping class="com.code.aon.employee.FunctionConstant"/>
		<mapping class="com.code.aon.employee.PaymentConcept"/>
		<mapping class="com.code.aon.employee.Salary"/>
		<mapping class="com.code.aon.employee.SalaryPayment"/>
		<mapping class="com.code.aon.employee.SalaryDeduction"/>

		<mapping class="com.code.aon.company.Agreement"/>
		<mapping class="com.code.aon.company.AgreementLevel"/>
		<mapping class="com.code.aon.company.AgreementLevelCategory"/>
		<mapping class="com.code.aon.company.AgreementLevelPayment"/>
		<mapping class="com.code.aon.company.CNAE"/>
		<mapping class="com.code.aon.company.Enterprise"/>
		<mapping class="com.code.aon.company.EnterpriseActivity"/>
		<mapping class="com.code.aon.company.EnterpriseCCC"/>
		<mapping class="com.code.aon.company.WorkPlace"/>

		<mapping class="com.code.aon.person.Person"/>	
		
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>		
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>	
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Segment"/>
		
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.CommissionType"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.PayMethodTypeDetail"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.UserWorkGroup"/>
		<mapping class="com.code.aon.config.WorkGroup"/>
		
		<mapping class="com.code.aon.geozone.GeoZone"/>

		<mapping class="com.esferalia.aon.calendar.Calendar"/>
		<mapping class="com.esferalia.aon.calendar.Holiday"/>
	</session-factory>

</hibernate-configuration>