<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
 		<property name="connection.url">jdbc:mysql://dbgps.cdhc46h3yjvt.eu-west-1.rds.amazonaws.com:3306/grupoplayasol-com?autoReconnect=true</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="connection.username">dbuser</property>
		<property name="connection.password">dbpassword</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">false</property>
 
		<!-- C3P0 Stuff -->
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">1900</property>
		<property name="hibernate.c3p0.timeout">3600</property>
		<property name="hibernate.c3p0.max_size">30</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

		<mapping package="com.code.aon.common.dao.hibernate.type"/>

    	<mapping class="com.code.aon.account.Account"/>
    	<mapping class="com.code.aon.account.bridge.AccountEntryInvoice"/>
    	<mapping class="com.code.aon.account.bridge.InvoiceDetailAccount"/>
    	<mapping class="com.code.aon.account.bridge.InvoiceTaxAccount"/>
    	<mapping class="com.code.aon.accounting.AccountEntry"/>
    	<mapping class="com.code.aon.accounting.AccountEntryDetail"/>
    	<mapping class="com.code.aon.accounting.Period"/>
    	<mapping class="com.code.aon.company.Department"/>
    	<mapping class="com.code.aon.company.Enterprise"/>
    	<mapping class="com.code.aon.company.InvestAsset"/>
    	<mapping class="com.code.aon.company.WorkPlace"/>
    	<mapping class="com.code.aon.config.ApplicationParameter"/>
    	<mapping class="com.code.aon.config.Catalogue"/>
    	<mapping class="com.code.aon.config.CNAE"/>
    	<mapping class="com.code.aon.config.CNAE2009"/>
    	<mapping class="com.code.aon.config.CommissionType"/>
    	<mapping class="com.code.aon.config.IAE"/>
    	<mapping class="com.code.aon.config.PayMethod"/>
    	<mapping class="com.code.aon.config.PayMethodTypeDetail"/>
    	<mapping class="com.code.aon.config.Scope"/>
    	<mapping class="com.code.aon.config.Series"/>
        <mapping class="com.code.aon.config.Tag"/>
    	<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.TariffAddInfo"/>
		<mapping class="com.code.aon.config.TariffCatalogue"/>
    	<mapping class="com.code.aon.config.Tax"/>
    	<mapping class="com.code.aon.customer.Customer"/>
    	<mapping class="com.code.aon.customer.InvoicingGroup"/>
    	<mapping class="com.code.aon.finance.BankStatement"/>
    	<mapping class="com.code.aon.finance.BankStatementLink"/>
    	<mapping class="com.code.aon.finance.Finance"/>
    	<mapping class="com.code.aon.finance.FinanceTracking"/>
    	<mapping class="com.code.aon.finance.Invoice"/>
    	<mapping class="com.code.aon.finance.InvoiceAddress"/>
    	<mapping class="com.code.aon.finance.InvoiceAttachment"/>
    	<mapping class="com.code.aon.finance.InvoiceDetail"/>
    	<mapping class="com.code.aon.finance.InvoiceTax"/>
    	<mapping class="com.code.aon.finance.Pos"/>
    	<mapping class="com.code.aon.finance.PosShift"/>
    	<mapping class="com.code.aon.finance.PosShiftCount"/>
    	<mapping class="com.code.aon.geozone.GeoZone"/>
    	<mapping class="com.code.aon.product.Brand"/>
    	<mapping class="com.code.aon.product.Item"/>
    	<mapping class="com.code.aon.product.ItemAddInfo"/>
    	<mapping class="com.code.aon.product.ItemComposition"/>
    	<mapping class="com.code.aon.product.Product"/>
    	<mapping class="com.code.aon.product.ProductCategory"/>
    	<mapping class="com.code.aon.product.ProductTag"/>
    	<mapping class="com.code.aon.project.ActivityType"/>
    	<mapping class="com.code.aon.project.Project"/>
    	<mapping class="com.code.aon.project.ProjectActivity"/>
    	<mapping class="com.code.aon.project.ProjectAttachment"/>
    	<mapping class="com.code.aon.project.ProjectType"/>
    	<mapping class="com.code.aon.registry.Category"/>
    	<mapping class="com.code.aon.registry.Question"/>
    	<mapping class="com.code.aon.registry.QuestionValue"/>
    	<mapping class="com.code.aon.registry.Registry"/>
    	<mapping class="com.code.aon.registry.RegistryAddress"/>
    	<mapping class="com.code.aon.registry.RegistryAddInfo"/>
    	<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryAttachmentTag"/>
    	<mapping class="com.code.aon.registry.RegistryBank"/>
    	<mapping class="com.code.aon.registry.RegistryItem"/>
    	<mapping class="com.code.aon.registry.RegistryMedia"/>
    	<mapping class="com.code.aon.registry.RegistryPayMethod"/>
    	<mapping class="com.code.aon.registry.RegistryProfile"/>
    	<mapping class="com.code.aon.registry.RegistrySegment"/>
    	<mapping class="com.code.aon.registry.RegistrySeller"/>
    	<mapping class="com.code.aon.registry.Segment"/>	
    	<mapping class="com.code.aon.seller.Seller"/>
    	<mapping class="com.code.aon.warehouse.Inventory"/>
    	<mapping class="com.code.aon.warehouse.InventoryDetail"/>
    	<mapping class="com.code.aon.warehouse.Warehouse"/>
    	<mapping class="com.code.aon.warehouse.WarehouseTransfer"/>
    	<mapping class="com.code.aon.warehouse.WarehouseTransferDetail"/>

    	<mapping class="com.esferalia.aon.calendar.Calendar"/>
    	<mapping class="com.esferalia.aon.calendar.Holiday"/>
    	<mapping class="com.esferalia.aon.payroll.EnterpriseActivity"/>
    	<mapping class="com.esferalia.aon.payroll.EnterpriseCCC"/>

	</session-factory>

</hibernate-configuration>