<div>
  <mat-nav-list style="padding-top:0px;">
    <mat-list-item (click)="issued()">
      <mat-icon mat-list-icon>unarchive</mat-icon>
      <span> Emitidas </span>
    </mat-list-item>
    <mat-list-item (click)="received()">
      <mat-icon mat-list-icon>archive</mat-icon>
      <span> Recibidas </span>
    </mat-list-item>
    <mat-list-item (click)="ticket()">
      <mat-icon mat-list-icon>receipt</mat-icon>
      <span> Tickets/Justificantes </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="upload()">
      <mat-icon mat-list-icon>cloud_upload</mat-icon>
      <span> Importar </span>
    </mat-list-item>
    <mat-list-item *ngIf="isSnapshot()" (click)="record()">
      <mat-icon mat-list-icon>keyboard_voice</mat-icon>
      <span> Grabación </span>
    </mat-list-item>
  </mat-nav-list>
</div>
