body,td,th {
	font-family: ${font_fuente};
	color: ${color_color_texto};
	margin: 0 auto;
	width:750px;
}
a img{
border:none;
}
.canvas{
	width:750px;
	text-align:left;
	border: ${color_color_de_borde} ${border_bordes} solid;
	margin:0 auto;
	position:relative;
	background-image: url(images/${img_imagen_de_fondo});
}
body {
	font-family:${font_fuente};
	font-size:${size_tamano_de_fuente};
	background-color:${bgcolor_color_de_fondo};
	color:#ffffff;
	text-align:center;
	width:750px;
	margin: 0 auto;
	margin-top:5px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
.menu{
		text-align:left;
		font-size:${size_tamano_de_fuente_menu};
		width:160px;
		color:${color_color_de_texto_menu};
		margin-top:-130px;
		border-bottom: ${color_color_de_borde} 1px solid;
		border-top: ${color_color_de_borde} 1px solid;
		background:${bgcolor_color_de_fondo_menu};
		float:right;
		line-height:20px;
}	
.menu a {
	color:${color_color_de_texto_menu};
	text-decoration:none;
}
.menu li {
	color:${color_color_de_texto_menu};
	text-decoration:none;
}

.content-internal{
		color:${color_color_texto};
		margin-bottom:25px;
		padding:25px;
		position:relative;
}
#header {}
.logo{
	text-align:left;
	padding:15px;
	margin-top:10px;
}
.foot{
	background:${bgcolor_color_de_fondo_pie};
	color: ${color_color_de_texto_pie};
	text-align:center;
	font-size:9px;
}
.box{
	text-align:center; 
	padding-top:10px;
	}
.texto{
	text-align:right;
	}

.album-block{ 
	text-align:center;
}
.formulario{
	
	float: left;
	
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	background-color:#DDDDDD;
font-size:9px;
margin-left:340px;
padding:5px;
text-align:left;
}
.gallery-navigation{
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}

.album {
	height:400px;
	text-align:center;
}
.objeto {
	float:left;
	padding:10px;
}