<div class="content">
<div class="content-text">	
<div class="titular">$!title</div>
<table width="90%">
  <tr>
    <td>$!text</td>
    <td>
    	#foreach ($image in $images)
		<img src='../images/$!image.getName()'/>
		<!--$!image.getDescription();-->
    	#end
    </td>
  </tr>
</table>
</div>
</div>