 .aon-commercial-segment-iconClass{
	 background:transparent url(../images/aon-icon-comercial-segmentation.png) left center no-repeat;
 }

.aon-commercial-activity-iconClass{
	background:transparent url(../images/aon-icon-comercial-activities.png) left center no-repeat;
}

.aon-commercial-tracking-iconClass{
	background:transparent url(../images/aon-icon-comercial-monitoring.png) left center no-repeat;
}

.aon-seller-iconClass{
	background:transparent url(../images/aon-icon-comercial-personal.png) left center no-repeat;
}

.aon-target-iconClass{
	background:transparent url(../images/aon-icon-comercial-potential-customer.png) left center no-repeat;
}

.aon-icon-save{
	background:transparent url(../images/aon-icon-save.png) scroll left center no-repeat;	
 }

.aon-search-add{
	background:transparent url(../images/aon-icon-search-add.png) scroll left center no-repeat;
	position: relative;
	top: -5px;	
	border: 0;	
 }

.aon-search-minus{
	background:transparent url(../images/aon-icon-search-minus.png) scroll left center no-repeat;
	position: relative;
	top: -5px;	
	border: 0;
 }

.aon-width-170{
	width:170px;
}

.tbl-tab-search-odd{
	background-color:#fff !important;
	border:0;
	text-align:right;	
	padding:2px 0.5em;
	color:#4b4b4b;
	font-size:0.9em;
	font-weight:bold;
	width:120px;
	}
.tbl-tab-search-even{
	background-color:#fff !important;	
	border:0;
	padding:2px;
	padding:2px 0;
	text-align:left;
	font-size:0.9em;
	font-weight:bold;	
	}
.aon-portlet{
	background-color:transparent;
	text-align:left;
	}
	
.aon-menuBar-content{
	padding: 0 4px 0 4px;
}