package com.esferalia.aon.payroll.ctsql2mysql;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.Statement;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.math.BigDecimal;

/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

/**
* AbstractCtsqlDB
* 
*/
public class AbstractCtsqlDB {
	
	

	private Connection ctsqlConnection;


#foreach($table in $tables)
	
	/**
	 * $table
	 * $table.remarks
	 */
	public class $table {
		
		private ResultSet rs;
		
		private $table (ResultSet rs) 
		throws SQLException {
			this.rs =rs;
		}
		
#foreach ($column in $table.columns)
		/**
		 * $column.remarks
		 * @return the column '${column.name}' value; if the value is SQL NULL, the value returned is null
		 * @throws SQLException
		 */
		public ${column.javaClass} get${column}()
		throws SQLException {
#if ($column.javaClass.equals("Integer"))
			return rs.getInt("${column.name}");
#else
			return rs.get${column.javaClass}("${column.name}");
#end
		}
#end

#foreach ($child in $table.childs)
		public void visit${child.table}(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
			ResultSet 			rs 	= null;
			PreparedStatement	stmt 	= null;
			boolean				resume 	= true;
	
			try {
				stmt = ctsqlConnection.prepareStatement(
					"SELECT * FROM ${child.table.name} WHERE" 
#foreach ($col in $child.fkColumns) 
					+ " $col.name = ?  " #if( $velocityHasNext ) + "AND" #end  
#end
				);
#foreach ($col in $child.pkColumns)
#if ($col.javaClass.equals("Integer"))
				stmt.setInt($velocityCount, this.get${col}() ); 
#else
				stmt.set${col.javaClass}($velocityCount, this.get${col}() ); 
#end
#end
				rs = stmt.executeQuery();
				${child.table} ${child.table.name} = new ${child.table}(rs); 
				while ( resume && rs.next() ) {
					resume = ctsqlDBVisitor.visit${child.table}(${child.table.name}, this);
				}
			}
			finally {
				if ( rs != null )
					rs.close();
				if ( stmt != null )
					stmt.close();
			}
		}
#end
	}
	
#end

#foreach($table in $tables)

	public void visit$table(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
		ResultSet rs 	= null;
		Statement stmt 	= null;
		boolean	resume 	= true;

		try {
			
			stmt = ctsqlConnection.createStatement();
			rs = stmt.executeQuery("SELECT * FROM $table" );
			$table $table.name = new $table(rs); 
			while ( resume && rs.next() ) {
				resume = ctsqlDBVisitor.visit$table($table.name);
			}
		}
		finally {
			if ( rs != null )
				rs.close();
			if ( stmt != null )
				stmt.close();
		}
	}


#end

	public AbstractCtsqlDB( Connection ctsqlConnection) {
		this.ctsqlConnection = ctsqlConnection;
	}





}		
	
	
