/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/
package com.esferalia.aon.payroll.ctsql2mysql;

import java.sql.SQLException;

#foreach($table in $tables)
import com.esferalia.aon.payroll.ctsql2mysql.AbstractCtsqlDB.$table;
#end

public interface CtsqlDBVisitor {
	
	public void visit ( AbstractCtsqlDB ctsqlDB ) 
	throws SQLException;
	
#foreach($table in $tables)

	public void visit$table($table $table.name)
	throws SQLException;

#foreach ($child in $table.childs)
	public void visit${child}($child.table $child.table.name, $table $table.name)
	throws SQLException;

#end	
#end
}
