/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

package com.esferalia.aon.payroll.ctsql2mysql;


import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.SQLException;

import java.math.BigDecimal;

#foreach($table in $tables)
import com.esferalia.aon.payroll.ctsql2mysql.AbstractCtsqlDB.$table;
#end

public class DefaultCtsqlDBVisitor implements CtsqlDBVisitor {
	
	public void visit ( AbstractCtsqlDB ctsqlDB ) 
	throws SQLException	{
	}
	
#foreach($table in $tables)
	public void visit$table($table $table.name)
	throws SQLException{
	}

#foreach ($child in $table.childs)
	public void visit${child}($child.table $child.table.name, $table $table.name)
	throws SQLException {
	}
#end	

#foreach ($parent in $table.parents)
	/**
	 * ${parent} shows join between ${parent.table} and ${table}
	 */
	public static class ${parent} extends  DefaultCtsqlDBVisitor {
		
#foreach ($col in $parent.table.columns)
		
		private ${col.javaClass} ${parent.table.name}${col};  
		
		/**
		 * $col.remarks
		 * @return the column '${col.name}' value; if the value is SQL NULL, the value returned is null
		 * @throws SQLException
		 */
		public ${col.javaClass} get${parent.table}_${col}() {
			return ${parent.table.name}${col};
		}
#end
		public void visit${parent}($table $table.name, $parent.table $parent.table.name)
		throws SQLException {
#foreach ($col in $parent.table.columns)
			${parent.table.name}${col} = ${parent.table.name}.get${col}();  
#end
		}
	
	}
#end	

#end
}
