/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

package com.esferalia.aon.payroll.ctsql2mysql;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.Statement;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.util.List;
import java.util.LinkedList;

import java.io.Reader;
import java.io.InputStream;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;


/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

public class AbstractMysqlDB extends DefaultCtsqlDBVisitor {

	final static Logger LOGGER = 
		LoggerFactory.getLogger(AbstractMysqlDB.class);
	
	private int maxAllowedPacket ; 
	
	protected Connection mysqlConnection;

#foreach($table in $tables)

	private int ${table.name}StmtSize = 0;

	private int ${table.name}Inserted = 0;

	private List<${table}> ${table.name}s = 
		new LinkedList<${table}>();

	private PreparedStatement ${table.name}Stmt = null;

	public static class $table {
#foreach ($column in $table.columns)
		protected $column.javaClass $column.name; 
#end
	}
	
	private void insert$table( List<${table}> ${table.name}s )
	throws SQLException {
		long start = System.currentTimeMillis();
		int size = ${table.name}s.size();
		if ( ${table.name}StmtSize != size ) {
			if ( ${table.name}Stmt != null ) {
				${table.name}Stmt.close();
			}
			String values = "(#foreach ($column in $table.columns)?#if( $velocityHasNext ),#end#end)";
			StringBuffer valuesList = new StringBuffer(values);
			for ( int i = 1; i < size; i++ ) {
				valuesList.append(",");
				valuesList.append(values);
			}
	
			${table.name}Stmt = 
				mysqlConnection.prepareStatement(
				"INSERT INTO $table.name (#foreach ($column in $table.columns)$column.name#if( $velocityHasNext ),#end#end)"  
				+" VALUES " + valuesList.toString()  );
			
			${table.name}StmtSize = size;
		}

		int offset = 1;
			
		for (${table} ${table.name} : ${table.name}s) {
#foreach ($column in $table.columns)
			if ( ${table.name}.${column.name} == null )
				${table.name}Stmt.setNull(offset++, ${column.type});
			else
#if ($column.javaClass.equals("Integer"))
				${table.name}Stmt.setInt(offset++, ${table.name}.${column.name});
#elseif ($column.type == -4 )
				${table.name}Stmt.setBinaryStream(offset++, ${table.name}.${column.name});
#else
				${table.name}Stmt.set${column.javaClass}(offset++, ${table.name}.${column.name});
#end
#end
		}
		${table.name}Stmt.executeUpdate();
		${table.name}Inserted += size;

		// elapsed time in milliseconds
		long elapsed = System.currentTimeMillis() - start;
		info("Inserted {}/{} ${table}s in {} milliseconds.", size, ${table.name}Inserted, elapsed );		
	}
		
#if($table.isAutoIncrement())		
		private int ${table.name}Id = -1;
		
		private void init${table}Id() 
		throws SQLException  {
			ResultSet rs = null;
			Statement stmt = null;
			try {
				stmt = mysqlConnection.createStatement();
				rs = stmt.executeQuery("SELECT max(id) FROM `${table.name}`" );
				Integer max = null;
				if ( rs.next() ) {		
					max = rs.getInt(1);
				}
				this.${table.name}Id = max == null ? 0 : max;
			}
			finally {
				if ( rs != null )
					rs.close(); 
				if ( stmt != null )
					stmt.close(); 
			}
		}

		public int next${table}Id() {
			return ++this.${table.name}Id;
		} 

		public void set${table}Id(Integer ${table.name}Id) {
			this.${table.name}Id = ${table.name}Id;
		} 
#end
	
	private void flush$table(  )
	throws SQLException {
		if ( ! ${table.name}s.isEmpty() )
			insert${table}(${table.name}s);
		if ( ${table.name}Stmt != null )
			${table.name}Stmt.close();
	}	

	/**
	 * $table
#foreach ($column in $table.columns)
	 * @param $column.name $column.remarks
#end
	 * @throws SQLException
	*/
#set($colCount = 0)
	protected void insert$table(#foreach ($column in $table.columns)
#if( $colCount > 0 ), #end$column.javaClass $column.name #set($colCount = $colCount + 1)
#end)
	throws SQLException {

		${table} ${table.name}_ = new ${table}();
#foreach ($column in $table.columns)
		${table.name}_.${column.name} = ${column.name};
#end		  

		${table.name}s.add(${table.name}_);
		
		int ${table.name}Count = ${table.name}s.size();
		
		if ( ${table.size} * ${table.name}Count >=  this.maxAllowedPacket ){
			insert${table}(${table.name}s);
			${table.name}s.clear();
		} 
	}


#if($table.isAutoIncrement())
	/**
	 * $table
#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())	
	 * @param $column.name $column.remarks
#end
#end
#if($table.isAutoIncrement())
	 * @returns auto-generated key
#end
	 * @throws SQLException
	*/
#set($colCount = 0)
	public #if($table.isAutoIncrement())int#{else}void#end insert$table(#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())#if( $colCount > 0 ), #end$column.javaClass $column.name #set($colCount = $colCount + 1)#end
#end)
	throws SQLException {
#if($table.isAutoIncrement())		
		int id = next${table}Id();
#end

		${table} ${table.name}_ = new ${table}();
#foreach ($column in $table.columns)
		${table.name}_.${column.name} = ${column.name};
#end		  

		${table.name}s.add(${table.name}_);
		
		int ${table.name}Count = ${table.name}s.size();
		
		if ( ${table.size} * ${table.name}Count >=  this.maxAllowedPacket ){
			insert${table}(${table.name}s);
			${table.name}s.clear();
		} 
#if($table.isAutoIncrement())		
		return id;
#end
	}

#end
#end

	protected void finish() 
	throws SQLException {
#foreach($table in $tables)
		flush${table}();
#end
		Statement stmt = null; 
		try {
			stmt = 
				mysqlConnection.createStatement(); 
			stmt.execute("SET UNIQUE_CHECKS=1 ");
			stmt.execute("SET FOREIGN_KEY_CHECKS=1");
		}
		finally {
			if ( stmt != null  )
				stmt.close();
		}
	}

	protected void start() 
	throws SQLException {
		Statement stmt = null; 
		try {
			stmt = 
				mysqlConnection.createStatement(); 
			stmt.execute("SET UNIQUE_CHECKS=0 ");
			stmt.execute("SET FOREIGN_KEY_CHECKS=0");
		}
		finally {
			if ( stmt != null  )
				stmt.close();
		}
	}

	@Override
	protected void finalize() throws Throwable {
		finish();
		super.finalize();
	}

	private void initMaxAllowedPacket() 
	throws SQLException  {
		ResultSet rs = null;
		Statement stmt = null;
		try {
			stmt = mysqlConnection.createStatement();
			rs = stmt.executeQuery("SELECT @@max_allowed_packet" );
			Integer maxAllowedPacket = null;
			if ( rs.next() ) {		
				maxAllowedPacket = rs.getInt(1);
			}
			this.maxAllowedPacket = maxAllowedPacket == null ? 0 : maxAllowedPacket;
		}
		finally {
			if ( rs != null )
				rs.close(); 
			if ( stmt != null )
				stmt.close(); 
		}
	}
	
	public AbstractMysqlDB( Connection mysqlConnection) 
	throws SQLException {
		this.mysqlConnection = mysqlConnection;
#foreach($table in $tables)
#if($table.isAutoIncrement())		
		init${table}Id();
#end
		initMaxAllowedPacket();
#end
	}
	
	protected void debug(String format, Object ... args){
		LOGGER.debug(format, args);
	}

	protected void info(String format, Object ... args){
		LOGGER.info(format, args);
	}

	protected void warn(String format, Object ... args){
		LOGGER.warn(format, args);
	}

	protected void error(String format, Object ... args){
		LOGGER.error(format, args);
	}
	
	
}		
	
	
