package com.esferalia.aon.payroll.ctsql2mysql;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.io.InputStream;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;


/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

public class AbstractMysqlDB extends DefaultCtsqlDBVisitor {

	final static Logger LOGGER = 
		LoggerFactory.getLogger(AbstractMysqlDB.class);
	
	protected Connection mysqlConnection;

#foreach($table in $tables)
	
	private PreparedStatement ${table.name}Stmt;
	
	private void init${table}Stmt()
	throws SQLException {
		this.${table.name}Stmt = 
			mysqlConnection.prepareStatement(
			"INSERT INTO $table.name (#foreach ($column in $table.columns)
#if ( ! $column.isAutoIncrement() )
 $column.name#if( $velocityHasNext ),#end
#end
#end
) VALUES (#foreach ($column in $table.columns)
 #if (!$column.isAutoIncrement() )?#if( $velocityHasNext ),#end#end
#end
)", 
			PreparedStatement.RETURN_GENERATED_KEYS);
	}

	private void close${table}Stmt()
	throws SQLException {
		${table.name}Stmt.close();
	}	
	/**
	 * $table
#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())	
	 * @param $column.name $column.remarks
#end
#end
#if($table.isAutoIncrement())
	 * @returns auto-generated key
#end
	 * @throws SQLException
	*/
#set($colCount = 0)
	protected #if($table.isAutoIncrement())int#{else}void#end insert$table(#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())#if( $colCount > 0 ), #end$column.javaClass $column.name #set($colCount = $colCount + 1)#end
#end)
	throws SQLException {
	
#set($parameterIndex = 0)
#foreach ($column in $table.columns)
#if ( ! $column.isAutoIncrement() )
#set($parameterIndex = $parameterIndex + 1)
		if ( $column.name == null ) {
			this.${table.name}Stmt.setNull($parameterIndex, $column.type);
		}
		else {
#if ($column.javaClass.equals("Integer"))
			this.${table.name}Stmt.setInt($parameterIndex, $column.name);
#elseif ($column.type == -4 )
			this.${table.name}Stmt.setBinaryStream($parameterIndex, $column.name);
#elseif ($column.type == -1 )
			this.${table.name}Stmt.setAsciiStream($parameterIndex, $column.name);
#elseif ($column.type == -16 )
			this.${table.name}Stmt.setCharacterStream($parameterIndex, $column.name);
#else
			this.${table.name}Stmt.set${column.javaClass}($parameterIndex, $column.name);
#end
		}
#end
#end			

		this.${table.name}Stmt.executeUpdate();
		
#if($table.isAutoIncrement())		
		int generatedKey = 0;
		ResultSet generatedKeys = this.${table.name}Stmt.getGeneratedKeys();
		if ( generatedKeys.next() ){
			generatedKey = generatedKeys.getInt(1);
		}
		generatedKeys.close();
		return generatedKey;
#end
	}
#end

	public AbstractMysqlDB( Connection mysqlConnection) 
	throws SQLException {
		this.mysqlConnection = mysqlConnection;
#foreach($table in $tables)
		init${table}Stmt();
#end
	}
	
	@Override
	protected void finalize() throws Throwable {
#foreach($table in $tables)
		close${table}Stmt();
#end
		super.finalize();
	}
	
	

}		
	
	
