body{
		font-family:${font_fuente};
		font-size:${size_tamano_de_fuente};
		background-color:${bgcolor_color_de_fondo};
		color: ${color_color_de_texto};
		text-align:center;
		margin:0 auto;
		width:750px;
}
td{vertical-align:top;
}
.canvas{
		width:750px;
		text-align:left;
}
.header{
		background-color:${bgcolor_color_de_fondo_cabecera};
		text-align:right;
margin-top:20px;
}
.logo{
		background-color:${bgcolor_color_de_fondo_menu};
		text-align:left;
		font-size:18px;
		font-style:bold;
		color:#FFFFFF
}
.menu{
		background-color: ${bgcolor_color_de_fondo_menu};
		text-align:right;
		width:750px;
		padding:15px 0;
}
.menu a{
		text-decoration:none;
		color:${color_color_de_texto_menu};
		/*white-space:nowrap;*/
		padding:0 1em 0 1em;
		border-right:#999900 1px solid;
		font-size:${size_tamano_de_fuente_menu};
		font-weight:bold;
}
.content{
	color:${color_color_de_texto_contenido};
	background-color:${bgcolor_color_de_fondo_contenido};
	border-left:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	padding:20px 25px 83px;
}
.foot{
		background-color:${bgcolor_color_de_fondo_pie};
		color:${color_color_de_texto_pie};
		font-size:9px;
margin-bottom:20px;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:330px; 
	padding:5px;
	background-color:#dddddd;
	margin-left:345px;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:&{color_color_de_texto_contenido};
}
.gallery-navigation a{
	text-align:center;
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
	padding-bottom:25px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
.album {
	height:400px;
	text-align:center;
	padding-left:55px;
}
.album a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}
td img{
padding:20px;}