body {  
	font-size: ${size_tamano_de_fuente} ;
	line-height:20px; 
	font-family: ${font_fuente}  ;
	background-color:${bgcolor_color_de_fondo}; 
	border: ${border_bordes} solid  ${color_color_de_borde};
	margin:0 auto;
	width:750px;
}
a { 
	color: ${color_color_de_texto_link};
}
a:hover { 
	color: ${color_color_de_texto_link_hover};
}
#container { 
	background-color: ${bgcolor_color_de_fondo_contenido};
	width:750px;
	margin:0 auto;
}
#header { 
	background: url(images/header_bckg_main.jpg) repeat-x  ${bgcolor_color_de_fondo_cabecera}; 
}
#logo { 
	padding:30px 0 0 40px; 
	height:83px; 
	color: ${color_color_de_texto_cabecera} ;
	font-style:italic; 
}
#logo a{ 
	color: ${color_color_de_texto_cabecera};
	text-decoration:none; 
	font-weight:bold; 
	font-size:20px; 
	font-style:italic; 
	text-transform:uppercase;
}
#menu { 
	background: url(images/menu_bckg.jpg) ${bgcolor_color_de_fondo_menu}; 
	height:30px; 
}
#menu ul { 
	margin:0; 
	padding:0;
}
#menu ul li{ 
	display:inline-block; 
	float:left; 
	width:150px; 
	list-style:none; 
	text-align:center; 
}
#menu a { 
	display:block; 
	/*float:left; */
	/*width:110px;*/ 
	color: ${color_color_de_texto_menu};
	font-size: ${size_tamano_de_fuente_menu};
	text-transform:uppercase; 
	font-weight:bold; 
	text-decoration:none; 
	padding-top:4px; 
	font-style:italic;
}
#menu a:hover{ 
	padding-top:4px; 
	height:22px; 
	background: url(images/menu_bckg_over.jpg) ${bgcolor_color_de_fondo_menu_hover};
}
#content { 
	padding:15px; 
}
#content p { 
	padding:0 20px 10px 0;
}
#content li {
	list-style:none; 
	padding-left:20px; 
	background: url(images/li.gif) no-repeat 0px 7px;
}
#sidebar { 
	float:right; 
	width:200px; 
	padding: 0 20px 0 10px; 
	font-size: ${size_tamano_de_fuente_menu};
}
h1 { 
	margin:0; 
	padding:0; 
	text-transform:uppercase; 
	font-size:1.8em; 
	color: ${color_color_de_texto_titulos} ;
	font-style:italic;
padding:20px;
}
#main { 
	float:left; 
	background: url(images/sidebar_bckg.gif) repeat-y top right; 
	padding:20px 0 0 0;
}
#foot {
	background: url(images/footer_bckg.jpg) ${bgcolor_color_fondo_pie} ;
	height:102px; 
	clear:both;  
	font-style:italic;
	line-height:10px;
}
#left_foot { 
	float:left; 
	padding:17px 0 0 30px; 
	background: url(images/c.gif) no-repeat 30px 35px; 
	
	color: ${color_color_de_texto_pie};
	font-weight:bold; 
	font-size: ${size_tamano_de_fuente_pie};
}
#left_foot a { 
	color: ${color_color_de_texto_pie};
}
#left_foot a:hover { 
	text-decoration:none;
}
#right_foot { 
	float:right;  
	padding:40px 30px 0 0; 
	text-transform:uppercase; 
	color: ${color_color_de_texto_pie};
	font-weight:bold; 
	font-size: ${size_tamano_de_fuente_pie} ;
	text-align:right;
}
#right_foot a { 
	color: ${color_color_de_texto_pie};
}
#right_foot a:hover { 
	text-decoration:none;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:420px; 
	padding:5px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:#000000;
}
.gallery-navigation a{
	color:#000000;
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
padding-bottom:20px;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}

.album {
	margin-left:40px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:#000000;
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:#000000;
}