.aon-icon-actions{
	background:transparent url(../images/aon-icon-actions.png) scroll left center no-repeat;
}

.aon-icon-applications{
	background:transparent url(../images/aon-icon-applications.png) scroll left center no-repeat;
}

.aon-icon-domains{
	background:transparent url(../images/aon-icon-domains.png) scroll left center no-repeat;
}

.aon-icon-sessions{
	background:transparent url(../images/aon-icon-sessions.png) scroll left center no-repeat;
}
