.dropzone {
    min-height: 100px;
    height: 100px;
    min-width: 400px;
    display: table;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-width: 2px;
    border-style: dashed;
    border-color: #bbb;
}

.dropzone-text-wrapper {
  display: table-cell;
  text-align:center;
  vertical-align:middle;
  pointer-events: none;
}

.dropzone-centered {
  font-size: 0.8em;
  font-style: italic;
  text-align:center;
}
.dropzone-list > ul {
  width: 30%;
  list-style: none;
}
.dropzone-list > ul > li:before {
  content : '+';
  color: #6def9a;
}
.dropzone-list > ul > li {
  border: 1px solid black;
  padding-bottom: 5px;
  padding-left: 10px;
}
