<div tediDropZone class='dropzone' (filesChangeEmiter)='onFilesChange($event)' (click)='onSelectFiles()'>
  <div class='dropzone-text-wrapper'>
    <div class='dropzone-centered'>Arrastre aquí el archivo o click para seleccionar</div>
  </div>
  <input style='display:none;' type='file' name='file' id='file' (change)='onDialogFileSelected()' multiple #fileInput>
</div>
<div #container class='dropzone-list' style='height: 100%;scroll-behavior: auto; display: none; margin-top: 1em;'>
  <mat-accordion multi='true'>
    <mat-expansion-panel [expanded]='true'>
      <mat-expansion-panel-header>
        <mat-panel-title> Archivos</mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-upload-table></app-upload-table>
    </mat-expansion-panel>
<!--
    <mat-expansion-panel [expanded]='true'>
      <mat-expansion-panel-header>
        <mat-panel-title> Archivos no aceptados </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <app-upload-table [accepted]='false'></app-upload-table>
    </mat-expansion-panel>
-->
  </mat-accordion>
</div>
