.mat-column-icon {
  flex: 0 0 40px;
}
.mat-column-iconButton {
  flex: 0 0 40px;
  justify-content: center;
}
.mat-column-size {
  flex: 0 0 100px;
  justify-content: flex-end;
}
.progress-margin {
  margin: 0 10px;
}
.row-highlighted {
  background-color: lightgreen;
}
.row-error {
  background-color: lightsalmon;
}