<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>  
		<property name="dialect">com.transtools.ctsql.hibernate.dialect.CtsqlDialect</property>
		<property name="show_sql">true</property>

		<property name="connection.service">jboss.admin:service=AonLdap</property>
		<property name="connection.datasource">java:comp/env/jdbc/AonPayroll</property>		

		<!-- C3P0 Stuff -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">1900</property>
		<property name="c3p0.timeout">3600</property>
		<property name="c3p0.max_size">30</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.preferredTestQuery">select 1;</property>
		
 
		<!-- TIPOS -->		
		<mapping class="com.code.aon.payroll.tipos.Documento"/>
		<mapping class="com.code.aon.payroll.tipos.Empresario"/>
		<mapping class="com.code.aon.payroll.tipos.TipoCnae"/>
		<mapping class="com.code.aon.payroll.tipos.Registro"/>
		<mapping class="com.code.aon.payroll.tipos.Incidencia"/>
		<mapping class="com.code.aon.payroll.tipos.Autorizacion"/>
		<mapping class="com.code.aon.payroll.tipos.Tipovia"/>
		
		<!-- COTIZACIONES -->		
		<mapping class="com.code.aon.payroll.cotizacion.PorcentajeMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Porcentaje"/>
		<mapping class="com.code.aon.payroll.cotizacion.Bonificacion"/>	
	  	<mapping class="com.code.aon.payroll.cotizacion.Base"/>
		<mapping class="com.code.aon.payroll.cotizacion.Linbasec"/>	
	    <mapping class="com.code.aon.payroll.cotizacion.Epigrafe"/>
		<mapping class="com.code.aon.payroll.cotizacion.Linepigr"/>	
		<mapping class="com.code.aon.payroll.cotizacion.ElementoMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Elemento"/>			
	    <mapping class="com.code.aon.payroll.cotizacion.OcupacionMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Ocupacion"/>
		<mapping class="com.code.aon.payroll.cotizacion.CnaeMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Cnae"/>	 
	
			
		  <!-- ORGANISMOS Y ENTIDADES-->		
	    <mapping class="com.code.aon.payroll.organismosyentidades.Delegacion"/>		
		<mapping class="com.code.aon.payroll.organismosyentidades.Pais"/>
		<mapping class="com.code.aon.payroll.organismosyentidades.Provincia"/>		
		<mapping class="com.code.aon.payroll.organismosyentidades.Comunidad"/>
		<!-- CONTRATOS -->		
		<mapping class="com.code.aon.payroll.auxiliares.contratos.ContratosInternos"/>
		<mapping class="com.code.aon.payroll.auxiliares.contratos.ContratosTc2"/>	
		
		<!-- CONVENIOS -->		
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Complemento"/>		

		<!-- GEOGRAFICAS -->		
        <mapping class="com.code.aon.payroll.geograficas.Nacion"/>	
        
        <!-- IRPF -->
		<mapping class="com.code.aon.payroll.irpf.Cuota"/>
		<mapping class="com.code.aon.payroll.irpf.Exclusion"/>
		
          <!--DIVISAS -->		
		<mapping class="com.code.aon.payroll.divisa.Divisa"/>			
		<mapping class="com.code.aon.payroll.divisa.LinDivisa"/>
			
		<!-- IRPF FORAL-->		
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionAlava"/>
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionVizcaya"/>	
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionNavarra"/>	
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionGuipuzcoa"/>			
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesAlava"/> 
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesGuipuzcoa"/> 
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesVizcaya"/> 
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesNavarra"/> 
       	
        <!-- SISTEMA RED -->			
        <mapping class="com.code.aon.payroll.auxiliares.Colectivos"/>	
        
         <!-- ORGANISMOS Y ENTIDADES -->			
        <mapping class="com.code.aon.payroll.auxiliares.Admon"/>			
	</session-factory>

</hibernate-configuration>