.modalCreateIcons {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.modalContent {
    padding-left: 1rem;
    padding-right: 1rem;
}

.modalHeader {
    margin-bottom: 2rem;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292a31;
}

.inputSubjectModal {
    width: 100%;
    margin: 1rem 0;
}

.inputModal {
    width: 100%;
}

.modalAsesor {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    align-items: center;
    margin: 1rem 0;
}

.modallabelSelect {
    font-family: Roboto;
    font-size: .875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #292a31;
}

.modalTextArea {
    width: 100%;
}

.inputTextArea {
    width: 100%;
}

.textAreaDetail {
    width: calc(100%) !important;
    height: calc(10rem) !important;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: justify;
    color: #787885;
}

.buttonsDetail {
    width: calc(100%);
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.buttonDetailSize {
    height: 3rem;
    width: calc(14rem);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding-left: .5rem;
    cursor: pointer;
}

.processButton {
    border: solid;
    border-width: .0625rem;
    border-radius: .25rem;
    border-color: #f6655a;
    background-color: #f6655a;
    box-sizing: border-box;
    color: white;
}

.processButton:hover {
    background-color: #f8877f;
}

.fontButton {
    font-family: Roboto;
    font-size: .875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.iconButtonMessage {
    width: 1.5rem;
    height: 1.5rem;
}

.selectAsesor{
    width: 27rem;
}