<div class="modalCreate">
    <div class="modalCreateIcons">
        <set-icon shape="fullscreen" set-color color="black" style="cursor: pointer;" (click)="changePosition()"></set-icon>
        <set-icon shape="close" set-color color="black" style="cursor: pointer;" (click)="onNoClick()"></set-icon>
    </div>
    <div class="modalContent">
        <div class="modalHeader">
            Nueva consulta
        </div>
        <div class="modalAsesor">
            <div class="modallabelSelect">
                ASIGNAR A
            </div>
            <app-custom-select [asesores]="asesores" style="height: 3rem; width: min(60%,27rem);"></app-custom-select>
        </div>
        <mat-divider></mat-divider>
        <div class="inputSubjectModal">
            <mat-form-field appearance="legacy"
                disabled="false" class="inputModal">
                <input matInput placeholder="Asunto" [(ngModel)]="subject" class="inputModal"/>
            </mat-form-field>
        </div>
        <div class="modalTextArea">
            <div class="inputTextArea">
                <mat-form-field appearance="outline" style="width: 100%;max-height: 250px!important;">
                    <textarea matInput
                        [(ngModel)]="description"
                        class="textAreaDetail"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="10"
                        placeholder="Escribe..."></textarea>
                </mat-form-field>
            </div>
            <div class="buttonsDetail">
                <div class="buttonDetailSize processButton fontButton" (click)="createConsult()">
                    <div class="iconButtonMessage">
                        <set-icon shape="send" style="color:white;"></set-icon>
                    </div>
                    ENVIAR
                </div>
            </div>   
        </div>
    </div>
</div>