
<mat-card>
  <mat-card-header>
    <mat-card-title>Crear Usuario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="example-full-width tedi-form-field" >
        <input #name matInput placeholder="Nombre" [value]="user.name">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #surname matInput placeholder="Apellidos" [value]="user.surname">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #document matInput placeholder="NIF/NIE" [value]="user.document">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #phone matInput placeholder="Teléfono Móvil" [value]="user.phone">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #email matInput placeholder="Email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher" [value] = "user.email">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #password matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <div *ngIf="isUserLoggedIn" mat-dialog-actions>
        <button mat-raised-button type="submit" (click)="register(email.value, password.value, name.value, surname.value, document.value, phone.value)">Guardar</button>
      </div>

      <div *ngIf="!isUserLoggedIn" mat-dialog-actions>
        <button mat-raised-button type="submit" (click)="registerNew(email.value, password.value, name.value, surname.value, document.value, phone.value)">Siguiente</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
