@import "src/styles.scss";

::ng-deep {

/*
  Input file
*/
  #upload-box{
    cursor          : pointer;
    width           : 100%;
    height          : 5rem;
    border          : .11rem dashed $color-border-primary;
    border-radius   : .2rem;
    display         : flex;
    align-items     : center;
    justify-content : center;
    box-sizing      : border-box;
  }

  #upload-box input[type="file"] {
    display: none;
  }

  #upload-box.drag-over{
    background  : $background-button-pink-hover2;
    color       : $color-pink;
    border-color: $color-pink;
  }
  #upload-box.drag-over mat-icon svg,
  #upload-box.drag-over set-icon svg{
    fill: $color-pink;
  }
/*
  FIN - Input file
*/
  
  
  .modal-container-send {
    width: 20rem;
  }

  .title {
    font-size: 1rem;
    font-family: "Roboto-Bold";
  }

  .formSend {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;

    .inputText {
      width: 100%;
    }
  }

  .buttonsUpload {
    display: flex;
    justify-content: flex-end;

    .upload {
      background: $background-button-pink;
      border: $border-button-pink;
      color: $color-quarter;
    }

    .upload:hover {
      background: $background-button-pink-hover;
    }
  }
/*
  Select file
*/
  #documentCharge {
    border        : $border;
    border-radius : $border-radius;
    padding       : $padding;
    display       : flex;
    flex-direction: column;

    .cancel {
      display         : flex;
      justify-content : flex-end;
      
      app-icon{
        cursor : pointer;
      }
    }

    .document {
      display   : flex;
      flex-wrap : wrap;
      gap       : $margin;
      overflow-y: auto;
      position  : relative;
      height    : 16.5rem;
    }

    .documentName {
      margin-top: $margin-top;
    }
  }
/*
  FIN - Select file
*/

}
