{{firstValue}}
-
{{secondValue}}
de
{{totalItems}}
<app-icon shape="chevron_left" size="1.2rem" color="#5a5b6a" style="cursor:pointer;" (click)="this.previousPage()"></app-icon>
<app-icon shape="chevron_right" size="1.2rem" color="#5a5b6a" style="cursor:pointer;" (click)="this.nextPage()"></app-icon>

<table  mat-table
        mat-flat-table
        set-color
        color="primary">
          ...Your table content...
</table>
<mat-paginator  mat-flat-paginator
                set-color
                color="primary">
</mat-paginator>
