.item_explorer{
	font-family: Sans-serif;
	font-size:0.7em;
	padding:10px;
	float:left;
	width:120px;
	height:150px;
	text-align:center;
	overflow:hidden;
}

.item_explorer_selected{
	font-family: Sans-serif;
	font-size:0.7em;
	padding:10px;
	float:left;
	width:120px;
	height:150px;
	text-align:center;
	overflow:hidden;
	background:#CCCCCC
}

.item_explorer_clicked{
	font-family: Sans-serif;
	font-size:0.7em;
	padding:10px;
	float:left;
	width:120px;
	height:150px;
	text-align:center;
	overflow:hidden;
	background:darkblue;
	color:white;
}

.thumnails_item_explorer{
	width:102px;
	height:102px;
	vertical-align: middle;
	float:left;
	border:#DDDDDD 1px solid;
	text-align:center;
	overflow:hidden;
}

.thumnails_item_explorer img {
	margin:auto;
}

.thumbnail_image {
	vertical-align:middle !important;
	text-align:center;
}

.text_item_explorer {
	font-family: Sans-serif;
	font-size:1.3em;
	width:100px;
	text-align:center;
	overflow:hidden;
}

