<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:mysql://192.168.2.4:3306/aon_master?autoReconnect=true</property>		
		<property name="connection.username">dbuser</property>		
		<property name="show_sql">true</property>		
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">serubd2000</property>		

		<!-- Mapping files -->
		<mapping class="com.code.aon.account.bridge.CustomerAccount"/>
		<mapping class="com.code.aon.account.bridge.SupplierAccount"/>		
		<mapping class="com.code.aon.account.bridge.CreditorAccount"/>
		<mapping class="com.code.aon.account.bridge.ProductAccount"/>		
		<mapping class="com.code.aon.account.bridge.TaxAccount"/>		
		<mapping class="com.code.aon.account.bridge.RegistryBankAccount"/>
		<mapping class="com.code.aon.account.bridge.LoanAccount"/>
		<mapping class="com.code.aon.account.bridge.LeasingAccount"/>
		<mapping class="com.code.aon.account.bridge.InvoiceDetailAccount"/>
		<mapping class="com.code.aon.account.bridge.InvoiceTaxAccount"/>
		<mapping class="com.code.aon.account.bridge.AccountEntryInvoice"/>
		<mapping class="com.code.aon.account.bridge.AccountEntryFinanceBatch"/>
		<mapping class="com.code.aon.account.bridge.AccountEntryFinanceTracking"/>
		
		<mapping class="com.code.aon.account.Account"/>

		<mapping class="com.code.aon.accounting.AccountEntry"/>
		<mapping class="com.code.aon.accounting.Leasing"/>
		<mapping class="com.code.aon.accounting.Loan"/>

		<mapping class="com.code.aon.finance.Creditor"/>
 		<mapping class="com.code.aon.finance.Invoice"/>
		<mapping class="com.code.aon.finance.InvoiceAddress"/>
		<mapping class="com.code.aon.finance.InvoiceDetail"/>
		<mapping class="com.code.aon.finance.InvoiceTax"/>
		<mapping class="com.code.aon.finance.Finance"/>
		<mapping class="com.code.aon.finance.FinanceBatch"/>
		<mapping class="com.code.aon.finance.FinanceBatchDetail"/>
		<mapping class="com.code.aon.finance.FinanceTracking"/>

		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.Tariff"/>

		<mapping class="com.code.aon.customer.Customer"/>
		<mapping class="com.code.aon.customer.CustomerSegment"/>

		<mapping class="com.code.aon.supplier.Supplier"/>
		<mapping class="com.code.aon.supplier.SupplierSegment"/>

		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>

		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>

		<mapping class="com.code.aon.company.WorkActivity"/>
		<mapping class="com.code.aon.company.WorkPlace"/>
		<mapping class="com.code.aon.company.resources.Employee"/>
		<mapping class="com.code.aon.company.resources.Resource"/>

		<mapping class="com.code.aon.geozone.GeoZone"/>

	</session-factory>

</hibernate-configuration>