<mat-toolbar class="toolBar">
    <mat-grid-list cols="3" rowHeight="64px" style="width: 100%;">
      <mat-grid-tile colspan="1" style="align-items: left;">
        <div class="logo">
          <img src="../../../assets/images/logo/logo-aon.png" routerLink="home" class="logoAon" />
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" *ngIf="usserLoggged">
        <app-breadcumb></app-breadcumb>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" *ngIf="usserLoggged">
        <div class="allSize" style="display:flex; justify-content: right; align-items: center;">
          <app-button 
            class="icon-only"
            (click)="this.dropdownMenuComponent.openDropdownMenu();"
          >
            <app-icon [shape]="'person'"></app-icon>
            <app-dropdown-menu #first [menuItem]="this.menuItem"></app-dropdown-menu>
          </app-button>
        </div>
        <!-- <div class="toolbarIcons">
          <div *ngIf="this.displayHomeIcon" class="buttonTopbar" routerLink="home">
            <div class="iconToolbar">
              <set-icon shape="home" set-color color="black"> </set-icon>
            </div>
          </div>
          <div mat-button [matMenuTriggerFor]="menu" class="buttonTopbar">
            <div class="iconToolbar">
              <set-icon shape="person" set-color color="black"> </set-icon>
            </div>
          </div>
          <mat-menu #menu="matMenu">
            <ng-container>
              <a mat-menu-item>
                <div class="hoverMenu">
                  <set-icon shape="person_pin"></set-icon>
                  &nbsp;&nbsp;
                  Editar perfil
                </div>
              </a>
              <a mat-menu-item>
                <div class="hoverMenu">
                  <set-icon shape="help"></set-icon>
                  &nbsp;&nbsp;
                  Ayuda
                </div>
              </a>
              <a mat-menu-item href="#" (click)="auth.logout()">
                <div class="hoverMenu">
                  <set-icon shape="exit_to_app"></set-icon>
                  &nbsp;&nbsp;
                  Cerrar sesión
                </div>
              </a>
            </ng-container>
          </mat-menu>
        </div> -->
      </mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar>
