@import 'src/styles.scss';

::ng-deep{
  #tool-bar {
    width         : 100vw;
    border-bottom : solid $border-size-primary $color-border-primary;
    height        : $header-height;
  }

  #tool-bar mat-grid-list{
    width  : 100vw;
  }

  #tool-bar #tool-bar-logo .mat-figure{
    justify-content : flex-start;
  }
  
  #tool-bar #tool-bar-logo img{
    cursor: pointer;
  }
  
  #tool-bar #tool-bar-routes .mat-figure{
  }
  
  #tool-bar #tool-bar-icons .mat-figure{
    justify-content : flex-end;
    gap             : $margin;
  }
}
