<mat-toolbar id="tool-bar">
  <mat-grid-list cols="3">
    <mat-grid-tile colspan="1" id="tool-bar-logo">
      <img src="../../../assets/images/logo/logo-aon.png" routerLink="home"/>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="usserLoggged" id="tool-bar-routes">
      <app-breadcumb></app-breadcumb>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="usserLoggged" id="tool-bar-icons">
      <app-button
        *ngIf     = "displayHomeIcon"
        class     = "icon-only"
        routerLink= "home"
      >
        <app-icon [shape]="'home'"></app-icon>
      </app-button>
      <app-button
        class="icon-only"
        (click)="this.dropdownMenuComponent.openDropdownMenu();"
      >
        <app-icon [shape]="'person'"></app-icon>
        <app-dropdown-menu *ngIf="this.menuItem.length > 0" #first [menuItem]="this.menuItem"></app-dropdown-menu>
      </app-button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
