<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON-ACCOUNT Mapping files	-->
		<mapping class="com.code.aon.account.Account"/>
		
		<!-- AON-CAMPAIGN Mapping files --> 
		<mapping class="com.code.aon.campaign.ActivityProcess"/>
		<mapping class="com.code.aon.campaign.Campaign"/>
		<mapping class="com.code.aon.campaign.CampaignDossier"/>
		<mapping class="com.code.aon.campaign.Process"/>
		<mapping class="com.code.aon.campaign.ProcessDetail"/>
		<mapping class="com.code.aon.campaign.ProcessDetailTransition"/>
		<mapping class="com.code.aon.campaign.ProcessTransitionType"/>
				
		<!-- AON-COMPANY Mapping files -->
		<mapping class="com.code.aon.company.Company"/>
		<mapping class="com.code.aon.company.WorkPlace"/>
		<mapping class="com.code.aon.company.WorkActivity"/>
		<mapping class="com.code.aon.company.resources.Resource"/>
		<mapping class="com.code.aon.company.resources.Employee"/>

		<!-- AON-CONFIG Mapping files --> 		
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.UserWorkGroup"/>
		<mapping class="com.code.aon.config.WorkGroup"/>

		<!-- AON-CUSTOMER Mapping files --> 
		<mapping class="com.code.aon.customer.Customer"/>
		<mapping class="com.code.aon.customer.CustomerSegment"/>
		
		<!-- AON-GEOZONE Mapping files --> 		
		<mapping class="com.code.aon.geozone.GeoTree"/>
		<mapping class="com.code.aon.geozone.GeoZone"/>			

		<!-- AON-GROUPWARE Mapping files --> 
		<mapping class="com.code.aon.groupware.Alarm"/>
		<mapping class="com.code.aon.groupware.Note"/>
		<mapping class="com.code.aon.groupware.Notice"/>
		<mapping class="com.code.aon.groupware.FavoriteCategory"/>
		<mapping class="com.code.aon.groupware.Favorite"/>

		<!-- AON-MESSAGING Mapping files --> 
		<mapping class="com.code.aon.messaging.Message"/>
		<mapping class="com.code.aon.messaging.MessageContent"/>		

		<!-- AON-PRODUCT Mapping files --> 	
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Catalogue"/>
		<mapping class="com.code.aon.product.CatalogueCategory"/>
		<mapping class="com.code.aon.product.CatalogueItem"/>
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.ItemAttachment"/>
		<mapping class="com.code.aon.product.ItemPos"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>
		<mapping class="com.code.aon.product.ProductCategoryTree"/>
		<mapping class="com.code.aon.product.Tariff"/>
		<mapping class="com.code.aon.product.TariffCatalogue"/>
		
		<!-- AON-PROJECT Mapping files -->  
		<mapping class="com.code.aon.project.Activity"/>
		<mapping class="com.code.aon.project.ActivityType"/>
		<mapping class="com.code.aon.project.DailyTracking"/>
		<mapping class="com.code.aon.project.Dossier"/>
		<mapping class="com.code.aon.project.DossierType"/>
		<mapping class="com.code.aon.project.JobType"/>
		<mapping class="com.code.aon.project.Task"/>		

		<!-- AON-REGISTRY Mapping files --> 
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.RecordData"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistryDirStaff"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryNote"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistryRelationship"/>
		<mapping class="com.code.aon.registry.Relationship"/>

	</session-factory>

</hibernate-configuration>
