
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>
		<property name="connection.service">jboss.admin:service=AonLdap</property>
		<property name="connection.datasource">java:comp/env/jdbc/AonEnterprise</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>

		<!-- C3P0 Stuff -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">1900</property>
		<property name="c3p0.timeout">3600</property>
		<property name="c3p0.max_size">30</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.preferredTestQuery">select 1;</property>

		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON-ACCOUNT Mapping files -->
		<mapping class="com.code.aon.account.Account"/>

		<!-- AON-ACCOUNTING Mapping files -->
		<mapping class="com.code.aon.accounting.AccountBudget"/>
		<mapping class="com.code.aon.accounting.AccountBudgetDetail"/>
		<mapping class="com.code.aon.accounting.AutoConcept"/>
		<mapping class="com.code.aon.accounting.AccountEntry"/>
		<mapping class="com.code.aon.accounting.AccountEntryDetail"/>
		<mapping class="com.code.aon.accounting.AccountEntryLink"/>		
		<mapping class="com.code.aon.accounting.AccountHelper"/>
		<mapping class="com.code.aon.accounting.AccountSummary"/>
		<mapping class="com.code.aon.accounting.Amortization"/>
		<mapping class="com.code.aon.accounting.AmortizationDetail"/>
		<mapping class="com.code.aon.accounting.AmortizationType"/>
		<mapping class="com.code.aon.accounting.Balance"/>
		<mapping class="com.code.aon.accounting.BalanceDetail"/>
		<mapping class="com.code.aon.accounting.Loan"/>
		<mapping class="com.code.aon.accounting.Leasing"/>
		<mapping class="com.code.aon.accounting.Period"/>
		
		<!-- AON-ACCOUNT-BRIDGE Mapping files -->
		<mapping class="com.code.aon.account.bridge.AccountEntryInvoice"/>
		<mapping class="com.code.aon.account.bridge.AccountEntryFinanceBatch"/>
		<mapping class="com.code.aon.account.bridge.AccountEntryFinanceTracking"/>
		<mapping class="com.code.aon.account.bridge.CreditorAccount"/>
		<mapping class="com.code.aon.account.bridge.CustomerAccount"/>
		<mapping class="com.code.aon.account.bridge.InvoiceDetailAccount"/>
		<mapping class="com.code.aon.account.bridge.InvoiceTaxAccount"/>
		<mapping class="com.code.aon.account.bridge.LeasingAccount"/>
		<mapping class="com.code.aon.account.bridge.LoanAccount"/>
		<mapping class="com.code.aon.account.bridge.ProductAccount"/>
		<mapping class="com.code.aon.account.bridge.RegistryBankAccount"/>
		<mapping class="com.code.aon.account.bridge.SupplierAccount"/>
		<mapping class="com.code.aon.account.bridge.TaxAccount"/>

		<!-- AON-COMMERCIAL Mapping files -->	
		<mapping class="com.code.aon.commercial.CommercialActivity"/>
		<mapping class="com.code.aon.commercial.CommercialSegment"/>
		<mapping class="com.code.aon.commercial.CommercialTracking"/>
		<mapping class="com.code.aon.commercial.Offer"/>
		<mapping class="com.code.aon.commercial.OfferDetail"/>
		<mapping class="com.code.aon.commercial.Target"/>
		<mapping class="com.code.aon.commercial.TargetItem"/>
		<mapping class="com.code.aon.commercial.TargetSegment"/>
		<mapping class="com.code.aon.commercial.TargetSeller"/>
		
		<!-- AON-COMPANY Mapping files -->	
		<mapping class="com.code.aon.company.Company"/>
		<mapping class="com.code.aon.company.WorkPlace"/>
		<mapping class="com.code.aon.company.WorkActivity"/>
		<mapping class="com.code.aon.company.resources.Resource"/>
		<mapping class="com.code.aon.company.resources.Employee"/>

		<!-- AON-CONFIG Mapping files -->
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.WorkGroup"/>

		<!-- AON-CUSTOMER Mapping files -->	
		<mapping class="com.code.aon.customer.Customer"/>
		<mapping class="com.code.aon.customer.CustomerSegment"/>

		<!-- AON-FINANCE Mapping files -->	
		<mapping class="com.code.aon.finance.Creditor"/>
		<mapping class="com.code.aon.finance.CustomerFee"/>
		<mapping class="com.code.aon.finance.Finance"/>
		<mapping class="com.code.aon.finance.FinanceBatch"/>
		<mapping class="com.code.aon.finance.FinanceBatchDetail"/>
		<mapping class="com.code.aon.finance.FinanceTracking"/>
		<mapping class="com.code.aon.finance.Invoice"/>
		<mapping class="com.code.aon.finance.InvoiceAddress"/>
		<mapping class="com.code.aon.finance.InvoiceAttachment"/>
		<mapping class="com.code.aon.finance.InvoiceDetail"/>
		<mapping class="com.code.aon.finance.InvoiceTax"/>
		<mapping class="com.code.aon.finance.InvoicingGroup"/>
		<mapping class="com.code.aon.finance.InvoicingGroupDetail"/>

		<!-- AON-GEOZONE Mapping files -->		
		<mapping class="com.code.aon.geozone.GeoTree"/>
		<mapping class="com.code.aon.geozone.GeoZone"/>

		<!-- AON-PRODUCT Mapping files -->	
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Catalogue"/>
		<mapping class="com.code.aon.product.CatalogueCategory"/>
		<mapping class="com.code.aon.product.CatalogueItem"/>
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.ItemAttachment"/>
		<mapping class="com.code.aon.product.ItemPos"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>
		<mapping class="com.code.aon.product.ProductCategoryTree"/>
		<mapping class="com.code.aon.product.TariffCatalogue"/>
		
		<!-- AON-PURCHASE Mapping files -->	
		<mapping class="com.code.aon.purchase.Purchase"/>
		<mapping class="com.code.aon.purchase.PurchaseDetail"/>

		<!-- AON-REGISTRY Mapping files -->	
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RecordData"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryDirStaff"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryNote"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistryRelationship"/>
		<mapping class="com.code.aon.registry.Relationship"/>

		<!-- AON-SALES Mapping files -->	
		<mapping class="com.code.aon.sales.Sales"/>
		<mapping class="com.code.aon.sales.SalesDetail"/>

		<!-- AON-SELLER Mapping files -->	
		<mapping class="com.code.aon.seller.Seller"/>

		<!-- AON-SUPPLIER Mapping files -->	
		<mapping class="com.code.aon.supplier.Supplier"/>
		<mapping class="com.code.aon.supplier.SupplierSegment"/>

		<!-- AON-WAREHOUSE Mapping files -->		
		<mapping class="com.code.aon.warehouse.Delivery"/>
		<mapping class="com.code.aon.warehouse.DeliveryDetail"/>
		<mapping class="com.code.aon.warehouse.DeliveryDetailLabour"/>
		<mapping class="com.code.aon.warehouse.Income"/>
		<mapping class="com.code.aon.warehouse.IncomeDetail"/>
		<mapping class="com.code.aon.warehouse.Inventory"/>
		<mapping class="com.code.aon.warehouse.InventoryDetail"/>
		<mapping class="com.code.aon.warehouse.Stock"/>
		<mapping class="com.code.aon.warehouse.Warehouse"/>

		<!-- AON-EBACKOFFICE Mapping files -->		
		<mapping class="com.code.aon.ebackoffice.Eccatalogue"/>
		<mapping class="com.code.aon.ebackoffice.Ecconfig"/>
		<mapping class="com.code.aon.ebackoffice.Ectarget"/>

	</session-factory>

</hibernate-configuration>