/*************************/
/******  EDITTABLE  ******/
/*************************/
.aon-editDataTable-dateColumn{
	width:auto;
	text-align:center;
	}
/*************************/
/*******  ICONS  *********/
/*************************/	
.aon-icon-pdf{
	background:transparent url(../images/aon-icon-pdf-file.png) scroll left center no-repeat;
}

.aon-icon-excel{
	background:transparent url(../images/aon-icon-excel-file.png) scroll left center no-repeat;
}

.aon-icon-csv{
	background:transparent url(../images/aon-icon-csv-file.png) scroll left center no-repeat;
}