<ng-container *ngIf="haveData == true">
  <div class="breadcumb" *ngIf="this.currentRoute != 'selectEnterprise'">
      <div mat-button class="enterpriseSelector" (click)="this.dropdownMenuComponent.openDropdownMenu();">
        {{this.selectedEnterprise}}
        <app-icon shape="arrow_drop_down"></app-icon>
        <app-dropdown-menu #enterpriseSelector [menuItem]="this.menuItem"></app-dropdown-menu>
      </div>
      <div class="currentRoute" *ngIf="this.currentRoute != 'home'">
        {{this.currentRoute}}
        <app-icon shape="arrow_right"></app-icon>
      </div>
  </div>
</ng-container>