<ng-container *ngIf="haveData == true">
  <div id="breadcumb" *ngIf="this.currentRoute != 'selectEnterprise'">
    <div mat-button id="enterprise-selector" (click)="this.dropdownMenuComponent.openDropdownMenu();">
      {{this.selectedEnterprise}}
      <app-icon shape="arrow_drop_down"></app-icon>
      <app-dropdown-menu #enterpriseSelector [menuItem]="this.menuItem"></app-dropdown-menu>
    </div>
    <div class="current-route" *ngIf="this.currentRoute != 'home'">
      {{this.currentRoute}}
      <app-icon shape="arrow_right"></app-icon>
    </div>
  </div>
</ng-container>