<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
 
		<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>
		<property name="connection.service">jboss.admin:service=AonLdap</property>
		<property name="connection.datasource">java:comp/env/jdbc/AonCommercial</property>		
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- C3P0 Stuff -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">1900</property>
		<property name="c3p0.timeout">3600</property>
		<property name="c3p0.max_size">30</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.preferredTestQuery">select 1;</property>

		<!-- AON-REGISTRY Mapping files -->
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.Relationship"/>
		<mapping class="com.code.aon.registry.RegistryRelationship"/>
		<mapping class="com.code.aon.registry.RegistryNote"/>
		<mapping class="com.code.aon.registry.RegistryDirStaff"/>
		<mapping class="com.code.aon.registry.RecordData"/>
		
		<!-- AON-COMMERCIAL Mapping files -->
		<mapping class="com.code.aon.commercial.Offer"/>
		<mapping class="com.code.aon.commercial.OfferDetail"/>
		<mapping class="com.code.aon.commercial.Target"/>
		<mapping class="com.code.aon.commercial.CommercialActivity"/>
		<mapping class="com.code.aon.commercial.CommercialSegment"/>
		<mapping class="com.code.aon.commercial.CommercialTracking"/>
		<mapping class="com.code.aon.commercial.TargetItem"/>
		<mapping class="com.code.aon.commercial.TargetSegment"/>
		<mapping class="com.code.aon.commercial.TargetSeller"/>
		
		<!-- AON-MARKETING Mapping files -->
		<mapping class="com.code.aon.marketing.Action"/>
		<mapping class="com.code.aon.marketing.ActionTarget"/>
		<mapping class="com.code.aon.marketing.Campaign"/>
		<mapping class="com.code.aon.marketing.Question"/>
		<mapping class="com.code.aon.marketing.QuestionValue"/>
		<mapping class="com.code.aon.marketing.Survey"/>
		<mapping class="com.code.aon.marketing.SurveyQuestion"/>
		<mapping class="com.code.aon.marketing.SurveyResponse"/>
		<mapping class="com.code.aon.marketing.SurveyResponseDetail"/>
		<mapping class="com.code.aon.marketing.SurveyWorkflow"/>
		<mapping class="com.code.aon.marketing.TargetProfile"/>
		<mapping class="com.code.aon.marketing.MarketingTarget"/>		
		
		<!-- AON-CONFIG Mapping files -->		
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.WorkGroup"/>
		<mapping class="com.code.aon.config.UserWorkGroup"/>
		
		<!-- AON-CUSTOMER Mapping files -->		
		<mapping class="com.code.aon.customer.Customer"/>
		<mapping class="com.code.aon.customer.CustomerSegment"/>
		
		<!-- AON-GEOZONE Mapping files -->		
		<mapping class="com.code.aon.geozone.GeoTree"/>
		<mapping class="com.code.aon.geozone.GeoZone"/>			
	
		<!-- AON-PRODUCT Mapping files -->
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.Tax"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>		
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Tariff"/>
		<mapping class="com.code.aon.product.ItemAttachment"/>
		<mapping class="com.code.aon.product.ItemPos"/>
		<mapping class="com.code.aon.product.ItemTariff"/>		
		<mapping class="com.code.aon.product.ProductCategoryTree"/>
		<mapping class="com.code.aon.product.TaxDetail"/>		
		
		<!-- AON-FINANCE Mapping files -->
		<mapping class="com.code.aon.finance.PayMethod"/>
		
		<!-- AON-SALES Mapping files -->
		<mapping class="com.code.aon.sales.Seller"/>
				
		<!-- AON-COMPANY Mapping files -->
		<mapping class="com.code.aon.company.Company"/>				
		<mapping class="com.code.aon.company.WorkPlace"/>
		<mapping class="com.code.aon.company.WorkActivity"/>
		<mapping class="com.code.aon.company.resources.Employee"/>
		<mapping class="com.code.aon.company.resources.Resource"/>
				
	</session-factory>

</hibernate-configuration>