@import 'src/styles.scss';

  #file-upload{
    cursor          : pointer;
    width           : 100%;
    min-height      : 2.8rem;
    border          : .11rem dashed #e1e1e3;
    border-radius   : .2rem;
    display         : flex;
    align-items     : center;
    justify-content : center;
    box-sizing      : border-box;
  }

  #file-upload input[type="file"] {
    display: none;
  }

  :host {
    display : flex;
    width   : var(--widthHost);
    height  : var(--heightHost);
  }
