<!DOCTYPE 
hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

	<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>
	<property name="connection.service">jboss.admin:service=AonLdap</property>
	<property name="connection.datasource">java:comp/env/jdbc/NominastaDS</property>
	<property name="dialect">com.transtools.ctsql.hibernate.dialect.CtsqlDialect</property>
	<property name="show_sql">true</property>

    <!-- C3P0 Stuff -->
    <property name="c3p0.acquire_increment">1</property>
    <property name="c3p0.idle_test_period">1900</property>
    <property name="c3p0.timeout">3600</property>
    <property name="c3p0.max_size">30</property>
    <property name="c3p0.min_size">1</property>
    <property name="c3p0.max_statements">0</property>
    <property name="c3p0.preferredTestQuery">select 1;</property>

    <mapping package="com.code.aon.payroll" />
    <!-- TIPOS -->
    <mapping class="com.code.aon.payroll.tipos.Documento" />
    <mapping class="com.code.aon.payroll.tipos.Empresario" />
    <mapping class="com.code.aon.payroll.tipos.TipoCnae" />
    <mapping class="com.code.aon.payroll.tipos.TipoCnae2009" />
    <mapping class="com.code.aon.payroll.tipos.Registro" />
    <mapping class="com.code.aon.payroll.tipos.Incidencia" />
    <mapping class="com.code.aon.payroll.tipos.Autorizacion" />
    <mapping class="com.code.aon.payroll.tipos.Tipovia" />
    <!-- COTIZACIONES -->
    <mapping class="com.code.aon.payroll.cotizacion.PorcentajeMaestro" />
    <mapping class="com.code.aon.payroll.cotizacion.Porcentaje" />
    <mapping class="com.code.aon.payroll.cotizacion.Bonificacion" />
    <mapping class="com.code.aon.payroll.cotizacion.ElementoMaestro" />
    <mapping class="com.code.aon.payroll.cotizacion.Elemento" />
    <mapping class="com.code.aon.payroll.cotizacion.Base" />
    <mapping class="com.code.aon.payroll.cotizacion.Linbasec" />
    <mapping class="com.code.aon.payroll.cotizacion.OcupacionMaestro" />
    <mapping class="com.code.aon.payroll.cotizacion.Ocupacion" />
    <mapping class="com.code.aon.payroll.cotizacion.Epigrafe" />
    <mapping class="com.code.aon.payroll.cotizacion.Linepigr" />
    <mapping class="com.code.aon.payroll.cotizacion.CnaeMaestro" />
    <mapping class="com.code.aon.payroll.cotizacion.Cnae" />
    <mapping class="com.code.aon.payroll.cotizacion.Cnae2009Maestro" />
    <mapping class="com.code.aon.payroll.cotizacion.Cnae2009" />
    <!--DIVISAS -->
    <mapping class="com.code.aon.payroll.divisa.Divisa" />
    <mapping class="com.code.aon.payroll.divisa.LinDivisa" />
    <!-- ORGANISMOS Y ENTIDADES-->
    <mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Delegacion" />
    <mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Mutua" />
    <mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Linmutua" />
    <mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Entidad" />
    <mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Sucursal" />
    <mapping class="com.code.aon.payroll.cotizacion.CnaeMaestro" />
    <mapping class="com.code.aon.payroll.cotizacion.Cnae" />
    <!-- CONTRATOS -->
    <mapping class="com.code.aon.payroll.auxiliares.contratos.ContratosInternos" />
    <mapping class="com.code.aon.payroll.auxiliares.contratos.ContratosTc2" />
    <!-- CONVENIOS -->
    <mapping class="com.code.aon.payroll.auxiliares.convenios.Complemento" />
    <mapping class="com.code.aon.payroll.auxiliares.convenios.Convenio" />
    <mapping class="com.code.aon.payroll.auxiliares.convenios.Nivel" />
    <mapping class="com.code.aon.payroll.auxiliares.convenios.Pagaext" />
    <mapping class="com.code.aon.payroll.auxiliares.convenios.Categoria" />
    <mapping class="com.code.aon.payroll.auxiliares.convenios.Percniv" />
    <mapping class="com.code.aon.payroll.auxiliares.convenios.calendar.Calendario"/>
    <!-- GEOGRAFICAS -->
    <mapping class="com.code.aon.payroll.geograficas.Nacion" />
    <mapping class="com.code.aon.payroll.geograficas.Pais" />
    <mapping class="com.code.aon.payroll.geograficas.Provincia" />
    <mapping class="com.code.aon.payroll.geograficas.Comunidad" />
    <!-- IRPF -->
    <mapping class="com.code.aon.payroll.irpf.Cuota" />
    <mapping class="com.code.aon.payroll.irpf.Exclusion" />
    <mapping class="com.code.aon.payroll.irpf.Elemirpf" />
    <mapping class="com.code.aon.payroll.irpf.Linirpf" />
    <!-- IRPF FORAL-->
    <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionAlava" />
    <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionVizcaya" />
    <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionNavarra" />
    <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionGuipuzcoa" />
    <mapping class="com.code.aon.payroll.irpfforal.MinoracionesAlava" />
    <mapping class="com.code.aon.payroll.irpfforal.MinoracionesGuipuzcoa" />
    <mapping class="com.code.aon.payroll.irpfforal.MinoracionesVizcaya" />
    <mapping class="com.code.aon.payroll.irpfforal.MinoracionesNavarra" />
    <!-- SISTEMA RED -->
    <mapping class="com.code.aon.payroll.auxiliares.Colectivos" />
    <!-- ORGANISMOS Y ENTIDADES -->
    <mapping class="com.code.aon.payroll.auxiliares.Admon" />
    <!-- Clientes -->
    <mapping class="com.code.aon.payroll.principales.Avisos" />
    <mapping class="com.code.aon.payroll.principales.Cliente" />
    <mapping class="com.code.aon.payroll.principales.Domicilio" />
    <mapping class="com.code.aon.payroll.principales.Cuentas" />
	<!-- Empresa -->			
	<mapping class="com.code.aon.payroll.principales.empresa.Empresa"/>
	<mapping class="com.code.aon.payroll.principales.empresa.Actividad"/>
	<mapping class="com.code.aon.payroll.principales.empresa.Emprdom"/>
	<mapping class="com.code.aon.payroll.principales.empresa.Emprlban"/>
	<mapping class="com.code.aon.payroll.principales.empresa.Emprccc"/>
    <mapping class="com.code.aon.payroll.principales.empresa.Emprccos"/>
    <mapping class="com.code.aon.payroll.principales.empresa.Emprctra"/>
	<!--AVANZADAS-GESTEL -->			
    <mapping class="com.code.aon.payroll.avanzadas.gestel.Variable"/>
    <mapping class="com.code.aon.payroll.avanzadas.gestel.Linvariable"/>
    <!-- AVANZADAS - KARTEL -->
    <mapping class="com.code.aon.payroll.avanzadas.kartel.Percepcion" />
    <mapping class="com.code.aon.payroll.avanzadas.kartel.Linpercepcion" />
    <!-- PRINCIPALES-PERSONA -->
    <mapping class="com.code.aon.payroll.principales.persona.Embargo" />
    <mapping class="com.code.aon.payroll.principales.persona.Trabajador" />
    <mapping class="com.code.aon.payroll.principales.personas.Bonifica"/>
    <mapping class="com.code.aon.payroll.principales.personas.Nominait"/>
    <mapping class="com.code.aon.payroll.principales.personas.Parteit"/>
    <mapping class="com.code.aon.payroll.principales.personas.Parteconf"/>
    <mapping class="com.code.aon.payroll.principales.personas.Prcdivtrab"/>
    <mapping class="com.code.aon.payroll.principales.personas.Tipocont"/>
    <mapping class="com.code.aon.payroll.principales.personas.Trabajo"/>
    <mapping class="com.code.aon.payroll.principales.personas.Trabdto"/>
    <mapping class="com.code.aon.payroll.principales.personas.Trabinci"/>
    <!-- PRINCIPALES-PERSONA -->
	<mapping class="com.code.aon.payroll.principales.personas.Persona"/>
	<mapping class="com.code.aon.payroll.principales.personas.Otrperc"/>
	<mapping class="com.code.aon.payroll.principales.personas.Percep"/>
    <mapping class="com.code.aon.payroll.principales.personas.PercepId"/>
    <mapping class="com.code.aon.payroll.principales.autonomos.Autonomos"/>
    <mapping class="com.code.aon.payroll.principales.autonomos.Autbases"/>
	<!-- RESULTADOS - SALARIO -->			
    <mapping class="com.code.aon.payroll.resultados.salarios.Nominaex"/>
    <mapping class="com.code.aon.payroll.resultados.salarios.Nomdtoex"/>
	<mapping class="com.code.aon.payroll.resultados.salarios.Finidto"/>
	<mapping class="com.code.aon.payroll.resultados.salarios.Finindem"/>
	<mapping class="com.code.aon.payroll.resultados.salarios.Finipext"/>
	<mapping class="com.code.aon.payroll.resultados.salarios.Finiquito"/>   
	<!-- RESULTADOS - IRPF -->			
    <mapping class="com.code.aon.payroll.resultados.irpf.Impresos11x"/>
    <mapping class="com.code.aon.payroll.resultados.irpf.Impresos190"/>
    <mapping class="com.code.aon.payroll.resultados.irpf.LinImpresos190"/>
    <mapping class="com.code.aon.payroll.resultados.irpf.Calculo"/>
    <mapping class="com.code.aon.payroll.resultados.irpf.Lincalcu"/>
    <mapping class="com.code.aon.payroll.resultados.nomina.Nomina"/>
    <mapping class="com.code.aon.payroll.resultados.nomina.Nominadev"/>
    <mapping class="com.code.aon.payroll.resultados.nomina.Nomdto"/>  
    
    <!--AVANZADAS-HOJAS TRABAJO -->
    <mapping class="com.code.aon.payroll.avanzadas.hojastrabajo.Httrabajador" />
    <mapping class="com.code.aon.payroll.avanzadas.hojastrabajo.Httaviso" />
    <mapping class="com.code.aon.payroll.avanzadas.hojastrabajo.Httincidencia" />
    <mapping class="com.code.aon.payroll.avanzadas.hojastrabajo.Httcomplemento" />
    <mapping class="com.code.aon.payroll.avanzadas.hojastrabajo.Httbonificacion" />
    <!-- RESULTADOS -SEGUROS SOCIALES-->			
    <mapping class="com.code.aon.payroll.resultados.seguros.Lintc2"/>
    <mapping class="com.code.aon.payroll.resultados.seguros.Tc2"/>
    <mapping class="com.code.aon.payroll.resultados.seguros.Tc1"/>
    <!--AVANZADAS-COSTES -->			
    <mapping class="com.code.aon.payroll.avanzadas.simulacion.Costes"/>
    <mapping class="com.code.aon.payroll.avanzadas.simulacion.Lbonifica"/>
    <mapping class="com.code.aon.payroll.avanzadas.simulacion.Lcomunica"/>
    <!--CALENDAR -->			
    <mapping class="com.code.aon.payroll.auxiliares.convenios.calendar.Calendario"/>
   
  </session-factory>
</hibernate-configuration>
