@use '../variables' as v;

// Variables estandar boton
$btn-padding       : v.$px-8 v.$px-16;
$btn-width         : v.$pct-100;
$btn-height        : v.$px-40;
$btn-cursor        : pointer;
$btn-display       : flex;
$btn-text-align    : center;
$btn-gap           : v.$px-10;
$text-transform-l  : lowercase;
$text-transform-u  : uppercase;

$iconbutton-padding : unset;
$iconbutton-margin  : unset;

// ESTILO BOTON
button {
  width           : $btn-width;
  height          : v.$px-40;
  padding         : $btn-padding;
  border-radius   : v.$border-radius;
  cursor          : $btn-cursor;
  display         : $btn-display;
  justify-content : $btn-text-align;
  text-align      : $btn-text-align;
  align-items     : $btn-text-align;
  gap             : $btn-gap;
  text-transform  : $text-transform-l;
  &::first-letter{
    text-transform : $text-transform-u;
  }
  // esta entero en _theme por que es un poco especial... al ser distinto
/*  &.aonMagicButton{}*/
  // Boton que se inyecta en los input
  &.aonIconButton{
    padding : $iconbutton-padding;
    margin  : $iconbutton-margin;
  }
}

// Boton icon - si tiene disable
aon-icon-button{
  &[disabled]{
    cursor: not-allowed;
    opacity: 0.5;
    button{
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

// visualizador en facturas
#aonViewerButtonsDiv{
  // por ahora -- seria crear una clase
  aon-icon-button{
    button{
      border-radius  : v.$pct-100;
      width          : v.$px-40;
      height         : v.$px-40;
      display        : flex;
      justify-content: center;
      align-items    : center;
    }
  }
}