@use '../variables' as v;

// Variables estandar boton
$btn-padding       : .5rem 1rem;
$btn-border-radius : v.$border-radius;
$btn-border-width  : v.$border-width-1;
$btn-border-color  : v.$border-color-transparent; 
$btn-border-style  : v.$border-style-solid; 
$btn-width         : v.$width-100;
$btn-height        : v.$height-100;
$btn-cursor        : v.$cursor-pointer;
$btn-display       : v.$display-inline-block;
$btn-text-align    : v.$text-align-center;
$btn-gap           : v.$gap-10;

$magicbutton-box-sizing   : v.$box-sizing-borderbox; 
$magicbutton-border-color : v.$border-color-silver; 
$magicbutton-border-width : v.$border-width-1; 
$magicbutton-border-style : v.$border-style-solid; 

$iconbutton-padding : v.$padding-unset;
$iconbutton-margin  : v.$margin-unset;

// ESTILO BOTON
button {
  width            : $btn-width;
  padding          : $btn-padding;
  font-size        : v.$font-16;
  border-radius    : $btn-border-radius;
  border           : none;
  cursor           : $btn-cursor;
  display          : $btn-display;
  text-align       : $btn-text-align;
  gap              : $btn-gap;
  text-transform   : v.$text-transform-lowercase;
  &::first-letter{
    text-transform : v.$text-transform-uppercase;
  }
  
  &.aonMagicButton{
    box-sizing : $magicbutton-box-sizing;
    border     : $magicbutton-border-width $magicbutton-border-style $magicbutton-border-color;
  }

  // Boton que se inyecta en los input
  &.aonIconButton{
    padding : $iconbutton-padding;
    margin  : $iconbutton-margin;
  }
}
