@use '../variables' as v;

aon-card{
  display       : block;
  border-radius : v.$border-radius;
  
  .aonCardTitle{
    section{
      padding        : v.$px-12 v.$padding;
      font-family    : v.$font-primary-semibold;
      font-size      : v.$font-size-h4;
      line-height    : v.$line-height-h4;
      letter-spacing : v.$letter-spacing-h4;
      &:empty {
        display : none;
      }
    }
  }
  .aonCardContent{
    padding : v.$padding;
    .card-list{
      display: grid;
      gap    : v.$gap;
      .card-list-row{
        display     : flex;
        align-items : center;
        gap         : v.$px-8;
      }
    }
  }
  // Listado como si fueran botoones
  &.card-list-buttom{
    .aonCardContent{
      padding : v.$px-0;
      .buttoms{
        padding : v.$px-16 v.$px-0 v.$px-16 v.$px-0;
        .buttom{
          padding     : v.$px-8 v.$padding;
          display     : flex;
          align-items : center;
          gap         : v.$px-8;
          cursor      : pointer;
        }
      }
    }
  }
}