@use '../variables' as v;

$gap-min: calc(v.$gap / 2);

aon-card{
  display       : block;
  border-radius : v.$border-radius;
  
  .aonCardTitle{
    section{
      padding        : v.$px-12 v.$padding;
      font-family    : v.$font-primary-semibold;
      font-size      : v.$font-size-h4;
      line-height    : v.$line-height-h4;
      letter-spacing : v.$letter-spacing-h4;
      &:empty {
        display : none;
      }
    }
  }
  .aonCardContent{
    padding : v.$padding;
    p{
      margin: v.$px-0;
    }
    ul{
      margin      : v.$px-0;
      padding-left: v.$padding;
    }
    .card-footer {
      display    : flex;
      align-items: flex-end;
      gap        : $gap-min;
    }
    .right-align{
      justify-content: flex-end;
    }
  }
  // Listado como si fueran botones
  &.card-list-buttom{
    .aonCardContent{
      padding : v.$px-0;
      .buttoms{
        padding : v.$px-16 v.$px-0 v.$px-16 v.$px-0;
        .buttom{
          padding     : v.$px-8 v.$padding;
          display     : flex;
          align-items : center;
          gap         : $gap-min;
          cursor      : pointer;
        }
      }
    }
  }
}