@use '../variables' as v;

aon-card{
  display       : block;
  border-radius : v.$border-radius;
  .aonCard{
    .aonCardTitle{
      section{
        padding     : v.$px-16 v.$padding;
        font-weight : v.$font-weight-medium;
        font-size   : v.$px-18;
        &:empty {
          display : none;
        }
      }
    }
    .aonCardContent{
      >div{
        padding : v.$px-16 v.$px-0 v.$px-16 v.$px-0;
        .card-list, .card-list-buttom{
          padding     : v.$px-8 v.$padding v.$px-8 v.$padding;
          display     : flex;
          align-items : center;
          gap         : v.$px-8;
        }
        .card-list-buttom{
          cursor : pointer;
        }
      }
    }
  }
}