@use '../variables' as v;

aon-dialog{
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100vw;
  height  : 100vh;
  z-index : v.$num-99;
  background-color: #cbd5e180;
  // Posicionar contenido en el centro
  display       : flex;
  align-items   : center;
  justify-content: center;
  // No mostrar
  &.aon-dialog-hidden{
    display: none;
  }
  // Contenido
  .aonDialog{
    background   : white;
    box-shadow   : 0 v.$px-10 v.$px-30 rgba(0, 0, 0, 0.3);
    
    width        : v.$pct-90;
    border-radius: v.$border-radius;
    max-width    : v.$px-800;
    max-height   : 90vh;
    overflow-y   : auto;
    transition   : all 0.3s ease;
    .dialog-head{
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      padding        : v.$px-12 v.$padding;
      font-family    : v.$font-primary-semibold;
      font-size      : v.$font-size-h4;
      line-height    : v.$line-height-h4;
      letter-spacing : v.$letter-spacing-h4;
      
      /*border-bottom: v.$px-1-6 solid $color-300;*/
      border-bottom: v.$px-1-6 solid #cbd5e1;
      
      &:empty {
        display : none;
      }
    }
    .dialog-body{
      padding: v.$padding;
      display: grid;
      gap    : v.$gap;
      
      .dialog-body-content{
        display       : flex;
        flex-direction: column;
        gap           : 1rem;
      }
      .dialog-body-action{
        display        : flex;
        gap            : 1rem;
        justify-content: flex-end;
        button{
          min-width: 27%;
          width    : unset;
        }
      }
    }
  }
}
