@use '../variables' as v;

// Mapa con iconos y texto
$icons: (
  "visibility"    : '../icons/eye.svg',
  "visibility_off": '../icons/eye-off.svg'
);

// Estilos comunes para <i> (el texto por defecto)
aon-icon-button i {
  font-size: 16px; /* Tamaño de texto por defecto */
  color: #CBD5E1; /* Color del texto por defecto */
  position: relative; /* Necesario para el posicionamiento de iconos */
}

// Estilos para los iconos usando el mapa
@each $icon-name, $icon-data in $icons {
  aon-icon-button[icon="#{$icon-name}"] i {
    font-size: 0; /* Ocultar el texto */
  }

  aon-icon-button[icon="#{$icon-name}"] i::before {
    content : #{$icon-name}; /* Cargar el icono SVG */
    width   : 16.67px;
    height  : 16.67px;
  }

  aon-icon-button[icon="#{$icon-name}"] i {
    &::after {
      width             : 1.5rem;
      height            : 1.5rem;
      content           : '';
      display           : inline-flex;
      mask              : url(#{$icon-data}) no-repeat center;
      mask-size         : contain;
      -webkit-mask      : url(#{$icon-data}) no-repeat center;
      -webkit-mask-size : contain;
      background-color  : #bd9fe9;
    }
  }
}
