@use '../variables' as v;
@use "sass:map";

$iconbutton-font-size        : v.$px-16;
$position                    : relative;
$iconbutton-font-size-hidden : v.$px-0;
$icon-size                   : v.$px-24;
$icon-size-x                 : v.$px-48;
$content                     : '';
$display                     : inline-flex;
$mask                        : no-repeat center;
$mask-size                   : contain;

// Mapa con iconos y texto
$icons: (
  "aon"                  : '../icons/aon.svg',
  "visibility"           : '../icons/eye.svg',
  "visibility_off"       : '../icons/eye-off.svg',
  "settings"             : '../icons/settings.svg',
  "close"                : '../icons/x-square.svg',
  "open_in_new"          : '../icons/maximize-2.svg',
  "language"             : '../icons/globe.svg',
  "palette"              : '../icons/palette.svg',
  "account_circle"       : '../icons/user.svg',
  "notifications"        : '../icons/bell.svg',
  "notification_add"     : '../icons/bell-plus.svg',
  "help_outline"         : '../icons/help-circle.svg',
  "business"             : '../icons/building.svg',
  "apartment"            : '../icons/building.svg',
  "home"                 : '../icons/home.svg',
  "delete"               : '../icons/trash-2.svg',
  "edit"                 : '../icons/edit.svg', 
  "add"                  : '../icons/plus.svg',
  "award"                : '../icons/award.svg',
  "push_pin"             : '../icons/pin.svg',
  "aon_pin_off"          : '../icons/pin-off.svg',
  "label"                : '../icons/tag.svg',
  "move_to_inbox"        : '../icons/archive.svg',
  "filter_list"          : '../icons/filter.svg',
  "filter_off"          : '../icons/filter-off.svg',
  "arrow_back"           : '../icons/arrow-left.svg',
  "plus-circle"          : '../icons/plus-circle.svg',
  "x-circle"             : '../icons/x-circle.svg',
  "file-plus-2"          : '../icons/file-plus-2.svg',
  "user-plus"            : '../icons/user-plus.svg',
  "upload-cloud"         : '../icons/upload-cloud.svg',
  "coins"                : '../icons/coins.svg',
  "message-square"       : '../icons/message-square.svg',
  "file-up"              : '../icons/file-up.svg',
  "file-down"            : '../icons/file-down.svg',
  "file-plus"            : '../icons/file-plus.svg',
  "file-minus"           : '../icons/file-minus.svg',
  "sticker"              : '../icons/sticker.svg',
  "more_vert"            : '../icons/more-vertical.svg',
  "file_copy"            : '../icons/copy.svg',
  "content_copy"         : '../icons/copy.svg',
  "paperclip"            : '../icons/paperclip.svg',
  "calendar_today"       : '../icons/calendar-days.svg',
  "arrow_drop_up"        : '../icons/chevron-up.svg',
  "expand_less"          : '../icons/chevron-up.svg',
  "chevron-down"         : '../icons/chevron-down.svg',
  "keyboard_arrow_down"  : '../icons/chevron-down.svg',
  "arrow_drop_down"      : '../icons/chevron-down.svg',
  "expand_more"           : '../icons/chevron-down.svg',
  "chevron-right"        : '../icons/chevron-right.svg',
  "keyboard_arrow_left"  : '../icons/chevron-left.svg',
  "keyboard_arrow_right" : '../icons/chevron-right.svg',
  "check"                : '../icons/check.svg',
  "done"                 : '../icons/check.svg',
  "autorenew"            : '../icons/refresh-cw.svg',
  "refresh"              : '../icons/rotate-cw.svg',
  "remove_circle"        : '../icons/minus-circle.svg',
  "save"                 : '../icons/save.svg',
  "email"                : '../icons/mail.svg',
  "print"                : '../icons/printer.svg',
  "download"             : '../icons/download.svg',
  "zoom_out_map"         : '../icons/expand.svg',
  "zoom_in"              : '../icons/zoom-in.svg',
  "zoom_out"             : '../icons/zoom-out.svg',
  "file_download"        : '../icons/download.svg',
  "filter_alt"           : '../icons/filter.svg',
  "search"               : '../icons/search.svg',
  "excel"                : '../icons/file-x.svg',
  "aon_excel"            : '../icons/file-x.svg',
  "picture_as_pdf"       : '../icons/file-pdf.svg',
  "room"                 : '../icons/map-pin.svg',
  "add_location"         : '../icons/map-pin-plus.svg',
  "link"                 : '../icons/link-2.svg',
  "link_off"             : '../icons/link-2-off.svg',
  "privacy_tip"          : '../icons/shield-alert.svg',
  "article_person"       : '../icons/file-text.svg',
  "list_alt"             : '../icons/list.svg',
  "license"              : '../icons/award.svg',
  "archive"              : '../icons/archive.svg',
  "error"                : '../icons/info.svg',
  "check_circle"         : '../icons/check-circle.svg',
  "check_circle_outline" : '../icons/check-circle.svg',
  "bar_chart"            : '../icons/bar-chart.svg',
  "person"               : '../icons/user.svg',
  "person_add"           : '../icons/user-plus.svg',
  "people"               : '../icons/users.svg',
  "people_alt"           : '../icons/users.svg',
  "group_off"            : '../icons/users-off.svg',
  "menu"                 : '../icons/menu.svg',
  "arrow-left-circle"    : '../icons/arrow-left-circle.svg',
  "arrow-right-circle"   : '../icons/arrow-right-circle.svg',
  "qr_code_scanner"      : '../icons/qr-code.svg',
  "highlight_off"        : '../icons/x-circle.svg',
  "loader"               : '../icons/loader.svg',
  "file"                 : '../icons/file.svg',
  "file-image"           : '../icons/file-image.svg',
  "file-text"            : '../icons/file-text.svg',
  "file-x"               : '../icons/file-x.svg',
  "file-pdf"             : '../icons/file-pdf.svg',
  "aon_pdf"              : '../icons/file-pdf.svg',
  "file-pie-chart"       : '../icons/file-pie-chart.svg',
  "cancel"               : '../icons/x-circle.svg',
  "assignment"           : '../icons/clipboard-list.svg',
  "work"                 : '../icons/briefcase.svg',
  "report"               : '../icons/alert-octagon.svg',
  "swap_calls"           : '../icons/swap_calls.svg',
  "draw"                 : '../icons/draw.svg',
  "face"                 : '../icons/face.svg',
  "building-off"         : '../icons/building-off.svg',
  "aon_branch"           : '../icons/git-branch-plus.svg',
  "send"                 : '../icons/send.svg',
  "open_in_full"         : '../icons/maximize-2.svg',
  "fork_left"            : '../icons/git-branch.svg',
  "group_add"            : '../icons/user-plus.svg',
  "block"                : '../icons/user-x.svg',
  "support_agent"        : '../icons/headphones-micro.svg',
  "social_distance"      : '../icons/user-suplant.svg',
  "forward_to_inbox"     : '../icons/mail-plus.svg',
  "share"                : '../icons/share-2.svg',
  "Alternate_Email"      : '../icons/at-sign.svg',
  "code"                 : '../icons/code.svg',
  "security"             : '../icons/shield.svg',
  "aon_ocr"              : '../icons/scan.svg',
  "aon_bank"             : '../icons/dollar-sign.svg',
  "aon_app"              : '../icons/aon.svg',
  "toggle_on"            : '../icons/toggle-right.svg',
  "toggle_off"           : '../icons/toggle-left.svg',
  /* texarea con opciones */
  "format_bold"         : '../icons/bold.svg',
  "format_italic"       : '../icons/italic.svg',
  "format_underlined"   : '../icons/underline.svg',
  "format_color_text"   : '../icons/text.svg',
  "format_list_numbered": '../icons/list-ordered.svg',
  "format_quote"        : '../icons/quote.svg',
  "format_size"         : '../icons/heading.svg',
  "format_align_left"   : '../icons/align-left.svg',
  "format_align_right"  : '../icons/align-right.svg',
  "format_align_center" : '../icons/align-center.svg',
  "format_align_justify": '../icons/align-justify.svg',
  "format_color_fill"   : '../icons/paint-bucket.svg',
  "format_list_bulleted": '../icons/list.svg',
  "playlist_add_circle" : '../icons/list-check.svg',
  "format_indent_decrease": '../icons/outdent.svg',
  "format_indent_increase": '../icons/indent.svg',
  "strikethrough_s"     : '../icons/strikethrough.svg',
  "format_strikethrough": '../icons/eraser.svg',
  "insert_link"         : '../icons/link-2.svg',
  "html"                : '../icons/code.svg',
  "fullscreen"          : '../icons/expand.svg',
  "attach_file"         : '../icons/paperclip.svg',
  "aon_saltra"          : '../icons/saltra.svg',
  "aon_convenios"       : '../icons/convenios.svg',
  "aon_custom"          : '../icons/convenios.svg',
  "aon_aula"            : '../icons/aula.svg',
  "seres"               : '../icons/seres.svg',
  "360"                 : '../icons/archive-restore.svg',
  "delete_forever"      : '../icons/trash-2.svg',
  /* nombres que le han puesto en los iconos de la izquierda... */
  "widgets"            : '../icons/box.svg',
  "add_circle_outline" : '../icons/plus-square.svg',
  "monitoring"         : '../icons/file-bar-chart.svg',
  "folder_open"        : '../icons/folder-open.svg',
  "calculate"          : '../icons/calculator.svg',
  "account_balance"    : '../icons/building-2.svg',
  "group"              : '../icons/users.svg',
  "alarm"              : '../icons/timer.svg',
  "pinboard"           : '../icons/bookmark.svg',
  "speaker_notes"      : '../icons/sticky-note.svg',
  "trolley"            : '../icons/package.svg',
  "info"               : '../icons/info.svg',
  /* nombres que le han puesto en los iconos de arriba... */
  "euro_symbol"     : '../icons/euro.svg',
  "note_stack"      : '../icons/files.svg',
  "ads_click"       : '../icons/target.svg',
  "construction"    : '../icons/settings-2.svg',
  "handshake"       : '../icons/heart-handshake.svg',
  "business_center" : '../icons/briefcase.svg',
  /* nombres que le han puesto en los iconos de la derecha - usuario... */
  "mail"           : '../icons/mail.svg',
  "phone"          : '../icons/phone.svg',
  "assignment_ind" : '../icons/user.svg',
  "logout"         : '../icons/log-out.svg',
  /* nombres que le han puesto en los iconos de la derecha - help... */
  "school"   : '../icons/graduation-cap.svg',
  "rss_feed" : '../icons/bell.svg',
  "schedule" : '../icons/clock.svg',
  /* nombres que le han puesto en los iconos de la derecha - notificaciones... */
  // aun no estan funcionando, hay que modificar el icono en el js (el de la izquierda)
  "aon_new_documental" : '../icons/folder-open.svg',
  "aon_new_messenger"  : '../icons/message-square.svg',
  "aon_new_payroll"    : '../icons/SeguridadSocial.svg',
  "aon_new_invoice"    : '../icons/file-euro.svg'
);

// Estilos para los iconos usando el mapa
@each $icon-name, $icon-data in $icons {
  aon-icon-button[icon="#{$icon-name}"]{
    height : $icon-size;
    width  : $icon-size;
    button{
      width  : $icon-size;
      height : $icon-size;
      aon-icon {
        font-size : $iconbutton-font-size;
        position  : $position;
        font-size : $iconbutton-font-size-hidden; /* Ocultar el texto */
        width     : $icon-size;
        height    : $icon-size;
        &::before {
          content : #{$icon-name}; /* Cargar el icono SVG */
          width   : $icon-size;
          height  : $icon-size;
        }
        &::after {
          width             : $icon-size;
          height            : $icon-size;
          content           : $content;
          display           : $display;
          mask              : url(#{$icon-data}) $mask;
          mask-size         : $mask-size;
          -webkit-mask      : url(#{$icon-data}) $mask;
          -webkit-mask-size : $mask-size;
        }
      }
    }
  }
  i[data-icon="#{$icon-name}"], aon-icon[data-icon="#{$icon-name}"], aon-icon[icon="#{$icon-name}"]{
    display          : inline-block;
    width            : $icon-size;
    height           : $icon-size;
    font-size        : v.$px-0; // ocultar texto si queda alguno
    background-color : currentColor;

    // Mas grande
    &[icon="social_distance"]{
      height : $icon-size-x;
      width  : $icon-size-x;
    }

    mask: url(#{$icon-data}) $mask;
    mask-size         : $mask-size;
    -webkit-mask      : url(#{$icon-data}) $mask;
    -webkit-mask-size : $mask-size;
  }
}
// Esto ahi que cambiarlo (con mas tiempo)
// solo para la clase loading por ahora
.aonCompanyFilterLoading, .AONCOMPANYFILTERLOADING{
  display: flex;
  gap    : v.$gap-min;
  &::after {
    content     : "";
    width       : $icon-size;
    height      : $icon-size;
    display     : block;
    mask        : url(map.get($icons, "loader")) center / contain no-repeat;
    -webkit-mask: url(map.get($icons, "loader")) center / contain no-repeat;
  }
}