@use '../variables' as v;

aon-info{
	margin-left: auto;
	.tooltip {
		position: fixed;
		background: rgba(0, 0, 0, 0.85);
		color: #fff;
		border-radius: v.$border-radius;
		padding: v.$padding-min v.$padding;
		z-index: v.$num-1;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.2s ease;
	}
}
