@use '../variables' as v;

// Generales
$padding-top    : v.$px-8;
$padding-right  : v.$px-12;
$padding-bottom : v.$px-8;
$padding-left   : v.$px-12;
$padding: $padding-top $padding-right $padding-bottom $padding-left;
// .aonInputBox
$inputbox-display : grid;
// .aonInputBoxLabel
$inputboxlabel-display        : flex;
$inputboxlabel-flex-direction : column-reverse;
$inputboxlabel-width          : v.$pct-100;
$inputboxlabel-gap            : v.$px-6;
// input
$input-height     : v.$input-height;
$input-box-sizing : border-box;
// span
$span-height      : v.$px-24;
$span-display     : flex;
$span-align-items : center;
// .aonInputIconLabel
$inputiconlabel-display         : flex;
$inputiconlabel-position        : relative;
$inputiconlabel-justify-content : flex-end;
// aonIconButton
$iconbutton-height        : v.$px-0;
$iconbutton-align-content : center;
// button
$button-height : v.$px-24;
$button-width  : v.$px-24;
// icono
$icon-padding-right : v.$px-40;
$icon-padding-left  : v.$px-40;

aon-input, aon-new-input, aon-new-number, aon-new-suggestion,
aon-new-date, aon-new-select, aon-new-textarea, aon-iban{
  &[visible="false"] {
    display: none;
  }
  .aonInputBox, .aonTextareaBox{
    display : $inputbox-display;
    
    .aonInputBoxLabel, .aonTextareaBoxLabel{
      display        : $inputboxlabel-display;
      flex-direction : $inputboxlabel-flex-direction;
      width          : $inputboxlabel-width;
      max-width      : $inputboxlabel-width;
      gap            : $inputboxlabel-gap;
      box-sizing     : border-box;
      overflow       : hidden;
      input{
        height        : $input-height;
        padding       : $padding;
        border-radius : v.$border-radius;
        box-sizing    : $input-box-sizing;
      }
      textarea{
        padding       : $padding;
        border-radius : v.$border-radius;
        box-sizing    : $input-box-sizing;
      }
      span{
        height      : $span-height;
        display     : $span-display;
        align-items : $span-align-items;
      }
    }
    // El Boton que se inyecta en el label esta configurado en _buttons.css
    .aonInputIconLabel{
      display         : $inputiconlabel-display;
      position        : $inputiconlabel-position;
      justify-content : $inputiconlabel-justify-content;
      top             : -($input-height - $padding-top);
      right           : calc($icon-padding-right / v.$num-4);
      aon-icon-button {
        height        : $iconbutton-height;
        align-content : $iconbutton-align-content;
        button{
          width  : $button-height;
          height : $button-width;
        }
        .aon-spinner-input-loading{
          width         : v.$px-16;
          height        : v.$px-16;
          border-radius : v.$pct-100;
          animation     : loaderSpinInput v.$t-1 linear infinite;
        }
        @keyframes loaderSpinInput {
          0% { transform: rotate(v.$deg-0); }
          100% { transform: rotate(v.$deg-360); }
        }
      }
    }
  }
  // Mensaje de error en los input
  .aonInputMsg{
    padding-left : $padding-left;
  }
  // Este input tiene un icono, por lo que tiene un padding distinto
  &[data-icon="true"]{
    .aonInputBox .aonInputBoxLabel input{
      padding-right : $icon-padding-right;
    }
  }
  //
  // Datepicker
  //
  .aonDatepicker{
    position  : absolute;
    display   : grid;
    gap       : v.$gap-min;
    visibility: hidden;
    &.is-visible{
      visibility    : visible;
      padding       : $padding;
      border-radius : v.$border-radius;
      z-index       : v.$num-1;
      .date-picker-title{
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding-bottom : v.$gap-min;
        .date-picker-title-icon{
          width          : v.$px-34;
          height         : v.$px-34;
          border-radius  : v.$pct-100;
          display        : flex;
          justify-content: center;
          align-items    : center;
          position		   : unset;
        }
        .datepicker-month, .datepicker-year{
          cursor        : pointer;
          border-radius : v.$border-radius;
          padding       : calc(v.$padding-min / v.$num-2) v.$padding-min;
        }
      }
      table{
        border-collapse: separate;
        border-spacing : v.$gap-min;
        tr{
          display: table-row !important;
        }
        .day-content-title{
          font-family: v.$font-primary-semibold;
        }
        .day-content-title, .day-content{
          width          : v.$px-34;
          height         : v.$px-34;
          padding        : v.$px-0;
          display        : flex;
          justify-content: center;
          align-items    : center;
          cursor         : pointer;
          border-radius  : v.$pct-100;
        }
        .months-btn, .year-btn{
          cursor        : pointer;
          border-radius : v.$border-radius;
          padding       : calc(v.$padding-min / v.$num-2) v.$padding-min;
        }
      }
    }
  }
}
//
// Select
//
aon-new-select{
  .aonInputListOptions{
    position  : absolute;
    display   : grid;
    gap       : v.$gap-min;
    visibility: hidden;
    display   : none;
    &.is-visible{
      visibility    : visible;
      display       : block;
      border-radius : v.$border-radius;
      z-index       : v.$num-1;
      padding       : $padding;
      max-height    : v.$px-222;
      overflow-y    : auto;
      overflow-x    : hidden;
      ul{
        list-style: none;
        margin    : v.$px-0;
        padding   : v.$px-0;
        display   : grid;
        gap       : v.$gap-min;
        li{
          padding : $padding;
          cursor  : pointer;
          display : flex;
          gap     : v.$gap-min;
          border-radius : v.$border-radius;
          div{
            display: flex;
            &:first-child{
              width : v.$px-24;
              height: v.$px-24;
            }
          }
        }
      }
    }
  }
}
// Padding para el icono
aon-new-date, aon-new-select, aon-iban{
  .aonInputBox .aonInputBoxLabel input{
    padding-right : $icon-padding-right;
  }
}
// Buscar INPUT
aon-search{
  position   : relative;
  display    : flex;
  align-items: center;
  gap        : v.$gap-min;
  >span{
    aon-icon-button{
      position: absolute;
      top     : $padding-top;
      left    : $padding-left;
    }
    aon-new-input{
      .aonInputBox .aonInputBoxLabel{
        input{
          padding-left: $icon-padding-left;
        }
        span{
          display: none;
        }
      }    
    }
  }
  >.aonInputListOptions{
    display      : none;
    position     : absolute;
    top          : $input-height;
    z-index      : v.$px-1;
    padding      : v.$padding;
    gap          : v.$gap-min;
    border-radius: v.$border-radius;
    &:last-child{
      gap: v.$gap;
    }
    &.is-visible{
      display: block;
    }
    .search-button{
      display: flex;
      gap    : v.$gap-min;
    }
  }
}
// aon-new-suggestion
// Input que busca mientras escribes, el DIV donde muestras, 
// no esta en el componente. Se tiene que reacer
.suggestion-list{
  display   : none;
  visibility: hidden;
  &.is-visible{
    display      : block;
    visibility   : visible;
    position     : absolute;
    box-sizing   : border-box;
    border-radius: v.$border-radius;
    padding      : $padding;
    z-index      : v.$num-1;
    max-height   : v.$px-222;
    overflow-y   : auto;
    overflow-x   : hidden;
    ul{
      list-style-type : none;
      margin          : v.$px-0;
      padding         : v.$px-0;
      display         : grid;
      gap             : v.$gap-min;
      li{
        padding       : $padding;
        cursor        : pointer;
        display       : flex;
        gap           : v.$gap-min;
        border-radius : v.$border-radius;
      }
    }
  }
}
// Submenu que sale en el IBAN
aon-iban{
  position: relative;
  display : block;
  width   : v.$pct-100;
  .info-iban-modal{
    position     : absolute;
    box-sizing   : border-box;
    padding      : v.$padding;
    width        : v.$pct-100;
    border-radius: v.$border-radius;
    z-index      : v.$num-1;
    .aonInputBox .aonInputBoxLabel input{
      padding-right : $padding-right;
    }
  }
}
