@use '../variables' as v;

aon-loader{
  //
  // Barra de progreso ///////////////////////////////////////////////////////////////////////////////
  .aonProgress {
    display : none;
    height  : v.$px-3;
    &:before {
      display           : flex;
      height            : v.$px-3;
      width             : v.$pct-100;
      content           : "";
      animation         : running-progress v.$t-2 cubic-bezier(0.4, 0, 0.2, 1) infinite;
      -webkit-animation : running-progress v.$t-2 cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    @keyframes running-progress {
      100% {
        margin-left  : v.$pct-100;
        margin-right : v.$px-0;
      }
    }
  }
  //
  // spinner ///////////////////////////////////////////////////////////////////////////////
  .aonLoader {
    position  : relative;
    height    : v.$px-20;
    width     : v.$px-20;
    display   : inline-block;
    animation : around v.$t-5-4 infinite;

    &::after, &::before {
      content       : "";
      background    : transparent;
      position      : absolute;
      display       : inline-block;
      width         : v.$pct-100;
      height        : v.$pct-100;
      border-width  : v.$px-2;
      border-color  : #333 #333 transparent transparent;
      border-style  : solid;
      border-radius : v.$px-20;
      box-sizing    : border-box;
      top           : v.$px-0;
      left          : v.$px-0;
      animation     : around v.$t-07 ease-in-out infinite;
    }

    &::after {
      animation  : around v.$t-07 ease-in-out v.$t-01 infinite;
      background : transparent;
    }

  }

  @keyframes around {
    0% {
      transform: rotate(v.$deg-0)
    }
    100% {
      transform: rotate(v.$deg-360)
    }
  }
//
// Bounce  ///////////////////////////////////////////////////////////////////////////////
  .aonLoading {
    position: fixed;
    z-index: v.$num-99999;
    height: v.$px-48;
    overflow: show;
    margin: auto;
    top: v.$px-0;
    left: v.$px-0;
    bottom: v.$px-0;
    right: v.$px-0;
    display: none;
    text-align: center;

    &:before {
      content: "";
      display: block;
      position: fixed;
      top: v.$px-0;
      left: v.$px-0;
      width: v.$pct-100;
      height: v.$pct-100;
      background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
      background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
      background: -webkit-radial-gradient(rgba(250, 250, 250, 0.8), rgba(240, 240, 240, 0.8));
    }

    > div {
      width: v.$px-18;
      height: v.$px-18;
      background-color: rgb(0, 36, 105);
      border-radius: v.$pct-100;
      display: inline-block;
      -webkit-animation: sk-bouncedelay v.$t-1-4 infinite ease-in-out both;
      animation: sk-bouncedelay v.$t-1-4 infinite ease-in-out both;
    }

    .bounce1 {
      -webkit-animation-delay: v.$t-neg032;
      animation-delay: v.$t-neg032;
    }

    .bounce2 {
      -webkit-animation-delay: v.$t-neg016;
      animation-delay: v.$t-neg016;
    }
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(v.$scl-0);
    }
    40% {
      -webkit-transform: scale(v.$scl-1);
    }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(v.$scl-0);
      transform: scale(v.$scl-0);
    }
    40% {
      -webkit-transform: scale(v.$scl-1);
      transform: scale(v.$scl-1);
    }
  }

}
