@use '../variables' as v;

aon-loader{
  // Barra de progreso
  .aonProgress {
    display: none;
    height : v.$px-3;
    &:before {
      display   : flex;
      height    : v.$px-3;
      width     : v.$pct-100;
      content   : "";
      animation : running-progress v.$t-2 cubic-bezier(0.4, 0, 0.2, 1) infinite;
      -webkit-animation: running-progress v.$t-2 cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
    @keyframes running-progress {
      100% {
        margin-left : v.$pct-100;
        margin-right: v.$px-0;
      }
    }
  }


  // spinner
  .aonLoader {
    position: relative;
    height: v.$px-20;
    width: v.$px-20;
    display: inline-block;
    animation: around v.$t-5-4 infinite;
  }

  @keyframes around {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(360deg)
    }
  }

  .aonLoader::after, .aonLoader::before {
    content: "";
    background: transparent;
    position: absolute;
    display: inline-block;
    width: v.$pct-100;
    height: v.$pct-100;
    border-width: v.$px-2;
    border-color: #333 #333 transparent transparent;
    border-style: solid;
    border-radius: v.$px-20;
    box-sizing: border-box;
    top: v.$px-0;
    left: v.$px-0;
    animation: around v.$t-07 ease-in-out infinite;
  }

  .aonLoader::after {
    animation: around v.$t-07 ease-in-out v.$t-01 infinite;
    background: transparent;
  }   
}
