@use '../variables' as v;

aon-tab {
  padding: v.$padding-min v.$px-0;
  width  : fit-content;
  display: block;
  .tabs{
    padding      : v.$padding-min;
    display      : flex;
    align-content: center;
    flex-wrap    : wrap;
    box-sizing   : border-box;
    gap          : v.$gap-min;
    border-radius: v.$border-radius;
    .tab{
      padding      : v.$padding-min;
      cursor       : pointer;
      display      : flex;
      align-items  : center;
      box-sizing   : border-box;
      border-radius: v.$border-radius;
      font-size    : v.$px-14;
    }
  }
}
