@use '../variables' as v;

aon-table{
  table{
    width           : v.$pct-100;
    border-collapse : separate;
    border-spacing  : v.$px-0 v.$gap;
    margin-top      : -(v.$gap);
    th, td {
      border    : none;
      padding   : v.$px-0 v.$padding;
      font-size : v.$px-13;
    }
    thead{
      tr{
        cursor      : default;
        user-select : none;
        height      : v.$px-60;
        text-align  : left;
        th:has(aon-checkbox) {
          width    : v.$px-16;
          min-width: v.$px-16;
          max-width: v.$px-16;
        }
      }
    }
    tbody{
      tr{
        cursor: pointer;
        td {
          height        : v.$px-58;
          border-radius : v.$px-0;
          // ponemos ... si tenemos mucho texto
          white-space   : nowrap;
          overflow      : hidden;
          text-overflow : ellipsis;
          max-width     : v.$px-150;
          // Primer td de la fila ? esquinas izquierda
          &:first-child {
            border-top-left-radius    : v.$border-radius;
            border-bottom-left-radius : v.$border-radius;
          }
          // Ultimo td de la fila ? esquinas derecha
          &:last-child {
            border-top-right-radius   : v.$border-radius;
            border-bottom-right-radius: v.$border-radius;
            span:has(aon-icon) {
              // Si el último TD contiene iconos
              display        : flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  // Media query para movil, para abajo
  @media (max-width: v.$breakpoint-sm) {
    th, td {
      font-size : v.$px-12;
    }
  }
  // 
  // Tabla se convierte en CARD
  // 
  @media (max-width: v.$menu-resolucion-mobile) {
    table {
      // display: block;

      thead {
        display: none;
      }

      tbody {
        display: grid;
        gap: v.$gap;

        tr {
          display: flex;
          flex-direction: column;
          gap: v.$gap-min;
          border-radius: v.$border-radius;
          padding: v.$padding;
        }

        td {
          height: unset !important;
          display: flex;
          position: relative;
          justify-content: space-between;
          gap: v.$gap;
          border: none !important;
          padding: v.$px-0;
          word-wrap: break-word;
          max-width: v.$pct-100 !important;
          font-size: v.$px-14 !important;
          &::before {
            content: attr(data-label);
            font-family: v.$font-primary-semibold;
            font-size: v.$px-14 !important;
          }
        }
      }
    }
  }
}
// Tabla donde se tienen formularios
aon-basic-table{
  table{
    width: v.$pct-100;
  }
}