@use '../variables' as v;

aon-toast {
  position: absolute;
  bottom: 10%;
  min-width: 250px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  overflow: hidden;
  > div {
    border-radius: 0.2rem;
    padding: 16px;
    font-size: 17px;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: unset;
    
    &.error, &.success, &.primary{
      display: block;
      opacity: 1;
    }
    &.hidden{
      display: unset;
      opacity: 0;
    }
  }
}
