@use '../variables' as v;

aon-toast {
  position     : fixed;
  bottom       : v.$pct-10;
  min-width    : v.$px-250;
  max-width    : v.$px-300;
  margin-left  : auto;
  margin-right : auto;
  left         : v.$px-0;
  right        : v.$px-0;
  text-align   : center;
  z-index      : v.$num-100;
  visibility   : hidden;
  display      : none;
  &.view{
    visibility : visible;
    display    : grid;
  }
  > div {
    border-radius : v.$border-radius;
    padding       : v.$px-16;
    font-size     : v.$px-17;
    word-wrap     : break-word;
    opacity       : v.$px-0;
    transition    : opacity v.$t-05 ease, visibility v.$t-05 ease;
    display       : unset;
    
    &.error, &.success, &.primary{
      display         : flex;
      justify-content : center;
      opacity         : v.$num-1;
    }
    &.hidden{
      display : none;
      opacity : v.$px-0;
    }
  }
}
