@use '../variables' as v;

aon-toolbar{
  display        : block;
  width          : v.$pct-100;
  padding-bottom : v.$padding;
  &[type="secondary"]{
    padding-bottom : v.$px-0;
    header{
      padding: v.$px-0;
    }
  }
  header{
    display        : flex;
    gap            : v.$gap;
    width          : v.$pct-100;
    box-sizing     : border-box;
    padding        : v.$padding-min v.$padding;
    border-radius  : v.$border-radius;
    justify-content: space-between;
    align-items    : center;
    section{
      position    : relative;
      display     : flex;
      align-items : center;
      gap         : v.$gap-min;
      width       : v.$pct-100;
      &:last-child{
        justify-content: flex-end;
      }
    }
    // Las migas de pan
    &.aonToolbar{
      section{
        &:first-child{
          aon-icon-button{
            aon-icon{
              font-size   : v.$px-14;
              font-family : v.$font-primary-bold;
              transition  : transform 0.3s ease-in-out;
              transform   : rotate(0deg);
            }
            &.sidenav-hidden aon-icon[icon="chevron-down"] {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
}