@use '../variables' as v;

aon-new-upload, aon-upload{
	display				: flex;
	border-radius : v.$border-radius;
	.upload-component, .aonUpload{
		width					: v.$pct-100;
		padding       : v.$padding-min v.$padding;
		cursor				: pointer;
		border-radius : v.$border-radius;
		.upload-component-label, .aonUploadLabel{
			cursor		 : pointer;
			display		 : flex;
			align-items: center;
			gap				 : v.$gap-min;
			.upload-component-text{
				font-size: v.$px-16;
			}
		}
	}
	.aonUpload{
		aon-icon-button{
			display: flex;
			justify-content: flex-end;
			width: v.$pct-100;
		}
	}
}
