@import 'src/styles.scss';

::ng-deep{

    .mat-snack-bar-container {
        background: #f8d7da !important;
        color: #752129 !important;
        box-shadow: none !important;
        width: 100%;
        margin: none;
        box-sizing: border-box;
    }
    
    .red p {
        color: #752129 !important;
    }

}
