@import 'src/styles.scss';

::ng-deep{
  .container-spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .container-spinner .round-spinner{
    border-radius: 100%;
    background-color: $color-icon;
    padding: $padding / 2;
    opacity: 0.7;
  }

}
