@import "src/styles.scss";

::ng-deep{
  #button-create{
    display         : flex;
    justify-content : center;
    height          : 3.4rem;
    margin: 1rem;

  }
  .mat-column-description span, .mat-column-date span{
    font-size: 16px;
    color: #787885;
  }

  #table-inbox thead{
    display: none;
  }
  #table-inbox tbody td{
    cursor: pointer;
  }
  #table-inbox .mat-column-statusIcon{
    width: 1.2rem;
  }
  #table-inbox .mat-column-total{
    width: 1.7rem;
  }

  .inbox-content-state{
    min-width: 30.1rem;
    display: flex;
    border-bottom: $border;
  }

  .inbox-no-tasks-message {
    display: flex;
    justify-content: center;
    margin-top: $margin-head-top;
  }
  .inbox-content-state .inbox-icons{
    width: 100%;
    display: flex;
    gap: $margin;
    align-items: center;
    justify-content: flex-end;
    align-content: unset;
    text-align: end;
  }

  .inbox-icon-reply, .inbox-icon-back{
    cursor: pointer;
  }

  .inbox-message{
    display: flex;
  }
  .inbox-message .inbox-message-title{
    max-width: 19rem;
    font-family: Roboto-Bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .inbox-message .inbox-message-date{
    width: 100%;
    display: flex;
    gap: $margin;
    align-items: center;
    justify-content: flex-end;
    align-content: unset;
  }

  .inbox-name-tasks{
    font-family: Roboto-Medium;
  }

  .inbox-chat{
    display: grid;
    grid-template-columns: auto auto auto;
    border-bottom: 1px solid silver;
    gap: $margin;
    padding: $padding ;
    cursor: pointer;
  }
  .inbox-chat .inbox-chat-name{
    font-family: Roboto-Medium;
  }
  .inbox-chat .inbox-chat-date{
    display:flex;
    justify-content: flex-end;
    color: $color-border-secondary;
    font-size: 16px;
  }

  .inbox-btns-content{
    margin-top: 1.5rem;
  }
  .inbox-btns{
    display: flex;
    justify-content: flex-end;
  }

  .inbox-btn-01{
    margin-right: $margin-right;
  }
  .inbox-send-button{
    display: flex;
    justify-content: flex-end;
    margin-top: $margin-top;
  }

  .inbox-chat-description-side{
    margin-top: $margin-top;
    font-size: 16px;
    color: var(--gray-50);
  }

  .inbox-chat-description .ng-star-inserted{
    font-size: 16px;
    color: $color-border-secondary;
  }
}
