<app-grid-layout>
  <!--SIDENAV-->
  <div nav>
    <!--CREATE BUTTON // siempre tiene que tener el mismo hueco -->
    <div
      id="button-create"
    >
      <!-- Ocultar donde es necesario -->
      <span *ngIf="selectedTab !== 2 && selectedTab !== 3">
        <app-button
          [class]="'red left'"
          (click)="showModal()"
        >
          <app-icon shape="add_comment"></app-icon>
          {{ "INBOX.CREATE" | translate }}
        </app-button>
        <app-modal-controller #modalCreateInbox>
          <app-create-query *ngIf="isModalVisible"></app-create-query>
        </app-modal-controller>
      </span>
    </div>
    <!--FIN CREATE BUTTON-->
    <!--List -->
    <app-list-element class="red">
      <div menu>
        <li
          [ngClass]="{'select': selectedTab === 0}"
          (click)="selectedTab = 0; onTabChange()"
        >
          <app-icon shape="all_inbox"></app-icon>
          {{ "INBOX.INBOX" | translate }}
          <span class="right">
            <span class="circle">
              {{ totalMessageCount }}
            </span>
          </span>
        </li>
        <li
          [ngClass]="{'select': selectedTab === 1}"
          (click)="selectedTab = 1; onTabChange()"
        >
          <app-icon shape="chat"></app-icon>
          {{ "INBOX.QUERIES" | translate }}
          <span class="right">
            <span class="circle">
              {{ consultaMessageCount }}
            </span>
          </span>
        </li>
        <li
          [ngClass]="{'select': selectedTab === 2}"
          (click)="selectedTab = 2; onTabChange()"
        >
          <app-icon shape="playlist_add_check"></app-icon>
          {{ "INBOX.TASKS" | translate }}
          <span class="right">
            <span class="circle">
              {{ tareasMessageCount }}
            </span>
          </span>
        </li>
        <li
          [ngClass]="{'select': selectedTab === 3}"
          (click)="selectedTab = 3; onTabChange()"
        >
          <app-icon shape="notifications_none"></app-icon>
          {{ "INBOX.NOTIFICATIONS" | translate }}
          <span class="right">
            <span class="circle">
              {{ notificacionesMessageCount }}
            </span>
          </span>
        </li>
      </div>
    </app-list-element>
    <!--FIN List -->
  </div>
  <!--FIN SIDENAV-->
  <!--CONTENIDO-->
  <div content>
    <div class="padding-top padding-right padding-left">
      <div class="width-40">
        <app-input
          [appearance]="'outline'"
          [class]="'search'"
          [type]="'search'"
          [placeholder]="'INBOX.TEXT' | translate"
          (inputValue)="search($event)"
        ></app-input>
      </div>
    </div>
    <ng-container *ngIf="selectedTab == 0">
      <div class="padding">
        <app-table-inbox
        (rowClicked)="rowClickHandler($event)"
        [filterTabSelec]="this.tabIndex"
        [filterDate]="this.filterDate"
        [selectedTab]="this.selectedTab"
        >
        <app-spinner *ngIf="spinner"></app-spinner>
        </app-table-inbox>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab == 1">
      <app-tabs
        [tabs]="tabsConsultas"
        (changeTabIndex)="this.tabIndex = $event"
        [tabColor]="'red'"
      >
        <div tool class="inbox-filterDate" (click)="dropdownMenuComponent.openDropdownMenu();">
          <span>{{ selectedFilterText}}</span>
          <app-icon
            shape="more_vert"
          ></app-icon>
          <app-dropdown-menu #menu *ngIf="menuItem.length > 0" [menuItem]="menuItem" >
            <button>
              {{ "INBOX.THIS_WEEK" | translate }}
            </button>
            <button>
              {{ "INBOX.THIS_MONTH" | translate }}
            </button>
            <button>
              {{ "INBOX.ALLS" | translate }}
            </button>
          </app-dropdown-menu>
        </div>
        <div content class="padding">
          <app-table-inbox
            (rowClicked)="rowClickHandler($event)"
            [filterTabSelec]="this.tabIndex"
            [filterDate]="this.filterDate"
            [selectedTab]="this.selectedTab"
            (statusChanged)="calculateMessageCounts()"
            [updateTable]="updateTable"
          >
          <app-spinner *ngIf="spinner"></app-spinner>
          </app-table-inbox>
        </div>
      </app-tabs>
    </ng-container>

    <ng-container *ngIf="selectedTab == 2">
      <app-tabs
        [tabs]="tabsTareas"
        (changeTabIndex)="this.tabIndex = $event"
        [tabColor]="'red'"
      >
        <div tool class="inbox-filterDate" (click)="dropdownMenuComponent.openDropdownMenu();">
          <span>{{ selectedFilterText }}</span>
          <app-icon
            shape="more_vert"
          ></app-icon>
          <app-dropdown-menu #menu *ngIf="menuItem.length > 0" [menuItem]="menuItem" >
            <button>
              {{ "INBOX.THIS_WEEK" | translate }}
            </button>
            <button>
              {{ "INBOX.THIS_MONTH" | translate }}
            </button>
            <button>
              {{ "INBOX.ALLS" | translate }}
            </button>
          </app-dropdown-menu>
        </div>
        <div content class="padding">
          <app-table-inbox
            (rowClicked)="rowClickHandler($event)"
            [filterTabSelec]="this.tabIndex"
            [filterDate]="this.filterDate"
            [selectedTab]="this.selectedTab"
          >
          <app-spinner *ngIf="spinner"></app-spinner>
        </app-table-inbox>
        </div>
      </app-tabs>
    </ng-container>
    <ng-container *ngIf="selectedTab == 3">
      <app-tabs
        [tabs]="tabsNotificaciones"
        (changeTabIndex)="this.tabIndex = $event"
        [tabColor]="'red'"
      >
        <div tool class="inbox-filterDate" (click)="dropdownMenuComponent.openDropdownMenu();">
          <span>{{ selectedFilterText }}</span>
          <app-icon
            shape="more_vert"
          ></app-icon>
          <app-dropdown-menu #menu *ngIf="menuItem.length > 0" [menuItem]="menuItem" >
            <button>
              {{ "INBOX.THIS_WEEK" | translate }}
            </button>
            <button>
              {{ "INBOX.THIS_MONTH" | translate }}
            </button>
            <button>
              {{ "INBOX.ALLS" | translate }}
            </button>
          </app-dropdown-menu>
        </div>
        <div content class="padding">
          <app-table-inbox
            (rowClicked)="rowClickHandler($event)"
            [filterTabSelec]="this.tabIndex"
            [filterDate]="this.filterDate"
            [selectedTab]="this.selectedTab"
            (statusChanged)="calculateMessageCounts()"
          >
          <app-spinner *ngIf="spinner"></app-spinner>
        </app-table-inbox>
        </div>
      </app-tabs>
    </ng-container>
  </div>

  <!--FIN CONTENIDO-->
  <!--Detail-->
  <div detail *ngIf="showDetail">
    <div *ngIf="messagesChat">
      <div class="inbox-content-state padding">
        <div class="background-text-red-light">
          {{ messagesData.Status }}
        </div>
        <div class="inbox-icons" *ngIf="messagesData.Type === 'consulta'">
          <app-icon class="inbox-icon-reply" shape="reply" (click)="replyconsultarClicked()"></app-icon>
          <app-icon *ngIf="messagesData.Status === 'abierta'" (click)="archiveMessage()" shape="archive"></app-icon>
        </div>
      </div>

      <div class="inbox-message padding">
        <div class="inbox-message-title">
          <app-icon class="inbox-icon-back" (click)="closeDetail()" shape="arrow_back"></app-icon>
          {{ messagesData.Title }}
        </div>
        <div class="inbox-message-date">
          {{ datepipe.transform(messagesData.Date, 'dd/MM/yyyy, HH:mm') }}
        </div>
      </div>
    <!--Chat-->
    <form (ngSubmit)="sendChatMessage()">
      <div class="padding" *ngIf="messagesData.Type === 'consulta'">
        <div class="padding-bottom">
          <p class="inbox-name-tasks">{{ messagesData.Name }}</p>
          <p [innerHTML]="messagesData.Description"></p>
        </div>
        <div class="inbox-chat" (click)="toggleDescription(i)" *ngFor="let messageChat of messagesChat; let i = index">
          <div class="inbox-chat-name">
            {{ messageChat.Name }}
            <div *ngIf="expandedIndex === i" class="inbox-chat-description-side" [innerHTML]="messageChat.Description"> </div>
          </div>
          <div class="inbox-chat-description">
            <div *ngIf="expandedIndex !== i" [innerHTML]="messageChat.Description"></div>
          </div>
          <div class="inbox-chat-date">{{ datepipe.transform(messageChat.Date, 'dd/MM/yyyy, HH:mm') }}</div>
        </div>
      </div>
      <div class="padding" *ngIf="showSendButtons && messagesData.Type === 'consulta'">
        <app-input
          [type]="'text'"
          [placeholder]="'Escribe...'"
          class="inputSend"
          [value]="newMessageDescription"
          (inputValue)="newMessageDescription = $event"
        ></app-input>
        <div class="inbox-send-button">
          <app-button
            [class]="'red left'"
            [width]="'11rem'"
            [fontSize]="'0.7rem'"
            [padding]="'0rem 1rem'"
            (click)="sendChatMessage()"
            type="submit"
          >
            <app-icon shape="send"></app-icon>
            {{ "COMMON.SEND" | translate }}
          </app-button>
        </div>
      </div>
      <app-spinner *ngIf="spinner"></app-spinner>
    </form>

      <div
        class="padding"
        *ngIf="messagesData.Type === 'notificacion' || messagesData.Type === 'tarea'"
        >
        <p class="inbox-name-tasks">{{ messagesData.Name }}</p>
        <p [innerHTML]="messagesData.Description"></p>

        <div
          class="inbox-btns-content"
          *ngIf="messagesData.Type === 'tarea'"
        >
          <div class="inbox-btns">
            <app-button
              class="inbox-btn-01"
              [class]="'red left inbox-btn-01 inbox-tramit'"
              [width]="'11rem'"
              [fontSize]="'0.7rem'"
              [padding]="'0rem 1rem'"
            >
              <app-icon shape="playlist_add_check"></app-icon>
             {{'INBOX.PROCESS' | translate }}
            </app-button>
            <app-button
            [width]="'11rem'"
            [color]="'black'"
            [backgroundColor]="'white'"
            [hoverBackgroundColor]="'#feedec'"
            [border]="'.05rem solid #f6655a'"
            [align]="'left'"
            [fontSize]="'0.7rem'"
            [borderRadius]="'.3rem'"
            [padding]="'0rem 1rem'"
            (click)="consultarClicked()"
            >
              <app-icon shape="chat"></app-icon>
              {{ 'INBOX.CONSULT' | translate }}
            </app-button>
          </div>
        <form (ngSubmit)="sendMessage()">
          <div class="padding-top" *ngIf="showSendButton">
            <app-input
              [type]="'text'"
              [placeholder]="'Escribe...'"
              class="inputSend"
              [value]="newMessageDescription"
              (inputValue)="newMessageDescription = $event"
            ></app-input>
          <div class="inbox-send-button">
            <app-button
                [class]="'red left'"
                [width]="'11rem'"
                [fontSize]="'0.7rem'"
                [padding]="'0rem 1rem'"
                (click)="sendMessage()"
            >
            <app-icon shape="send"></app-icon>
            {{ "COMMON.SEND" | translate }}
            </app-button>
            </div>
          </div>
          <app-spinner *ngIf="spinner"></app-spinner>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!--FIN Detail-->
</app-grid-layout>
