
<div class="container">
  <h3 class="title">
    CONCEPTOS DE LA FACTURA
  </h3>
  <div>

    <mat-form-field class="tedi-width-all" >
      <input #description matInput placeholder="Concepto"  [value]="detail.description ? detail.description : ''" (change)="changeDescription(description.value)">
    </mat-form-field>

    <mat-form-field class="tedi-form-field tedi-width-33" >
      <input #quantity matInput placeholder="Cantidad"  [value]="detail.quantity ? detail.quantity : ''" (change)="changeQuantity(quantity.value)">
    </mat-form-field>

    <mat-form-field class="tedi-form-field tedi-width-33">
      <input #purchasePrice matInput placeholder="Precio" [value]="detail.purchase_price ? detail.purchase_price : ''" (change)="changetPurchasePrice(purchasePrice.value)">
    </mat-form-field>

    <mat-form-field class="tedi-form-field tedi-width-33">
      <input #discount matInput placeholder="%Dto" [value]="detail.discount ? detail.discount : ''" (change)="changeDiscount(discount.value)">
    </mat-form-field>

    <mat-form-field class="tedi-form-field tedi-width-50">
      <input #price matInput placeholder="Importe" [value]="detail.price ? detail.price : ''" (change)="changePrice(price.value)">
    </mat-form-field>

    <mat-form-field class="tedi-form-field tedi-width-50">
      <mat-select placeholder="%IVA"  [(ngModel)]="detail.vat">
        <mat-option value="21.0"> 21.0% </mat-option>
        <mat-option value="10.0"> 10.0% </mat-option>
        <mat-option value="4.0"> 4.0% </mat-option>
        <mat-option value="0.0"> 0.0% </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div mat-dialog-actions >
    <button mat-raised-button (click)="accept()">Aceptar</button>
  </div>
</div>
