@import 'src/styles.scss';

app-card{
  cursor: pointer;
}

.head-card {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.head-card .line-head {
  width: .3rem;
  height: 1.65rem;
  margin: 0 .6rem 0 0;
  border-radius: 1.55rem;
  background-color: #f6655a;
}

.head-card .text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.content-center {
  width: 100%;
  height: 70%;
  padding-top: 1rem;
}

.messages-footer {
  width: 100%;
  display: flex;
  font-size: .7rem;
  padding-top: 1.25rem;
  border-top: .05rem solid #d2d2d6;
}

.messages-footer .see-all {
  color: #f6655a;
  cursor: pointer;
  margin-right: 1%;
}

.messages-footer .circle {
  width: 1.4rem;
  height: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .8rem;
  background-color: #feedec;
}

.circle .number-circle {
  font-size: .7rem;
  font-weight: 500;
}

.see-all-messages {
  display: flex;
}

