@import 'src/styles.scss';

::ng-deep{
  #home-inbox{
    border  : $border;
    padding : $padding;
  }
  
  #home-inbox [header]{
    display       : flex;
    gap           : 0.5rem;
    width         : 100%;
    padding-bottom: $padding-bottom; 
  }
  #home-inbox [header] .line {
    max-width     : 0rem;
    height        : 1.35rem;
    border-radius : 20rem;
    border        : 0.15rem solid $color-red;
  }
  #home-inbox [header] .text {
    width       : 100%;
    display     : flex;
    align-items : center;
    font-family : Roboto-Bold;
    font-size   : 1.2rem;
  }

  #home-inbox thead{
    display: none;
  }
  #home-inbox td{
    cursor: pointer;
  }
  
  #home-inbox hr{
    margin-top  : 0;
    margin-left : 0;
    margin-right: 0;
  }
  
  #home-inbox #home-inbox-total .text{
    font-family : Roboto-Medium;
    font-size   : 0.7rem;
    color       : $color-red;
    cursor      : pointer; 
  }
  #home-inbox #home-inbox-total .total{
    background-color: $background-button-red-hover2;
    margin-left     : $margin-left / 2;
    width           : 1.7rem;
    height          : 1.7rem;
    border-radius   : 100rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
  }
}