app-card{
  cursor: pointer;
}

.head-card {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.head-card .line-head {
  width: 6px;
  height: 33px;
  margin: 0 12px 0 0;
  border-radius: 31px;
  background-color: #f6655a;
}

.head-card .text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.content-center {
  width: 100%;
  height: 70%;
  padding-top: 20px;

}

.messages-footer {
  width: 100%;
  display: flex;
  font-size: 14px;
  padding-top: 25px;
  border-top: .05rem solid #d2d2d6;
}

.messages-footer .see-all {
  color: #f6655a;
  cursor: pointer;
  margin-right: 1%;
}

.messages-footer .circle {
  width: 28px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #feedec;

}

.circle .number-circle {
  font-size: 14px;
  font-weight: 500;
}

.see-all-messages {
  display: flex;
}






// .container .head{
//   height:33px ;
//   display: flex;
//   align-items: center;
// }
// .container .head div{
//   //margin-right: 22px;
//   display: inline-flex;
// }
// .head .line{
//   width: 6px;
//   height: 33px;
//   background-color: #F6655A;
//   border-radius: 33px;
//   border: 4px;
// }
// .head .text{
//   font-weight: 900;
//   font-size: 24px ;
//   padding: 3px 17px;
// }
// .container .contentCenter{
//   margin-top:25px ;
//   width: 100%;
// }
// .container .footer{
//   margin-top:10px ;
//   padding: 15px 0 8px 0;
//   line-height: 16px;
//   font-weight: 500;
//   border-top: 1px solid #D2D2D6;
// }
// .footer .seeAll{
//   color: #F6655A ;
//   font-size: 14px;
//   text-decoration: none;
// }
// .seeAll .circle{
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   background-color: black;
// }

