<div id="foot">
<br/>
<b>$!company_name</b> -
<b>d.</b><i> $esc.html($!address.getFullAddress()) - $esc.html($!address.getZip()) - $esc.html($!address.getCity()) - $esc.html($!address.getGeozone().getName())</i> -
<b>t.</b> $!phone - <b>e.</b> <a href="mailto:$!email">$!email</a>
</br>
<!--
Desarrollado con aon Solutions<sup>&reg;</sup>
/InfoWEB, marca registrada de ESFERALIA NETWORKS S.A.
-->
</div>	