<div class="register-employee">
  <div class="header padding">
    <div class="arrow">
      <app-icon
        class="griss button"
        shape="arrow_back"
        (click)="goBack()"
      ></app-icon>
      {{ "EMPLOYEE_PANEL.EDIT_USER" | translate }}
    </div>
    <div class="prueba">
      <app-button [class]="'dark'" [width]="'100%'" (click)="onSave()">
        {{ "PROFILE.SAVE" | translate }}
      </app-button>
      <app-button [class]="'white'" [width]="'100%'" (click)="onCancel()">
        {{ "PROFILE.CANCEL" | translate }}
      </app-button>
    </div>
  </div>
  <hr />
</div>

<div class="form">
  <div class="structure-form">
    <div class="title">
      {{ "EMPLOYEE_PANEL.EMPLOYEE_DATA" | translate }}
    </div>
    <hr />

    <!-- Datos del trabajador -->
    <div class="form">
      <app-input
        (inputValue)="getValue($event)"
        [value]="empleadoDetail?.Document"
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.ID_NUMBER' | translate"
        [placeholder]="'EMPLOYEE_PANEL.ID_NUMBER' | translate"
        [required]="'required'"
      >
      </app-input>

      <app-input
        (inputValue)="getValue($event)"
        [value]="splitLastname.surname1"
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.SURNAME_1' | translate"
        [placeholder]="'EMPLOYEE_PANEL.SURNAME_1' | translate"
      >
      </app-input>

      <app-input
        (inputValue)="getValue($event)"
        [value]="splitLastname.surname2"
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.SURNAME_2' | translate"
        [placeholder]="'EMPLOYEE_PANEL.SURNAME_2' | translate"
        [value]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        (inputValue)="getValue($event)"
        [value]="empleadoDetail?.Name"
        [type]="'text'"
        [label]="'PROFILE.NAME' | translate"
        [placeholder]="'PROFILE.NAME' | translate"
      >
      </app-input>
      <app-input
        (inputValue)="getValue($event)"
        [value]="empleadoDetail?.Naf"
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.SSN' | translate"
        [placeholder]="'EMPLOYEE_PANEL.SSN' | translate"
      >
      </app-input>
    </div>

    <!-- Datos de la empresa -->
    <div class="title">
      {{ "PROFILE.COMPANY_INFORMATION" | translate }}
    </div>
    <hr />
    <div class="form">
      <app-input
        (inputValue)="getValue($event)"
        [value]="selectedContract?.WorkCenter"
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.WORKCENTER' | translate"
        [placeholder]="'EMPLOYEE_PANEL.WORKCENTER' | translate"
        [options]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.CONTRIBUTION_ACCOUNT' | translate"
        [placeholder]="'EMPLOYEE_PANEL.CONTRIBUTION_ACCOUNT' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>
  </div>

  <!-- Datos contrato -->
  <div class="structure-form">
    <div class="title">
      {{ "EMPLOYEE_PANEL.CONTRACT_DETAILS" | translate }}
    </div>
    <hr />
    <div class="form">
      <app-input
        [label]="'PROFILE.REGISTRATION_DATE' | translate"
        [type]="'date'"
        [required]="'required'"
        [value]="selectedContract?.StartDate"
      ></app-input>

      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.TYPE_OF_CONTRACT' | translate"
        [placeholder]="'EMPLOYEE_PANEL.TYPE_OF_CONTRACT' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>
    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.CONTRIBUTION_GROUP' | translate"
        [placeholder]="'EMPLOYEE_PANEL.CONTRIBUTION_GROUP' | translate"
        [options]=""
        [value]=""
      >
      </app-input>

      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.OCCUPATION' | translate"
        [placeholder]="'EMPLOYEE_PANEL.OCCUPATION' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.NCO' | translate"
        [placeholder]="'EMPLOYEE_PANEL.NCO' | translate"
        [options]=""
        [value]=""
        [required]="'required'"
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.EMPLOYMENT_RELATIONSHIP' | translate"
        [placeholder]="'EMPLOYEE_PANEL.EMPLOYMENT_RELATIONSHIP' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.WORKFORCE' | translate"
        [placeholder]="'EMPLOYEE_PANEL.WORKFORCE' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>
  </div>
</div>
