<div class="grid-container">
  <mat-grid-list cols="24" rowHeight="70px" gutterSize="20px">
    <mat-grid-tile colspan="24" rowspan="1" style="width: 100%;height: 100%;">
      <app-upload-dashboard></app-upload-dashboard>
    </mat-grid-tile>
    <mat-grid-tile colspan="24" rowspan="1">
      <div class="dashboardShortcuts">
        <app-shortcut-dashboard *ngFor="let shortcut of shortcuts" [shape]="shortcut.shape" [name]="shortcut.name"></app-shortcut-dashboard>
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let chartItem of chartItems" colspan="7" rowspan="4">
      <app-chart-dashboard [name]="chartItem.name" [chart]="chartItem.chart" [shape]="chartItem.shape"></app-chart-dashboard>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="4">
      <app-models-dashboard></app-models-dashboard>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
      <app-banks-dashboard></app-banks-dashboard>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="dashboardDivider">
    <mat-divider></mat-divider>
  </div>
  <mat-grid-list cols="24" rowHeight="70px" gutterSize="20px">
    <mat-grid-tile colspan="24" rowspan="5">
      <app-inbox></app-inbox>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let menuItem of menuItems" colspan="6" rowspan="2" >
      <app-menu-button-dashboard [shape]="menuItem.shape" [name]="menuItem.name" [color]="menuItem.color"></app-menu-button-dashboard>
    </mat-grid-tile>
  </mat-grid-list>
</div>