:root{
    --favicon: ../faviconColors.png;
}

.rootPanel {
  z-index: 3;   
  background-color: #fafafa;
}


#divCompanyLogoForm {
    display:none;
}


.aonCardUploadToast {
    width: 100%;
    bottom: 60px;
    right: 0px;
}