:root{
	--favicon: /assets/aon-ai-favicon.svg;
}

.rootPanel {
  z-index: 3;   
  background-color: #fafafa;
}

.aonNewLogo {
	width: 155px;
	height: 32px;
	background-image: url("../../assets/aonsolutions-ai-black-logo.svg");
}
.aonLoginLogo {
	width: 155px;
	height: 32px;	
	background-image: url("../../assets/aon-ai-black-logo.svg");
}

#divCompanyLogoForm {
    display:none;
}

#aonMenuLeftop-applications {
  display: none;
}



/* 
#applications:hover {
  background-size: cover ;
  background-image: url("/images/theme/aon-background.webp");
}

#applications:hover #aonMenuListAppImgTop-applications,
.aonMenuLeftopNew #aonMenuListAppImgTop-applications,
.aonMenuLeftopHome #aonMenuListAppImgTop-applications,
.aonNewMenuLeftTopAppDiv #aonMenuListAppImgTop-applications,
.aonMenuLeftopApplications #aonMenuListAppImgTop-applications {
  color: white;
}
*/

/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
    --aon-theme: 'AON';
}


