:root{
}

.rootPanel {
  z-index: 3;   
  background-color: #fafafa;
}


#divCompanyLogoForm {
    display:none;
}

#aonMenuLeftop-applications {
  display: none;
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
    --aon-theme: 'AON';
}


