:root {
	--favicon: ../assets/favicon.ico;
	
	--aonHeaderBackgroundColor: var(--aonBlue);

	--aonHeaderButtonColor: var(--aonWhite);
	--aonMenuBackgroundColor: var(--aonWhiteGray);
}

.aonLogo,
.aonNewLogo{
  background-image: url("/assets/aon-white-logo.svg");
}

.aonHeaderOffice, 
.aonMenuLeftopOffice {
  background-color: black;
}

.aonHeaderGarage,
.aonMenuLeftopGarage {
  background-color: black;
}

.aonHeaderAcademy,
.aonMenuLeftopAcademy {
  background-color: black;
}

.aonHeaderComerce,
.aonMenuLeftopComerce {
  background-color: black;
}

.aonHeaderConsole,
.aonMenuLeftopConsole {
  background-color: black;
}

.aonHeaderNotification,
.aonMenuLeftopNotification {
  background-color: var(--aonBlue);
}

.aonHeaderComercialMenu,.aonMenuLeftopComercialMenu,
.aonHeaderManagementMenu,.aonMenuLeftopManagementMenu,
.aonHeaderConfigurationMenu,.aonMenuLeftTopConfigurationMenu,
.aonHeaderEnterpriseMenu,.aonMenuLeftopEnterpriseMenu,
.aonHeaderConsoleMenu,.aonMenuLeftTopConsoleMenu ,
.aonHeaderMarketingMenu,.aonMenuLeftopMarketingMenu,
.aonHeaderTreasuryMenu, .aonMenuLeftopTreasuryMenu,
.aonHeaderWarehouseMenu, .aonMenuLeftopWarehouseMenu,
.aonHeaderGroupwareMenu,.aonMenuLeftopGroupwareMenu ,
.aonHeaderAccountingMenu,.aonMenuLeftopAccountingMenu ,
.aonHeaderPayrollMenu,.aonMenuLeftopPayrollMenu ,
.aonHeaderFiscalMenu, .aonMenuLeftopFiscalMenu {
  background-color: var(--aonBlue);
}

.aonHeaderApps,
.aonMenuLeftopApps {
  background-color: var(--aonBlue);
}


.aonHeaderNewConfigurationMenu,
.aonHeaderNotification,.aonMenuLeftopNotification,
.aonHeaderWarehouse,.aonMenuLeftopWarehoues,
.aonHeaderStart, .aonMenuLeftopStart,
.aonHeaderHome, .aonMenuLeftopHome,
.aonHeaderComunica, .aonMenuLeftopComunica,
.aonHeaderApplications, .aonMenuLeftopApplications,
.aonHeaderDocumental, .aonMenuLeftopDocumental,
.aonHeaderInvoice, .aonMenuLeftopInvoice,
.aonHeaderAccounting, .aonMenuLeftopAccounting,
.aonHeaderFiscal, .aonMenuLeftopFiscal,
.aonHeaderPayroll, .aonMenuLeftopPayroll,
.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol,
.aonHeaderNote, .aonMenuLeftopNote,
.aonHeaderMessenger, .aonMenuLeftopMessenger{
  background-color: var(--aonBlue);
}

#new:hover,
#home:hover,
#topMenuHome:hover,
#apps:hover,
#invoice:hover,
#comunica:hover,
#documental:hover,
#accounting:hover,
#fiscal:hover,
#payroll:hover,
#timecontrol:hover,
#note:hover,
#messenger:hover,
#warehouse:hover,
#office:hover,
#garage:hover,
#academy:hover,
#comerce:hover,
#console:hover,
#comercialMenu:hover,
#managementMenu:hover,
#treasuryMenu:hover,
#warehouseMenu:hover,
#groupwareMenu:hover,
#accountingMenu:hover,
#fiscalMenu:hover,
#payrollMenu:hover,
#marketingMenu:hover,
#configurationMenu:hover,
#enterpriseMenu:hover,
#consoleMenu:hover,
#aonApplication:hover,
#Superset:hover{
  background-color: var(--aonCardColor);
  /*transition: background-color 0.2s;*/
}

#applications {
	background-color: inherit;
}

.aonHeader .material-icons,
.aonHeader #aonHeaderCompanyName,
#applications .material-symbols-outlined,
.aonNewMenuLeftTopAppDiv #aonMenuListAppImgTop-applications {
	color: var(--aonWhite);
}


.aonHeaderAppSpan,
.aonHeaderAppIcon {
	color:var(--aonWhite);
}

.aonNewMenuLeftTopAppDiv #aonMenuListAppImgTop-applications {
	color: var(--gray-50);
}


#aon-notesSidenav .material-icons,
#aon-notesSidenav aon-icon {
	--aonNote: rgb(95, 99, 104);
}

#aonInvoiceSidenav .material-icons,
#aonInvoiceSidenav aon-icon {
	--aonInvoice: rgb(95, 99, 104);
}

#aonComunicaSidenav .material-icons,
#aonComunicaSidenav aon-icon {
	--aonPayroll: rgb(95, 99, 104);
}

#aonAccountingSidenav .material-icons,
#aonAccountingSidenav aon-icon {
	--aonAccounting: rgb(95, 99, 104);
}

#aonFiscalSidenav img {
	filter: grayscale(100%);
}

#aonFiscalSidenav .material-icons,
#aonFiscalSidenav aon-icon {
	--aonFiscal: rgb(95, 99, 104);
}

#aonLaboralSidenav aon-icon,
#aonLaboralSidenav .material-icons {
	--aonPayroll: rgb(95, 99, 104);
}

#aonMessengerSidenav .material-icons,
#aonMessengerSidenav aon-icon {
	--aonMessenger: rgb(95, 99, 104);
}

#aonDocumentalSidenav .material-icons,
#aonDocumentalSidenav aon-icon {
	--aonDocumental: rgb(95, 99, 104);
}

#aonSigninSidenav .material-icons,
#aonSigninSidenav aon-icon {
	--aonTimecontrol: rgb(95, 99, 104);
}

#applications:hover {
  background-size: cover ;
  background-image: url("../image/aon-background.webp");
  #aonMenuListAppImgTop-applications {
	  color: white;
  }
}

.aonSideNavFiscalCircle{
  border: 1px solid rgb(95, 99, 104);
  color: rgb(95, 99, 104);
}

.aonAppMenuSidenavListSelected div {
  	background-color: rgb(95, 99, 104);
  	border: 1px solid rgb(95, 99, 104);
  	color: white;
}

#aonFiscalTableDiv{
	border: 2px solid #949393;
  	color: #949393;
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'MODERN';
}