@import url("themeCustom");
:root {
	--title: titleCustom;
	--name: "titleCustom";
	--phone: "phoneCustom";
	--email: "emailCustom";
	--favicon: faviconCustom;
	--logo: url("/cvDocument/logoCustom");
	--loginLogo: url("/cvDocument/loginLogoCustom");
	
	/*aonCustomizableVariables*/	
}

.aonLogo{
	background-size: contain;
	background-image: var(--logo);
}

.aonNewLogo,
.aonHeaderAppDiv {
	margin-left: 1.25rem;
	background-size: contain;
	background-image: var(--logo);
}

.aonLoginLogo{
	background-size: contain;
	background-image: var(--loginLogo);
}

#aonConfigThemesCard,
#disabledAonConfigThemesCard{
	display: none;
}

.aonHeader,
.aonMenuLeftop,
.aonMenuLeftopStart,
.aonMenuSidenav,
.aonNewMenuTopNavDiv{
	overflow: hidden;
}


.aonSideNavFiscalCircle{
  color: var(--aonFiscal);
	border: 1px solid var(--aonFiscal);
}

.aonAppMenuSidenavListSelected div {
  	background-color: var(--aonFiscal);
  	border: 1px solid var(--aonFiscal);
  	color: white;
}

.aonSupportName:after {
  content: var(--name);	
}

#aonContactIcon1 {
  display: titleIcon; 
}

.aonSupportTelephone:after {
  content: var(--phone);
}

#aonContactIcon2 {
  display: phoneIcon; 
}

.aonSupportUsersEmail:after{
  content: var(--email);
}

#aonContactIcon3 {
  display: emailIcon; 
}

.aonSupportSalesEmail:after,
.aonSupportAdminEmail:after,
#aonContactIcon4,
#aonContactIcon5 {
  display:none;
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'AONCUSTOMVIEW';
}