:root {
	--favicon: faviconCustom;
	--title: titleCustom;
}

.aonLogo{
	background-image: url("cvDocument/logoCustom");
	background-size: contain;
}

.aonNewLogo{
	background-image: url("cvDocument/logoCustom");
	background-size: contain;
}

.aonLoginLogo{
	background-image: url("cvDocument/loginLogoCustom");
	background-size: contain;
}

#disabledAonConfigThemesCard{
	display: none;
}

.aonHeader,
.aonMenuLeftop,
.aonMenuLeftopStart,
.aonMenuSidenav,
.aonNewMenuTopNavDiv{
	overflow: hidden;
}


.aonSideNavFiscalCircle{
  border: 1px solid var(--aonFiscal);
  color: var(--aonFiscal);
}

.aonAppMenuSidenavListSelected div {
  	background-color: var(--aonFiscal);
  	border: 1px solid var(--aonFiscal);
  	color: white;
}

.aonSupportName:after {
  content: 'titleCustom';	
}

#aonContactIcon1 {
  display: titleIcon; 
}

.aonSupportTelephone:after {
  content: 'phoneCustom';
}

#aonContactIcon2 {
  display: phoneIcon; 
}

.aonSupportUsersEmail:after{
  content: "emailCustom";
}

#aonContactIcon3 {
  display: emailIcon; 
}

.aonSupportSalesEmail:after,
.aonSupportAdminEmail:after,
#aonContactIcon4,
#aonContactIcon5 {
  display:none;
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'AONCUSTONVIEW';
}