:root {
	--aonBlue: black;
	--aonBlack: #007bff;
	--aonHeaderButtonColor: var(--aonBlack);
	--aonHeaderHoverLightColor: rgba(0, 0, 0, 0.05);
	--aonHeaderHoverDarkColor: rgba(0, 0, 0, 0.05);
	--aonTopMenuAvailable: var(--aonWhite);
}
.aonHeader {
	--aonPayroll: #000;
	background-color: #000;
}

.aonMenuLeftop,
.aonMenuTopnav,
.aonMenuSidenav {
	color: #FFF;
	background-color: #000;
}
