:root {
	--aonAccounting: var(--aonWhite);
	--aonTopMenuAvailable: var(--aonWhite);
	--aonTopMenuSpecial: var(--aonClearBlue);

	--aonBlack: black;
}
.aonHeader {
	--aonAccounting: var(--aonBlue);
	--aonHome: var(--aonBlack);
	background-color: #000;
}

.aonMenuLeftop,
.aonMenuTopnav,
.aonMenuSidenav {
	color: #FFF;
	background-color: #000;
	
}
