:root {
	
	--aonAccounting: var(--aonWhite);
	--aonAccountingBackground: rgba(0, 36, 105, .2);

	--aonTopMenuAvailable: var(--aonWhite);
	--aonTopMenuSpecial: var(--aonClearBlue);
}
.aonHeader {
	--aonBlue: black;
	--aonPayroll: #000;
	background-color: #000;
}

.aonMenuLeftop,
.aonMenuTopnav,
.aonMenuSidenav {
	color: #FFF;
	background-color: #000;
	
}
