@import url("/css/theme/standard.gwt.css");

:root{
	--aonBlack: #0A0A0A;
	--aonMidGray:#C9C9C7;
	--aonDarkGray:#3A3A3A;
	--aonOffWhite:#F3F3F1;
	--aonPurple:oklch(52% .234 277);
	
	
	--aonError: var(--aonPurple);
	--aonWarning: var(--aonMidGray);
	
	--aonHoverColor: var(--aonPurple);
	--aonButtonColor: var(--aonPurple);

	--aonForegroundColor:var(--aonOffWhite);
	--aonTopMenuAvailable: var(--aonOffWhite);

	--aonBackgroundColor: var(--aonBlack);
	--aonBodyBackgroundColor: var(--aonDarkGray);
	--aonHeaderBackgroundColor: var(--aonBlack);
	
	--aonBackgroundColor2:var(--aonBodyBackgroundColor);

	--aonRadius: 1rem; /*16px*/
	--aonShadow: 0 20px 60px -20px;
	
	--aonRadiusCard: 2.75rem; /*44px*/
	--aonShadowCard: 0 30px 60px -25px rgba(0,0,0,.65), 0 8px 24px -12px rgba(0,0,0,.45);
	
	--aonShadowGlow: 0 20px 60px -20px var(--aonPurple);

	--aonBorderColor: color-mix(in oklab, var(--aonPurple) 40%, transparent);
	--aonBorderHoverColor: var(--aonPurple);
	
	--defaultWelcomeImg: /assets/aon-ai-logo.svg;
	
	--aonSuccesColor: var(--aonBorderColor);
	--aonErrorColor: var(--aonBorderHoverColor);

}

body,
.aonBody,
.aon_selector{
	color: var(--aonForegroundColor);
	background-color: var(--aonBackgroundColor);
}

input, 
select, 
textarea,
table td, 
.gwt-Label,
.gwt-Selector,
.dataGridCell,
.dataGridHeader,
.aon-inputText,
.aon-outputLabel,
.aon-group-title,
.aon_toolbar_title,
.aon_custom_row,
.aon_custom_card div,
.aon_custom_text_box_title,
.aon_custom_table_cell_footer,
.aon_custom_table_cell_header,
.aon_display_grid_cell,
.gwt-CheckBox label,
.aon-finding-toolbar-item,
.aon_selector .gwt-TabLayoutPanel,
.gwt-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	color: var(--aonForegroundColor);
}


select,
.gwt-TextArea,
.gwt-TextBox,
.aon-inputText,
.aon_input_text,
.gwt-SuggestBox,
.aon_search_filter,
.aon_between_input, 
.aon_custom_text_box_input,
Employees .aon-SearchTextBox,
.aon_custom_text_box_input_no_border{
	color: var(--aonForegroundColor) !important;
	border-color: var(--aonDarkGray) !important;
	background-color: var(--aonDarkGray) !important;
}

.gwt-TextArea[disabled],
.gwt-TextBox[disabled],
.gwt-SuggestBox[disabled]{
	border-color: var(--aonBackgroundColor) !important;
	background-color: var(--aonBackgroundColor) !important;
}


input:focus, 
select:focus, 
textarea:focus,
.aon_input_text:focus,
.aon_between_input:focus, 
.aon_custom_text_box_input:focus{
	border-color: var(--aonBorderHoverColor) !important;	
}


.dataGridCell,
.aon_custom_row,
.aon_display_grid_row,
.aon_display_grid_cell
{
	border-color: var(--aonBorderColor) !important;	
}
.dataGridOddRow:hover .dataGridCell,
.dataGridEvenRow:hover .dataGridCell,
.aon_custom_row:hover,
.aon_display_grid_row:hover,
.aon_display_grid_row:hover .aon_display_grid_cell 
{
	box-shadow: var(--aonShadowGlow) !important;
	border-color: var(--aonBorderHoverColor) !important;	
}

.aon-group-title,
.aon_grid_header, 
.aon_custom_table_header, 
.aon_custom_table_footer, 
.aon_display_grid_header_row, 
.dataGridWidget > div:first-child,
.gwt-TabLayoutPanelContentContainer,
.aon-MainCreta-Events *, 
.aon-EmployeeTree-Events * ,
.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent,
.gwt-Selector .gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader,
div#rootPanel div div div div div.aon_scroll_area.aon_margin_bottom ,
#rootPanel > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
	background-color: var(--aonBackgroundColor) !important;
}

.gwt-SplitLayoutPanel-HDragger {
	background-color: transparent ;
}

.aon-Model,
.aon-Model-Detail,
*[id$='operatingMessagesContainer'],
.aon-EmployeeTree-EmployeeDetail .gwt-SplitLayoutPanel-HDragger {
	background-color: var(--aonBodyBackgroundColor) !important;
}

.aon_custom_table_header{
	border-color: transparent;
}

.aon_toolbar,
.aon_flex_column,
.aon-MainAgreement-ToolBar, 
.aon-MainAgreement-Agreements,
.aon-EmployeeTree,
.aon-EmployeeTree-Employees, 
.aon-MainCreta-Enterprises,
.aon-MainCreta-Details,
.aon-EmployeeTree-EmployeeDetail,
.aon_custom_dialog,
.gwt-Selector .gwt-PopupPanel,
.aon_custom_dialog .popupContent,
#rootPanel .aon-center-panel,
.aon-panelGrid-search,
.aon-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent,
.aon-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer,
div#rootPanel div div div div div.aon_scroll_area.aon_margin_bottom
 {
	box-shadow: var(--aonShadowCard) !important;
	border-radius: var(--aonRadiusCard) !important;
}

.aon_custom_dialog{
	padding: 2rem; /* Due to --aonRadiusCard */
}

.aon_toolbar,
.aon_flex_column,
.aon-Salary-DraftPanel,
.aon-MainAgreement-ToolBar, 
.aon-MainAgreement-Agreements,
.aon-EmployeeTree,
.aon-EmployeeTree-Employees, 
.aon-MainCreta-Enterprises,
.aon-MainCreta-Details,
.aon-EmployeeTree-EmployeeDetail,
.aon_custom_dialog,
.popupContent,
.gwt-Selector .gwt-PopupPanel,
.aon_custom_dialog .popupContent,
#rootPanel .aon-center-panel,
.aon-panelGrid-search,
.aon-panelGrid-search .aon-panelGrid-odd,
.aon-panelGrid-search .aon-panelGrid-even,
.aon-EmployeeTree-Events .gwt-MenuBar-horizontal{
	border-color: var(--aonBackgroundColor) !important;
	background-color: var(--aonBackgroundColor) !important;
}


/* .aon-EmployeeTree-Employees */h
.gwt-Selector .gwt-InlineHTML,
.gwt-Selector .gwt-InlineLabel,
.aon-Selector .gwt-Tree .gwt-TreeItem,
.aon-Salary-DraftPanel .aon-dataTable td,
.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem .material-icons[style] {
	color: var(--aonForegroundColor) !important;
}

.gwt-Selector .aon-Salary-DraftPanel .aon-dataTable-row-odd:hover,
.gwt-Selector .aon-Salary-DraftPanel .aon-dataTable-row-even:hover{
	box-shadow: var(--aonShadowGlow) !important;
	background-color: var(--aonBackgroundColor) !important;
}
.gwt-Selector .aon-Salary-DraftPanel .aon-dataTable-row-odd:hover td,
.gwt-Selector .aon-Salary-DraftPanel .aon-dataTable-row-even:hover td{
	border-color: var(--aonBorderHoverColor) !important;
}

.aon_grid tr:hover,
.aon_grid tr:hover *,
.aon-Selector .gwt-Tree .gwt-TreeItem:hover,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem:hover,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem-selected,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem:hover .material-icons[style],
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem-selected .material-icons[style],
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree div:has(> .gwt-TreeItem):hover,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree div:has(> .gwt-TreeItem-selected),
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree > div > table:has(.gwt-TreeItem):hover ,
.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree table:has(> tbody > tr > td > .gwt-TreeItem-selected) {
	color: var(--aonHoverColor) !important;
	background-color: initial !important;
}


.gwt-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs{
	box-shadow: var(--aonShadowCard) !important;
	border-radius: var(--aonRadiusCard) !important;
	border-color: var(--aonBodyBackgroundColor) !important;
	background-color: var(--aonBodyBackgroundColor) !important;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected, 
.gwt-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	border-radius: var(--aonRadius) !important;
	box-shadow: var(--aonShadowCard) !important;
	background-color:var(--aonBackgroundColor) !important;
}

.aon_search_panel,
.gwt-Selector .gwt-SplitLayoutPanel-VDragger,
.aon-EmployeeTree-Events .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected *{
  background-color: transparent !important;
}

.gwt-Selector .gwt-Button,
.aon_toolbar_button.aon_icon_save, 
[class^="gwt-"] .aon_ok_button, 
[class^="gwt-"] .aon_cancel_button:not(.aon_toolbar_button), 
.gwt-Selector .popupContent .aon_button_dialog, 
.gwt-Selector .popupContent .aon_ok_button_small, 
.gwt-Selector .popupContent .aon_cancel_button_small,
.gwt-Selector .gwt-PopupPanel .gwt-Button,
.aon-finding-toolbar-item.aon_icon_save{
	background-color: var(--aonButtonColor) !important;
}



button[disabled], 
.aon_button:disabled, 
.gwt-ListBox[disabled],
.aon_expand_button:disabled {
	opacity: 0.4;
	pointer-events: none;
	background-color: var(--aonForegroundColor) !important;
		
}

button[disabled].aon_icon_save, 
.aon_button:disabled.aon_icon_save, 
.gwt-ListBox[disabled].aon_icon_save,
.aon_expand_button:disabled.aon_icon_save {
	opacity: 0.4;
	pointer-events: none;
	background-color: var(--aonButtonColor) !important;
}

.aon_message_error {
	background-color: var(--aonErrorColor) !important;
}

/* 
*[class^=aon-icon] 
*[class^=aon_icon] 
*/

.aon_icon_delete_file,
.aon_icon_accounting_record,
.aon_tab_button,
.aon_icon_copy,
.aon_icon_search,
.aon_icon_filter_list,
.aon_icon_emit,
.aon_icon_fx,
.aon_icon_statics,
.aon_icon_back,
.aon_icon_cancel,
.aon-icon-cancel,
.aon_cancel_button,
.aon_icon_right,
.aon_icon_edit,
.aon-icon-bidoq,
.aon_icon_email, 
.aon-icon-email,
.aon_icon_redo,
.aon_icon_undo,
.aon_icon_info,
.aon_icon_list, 
.aon-icon-list,
.aon_icon_tgss,
.aon_icon_pdf,
.aon_icon_add,
.aon-icon-new, 
.aon_icon_back, 
.aon_icon_close,
.aon-icon-reset,
.aon_icon_receipt,
.aon_toolbar_button.aon_icon_receipt,
.aon_icon_check,
.aon_icon_checked,
input[type="checkbox"],
input[type="checkbox"]:checked, 
.aon_icon_excel, 
.aon-icon-excel, 
.aon-icon-delete,
.aon_icon_delete, 
.aon_icon_refresh,
.aon_icon_undo_all,
.aon_icon_download, 
.aon-icon-download,
.aon_icon_visibility,
.aon-icon-import-excel-trans, 
.aon-icon-export-excel-trans  {
	mask-position: center;
	mask-repeat: no-repeat;
	background-image: none;
	background-color: var(--aonForegroundColor); ;
}

.aon_button:hover {
	background-color: var(--aonBorderHoverColor) !important;	
}

.aon_icon_delete_file:hover,
.aon_icon_accounting_record:hover,
.aon_tab_button:hover,
.aon_icon_copy:hover,
.aon_icon_search:hover,
.aon_icon_filter_list:hover,
.aon_icon_emit:hover
.aon_icon_fx:hover,	
.aon_icon_back:hover,
.aon_icon_cancel:hover,
.aon-icon-cancel:hover,
.aon_cancel_button:hover,
.aon_icon_right:hover,
.aon_icon_edit:hover,
.aon-icon-bidoq:hover,
.aon_icon_email:hover, 
.aon-icon-email:hover,
.aon_icon_redo:hover,
.aon_icon_undo:hover,
.aon_icon_info:hover,
.aon_icon_list:hover, 
.aon-icon-list:hover,
.aon_icon_undo_all:hover,
.aon_icon_tgss:hover,
.aon_button:hover,
.aon_icon_pdf:hover,
.aon_icon_close:hover,
.aon_icon_statics:hover,
.aon_icon_add:hover, 
.aon_icon_back:hover
.aon-icon-new:hover, 
.aon-icon-reset:hover,
.aon_icon_check:hover
.aon_icon_checked:hover,
input[type="checkbox"]:hover,
input[type="checkbox"]:checked,  
.aon_icon_receipt:hover,
.aon_toolbar_button.aon_icon_receipt:hover,
.aon_icon_excel:hover, 
.aon-icon-excel:hover, 
.aon-icon-delete:hover,
.aon_icon_delete:hover, 
.aon_icon_refresh:hover,
.aon_icon_download:hover, 
.aon-icon-download:hover,
.aon_icon_visibility:hover,
.aon-icon-import-excel-trans:hover, 
.aon-icon-export-excel-trans:hover {
	background-color: var(--aonBorderHoverColor);
}

.aon_icon_fx {
	mask-image: url(/icons/function-square.svg);
}

.aon_icon_add, 
.aon-icon-new, 
.aon-icon-reset  {
	mask-image: url(/icons/plus.svg);
}

.aon_icon_receipt,
.aon_toolbar_button.aon_icon_receipt{
	mask-image: url(/icons/file-text.svg);
}
	
.aon_icon_excel, 
.aon-icon-excel, 
.aon-icon-import-excel-trans, 
.aon-icon-export-excel-trans  {	
	mask-image: url(/icons/file-x.svg);
}

.aon_icon_info {
  mask-image: url(/icons/info.svg);
}

.aon_icon_refresh {
  	mask-image: url(/icons/refresh-cw.svg);
}

.aon_icon_back {
  	mask-image: url(/icons/arrow-left.svg);
}

.aon_icon_pdf {
  	mask-image: url(/icons/file-pdf.svg);
}

.aon_icon_download, 
.aon-icon-download {
  	mask-image: url(/icons/download.svg);
}

.aon_icon_list, 
.aon-icon-list {
  mask-image: url(/icons/list.svg);
}

.aon_icon_delete, 
.aon-icon-delete {
  	mask-image: url(/icons/trash-2.svg);
}

.aon_icon_visibility {
  mask-image: url(/icons/eye.svg);
}

.aon_icon_redo {
  mask-image: url(/icons/redo-2.svg);
}

.aon_icon_undo {
  mask-image: url(/icons/undo-2.svg);
}

.aon_icon_undo_all {
	mask-image: url(/icons/reply-all.svg);
}

.aon_icon_email, 
.aon-icon-email {
  mask-image: url(/icons/mail.svg);
}

.aon-icon-bidoq {
	mask-image: url(images/aon-icon/aon-icon-bidoq.png);
}

.aon_icon_emit {
  mask-image: url(/icons/file-check.svg);
}

.aon_icon_accounting_record {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjMDAwIj48cGF0aCBkPSJNNDc5LjYzLTEyMHEtNzQuNSAwLTE0MC4wMy0yOC40Mi02NS41Mi0yOC40My0xMTQuMTgtNzYuOTktNDguNjYtNDguNTYtNzcuMDQtMTE0LjJRMTIwLTQwNS4yNiAxMjAtNDc5LjlxMC03NC42NCAyOC4zNS0xNDAuMzggMjguMzUtNjUuNzMgNzYuOTUtMTE0LjM2IDQ4LjYtNDguNjMgMTE0LjMtNzYuOTlRNDA1LjMtODQwIDQ4MC04NDBxNjEuNDEgMCAxMTYuMiAxOSA1NC44IDE5IDk5Ljk1IDUzbC0yOC43NyAyOS43N3EtMzkuNTMtMjkuMzktODYuOTgtNDUuNThRNTMyLjk2LTgwMCA0ODAtODAwcS0xMzMgMC0yMjYuNSA5My41VDE2MC00ODBxMCAxMzMgOTMuNSAyMjYuNVQ0ODAtMTYwcTM1LjA4IDAgNjguMTUtNy41NCAzMy4wOC03LjU0IDYzLjM5LTIwLjg0bDMwIDMwLjIzcS0zNi4zOSAxOC40Ni03Ny4xNiAyOC4zLTQwLjc2IDkuODUtODQuNzUgOS44NVpNNzgwLTE4MHYtMTIwSDY2MHYtNDBoMTIwdi0xMjBoNDB2MTIwaDEyMHY0MEg4MjB2MTIwaC00MFpNNDIyLjQ2LTMyMy42OSAyODAuMTUtNDY2bDI4LjMxLTI4LjMxIDExNCAxMTQgMzg5LjIzLTM4OS40Nkw4NDAtNzQxLjQ2IDQyMi40Ni0zMjMuNjlaIi8+PC9zdmc+');
}

.aon_icon_delete_file {
  mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M240-800v148-148 640-640Zm32 668q-26 0-43-17t-17-43v-576q0-26 17-43t43-17h314l162 162v198q-7-1-14-1.5t-14-.5v-182H572v-148H272q-12 0-22 10t-10 22v576q0 12 10 22t22 10h227q2 8 5 14.5t7 13.5H272Zm364-1-19-19 84-84-84-84 19-19 84 84 84-84 19 19-83 84 83 84-19 19-84-83-84 83Z"/></svg>');
}

.aon_icon_close {
  	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz48L3N2Zz4=');
}

.aon_icon_check,
input[type="checkbox"]{
  	mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Z"/></svg>');
}

.aon_icon_checked,
input[type="checkbox"]:checked {
  	mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m424-348 248-248-20-20-228 228-114-114-20 20 134 134ZM232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Zm-32-560v560-560Z"/></svg>');
}

.aon_icon_tgss {
  mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAYCAYAAAARfGZ1AAAAhklEQVR4Xu2SSwqAMAwFowgi4rk9gId05w38JFA3r7WmsYKoA7MJySO0IfpRsGYyCDZZDYJNVoNgk9XnULMDO5O/Jbq4GTU9+SExk5BtMCCmmoL84ZjJz1Ji4QBZpMLiGbjdbhYw9KPhLdtg8Qry03JG2ptOPjlt8O3ho5tRow2f2M7NvJANURy8WwUNP2MAAAAASUVORK5CYII=');
}

.aon_icon_edit {
	mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M200-200h40l439-439-40-40-439 439v40Zm-28 28v-80l527-528q4.39-3.83 9.7-5.91Q714-788 719.68-788q5.67 0 11 1.5Q736-785 741-780l39 39q5 5 6.5 10.41t1.5 10.82q0 5.77-1.91 11.07-1.92 5.31-6.09 9.7L252-172h-80Zm589-548-41-41 41 41Zm-102.35 61.35L639-679l40 40-20.35-19.65Z"/></svg>');
}

.aon_icon_right {
	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNOC41OSAxNi41OUwxMy4xNyAxMiA4LjU5IDcuNDEgMTAgNmw2IDYtNiA2LTEuNDEtMS40MXoiLz48L3N2Zz4=');
}

.aon_toolbar_button.aon_cancel_button {
	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDBWMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyIDE5IDYuNDF6Ii8+PC9zdmc+');
}


.aon_icon_back,
.aon_icon_cancel,
.aon-icon-cancel{
	mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="--var(aonIconColor, black)"><path d="m276.85-460 231.69 231.69L480-200 200-480l280-280 28.54 28.31L276.85-500H760v40H276.85Z"/></svg>') ;
}

.aon_icon_statics {
	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iIzAwMDAwMCI+PHBhdGggZD0iTTAgMGgyNHYyNEgwVjB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEwIDIwaDRWNGgtNHYxNnptLTYgMGg0di04SDR2OHpNMTYgOXYxMWg0VjloLTR6Ii8+PC9zdmc+');
}

.aon_icon_filter_list {
	mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M429-292v-28h101v28H429ZM282-466v-28h395v28H282ZM172-640v-28h616v28H172Z"/></svg>');
}

.aon_icon_copy {
	mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M366-292q-26 0-43-17t-17-43v-416q0-26 17-43t43-17h296q26 0 43 17t17 43v416q0 26-17 43t-43 17H366Zm0-28h296q12 0 22-10t10-22v-416q0-12-10-22t-22-10H366q-12 0-22 10t-10 22v416q0 12 10 22t22 10ZM258-184q-26 0-43-17t-17-43v-444h28v444q0 12 10 22t22 10h324v28H258Zm76-136v-480 480Z"/></svg>');
}

.aon_icon_minimize {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMTYgMTNoLTNWM2gtMnYxMEg4bDQgNCA0LTR6TTQgMTl2MmgxNnYtMkg0eiIvPjwvc3ZnPg==');
}

.aon_icon_maximize {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNOCAxMWgzdjEwaDJWMTFoM2wtNC00LTQgNHpNNCAzdjJoMTZWM0g0eiIvPjwvc3ZnPg==');
}

.aon-panelGrid-search{
	padding: 1rem;
}

/**/
.gwt-viz-container {
	padding-top: 1rem;
}

.gwt-viz-container svg text {
	fill: var(--aonForegroundColor);
}

.gwt-viz-container svg rect[fill="#ffffff"] {
	fill: var(--aonDarkGray);
}

.gwt-viz-container svg rect[fill="#e6e6e6"] {
	fill: var(--aonBlack);
}


.aon_aeat_background_color,
.aon_araba_background_color {
	background-color: var(--aonBackgroundColor) !important;
}


.aon_display_table:has(.aon_aeat_background_color),
.aon_display_table:has(.aon_araba_background_color),
.aon-EmployeeTree-Events .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
	border-color: transparent !important;
}


.gwt-Selector .gwt-Tree .gwt-TreeItem{
	font-size: 14px;
}