table{
  width: 100%;
}

.table-overflow {
  overflow: auto;
}

.element-row {
  position: relative;
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.tedi-margin-15 {
  margin-left: 15px;
}

.tedi-date-column {
  min-width: 80px;
}

.tedi-reference-column {
  min-width: 100px;
}

.tedi-titular-column {
  min-width: 150px;
}

.tedi-amount-column {
  min-width: 50px;
}

.tedi-paymethod-column {
  min-width: 100px;
}

.tedi-status-column {
  min-width: 80px;
}

.tedi-date-column{
  max-width: 100px;
}

.tedi-amount-column{
  max-width: 100px;
}

.tedi-paymethod-column{
  max-width: 125px;
}

.tedi-status-column{
  max-width: 150px;
}

.tedi-reference-column{
  max-width: 200px;
}

.tedi-select-cell{
  padding-top: 12px;
  padding-bottom: 12px;
}
