<div  class="table-overflow"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
  style="height:calc(100vh - 80px);">
    <mat-table #table [dataSource]="invoiceList" class="mat-elevation-z8" >

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" >
        <th style="border:0px !important;" mat-header-cell *matHeaderCellDef class="tedi-select-cell">
          <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td style="border:0px !important;" mat-cell *matCellDef="let element" class="tedi-select-cell" (click)="$event.stopPropagation()">
          <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                  (change)="$event ? toggle(element) : null"
                  [checked]="selection.isSelected(element)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef class="tedi-date-column"> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-date-column"> {{formatDate(element.date)}} </mat-cell>
      </ng-container>

      <!-- Reference Column -->
      <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef class="tedi-reference-column"> Nº Factura </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-reference-column"> {{element.reference}} </mat-cell>
      </ng-container>

      <!-- Contraparte Column -->
      <ng-container matColumnDef="contraparte">
        <mat-header-cell *matHeaderCellDef class="tedi-titular-column"> Titular </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-titular-column"> {{isEmitida(element.type) ? element.receiver.name : element.sender.name}} </mat-cell>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef class="tedi-amount-column"> Importe </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-amount-column"> {{element.total}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paymethod">
        <mat-header-cell *matHeaderCellDef  class="tedi-paymethod-column"> Forma de Pago </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-paymethod-column"> {{paymethod(element)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef class="tedi-status-column">  </mat-header-cell>
        <mat-cell *matCellDef="let element"  class="tedi-status-column">
          <mat-icon [title]="getComments(element.comments)" class="tedi-margin-15" style="color:#8A8A8A;" *ngIf="element.comments && element.comments.length > 0">comment</mat-icon>
          <mat-icon title="Verificada" class="tedi-margin-15" style="color:#61A141;" *ngIf="element.status === 'inbox' && element.verified">check_circle</mat-icon>
          <mat-icon title="Pendiente" class="tedi-margin-15" style="color:#8A8A8A;" *ngIf="element.status === 'inbox' && !element.verified">error</mat-icon>
          <mat-icon class="tedi-margin-15" *ngIf="element.file">attachment</mat-icon>
          <mat-icon title="Emitida" class="tedi-margin-15" *ngIf="element.type === 'EMITIDA'">{{getInvoiceIcon(element)}}</mat-icon>
          <mat-icon title="Ticket" class="tedi-margin-15" *ngIf="element.type === 'TICKET'">{{getInvoiceIcon(element)}}</mat-icon>
          <mat-icon title="Recibida" class="tedi-margin-15" *ngIf="element.type === 'RECIBIDA'">{{getInvoiceIcon(element)}}</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <mat-header-cell *matHeaderCellDef class="tedi-date-column"> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-date-column"> {{formatDate(element.create_date)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef class="tedi-user-column"> Usuario </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-user-column"> {{element.create_user}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef class="tedi-source-column"> Origen </mat-header-cell>
        <mat-cell *matCellDef="let element" class="tedi-source-column"> {{getSourceText(element.source)}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row matRipple *matRowDef="let row; columns: displayedColumns;let i = index;"
              class="element-row" (click)="viewInvoice(row, i)"></mat-row>
    </mat-table>

</div>
