*{
    margin: 0;
    padding: 0;
  }
body{
    text-align: center;
    font: ${size_tamano_de_fuente} ${font_fuente};
    color: ${color_color_de_texto};
    background: #88b8cb;
	width:750px;
	margin:0 auto;
  }
#canvas{
    margin: 0 auto;
    width: 750px;
    background: transparent url(images/content_bg.jpg) repeat-y;
    text-align: left;
	margin:0 auto 20px;
  }
#header{
    height:170px;
    background:transparent url(images/header_bg.jpg) no-repeat;
	text-align:right;
	padding:20px;
	margin-right:51px;
  }
h1#logo{
    position: relative;
    top: 140px;
    left: 440px;
    width: 415px;
  }
h1#logo a{
    display: block;
    height: 150px;
  }
h1#logo a:hover{}
#menu{
    font-size: ${size_tamano_de_fuente_menu};
	color:#000000;
  }
#menu a{
    display: block;
    margin-left:-100px;
	padding:5px 0 5px 20px;
    width: 120px;
    color:  ${color_color_de_texto_menu};
    text-decoration: none;
  }
#menu a:hover{
    background:  ${bgcolor_color_fondo_menu};
    color: ${color_color_de_texto};
  }
#container{
    border-top: ${border_bordes} solid ${color_color_bordes_contenido};
    border-bottom: ${border_bordes} solid ${color_color_bordes_contenido};
   	float:right;
	margin:0 76px;
	padding:37px 0;
	width:575px;
  }
  #container td{
  margin:20px;
   padding:20px;}
h2{
    font-size: 14px;
    color:${color_color_texto_titulos};
  }
#content p, #addColumn p{
    margin: 5px 0 20px 0;
  }

#foot{
    padding:25px 75px 10px;
 background: transparent url(images/footer_bg.jpg) left bottom no-repeat;
    font-size: 10px;
    color: #fff;

    list-style: none;
  }
#foot a{
    color: #fff;
  }
#foot a:hover{
    text-decoration: underline;
  }
#foot_text {
	text-align:center;
	margin-top:265px;
	
}
li.validate{
    padding-right: 5px;
    float: left;
  }
li.copyright{
    float: right;
  }
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:330px; 
	padding:5px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:#000000;
}
.gallery-navigation a{
	color:#000000;
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
.album {
	height:400px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:#000000;
	margin-left:40px;
}
.objeto {
	float:left;
	
}
.objeto a{
	text-decoration:none;
	color:#000000;
}