*{
    margin: 0;
    padding: 0;
  }
body{
    text-align: center;
    font: ${size_tamano_texto_pagina} ${font_fuente_texto_pagina};
    color: ${color_color_texto_pagina};
    background: ${bgcolor_color_fondo_pagina};
	width:750px;
	margin:0 auto;
	margin-top:100px;
  }

#header{
	background-image: url(images/${img_imagen_fondo_cabecera});
    height:175px;
	text-align:right;
	padding:40px;
	margin-right:51px;
  }
  #canvas{
	background: transparent url(images/bg.png) no-repeat;
    margin: 0 auto;
    width: 750px;
	height:800px;
    text-align: left;
	margin:0 auto 20px;
  }
h1#logo{
    position: relative;
    top: 140px;
    left: 440px;
    width: 415px;
  }
h1#logo a{
    display: block;
    height: 150px;
  }
h1#logo a:hover{}
#menu{
    font-size: ${size_tamano_texto_menu};
	float: left;
  }
#menu a{
    display: block;
    margin-left:-100px;
	padding:5px 0 5px 20px;
	width:85px;
    color:  ${color_color_texto_menu};
    text-decoration: none;
  }
#menu a:hover{
    background:  ${bgcolor_color_fondo_menu_hover};
    color: ${color_color_texto_menu_hover};
  }
#container{
    border-bottom: ${border_tamano_borde_contenido} solid ${color_color_borde_contenido};
   	float:right;
	margin-right:80px;
	margin-bottom:20px;
	padding:37px 0;
	width:575px;
	height:300px;
  }
  #container td{
	margin:20px;
	padding:20px;
	}
h1{
    font-size: 16px;
    color:${color_color_texto_titulo};
  }
#content p, #addColumn p{
    margin: 5px 0 20px 0;
  }

#foot{
    padding:25px 75px 10px;
    font-size: 9px;
    color:${color_color_texto_pie};
    list-style: none;
  }
#foot a{
    color:${color_color_texto_pie};
  }
#foot a:hover{
    text-decoration: underline;
  }
#foot_text {
	text-align:center;
	margin-top:265px;	
}
li.validate{
    padding-right: 5px;
    float: left;
  }
li.copyright{
    float: right;
  }
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	/*width:330px;*/ 
	padding:5px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:#000000;
}
.gallery-navigation a{
	color:#000000;
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente_texto_pie} ;
	font-size: 9px;
	color:${color_color_texto_pie};
	text-decoration:underline;
	}
.album {
	height:400px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:#000000;
	margin-left:40px;
}
.objeto {
	float:left;
	
}
.objeto a{
	text-decoration:none;
	color:#000000;
}