<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/aon-inelco-mac-asesores-es?autoReconnect=true</property>		
		<property name="connection.username">root</property>		
		<property name="show_sql">true</property>		
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password"></property>	
	
		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON-FISCAL Mapping files -->	
		<mapping class="com.code.aon.fiscal.Mod347"/>
		<mapping class="com.code.aon.fiscal.Mod347Detail"/>
		<mapping class="com.code.aon.fiscal.ProfessionalRetention"/>
		<mapping class="com.code.aon.fiscal.Renting"/>
		<mapping class="com.code.aon.fiscal.RentingDetail"/>
		<mapping class="com.code.aon.fiscal.VatTax"/>
		<mapping class="com.code.aon.fiscal.VatTaxDeclaration"/>
		<mapping class="com.code.aon.fiscal.VatTaxDetail"/>

		<!-- AON-CALENDAR Mapping files -->		
		<mapping class="com.esferalia.aon.calendar.Calendar"/>
		<mapping class="com.esferalia.aon.calendar.CalendarHoliday"/>
		<mapping class="com.esferalia.aon.calendar.CalendarPeriod"/>
		<mapping class="com.esferalia.aon.calendar.Holiday"/>
		<mapping class="com.esferalia.aon.calendar.HolidayDetail"/>

		<!-- AON-COMPANY Mapping files -->	
		<mapping class="com.code.aon.company.Company"/>
		<mapping class="com.code.aon.company.Enterprise"/>
		<mapping class="com.code.aon.company.EnterpriseData"/>				
		<mapping class="com.code.aon.company.WorkPlace"/>
		
		<!-- AON-CONFIG Mapping files -->
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.CNAE"/>
		<mapping class="com.code.aon.config.CommissionType"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.PayMethodTypeDetail"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.UserWorkGroup"/>
		<mapping class="com.code.aon.config.WorkGroup"/>

		<!-- AON-REGISTRY Mapping files -->	
		<mapping class="com.code.aon.person.Person"/>
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RecordData"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddInfo"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryDirStaff"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryNote"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistryRelationship"/>
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Relationship"/>
		<mapping class="com.code.aon.registry.Segment"/>
		
		
		<mapping class="com.code.aon.geozone.GeoZone"/>
	</session-factory>

</hibernate-configuration>