<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>

		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">1900</property>
		<property name="c3p0.timeout">3600</property>
		<property name="c3p0.max_size">30</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.preferredTestQuery">select 1;</property>

		<property name="connection.service">jboss.admin:service=AonLdap</property>
		<property name="connection.datasource">java:comp/env/jdbc/CMS</property>
		<property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
<!-- 
		<property name="connection.url">jdbc:mysql://localhost:3306/cms?autoReconnect=true</property>		
		<property name="connection.username">root</property>		
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">password</property>		
 -->	
<!-- 
		<property name="connection.url">jdbc:mysql://192.168.2.4:3306/cms?autoReconnect=true</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">serubd2000</property>		
 -->	
<!-- 
		<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>

		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">1900</property>
		<property name="c3p0.timeout">3600</property>
		<property name="c3p0.max_size">30</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.preferredTestQuery">select 1;</property>

		<property name="connection.service">jboss.admin:service=AonLdap</property>
		<property name="connection.datasource">java:comp/env/jdbc/CMS</property>
		<property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
 -->	

		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- Mapping files -->
		<mapping class="com.code.aon.cms.AlbumCategory"/>
		<mapping class="com.code.aon.cms.AlbumCategoryDetail"/>
		<mapping class="com.code.aon.cms.Album"/>
		<mapping class="com.code.aon.cms.AlbumDetail"/>
		<mapping class="com.code.aon.cms.AlbumImage"/>
		<mapping class="com.code.aon.cms.AlbumImageDetail"/>
		<mapping class="com.code.aon.cms.Article"/>
		<mapping class="com.code.aon.cms.ArticleDetail"/>
		<mapping class="com.code.aon.cms.ArticleCategory"/>
		<mapping class="com.code.aon.cms.ArticleCategoryDetail"/>
		<mapping class="com.code.aon.cms.Banner"/>
		<mapping class="com.code.aon.cms.BannerDetail"/>
		<mapping class="com.code.aon.cms.BannerCategory"/>
		<mapping class="com.code.aon.cms.BannerCategoryDetail"/>
		<mapping class="com.code.aon.cms.Brand"/>
		<mapping class="com.code.aon.cms.BrandDetail"/>
		<mapping class="com.code.aon.cms.Config"/>
		<mapping class="com.code.aon.cms.ConfigDetail"/>
		<mapping class="com.code.aon.cms.Download"/>
		<mapping class="com.code.aon.cms.DownloadDetail"/>
		<mapping class="com.code.aon.cms.DownloadCategory"/>
		<mapping class="com.code.aon.cms.DownloadCategoryDetail"/>
		<mapping class="com.code.aon.cms.Faq"/>
		<mapping class="com.code.aon.cms.FaqDetail"/>
		<mapping class="com.code.aon.cms.FaqCategory"/>
		<mapping class="com.code.aon.cms.FaqCategoryDetail"/>
		<mapping class="com.code.aon.cms.Footer"/>
		<mapping class="com.code.aon.cms.FooterDetail"/>
		<mapping class="com.code.aon.cms.GenericPage"/>
		<mapping class="com.code.aon.cms.GenericPageDetail"/>
		<mapping class="com.code.aon.cms.Header"/>
		<mapping class="com.code.aon.cms.HeaderDetail"/>
		<mapping class="com.code.aon.cms.Language"/>
		<mapping class="com.code.aon.cms.Link"/>
		<mapping class="com.code.aon.cms.LinkDetail"/>
		<mapping class="com.code.aon.cms.LinkCategory"/>
		<mapping class="com.code.aon.cms.LinkCategoryDetail"/>
		<mapping class="com.code.aon.cms.Menu"/>
		<mapping class="com.code.aon.cms.MenuOption"/>
		<mapping class="com.code.aon.cms.MenuOptionDetail"/>
		<mapping class="com.code.aon.cms.ProductCategory"/>
		<mapping class="com.code.aon.cms.ProductCategoryDetail"/>
		<mapping class="com.code.aon.cms.Product"/>
		<mapping class="com.code.aon.cms.ProductDetail"/>
		<mapping class="com.code.aon.cms.Article"/>
		<mapping class="com.code.aon.cms.ArticleDetail"/>
		<mapping class="com.code.aon.cms.ArticleCategory"/>
		<mapping class="com.code.aon.cms.ArticleCategoryDetail"/>
		<mapping class="com.code.aon.cms.Sidebar"/>
		<mapping class="com.code.aon.cms.SidebarOption"/>
		<mapping class="com.code.aon.cms.SidebarOptionDetail"/>
		<mapping class="com.code.aon.cms.Section"/>
		<mapping class="com.code.aon.cms.ModularPage"/>
		<mapping class="com.code.aon.cms.ModularPageDetail"/>
		<mapping class="com.code.aon.cms.ModularPageOption"/>
		<mapping class="com.code.aon.cms.ModularPageOptionDetail"/>
		<mapping class="com.code.aon.cms.DirectAccessGroup"/>
		<mapping class="com.code.aon.cms.DirectAccessGroupDetail"/>
		<mapping class="com.code.aon.cms.DirectAccess"/>
		<mapping class="com.code.aon.cms.DirectAccessDetail"/>
		<mapping class="com.code.aon.cms.FaqConfig"/>
		<mapping class="com.code.aon.cms.LinkConfig"/>
		<mapping class="com.code.aon.cms.AlbumConfig"/>
		<mapping class="com.code.aon.cms.ArticleConfig"/>
		<mapping class="com.code.aon.cms.ArticleRelated"/>
		<mapping class="com.code.aon.cms.ArticleDocument"/>
		<mapping class="com.code.aon.cms.ArticleDocumentDetail"/>
		<mapping class="com.code.aon.cms.DownloadConfig"/>
		<mapping class="com.code.aon.cms.Company"/>
		<mapping class="com.code.aon.cms.Activity"/>
		<mapping class="com.code.aon.cms.ActivityDetail"/>
		<mapping class="com.code.aon.cms.CompanyActivity"/>
		<mapping class="com.code.aon.cms.Bulletin"/>
		<mapping class="com.code.aon.cms.BulletinDetail"/>
		<mapping class="com.code.aon.cms.BulletinArticle"/>
		<mapping class="com.code.aon.cms.BulletinEmail"/>
		<mapping class="com.code.aon.cms.FooterBannerCategory"/>
		<mapping class="com.code.aon.cms.Diary"/>
		<mapping class="com.code.aon.cms.DiaryDetail"/>
		<mapping class="com.code.aon.cms.HiruOrganizerCentre"/>
		<mapping class="com.code.aon.cms.HiruCourse"/>
		<mapping class="com.code.aon.cms.HiruCourseDetail"/>
		<mapping class="com.code.aon.cms.HiruConfig"/>
		<mapping class="com.code.aon.cms.ProductCategoryConfig"/>
		<mapping class="com.code.aon.cms.SportCategory"/>
		<mapping class="com.code.aon.cms.SportCategoryDetail"/>
		<mapping class="com.code.aon.cms.SportClub"/>
		<mapping class="com.code.aon.cms.SportPosition"/>
		<mapping class="com.code.aon.cms.SportPositionDetail"/>
		<mapping class="com.code.aon.cms.SportNationality"/>
		<mapping class="com.code.aon.cms.SportNationalityDetail"/>
		<mapping class="com.code.aon.cms.SportSeason"/>
		<mapping class="com.code.aon.cms.SportPlayer"/>
		<mapping class="com.code.aon.cms.SportCareerPath"/>
		<mapping class="com.code.aon.cms.SportCoach"/>
		<mapping class="com.code.aon.cms.SportConfig"/>

	</session-factory>

</hibernate-configuration>