@import "src/styles.scss";

.up-doc {
  margin-bottom: 30px;
}

.in-search {
  margin-top: 0.5rem;
}

.list-folders {
  margin-top: 1.85rem;
}

.txt-btn {
  width: 100%;
  text-align: left;
  margin-left: 0.75rem;
}

.mt {
  margin-top: $margin-top;
}

.mb {
  margin-bottom: $margin-bottom;
}

.ml {
  margin-left: $margin-left;
}

.line-div {
  border: none;
  border-top: 1px solid #d2d2d6;
}

.grid-list-folders {
  width: 100%;
}
