.upDoc, .inSearch, .inSearch {
  border: 1px solid green;
  margin-top: 1.5rem;
}

.inSearch {
  margin-bottom: 1.85rem;
}


.listFolders {
  margin-top: 1.85rem;
  // border: 1px solid green;
}

.dashed {
  height: 100%;
  border-radius: 4px;
  border-style: dashed;
  border-color: gray;
  border-width: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.inptSearch {
  border: 1px solid red;
}

.container-folder {
  display: flex;
}

.folder-item {
  flex: 1;
  // border: 1px solid #d2d2d6;
  display: flex;
  margin-right: 2.9rem;
  height: 100%;
  word-wrap: break-word;
}

.folder-item:last-child {
  margin-right: 0rem;;
}

.txtBtn {
  width: 100%;
  text-align: left;
  margin-left: 0.75rem;
}

.iconArrow {
  width: fit-content;
  text-align: right;
}
