<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.url">jdbc:mysql://volga:3306/aon_master?autoReconnect=true</property>		
		<property name="connection.username">dbuser</property>		
		<property name="show_sql">true</property>		
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">serubd2000</property>	
	
		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON-ASSET Mapping files -->
		<mapping class="com.code.aon.asset.Asset"/>
		<mapping class="com.code.aon.asset.AssetActivity"/>

		<!-- AON-CALENDAR Mapping files -->
		<mapping class="com.esferalia.aon.calendar.Calendar"/>
		<mapping class="com.esferalia.aon.calendar.Holiday"/>
		
		<!-- AON-COMPANY Mapping files -->
		<mapping class="com.code.aon.company.Enterprise"/>
		<mapping class="com.code.aon.company.WorkPlace"/>

		<!-- AON-CONFIG Mapping files -->		
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.CommissionType"/>
		<mapping class="com.code.aon.config.PayMethod"/>		
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>

		<!-- AON-CUSTOMER Mapping files -->		
		<mapping class="com.code.aon.customer.Customer"/>
		
		<!-- AON-GEOZONE Mapping files -->		
		<mapping class="com.code.aon.geozone.GeoZone"/>			

		<!-- AON-PMS Mapping files -->	
		<mapping class="com.esferalia.aon.pms.Hotel"/>
		<mapping class="com.esferalia.aon.pms.ProjectReservation"/>
		<mapping class="com.esferalia.aon.pms.ProjectReservationGuest"/>
		<mapping class="com.esferalia.aon.pms.ProjectReservationRoom"/>
		<mapping class="com.esferalia.aon.pms.ProjectReservationRoomDetail"/>
		<mapping class="com.esferalia.aon.pms.ProjectReservationService"/>

		<!-- AON-PROJECT Mapping files -->	
		<mapping class="com.code.aon.project.Project"/>
		<mapping class="com.code.aon.project.ProjectType"/>

		<!-- AON-PRODUCT Mapping files -->	
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.ItemSupplier"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>

		<!-- AON-REGISTRY Mapping files -->
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Segment"/>

		<!-- AON-SELLER Mapping files -->
		<mapping class="com.code.aon.seller.Seller"/>		

		<!-- AON-SUPPLIER Mapping files -->
		<mapping class="com.code.aon.supplier.Supplier"/>		

	</session-factory>

</hibernate-configuration>