
.cm-mark-user{
	border: 1px solid #D8D37A;
	border-left-width: 0px ;
	border-right-width: 0px ;
	background-color: hsla(57, 65%, 75%, 0.3);
}

.cm-mark-read-only{
	border: 1px solid #C4C4C4;
	border-left-width: 0px ;
	border-right-width: 0px ;
	background-color:  hsla(0, 0%, 85%, 0.3);
}

.cm-mark-user-end {
	border-right-width: 1px ;
	
}
.cm-mark-read-only-end {
	border-right-width: 1px ;
}

.cm-mark-user-start {
	border-left-width: 1px ;
	
}
.cm-mark-read-only-start {
	border-left-width: 1px ;
}

div.CodeMirror-cursors {
    z-index: 10 !important;
}

.CodeMirror div.CodeMirror-cursor {
    z-index: 10;
    border-left: 2px solid black;
}


