.aon-input-required {
	color:#2152A5;
	font-weight: bold !important;
}
.aon-outputLabel {
	font-weight: normal;
}
.generator-log-panel {
	width:920px;
    height:178px;
    overflow:auto;
}
.aon-dropDownMenu-label{
	padding: 2px 4px 2px 22px;
	background-position:4px !important;
}