<div *ngIf="isPrincipalMenu()" class="aon-menu-sidenav-content">
  <mat-list>
    <mat-list-item style="height:80px;" *ngFor="let app of apps; index as i"
        [ngStyle]="{backgroundColor: aonHover===i  ? '#f1f1f1' : 'transparent' }"
        (mouseover)="aonHover=i" (mouseleave)="aonHover=-1" >
      <a style="width:80px;cursor: pointer;margin:8px 2px;text-align: center;" (click)='appSelection(app.app)'>
        <div>
          <img [src]="app.logo" style="width:40px;" [title]="app.title">
          <div>
            <span style="font-size: 12px; color: rgba(0,0,0,.87);font-family: Roboto,sans-serif;"> {{app.title}} </span>
          </div>
        </div>
      </a>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="!isPrincipalMenu()" class="aon-menu-sidenav-app-content">
  <mat-toolbar [ngClass]="getAppToolbarClass()">
    <span>{{app.title}}</span>

    <span class="tedi-right40" >
      <aon-icon-button icon="launch" color="white" noHover="true"></aon-icon-button>
    </span>

    <span class="tedi-right0" >
      <aon-icon-button icon="close" color="white" noHover="true" (click)="backMenu()"></aon-icon-button>
    </span>
  </mat-toolbar>

  <mat-list>
    <mat-list-item style="height:30px;" *ngFor="let option of app.options;index as i" [title]="option.title"
        [ngStyle]="{backgroundColor: aonHover===i  ? '#f1f1f1' : 'transparent'}"
        (mouseover)="aonHover=i" (mouseleave)="aonHover=-1">
      <a class="aon-menu-link" (click)="optionSelection(option)">
        <span style="font-size: 12px; color: rgba(0,0,0,.87);font-family: Roboto,sans-serif;" [ngClass]="{'aon-bold' : selectedOption === option}"> {{option.title}} </span>
      </a>
    </mat-list-item>
  </mat-list>
</div>
