<div id="footer">

	
<br />
<b>$!company.getName()</b> -
<b>d.</b><i> $!address.getAddress() $!address.getAddress2() $!add.getAddress3() - $!address.getZip() - $!address.getCity() - $!address.getGeozone().getName()</i> -
<b>t.</b> $!phone - <b>e.</b> <a href="mailto:$!email">$!email</a>
</br>

<div class="copiesferalia">
Desarrollado con aon Solutions<sup>&reg;</sup>
/InfoWEB, marca registrada de <a target="_blank" href="http://www.esferalia.com/">ESFERALIA NETWORKS S.A.
</a>
</div>
</div>		<!-- fin foot -->
