
<!--<h1 >$generic.getTitle()</h1>-->

<div id="content">	
<div align="right"><h1>$pagename</h1></div>
<p></p>
<table>
  <tr>
    <td>$!text</td>
    <td>
	#foreach ($image in $images)
		<img src='images/$!image.getName()'/>
		<!--$!image.getDescription();-->
    #end
	</td>
  </tr>
</table>

</div>