body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:${bgcolor_color_de_fondo};
	color:${color_color_de_texto};
	text-align:center;
	margin:0 auto;
	width:750px;
}
td{vertical-align:top;}
.canvas{
	width:740px;
	position:relative;
	text-align:left;
}
.header{
	background-color:${bgcolor_color_de_fondo_cabecera};
	text-align:right;
}
.logo{
	background-color:${bgcolor_color_de_fondo};
	text-align:left;
	font-size:18px;
	font-style:bold;
	color:${color_color_de_texto};
}
.menu{
	background-color: ${bgcolor_color_de_fondo_menu};
	float:left;
	text-align:left;
	width:135px;
	line-height:5px;
}
.menu table{
	width:100%;
}
.menu ul li {
	padding:2px 5px;
	font-weight:bold;
	margin-top:20px;
	border-bottom: 1px solid ${color_color_de_borde};
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.menu ul li  a{
	text-decoration:none;
	color:${color_color_de_texto_menu};
	
}
.content{
	background-color:${bgcolor_color_de_fondo_contenido};
	color:${color_color_de_texto_contenido};
	float:right;
	width:600px;
	padding-top:0px;
	margin: 0 auto;
}
.content-internal{
	float:right;
	padding:15px;
	width:600px;
	border:${color_color_de_borde} 10px solid;
}
.titular{
	font-size:16px;
	font-weight:bold;
	color:#99FF33;
}
.foot{
	background-color:${bgcolor_color_de_fondo_pie};
	color:${color_color_de_texto_pie};
	padding:15px 160px;
	width:580px;
	font-size:9px;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:330px; 
	padding:5px;
	background-color:#dddddd;
	margin-left:235px;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
}
.gallery-navigation a{
	text-align:center;
	color:#000000;
	text-decoration:none;
}
.bold {
	color:#000000;
	text-decoration:none;
}
.bold a{
	color:#000000;
	text-decoration:none;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
.album {
	text-align:center;
	padding-left:55px;
}
.objeto {
	float:left;
	padding:10px;
}
