@import "src/styles.scss";


.title-modal-info-certicate {
  font-size: $font-size-24;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;
}

.box {
  margin: 1rem;

  .info-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: $font-size-primary;

    .info-title {
      font-weight: 400;
      color: $color-secondary;
    }

    .info-data {
      font-weight: 500;
      color: $color-dark;
      margin-left: 0.5rem;
    }
  }
}

.subtitle-modal-info-certicate {
  font-size: $font-size-default;
  font-weight: 400;
  padding-left: 2rem;

}

.box-2 {
  border: .05rem solid $color-border-primary ;
  margin: 2rem;
  padding: 0.5rem;


}

.info-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: $font-size-primary;
  font-weight: 400;
  color: $color-secondary !important;

}


