<p class="title-modal-info-certicate">Información certificado</p>

<div class="box">
  <div class="info-line">
    <p class="info-title">{{ "PROFILE.NAME" | translate }}</p>
    <p class="info-data">apellidos, nombre</p>
  </div>
  <div class="info-line">
    <p class="info-title">{{ "PROFILE.DOCUMENT" | translate }}</p>
    <p class="info-data">12345678-D</p>
  </div>
  <div class="info-line">
    <p class="info-title">{{ "PROFILE.VALIDITY" | translate }}</p>
    <p class="info-data">dd/mm/aa</p>
  </div>
  <div class="info-line">
    <p class="info-title">{{ "PROFILE.VALIDITY_TO" | translate }}</p>
    <p class="info-data">dd/mm/aa</p>
  </div>
</div>

<hr />

<p class="subtitle-modal-info-certicate">
  {{ "PROFILE.SECUNDARY_USERS" | translate }}
</p>
<div class="box-2">
  <div class="info-box">
    <p>{{ "PROFILE.NAME" | translate }}</p>
    <p>apellidos, nombre</p>
  </div>
  <div class="info-box">
    <p>{{ "PROFILE.NAF" | translate }}</p>
    <p>452A</p>
  </div>
  <div class="info-box">
    <p>{{ "PROFILE.STATUS" | translate }}</p>
    <p>Válido</p>
  </div>
  <div class="info-box">
    <p>{{ "PROFILE.STATUS_DATE" | translate }}</p>
    <p>DD/MM/AA</p>
  </div>
</div>
<div class="button-arrow">
  <app-icon class="arrow" shape="arrow_forward_ios"></app-icon>
</div>
