@use '../variables' as v;
/*
<div class="aon-content-wrapper">
    <div class="aon-content-top-scrollbar">
        <div class="aon-content-top-scrollbar-thumb"></div>
    </div>
    <div class="aonContentBeta content-scrollbar">
    </div>
    <div class="aon-content-bottom-scrollbar">
        <div class="aon-content-bottom-scrollbar-thumb"></div>
    </div>
</div>
*/
/* --- Configuracion Base para que todo ocupe el 100% de la altura --- */
html, body, aon-module, aon-module > div, aon-module > div > div {
  height  : 100%;
  margin  : 0;
  padding : 0;
}

/* --- 1. Layout Principal (Menu Principal | Resto de la App) --- */
/* El contenedor directo de #aonMenuSidenav y #rootPanel */
aon-module > div > div {
  display: flex;
}
#aonMenuSidenav {
  flex-shrink: 0;
}
#rootPanel {
  flex-grow : 1;
  min-width : 0;
  display   : flex;
}

/* --- 2. Layout Vertical de la Aplicacion (Toolbar | Contenido) --- */
aon-aplication {
  display       : flex;
  flex-direction: column;
  flex-grow     : 1;
}
aon-toolbar {
  flex-shrink: 0;
}
.aon-flex {
  flex-grow : 1;
  display   : flex;
  min-height: 0;
}

/* --- 3. Layout Interno (Submenu | Contenido Final) --- */
.aonSidenav {
  flex-shrink : 0;
  width       : auto;
  white-space : nowrap;
}

/* --- 4. Contenido --- */
$height-min-body: calc(v.$vh-100 - ((v.$height-cabecera + v.$menu-top-height) * 3));
.aonContentBeta {
  position      : relative;
  flex-grow     : 1;
  min-width     : v.$px-0;
  display       : flex;
  flex-direction: column;
  box-sizing    : border-box;
  padding       : v.$padding;
  border-radius : v.$border-radius;
  overflow      : auto;
  min-height    : $height-min-body;
}
