@use '../variables' as v;

.aonToolbar2, aon-header{
  height          : v.$px-64;
  min-height      : v.$px-64;
  position        : sticky;
  z-index         : 1; 
  top             : v.$px-0;
  padding         : 0 v.$px-20;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  
  #aonLoginLogoDiv{
    max-height: v.$px-64;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #aonLoginLanguageDivToolbar{
    display: flex;
  }
}
