@use '../variables' as v;

.aonToolbar2, aon-header{
  height          : v.$height-cabecera;
  min-height      : v.$height-cabecera;
  position        : sticky;
  z-index         : v.$num-3; 
  top             : v.$px-0;
  padding         : v.$px-0 v.$padding;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  
  #aonLoginLogoDiv{
    max-height        : v.$height-cabecera;
    background-size   : contain;
    background-repeat : no-repeat;
  }
  #loginConfiguration{
    display : flex;
  }
  
  // Cabecera que no es login (Vamos la cabecera logueado)
  #aonHeaderWeb{
    display         : flex;
    width           : v.$pct-100;
    justify-content : inherit;
    align-items     : center;
    #header-container-lef{
      display    : flex;
      align-items: center;
      gap        : v.$gap;
      #toggle-menu{
        display : flex;
        cursor  : pointer;
        .rotate-icon {
          transition: transform 0.3s ease;
          transform: rotate(0deg);
          will-change: transform;
        }
        .rotate-icon.rotated {
          transform: rotate(-180deg);
        }
      }
      // LOGO - Cuando esta logueado
      #aon-logo{
        cursor: pointer;
      }
    }
    #aonHeaderButtons{
      display     : flex;
      gap         : v.$gap;
      align-items : center;
      position    : relative;
      span{
        height : v.$px-24; // Centrar iconos... ya que no se cargan todos igual
      }
    }
  }
}

