@use '../variables' as v;

/*  
  Fila 1: [ Menu superior (100% ancho de #rootPanel)     ] ? #aonMenuTopnav
  Fila 2: [ Menu lateral izquierda | Contenido principal ] ? #aonMenuSidenav | #rootPanel (IN _home.scss)

  <div id="content">
    <div id="aon-new-menu">
      <div id="aonMenuSidenav">Menu lateral izquierda</div>
      <div id="aonMenuTopnav">Menu superior</div>
    </div>
    <div id="rootPanel">Contenido</div>
  </div>
*/
$menu-resolucion: v.$menu-resolucion-mobile + 1;
$icon-min: v.$px-16;
#aonMenu{
  &.min-hidden{
    /* Menu izquierda reducido */
    #aonMenuSidenav {
      width     : v.$left-aonMenuLeft-min;
      min-width : v.$left-aonMenuLeft-min;
      max-width : v.$left-aonMenuLeft-min;
      span.aonNewMenuAppSpan, aon-info{
        display       : none !important;
        opacity       : 0;
        pointer-events: none; 
      }
    }
    /* Menu arriba cuando reducimos */
    #aonMenuTopnav {
      width     : calc(v.$pct-100 - v.$menu-top-Left-min); // 100% menos lo que ocupa el menu de la izquierda
      left      : v.$menu-top-Left-min;   // lo que ocupa el menu de la izquierda
    }
  }
  /* Menu izquierda */
  @media (max-width: v.$menu-resolucion-mobile) {
    &.hidden-mobile{
      #aonMenuSidenav {
        // display: none;
        transform: translateX(-100%);
        opacity: 0;
        pointer-events: none;
      }
    }
    // position: absolute;
    #aonMenuSidenav {
      position  : absolute;
      width     : v.$pct-100 !important;
      min-width : v.$pct-100 !important;
      max-width : v.$pct-100 !important;
      z-index   : v.$num-5;
      transform: translateX(0);   // visible por defecto
      opacity: 1;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out
    }
    #aonMenuTopnav {
      width     : v.$pct-100 !important;
      left      : v.$num-0 !important;
    }
  }
  #aonMenuSidenav {
    width     : v.$left-aonMenuLeft;
    min-width : v.$left-aonMenuLeft;
    max-width : v.$left-aonMenuLeft;
    height    : calc(#{v.$vh-100} - v.$menu-top-height);
    overflow-y: auto;
    box-sizing: border-box;
    @media (min-width: $menu-resolucion) {
      transition: width v.$t-03 ease-in-out, min-width v.$t-03 ease-in-out, max-width v.$t-03 ease-in-out;
    }
    ul {
      list-style-type : none;
      margin          : v.$px-0;
      padding         : v.$padding v.$px-0;
      li{
        height : v.$px-48;
        a{
          div{
            display         : flex;
            height          : v.$px-48;
            align-items     : center;
            justify-content : flex-start !important;
            flex-direction  : row !important;
            gap             : v.$padding;
            padding         : v.$px-0 v.$padding;
            cursor          : pointer;

            .aonNewMenuAppIcon{
              display     : inline-block;
              width       : v.$px-24;
              height      : v.$px-24;
              flex-shrink : v.$num-0;
              // Oculta el texto
              font-size   : v.$px-0;
              line-height : v.$px-0;
              color       : transparent;
              overflow    : hidden;
            }
            // texto visible
            .aonNewMenuAppSpan{
              display     : block;
              font-size   : v.$px-16;
              line-height : v.$px-24;
              opacity     : v.$num-1;
              transition  : opacity v.$t-03 ease-in-out;
            }
            aon-info{
              opacity     : v.$num-1;
              transition  : opacity v.$t-03 ease-in-out;
              // El boton de info mas chico quitarle prioridad
              aon-icon[icon="info"]{
                width : $icon-min;
                height: $icon-min;
                &::after {
                  width : $icon-min;
                  height: $icon-min;
                }
              }
            }
          }
        }
        &:empty {
          display: none;
        }
      }
    }
  }
  /* Menu superior */
  #aonMenuTopnav {
    width      : calc(v.$pct-100 - v.$menu-top-Left); // 100% menos lo que ocupa el menu de la izquierda
    height     : v.$menu-top-height; // Altura del menu
    position   : fixed;
    top        : v.$height-cabecera;
    left       : v.$menu-top-Left;   // lo que ocupa el menu de la izquierda
    overflow-x : hidden;
    transition: width v.$t-03 ease-in-out, left v.$t-03 ease-in-out;
    z-index    : v.$num-2;
    #aonTopMenuDiv{
      display         : flex;
      justify-content : center;
      height          : v.$pct-100;
      gap             : v.$gap;
      >div >a{
        cursor : pointer;
        &:hover {
          >div{
            i{
              transform : scale(1.3);
            }
            span{
              transform : scale(1.1);
            }
          }
        }
        >div{
          height        : v.$pct-100;
          display       : grid;
          align-content : center;
          justify-items : center;
          i{
            transition : transform v.$t-02 ease;
          }
          span{
            transition : transform v.$t-02 ease;
            font-size  : v.$px-10;
          }
        }
      }
    }
  }
}