@use '../variables' as v;

aon-right-panel{
  #aonRightPanel{   
    #aonRightPanelContent{
      #aonHelp{
        #helpContent{
          display: flex;
          flex-direction: column;
          gap: v.$gap;
          #supportContent{
            padding: v.$px-0 v.$px-16 !important;
            display: flex;
            justify-content: space-between;
            span{
              font-size: v.$px-16;
            }
          }
          .helpCardText{
            display: flex;
            gap: v.$gap;
            font-size: v.$px-16;
            border-radius: v.$border-radius;
            cursor: pointer;
            background-color: #f1f5f9;
            padding: v.$px-8 v.$px-16 v.$px-8 v.$px-16;
            &:hover{
              background-color: #cbd5e1;
              color: #1E293B;
            }
          }
        }  
      } 
    }
  }
}