<svg version="1.1" id="atp_cerrar_menu_izquierda" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.9 38.9" style="enable-background:new 0 0 38.9 38.9;" xml:space="preserve">
    <path class="st0" d="M19.4,38.9c10.7,0,19.4-8.7,19.4-19.4S30.2,0,19.4,0S0,8.7,0,19.4S8.7,38.9,19.4,38.9"/>
    <path class="st1" d="M22.9,25.2l-5.8-5.8l5.8-5.8l-1.8-1.8l-7.5,7.5l7.5,7.5L22.9,25.2z"/>
</svg>

<div id="atp_menu_izquierda_contenido">
    <div class="atp_opciones_izquierda" id="atp_software_izquierda">
        <h3>SOFTWARE CONTRATADOS</h3>
        <ul>
            <li class="active">Portal</li>
            <li>Facturación</li>
            <li>Laboral</li>
            <li>Fiscal</li>
            <li>Contable</li>
        </ul>
    </div>
    <div class="atp_opciones_izquierda" id="atp_descubrir_izquierda">
        <h3>DESCUBRIR</h3>
        <ul>
            <li>Ocr</li>
            <li>Altas /bajas</li>
            <li>Virtual</li>
        </ul>
    </div>
    <div class="atp_opciones_izquierda" id="atp_otros_izquierda">
        <h3>OTROS SERVICIOS</h3>
        <ul>
            <li>Acelera</li>
            <li>Máster</li>
            <li>Outsorcing</li>
        </ul>
    </div>
</div>
