<div class="container">
  <mat-nav-list>

    <mat-list-item (click)="share()">
      <mat-icon color="#5f6368" matListIcon>share</mat-icon>
      <span>Compartir</span>
    </mat-list-item>

    <mat-list-item (click)="market()">
      <mat-icon color="#5f6368" matListIcon>store_mall_directory</mat-icon>
      <span>Contratación</span>
    </mat-list-item>

    <mat-list-item (click)="configuration()">
      <mat-icon color="#5f6368" matListIcon>settings</mat-icon>
      <span>Configuración</span>
    </mat-list-item>

  </mat-nav-list>
</div>
