@import 'src/styles.scss';

::ng-deep{
/*
  Size
*/
  .size-42 set-icon{
    width   : $font-size-42 !important;
    height  : $font-size-42 !important;
  }

/*
  Color
*/
  .griss set-icon path{
    color: $color-secondary;
  }

  .red set-icon path{
    color: $color-red;
  }
  .blue set-icon path{
    color: $color-blue;
  }
  .orange set-icon path{
    color: $color-orange;
  }
  .green set-icon path{
    color: $color-green;
  }
  .pink set-icon path{
    color: $color-pink;
  }
  .purple set-icon path{
    color: $color-purple;
  }

  .icon-right {
    justify-content : end !important;
    width           : 100% !important;
  }

}
