@import 'src/styles.scss';

::ng-deep{
/*
  Size
*/
  .size-42 set-icon{
    width   : $font-size-42 !important;
    height  : $font-size-42 !important;
  }

/*
  Color
*/
  mat-icon svg{
    fill: $color-dark;
  }
  .dark mat-icon svg,
  .dark set-icon svg{
    fill: $color-dark;
  }
  .griss mat-icon svg,
  .griss set-icon svg{
    fill: $color-secondary;
  }
  .red mat-icon svg,
  .red set-icon svg{
    fill: $color-red;
  }
  .blue .mat-icon svg,
  .blue set-icon svg{
    fill: $color-blue;
  }
  .orange mat-icon svg,
  .orange set-icon svg{
    fill: $color-orange;
  }
  .green mat-icon svg,
  .green set-icon svg{
    fill: $color-green;
  }
  .pink mat-icon svg,
  .pink set-icon svg{
    fill: $color-pink;
  }
  .purple mat-icon svg,
  .purple set-icon svg{
    fill: $color-purple;
  }

  .icon-right {
    justify-content : end !important;
    width           : 100% !important;
  }

}
