		<div id="maincontent">
			<table cellpadding="50" cellspacing="25" border="0">
<tr>
	<td style="text-align:right;">
		<p>$!company.getName() </p>

$!address.getAddress() $!address.getAddress2() $!add.getAddress3() $!address.getZip() $!address.getCity() $!address.getGeozone().getName()


		<p>Tel: $!phone</p>

	 #if ($fax && !$fax.toString().trim().equals(""))
		<p>Fax: $!fax</p>
	 #end
		<div class="h1">
			$!title
		</div>
		<p>
			$!text


		</p>
#if ($schedule && !$schedule.toString().trim().equals(""))
		<div class="h1">
			Horario
		</div>
		<p>
			$!schedule
		</p>
#end
	</td>
	<td style="text-align:right;">
	<p>SLOGAN: $!slogan</p>
	<p>TEXTO: $!description</p>
	</td>
</tr>
</table>
		</div>
	</div>