@external .*;

/* Documents */

.editor-document {
	border: 0px !important;
}

.cellTable-document {
	border-bottom: 1px solid #ccc;
	text-align: left;
	margin-bottom: 4px;
}

.stackHeader-document {
	padding: .4em .5em .3em 2em;
}

.aon-filter-document {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #BBB;
	background-color: #fbfcc2;
	width: 50px;
}

.aon-filter2-document {
	padding-left: 20px;
}

.aon-icon-google-search2-document {
	background: transparent url(aon-icon-google-search.png) scroll left
		center no-repeat;
}

.aon-panelGrid-search-info-internal2-document {
	background: transparent
		url(images/aon-icon/aon-icon-search-title-item.png) scroll left 8px
		no-repeat;
	padding-left: 15px;
	font-weight: bold;/* SendEmailDialog */
	margin-left: 5px;
}

.aon-search-box-document {
	width: 100%;
	margin-left: 5px;
	padding: 3px 3px 3px 3px;
	border: solid 1px #DEDEDE;
	font-size: 16px;
	height: 16px;
}

.aon-search-box2-document {
	width: 100%;
	margin-left: 5px;
	padding: 3px 3px 3px 3px;
	border: solid 1px #DEDEDE;
	font-size: 16px;
	height: 16px;
}

.aon-search-box-popup-document {
	border: solid 1px #DEDEDE;
	background: #FFF;
}

.aon-search-box-popup-document .item {
	text-align: center;
}

.aon-search-box-popup-document .item-selected {
	background: #D5E2FF;
}

.aon-border-document {
	border: 0 !important;
}

.hpanel-document {
	top: 5px !important;
	background-color: #f6f5e3;
	border: #d8d37a 1px solid;
	width: 100%;
}

.searchPanel-document {
	bottom: 0.5em !important;
	border-bottom: 1px solid #D8D27A !important;
}

.vpanel-document {
	border: 0px !important;
	margin-left: 5px !important;
}

.scrollable-document {
	height: 100%;
	width: 100%;
	border: 1px solid #ccc;
	text-align: left;
}

.stackBorder-document {
	border-left: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-right: 0px !important;
}

.aon-editDataTable-buttonWest-document {
	min-height: 22px;
	border: 0;
	cursor: pointer;
	padding-left: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	background-color: transparent;
	margin-right: 5px;
}

.aon-gwt-panelGrid table {
	border-collapse: collapse;
}

.aon-vertical-popup {
	padding-bottom: 5px;
}

.aon-gwt-panelGrid col:first-child {
	border: #c4c4c4 1px solid;
	font-weight: bold;
	background-color: #f2f2f2;
	white-space: nowrap;
	padding: 1px 0.5em 1px 0.5em;
	vertical-align: top;
}

.aon-gwt-panelGrid col:nth-child {
	border: #c4c4c4 1px solid;
	padding: 2px 5px 2px 2px;
	padding: 1px 0.5em 1px 0.5em;
}

.aon-aux-up {
	margin-left: 7px;
}

.aon-aux-right {
	position: absolute;
	right: 0px;
}

.button-west {
	font-size: 15px !important;
}

/* DocumentsDialog && SendEmailDialog */

.form-document{
	padding: 10px; 		
}

.label-document {
	margin-top:10x;
	font-weight: bold;
	padding: 1px 0.5em;
	white-space: nowrap;		
	background-color: #F2F2F2;
}

.labeltop-document {
	margin-top:10x;
	font-weight: bold;		
	padding: 1px 0.5em;		
	vertical-align: top;			
	white-space: nowrap;
	background-color: #F2F2F2;
}

.field-document {
	padding: 1px 0.5em;
}
		
.buttons-document {
	padding-top: 10px; 		
	text-align: right;	
}

.messages-document {
	padding-left: 0.5em;
	padding-bottom: 10px; 		
}

.form-document textarea {
	resize: none;		
}

.gwt-PopupPanel-document{
	top:20% !important;
	left:35% !important;
	padding:0 !important;
}


.aon-check-document{
	color: red;	
}

.aon-check-button-document{
	padding-right: 0px;	
}

.cargando-document{
	top:50% !important;
	left:50% !important;
	padding:0 !important;
	border:0 !important;
}
