<div class="body-content">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td width="320px">
				<div class="title">Direcciones</div>
				<p>$!address.getAddress() $!address.getAddress2() $!address.getAddress3()</p>
				<p>$!address.getZip() $!address.getCity() ($!address.getGeozone().getName())</p>
				<p>Tel: $!phone</p>
			</td>
			<td>
				<iframe frameborder="0" width="320px" height="200px" src="http://www.aonsolutions.es/maps/index.php?dir=$!address.getAddress() $!address.getAddress2() $!add.getAddress3() $!address.getZip() $!address.getCity() $!address.getGeozone().getName() SPAIN"></iframe>
 			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>	
	#foreach ($add in $addresses)
		<tr>
			<td>
				<div class="title"></div>
				<p>$!add.getAddress() $!add.getAddress2() $!add.getAddress3()</p>
				<p>$!add.getZip() $!add.getCity() ($!add.getGeozone().getName())</p>
			</td>
			<td>
				<iframe frameborder="0" width="320px" height="200px" src="http://www.aonsolutions.es/maps/index.php?dir=$!add.getAddress() $!add.getAddress2() $!add.getAddress3() $!add.getZip() $!add.getCity() $!add.getGeozone().getName() SPAIN"></iframe>
 			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>	
	#end
	</table>
</div>
