@import "src/styles.scss";

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: black !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: black !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: black !important; /*outer ring color change*/
}

.modal-container {
  margin-right: $margin-right;
  margin-left: $margin-left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-modal-payment {
  font-family: "Roboto-Bold";
  font-size: $font-size-24;
}

.text-modal-payment {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-radio-button {
  border: 0.05rem solid #d2d2d6;
  border-radius: 0.2rem;
  padding: $padding;
  margin-bottom: $margin-bottom;
}

.radio_option {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border: 0.05rem solid #d2d2d6;
  border-radius: 0.2rem;
  margin-top: -$margin-top;
  margin-bottom: $margin-bottom;
  padding-top: $padding-top;

}

#add-button {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.installment {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.text_installment{
  font-size:  $font-size-800;
  color: $color-secondary;
  padding-left: 1rem;
}
