<div>
  <p class="title-modal-payment">{{ "TAX_PANEL.PAYMENTMETHOD" | translate }}</p>

  <mat-radio-group class="text-modal-payment" aria-label="Select an option">
    <mat-radio-button
      *ngFor="let option of radioButtonOptions"
      [value]="option.value"
      [checked]="option.checked"
    >
      {{ option.name }}
    </mat-radio-button>
  </mat-radio-group>

  <app-button [mat-dialog-close]="true" [class]="'orange left'">
    <app-icon shape="send"></app-icon>
    {{ "TAX_PANEL.SEND" | translate }}
  </app-button>
</div>
