<div class="content">
<div class="content-internal">
<h1 >$!title</h1>

<table>
  <tr>
    <td>$!text</td>
    <td>#foreach ($image in $images)
		<img src='$!image.getName()'/>
		$!image.getDescription();
    	#end</td>
  </tr>
</table>
</div>
</div>