@external .*;

/* Templates */

.aondockLayoutPanel-template {
	overflow: visible !important;
}

.aon_dataGrid-template {
	left: 1em !important;
	right: 1em !important;
	border-top: 1px solid #BBB !important;
}

/* TemplatesDialog */

.form-template {
	padding: 10px; 		
}
		
.buttons-template {
	padding-top: 10px; 		
	text-align: right;
	border: 0;
}

.form-template textarea {
	resize: none;
}

.aon-popup-aux-template{
	border: 1px solid #BBB;	
	background-color: white;
}

.aon-finding-toolbar-item-template {
	color: #000;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	padding: 1px 5px 1px 16px;
	margin: 0 0 0 5px;
	border: 0;
	text-align: left;
	cursor: pointer;
	width: auto;
	overflow: visible;
	height: 16px;
}

.gwt-PopupPanel-template{
	top:20% !important;
	left:35% !important;
	padding:0 !important
}
.searchPanel-template {
	left: 1em !important;
	right: 1em !important;
	bottom: 0.5em !important;
	border-bottom: 1px solid #D8D27A !important;
}

.aon-panelGrid-search-info-internal2-template {
	background: transparent
		url(images/aon-icon/aon-icon-search-title-item.png) scroll left 8px
		no-repeat;
	padding-left: 15px;
	font-weight: bold;/* SendEmailDialog */
	margin-left: 5px;
}

.aon-search-box-template {
	width: 95%;
	margin-left: 5px;
	padding: 3px 3px 3px 3px;
	border: solid 1px #DEDEDE;
	font-size: 16px;
	height: 16px;
}

.aon-info-content-template{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.aon-info-title-template{
	font-weight: bold;
}

.aon-info-rest-template{
	padding-left: 20px;
}

.aon-box-width-template{
	width:auto;
	min-width:11em;
}

.form-send-email-dialog textarea {
	resize: none;		
}

.aon-check-button-send-email-dialog{
	padding-right: 0px;	
}

