/* Use @external GWT specific CSS at-rule followed by list of class names to 
   declare classes that shouldn't be obfuscated. */
@external .*;

/* ICONS */
@url iconAdd aonIconAdd;
.aon_icon_add { background-image: iconAdd;}
@url iconKey aonIconKey;
.aon_icon_key { background-image: iconKey;}
@url iconVerify aonIconVerify;
.aon_icon_verify { background-image: iconVerify;}
@url iconSepe aonIconSepe;
.aon_icon_sepe { background-image: iconSepe;}
@url iconAddBlock aonIconAddBlock;
.aon_icon_add_block { background-image: iconAddBlock;}
@url iconEmail aonIconEmail;
.aon_icon_email { background-image: iconEmail;}
@url iconPrev aonIconPrev;
.aon_icon_prev { background-image: iconPrev;}
@url iconNext aonIconNext;
.aon_icon_next { background-image: iconNext;}
@url iconDeleteList aonIconDeleteList;
.aon_icon_delete_list { background-image: iconDeleteList;}
@url iconEmit aonIconEmit;
.aon_icon_emit { background-image: iconEmit;}
@url iconDrive aonIconDrive;
.aon_icon_drive { background-image: iconDrive;}
@url iconEditCalendar aonIconEditCalendar;
.aon_icon_edit_calendar { background-image: iconEditCalendar;}
@url iconSettings aonIconSettings;
.aon_icon_settings { background-image: iconSettings;}
@url iconDataSettings aonIconDataSettings;
.aon_icon_data_settings { background-image: iconDataSettings;}
@url iconFilter aonIconFilter;
.aon_icon_filter { background-image: iconFilter;}
@url iconDropDown aonIconDropDown;
.aon_icon_drop_down { background-image: iconDropDown;}
@url iconZoomIn aonIconZoomIn;
.aon_icon_zoom_in { background-image: iconZoomIn;}
@url iconZoomOut aonIconZoomOut;
.aon_icon_zoom_out { background-image: iconZoomOut;}
@url iconVisibility aonIconVisibility;
.aon_icon_visibility { background-image: iconVisibility;}
@url iconVisibilityOff aonIconVisibilityOff;
.aon_icon_visibility_off { background-image: iconVisibilityOff;}
@url iconStart aonIconStart;
.aon_icon_start { background-image: iconStart;}
@url iconSave aonIconSave;
.aon_icon_save { background-image: iconSave;}
@url iconDelete aonIconDelete;
.aon_icon_delete { background-image: iconDelete;}
@url iconSearch aonIconSearch;
.aon_icon_search { background-image: iconSearch;}
@url iconBack aonIconBack;
.aon_icon_back { background-image: iconBack;}
@url iconEdit aonIconEdit;
.aon_icon_edit { background-image: iconEdit;}
@url iconEditRed aonIconEditRed;
.aon_icon_edit_red { background-image: iconEditRed;}
@url iconRefresh aonIconRefresh;
.aon_icon_refresh { background-image: iconRefresh;}
@url iconClear aonIconClear;
.aon_icon_clear { background-image: iconClear;}
@url iconCopy aonIconCopy;
.aon_icon_copy { background-image: iconCopy;}
@url iconAudit aonIconAudit;
.aon_icon_audit { background-image: iconAudit;}
@url iconPdf aonIconPdf;
.aon_icon_pdf { background-image: iconPdf;}
@url iconImage aonIconImage;
.aon_icon_image { background-image: iconImage;}
@url iconExcel aonIconExcel;
.aon_icon_excel { background-image: iconExcel;}
@url iconWord aonIconWord;
.aon_icon_word { background-image: iconWord;}
@url iconComments aonIconComments;
.aon_icon_comments { background-image: iconComments;}
@url iconNoComments aonIconNoComments;
.aon_icon_no_comments { background-image: iconNoComments;}
@url iconInfo aonIconInfo;
.aon_icon_info { background-image: iconInfo;}
@url iconError aonIconError;
.aon_icon_error { background-image: iconError;}
@url iconWarning aonIconWarning;
.aon_icon_warning { background-image: iconWarning;}
@url iconMinimize aonIconMinimize;
.aon_icon_minimize { background-image: iconMinimize;}
@url iconMaximize aonIconMaximize;
.aon_icon_maximize { background-image: iconMaximize;}
@url iconEuro aonIconEuro;
.aon_icon_euro { background-image: iconEuro;}
@url iconBook aonIconBook;
.aon_icon_book { background-image: iconBook;}
@url iconList aonIconList;
.aon_icon_list { background-image: iconList;}
@url iconCompare aonIconCompare;
.aon_icon_compare { background-image: iconCompare;}
@url iconData aonIconData;
.aon_icon_data { background-image: iconData;}
@url iconHistory aonIconHistory;
.aon_icon_history { background-image: iconHistory;}
@url iconUndo aonIconUndo;
.aon_icon_undo { background-image: iconUndo;}
@url iconUndoAll aonIconUndoAll;
.aon_icon_undo_all { background-image: iconUndoAll;}
@url iconRedo aonIconRedo;
.aon_icon_redo { background-image: iconRedo;}
@url iconAccept aonIconAccept;
.aon_icon_accept { background-image: iconAccept;}
@url iconCancel aonIconCancel;
.aon_icon_cancel { background-image: iconCancel;}
@url iconClose aonIconClose;
.aon_icon_close { background-image: iconClose;}
.aon_widget_close {
	background-image: iconClose;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-color: #F2F2F2;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	height: 16px;
	margin: 5px 5px 3px 0;
	width: 16px;
	position: absolute;
	right: 0px;
	top: 0px;
}
@url iconCloseWhite aonIconCloseWhite;
.aon_icon_close_white { background-image: iconCloseWhite;}
@url iconCheck aonIconCheck;
.aon_icon_check { background-image: iconCheck;}
@url iconChecked aonIconChecked;
.aon_icon_checked { background-image: iconChecked;}
@url iconLaunch aonIconLaunch;
.aon_icon_launch { background-image: iconLaunch;}
@url iconSwap aonIconSwap;
.aon_icon_swap { background-image: iconSwap;}
@url iconHelp aonIconHelp;
.aon_icon_help { background-image: iconHelp;}
@url iconChanged aonIconChanged;
.aon_icon_changed { background-image: iconChanged;}
@url iconCalc aonIconCalc;
.aon_icon_calc { background-image: iconCalc;}
@url iconFinanceIn aonIconFinanceIn;
.aon_icon_finance_in { background-image: iconFinanceIn;}
@url iconFinanceOut aonIconFinanceOut;
.aon_icon_finance_out { background-image: iconFinanceOut;}
@url iconFinanceReturn aonIconFinanceReturn;
.aon_icon_finance_return { background-image: iconFinanceReturn;}
@url iconFinanceUndo aonIconFinanceUndo;
.aon_icon_finance_undo { background-image: iconFinanceUndo;}
@url iconFinanceSettle aonIconFinanceSettle;
.aon_icon_finance_settle { background-image: iconFinanceSettle;}
@url iconFinancePay aonIconFinancePay;
.aon_icon_finance_pay { background-image: iconFinancePay;}
@url iconFinanceGroup aonIconFinanceGroup;
.aon_icon_finance_group { background-image: iconFinanceGroup;}
@url iconAllInbox aonIconAllInbox;
.aon_icon_all_inbox { background-image: iconAllInbox;}
@url iconInbox aonIconInbox;
.aon_icon_inbox { background-image: iconInbox;}
@url iconReject aonIconReject;
.aon_icon_reject { background-image: iconReject;}
@url iconDraft aonIconDraft;
.aon_icon_draft { background-image: iconDraft;}
@url iconRestoreRejected aonIconRestoreRejected;
.aon_icon_restore_rejected { background-image: iconRestoreRejected;}
@url iconRestoreDeleted aonIconRestoreDeleted;
.aon_icon_restore_deleted { background-image: iconRestoreDeleted;}
@url iconViewDocument aonIconViewDocument;
.aon_icon_view_document { background-image: iconViewDocument;}
@url iconDeleteForever aonIconDeleteForever;
.aon_icon_delete_forever { background-image: iconDeleteForever;}
@url iconTgss aonIconTgss;
.aon_icon_tgss { background-image: iconTgss;}
@url iconTgssCra aonIconTgssCra;
.aon_icon_tgss_cra { background-image: iconTgssCra;}
@url iconTgssIdc aonIconTgssIdc;
.aon_icon_tgss_idc { background-image: iconTgssIdc;}
@url iconTgssAfi aonIconTgssAfi;
.aon_icon_tgss_afi { background-image: iconTgssAfi;}
@url iconTgssTa aonIconTgssTa;
.aon_icon_tgss_ta { background-image: iconTgssTa;}
@url iconTgssFie aonIconTgssFie;
.aon_icon_tgss_fie { background-image: iconTgssFie;}
@url iconSepeC2 aonIconSepeC2;
.aon_icon_sepe_c2 { background-image: iconSepeC2;}
@url iconSepeCbc aonIconSepeCbc;
.aon_icon_sepe_cbc { background-image: iconSepeCbc;}
@url iconSepeCt aonIconSepeCt;
.aon_icon_sepe_ct { background-image: iconSepeCt;}
@url iconSepeCto aonIconSepeCto;
.aon_icon_sepe_cto { background-image: iconSepeCto;}
@url iconEditNote aonIconEditNote;
.aon_icon_edit_note { background-image: iconEditNote;}
@url iconCloudImport aonIconCloudImport;
.aon_icon_cloud_import { background-image: iconCloudImport;}
@url iconImport aonIconImport;
.aon_icon_import { background-image: iconImport;}
@url iconFix aonIconFix;
.aon_icon_fix { background-image: iconFix;}
@url iconMenu aonIconMenu;
.aon_icon_menu { background-image: iconMenu;}
@url iconMenuCollapse aonIconMenuCollapse;
.aon_icon_menu_collapse { background-image: iconMenuCollapse;}
@url iconRestore aonIconRestore;
.aon_icon_restore { background-image: iconRestore;}
@url iconTrashList aonIconTrashList;
.aon_icon_trash_list { background-image: iconTrashList;}
@url iconPaste aonIconPaste;
.aon_icon_paste { background-image: iconPaste;}
@url iconTune aonIconTune;
.aon_icon_tune { background-image: iconTune;}
@url iconPin aonIconPin;
.aon_icon_pin { background-image: iconPin;}
@url iconPerson aonIconPerson;
.aon_icon_person { background-image: iconPerson;}
@url iconPersonOff aonIconPersonOff;
.aon_icon_person_off { background-image: iconPersonOff;}
@url iconEnterprise aonIconEnterprise;
.aon_icon_enterprise { background-image: iconEnterprise;}
@url iconActivity aonIconActivity;
.aon_icon_activity { background-image: iconActivity;}
@url iconFormatIndentIncrease aonIconFormatIndentIncrease;
.aon_icon_format_indent_increase { background-image: iconFormatIndentIncrease;}
@url iconFormatIndentDecrease aonIconFormatIndentDecrease;
.aon_icon_format_indent_decrease { background-image: iconFormatIndentDecrease;}
@url iconTableView aonIconTableView;
.aon_icon_table_view { background-image: iconTableView;}
@url iconCloudSync aonIconCloudSync;
.aon_icon_cloud_sync { background-image: iconCloudSync;}
@url iconAccountTree aonIconAccountTree;
.aon_icon_account_tree { background-image: iconAccountTree;}
@url iconMoveDown aonIconMoveDown;
.aon_icon_move_down { background-image: iconMoveDown;}
@url iconStatics aonIconStatics;
.aon_icon_statics { background-image: iconStatics;}
@url iconClean aonIconClean;
.aon_icon_clean { background-image: iconClean;}
@url iconSchedule aonIconSchedule;
.aon_icon_schedule { background-image: iconSchedule;}
@url iconReceipt aonIconReceipt;
.aon_icon_receipt { background-image: iconReceipt;}
@url iconMoveTo aonIconMoveTo;
.aon_icon_move_to { background-image: iconMoveTo;}
@url iconUpgrade aonIconUpgrade;
.aon_icon_upgrade { background-image: iconUpgrade;}
@url iconSend aonIconSend;
.aon_icon_send { background-image: iconSend;}
@url iconSendCancel aonIconSendCancel;
.aon_icon_send_cancel { background-image: iconSendCancel;}
@url iconAttach aonIconAttach;
.aon_icon_attach { background-image: iconAttach;}
@url iconNoAttach aonIconNoAttach;
.aon_icon_no_attach { background-image: iconNoAttach;}
@url iconShowPass aonIconShowPass;
.aon_icon_show_pass { background-image: iconShowPass;}
@url iconLock aonIconLock;
.aon_icon_lock { background-image: iconLock;}
@url iconUnLock aonIconUnLock;
.aon_icon_unlock { background-image: iconUnLock;}
@url iconLockReset aonIconLockReset;
.aon_icon_lock_reset { background-image: iconLockReset;}
@url iconRenew aonIconRenew;
.aon_icon_renew { background-image: iconRenew;}
@url iconRenewWhite aonIconRenewWhite;
.aon_icon_renew_white { background-image: iconRenewWhite;}
@url iconFx aonIconFx;
.aon_icon_fx { background-image: iconFx;}
@url iconAddTask aonIconAddTask;
.aon_icon_add_task { background-image: iconAddTask;}
@url iconCustomer aonIconCustomer;
.aon_icon_customer { background-image: iconCustomer;}
@url iconCreditor aonIconCreditor;
.aon_icon_creditor { background-image: iconCreditor;}
@url iconSupplier aonIconSupplier;
.aon_icon_supplier { background-image: iconSupplier;}
@url iconValid aonIconValid;
.aon_icon_valid { background-image: iconValid;}
@url iconInvalid aonIconInvalid;
.aon_icon_invalid { background-image: iconInvalid;}
@url iconBlock aonIconBlock;
.aon_icon_block { background-image: iconBlock;}
@url iconConfidential aonIconConfidential;
.aon_icon_confidential { background-image: iconConfidential;}
@url iconUnknown aonIconUnknown;
.aon_icon_unknown { background-image: iconUnknown;}
@url iconEurope aonIconEurope;
.aon_icon_europe { background-image: iconEurope;}
@url iconLevelThis aonIconLevelThis;
.aon_icon_level_this { background-image: iconLevelThis;}
@url iconLevelTop aonIconLevelTop;
.aon_icon_level_top { background-image: iconLevelTop;}
@url iconHome aonIconHome;
.aon_icon_home { background-image: iconHome;}
@url iconEmployee aonIconEmployee;
.aon_icon_employee { background-image: iconEmployee;}
@url iconMoreHorizontal aonIconMoreHorizontal;
.aon_icon_more_horizontal { background-image: iconMoreHorizontal;}
@url iconMoreVertical aonIconMoreVertical;
.aon_icon_more_vertical { background-image: iconMoreVertical;}
@url iconUp aonIconUp;
.aon_icon_up { background-image: iconUp;}
@url iconRight aonIconRight;
.aon_icon_right { background-image: iconRight;}
@url iconArrowRightModify aonIconArrowRightModify;
.aon_icon_arrow_right_modify { background-image: iconArrowRightModify;}
@url iconDown aonIconDown;
.aon_icon_down { background-image: iconDown;}
@url iconLeft aonIconLeft;
.aon_icon_left { background-image: iconLeft;}
@url iconDownload aonIconDownload;
.aon_icon_download { background-image: iconDownload;}
@url iconUpload aonIconUpload;
.aon_icon_upload { background-image: iconUpload;}
@url iconUploadFile aonIconUploadFile;
.aon_icon_upload_file { background-image: iconUploadFile;}
@url iconWizard aonIconWizard;
.aon_icon_wizard { background-image: iconWizard;}
@url iconMinus aonIconMinus;
.aon_icon_minus { background-image: iconMinus;}
@url iconPreview aonIconPreview;
.aon_icon_preview { background-image: iconPreview;}
@url iconAeat aonIconAeat;
.aon_icon_aeat { background-image: iconAeat;}
@url iconAeatBw aonIconAeatBw;
.aon_icon_aeat_bw { background-image: iconAeatBw;}
@url iconAraba aonIconAraba;
.aon_icon_araba { background-image: iconAraba;}
@url iconArabaBw aonIconArabaBw;
.aon_icon_araba_bw { background-image: iconArabaBw;}
@url iconBizkaia aonIconBizkaia;
.aon_icon_bizkaia { background-image: iconBizkaia;}
@url iconBizkaiaBw aonIconBizkaiaBw;
.aon_icon_bizkaia_bw { background-image: iconBizkaiaBw;}
@url iconGipuzkoa aonIconGipuzkoa;
.aon_icon_gipuzkoa { background-image: iconGipuzkoa;}
@url iconGipuzkoaBw aonIconGipuzkoaBw;
.aon_icon_gipuzkoa_bw { background-image: iconGipuzkoaBw;}
@url iconNavarra aonIconNavarra;
.aon_icon_navarra { background-image: iconNavarra;}
@url iconNavarraBw aonIconNavarraBw;
.aon_icon_navarra_bw { background-image: iconNavarraBw;}
@url iconModelFinish aonIconModelFinish;
.aon_icon_model_finish { background-image: iconModelFinish;}
@url iconModelSent aonIconModelSent;
.aon_icon_model_sent { background-image: iconModelSent;}
@url iconModelReopen aonIconModelReopen;
.aon_icon_model_reopen { background-image: iconModelReopen;}
@url iconOpenInNew aonIconOpenInNew;
.aon_icon_open_in_new { background-image: iconOpenInNew;}
@url iconAd aonIconAd;
.aon_icon_ad { background-image: iconAd;}
@url iconId aonIconId;
.aon_icon_id { background-image: iconId;}
@url iconLetterD aonIconLetterD;
.aon_icon_letter-d { background-image: iconLetterD;}
@url iconLetterE aonIconLetterE;
.aon_icon_letter-e { background-image: iconLetterE;}
@url iconLetterG aonIconLetterG;
.aon_icon_letter-g { background-image: iconLetterG;}
@url iconLetterR aonIconLetterR;
.aon_icon_letter-r { background-image: iconLetterR;}
@url iconLetterS aonIconLetterS;
.aon_icon_letter-s { background-image: iconLetterS;}
@url iconWrench aonIconWrench;
.aon_icon_wrench { background-image: iconWrench;}
@url iconRedWrench aonIconRedWrench;
.aon_icon_red_wrench { background-image: iconRedWrench;}
@url iconToggleOn aonIconToggleOn;
.aon_icon_toggle_on { background-image: iconToggleOn;}
@url iconToggleOff aonIconToggleOff;
.aon_icon_toggle_off { background-image: iconToggleOff;}
@url iconRegister aonIconRegister;
.aon_icon_register { background-image: iconRegister;}
@url iconLink aonIconLink;
.aon_icon_link { background-image: iconLink;}
@url iconNotification aonIconNotification;
.aon_icon_notification { background-image: iconNotification;}
@url iconDirty aonIconDirty;
.aon_icon_dirty { background-image: iconDirty;}
@url iconDiff aonIconDiff;
.aon_icon_diff { background-image: iconDiff;}
@url iconBullet aonIconBullet;
.aon_icon_bullet { background-image: iconBullet;}
@url iconAccounting aonIconAccounting;
.aon_icon_accounting { background-image: iconAccounting;}
@url iconAccountingRecord aonIconAccountingRecord;
.aon_icon_accounting_record { background-image: iconAccountingRecord;}
@url iconAccountingUnrecord aonIconAccountingUnrecord;
.aon_icon_accounting_unrecord { background-image: iconAccountingUnrecord;}


/* BASICS */
.aon_selector {
	margin: 0px;
	color: #4B4B4B;
	font: 12px/1.333 "arial", "lucida Grande", "Trebuchet MS", sans-serif;
}
.aon_selector input:focus, .aon_selector select:focus, .aon_selector textarea:focus{
	border: solid black 1px;
}
.aon_selector input[type="checkbox"]:focus + label {
}
.aon_selector [type="checkbox"]{
    vertical-align:middle;
}
.aon_selector select {
	border: 1px solid #808080;
}
.aon_input_text {
	border: 1px solid #808080;
}
.aon_scroll_area {
	padding: 8px 1.5em 1.5em 1.5em;
}
.aon_pre {
	white-space: pre;
}
.aon_inline {
	display: inline;
}
.aon_display_none {
	display: none;
}
.aon_inline_block {
	display: inline-block;
}
.aon_cmd_item{
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 25px !important;
	background-size: contain;
}
.aon_display_flex {
	display: flex;	
}

.aon_display_flex_center {
	display: flex;	
	justify-content: center;
	align-items: center;
}

.aon_display_flex_end {
	display: flex;	
	justify-content: flex-end;
	align-items: center;
	gap: .5rem;
}

.aon_display_table {
	display: table;
	box-sizing: border-box;
}

.aon_display_table_header {
	font-weight: bold;
	border-bottom: 1PX;		
	
}

.aon_display_table_row {
	display: table-row;
}

.aon_display_table_cell {
	display:table-cell;
	padding: 2px;
	vertical-align: middle;
}

.aon_display_table_footer_row {
	display:table-footer-group;
}

.aon_display_grid {
	display: table;
	border-collapse: collapse; 
}

.aon_display_grid_row {
	display: table-row;
}
.aon_display_grid_row:hover {
	background-color: #edf0ff;	
}

.aon_display_grid_header_row {
	display:table-header-group;
	border-bottom: solid 1px #CCC;	
}

.aon_display_grid_header_cell {
	display:table-cell;
	padding: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;	
}

.aon_display_grid_cell {
	display:table-cell;
	vertical-align: middle;
	padding: 1px 0.5em 1px 0.5em;
	border: #c4c4c4 1px solid;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.aon_line_height_double {
	line-height: 200%;
}

.aon_line {
	  width: 100%;
	  border-bottom: 2px solid #eee;
	  margin: .5rem 0;
}

.aon_ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.aon_display_grid_cell_inner {
	display: flex;
	align-items: self-end;
}

.aon_display_grid_footer_row {
	display:table-footer-group;
	border-top: solid 1px #CCC;	
}

.aon_input_text_error {
	border: 1px solid red !important;	
}
.aon_number_box {
	text-align: right;
	padding-left: 15px;
	padding-right: 2px;
}
.aon_value_changed {
	color: #897820;
	text-shadow: 0.1em 0.1em 0.2em #9E945E;
}
.aon_width_all {
	width: 100%;
}
.aon_width_half {
	width: 50%;
}
.aon_height_all {
	height: 100%;
}
.aon_width_auto {
	width: auto;
}
.aon_width_auto_important {
	width: auto !important;
}

.aon_width_almost_all {
	width: 98%;
}
.aon_width_20 { width: 20px; }
.aon_width_30 { width: 30px; }
.aon_width_40 { width: 40px; }
.aon_width_60 { width: 60px; }
.aon_width_80 { width: 80px; }
.aon_width_100 { width: 100px; }
.aon_width_120 { width: 120px; }
.aon_width_150 { width: 150px; }
.aon_width_200 { width: 200px; }
.aon_width_300 { width: 300px; }
.aon_width_320 { width: 320px; }
.aon_width_400 { width: 400px; }
.aon_width_440 { width: 440px; }
.aon_width_600 { width: 600px; }

.aon_fixed_font {
	font-family: Fixed, monospace;
}
.aon_italic {
	font-style: italic;
}
.aon_bold {
	font-weight: bold;
}
.aon_font_medium{
	font-size: medium;
}
.aon_font_larger{
	font-size: larger;
}
.aon_font_x_larger{
	font-size: x-large;
}
.aon_font_medium_important{
	font-size: medium !important;
}
.aon_font_small{
	font-size: small;
}
.aon_font_small_important{
	font-size: small !important;
}
.aon_font_smaller{
	font-size: smaller;
}
.aon_font_smaller_important{
	font-size: smaller !important;
}
.aon_block_center {
	margin-left: auto;
	margin-right: auto;
}
.aon_block_right {
	margin-left: auto;
	margin-right: 0px;
}

.aon_nowrap {
	white-space: nowrap;
}

.aon_wrap {
	white-space: normal;
}
.aon_truncate {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  
}
.aon_vertical_align_top {
	vertical-align: top;
}
.aon_text_left {
	text-align: left;
}
.aon_text_center {
	text-align: center;
}
.aon_text_right {
	text-align: right;
}
.aon_text_underline {
	text-decoration: underline;
}
.aon_text_line_through {
	text-decoration: line-through;
}
.aon_text_uppercase {
	text-transform: uppercase;
}

.aon_clickable {
	cursor: pointer;
}
.aon_clickable_label {
	cursor: pointer;
}
.aon_clickable_label:hover {
	text-decoration: underline;
}
.aon_clickable_block {
	background-color: transparent;
	cursor: pointer;
}

.aon_clickable_block:hover {
	background-color: #EEE;
}

.aon_padding {
	padding: 1em;
}
.aon_no_padding {
	padding: 0px;
}
.aon_padding_bottom {
	padding-bottom: 1em;
}
.aon_padding_top {
	padding-top: 1em;
}
.aon_padding_left {
	padding-left: 1em;
}
.aon_padding_right {
	padding-right: 1em;
}
.aon_margin {
	margin: 1em;
}
.aon_margin_top {
	margin-top: 1em;
}
.aon_margin_top_sep {
	margin-top: 5px;
}
.aon_margin_bottom {
	margin-bottom: 1em;
}
.aon_margin_left {
	margin-left: 1em;
}
.aon_margin_left_sep {
	margin-left: 5px;
}
.aon_margin_right {
	margin-right: 1em;
}
.aon_margin_left_double {
	margin-left: 2em;
}
.aon_margin_right_double {
	margin-right: 2em;
}
.aon_tag_item {
	display: inline-block;
	margin: 5px;
	border: solid 1px lightGray;
	padding: 2px;
	font-family: monospace;
	font-size: 0.9em;
	white-space: nowrap;
}

.aon_color_white {
	color: white;
}
.aon_color_red {
	color: red;
}
.aon_color_green {
	color: green;
}
.aon_color_royalblue {
	color: RoyalBlue;
}
.aon_color_black {
	color: black;
}
.aon_color_orange {
	color: orange;
}
.aon_background_white {
	background-color: white;
}
.aon_background_orange {
	background-color: #ffa54f;
}
.aon_background_yellow {
	background-color: #FFFF00;
}
.aon_background_ligth_yellow {
	background-color: #FFF8C0;
}
.aon_background_ligthgray {
	background-color: #EEE;
}
.aon_background_ligth_blue {
	background-color: AliceBlue;
}
.aon_background_highlighted_green {
	background-color: #c1f9ba;
}
.aon_background_highlighted_orange {
	background-color: #f7d6b6;
}

.aon_pointer_events_none {
	pointer-events: none;
}

.aon_pointer_events_auto {
	pointer-events: auto;
}
.aon_box_sizing_border_box {
	box-sizing: border-box;
}
.aon_border {
	border: #c4c4c4 1px solid;
}
.aon_border_collapse {
	border-collapse: collapse;
}
.aon_border_right {
	border-right: #c4c4c4 1px solid;
}
.aon_border_none {
	border: none;
}
.aon_border_top {
	border-top: #c4c4c4 1px solid;
}
.aon_border_left {
	border-left: #c4c4c4 1px solid;
}
.aon_border_bottom {
	border-bottom: #c4c4c4 1px solid;
}

.aon_text_vertical_container {
	position: relative;
}
.aon_text_vertical {
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-size: 1.1em !important;
    position: absolute;
    top: 50%;
    left: 50%;
}

.aon_inner_label {
	font-style: italic;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}
.aon_loader {
	border: 2px solid #ccc;
	border-radius: 50%;
  	border-top: 2px solid #666;
  	width: 15px;
  	height: 15px;
  	-webkit-animation: spin 2s linear infinite; /* Safari */
  	animation: spin 2s linear infinite;
}

/* CONFIRM DIALOG  */
.aon_confirm_dialog {
	background: white none repeat scroll 0 0;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.aon_confirm_dialog_height {
	min-height: 110px;	
}

.aon_custom_confirm_dialog {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.aon_confirm_dialog_msg {
	font-size: 1.2em;
	margin: 1em;
	text-align: center;
}

.aon_dialog_button {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 1px -2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 24px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

/* TABLE  */
.aon_table {
	border-collapse: collapse;
}
.aon_table td {
	padding: 1px 0.5em 1px 0.5em;
	vertical-align: middle;
}
.aon_table_label {
	font-weight: bold;
	white-space: nowrap;
}
.aon_table_icon {
	height: 16px;
	width: 16px;
	background-size: 100% auto;	
}
.aon_table_button {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}
.aon_text_button {
	width: auto;
	height: 20px;
	background-size: 20px 20px;
	background-position: top left !important;
	padding-left: 20px !important;
	text-decoration: underline;
}

.aon_search_panel_button {
	width: 20px;
	height: 20px;
	background-size: 100% auto;
}
.aon_search_panel_button:hover, .aon_search_panel_button:focus {
	background-color: white !important; 
}

/* GRID */
.aon_grid {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}
.aon_grid td {
	padding: 1px 0.5em 1px 0.5em;
	border: #c4c4c4 1px solid;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.aon_grid tr:hover {
	background-color: #edf0ff;
}
.aon_grid_header {
	padding: 5px 1em;
	height: 18px;
	font-weight: bold;
	font-size: smaller;
	text-transform: uppercase;
	background-image: linear-gradient(#FFF, #EEE);
}
.aon_align_items_baseline {
	align-items: baseline;
}

.aon_flex_column {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.aon_flex_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
    gap: .5rem;
}

.aon_flex_column_between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    gap: .5rem;
}

.aon_flex_wrap {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.aon_item_flex{
	display: flex;
	align-items: center;
	gap: .5rem
}

.aon_flex_block_inline {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
}

.aon_flex_block {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.aon_flex_grow_1 {
	flex-grow: 1;
}
.aon_flex_label {
	font-weight: bold;
	white-space: nowrap;
	margin-right: 10px;
	margin-left: 5px;
}
.aon_flex_label_inner {
	white-space: nowrap;
	margin-right: 10px;
	margin-left: 5px;
}

/* MESSAGE PANEL */

.aon_message_close_panel{
    padding: .7rem 1rem 0 0;
}

.aon_message_close{
	min-height: 15px;
}

.aon_message_close:hover{
	background-color: transparent !important;
}

.aon_message_panel{
	/*height: 2rem;*/
	min-height: 2.2rem;
	/*align-items: center;*/
	border-radius: 0.5rem;
    display: flex;
    margin: 0 1rem;
    width: auto;
    justify-content: space-between;
   /* margin-top: .5rem;*/
}

.aon_message_container{
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: .8em;
}

.aon_message_row{
	display: flex;
	gap: 1em;
	padding: 0 1em;
	font-size: 13px;
	align-items: center;
}

.aon_spin{
	display: flex;
	align-items: center;
	animation-name: spin;
	animation-duration: 2500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.aon_message_title{
	font-weight: bold;
}

.aon_message_error{
	background-color: #fd4d4d;
	color: white;
}

.aon_message_info{
	background-color: #8888ff;
	color: white;
}

.aon_message_warning{
	background-color: #fba21c;
	color: white;
}

.aon_message_success{
	background-color: #0ac30a;
	color: white;
}

/* TOOLBAR */
.aon_toolbar {
	width: 100%;
	padding: 0px 1.5em 0em 1.5em;
	box-sizing: border-box;
	height: 50px;
}

.aon_toolbar_small {
	width: 100%;
	padding: 5px 0;
	box-sizing: border-box;
	min-width: 350px;
}

.aon_toolbar_inner {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-bottom: solid #c4c4c4 1px;
	min-height: 37px;
}
.aon_toolbar_small_inner {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-bottom: solid #c4c4c4 1px;
	min-height: 32px;
}
.aon_toolbar_button_container {
	margin-left: 1em;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.aon_toolbar_small_button_container {
	display: flex;
}

.aon_toolbar_message_container {
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.aon_toolbar_small_message_container {
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.aon_toolbar_message {
	background-attachment: scroll;
	background-clip: border-box;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	padding: 0px 20px 0px 40px;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
}
.aon_toolbar_info_message {
	background-image: iconInfo;
	background-color: #ECECEC;
	border: solid black 1px;
}
.aon_toolbar_error_message {
	background-image: iconError;
	background-color: #ffd0d0;
	border: solid black 1px;
}


.aon_toolbar_title_container {
	padding-right: 2em;
	float: right;
	text-align: right;
	white-space: nowrap;
	width: auto;
}
.aon_toolbar_small_title_container {
	padding-right: 2em;
	float: right;
	text-align: right;
	white-space: nowrap;
	width: auto;
}
.aon_toolbar_title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
}
.aon_toolbar_small_title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.1em;
	padding-left: 10px;
}

.aon_toolbar_button {
	width: 36px;
	height: 36px;
}

.aon_toolbar_small_button {
	width: 24px;
	height: 24px;
}

.aon_toolbar_search_container {
	display: flex;
}
	
.aon_toolbar_search_box {
	display: flex;
	border-bottom: 2px solid #002469;
}
		
.aon_toolbar_text_box {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
		
.aon_toolbar_text_box:focus {
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}

.aon_button {
	flex-shrink: 0;
	border-radius: 50%;
	-webkit-border-radius: none;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0 !important;
	border: none;
	overflow: visible;	
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: inherit;
	padding-left: 10px;
}

.aon_button:hover, .aon_button:focus{
 	background-color: #EEE;
}
.aon_button:disabled {
	opacity: 0.2;
}
.aon_expand_panel {
	flex-shrink: 0;
	border-radius: 50%;
	-webkit-border-radius: none;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0 !important;
	border: none;
	overflow: visible;	
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: inherit;
	padding-left: 10px;
}
.aon_expand_button {
	flex-shrink: 0;
	-webkit-border-radius: none;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0 !important;
	border: none;
	overflow: visible;	
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: inherit;
	padding-left: 10px;
}
.aon_expand_button:disabled {
	opacity: 0.2;
}
.aon_custom_dialog {
	background: white none repeat scroll 0 0;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	clip: unset !important;
	border-radius: 10px;
}
.aon_custom_dialog_panel {
	margin: 0px;
	padding: 0px;
}
.aon_custom_dialog_glass {
    background-color: #000;
    opacity: 0.2;
    filter: opacity(45%);
}

.aon_custom_dialog .popupContent {
	background-color: white;
	border-radius: 10px;
}
.aon_custom_dialog_header {
	margin: 0px;
	padding: 1em;
	padding-bottom: 0;
	width: auto;
	display: flex;
	align-items: center;
	border-bottom: none;
}

.aon_custom_dialog_title {
	font-weight: bold;
	/*padding: 5px 1em;*/
	text-transform: uppercase;
	width: auto;
	font-size: 1.2em;
	flex-grow: 1;
	cursor: grab;
	/*border-bottom: solid #c4c4c4 1px;*/
}

.aon_custom_dialog_close {
	background-image: iconClose;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 20px auto;
	background-color: transparent;
	cursor: pointer;
	height: 20px;
	width: 20px;
	border: none;
}

.aon_tab_button {
	padding: 0 0 0 22px;
	text-align: left;
	border: 0px;
	width: 20px;
	height: 24px;
	overflow: visible;
	cursor: pointer;
	border: none;
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-color: white;
	background-position: 2px;
	margin-right: 5px;	
}
.aon_tab_button:hover, .aon_tab_button:focus{
 	background-color: #EEE;
}

.aon_tab_icon {
	white-space: nowrap;
	padding: 0 0 0 22px;
	min-width: 20px;
	height: 20px;
	overflow: visible;
	background-repeat: no-repeat;
	background-size: 20px auto;
    display: inline-flex;
    align-items: center;
}

.aon_tab_label {
    width: auto;
    height: 20px;
    padding-right: 1em;
    padding-left: 25px;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    align-items: center;
}
.aon_selector .gwt-SplitLayoutPanel-HDragger, .aon_selector .gwt-SplitLayoutPanel-VDragger
	{
	background-color: #eee;
}

.aon_selector .gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.aon_selector .gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

.aon_selector .gwt-TabBar .gwt-TabBarFirst {
	width: 5px;
}

.aon_selector .gwt-TabBar .gwt-TabBarRest {

}

.aon_selector .gwt-TabLayoutPanel {
	background-color: white;
	color : #4b4b4b;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #fff;
	height: 100%;
	pointer-events: none;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: transparent none repeat scroll 0 0; 
	padding-left: 5px;
	padding-top: 5px;
	pointer-events: none;
	border-bottom: 2px solid #fff;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	/*border-color: #EEE;
	border-style: solid;
	border-width: 0 1px 1px;*/
	border: none;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	overflow: hidden;
	padding: 6px;
	pointer-events: auto;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background: white none repeat scroll 0 0;
	border-radius: 3px 3px 0 0;
	border-top: none;
	border-left: none;
	border-right: none;
	color: black;
	cursor: pointer;
	font-weight: normal;
	margin-left: 4px;
	padding: 4px 8px;
	text-align: center;
	pointer-events: auto;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	top: 1px;
	cursor: default;
	font-weight: bold;
	color : #000;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #2152a5;
	
}

.aon_selector .gwt-TabBar {
	background: none repeat scroll 0 0 #fff;
	padding-top: 6px;
}
.aon_selector .gwt-TabBar .gwt-TabBarItem {
	background: none repeat scroll 0 0 #ddd;
	border-color: #666;
	border-style: solid;
	border-radius: 3px 3px 0 0;
	border-width: 1px 1px 0;
	color: #555;
	cursor: pointer;
	font-weight: normal;
	margin-left: 4px;
	padding: 4px 8px;
	text-align: center;
}

.aon_selector .gwt-TabBar .gwt-TabBarItem-selected {
	background: none repeat scroll 0 0 white;
	color: #333;
	cursor: default;
	font-weight: bold;
}

.aon_selector .gwt-TabBar .gwt-TabBarItem-disabled {
	color: #999999;
	cursor: default;
}

.aon_selector .gwt-TabPanel {
}

.aon_selector .gwt-TabPanelBottom {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	padding: 6px;
}

.aon_ok_button {
	background-image: iconAccept;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 30px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

.aon_ok_button:hover, .aon_ok_button:focus	{
	background-color: #F6F6F6;
}

.aon_ok_button_small {
	background-image: iconAccept;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 1px -2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 24px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

.aon_ok_button_small:hover, .aon_ok_button_small:focus	{
	background-color: #F6F6F6;
}

.aon_cancel_button {
	background-image: iconCancel;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 30px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
.aon_cancel_button:hover, .aon_cancel_button:focus	{
	background-color: #F6F6F6;
}

.aon_cancel_button_small {
	background-image: iconCancel;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 1px -2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 24px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

.aon_check_button {
	background-image: iconSend;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 30px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

.aon_check_button:hover, .aon_check_button:focus	{
	background-color: #F6F6F6;
}


.aon_send_button_small {
	background-image: iconSend;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 1px -2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 24px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

.aon-confirm-dialog-cancel-button:hover,	.aon-confirm-dialog-cancel-button:focus {
	background-color: #F6F6F6;
}

.aon_accounting_invoice_panel {
	display: flex;
	align-items: flex-start;
	width: 100%;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.aon_drop_zone {
	min-height: 80px;
	height: 80px;
	min-width: 180px;
	display: flex;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-width: 2px;
	border-style: dashed;
	border-color: #bbb;
	border-radius: 2em;
	text-align: center;
	align-items: end;	
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 1.2em;
    color: #2d4b6d;
    font-weight: bold;
}

@sprite .aon_drop_zone_image {
	gwt-image: "aonOcrDrop";
	background-position: center center;
	background-size: 271px 61px;
	background-color: white;
	width: 100%;
}

.aon_drop_zone_hover {
    border: 2px solid #444444;
    color: #7c9647;
}

.aon_changed {
	background-image: iconRedWrench;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2px 3px;
	background-size: 10px auto;
	width: auto;
	height: auto;
	background-color: blanchedalmond;
}

.aon_input_error {
	background-image: iconWarning;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2px 3px;
	background-size: 10px auto;
	background-color: transparent;
	color: red !important;
	width: auto;
	height: auto;
	background-color: white;
	padding-left: 10px !important;
}

.aon_input_calc {
	background-image: iconCalc;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2px 3px;
	background-size: 10px auto;
	background-color: transparent;
	background-position: 2px 3px;
	color: red !important;
	width: auto;
	height: auto;
	padding-left: 15px !important;
}

.aon_filter_panel {
	padding: .5rem;
	background-color: #f6f8fc;
	border: #ccc 1px solid;
}

.aon_header_table {
	text-transform: uppercase;
	font-weight: bold;
	font-size: .8em;
	text-align: left;
	padding-left: 0.5rem;
}

.aon_header_sticky {
	position: sticky;
	top: 0;
	height: 1.5rem;
	background-color: #eee;
}

.aon_odd_table_row {
	background-color: #f8f7f7;
}

.aon_modify_table_row {
	background-color: lightyellow !important;
}

.aon_search_panel {
	background-color: #edf0ff;
	border: #999 1px solid;
	padding: 5px 1.5em 5px 1.5em;
}
.aon_search_panel td{
	border: none;
	padding: 1px 0.5em 1px 0.5em;
	vertical-align: top;
}
.aon_search_panel_label {
	font-weight: bold;
	white-space: nowrap;
}

.aon_block_message{
	background-attachment: scroll;
	background-clip: border-box;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	padding: 0px 20px 0px 40px;
	min-height: 28px;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.aon_block_info_message{
	background-image: iconInfo;
	background-color: #ECECEC;
	border: solid black 1px;
}
.aon_block_error_message{
	background-image: iconError;
	background-color: #ffd0d0;
	border: solid black 1px;
}
.aon_block_warning_message{
	background-image: iconWarning;
	background-color: #ECECEC;
	border: solid black 1px;
}
.aon_icon_label{
	flex-shrink: 0;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	border: none;
	overflow: visible;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: inherit;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;		
}

.aon_label_with_icon{
	padding-left: 22px;
	flex-shrink: 0;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	border: none;
	display: inline-flex;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: inherit;
	width: auto;
	height: 24px;
	background-size: 24px 24px;
	align-items: center;		
}

/* SUGGEST POPUP */
.aon_suggest_box_popup  {
	border: 1px solid #bbb;
	border-radius: 5px;
  	background: white;
    height: 200px;
    overflow-y: auto !important;
    text-align: left;
}
.aon_suggest_box_popup .item {
	padding: 2px 6px;
	color: #000;
	cursor: default;
}
.aon_suggest_box_popup .item-selected {
	background: #D5E2FF;
	cursor: pointer;
}

.aon_blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.aon_aeat_background_color { background-color: #3a85c3;}
.aon_araba_background_color { background-color: #A30C51;}
.aon_bizkaia_background_color { background-color: #D70004;}
.aon_gipuzkoa_background_color { background-color: #A1C031;}
.aon_navarra_background_color { background-color: #da002a;}
.aon_ccaa_background_color { background-color: #C41230;}

/* CONFIRM DIALOG  */
.aon_cards {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	box-sizing: border-box;
}

.aon_card{
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	padding: 4px 5px 5px 10px;
	margin: 20px 10px 10px 10px;
	cursor: pointer;
	flex: 0 1 20%;
	min-height: 120px;
}

.aon_card:hover{
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.aon_card_title{
	font-weight: 600;
	font-size: 1.8em;
}
.aon_card_body{
	width:100%;
}
.aon_card_footer {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.aon_group {
	border: 1px solid #CCCCCC;
	margin: 1em 0;
	padding: 0 0 0.5em;
}
.aon_group_title {
	background-color: #FFFFFF;
	background-image: none;
	border: 0 none;
	display: inline;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0 0.5em 2px;
	position: relative;
	top: -1em;
}

.aon_group_body {
	color: #4B4B4B;
	padding: 0 1em;
}

.aon_fiscal_box {
	border: 0.5px solid #AAA;
	color: #AAA;
	font-family: Fixed, monospace !important;
	font-size: 0.9em;
	padding: 2px 2px 2px 3px;
	text-align: center;
	display: inline;
}

.aon_fiscal_box_error {
	border: 0.5px solid #880000;
	color: white;
	background-color: #880000;
}

.aon_toast {
	position: absolute;
	color: #333;
	width: 300px;
	background-color: #d8ecff;
	top: 160px;
	right: 15px;
	border: 0.5px solid #999;
	border-radius: 10px;
	animation-name: aon-toast;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

.aon_toast .aon_widget_close {
	border: 1px solid darkgray;
}

@keyframes aon-toast { 
	0% {top: 160px;right: -300px;}
	100%{top:160px;right:15px;}
}
.aon_toast_header {
	display: flex;
	padding-left: 10px;
	font-weight: bold;
	margin-top: 3px;
}

.aon_toast_content {
	padding: 10px;
}

.aon_context_menu_item {
	white-space: nowrap;
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 25px !important;
	background-size: contain;
}


.aon_floating_message {
	width: 90%;
	height: 50px;
	top: 160px;
	right: 15px;
	margin: 4px auto 2px auto;
	border-radius: 10px;
}

.aon_floating_message_header {
	display: flex;
	padding-left: 10px;
	font-weight: bold;
	margin-top: 2px;
	align-items: center;
}

.aon_floating_message_content {
	padding: 3px 20px;
}

.aon_custom_scroll::-webkit-scrollbar {
 	width: 7.5px;
}
.aon_custom_scroll::-webkit-scrollbar-track {
 	background: transparent; 
}
.aon_custom_scroll::-webkit-scrollbar-thumb {
 	border-radius: 5px;
 	background: #002469; 
}
.aon_custom_scroll::-webkit-scrollbar-thumb:hover {
	border-radius: 5px;
 	background: #7A9AD7; 
}
