/* Use @external GWT specific CSS at-rule followed by list of class names to 
   declare classes that shouldn't be obfuscated. */
@external .*;

input:focus, select:focus, textarea:focus{
	background-color: #FBEDB6;
	border: solid black 1px;
}
input[type="checkbox"]:focus + label {
	background-color: #FBEDB6;
}
[type="checkbox"]{
    vertical-align:middle;
}

/* ICONS */
@url iconAdd aonIconAdd;
.aon_icon_add { background-image: iconAdd;}
@url iconSave aonIconSave;
.aon_icon_save { background-image: iconSave;}
@url iconDelete aonIconDelete;
.aon_icon_delete { background-image: iconDelete;}
@url iconSearch aonIconSearch;
.aon_icon_search { background-image: iconSearch;}
@url iconBack aonIconBack;
.aon_icon_back { background-image: iconBack;}
@url iconRefresh aonIconRefresh;
.aon_icon_refresh { background-image: iconRefresh;}
@url iconClear aonIconClear;
.aon_icon_clear { background-image: iconClear;}
@url iconCopy aonIconCopy;
.aon_icon_copy { background-image: iconCopy;}
@url iconAudit aonIconAudit;
.aon_icon_audit { background-image: iconAudit;}
@url iconPdf aonIconPdf;
.aon_icon_pdf { background-image: iconPdf;}
@url iconExcel aonIconExcel;
.aon_icon_excel { background-image: iconExcel;}
@url iconComments aonIconComments;
.aon_icon_comments { background-image: iconComments;}
@url iconNoComments aonIconNoComments;
.aon_icon_no_comments { background-image: iconNoComments;}
@url iconInfo aonIconInfo;
.aon_icon_info { background-image: iconInfo;}
@url iconError aonIconError;
.aon_icon_error { background-image: iconError;}
@url iconWarning aonIconWarning;
.aon_icon_warning { background-image: iconWarning;}
@url iconMinimize aonIconMinimize;
.aon_icon_minimize { background-image: iconMinimize;}
@url iconMaximize aonIconMaximize;
.aon_icon_maximize { background-image: iconMaximize;}
@url iconEuro aonIconEuro;
.aon_icon_euro { background-image: iconEuro;}
@url iconBook aonIconBook;
.aon_icon_book { background-image: iconBook;}
@url iconList aonIconList;
.aon_icon_list { background-image: iconList;}
@url iconHistory aonIconHistory;
.aon_icon_history { background-image: iconHistory;}
@url iconUndo aonIconUndo;
.aon_icon_undo { background-image: iconUndo;}
@url iconRedo aonIconRedo;
.aon_icon_redo { background-image: iconRedo;}
@url iconAccept aonIconAccept;
.aon_icon_accept { background-image: iconAccept;}
@url iconCancel aonIconCancel;
.aon_icon_cancel { background-image: iconCancel;}
@url iconClose aonIconClose;
.aon_icon_close { background-image: iconClose;}
@url iconCheck aonIconCheck;
.aon_icon_check { background-image: iconCheck;}
@url iconChecked aonIconChecked;
.aon_icon_checked { background-image: iconChecked;}
@url iconLaunch aonIconLaunch;
.aon_icon_launch { background-image: iconLaunch;}
@url iconSwap aonIconSwap;
.aon_icon_swap { background-image: iconSwap;}
@url iconHelp aonIconHelp;
.aon_icon_help { background-image: iconHelp;}
@url iconChanged aonIconChanged;
.aon_icon_changed { background-image: iconChanged;}
@url iconCalc aonIconCalc;
.aon_icon_calc { background-image: iconCalc;}
@url iconFinanceIn aonIconFinanceIn;
.aon_icon_finance_in { background-image: iconFinanceIn;}
@url iconFinanceOut aonIconFinanceOut;
.aon_icon_finance_out { background-image: iconFinanceOut;}
@url iconFinanceReturn aonIconFinanceReturn;
.aon_icon_finance_return { background-image: iconFinanceReturn;}
@url iconFinanceUndo aonIconFinanceUndo;
.aon_icon_finance_undo { background-image: iconFinanceUndo;}
@url iconFinanceSettle aonIconFinanceSettle;
.aon_icon_finance_settle { background-image: iconFinanceSettle;}
@url iconFinancePay aonIconFinancePay;
.aon_icon_finance_pay { background-image: iconFinancePay;}
@url iconFinanceGroup aonIconFinanceGroup;
.aon_icon_finance_group { background-image: iconFinanceGroup;}
@url iconInbox aonIconInbox;
.aon_icon_inbox { background-image: iconInbox;}
@url iconReject aonIconReject;
.aon_icon_reject { background-image: iconReject;}
@url iconDraft aonIconDraft;
.aon_icon_draft { background-image: iconDraft;}
@url iconRestoreRejected aonIconRestoreRejected;
.aon_icon_restore_rejected { background-image: iconRestoreRejected;}
@url iconRestoreDeleted aonIconRestoreDeleted;
.aon_icon_restore_deleted { background-image: iconRestoreDeleted;}
@url iconViewDocument aonIconViewDocument;
.aon_icon_view_document { background-image: iconViewDocument;}
@url iconDeleteForever aonIconDeleteForever;
.aon_icon_delete_forever { background-image: iconDeleteForever;}

/* BASICS */
.aon_selector {
	margin: 0px;
	color: #4B4B4B;
	font: 12px/1.333 "arial", "lucida Grande", "Trebuchet MS", sans-serif;
}
.aon_scroll_area {
	padding: 8px 1.5em 1.5em 1.5em;
}
.aon_input_text {
	border: 1px solid #808080;
}
.aon_number_box {
	text-align: right;
	padding-left: 15px;
	padding-right: 2px;
}
.aon_value_changed {
	color: #897820;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #9E945E;
}
.aon_width_all {
	width: 100%;
}
.aon_height_all {
	height: 100%;
}
.aon_fixed_font {
	font-family: Fixed, monospace;
}
.aon_italic {
	font-style: italic;
}
.aon_bold {
	font-weight: bold;
}
.aon_font_medium{
	font-size: medium;
}
.aon_font_small{
	font-size: small;
}
.aon_font_smaller{
	font-size: smaller;
}
.aon_block_center {
	margin-left: auto;
	margin-right: auto;
}

.aon_nowrap {
	white-space: nowrap;
}

.aon_truncate {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  
}

.aon_text_left {
	text-align: left;
}
.aon_text_center {
	text-align: center;
}
.aon_text_right {
	text-align: right;
}
.aon_text_underline {
	text-decoration: underline;
}
.aon_text_line_through {
	text-decoration: line-through;
}
.aon_clickable {
	cursor: pointer;
}
.aon_padding {
	padding: 1em;
}
.aon_padding_bottom {
	padding-bottom: 1em;
}
.aon_padding_top {
	padding-top: 1em;
}
.aon_padding_left {
	padding-left: 1em;
}
.aon_padding_right {
	padding-right: 1em;
}
.aon_margin {
	margin: 1em;
}
.aon_margin_top {
	margin-top: 1em;
}
.aon_margin_bottom {
	margin-bottom: 1em;
}
.aon_margin_left {
	margin-left: 1em;
}
.aon_margin_right {
	margin-right: 1em;
}
.aon_margin_left_double {
	margin-left: 2em;
}
.aon_margin_right_double {
	margin-right: 2em;
}

.aon_color_red {
	color: red;
}
.aon_color_green {
	color: green;
}
.aon_color_royalblue {
	color: RoyalBlue;
}

.aon_background_orange {
	background-color: #ffa54f;
}

.aon_pointer_events_none {
	pointer-events: none;
}

.aon_pointer_events_auto {
	pointer-events: auto;
}

.aon_border_top {
	border-top: #c4c4c4 1px solid;
}
.aon_border_bottom {
	border-bottom: #c4c4c4 1px solid;
}

.aon_text_vertical {
	transform: rotate(-90deg);
	text-indent: 0em;
	font-size: 1.1em !important;	
}

.aon_inner_label {
	font-style: italic;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}
.aon_loader {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
  	border-top: 2px solid #bbb;
  	width: 8px;
  	height: 8px;
  	-webkit-animation: spin 2s linear infinite; /* Safari */
  	animation: spin 2s linear infinite;
}

/* CONFIRM DIALOG  */
.aon_confirm_dialog {
	background: white none repeat scroll 0 0;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.aon_confirm_dialog-msg {
	font-size: 1.2em;
	margin: 1em;
	text-align: center;
}

/* TABLE  */
.aon_table {
	border-collapse: collapse;
}
.aon_table td {
	padding: 1px 0.5em 1px 0.5em;
	vertical-align: middle;
}
.aon_table_label {
	font-weight: bold;
	white-space: nowrap;
}
.aon_table_icon {
	height: 16px;
	width: 16px;
	background-size: 100% auto;	
}
.aon_table_button {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}
.aon_search_panel_button {
	width: 20px;
	height: 20px;
	background-size: 100% auto;
}
.aon_search_panel_button:hover {
	background-color: white !important; 
}

/* GRID */
.aon_grid {
	border-collapse: collapse;
	width: 100%;
	padding: 0px 1.5em 0em 1.5em;
	box-sizing: border-box;
}
.aon_grid td {
	padding: 1px 0.5em 1px 0.5em;
	border: #c4c4c4 1px solid;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.aon_grid tr:hover {
	background-color: #edf0ff;
}
.aon_grid_header {
	padding: 5px 1em;
	height: 18px;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	background-image: linear-gradient(#EEE, #DDD);
}

.aon_flex_block {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.aon_flox_grow_1 {
	flex-grow: 1;
}
.aon_flex_label {
	font-weight: bold;
	white-space: nowrap;
	margin-right: 10px;
	margin-left: 5px;
}

/* TOOLBAR */
.aon_toolbar {
	width: 100%;
	padding: 0px 1.5em 0em 1.5em;
	box-sizing: border-box;
	height: 50px;
}
.aon_toolbar_inner {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border-bottom: solid #c4c4c4 1px;
}
.aon_toolbar_button_container {
	margin-left: 1em;
}

.aon_toolbar_message_container {
	margin-left: 40px;
	margin-right: 40px;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.aon_toolbar_message {
	background-attachment: scroll;
	background-clip: border-box;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	padding: 0px 20px 0px 40px;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
}
.aon_toolbar_info_message {
	background-image: iconInfo;
	background-color: #ECECEC;
	border: solid black 1px;
}
.aon_toolbar_error_message {
	background-image: iconError;
	background-color: #ffd0d0;
	border: solid black 1px;
}


.aon_toolbar_title_container {
	padding-right: 2em;
	float: right;
	text-align: right;
	white-space: nowrap;
	width: auto;
}
.aon_toolbar_title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
}

.aon_toolbar_button {
	width: 36px;
	height: 36px;
}

.aon_button {
	flex-shrink: 0;
	border-radius: 50%;
	-webkit-border-radius: none;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	overflow: visible;	
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: inherit;
}

.aon_button:hover {
 	background-color: #EEE;
}
.aon_button:disabled {
	opacity: 0.2;
}
.aon_custom_dialog {
	background: white none repeat scroll 0 0;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	clip: unset !important;
}
.aon_custom_dialog_glass {
    background-color: #000;
    opacity: 0.2;
    filter: opacity(45%);
}

.aon_custom_dialog .popupContent {
	background-color: white;
}
.aon_custom_dialog_header {
	margin: 0px;
	padding: 1px;
	height: 22px;
	width: auto;
	display: flex;
	align-items: center;
}

.aon_custom_dialog_title {
	font-weight: bold;
	padding: 5px 1em;
	text-transform: uppercase;
	width: auto;
	font-size: 1.2em;
	flex-grow: 1;
	cursor: grab;
}

.aon_custom_dialog_close {
	background-image: iconClose;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: 20px auto;
	background-color: transparent;
	cursor: pointer;
	height: 20px;
	width: 20px;
	border: none;
}

.aon_tab_button {
	padding: 0 0 0 16px;
	text-align: left;
	border: 0px;
	width: 20px;
	height: 24px;
	overflow: visible;
	cursor: pointer;
	border: none;
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-color: white;
	background-position: 2px;
	margin-right: 5px;	
}
.aon_tab_button:hover {
 	background-color: #EEE;
}

.aon_tab_icon {
	padding: 0 0 0 22px;
	min-width: 20px;
	height: 20px;
	overflow: visible;
	background-repeat: no-repeat;
	background-size: 20px auto;
    display: flex;
    align-items: center;
}

.aon_tab_label {
    width: auto;
    height: 20px;
    padding-right: 1em;
    padding-left: 25px;
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    align-items: center;
}
.aon_selector .gwt-SplitLayoutPanel-HDragger, .aon_selector .gwt-SplitLayoutPanel-VDragger
	{
	background-color: #eee;
}

.aon_selector .gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
}

.aon_selector .gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
}

.aon_selector .gwt-TabBar .gwt-TabBarFirst {
	width: 5px;
}

.aon_selector .gwt-TabBar .gwt-TabBarRest {

}

.aon_selector .gwt-TabLayoutPanel {
	height: 100%;
	pointer-events: none;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	background: transparent none repeat scroll 0 0;
	padding-left: 5px;
	padding-top: 6px;
	pointer-events: none;
	border-bottom: 1px solid #ccc;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border-color: #EEE;
	border-style: solid;
	border-width: 0 1px 1px;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	overflow: hidden;
	padding: 6px;
	pointer-events: auto;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background: #CBCBCB none repeat scroll 0 0;
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: black;
	cursor: pointer;
	font-weight: normal;
	margin-left: 4px;
	padding: 4px 8px;
	text-align: center;
	pointer-events: auto;
}

.aon_selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background: white none repeat scroll 0 0;
	top: 1px;
	color: #333;
	cursor: default;
	font-weight: bold;
}

.aon_selector .gwt-TabBar {
	background: none repeat scroll 0 0 #fff;
	padding-top: 6px;
}
.aon_selector .gwt-TabBar .gwt-TabBarItem {
	background: none repeat scroll 0 0 #ddd;
	border-color: #666;
	border-style: solid;
	border-radius: 3px 3px 0 0;
	border-width: 1px 1px 0;
	color: #555;
	cursor: pointer;
	font-weight: normal;
	margin-left: 4px;
	padding: 4px 8px;
	text-align: center;
}

.aon_selector .gwt-TabBar .gwt-TabBarItem-selected {
	background: none repeat scroll 0 0 white;
	color: #333;
	cursor: default;
	font-weight: bold;
}

.aon_selector .gwt-TabBar .gwt-TabBarItem-disabled {
	color: #999999;
	cursor: default;
}

.aon_selector .gwt-TabPanel {
}

.aon_selector .gwt-TabPanelBottom {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	padding: 6px;
}

.aon_ok_button {
	background-image: iconAccept;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 30px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

.aon_ok_button:hover, .aon_ok_button:focus	{
	background-color: #FBEDB6;
}

.aon_cancel_button {
	background-image: iconCancel;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: inherit;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	border: 1px solid #aaa;
	cursor: pointer;
	height: 30px;
	overflow: visible;
	padding-left: 25px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
.aon-confirm-dialog-cancel-button:hover,	.aon-confirm-dialog-cancel-button:focus {
	background-color: #FBEDB6;
}

.aon_accounting_invoice_panel {
	display: flex;
	align-items: flex-start;
	width: 100%;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.aon_drop_zone {
	min-height: 80px;
	height: 80px;
	min-width: 180px;
	display: table;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-width: 2px;
	border-style: dashed;
	border-color: #bbb;
	border-radius: 2em;
	text-align: center;
	vertical-align: middle;	
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 1.2em;
    color: #2d4b6d;
    font-weight: bold;
}

@sprite .aon_drop_zone_image {
	gwt-image: "aonOcrDrop";
	background-position: center center;
	background-size: 271px 61px;
	background-color: white;
	width: 100%;
}

.aon_drop_zone_hover {
    border: 2px solid #444444;
    color: #7c9647;
}

.aon_changed {
	background-image: iconChanged;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2px 3px;
	background-size: 10px auto;
	background-color: transparent;
	width: auto;
	height: auto;
	background-color: white;
	padding-left: 10px !important;
}

.aon_input_error {
	background-image: iconWarning;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2px 3px;
	background-size: 10px auto;
	background-color: transparent;
	color: red !important;
	width: auto;
	height: auto;
	background-color: white;
	padding-left: 10px !important;
}

.aon_input_calc {
	background-image: iconCalc;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 2px 3px;
	background-size: 10px auto;
	background-color: transparent;
	background-position: 2px 3px;
	color: red !important;
	width: auto;
	height: auto;
	padding-left: 15px !important;
}

.aon_search_panel {
	background-color: #edf0ff;
	border: #999 1px solid;
	padding: 5px 1.5em 5px 1.5em;
}
.aon_search_panel td{
	border: none;
	padding: 1px 0.5em 1px 0.5em;
	vertical-align: top;
}
.aon_search_panel_label {
	font-weight: bold;
	white-space: nowrap;
}

.aon_block_message{
	background-attachment: scroll;
	background-clip: border-box;
	background-position: 3px 2px;
	background-repeat: no-repeat;
	background-size: auto auto;
	padding: 0px 20px 0px 40px;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
}
.aon_block_info_message{
	background-image: iconInfo;
	background-color: #ECECEC;
	border: solid black 1px;
}
.aon_icon_label{
	flex-shrink: 0;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	border: none;
	overflow: visible;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: inherit;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;		
}

