@external .*;

@def fiscalBackgroundColor #DDDDDD;	
@def fiscalSelectedBackgroundColor #BBBBBB;	

.aon-scroll-area{	
	padding:8px 1.5em 1.5em 1.5em;
}

.aon-width-all{
	width:100%;
}
.aon-width-half{
	width:50%;
}
.aon-width-half-plus{
	width:60%;
}
.aon-width-half-minus{
	width:40%;
}
.aon-width-auto{
	width:auto;
}
.aon-width-20{
	width:20px;
}
.aon-width-30{
	width:30px;
}
.aon-width-40{
	width:40px;
}
.aon-width-50{
	width:50px;
}
.aon-width-60{
	width:60px;
}
.aon-width-70{
	width:70px;
}
.aon-width-80{
	width:80px;
}
.aon-width-100{
	width:100px;
}	
.aon-width-105{
	width:105px;
}	
.aon-width-110{
	width:110px;
}	
.aon-width-120{
	width:120px;
}	
.aon-width-130{
	width:130px;
}	
.aon-width-140{
	width:140px;
}	
.aon-width-150{
	width:150px;
}	
.aon-width-160{
	width:160px;
}	
.aon-width-170{
	width:170px;
}	
.aon-width-180{
	width:180px;
}	
.aon-width-190{
	width:190px;
}	
.aon-width-200{
	width:200px;
}	
.aon-width-210{
	width:210px;
}	
.aon-width-220{
	width:220px;
}	
.aon-width-230{
	width:230px;
}	
.aon-width-240{
	width:240px;
}	
.aon-width-250{
	width:250px;
}	
.aon-width-300{
	width:300px;
}	
.aon-width-350{
	width:350px;
}	
.aon-width-400{
	width:400px;
}
.aon-width-450{
	width:450px;
}	
.aon-width-500{
	width:500px;
}	
.aon-width-600{
	width:600px;
}	

.aon-clickable {
	cursor: pointer;
}
.aon-italic {
	font-style: italic;
}
.aon-group {
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 0 0 0.5em;
}

.aon-group-title {
    background-color: #FFFFFF;
    background-image: none;
    border: 0 none;
    display: inline;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.5em 2px;
    position: relative;
    top: -1em;
}

.aon-group-body {
    color: #4B4B4B;
    font-family: "arial","lucida Grande","Trebuchet MS",sans-serif;
    font-size: 12px;
    padding: 0 1em;
}

.aon-dataTable{
	width:100%;		
	font-family:arial,verdana, "sans serif";
	border:#ccc 1px solid;
	border-collapse:collapse;
}

.aon-dataTable td{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:0.5em;
	padding-right:0.5em;	
	border:#ccc 1px solid;
}
.aon-nowrap {
	white-space: nowrap;
}
.aon-inline {
	display: inline;
}
.aon-margin{
	margin: 1em;
}
.aon-margin-top{
	margin-top: 1em;
}
.aon-margin-left{
	margin-left: 1em;
}
.aon-bold {
	font-weight: bold;
}
.aon-text-center {
	text-align: center;
}
.aon-text-left {
	text-align: left;
}
.aon-text-right {
	text-align: right;
}
.aon-vertical-align-middle{
	vertical-align: middle;
}
.aon-simple-border {
	border: solid #CCC 1px;
}
.aon-border-none {
	border: none;
}
.aon-background-disabled {
	background-color: #EEE;
}
.aon-font-small {
	font-size: 0.8em;
}
.aon-padding {
	padding: 1em;
}
.aon-padding-left {
	padding-left: 1em;
}
.aon-padding-right{
	padding-right: 1em;
}
.aon-border-bottom-important  {
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #999 !important;
}
.aon-border-bottom  {
	border-bottom: solid #999 1px;
}
.aon-padding2 {
	padding: 2px;
}

.aon-editDataTable-iconColumn {
	padding: 0;
	width: 14px;
	text-align: center;
}

.aon-editDataTable-textColumn {
	text-align: left;
}

.aon-editDataTable-numberColumn {
	text-align: right;
}

.aon-textBox-error {
	border: 1px solid red !important;
}
.aon-link-panel {
	padding: 0px 0px 1.5em 1.5em;
}
.aon-link-container {
	width: 98%;
	height: 100%;
	margin-left: 3px;
	margin-top: 5px;
}
.aon-link-item{
	background-color: fiscalBackgroundColor;
	cursor: pointer;
    margin-bottom: 2px;
    padding: 3px 0;
}
.aon-link-item:hover{
	background-color: fiscalSelectedBackgroundColor;
}
.aon-link-item-selected {
    margin-bottom: 2px;
    padding: 3px 0;
	background-color: fiscalSelectedBackgroundColor;
}
.aon-link-number{
	border-top: solid #CCC .5px;
	border-left: solid #BBB 2px;
	border-bottom: solid #BBB 2px;
	width: 20px;
	margin-left: 10px;
	text-align: center;
}
.aon-link-description{
	text-align: right;
	font-size: 1.1em;
	padding-right: 20px;
	padding-left: 5px;
}
@sprite .aon-link-list-item{
	gwt-image: "aonListData";
    color: #000000;
    font-size: 0.9em;
    height: auto;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 20px;
    text-transform: uppercase;
    width: auto;
}

@sprite .aon-list-data {
	gwt-image: "aonListData";
	background-position:   left 6px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
    font-size: 0.9em;
    padding-left: 15px;
    white-space: nowrap;	
}
@sprite .aon-icon-delete {
	width: auto;
	gwt-image: "aonIconDelete";
}

@sprite .aon-icon-moveUp {
	width: auto;
	gwt-image: "aonIconMoveUp";
}

@sprite .aon-icon-draft {
	width: auto;
	gwt-image: "aonIconDraft";
}

@sprite .aon-icon-paste {
	width: auto;
	gwt-image: 'aonIconPaste';
}
@sprite .aon-icon-duplicate {
	width: auto;
	gwt-image: 'aonIconDuplicate';
}

@sprite .aon-icon-enterprise {
	gwt-image: "aonIconEnterprise";
}

@sprite .aon-table-row-link {
	gwt-image: "aonIconRowSelector";
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
	background-attachment: scroll;
	margin: 0;
	padding: 0 0 0 14px;
}

@sprite .aon-icon-trash  {
	gwt-image: "aonIconTrash";
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
	background-attachment: scroll;
	margin: 0;
	padding: 0 0 0 14px;
}

@sprite .aon-timer {
	gwt-image: "aonTimer";
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-attachment: scroll;
	height: 150px;
	width: 250px;
	padding-left: 160px;
	padding-top: 20px;
	font-weight: bold;
	vertical-align: middle;
	color: #003399;
	border: solid #003399 1px;
}
@sprite .aon-changed {
	width: auto;
	height: auto;
	gwt-image: "aonChanged" ;
	background-color: transparent; 
}
@sprite .aon-input-error {
	color: red !important;
	width: auto;
	height: auto;
	gwt-image: "aonInputError" ;
	padding-left: 9px !important; 
}

@url imageUrl aonCurlyLT;
.aon-curly-lt {
	border-style:solid;
    border-width:1px 15px 1px 0px;
    border-image: imageUrl 0 250 0 0;
    padding-right: 10px;
}
.aon-input-text-important {
	border: 1px solid #808080 !important;
	padding: 1px;
}
.aon-inputText {
    border: 1px solid #808080;
}
@sprite .aon-icon-aeat{
	width: auto;
	gwt-image: "aonAeat";
	background-color: transparent;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center left;
}

.aon-icon-commandButton{
	padding:0 0 0 16px;
	text-align:left;
	border:0px;
	width:auto;
   	overflow:visible;
   	cursor:pointer;   	
}

.aon-page-header {
	background-color: #999;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 25px;
	margin-bottom: 10px;
}

.aon-value-changed {
	color: #897820;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.2em #9E945E;
}


@sprite .aon-icon-fx {
	gwt-image: 'fx';
	background-position: left center;
}

@sprite .aon-icon-error {
	width: auto; 
	height: auto;
	gwt-image: '_error';
	padding-left: 14px;
}


@sprite .aon-icon-warn {
	width: auto; 
	height: auto;
	gwt-image: 'warn';
	padding-left: 14px;
}

@sprite .aon-icon-changed {
	width: auto; 
	height: auto;
	gwt-image: 'changed';
	padding-left: 14px;
}

@sprite .aon-icon-irpfPreview {
	width: auto; 
	height: auto;
	gwt-image: 'aet';
	background-position: left center;
}

@sprite .aon-icon-expand {
       	gwt-image: "expand" ;
        background-position: center;
}

@sprite .aon-icon-collapse {
        gwt-image: "collapse" ;
        background-position: center;
}

@sprite .aon-icon-collapseAll {
	float: right;
	gwt-image: 'collapseall';
}

@sprite .aon-icon-expandAll {
	float: right;
	gwt-image: 'expandall';
}

@sprite .aon-icon-pdfPreview {
	width: auto; 
	height: auto;
	gwt-image: 'pdfPreview';
	background-position: left center;
}

@sprite .aon-icon-card {
        width: auto;
        height: auto;
        padding: 0 0 0 18px;
       	text-align: left;
        gwt-image: "card" ;
}

@sprite .aon-icon-employee {
        gwt-image: "employee" ;
}

@sprite .aon-icon-agreement {
        gwt-image: "agreement" ;
}

@sprite .aon-icon-segsocial-small{
	width: auto; 
	height: auto;
	gwt-image: 'segsocial_small';
}

@sprite .aon-icon-redo {
	gwt-image: 'redo';
	background-position: left center;
}

@sprite .aon-icon-undo {
	gwt-image: 'undo';
	background-position: left center;
}

@sprite .aon-icon-cleartrash {
	gwt-image: 'aonIconClearTrash';
	background-position: left center;
}

@sprite .aon-icon-deletetrash {
	gwt-image: 'aonIconDeleteTrash';
	background-position: left center;
}

@sprite .aon-icon-view {
	float: right;
	gwt-image: 'view';
}

@sprite .aon-normal-icon-view {	
	gwt-image: 'view';
	padding-left: inherit;
	width: 105px;
	background-position: right;
}


@sprite .aon-icon-minimize {
	float: right;
	gwt-image: 'minimize';
}

@sprite .aon-icon-maximize {
	float: right;
	gwt-image: 'maximize';
}

@sprite .aon-icon-calendar {
	float: right;
	gwt-image: 'aon_icon_calendar';
}

@sprite .aon-icon-cost {
        gwt-image: "cost" ;
}

@sprite .aon-icon-rowSelector-S {
        gwt-image: "aon_icon_row_s" ;
}

@sprite .aon-icon-rowSelector-C {
        gwt-image: "aon_icon_row_c" ;
}

@sprite .aon-icon-rowSelector-Parent {
        gwt-image: "aon_icon_row_parent" ;
}

@sprite .aon-icon-rowSelector-Changed {
        gwt-image: "aon_icon_row_changed" ;
}


.aon-dataTable-cell-highlight {
	background: #fffadc;
	border-color: #d3c061 !important;
}

.aon-dataTable-cell-highlight-top {
 border-bottom-color: #d3c061 !important;
}

.aon-dataTable-row-current {
	box-shadow: -3px 1px 3px 1px #999999;
}

.aon-dataTable-row-current td * {
	border-color: #777777;
	font-weight: bold !important;
}

.aon-dataTable-row-highlight {
	background: #fffadc;
}
.aon-dataTable-row-highlight td {
	border-color: #d3c061;
}

.aon-dataTble-row-highlight-top {
}


.aon-fiscal-title {
	background-color: fiscalBackgroundColor; 
	border: 1px solid #FFFFFF;
	padding-bottom: 4px;
}
.aon-fiscal-year {
	background-color: fiscalBackgroundColor; 
	border: 1px solid #FFFFFF; 
	font-size: 16px; 
	font-weight: bold;	
}
.aon-fiscal-model {
	background-color: fiscalBackgroundColor; 
	border: 1px solid #FFFFFF; 
	font-size: 14px;
}


.aon-fiscal-header {
	background-color: fiscalBackgroundColor;
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 25px;
	margin-bottom: 10px;
}
.aon-fiscal-box {
    border: 0.5px solid fiscalSelectedBackgroundColor;
    color: fiscalSelectedBackgroundColor;
    font-family: monospace Courier !important;
    font-size: 0.9em;
    padding: 2px 2px 2px 3px;
    text-align: center;
    display: inline;
}	
.aon-fiscal-box-error {
    border: 0.5px solid #880000;
    color: white;
    background-color: #880000;
}	

input:disabled + label{
  color: #CCC;
}

.aon-fiscal-checkbox {
    display: inline-block;
    font-size: 0.9em;
    line-height: 1em;
    margin-top: 0.2em;
}
.aon-fiscal-checkbox input{
    float: left;
    margin-right: 0.4em;	
}

.aon-fiscal-border-bottom {
	border-bottom: 0.5px solid fiscalSelectedBackgroundColor;
}

.aon-fiscal-container{
	width: 100%;	
}

.aon-fiscal-margin-left{
	margin-left: 3px;
}
.aon-fiscal-padding-left{
	padding-left: 8px;
}

.aon-fiscal-padding-right {
	padding-right: 50px;
}
.aon-fiscal-rotate-text {
    transform: rotate(270deg);
}

.aon-fiscal-scroll-table-wrapper {
	overflow-x: auto;
}

.aon-fiscal-scroll-table-wrapper td:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.aon-fiscal-inner-group-body {
	background-color: #f0f0f0;
}


.aon-black {
	color: black;
}

.aon-red {
	color: #E65F3E;
}

.aon-green {
	color: #679934;
}
.aon-comboBoxPopup {
	padding: 0px;
	background-color: #FBEDB6;
	border-top: 0px;
	border: solid #808080 1px;
	box-shadow: 2px 2px 2px #888888;
}
.aon-dataTable-chart table {
	border-collapse: collapse;
}
.aon-dataTable-chart td {
}
.aon-dataTable-row-highlight-top {
}
.aon-dataTable-row-highlight-top td {
	border-bottom-color: #d3c061;
}
.aon-dataTable .selected {
    border: 1px solid #D3C061;
    background: none repeat scroll 0 0 #FFFADC;
}
.aon-finding-toolbar-item {
	height: 14px;	
}
.aon-iCon {
    padding: 1px 0px 1px 18px;
}
.aon-label-warn {
	color: orange;
}
.aon-tooltip { 
	/* the outside of the popup */
	margin-left: 32px;
}

.aon-tooltip .popupBottomCenter { 
	/* the bottom center cell */
	background: inherit;
}
.aon-tooltip .popupBottomCenterInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupBottomLeft { 
	/* the bottom left cell */
	background: inherit;
}
.aon-tooltip .popupBottomLeftInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupBottomRight { 
	/* the bottom right cell */
	background: inherit;
}
.aon-tooltip .popupBottomRightInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupContent { 
	/* the wrapper around the content */
    padding: 6px;
	color : #000 ;
	font-size : 11px ;
	border: 1px solid #CCCCCC;
	border-top: none;
    box-shadow: 2px 2px 5px #CCCCCC;
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.aon-tooltip .popupMiddleCenter { 
	/* the middle center cell */
	background: inherit;
}
.aon-tooltip .popupMiddleCenterInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupMiddleLeft { 
	/* the middle left cell */
	background: inherit;
}
.aon-tooltip .popupMiddleLeftInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupMiddleRight { 
	/* the middle right cell */
	background: inherit;
}
.aon-tooltip .popupMiddleRightInner { 
	/* the inner element of the cell */
	background: inherit;
}

@sprite .aon-tooltip .popupTopCenter {
        /* the top center cell */
       	gwt-image: "tooltip_top";
        width: auto;
        background-position: center top;
}

.aon-tooltip .popupTopCenterInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupTopLeft { 
	/* the top left cell */
	background: inherit;
}
.aon-tooltip .popupTopLeftInner { 
	/* the inner element of the cell */
	background: inherit;
}
.aon-tooltip .popupTopRight { 
	/* the top right cell */
	background: inherit;
}
.aon-tooltip .popupTopRightInner { 
	/* the inner element of the cell */
	background: inherit;
}

/* ProgressBar */

.progressbar-text {
	font-weight: bold;
}

.progressbar-remaining {
	font-size: 12px;
	font-style: italic;
}

.progressbar-outer {
	border: 1px solid black;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
}

.progressbar-inner {
	border: 0px solid black;
	margin: 1px;
}

.progressbar-bar {
	width: 5px;
	height: 15px;
	margin: 1px;
}

.progressbar-fullbar {
	background: rgb(65,65,128);
}

.progressbar-blankbar {
	background: #eee;
}

.progressbar-completed {
	background: #32CD32;
}
.aon-inner-label {
	font-style: italic;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}
.aon-table-label {
	padding-right: 2px;
	font-size: 0.9em;
	text-align: center;
}

/* DataGrid Load Empress */

.childCell {
  padding-left: 30px;
  border: 2px solid #eee !important;
  background: #eee !important;
}

.groupHeaderCell {
  padding: 1px 15px;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  font-size: 130%;
  background: #eee;
}

.aon-fiscal-table {
	width: 90%;
	border-collapse: collapse;
}
.aon-fiscal-table td:first-child {
	border-bottom:#ccc 1px solid;
	padding-left: 5px;
}
.aon-info-message-block {
	font-size: 1.5em;
	color: gray;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	border: solid gray 1px;
	text-align: center;
}
.aon-warn-message-block {
	font-size: 1.5em; 
	color: red; 
	margin-left: 5px; 
	margin-right: 5px;
	padding: 10px;
	border: solid red 1px;
	text-align: center;
}

.aon-tree-icon-node {
    height: auto !important;
    overflow: hidden !important;
    padding: 2px 5px 2px 18px !important;
    width: auto !important;
}

@sprite .aon-icon-m111{
	gwt-image: "aonIconM111";
}

@sprite .aon-icon-m115{
	gwt-image: "aonIconM115";
}
@sprite .aon-icon-m123{
	gwt-image: "aonIconM123";
}
@sprite .aon-icon-m130{
	gwt-image: "aonIconM130";
}
@sprite .aon-icon-m131{
	gwt-image: "aonIconM131";
}
@sprite .aon-icon-m140{
	gwt-image: "aonIconM140";
}
@sprite .aon-icon-m180{
	gwt-image: "aonIconM180";
}
@sprite .aon-icon-m184{
	gwt-image: "aonIconM184";
}
@sprite .aon-icon-m190{
	gwt-image: "aonIconM190";
}
@sprite .aon-icon-m193{
	gwt-image: "aonIconM193";
}
@sprite .aon-icon-m200{
	gwt-image: "aonIconM200";
}
@sprite .aon-icon-m303{
	gwt-image: "aonIconM303";
}
@sprite .aon-icon-m340{
	gwt-image: "aonIconM340";
}
@sprite .aon-icon-m347{
	gwt-image: "aonIconM347";
}
@sprite .aon-icon-m349{
	gwt-image: "aonIconM349";
}
@sprite .aon-icon-m390{
	gwt-image: "aonIconM390";
}

@sprite .aon-icon-company {
	gwt-image: "aonIconEnterprise";
}

@sprite .aon-icon-companyData {
	gwt-image: "aonIconCompanyData";
}

@sprite .aon-icon-activities {
	gwt-image: "aonIconActivities";
}
@sprite .aon-icon-year{
	gwt-image: "aonIconPublic";
}

@sprite .aon-icon-point-green {
	gwt-image: "aonIconPointGreen";
}
	
@sprite .aon-icon-point-light-green {
	gwt-image: "aonIconPointLightGreen";
}
	
@sprite .aon-icon-point-orange {
	gwt-image: "aonIconPointOrange";
}
	
@sprite .aon-icon-point-red {
	gwt-image: "aonIconPointRed";
}
	
@sprite .aon-icon-point-yellow {
	gwt-image: "aonIconPointYellow";
}

.aon-fiscal-enterprise-suggest {
    background-color: #eee;
    border: medium none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 2px 5px;
    width: 400px;
}

.gwt-SuggestBoxPopup {
	height: 300px;
	width: 450px;
	overflow: auto !important;
}

.aon-panelGrid{
	border-collapse:collapse;
}
.aon-panelGrid-odd{
	border:#c4c4c4 1px solid;
	font-weight:bold;
	background-color:#f2f2f2;
	white-space: nowrap;
	padding:1px 0.5em 1px 0.5em;
	vertical-align:top;
}
.aon-panelGrid-even{
	border:#c4c4c4 1px solid;
	padding:2px 5px 2px 2px;
	padding:1px 0.5em 1px 0.5em;
}

