	
/*
* Calendar widget style.
* @author: amtzdelagos
*/

.aonCalendar .gwt-DatePicker {
	border: transparent !important;
	cursor: default;
}

.aonCalendar .datePickerDayIsValue {
	 background: none repeat scroll 0 0 #E6E6E6 !important;
}

.aonCalendar .datePickerPreviousButton {
	visibility: hidden;
}

.aonCalendar .datePickerNextButton {
	visibility: hidden;
}

.aonCalendar .datePickerMonthSelector {
    padding: 1px 0 5px;
    width: 100%;
	background-color: #ffffff;
}

.aonCalendar .datePickerDays, td.datePickerMonth, .datePickerNextButton, .datePickerPreviousButton {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.aonCalendar .datePickerPreviousButton, .datePickerNextButton, .datePickerPreviousYearButton, .datePickerNextYearButton {
    cursor: pointer;
    line-height: 1em;
    outline: medium none;
    padding: 0 4px;
}

.aonCalendar .datePickerDays, td.datePickerMonth, .datePickerNextButton, .datePickerPreviousButton {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.aonCalendar td.datePickerMonth, td.datePickerYear {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.aonCalendar .datePickerWeekdayLabel {
    background: none repeat scroll 0 0 #ffffff;
    color: #000;
    font-weight: normal;
}
.aonCalendar .datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.aonCalendar .datePickerWeekendLabel {
    background: none repeat scroll 0 0 #ffffff;
    color: red;
    font-weight: normal;
}

.aonCalendar .datePickerDayIsFiller {
    color: #a0a0a0;
    visibility: hidden;
}
.aonCalendar .datePickerDay {
    cursor: pointer;
    padding: 4px 7px;
	font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.aonCalendar .datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    outline: medium none;
    text-align: center;
}

.aonCalendar .datePickerDayIsToday {
    background: none repeat scroll 0 0 #ffc266;
    border-radius: 25px;
}
.aonCalendar .statalHoliday {
	background: none repeat scroll 0 0 #FFB2B2;
	border-radius: 25px;
	color: #FF3300;
}

.aonCalendar .autonomiHoliday {
	background: none repeat scroll 0 0 #99C2FF;
	border-radius: 25px;
	color: #005CE6;
}

.aonCalendar .localHoliday {
	background: none repeat scroll 0 0 	#B2FFB2;
	border-radius: 25px;
	color: #009900;
}

.aonCalendar .myHoliday_1 {
	background: none repeat scroll 0 0 	#E6CCFF;
	border-radius: 25px;
	color: #A37ACC;
}

.aonCalendar .myHoliday_2 {
	background: none repeat scroll 0 0 	#E6CCFF;
	border-radius: 25px;
	color: #A37ACC;
}

.aonCalendar .myHoliday_3 {
	background: none repeat scroll 0 0 	#E6CCFF;
	border-radius: 25px;
	color: #A37ACC;
}

.aonCalendar .myHoliday_4 {
	background: none repeat scroll 0 0 	#E6CCFF;
	border-radius: 25px;
	color: #A37ACC;
}
