@def selectionBorderWidth 2px;

.dataGridWidget {

    border-top: 1px solid #BBB !important;
    
}


.dataGridFirstColumn{
	border-left: 1px solid #BBB;
}

.dataGridLastColumn {
  
}

.dataGridFooter {
  border-top: 1px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.dataGridHeader {
  border-right: 1px solid #BBB;
  border-bottom:0;
  padding: 3px 15px;
  
  white-space: nowrap;
  background:  url('/aonResource/images/aon-content/aon-dataTable-header.png') repeat-x scroll left top rgb(218, 218, 218);
  
}

.dataGridCell {
  font-size: 12px;
  padding: 2px 15px;
 
  border-bottom: 1px solid #BBB;
  border-right: 1px solid #BBB;
}

.dataGridFirstColumnFooter {
  
}

.dataGridFirstColumnHeader {
	border-left: 1px solid #BBB;
}

.dataGridLastColumnFooter {
  
}

.dataGridLastColumnHeader {
  
}

.dataGridSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {
  
}

.dataGridSortedHeaderDescending {
  
}

.dataGridEvenRow {
  background: #FFFFFF;

}

.dataGridEvenRowCell {
  border: selectionBorderWidth 1px solid #BBB;
}

.dataGridOddRow {
  background: #F8F9F9;
} 

.dataGridOddRowCell {
  border: selectionBorderWidth 1px solid #BBB;

}

.dataGridHoveredRow {
  background: #EEE;
}

.dataGridHoveredRowCell {
  border: selectionBorderWidth 1px solid #BBB;
}

.dataGridKeyboardSelectedRow {
  background: #E2F1F5 ;
}

.dataGridKeyboardSelectedRowCell {
  border: selectionBorderWidth 1px solid #BBB ;
}

.dataGridSelectedRow {
  background: #E2F1F5;

}

.dataGridSelectedRowCell {
  border: selectionBorderWidth 1px solid #BBB;

}

.dataGridKeyboardSelectedCell {
}


