@external .*;

/* Templates */

.aondockLayoutPanel-template {
	overflow: visible !important;
}

.aon_dataGrid-template {
	top: 1em !important;
	left: 1em !important;
	right: 1em !important;
	border-top: 1px solid #BBB !important;
}

/* TemplatesDialog */

.form-template {
	padding: 10px; 		
}
		
.buttons-template {
	padding-top: 10px; 		
	text-align: right;
	border: 0;
}

.form-template textarea {
	resize: none;
}

.aon-popup-aux-template{
	border: 1px solid #BBB;	
	background-color: white;
}

.aon-check-template{
	color: red;	
}

.aon-finding-toolbar-item-template {
	color: #000;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	padding: 1px 5px 1px 16px;
	margin: 0 0 0 5px;
	border: 0;
	text-align: left;
	cursor: pointer;
	width: auto;
	overflow: visible;
	height: 16px;
}

.gwt-PopupPanel-template{
	top:20% !important;
	left:35% !important;
}

}