@import "src/styles.scss";

.input-profile-contact {
  display: flex;
  justify-content: center;
  margin-top: $margin-top;
  gap: 1rem;
}

.input-profile-company {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Espacio entre las filas */
}

.input-profile-company-title {
  font-family: "Roboto-Medium";
  margin-top: 3rem;
}

.divider {
  width: 100%;
}

.input-profile-contact-data-add {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.input-profile-contact-data {
  display: flex;
  justify-content: center;
  margin-top: $margin-top;
  gap: 1rem;
  margin-right: 2rem;
}

// margin-top:   $margin-top ;
