
<div class="input-profile-company-structure">
<p class="input-profile-company-title">{{ "PROFILE.CONTACT_DETAILS" | translate }}</p>
<mat-divider class="divider"></mat-divider>

<div class="input-profile-contact">
  <app-input
    *ngFor="let email of emailFields; let i = index"
    [type]="'text'"
    [label]="'PROFILE.EMAIL' | translate "
    [placeholder]="'PROFILE.PLACEHOLDER'| translate "
    [value]="emailFields[i]"
  ></app-input>
  <div class="input-profile-contact-data-add">
    <app-icon [shape]="'add_box'" (click)="addEmailField()"></app-icon>
  </div>
</div>

<div class="input-profile-contact-data">
  <app-input
    [type]="'text'"
    [label]="'Móvil'"
    [placeholder]="'Placeholder'"
  ></app-input>
  <app-input
    [type]="'text'"
    [label]="'Web'"
    [placeholder]="'Placeholder'"
  ></app-input>
</div>
</div>
<!-- [label]="'LOGIN.USER' + (i + 1)| translate" -->
