@import "src/styles.scss";

.input-profile-contact-data {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;

}

.input-profile-company {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
}
