<div class="structure-title">
  {{ "PROFILE.CONTACT_DETAILS" | translate }}
</div>

<hr />

<div *ngFor="let enterprise of enterprises">


  <div class="form">

      <app-input
        *ngFor="let email of emailList; let i = index"
        [type]="'text'"
        [label]="'PROFILE.EMAIL' | translate"
        [placeholder]="'PROFILE.EMAIL' | translate"
        [value]="email"
      ></app-input>

    <div class="input-profile-contact-data-add">
      <app-button class="icon-border" (click)="addEmail()">
        <app-icon [shape]="'add'"></app-icon>
      </app-button>
    </div>
  </div>

  <div class="form">
    <app-input
      [type]="'text'"
      [label]="'PROFILE.PHONE' | translate"
      [placeholder]="'PROFILE.PHONE' | translate"
      [value]="enterprise.Phone"
    ></app-input>
    <app-input
      [type]="'text'"
      [label]="'PROFILE.WEB' | translate"
      [placeholder]="'PROFILE.WEB' | translate"
      [value]="enterprise.Website"
    ></app-input>
  </div>
</div>

<!-- [label]="'LOGIN.USER' + (i + 1)| translate" -->

<!-- export interface IEnterprise extends ICollectable {
  Name: string;
  ProfilePhoto: string;
  Address: string;
  Country: string;
  Province: string;
  SocialReason: string;
  Email: string;
  Phone: string;
  Website: string;
  Document: string;
} -->
