@import "src/styles.scss";
::ng-deep {
  .structure-title {
    font-family: "Roboto-Medium";
  }

  #company .form {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-wrap: wrap;
  }

  .input-profile-contact-data-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.4125rem;
  }
}
