@import "src/styles.scss";

::ng-deep{

  #build{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
  }

  #build app-icon svg{
    width: 2.95rem;
    height: 2.95rem;
    margin-left: -1rem;
    fill: $color-icon;
  }

  #build p{
    font-family: Roboto-Bold;
    color: $color-icon;
    font-size: 1.5rem;
  }

}
