
<div class="container">
  <h3 class="title">
    VENCIMIENTOS
  </h3>
  <div>

    <mat-form-field class="tedi-width-all">
      <input #financeDate matInput [matDatepicker]="picker1" placeholder="Fecha"
        [formControl]="getFormControl(finance.due_date)"
        (dateChange)="updateFinanceDate(financeDate.value)">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="tedi-width-all" >
      <mat-select placeholder="Forma de Pago"  [(ngModel)]="finance.pay_method">
        <mat-option value="CARD"> Tarjeta </mat-option>
        <mat-option value="CASH"> Efectivo </mat-option>
        <mat-option value="TRANSFER"> Transferencia </mat-option>
        <mat-option value="DRAFT"> Giro Bancario </mat-option>
        <mat-option value="BANK"> Cheque </mat-option>
        <mat-option value="OTHER"> Otros </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tedi-width-all">
      <input #financeAmount matInput placeholder="Importe" [value]="finance.amount" (change)="updateFinanceAmount(financeAmount.value)">
    </mat-form-field>
    <mat-form-field class="tedi-width-all">
      <input #financeIban matInput placeholder="IBAN" [value]="finance.iban" (change)="updateFinanceIban(financeIban.value)">
    </mat-form-field>

  </div>
  <div mat-dialog-actions >
    <button mat-raised-button (click)="accept()">Aceptar</button>
  </div>
</div>
