<div id="ft">	
        <div class="copiesferalia"><br><b>$!company.getName()</b> -
<b>d.</b><i> $!address.getAddress() $!address.getAddress2() $!add.getAddress3() - $!address.getZip() - $!address.getCity() - $!address.getGeozone().getName()</i> -
<b>t.</b> $!phone - <b>e.</b> <a href="mailto:$!email">$!email</a></br>

<br>Desarrollado con aon Solutions<sup>&reg;</sup>
/InfoWEB, marca registrada de <a target="_blank" href="http://www.esferalia.com/">ESFERALIA NETWORKS S.A.
</a></br>
</div>
</div>

