.banks {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #D2D2D6;
    box-sizing: border-box;
    font-size: 14px;
}

.banksHeader {
    width: 100%;
    height: 10%;
}

.banksHeaderName {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.banksHeaderLine {
    width: 6px;
    height: 100%;
    margin: 0 12px 0 0;
    border-radius: 31px;
    background-color: #4f91ff;
}

.banksHeaderText {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    overflow: hidden;
    width: calc(100%-6px);
    text-overflow: ellipsis;
}

.banksContent {
    padding-top: 15px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.banksContentElement {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.banksContentElementName {
    width: calc(50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: left;
    color: #b4b4bb;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banksContentElementAmount {
    width: calc(50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.15px;
    text-align: right;
    color: #292a31;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dividerParent {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
}

.divider {
    width: 100%;
}

.banksFooter {
    width: calc(100%);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #292a31;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}