<app-card
  [headerHeight]="'10%'"
  [padding]="'.75rem'"
  [width]="'100%'"
  [height]="'16.6rem'"
  [border]="'0.05rem solid #D2D2D6 '"
  [borderRadius]="'.2rem'"
>
  <div header class="banks-header">
    <div class="banks-header-name">
      <div class="banks-header-line"></div>
      <div class="banks-header-text">Tus Bancos</div>
    </div>
  </div>
    <div body class="banks-create">
      <div class="bank-link-create">Crea tu primer banco</div>
      <div class="banks-create-text">
        Conecta AON con tus bancos para tener un control de tus movimientos
      </div>
    </div>

</app-card>


