<div class="banks">
    <div class="banksHeader">
        <div class="banksHeaderName">
            <div class="banksHeaderLine"></div>
            <div class="banksHeaderText">
                Tus Bancos
            </div>
        </div>
    </div>
<div class="banksCreate">
    <div class="bankLinkCreate">Crea tu primer banco</div>
    <div class="banksCreateText">Conecta AON con tus bancos para tener un control de tus movimientos</div>
</div>
    <!-- <div class="banksContent">
        <div *ngFor="let bank of banks" class="banksContentElement">
            <div class="banksContentElementName">
                {{bank.name}}
            </div>
            <div class="banksContentElementAmount">
                {{bank.amount}}
            </div>
        </div>
    </div>
    <div class="dividerParent">
        <mat-divider class="divider"></mat-divider>
    </div>
    <div class="banksFooter">
        {{totalAmount}}
    </div> -->
</div>
