<app-card
  [headerHeight]="'10%'"
  [footerHeight]="'15%'"
  [padding]="'.75rem'"
  [width]="'100%'"
  [height]="'16.6rem'"
  [border]="'0.05rem solid #D2D2D6 '"
  [borderRadius]="'.2rem'"
>
  <div header class="banks-header">
    <div class="banks-header-name">
      <div class="banks-header-line"></div>
      <div class="banks-header-text">
        {{ 'HOME.YOUR-BANKS'|translate }}</div>
    </div>
    <div class="banks-header-icon">
      <app-icon [shape]="'add'" class="blue" [size]="'1.2rem'"></app-icon>
    </div>
  </div>

  <div body class="banks-content">
    <div *ngFor="let bank of banks" class="banks-content-element">
      <div class="banks-content-element-name">
        {{ bank.Name }}
        <!-- {{ bank.Logo }} -->
      </div>
      <div class="banks-content-element-amount">{{ bank.Total }} €</div>
    </div>
    <mat-divider class="divider"></mat-divider>
  </div>

  <div footer class="banks-footer">
    <div class="banks-total-amount">
      {{ totalAmount }} €
    </div>
  </div>
  <div class="bank-link-create" *ngIf="!hasBanks()">{{ 'HOME.CREATE-YOUR-FIRST-BANK'|translate }}</div>
  <div class="banks-create-text" *ngIf="!hasBanks()">
    {{ 'HOME.CONNECT-AON'|translate }}
  </div>
</app-card>
