body {  
	font-size: ${size_tamano_texto_pagina} ;
	line-height:20px; 
	font-family: ${font_fuente_texto_pagina}  ;
	background-color:${bgcolor_color_fondo_pagina}; 
	border: ${border_tamano_borde_pagina} solid  ${color_color_borde_pagina};
	margin:0 auto;
	width:750px;
}
a { 
	color: ${color_color_texto_link};
}
a:hover { 
	color: ${color_color_texto_hover};
}
#container { 
	background-color: ${bgcolor_color_fondo_pagina};
	width:750px;
	margin:0 auto;
}
#header { 
	background: url(images/bg_papel.jpg) repeat-x ;
padding:30px;	
}
#logo { 
	margin-top:30px;
	padding:30px 0 0 40px; 
	height:90px; 
	font-style:italic; 
}
#logo a{ 
	text-decoration:none; 
	font-weight:bold; 
	font-size:20px; 
	font-style:italic; 
	text-transform:uppercase;
}
#menu { 
	background: url(images/bg_rojo.jpg);
	height:30px; 
}
#menu ul { 
	margin:0; 
	padding:0;
	background: url(images/bg_rojo.jpg);
}
#menu ul li{ 

border-right:1px solid #FFFFFF;
display:inline-block;
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding:3px;
text-align:center;

}
#menu a { 
	display:block; 
	/*float:left; */
	/*width:110px;*/ 
	color: ${color_color_texto_menu};
	font-size: 12px ${size_tamano_texto_menu};
	text-transform:uppercase; 
	font-weight:bold; 
	text-decoration:none; 
	padding-top:4px; 
	font-style:italic;
	
}
#menu a:hover{ 
	padding-top:4px; 
	height:22px; 
	color: ${color_color_texto_menu_hover};
}
#content { 
	padding:15px; 
}
#content p { 
	padding:0 20px 10px 0;
}
#content li {
	list-style:none; 
}
#sidebar { 
	float:right; 
	width:200px; 
	padding: 0 20px 0 10px; 
}
h1 { 
	margin:0; 
	padding:0; 
	text-transform:uppercase; 
	font-size:1.8em ${size_tamano_texto_titulo} ; 
	color: ${color_color_texto_titulo} ;
	font-style:italic;
padding-top:35px;
}
#main { 
	float:left; 
	padding:20px 0 0 0;
}
#foot {
	background: url(images/bg_papel.jpg) ;
	height:102px; 
	clear:both;  
	font-style:italic;
	line-height:10px;
}
#left_foot { 
	float:left; 
	padding:17px 0 0 30px; 
	background: no-repeat 30px 35px; 
	
	color: ${color_color_texto_pie};
	font-weight:bold; 
	font-size: ${size_tamano_texto_pie};
}
#left_foot a { 
	color: ${color_color_texto_pie};
}
#left_foot a:hover { 
	text-decoration:none;
}
#right_foot { 
	float:right;  
	padding:40px 30px 0 0; 
	text-transform:uppercase; 
	color: ${color_color_texto_pie};
	font-weight:bold; 
	font-size: ${size_tamano_texto_pie} ;
	text-align:right;
}
#right_foot a { 
	color: ${color_color_texto_pie};
}
#right_foot a:hover { 
	text-decoration:none;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:420px; 
	padding:5px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:#000000;
}
.gallery-navigation a{
	color:#000000;
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	margin-left:60px;
	margin-top:20px;
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
padding-bottom:10px;
	}
.copiesferalia a{
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente_texto_pie} ;
	font-size: 9px;
	color:${color_color_texto_pie};
	text-decoration:underline;
	}

.album {
	margin-left:40px;
	text-align:center;
margin-top:15px;
}
.album a{
	text-decoration:none;
	color:#000000;
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:#000000;
}