<div id="footer">
	<div class="copiesferalia"><br> <b>$!company.getName()</b> - 
<b>d.</b><i>$!address.getAddress() $!address.getAddress2() $!add.getAddress3() 
	 #if ($address.getZip()&& !$address.getZip().toString().trim().equals(""))
		- $!address.getZip()
	 #end

	 #if ($address.getCity()&& !$address.getCity().toString().trim().equals(""))
		 $!address.getCity()
	 #end

	 #if ($address.getGeozone().getName()&& !$address.getGeozone().getName().toString().trim().equals(""))
		( $!address.getGeozone().getName() )
	 #end
</i>
	 #if ($phone && !$phone.toString().trim().equals(""))
		 - <b>t</b>.$!phone
	 #end

	 #if ($fax && !$fax.toString().trim().equals(""))
		 - <b>f.</b>$!fax
	 #end

	 #if ($email&& !$email.toString().trim().equals(""))
		 - <a href="mailto:$!email">$!email</a>
	 #end
</br>
<br>Desarrollado con aon Solutions<sup>&reg;</sup>
/InfoWEB, marca registrada de <a target="_blank" href="http://www.esferalia.com/">ESFERALIA NETWORKS S.A.
</a></br>
</div>
	</div>
		<!-- fin foot -->
