.contentSideNav{
    height: 100%;
    width: 100%;
}

.contentSideNav > .contentSideNavMenu {
    background-color: white;
}

.contentSideNav > .contentSideNavMain {
    background-color: white;
    height: 100%;
}