<div class="menuButtonDashboard">
    <div class="menuButtonDashboardLineDiv">
        <div class="menuButtonDashboardLine" [ngStyle]="{'backgroundColor': color}"></div>
    </div>
    <div class="menuButtonDashboardContent">
        <div class="menuButtonDashboardContentIcon">
            <set-icon [attr.shape]="shape" set-color size="21" [ngStyle]="{'color': color}"></set-icon>
        </div>
        <div class="menuButtonDashboardContentText">
            <div class="menuButtonDashboardContentTextName">
                {{name}}
            </div>
            <div class="menuButtonDashboardContentTextIcon">
                <set-icon class="menuButtonDashboardArrow" shape="arrow_forward_ios" set-color size="21" color="black"></set-icon>
            </div>
        </div>
    </div>
</div>