<div class="createSalesBill">
  <div class="header">
    <div class="left">
      <app-icon
        class="griss button"
        shape="arrow_back"
        (click)="paginaAtras()"
      ></app-icon>
      {{ titulo }}
    </div>
    <div class="right">
      <app-button [class]="'button'" [width]="'5rem'">
        Previsualizar
      </app-button>
      <app-button [class]="'button save'" [width]="'5rem'">
        Guardar
      </app-button>
    </div>
  </div>
  <div class="linea"></div>
  <div class="padding" body>
    <div class="InvoiceData">
      <div class="left">
        <p>Datos factura</p>
      </div>
      <div class="right">
        <div class="buttons">
          <app-button
            *ngFor="let button of buttonsFacturaVenta"
            [class]="'icon-border'"
          >
            <app-icon [shape]="button.shape"></app-icon>
          </app-button>
        </div>
      </div>
    </div>
    <div class="linea2"></div>
    <div class="form">
      <app-input
        [appearance]="'outline'"
        [label]="'Serie'"
        [type]="'select'"
        [options]="optionsSerie"
        [width]="'12rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Número'"
        [type]="'text'"
        [width]="'8rem'"
      ></app-input>
      <label for="date">
        <p>Fecha</p>
        <app-input
          [appearance]="'outline'"
          [type]="'date'"
          [width]="'8rem'"
        ></app-input>
      </label>
      <app-input
        [appearance]="'outline'"
        [label]="'Total'"
        [type]="'text'"
        [width]="'8rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'NIF'"
        [type]="'text'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Razón social/Nombre'"
        [type]="'text'"
        [width]="'15rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Categoría'"
        [type]="'select'"
        [options]="optionsCategory"
        [width]="'15rem'"
      ></app-input>
    </div>
    <div class="concept">
      <div class="left">
        <p>Conceptos</p>
      </div>
      <div class="linea2"></div>
      <div class="form">
        <app-input
          [appearance]="'outline'"
          [label]="'Procuto'"
          [type]="'text'"
          [width]="'13rem'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'Cantidad'"
          [type]="'text'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'Precio'"
          [type]="'text'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'Descuento'"
          [type]="'text'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'Importe'"
          [type]="'text'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'IVA'"
          [type]="'select'"
          [options]="optionsIVA"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'IRPF'"
          [type]="'select'"
          [options]="optionsIRPF"
        ></app-input>
      </div>
      <div class="button">
        <app-icon shape="add" [class]="'blue'"></app-icon>
        Añadir
      </div>
    </div>
    <div class="left">
      <p>Detalle impuestos</p>
    </div>
    <div class="linea2"></div>
    <div class="form">
      <app-input
        [appearance]="'outline'"
        [label]="'Tipo de transacción'"
        [type]="'select'"
        [options]="optionsTransaction"
        [width]="'20rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Actividad'"
        [type]="'select'"
        [options]="optionsActivity"
        [width]="'20rem'"
      ></app-input>
      <app-input
        [type]="'checkbox'"
        [label]="'Criterio de caja'"
      ></app-input>
      <app-input
        [type]="'checkbox'"
        [label]="'R.E.'"
      ></app-input>
      <app-input
        [type]="'checkbox'"
        [label]="'Reg. agri. gan. y pesca'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'IVA'"
        [type]="'select'"
        [options]="optionsActivity"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Base'"
        [type]="'text'"
        [width]="'8rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Cuota'"
        [type]="'text'"
        [width]="'8rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'IRPF'"
        [type]="'select'"
        [options]="optionsActivity"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Base'"
        [type]="'text'"
        [width]="'8rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Cuota'"
        [type]="'text'"
        [width]="'8rem'"
      ></app-input>
      <app-input
        [appearance]="'outline'"
        [label]="'Tipo IRPF'"
        [type]="'select'"
        [options]="optionsActivity"
      ></app-input>
    </div>
    <div class="expiration">
      <div class="left">
        <p>Vencimientos</p>
      </div>
      <div class="linea2"></div>
      <div class="form">
        <label for="date">
          <p>Fecha</p>
          <app-input
            [appearance]="'outline'"
            [type]="'date'"
            [width]="'8rem'"
          ></app-input>
        </label>
        <app-input
          [appearance]="'outline'"
          [label]="'Forma de pago'"
          [type]="'select'"
          [options]="optionsPay"
          [width]="'20rem'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'Cuenta bancaria'"
          [type]="'text'"
          [width]="'20rem'"
        ></app-input>
        <app-input
          [appearance]="'outline'"
          [label]="'Importe'"
          [type]="'text'"
          [width]="'8rem'"
        ></app-input>
      </div>
      <div class="button">
        <app-icon shape="add" [class]="'blue'"></app-icon>
        Añadir
      </div>
    </div>
  </div>
</div>
