.tedi-sidenav {
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 300px;
  background: #fff;
  border-right: 1px solid #ddd;
}

.tedi-sidenav-min {
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100px;
  background: #fff;
  border-right: 1px solid #ddd;
}

.active-list-item {
  color: #3F51B5 !important; /* Note: You could also use a custom theme */
}

.tedi-selected-node {
  font-weight: bold;
  background-color: #ddd;
}

.tedi-sidenav-content {
  background: #fff;
}

.tedi-sidenav-span {
    padding-top: 5px;
    padding-left: 15px;
}

.full-width {
  width: 100%;
}

.tedi-tree-item {
  cursor: pointer;
  min-height: 45px;
  overflow: hidden;
}

.tedi-tree-item2 {
  cursor: pointer;
  min-height: 45px;
  overflow: hidden;

}

.tedi-nav-list {
  padding-top:0px !important;
  width:100%;
}

.tedi-card {
  margin:5px;
}

.tedi-margin-left0 {
  margin-left: 0px;
}

.tedi-margin-left20 {
  margin-left: 20px;
}

.tedi-margin-left40 {
  margin-left: 40px;
}

.tedi-margin-right0 {
  margin-right: 0px;
}

.tedi-margin-right20 {
  margin-right: 20px-;
}

.tedi-invoice-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2 !important;
}
