<button *ngIf="isMobile() && sheet && !hasFile()" mat-fab color="white" class="tedi-invoice-button" [disabled]="service.loading" title="Adjuntar Fichero" (click)="fileInvoiceInput.click()" >
  <mat-icon> attach_file </mat-icon>
  <input #fileInvoiceInput style="display:none;" type="file" name="file" id="file"(change)="preview()" />
</button>
<button *ngIf="isMobile() && !sheet" mat-fab color="white" class="tedi-invoice-button" (click)="invoiceNew()" >
  <mat-icon> add </mat-icon>
</button>
<div>
  <app-invoice-toolbar></app-invoice-toolbar>
</div>
<div>
  <mat-sidenav-container [autosize]="!isMobile()"  style="min-height:calc(100vh - 80px);">
    <mat-sidenav #sidenav mode="side" [opened]="true">
      <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl">
        <mat-tree-node tedi-ripple  *matTreeNodeDef="let node; when: hasChild" class="tedi-tree-item" (click)="selection(node)">
          <button *ngIf="isMenuExpanded()" disableRipple mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-icon *ngIf="node.icon && (isMenuExpanded() || !isMobile())" [title]="node.item" [ngStyle]="{'margin-left': getMarginA()}"  mat-list-icon>{{node.icon}}</mat-icon>
          <span *ngIf="isMenuExpanded()" [ngStyle]="{'margin-right': getMarginC()}" class="tedi-sidenav-span"> {{node.item}} </span>
        </mat-tree-node>

        <mat-tree-node tedi-ripple *matTreeNodeDef="let node" class="tedi-tree-item2"   (click)="selection(node)">
          <mat-icon *ngIf="node.icon && (isMenuExpanded() || !isMobile())" [title]="node.item" [ngStyle]="{'color':getColor(node), 'margin-left': getMarginB(node),'margin-right':getMarginA()}" mat-list-icon>{{node.icon}}</mat-icon>
          <span *ngIf="isMenuExpanded()" [ngStyle]="{'margin-right': getMarginC()}" class="tedi-sidenav-span"> {{node.item}} </span>
        </mat-tree-node>

      </mat-tree>

      <mat-divider> </mat-divider>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node tedi-ripple *matTreeNodeDef="let node" class="tedi-tree-item2"  (click)="selection(node)">
          <mat-icon *ngIf="node.icon && (isMenuExpanded() || !isMobile())"  [ngStyle]="{'margin-left': getMarginB(node),'margin-right':getMarginA()}" [title]="node.item" mat-list-icon>{{node.icon}}</mat-icon>
          <span *ngIf="isMenuExpanded()" class="tedi-sidenav-span" style="margin-right:10px;"> {{node.item}} </span>
        </mat-tree-node>

        <!-- <mat-tree-node tedi-ripple  *matTreeNodeDef="let node; when: hasChild" class="tedi-tree-item" (click)="selection(node)">
          <button *ngIf="isMenuExpanded()" disableRipple mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-icon *ngIf="node.icon && (isMenuExpanded() || !isMobile())" [title]="node.item" [ngStyle]="{'margin-left': getMarginA()}" mat-list-icon>{{node.icon}}</mat-icon>
          <span *ngIf="isMenuExpanded()" [ngStyle]="{'margin-right': getMarginC()}" class="tedi-sidenav-span"> {{node.item}} </span>
        </mat-tree-node> -->
      </mat-tree>
    </mat-sidenav >

    <mat-sidenav-content class="tedi-sidenav-content">
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
