<div [ngClass]="mainTabContent">
    <!-- Cabecera con input de buscar y paginación -->
    <div class="filterAndPagination">
        <mat-form-field mat-form-field-appearance-raised
                        set-search
                        disabled="false"
                        [ngStyle]="{'width': searchWidth}">
        <mat-label class="searchInput">Buscar...</mat-label>
        <set-icon shape="search" matPrefix style="color:#19191d" size="24"></set-icon>
        <input matInput class="searchInput"/>
        </mat-form-field>
        <div class="paginationInbox">
            <div style="display: flex; align-items: center; height: 100%;">
                {{initialElement}}-{{finalElement}} de {{totalElement}}
            </div>
            <set-icon shape="chevron_left"  style="color:#19191d" (click)="prevPag()" style="width: 1.5rem; height: 1.5rem; cursor:pointer;"></set-icon>
            <set-icon shape="chevron_right"  style="color:#19191d" (click)="nextPag()" style="width: 1.5rem; height: 1.5rem; cursor:pointer;"></set-icon>
        </div>
    </div>
    <!-- Filtro de fecha para filtrar la bandeja -->
    <div [ngClass]="hiddenDetail!=true ? 'bandejaFilters' : 'bandejaFiltersOpen'">
        <div class="tabFilterText">
            {{selectedFilter}}
        </div>
        <div class="tabHeaderFilterIcon" [matMenuTriggerFor]="menu">
            <set-icon shape="more_vert" set-color [ngStyle]="{'color': 'black'}"></set-icon>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
            <a mat-menu-item *ngFor="let item of itemsFilter">
                <div (click)="selectedFilter=item" class="hoverMenu">
                    &nbsp;&nbsp;
                    {{item}}
                </div>
            </a>
        </mat-menu>
    </div>
    <!-- Contenido del tab -->
    <mat-tab-group  class="tabContent"
                    color="warning"
                    mat-flat-tab-group
                    class="matTab">
        <!-- Creación de las cabeceras para los tabs -->
        <mat-tab *ngFor="let tab of tabs; index as i">
            <ng-template mat-tab-label >
                <div (click)="this.selectedTab = this.tab.type;this.callGetMessages();">
                    <ng-container *ngIf="tab.icon!=''">
                        <div class="tabHeader">
                            <set-icon [attr.shape]="tab.icon" style="color:#19191d"></set-icon>
                            <span class="tabHeaderText">&nbsp;&nbsp;{{ tab.header }}&nbsp;&nbsp;</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tab.icon==''">
                        <span class="tabHeaderText">{{ tab.header }}</span>
                    </ng-container>
                </div>
            </ng-template>
            <!-- Contenido de cada tab -->
            <div class="contentTab">
                <!-- Bucle para pintar todos los mensajes dentro del tab -->
                <app-message-inbox *ngFor="let item of items" [selectedMenu]="selectedMenu" [message]="item" [detailView]="hiddenDetail" 
                [tiles]="calcTiles(item)" [allTiles]="calcAllTiles(item)" (click)="showDetail(item)"></app-message-inbox>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<!-- Llamada al componente detalle -->
<div [ngClass]="detail" *ngIf='hiddenDetail==true' class="detailBox">
    <app-detail-notification-task *ngIf="sendItem.type == 2 || sendItem.type == 3" [message]="sendItem" (closed)="closeDetail()" style="width: 100%;height: 100%;"></app-detail-notification-task>
    <app-detail-consult *ngIf="sendItem.type == 1" [message]="sendItem" (closed)="closeDetail()" style="width: 100%;height: 100%;"></app-detail-consult>
</div>
