.tabContent {
    width: 100% !important;
}

.tabHeaderText {
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.15px;
    color: #19191d;
}

::ng-deep mat-tab-header {
    padding-left: 1rem;
    padding-right: 2rem;
    border-bottom: solid 1px lightgray;
    box-sizing: content-box;
}

.tabHeader {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.searchButton {
    margin: 2rem;
    width: 40%;
}

.searchInput {
    font-size: 1rem !important;
}

.bandejaFilters {
    position: absolute;
    right: 1rem;
    z-index: 999;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: calc(auto);
    height: calc(2.25rem);
}

.tabFilterText {
    font-size: .875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: right;
    color: #b4b4bb;
}

.tabHeaderFilterIcon {
    width: calc(1.5rem);
    height: calc(1.5rem);
}

.mainTabContentClose {
    width: calc(100%);
}

.detailClose {
    width: calc(0%);
}

.mainTabContentOpen {
    width: calc(55%);
}

.detailOpen {
    width: calc(45%);
}
