
.upload1 {
  margin-bottom: 32px;
  margin-top: 26.7px;
  border: solid 1px red;
}

.upload2 {
  height: 100%;
  border-radius: 4px;
  border-style: dashed;
  border-color: gray;
  border-width: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.dashboard1 {
  border: solid 1px blue;
  margin-bottom: 22px;
}

.dashboard2 {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  height: 100%;
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttons1 {
  border: solid 1px purple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.buttons2 {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / span 22;
}

.button-style {
  flex: 1 1 auto;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 100%;
  word-wrap: break-word;
}

.button-style:last-child {
  margin-right: 0;
}

.summary1 {
  border: solid 1px orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.summary2 {
  display: flex;
  border: 1px solid red;
}

.summary-view {
  flex-grow: 1;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.summary-view:last-child {
  margin-right: 0;
}

.line {
  border: none;
  border-top: 1px solid gray; /* Agregado: Línea horizontal continua de color gris */
}

.email1 {

  margin-top: 32px;
  border: 1px solid green;
  margin-bottom: 32px;
}

.email2{
  display: flex;
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

//  .email3{

// }

.panel {
  display: flex;
  border: 1px solid black;
  height: 100%;
  margin-left: 32px;
  width: 100%;

}



.gestion1{
  border: solid 1px purple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.gestion2{
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / span 22;
}

.gestion-style {
  flex: 1;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 100%;
  word-wrap: break-word;
}

.button-style:last-child {
  margin-right: 0;
}


