<app-content>
    <app-button
        [width]="'14rem'" 
        [height]="'4rem'" 
        [border]="'.0625rem solid #7985cb'" 
        [borderRadius]="'0.4rem'"
        [backgroundColor]="'#7985cb'"
        [color]="'white'"
        [hoverBackgroundColor]="'#97a0d6'"
        [hoverBorderColor]="'#97a0d6'"
        [padding]="'1rem'"
        [align]="'left'"
        [fontSize]="'1rem'"
        >
        <app-icon [shape]="'send'" [color]="'white'" size="1.5rem"></app-icon>
        &nbsp;&nbsp;
        ENVIAR
    </app-button>
    <app-button>//contenido</app-button>
</app-content>