<app-content>
  <div class="custom-grid">
    <div class="upload">Subir archivos</div>
    <div class="dashboard">Dashboard</div>
    <div class="buttons">
      <div class="button-style">MIS ÚLTIMAS FACTURAS</div>
      <div class="button-style">CREAR FACTURA</div>
      <div class="button-style">DAR DE ALTA EMPLEADO</div>
      <div class="button-style">CREAR CONSULTA</div>
      <div class="button-style">CONTRATAR SERVICIOS</div>
      <div class="button-style">MARCAJE</div>
    </div>
    <div class="summary">
      <div class="summary-view">Ventas/Gastos</div>
      <div class="summary-view">Cobros/Pagos</div>
      <div class="summary-view">Impuestos</div>
      <div class="summary-view">Tus bancos</div>
    </div>
    <hr class="line" style="width: calc(100% - 32px);">
    <div class="email-table">Bandeja</div>
    <div class="panel">Bandeja</div>
    <div></div>
  </div>
</app-content>


