<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=ISO-8859-1"/>
<style type="text/css">
body {font-family: Arial;}
table { width: 95%; border-collapse:collapse; margin: 20px 20px 0px 20px; page-break-after: left;}
th {text-align: center; background-color: #DDDDDD;border: solid black 1px;}
td {border: solid black 1px;}
ul {margin-bottom: 5px;}
a {color:black;}
.example {
	width: 95%;
	border: solid black 1px;	
	margin: 10px 0px;
	background-color: #EEEEEE;
	padding: 15px;
}
</style>
</head>
<body>
<h1>Carga de datos desde fichero</h1>

<h2>Formato del fichero de carga</h2>
En fichero se dividirá en líneas. Existen tres tipos de líneas:
<ol>
<li>Metainformación del contenido del fichero</li>
<li>Definición de las líneas de datos</li>
<li>Líneas de datos</li>
</ol>
Las líneas deberán estar identificados por un código que determina el tipo de registro y la acción a realizar sobre los datos.
<h3>Metainformación del contenido del fichero</h3>
Son líneas opcionales.
Si se indican, deben ser las primeras líneas del archivo. Definen características del fichero útiles para su lectura, 
como el separador de campos o la codificación del fichero.
<table>
	<tr>
		<td style="width: 15%">
			Tipo de registro
		</td>
		<td style="width: 15%">
			0
		</td>
		<td style="width: auto;">
			Indica línea de meta información
		</td>
	</tr>
	<tr>
		<td rowspan="3">
			Nombre de la variable
		</td>
		<td>
			<code>Separador</code>
		</td>
		<td>
			Uno o más caracteres utilizados para separar los valores en línea. Opcional por defecto pipe ( | );
		</td>
	<tr>
	</tr>
		<td>
			<code>Codificacion</code>
		</td>
		<td>
			Codificacion. Codificación del fichero de texto, Debe ser un valor de codificación válido, UTF-8, ISO-8859-1, etc .. Opcional [ISO-8859-1]
		</td>
	</tr>
</table>
<div class="example">
EJEMPLO 1 El separador es #, la codificación del archivo UTF-8
<pre>0;Separador=#</pre>
<pre>0;Codificacion=UTF8</pre>
EJEMPLO 2 El separador es %#%, la codificación del archivo UTF-8
<pre>0;Separador=%#%</pre>
<pre>0;Codificacion=UTF8</pre>
EJEMPLO 3. El contenido del fichero se leerá utilizando la codificación por defecto, ISO-8859-1.
<pre>0;Separador=#</pre>
</div>

<h3>Definición de las líneas de datos</h3>
<h3>Líneas de datos</h3>
Si se indican, deben estar presentes antes de las líneas de datos. Para la identificación de entidades y columnas, consultar las entidades soportadas.
Si no se indican, se asume que en la líneas de datos se especifican todas las columnas en el orden definido en este
documento.
<div class="example">
EJEMPLO 4 El separador es #, la codificación del archivo UTF-8, la líneas de datos contienen
facturas, con las columnas serie,numero,fechaFactura, etc ....
<pre>0;Separador=#</pre>
<pre>0;Codificacion=UTF8</pre>
<pre>1;FRA#serie#numero#fechaFactura,...</pre>
</div>
Entidades soportadas:
<ul>
#foreach( $factory in $factories )
<li><a href="#$factory.getClass().getSimpleName()">
	<code>$factory.getKey()</code> - $bundle.getString( $factory.getClass().getSimpleName())
</a></li>
#end
</ul>
#foreach( $factory in $factories )
#set ($prefix = $factory.getClass().getSimpleName())
<h4>
		<a name="$prefix">
			$bundle.getString( $prefix )
		</a>
</h4>
<table cellspacing="0" cellpadding="2">
	<tr>
		<th style="width: 20%;">Nombre</th>
		<th style="width: 10%;">Tipo</th>
		<th style="width: 10%;">Longitud</th>
		<th style="width: 10%;">Requerido</th>
		<th style="width: 50%;">Descripción</th>
    </tr>
	#foreach ($column in ${factory.getSupportedColumns()})
	<tr>
    	<td><code>${column.getName()}</code></td>
    	<td>
    		#if( ${column.getType()} == 0)
    			Numérico
    		#end
    		#if( ${column.getType()} == 1)
    			Decimal
    		#end
    		#if( ${column.getType()} == 2)
    			Carácter
    		#end
    		#if( ${column.getType()} == 3)
    			Fecha 
    		#end
    	</td>
    	<td style="text-align: center;">${column.getLength()}</td>
    	<td style="text-align: center;">
    		#if( ${column.isRequired()})
    			X
    		#end
    		&#160;
    	</td>
    	<td>
    		#set ( $descriptionKey = ${prefix}+"_"+${column.getName()} ) 
			$bundle.getString( $descriptionKey )
    		
    		#if( ${column.getType()} == 3)
    			Formato dd/mm/aaaa
    		#end
    		
    		#if( ${column.getEnumValues()} )
    			Valores Posibles:
	    		<ul>
	    		#foreach ($enumValue  in ${column.getEnumValues()})
	    			#set ( $enumKey = ${column.getName()} + "_" +  ${enumValue} )
	    			<li>$enumValue - $bundle.getString( $enumKey )</li>
	    		#end
	    		</ul>
    		#end
    	</td>
    </tr>
    #end
</table>
#end
</body>
</html>