<html>
<head>
<style type="text/css">
body {font-family: Arial;}
table { width: 95%; border-collapse:collapse; margin: 20px 20px 0px 20px; page-break-after: left;}
th {text-align: center; background-color: #DDDDDD;border: solid black 1px;}
td {border: solid black 1px;}
ul {margin-bottom: 5px;}
a {color:black;}
.example {
	width: 95%;
	border: solid black 1px;	
	margin: 10px 0px;
	background-color: #EEEEEE;
	padding: 15px;
}
</style>
</head>
<body>
<h1>Carga de datos desde fichero</h1>

<h2>Formato del fichero de carga</h2>
En fichero se dividir&aacute; en l&iacute;neas. Existen tres tipos de l&iacute;neas:
<ol>
<li>Metainformaci&oacute;n del contenido del fichero</li>
<li>Definici&oacute;n de las l&iacute;neas de datos</li>
<li>L&iacute;neas de datos</li>
</ol>
Las l&iacute;neas deber&aacute;n estar identificados por un c&oacute;digo que determina el tipo de registro y la acci&oacute;n a realizar sobre los datos.
<h3>Metainformaci&oacute;n del contenido del fichero</h3>
Son l&iacute;neas opcionales.
Si se indican, deben ser las primeras l&iacute;neas del archivo. Definen caracter&iacute;sticas del fichero &uacute;tiles para su lectura, 
como el separador de campos o la codificaci&oacute;n del fichero.
<table>
	<tr>
		<td style="width: 15%">
			Tipo de registro
		</td>
		<td style="width: 15%">
			0
		</td>
		<td style="width: auto;">
			Indica l&iacute;nea de meta informaci&oacute;n
		</td>
	</tr>
	<tr>
		<td rowspan="3">
			Nombre de la variable
		</td>
		<td>
			<code>Separador</code>
		</td>
		<td>
			Uno o m&aacute;s caracteres utilizados para separar los valores en l&iacute;nea. Opcional por defecto pipe ( | );
		</td>
	<tr>
	</tr>
		<td>
			<code>Codificacion</code>
		</td>
		<td>
			Codificacion. Codificaci&oacute;n del fichero de texto, Debe ser un valor de codificaci&oacute;n v&aacute;lido, UTF-8, ISO-8859-1, etc .. Opcional [ISO-8859-1]
		</td>
	</tr>
</table>
<div class="example">
EJEMPLO 1 El separador es #, la codificaci&oacute;n del archivo UTF-8
<pre>0;Separador=#</pre>
<pre>0;Codificacion=UTF8</pre>
EJEMPLO 2 El separador es %#%, la codificaci&oacute;n del archivo UTF-8
<pre>0;Separador=%#%</pre>
<pre>0;Codificacion=UTF8</pre>
EJEMPLO 3. El contenido del fichero se leer&aacute; utilizando la codificaci&oacute;n por defecto, ISO-8859-1.
<pre>0;Separador=#</pre>
</div>

<h3>Definici&oacute;n de las l&iacute;neas de datos</h3>
<h3>L&iacute;neas de datos</h3>
Si se indican, deben estar presentes antes de las l&iacute;neas de datos. Para la identificaci&oacute;n de entidades y columnas, consultar las entidades soportadas.
Si no se indican, se asume que en la l&iacute;neas de datos se especifican todas las columnas en el orden definido en este
documento.
<div class="example">
EJEMPLO 4 El separador es #, la codificaci&oacute;n del archivo UTF-8, la l&iacute;neas de datos contienen
facturas, con las columnas serie,numero,fechaFactura, etc ....
<pre>0;Separador=#</pre>
<pre>0;Codificacion=UTF8</pre>
<pre>1;FRA#serie#numero#fechaFactura,...</pre>
</div>
Entidades soportadas:
<ul>
#foreach( $factory in $factories )
<li><a href="#$factory.getClass().getSimpleName()">
	<code>$factory.getKey()</code> - $bundle.getString( $factory.getClass().getSimpleName())
</a></li>
#end
</ul>
#foreach( $factory in $factories )
#set ($prefix = $factory.getClass().getSimpleName())
<h4>
		<a name="$prefix">
			$bundle.getString( $prefix )
		</a>
</h4>
<table cellspacing="0" cellpadding="2">
	<tr>
		<th style="width: 20%;">Nombre</th>
		<th style="width: 10%;">Tipo</th>
		<th style="width: 10%;">Longitud</th>
		<th style="width: 10%;">Requerido</th>
		<th style="width: 50%;">Descripci&oacute;n</th>
    </tr>
	#foreach ($column in ${factory.getSupportedColumns()})
	<tr>
    	<td><code>${column.getName()}</code></td>
    	<td>
    		#if( ${column.getType()} == 0)
    			Num&eacute;rico
    		#end
    		#if( ${column.getType()} == 1)
    			Decimal
    		#end
    		#if( ${column.getType()} == 2)
    			Car&aacute;cter
    		#end
    		#if( ${column.getType()} == 3)
    			Fecha 
    		#end
    	</td>
    	<td style="text-align: center;">${column.getLength()}</td>
    	<td style="text-align: center;">
    		#if( ${column.isRequired()})
    			X
    		#end
    		&#160;
    	</td>
    	<td>
    		#set ( $descriptionKey = ${prefix}+"_"+${column.getName()} ) 
			$bundle.getString( $descriptionKey )
    		
    		#if( ${column.getType()} == 3)
    			Formato dd/mm/aaaa
    		#end
    		
    		#if( ${column.getEnumValues()} )
    			Valores Posibles:
	    		<ul>
	    		#foreach ($enumValue  in ${column.getEnumValues()})
	    			#set ( $enumKey = ${column.getName()} + "_" +  ${enumValue} )
	    			<li>$enumValue - $bundle.getString( $enumKey )</li>
	    		#end
	    		</ul>
    		#end
    	</td>
    </tr>
    #end
</table>
#end
</body>
</html>