<div class="register-employee">
  <div class="header padding">
    <div class="arrow">
      <app-icon
        class="griss button"
        shape="arrow_back"
        (click)="goBack()"
      ></app-icon>
      {{ "EMPLOYEE_PANEL.REGISTER_EMPLOYEE" | translate }}
    </div>
    <app-button class="green button" [align]="'left'">
      <app-icon shape="person_add"></app-icon>
      {{ "EMPLOYEE_PANEL.TO_REGISTER" | translate }}
    </app-button>
  </div>
  <hr />
</div>

<div class="form">
  <div class="structure-form">
    <div class="title">
      {{ "EMPLOYEE_PANEL.EMPLOYEE_DATA" | translate }}
    </div>
    <hr />
    <div class="form">
      <app-input
        [value]=""
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.ID_NUMBER' | translate"
        [placeholder]="'EMPLOYEE_PANEL.ID_NUMBER' | translate"
        [required]="'required'"
      >
      </app-input>

      <app-input
      [value]=""
      [type]="'text'"
      [label]="'EMPLOYEE_PANEL.SURNAME_1' | translate"
      [placeholder]="'EMPLOYEE_PANEL.SURNAME_1' | translate"
    >
    </app-input>

    <app-input
      [value]=""
      [type]="'text'"
      [label]="'EMPLOYEE_PANEL.SURNAME_2' | translate"
      [placeholder]="'EMPLOYEE_PANEL.SURNAME_2' | translate"
      [value]=""
    >
    </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'PROFILE.NAME' | translate"
        [placeholder]="'PROFILE.NAME' | translate"
      >
      </app-input>
      <app-input
        [type]="'text'"
        [label]="'EMPLOYEE_PANEL.SSN' | translate"
        [placeholder]="'EMPLOYEE_PANEL.SSN' | translate"
      >
      </app-input>
    </div>
    <div class="title">
      {{ "PROFILE.COMPANY_INFORMATION" | translate }}
    </div>
    <hr />
    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.WORKCENTER' | translate"
        [placeholder]="'EMPLOYEE_PANEL.WORKCENTER' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.CONTRIBUTION_ACCOUNT' | translate"
        [placeholder]="'EMPLOYEE_PANEL.CONTRIBUTION_ACCOUNT' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>
  </div>
  <div class="structure-form">
    <div class="title">
      {{ "EMPLOYEE_PANEL.CONTRACT_DETAILS" | translate }}
    </div>
    <hr />
    <div class="form">
      <app-input
        [label]="'PROFILE.REGISTRATION_DATE' | translate"
        [type]="'date'"
        [required]="'required'"
      ></app-input>

      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.TYPE_OF_CONTRACT' | translate"
        [placeholder]="'EMPLOYEE_PANEL.TYPE_OF_CONTRACT' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>
    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.CONTRIBUTION_GROUP' | translate"
        [placeholder]="'EMPLOYEE_PANEL.CONTRIBUTION_GROUP' | translate"
        [options]=""
        [value]=""
      >
      </app-input>

      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.OCCUPATION' | translate"
        [placeholder]="'EMPLOYEE_PANEL.OCCUPATION' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.NCO' | translate"
        [placeholder]="'EMPLOYEE_PANEL.NCO' | translate"
        [options]=""
        [value]=""
        [required]="'required'"
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.EMPLOYMENT_RELATIONSHIP' | translate"
        [placeholder]="'EMPLOYEE_PANEL.EMPLOYMENT_RELATIONSHIP' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'EMPLOYEE_PANEL.WORKFORCE' | translate"
        [placeholder]="'EMPLOYEE_PANEL.WORKFORCE' | translate"
        [options]=""
        [value]=""
      >
      </app-input>
    </div>
  </div>
</div>
