<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:aon="http://www.code.es/aon-rich-components"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<aon:panel headerClass="aon-panel-title">
		<f:facet name="header">
			<aon:commandLink id="favorite"
				value="#{auditBundle.audit_favorite_module}"
				action="actionFavorite" immediate="true"
				actionListener="#{actionFavorite.onInit}"
				styleClass="aon-top-menu-item" />				
		</f:facet>
		<aon:div styleClass="aon-direct-access-list">
			#foreach($option in ${options})
			<aon:div styleClass="aon-direct-access-list-element">
				${option.getXml('favorite_')}
			</aon:div>
			#end
		</aon:div>
	</aon:panel>

</ui:composition>
