$border-color: #ebebeb;
$icon-color: #A2A8B6;
$hover-icon-color: #878787;
$default-color: #4a4a4a;

$white-color: #fff;
$login-bg-color: #fbfbfb;
$corporativo-color: #12ccd1;
$btn-login-color: #002469;

// ICON COLORS

$portal-color: #b50061;
$despacho-color: #002469;
$empresa-color: #1845ba;
$laboral-color: #1f8cff;
$fiscal-color: #1fbce5;
$contable-color: #1fd8b9;
$contrata-color: #6c75ab;