html{
	overflow-x:hidden;
}
body {
	background: url(images/${img_imagen_de_fondo}) fixed no-repeat ${bgcolor_color_de_fondo};
	line-height: 100%;
	margin: 0 auto;
	color: ${color_color_de_texto};
	width:750px;
}
img{
	border:0px;
}
a:hover {
	color:#000;
	text-decoration: underline;
}
a {
	color: ${color_color_texto_contenido};
	text-decoration: none;
}
#menu {
	float:left;
	width:110px;
	height:200px;
	font-size: ${size_tamano_fuente_menu};
	line-height: 20px;
	margin-top:20px;
	}
#menu a{
	text-decoration:none;
	border-bottom: ${color_color_borde} ${border_bordes_menu} solid;
}
#content {

	font-family: ${font_fuente};
	font-size: ${size_tamano_de_fuente};
	color: ${color_color_texto_contenido};
	
	margin-left:50px;
padding:15px;
width:600px;
}
#content a{
	text-decoration:underline;
}
#header{
	margin:20px;
	padding:2px;
	font-size: ${size_tamano_fuente_cabecera};
	border-bottom: ${color_color_borde} ${border_bordes_menu} solid;
	line-height:60%;
}
#header em{
	font-size: ${size_tamano_fuente_cabecera};
	margin-left:1px;
}
#header a{
	color: ${color_color_de_texto};
}
#header a:hover{
	text-decoration:none;
}
#content h2{
	font-size: ${size_tamano_de_fuente};
	margin-top:20px;
}
#content h4{
	font-size:15px;
}
#bottom{
	line-height:180%;
}
#bottom a{
	text-decoration:underline;
}
#imgs{
	border:1px solid #505050;
	float:left;
}
#archives{
	margin-top:20px;
	line-height:120%;
	font-size:15px;
}
#foot{
	margin-top:20px;
	text-align:center;
	font-size: ${size_tamano_fuente_pie};
	border-top:${color_color_borde} ${border_bordes_menu} solid;
}
#item{
	float:right;
	border:${color_color_borde} ${border_bordes_menu} solid;
	padding:2px;
}
input{
	border:1px solid #505050;
	background-color:transparent;
}
.clsText
{
	border:1px solid #505050;
	background-color:transparent;
}
.clsButton,.butt
{
	border:0px;
	background-color:transparent;
	cursor:hand;
	cursor:pointer;
}
.pho{
	border:0;
	padding:0;
}
.content-img {
float:left;}

.box{
	text-align:center; 
	padding-top:10px;
	}
.texto{
	text-align:right;
	}
.infoHelp{
	font-size:9px;
	padding:5px;
	margin-top:5px;
	background-color:#dddddd;
	widht:645px;
	text-align:justify;
	}
.gallery-navigation{
	text-align:center;}
.album-block{ 
	text-align:center;}
.formulario{
	line-height:20px;
margin-left:215px;
margin-top:27px;
	}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
.album {
	height:400px;
	text-align:center;
}
.objeto {
	float:left;
	padding:10px;
}