<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style>
.aon-text-bold{
	font-weight:bold;
}
</style>
	<table cellpading="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td rowspan="4">
				<div class="aon-company-logo">
					<img src="desktop.logo" class="aon-graphicImage" /> 
				</div>		
			</td>
			<td>
				<div class="aon-text-bold">${addressStr}</div>
			</td>
			<td style="text-align: right;" rowspan="4">
				<div>FAX</div>
				<div>${nowDate}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="aon-text-bold">t ${phone}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="aon-text-bold">f ${fax}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="aon-text-bold">${email}&nbsp${web}</div>
			</td>
		</tr>
	</table>
<hr>
<div style="font-size:10px; font-family:arial,verdana,sans;margin:10 0 30 0px;">
	<table cellpading="0" cellspacing="0" border="0">
		<tr>
			<td>
				<div class="aon-text-bold">${toLiteral}:</div>
			</td>
			<td>
				<div>${fax_to}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="aon-text-bold">${fromLiteral}:</div>
			</td>
			<td>
				<div>${fax_from}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="aon-text-bold">${subjectLiteral}:</div>
			</td>
			<td>
				<div>${fax_subject}</div>
			</td>
		</tr>
	</table>
</div>
${fax_content}
<script>
	window.print();
</script>
