.shortcutDashboard {
    height: 100%;
    width: 100%;
    border: solid;
    border-radius: .2rem;
    border-width: .05rem;
    border-color: #D2D2D6;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: .35rem;
    font-size: .7rem;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.shortcutDashboard:hover {
    cursor: pointer;
    border-color: black;
}

.shortcutDashboardIcon {
    background-color: #F0F0F1;
    border: solid;
    border-radius: .2rem;
    border-width: .05rem;
    border-color: #F0F0F1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin-right: .55rem;
}

:host{
  width: 100%;
  height: 100%;
}
