<div id="content">	
<h1 >$!title</h1>



<table>
  <tr>
    <td>#foreach ($image in $images)
		<img src='../images/$!image.getName()'/>
	<!--$!image.getDescription();-->
    	#end</td>
    <td>$!text</td>
  </tr>
</table>

</div>