<mat-sidenav-container autosize >
  <mat-sidenav position="end" class="sheet-sidenav" [opened]="isFileExpanded() && !isMobile()" #sidenav mode="side">
    <div *ngIf="hasFile() && hasImgFile()">
      <img mat-card-image class="img-size" [src]="invoiceService.invoiceFile.url">
    </div>
    <div *ngIf="!isMobile() && hasFile() && hasPdfFile()">
      <ngx-extended-pdf-viewer [src]="invoiceService.invoiceFile.url" backgroundColor="#ffffff" [height]="'89vh'" [useBrowserLocale]="true"> </ngx-extended-pdf-viewer>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div cdkScrollable style="height:calc(100vh - 105px);">
      <mat-expansion-panel #expPanel *ngIf="isMobile() && hasFile()" style="margin:20px;background-color:#ddd;">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon >{{expPanel.expanded ? 'visibility_off' : 'visibility'}}</mat-icon>
            <span *ngIf="!expPanel.expanded" style="margin:5px;">
              Mostrar Adjunto
            </span>
            <span *ngIf="expPanel.expanded" style="margin:5px;">
              Ocultar Adjunto
            </span>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="isMobile() && hasFile() && hasImgFile()">
          <img mat-card-image class="img-size" [src]="invoiceService.invoiceFile.url">
        </div>
        <div *ngIf="isMobile() && hasFile() && hasPdfFile()">
          <ngx-extended-pdf-viewer [src]="invoiceService.invoiceFile.url" backgroundColor="#ffffff" [height]="'89vh'" [useBrowserLocale]="true"> </ngx-extended-pdf-viewer>
        </div>
      </mat-expansion-panel>

      <!------------ COMENTARIOS DE LA FACTURA ------------------------------->
      <mat-card *ngIf="isComment()" class="tedi-card tedi-comments-card">
        <mat-card-header>
          <mat-card-title class="tedi-card-title"> COMENTARIOS </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div  style="text-align: left !important; margin-bottom:5px;" *ngFor="let comment of invoiceService.invoice.comments; index as i" >
            <div><b> [{{ getDateFormat(comment.date)}}]  {{ getUserFormat(comment.user) }} </b>
              <button *ngIf="isCommentUser(comment.user)" title="Editar comentario" matSuffix mat-icon-button (click)="editComment(i)">
                <mat-icon >edit</mat-icon>
              </button>
              <button *ngIf="isCommentUser(comment.user)" title="Borrar comentario" matSuffix mat-icon-button (click)="deleteComment(i)">
                <mat-icon >delete</mat-icon>
              </button>
            </div>
            <span>{{comment.comment}}</span>
          </div>
        </mat-card-content>
      </mat-card>

      <ul>
      <li [class]="liclass" >
      <mat-card class="tedi-card">
        <mat-card-header>
          <mat-card-title class="tedi-card-title">
            <button disabled matSuffix mat-icon-button >
              <mat-icon  style="height:30px;">{{getStatusIcon()}}</mat-icon>
            </button>
            <span *ngIf="!isMobile()" style="height:40px;">
              DATOS FACTURA /
            </span>
            <span style="height:40px;">
              {{getType()}}
            </span>
            <button *ngIf="isPending()" title="Editar Tipo" matSuffix mat-icon-button (click)="changeType()">
              <mat-icon  style="height:30px;">edit</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div *ngIf="!isMobile()">
            <mat-form-field *ngIf="isEmitida()" class="tedi-form-field tedi-width-15">
              <input #series matInput tediInvoiceInitValue [readonly]="isReadOnly()" placeholder="Serie"
                [value]="invoiceService.invoice.series" (change)="updateSeries(series.value)">
            </mat-form-field>
            <mat-form-field *ngIf="isEmitida()" class="tedi-form-field tedi-width-15">
              <input #number matInput tediInitValue [readonly]="isReadOnly()" placeholder="Número"
                [value]="invoiceService.invoice.number" (change)="updateNumber(number.value)" >
            </mat-form-field>

            <mat-form-field *ngIf="!isEmitida()" class="tedi-form-field tedi-width-33">
              <input #reference matInput tediInitValue [readonly]="isReadOnly()" placeholder="Nº Factura"
                [value]="invoiceService.invoice.reference" (change)="updateReference(reference.value)" >
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-33">
              <input #date matInput tediInitValue [matDatepicker]="picker" placeholder="Fecha"
                [formControl]="dateControl" [errorStateMatcher]="matcher"
                (dateChange)="updateDate(date.value)" [readonly]="isReadOnly()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="isReadOnly()" #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-33">
              <input #total matInput tediInitValue placeholder="Total" [value]="invoiceService.invoice.total"
                (change)="updateTotal(total.value)" [formControl]="totalFormControl"
                [errorStateMatcher]="matcher" [readonly]="isReadOnly() || invoiceService.invoice.taxes.length > 1 || invoiceService.invoice.details.length > 0">
            </mat-form-field>
          </div>

          <div *ngIf="isMobile()">
            <mat-form-field *ngIf="isEmitida()" class="tedi-form-field tedi-width-50">
              <input #series matInput tediInitValue [readonly]="isReadOnly()" placeholder="Serie"
                [value]="invoiceService.invoice.series" (change)="updateSeries(series.value)">
            </mat-form-field>
            <mat-form-field *ngIf="isEmitida()" class="tedi-form-field tedi-width-50">
              <input #number matInput tediInitValue [readonly]="isReadOnly()" placeholder="Número"
                [value]="invoiceService.invoice.number" (change)="updateNumber(number.value)" >
            </mat-form-field>

            <mat-form-field *ngIf="!isEmitida() && !isTicket()" class="tedi-form-field">
              <input #reference matInput tediInitValue placeholder="Nº Factura" [value]="invoiceService.invoice.reference"
                (change)="updateReference(reference.value)" [readonly]="isReadOnly()">
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-50">
              <input #date matInput tediInitValue [matDatepicker]="picker" placeholder="Fecha"
                [formControl]="dateControl" [errorStateMatcher]="matcher"
                (dateChange)="updateDate(date.value)" [readonly]="isReadOnly()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="isReadOnly()" #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-50">
              <input #total matInput tediInitValue placeholder="Total" [value]="invoiceService.invoice.total"
                (change)="updateTotal(total.value)" [formControl]="totalFormControl"
                [errorStateMatcher]="matcher" [readonly]="isReadOnly()">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field *ngIf="isTicket()" class="tedi-form-field  tedi-width-50" >
              <mat-select  placeholder="Categoría"  [(ngModel)]="invoiceService.invoice.category" (selectionChange)="save({category:invoiceService.invoice.category})">
                <mat-option [disabled]="isReadOnly()" *ngFor="let s of categories" [value]="s.category">
                  {{s.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isTicket()" class="tedi-form-field tedi-width-50" >
              <mat-select placeholder="Forma de Pago" [(ngModel)]="paymethod" (selectionChange)="ticketPaymethod()">
                <mat-option [disabled]="isReadOnly()" value="CARD"> Tarjeta </mat-option>
                <mat-option [disabled]="isReadOnly()" value="CASH"> Efectivo </mat-option>
                <mat-option [disabled]="isReadOnly()" value="TRANSFER"> Transferencia </mat-option>
                <mat-option [disabled]="isReadOnly()" value="DRAFT"> Giro Bancario </mat-option>
                <mat-option [disabled]="isReadOnly()" value="BANK"> Cheque </mat-option>
                <mat-option [disabled]="isReadOnly()" value="OTHER"> Otros </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field  *ngIf="isMobile() && isTicket()" class="tedi-form-field">
              <input #reference matInput tediInitValue placeholder="Nº Factura" [value]="invoiceService.invoice.reference"
                (change)="updateReference(reference.value)" [readonly]="isReadOnly()">
            </mat-form-field>
            <div *ngIf="!isMobile()">
              <mat-form-field class="tedi-form-field tedi-width-25">
                <input #nif1 *ngIf="isEmitida()" matInput tediInitValue placeholder="NIF"
                [value]="hasReceiverDocument() ? invoiceService.invoice.receiver.document : ''"
                [matAutocomplete]="auto" (keyup)="scpsDocument($event, nif1.value)"
                (change)="updateReceiverNif(nif1.value)" [readonly]="isReadOnly()">

                <input #nif2 *ngIf="!isEmitida()" matInput placeholder="NIF"
                  [value]="hasSenderDocument() ? invoiceService.invoice.sender.document : ''"
                  [matAutocomplete]="auto" (keyup)="scpsDocument($event, nif2.value)"
                  (change)="updateSenderNif(nif2.value)" [readonly]="isReadOnly()">

                 <mat-autocomplete style="width:350px;" #auto="matAutocomplete" (optionSelected)="registryDocumentSelection($event.option.value)">
                  <mat-option *ngFor="let cp of filteredCompanies | async" [value]="iscpDocument(cp) ? cp.document : cp" [title]="cp.name">
                    <span>{{cp.name}}</span> |
                    <small>{{cp.document}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="tedi-form-field tedi-width-75">
                <input #name *ngIf="isEmitida()" matInput placeholder="Razón Social"
                [value]="hasReceiverName() ? invoiceService.invoice.receiver.name : ''"
                [matAutocomplete]="autoName" (keyup)="scpsName($event, name.value)"
                (change)="updateName(name.value)" [readonly]="isReadOnly()">

                <input #name *ngIf="!isEmitida()" matInput placeholder="Razón Social"
                [value]="hasSenderName() ? invoiceService.invoice.sender.name : ''"
                [matAutocomplete]="autoName" (keyup)="scpsName($event, name.value)"
                (change)="updateName(name.value)" [readonly]="isReadOnly()">

                <mat-autocomplete #autoName="matAutocomplete" (optionSelected)="registryNameSelection($event.option.value)" >
                  <mat-option *ngFor="let cp of filteredCompanies | async"  [value]="iscpName(cp) ? cp.name : cp" >
                    <span>{{cp.name}}</span> |
                    <small>{{cp.document}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div *ngIf="isMobile()">
              <mat-form-field class="tedi-form-field">
                <input #nif1 *ngIf="isEmitida()" matInput placeholder="NIF"
                [value]="hasReceiverDocument() ? invoiceService.invoice.receiver.document : ''"
                [matAutocomplete]="auto" (keyup)="scpsDocument($event, nif1.value)"
                (change)="updateReceiverNif(nif1.value)" [readonly]="isReadOnly()">

                <input #nif2 *ngIf="!isEmitida()" matInput placeholder="NIF"
                  [value]="hasSenderDocument() ? invoiceService.invoice.sender.document : ''"
                  [matAutocomplete]="auto" (keyup)="scpsDocument($event, nif2.value)"
                  (change)="updateSenderNif(nif2.value)" [readonly]="isReadOnly()">

                 <mat-autocomplete style="width:350px;" #auto="matAutocomplete" (optionSelected)="registryDocumentSelection($event.option.value)">
                  <mat-option *ngFor="let cp of filteredCompanies | async" [value]="iscpDocument(cp) ? cp.document : cp" [title]="cp.name">
                    <span>{{cp.name}}</span> |
                    <small>{{cp.document}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="tedi-form-field">
                <input #name *ngIf="isEmitida()" matInput placeholder="Razón Social"
                [value]="hasReceiverName() ? invoiceService.invoice.receiver.name : ''"
                [matAutocomplete]="autoName" (keyup)="scpsName($event, name.value)"
                (change)="updateName(name.value)" [readonly]="isReadOnly()">

                <input #name *ngIf="!isEmitida()" matInput placeholder="Razón Social"
                [value]="hasSenderName() ? invoiceService.invoice.sender.name : ''"
                [matAutocomplete]="autoName" (keyup)="scpsName($event, name.value)"
                (change)="updateName(name.value)" [readonly]="isReadOnly()">

                <mat-autocomplete #autoName="matAutocomplete" (optionSelected)="registryNameSelection($event.option.value)" >
                  <mat-option *ngFor="let cp of filteredCompanies | async"  [value]="iscpName(cp) ? cp.name : cp" >
                    <span>{{cp.name}}</span> |
                    <small>{{cp.document}}</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <mat-form-field *ngIf="!(isMobile() && isTicket())" class="tedi-form-field ">
              <input #address *ngIf="isEmitida()" matInput placeholder="Dirección" readonly [value]="hasReceiverAddress() ? getFullAddress(invoiceService.invoice.receiver.address) : ''">
              <input #address *ngIf="!isEmitida()" matInput placeholder="Dirección" readonly [value]="hasSenderAddress() ? getFullAddress(invoiceService.invoice.sender.address) : ''">
              <button [disabled]="isReadOnly()" matSuffix mat-icon-button (click)="editAddress()">
                <mat-icon>place</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field *ngIf="!isTicket()" class="tedi-form-field">
              <mat-select  placeholder="Categoría"  [(ngModel)]="invoiceService.invoice.category" (selectionChange)="save({category:invoiceService.invoice.category})">
                <mat-option [disabled]="isReadOnly()" *ngFor="let s of categories" [value]="s.category">
                  {{s.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      </li>
      <li [class]="liclass">
        <mat-card class="tedi-card">
          <mat-card-header>
            <mat-card-title class="tedi-card-title"> DETALLE IMPUESTOS </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <mat-form-field class="tedi-form-field">
                <mat-select placeholder="Tipo Transacción" [(ngModel)]="invoiceService.invoice.transaction" (selectionChange)="save()">
                  <mat-option [disabled]="isReadOnly()" *ngFor="let t of transactions" [value]="t.code">
                    {{t.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngFor="let tax of invoiceService.invoice.taxes; index as i" >
              <mat-form-field class="tedi-form-field tedi-width-25">
                <mat-select placeholder="Tipo"  [(ngModel)]="tax.tax">
                  <mat-option [disabled]="isReadOnly() || invoiceService.invoice.details.length > 0" value="VAT"> IVA </mat-option>
                  <mat-option [disabled]="isReadOnly() || invoiceService.invoice.details.length > 0" value="RETENTION"> IRPF </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-25">
                <mat-select placeholder="%"  [(ngModel)]="tax.percentage" (selectionChange)="updateTaxPercentage(i)">
                  <mat-option [disabled]="isReadOnly() || invoiceService.invoice.details.length > 0" *ngFor="let x of getPercentages(tax.tax)" [value]="x.percentage">
                    {{x.viewPercentage}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-25">
                <input #taxBase matInput placeholder="Base Imponible" [value]="tax.base" [readonly]="isReadOnly() || invoiceService.invoice.details.length > 0" (change)="updateTaxBase(taxBase.value, i)">
              </mat-form-field>

              <mat-form-field class="tedi-form-field tedi-width-25">
                <input #taxQuota matInput placeholder="Cuota" [value]="tax.quota" [readonly]="isReadOnly() || invoiceService.invoice.details.length > 0" (change)="updateTaxQuota(taxQuota.value, i)">
              </mat-form-field>
            </div>

            <div *ngIf="isNewTax">
              <mat-form-field class="tedi-form-field tedi-width-25">
                <mat-select placeholder="Tipo"  [(ngModel)]="newTax.tax" (selectionChange)="createTax()">
                  <mat-option [disabled]="isReadOnly()" value="VAT"> IVA </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="RETENTION"> IRPF </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-25">
                <mat-select placeholder="%"  [(ngModel)]="newTax.percentage" (selectionChange)="updateTaxPercentage(i)">
                  <mat-option [disabled]="isReadOnly()" *ngFor="let x of getPercentages(newTax.tax)" [value]="x.percentage">
                    {{x.viewPercentage}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-25">
                <input #newTaxBase matInput placeholder="Base Imponible" (change)="createTaxBase(newTaxBase.value)">
              </mat-form-field>

              <mat-form-field class="tedi-form-field tedi-width-25">
                <input #newTaxQuota matInput placeholder="Cuota" [readonly]="isReadOnly()" (change)="createTaxQuota(newTaxQuota.value)">
              </mat-form-field>
            </div>
            <div style="text-align:left;height:50px" >
              <button title="Nuevo Impuesto" mat-icon-button (click)="addTax()" [disabled]="invoiceService.invoice.details.length > 0">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </li>
      </ul>
      <mat-card *ngIf="!isMobile()" class="tedi-card">
        <mat-card-header>
          <mat-card-title class="tedi-card-title"> CONCEPTOS DE LA FACTURA </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let detail of invoiceService.invoice.details; index as i" >
            <div class="tedi-width-50">
              <mat-form-field class="tedi-form-field">
                <input #detailDescription matInput placeholder="Concepto" [value]="detail.description" [readonly]="isReadOnly()" (change)="updateDetailDescription(detailDescription.value, i)">
              </mat-form-field>
            </div>
            <div class="tedi-width-45">
              <mat-form-field class="tedi-form-field tedi-width-10">
                <input #detailQuantity matInput placeholder="Cantidad" [value]="detail.quantity"  [readonly]="isReadOnly()" (change)="updateDetailQuantity(detailQuantity.value, i)">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-24">
                <input #detailPrice matInput placeholder="Precio" [value]="detail.price" [readonly]="isReadOnly()" (change)="updateDetailPrice(detailPrice.value, i)">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-10">
                <input #detailDesc matInput placeholder="%Dto" [value]="detail.discount" [readonly]="isReadOnly()" (change)="updateDetailDesc(detailDesc.value, i)">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-24">
                <input matInput placeholder="Importe" readonly [value]="detail.amount">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-24">
                <mat-select placeholder="%IVA"  [(ngModel)]="detail.vat" (selectionChange)="updateDetailVat()">
                  <mat-option [disabled]="isReadOnly()" value="21.0"> 21.0% </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="10.0"> 10.0% </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="4.0"> 4.0% </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="0.0"> 0.0% </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="tedi-width-5">
              <button [disabled]="isReadOnly()" title="Borrar" mat-icon-button (click)="deleteDetail(i)">
                <mat-icon style="font-size:20px;">remove_circle</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="showAddDetail">
            <div class="tedi-width-50">
              <mat-form-field class="tedi-form-field">
                <input #newDetailDescription matInput placeholder="Concepto" [value]="newDetail.description ? newDetail.description : ''" [readonly]="isReadOnly()" (change)="createDetailDescription(newDetailDescription.value)">
              </mat-form-field>
            </div>
            <div class="tedi-width-50">
              <mat-form-field class="tedi-form-field tedi-width-24">
                <input #newDetailQuantity matInput placeholder="Cantidad" [value]="newDetail.quantity ? newDetail.quantity : ''" [readonly]="isReadOnly()" (change)="createDetailQuantity(newDetailQuantity.value)">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-24">
                <input #newDetailPrice matInput placeholder="Precio" [value]="newDetail.price ? newDetail.price : ''" [readonly]="isReadOnly()" (change)="createDetailPrice(newDetailPrice.value)">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-10">
                <input #newDetailDesc matInput placeholder="%Dto" [value]="newDetail.discount ? newDetail.discount : ''" [readonly]="isReadOnly()" (change)="createDetailDesc(newDetailDesc.value)">
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-24">
                <input matInput placeholder="Importe" [value]="newDetail.amount ? newDetail.amount : ''" readonly>
              </mat-form-field>
              <mat-form-field class="tedi-form-field tedi-width-10">
                <mat-select placeholder="%IVA"  [(ngModel)]="newDetail.vat" (selectionChange)="createDetail()">
                  <mat-option [disabled]="isReadOnly()" value="21.0"> 21.0% </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="10.0"> 10.0% </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="4.0"> 4.0% </mat-option>
                  <mat-option [disabled]="isReadOnly()" value="0.0"> 0.0% </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div style="text-align:left;height:50px" >
            <button [disabled]="isReadOnly()" title="Nuevo Concepto" mat-icon-button (click)="addDetail()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>

<!------------ [MOBILE] CONCEPTOS DE LA FACTURA ------------------------------->
      <mat-card *ngIf="isMobile()" class="tedi-card">
        <mat-card-header>
          <mat-card-title class="tedi-card-title"> CONCEPTOS DE LA FACTURA </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let detail of invoiceService.invoice.details; index as i" >
            <div class="tedi-width-75-1">
              <mat-form-field class="tedi-form-field">
                <input #detailDescription matInput placeholder="Concepto" [value]="detail.description" [readonly]="isReadOnly()" (change)="updateDetailDescription(detailDescription.value, i)">
              </mat-form-field>
            </div>
            <div class="tedi-width-20">
              <mat-form-field class="tedi-form-field">
                <input matInput placeholder="amount" [readonly]="isReadOnly()" [value]="detail.amount">
              </mat-form-field>
            </div>
            <div class="tedi-width-5">
              <button title="Editar" mat-icon-button (click)="editDetailMobile(i)">
                <mat-icon style="font-size:20px;">edit</mat-icon>
              </button>
            </div>
          </div>
          <div style="text-align:left;height:50px" >
            <button [disabled]="isReadOnly()" title="Nuevo Concepto" mat-icon-button (click)="addDetailMobile()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
<!----------------------------------------------------------------------------->
      <mat-card  *ngIf="!isMobile()" class="tedi-card" style="margin-bottom: 10px !important;">
        <mat-card-header>
          <mat-card-title class="tedi-card-title"> VENCIMIENTOS </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let finance of invoiceService.invoice.finances; index as i">
            <mat-form-field class="tedi-form-field tedi-width-25">
              <input #financeDate matInput [matDatepicker]="picker1" placeholder="Fecha"
                [formControl]="getFormControl(finance.due_date)" [readonly]="isReadOnly()"
                (dateChange)="updateFinanceDate(financeDate.value, i)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="isReadOnly()" #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="tedi-form-field tedi-width-25" >
              <mat-select placeholder="Forma de Pago"  [(ngModel)]="finance.pay_method" (selectionChange)="updateFinancePay()">
                <mat-option [disabled]="isReadOnly()" value="CARD"> Tarjeta </mat-option>
                <mat-option [disabled]="isReadOnly()" value="CASH"> Efectivo </mat-option>
                <mat-option [disabled]="isReadOnly()" value="TRANSFER"> Transferencia </mat-option>
                <mat-option [disabled]="isReadOnly()" value="DRAFT"> Giro Bancario </mat-option>
                <mat-option [disabled]="isReadOnly()" value="BANK"> Cheque </mat-option>
                <mat-option [disabled]="isReadOnly()" value="OTHER"> Otros </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-20">
              <input #financeAmount matInput placeholder="Importe" [value]="finance.amount" [readonly]="isReadOnly()" (change)="updateFinanceAmount(financeAmount.value, i)">
            </mat-form-field>
            <mat-form-field class="tedi-form-field tedi-width-25">
              <input #financeIban matInput placeholder="IBAN" [value]="finance.iban ? finance.iban : ''" [readonly]="isReadOnly()" (change)="updateFinanceIban(financeIban.value, i)">
            </mat-form-field>
            <div class="tedi-width-5">
              <button [disabled]="isReadOnly()" title="Borrar" mat-icon-button (click)="deleteFinance(i)">
                <mat-icon style="font-size:20px;">remove_circle</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="showAddFinance">
            <mat-form-field class="tedi-form-field tedi-width-25">
              <input #newFinanceDate matInput [matDatepicker]="picker2" placeholder="Fecha"
                [formControl]="getFormControl(newFinance.due_date)" [readonly]="isReadOnly()" (dateChange)="createFinanceDate(newFinanceDate.value)">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="isReadOnly()" #picker2></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-25" >
              <mat-select placeholder="Forma de Pago"  [(ngModel)]="newFinance.pay_method" (selectionChange)="createFinance()">
                <mat-option [disabled]="isReadOnly()" value="CARD"> Tarjeta </mat-option>
                <mat-option [disabled]="isReadOnly()" value="CASH"> Efectivo </mat-option>
                <mat-option [disabled]="isReadOnly()" value="TRANSFER"> Transferencia </mat-option>
                <mat-option [disabled]="isReadOnly()" value="DRAFT"> Giro Bancario </mat-option>
                <mat-option [disabled]="isReadOnly()" value="BANK"> Cheque </mat-option>
                <mat-option [disabled]="isReadOnly()" value="OTHER"> Otros </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-25">
              <input #newFinanceAmount matInput placeholder="Importe" [value]="newFinance.amount" (change)="createFinanceAmount(newFinanceAmount.value)">
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-25">
              <input #newFinanceIban matInput placeholder="IBAN" (change)="createFinanceIban(newFinanceIban.value)" [formControl]="ibanFormControl">
            </mat-form-field>

          </div>
          <div style="text-align:left;height:50px" >
            <button [disabled]="isReadOnly()" title="Nuevo Vencimiento" mat-icon-button (click)="addFinance()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>

<!------------ [MOBILE] VENCIMIENTOS ------------------------------------------>
      <mat-card  *ngIf="isMobile()" class="tedi-card" style="margin-bottom: 10px !important;">
        <mat-card-header>
          <mat-card-title class="tedi-card-title"> VENCIMIENTOS </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let finance of invoiceService.invoice.finances; index as i">
            <mat-form-field class="tedi-form-field tedi-width-30">
              <input #financeDate matInput [matDatepicker]="picker1" placeholder="Fecha"
                [formControl]="getFormControl(finance.due_date)" [readonly]="isReadOnly()"
                (dateChange)="updateFinanceDate(financeDate.value, i)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="isReadOnly()" #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="tedi-form-field tedi-width-30" >
              <mat-select placeholder="Forma de Pago"  [(ngModel)]="finance.pay_method">
                <mat-option [disabled]="isReadOnly()" value="CARD"> Tarjeta </mat-option>
                <mat-option [disabled]="isReadOnly()" value="CASH"> Efectivo </mat-option>
                <mat-option [disabled]="isReadOnly()" value="TRANSFER"> Transferencia </mat-option>
                <mat-option [disabled]="isReadOnly()" value="DRAFT"> Giro Bancario </mat-option>
                <mat-option [disabled]="isReadOnly()" value="BANK"> Cheque </mat-option>
                <mat-option [disabled]="isReadOnly()" value="OTHER"> Otros </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="tedi-form-field tedi-width-10">
              <input #financeAmount matInput placeholder="Importe" [value]="finance.amount" [readonly]="isReadOnly()" (change)="updateFinanceAmount(financeAmount.value, i)">
            </mat-form-field>

            <div class="tedi-form-field tedi-width-10">
              <button [disabled]="isReadOnly()" title="Editar" mat-icon-button (click)="editFinanceMobile(i)">
                <mat-icon style="font-size:20px;">edit</mat-icon>
              </button>
            </div>
            <div class="tedi-form-field tedi-width-5">
              <button [disabled]="isReadOnly()" title="Borrar" mat-icon-button (click)="deleteFinance(i)">
                <mat-icon style="font-size:20px;">remove_circle</mat-icon>
              </button>
            </div>
          </div>

          <div style="text-align:left;height:50px" >
            <button [disabled]="isReadOnly()" title="Nuevo Vencimiento" mat-icon-button (click)="addFinanceMobile()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
<!----------------------------------------------------------------------------->
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
