@import 'src/styles.scss';

::ng-deep{
  $button-open-close-size: 1.4rem;

  #menu-container{
    position    : fixed;
    width       : 100%;
    height      : 100vh;
    border-right: solid $border-size-primary $color-border-primary;
  }
  #body-container{
    // Sera el margen del body con el menu comprimido
    margin-left : $menu-width-close!important;
    background  : $color-quarter;
  }

  #menu-left{
    width         : $menu-width-close;
    border-right  : solid $border-size-primary $color-border-primary;
    text-align    : center;
    text-transform: uppercase;
  }

  #menu-left.menu-left-open{
    position      : absolute; 
    min-width     : $menu-width-open;
    width         : auto; 
    text-align    : left;
    padding-left  : $padding-left;
    padding-right : $padding-right;
  }

  // titulo
  #menu-left #menu-left-title{
    font-family : 'Roboto-Medium';
    font-size   : 0.625rem;
    margin-top  : $margin-top;
  }

  // Icon open and close
  #menu-left .float-button-open,
  #menu-left .float-button-close{
    z-index         : 1;
    cursor          : pointer;
    position        : fixed;
    display         : flex;
    align-items     : center;
    background-color: $color-quarter;
    border          : solid $border-size-primary $color-border-primary;
    border-radius   : 8rem;
    top             : $header-height + ($margin-top - ($button-open-close-size / 7));
  }
  #menu-left .float-button-open set-icon,
  #menu-left .float-button-close set-icon{
    width           : $button-open-close-size;
    height          : $button-open-close-size;
  }
  #menu-left .float-button-close{
    left            : $menu-width-close - ($button-open-close-size / 2);
  }
  #menu-left .float-button-open{
    left            : $menu-width-open  - ($button-open-close-size / 2);
  }
  #menu-left .float-button-open set-icon{
    position        : relative;
    left            : -0.05rem;
  }

  // Icon options
  #menu-left .menu-left-option{
    margin        : ($margin/2) 0;
    cursor        : pointer;
    width         : 100%;
  }

  #menu-left.menu-left-open .menu-left-option span{
    font-family   : 'Roboto-Medium';
    font-size     : 0.7rem;
    padding-left  : $padding-left/2;
    position      : relative;
    top           : -0.3rem;
    display       : inline-flex;
  }

    #menu-left .menu-left-option app-icon{
      display         : inline-flex;
      align-items     : center;
      width           : 1.7rem;
      height          : 2.2rem;
      border-radius   : $border-button-radius;
      padding-left    : $margin-button-icon-left;
    }
    // colores estan predefinidos en el componente icon
    #menu-left .menu-select .red,
    #menu-left .menu-left-option:hover .red{
      background-color: $background-button-red-hover2;
    }
    #menu-left .menu-select .blue,
    #menu-left .menu-left-option:hover .blue{
      background-color: $background-button-blue-hover2;
    }
    #menu-left .menu-select .orange,
    #menu-left .menu-left-option:hover .orange{
      background-color: $background-button-orange-hover2;
    }
    #menu-left .menu-select .green,
    #menu-left .menu-left-option:hover .green{
      background-color: $background-button-green-hover2;
    }
    #menu-left .menu-select .pink,
    #menu-left .menu-left-option:hover .pink{
      background-color: $background-button-pink-hover2;
    }
    #menu-left .menu-select .purple,
    #menu-left .menu-left-option:hover .purple{
      background-color: $background-button-purple-hover2;
    }

  // Menu footer
  #menu-left .menu-left-option-footer,
  #menu-left .menu-left-option-footer-opend{
    position : fixed;
    bottom   : $margin-bottom * 3;
    left     : $margin-left+0.1rem;
  }

  #menu-left .menu-left-option-footer .menu-left-option-footer-icon-reduced-remove{
    position        : relative;
    left            : -0.5rem;
  }
  #menu-left .menu-left-option-footer .menu-left-option-footer-icon-reduced{
    position        : relative;
    display         : flex;
    align-items     : center;
    width           : 1.7rem;
    height          : 2.2rem;
    border-radius   : $border-button-radius;
    padding-left    : $margin-button-icon-left;
    background-color: $background-button-hover;
    left            : -0.5rem;
  }


  #menu-left .menu-left-option-footer .menu-left-option-footer-icon-reduced,
  #menu-left .menu-left-option-footer .griss{
    cursor: pointer;
    margin: $margin/2 0;
  }

  #menu-left .menu-left-option-footer-opend .menu-left-title-footer{
    font-family: 'Roboto-Medium';
    font-size  : 0.5rem;
  }

  #menu-left .menu-left-option-footer-opend .menu-left-option-footer-icon-expanded{
    width   : $menu-width-open - ($padding-left * 2);
  }
  #menu-left .menu-left-option-footer-opend .menu-left-option-footer-icon-expanded span{
    cursor          : pointer;
    display         : inline-flex;
    align-items     : center;
    width           : 1.7rem;
    height          : 2.2rem;
    border-radius   : $border-button-radius;
    padding-left    : $margin-button-icon-left;
    background-color: $background-button-hover;
  }
  
  // Priorizar vista sobre el menu
  #menu-container #body-container #menu-open{
    position        : absolute;
    z-index         : 99;
    width           : 100%;
    height          : 100vh;
    background-color: $color-dark;
    opacity         : 0.1;
    cursor          : pointer;
  }
  #menu-container #body-container.menu-open-content{
    overflow: hidden !important;
  }
}
