<mat-sidenav-container id="menu-container" #content>
  <mat-sidenav *ngIf="!hide" #sidenav mode="side" disableClose="true" opened="true"
    id="menu-left"
    [ngClass]="opened ? {'menu-left-open' : true} : {'menu-left-open' : false}"
  >
    <div>
      <div>
        <div id="menu-left-title">
          {{ 'MENU.MENU'| translate }}
        </div>
        <div class="float-button-close griss" (click)="opened = !opened; resize = resize + 1; onSelectedProduct(opened);" *ngIf="!opened" >
          <app-icon shape="keyboard_arrow_right"></app-icon>
        </div>
        <div id="button-open" class="float-button-open griss" (click)="opened = !opened; onSelectedProduct(opened);" *ngIf="opened" >
          <app-icon shape="keyboard_arrow_left"></app-icon>
        </div>
      </div>
      <div #iconHover appSidenavHover class="menu-left-option"
        [ngClass]="item.selected ? {'menu-select' : true} : {'menu-select' : false}"
        *ngFor="let item of items;"
        (click)="deselectAll();select(item);"
        routerLink={{item.routerlink}}
      >
        <app-icon class="{{item.class}}" [shape]="item.shape"></app-icon>
        <span *ngIf="opened">
          {{item.text | translate}}
        </span>
      </div>
    </div>

    <div *ngIf="!opened" class="menu-left-option-footer">
      <ng-container>
        <div
          [ngClass]="!subMenuOpened ? {'menu-left-option-footer-icon-reduced' : false} : {'menu-left-option-footer-icon-reduced' : true}"
          *ngFor="let shortcut of shortcuts;"
          routerLink={{shortcut.routerlink}}
        >
          <app-icon class="griss" [shape]="shortcut.shape" *ngIf="subMenuOpened"></app-icon>
        </div>
        <div class="griss" (click)="subMenuOpened = !subMenuOpened"
          [ngClass]="!subMenuOpened ? {'menu-left-option-footer-icon-reduced-remove' : false} : {'menu-left-option-footer-icon-reduced-remove' : true}"
        >
          <app-icon *ngIf="!subMenuOpened" shape="add"></app-icon>
          <app-icon *ngIf="subMenuOpened"  shape="remove"></app-icon>
        </div>
      </ng-container>
    </div>
    <div *ngIf="opened" class="menu-left-option-footer-opend">
      <div class="menu-left-title-footer">
        ACCESOS DIRECTOS
      </div>
      <mat-grid-list cols="3" class="menu-left-option-footer-icon-expanded">
        <mat-grid-tile colspan="1" *ngFor="let shortcut of shortcuts;">
          <span class="griss" routerLink={{shortcut.routerlink}}>
            <app-icon [shape]="shortcut.shape"></app-icon>
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="body-container">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
