.example-container {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

::ng-deep .mat-sidenav>div {
    height: max(50rem, calc(100vh - 4rem));
}

::-webkit-scrollbar {
    width: .3125rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menuIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    height: 10%;
    width: 80%;
    border-radius: .625rem;
    border-color: white;
}

.menuIndexOpened {
    display: flex;
    align-items: center;
    margin-left: 1rem !important;
    padding-left: 1rem !important;
    border: solid;
    height: 10%;
    width: 80%;
    border-radius: .625rem;
    border-color: white;
}

.menuIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    height: 10%;
    width: 80%;
    border-radius: .625rem;
    border-color: white;
    cursor: pointer;
}

.menuOpened {
    display: flex;
    align-items: center;
    margin-left: 1rem !important;
    padding-left: 1rem !important;
    border: solid;
    height: 10%;
    width: 80%;
    border-radius: .625rem;
    border-color: white;
    cursor: pointer;
}

.menuOpened:hover {
    background-color: lightgray;
}

.menuIcon:hover {
    background-color: lightgrey;
}

.myAppBar {
    background-color: lightblue;
}

.floatButton1 {
    position: fixed;
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-width: .0625rem;
    border-color: lightgrey;
    border-radius: 3.125rem;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 5;
    left: 15.25rem;
    background-color: white;
    cursor: pointer;
}

.floatButton2 {
    position: fixed;
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    border-width: .0625rem;
    border-color: lightgrey;
    border-radius: 3.125rem;
    height: 1.5rem;
    width: 1.5rem;
    left: 3.25rem;
    z-index: 5;
    background-color: white;
    cursor: pointer;
}

.menuIconsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55%;
}

.menuTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55%;
}

.openCloseShortcuts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 80%;
    cursor: pointer;
}

.shortcutMenuClosed {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    z-index: 1;
}

.shortcutClosed {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 80%;
}

.shortcutOpened {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 80%;
    background-color: #f0f0f1;
    border: solid;
    border-radius: .625rem;
    border-color: white;
}

.shortcutOpened:hover {
    background-color: #f9f9fa;
}

.menuTextShortcut {
    height: 45%;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;

}

.shortcutIndex {
    display: flex;
    align-items: center;
    margin-left: .5rem !important;
    padding-left: .5rem !important;
    border: solid;
    height: 10%;
    width: 80%;
    border-radius: .625rem;
    border-color: white;
    justify-content: space-between;
}

.shortcutMenuOpened {
    background-color: white;
    flex-direction: row;
    width: 100%;
}

.shortcutGrid {
    width: 50%;
    height: 50%;
    background-color: #f0f0f1;
    border: solid;
    border-color: white;
    border-radius: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcutGrid:hover{
    background-color: #f9f9fa;
}