<app-grid-layout>
  <div content class="padding">
  <!-- Subir documentacion -->
    <div id="upload">
      <app-file-upload-button (click)="uploadDocument($event)">
       {{ 'COMMON.FILE_UPLOAD_BUTTON'|translate }}
        <app-icon shape="cloud_upload" class="margin-left"></app-icon>
      </app-file-upload-button>
    </div>
  <!-- FIN Subir documentacion -->
  <!-- Dashboard -->
    <div id="list-Dashboard">
      <app-button
        *ngFor="let shortcut of shortcuts"
        class="icon-background"
        [width]="'width'"
        (click)="openModal(shortcut.modal)"
      >
        <app-icon [shape]="shortcut.shape"></app-icon>
        {{ shortcut.name }}
      </app-button>
    </div>
  <!-- FIN Dashboard -->
  <!-- Ventas, Cobros, Impuestos, tus bancos -->
    <div id="charts">
      <div class="chart" *ngFor="let chartItem of chartItems">
        <app-chart-dashboard
          [name]      ="chartItem.name"
          [typeDate]  ="chartItem.typeDate"
        ></app-chart-dashboard>
      </div>
      <div class="chart">
        <app-models-dashboard></app-models-dashboard>
      </div>
      <div class="chart">
        <app-banks-dashboard></app-banks-dashboard>
      </div>
    </div>
  <!-- FIN Ventas, Cobros, Impuestos, tus bancos -->
  <!-- linea divisoria -->
    <hr>
  <!-- FIN linea divisoria -->
  <!-- Bandeja de email -->
    <div id="inbox">
      <app-inbox></app-inbox>
    </div>
  <!-- FIN Bandeja de email -->
  <!-- Acceso a gestion, panel de impuestos, empleados y doc -->
    <div id="buttons-dashboard">
      <div
        class="button-dashboard"
        *ngFor="let menuItem of menuItems"
        [routerLink]="menuItem.routerlink"
      >
        <app-menu-button-dashboard
          [shape]="menuItem.shape"
          [name]="menuItem.name | translate"
          [class]="menuItem.class"
        ></app-menu-button-dashboard>
      </div>
    </div>
  <!-- FIN Acceso a gestion, panel de impuestos, empleados y doc -->
  </div>
  <!-- Modal -->
  <app-modal-controller #modal></app-modal-controller>
  <!-- Fin Modal -->
</app-grid-layout>
