@import "src/styles.scss";

::ng-deep{
  
  #upload,
  #list-Dashboard,
  #charts,
  #inbox,
  #buttons-dashboard,
  {
    padding-left    : $padding-left;
    padding-right   : $padding-right;
    padding-bottom  : $padding-bottom;
  }  
  #charts{
    padding-bottom  : 0;
  }
  
  #list-Dashboard,
  #charts,
  #buttons-dashboard{
    display         : flex;
    flex-wrap       : wrap;
    gap             : 1rem;
  }
  
  #list-Dashboard app-button .appButton{
    margin: 0;
  }

  #charts .chart .card{
    
  }

}
