/********************************************************************
* Copyright (c) 2011, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

package com.code.aon.master.db;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.Statement;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.util.Stack;
import java.util.Queue;
import java.util.LinkedList;


import org.slf4j.Logger;
import org.slf4j.LoggerFactory;


public class BufferedDBWriter  extends AbstractDB {


	private interface ITransaction {
		public void flush() throws SQLException; 
		public void reset() throws SQLException;
	}
	
	
	Queue<ITransaction> transactions = 
		new LinkedList<ITransaction>(); 

	public BufferedDBWriter( Connection connection) 
	throws SQLException {
		super(connection);
	}
	
	public void commit() throws SQLException {
		flush();
		super.commit();
	}
	
	public void rollback() throws SQLException {
		flush();
		super.rollback();
	}
	
	private void flush() 
	throws SQLException  {
		execute("SET UNIQUE_CHECKS=0 ");
		execute("SET FOREIGN_KEY_CHECKS=0");
		while ( ! transactions.isEmpty() ) {
			ITransaction transaction = 
				transactions.poll();
			transaction.flush();	
			transaction.reset();	
		}
		//execute("UNLOCK TABLES");
		execute("SET UNIQUE_CHECKS=1 ");
		execute("SET FOREIGN_KEY_CHECKS=1");
	}
	
	private int getLastId(String table) 
	throws SQLException  {
		ResultSet rs = null;
		Statement stmt = null;
		try {
			stmt = connection.createStatement();
			rs = stmt.executeQuery("SELECT max(id) FROM `"+ table +"`" );
			return rs.next() ? rs.getInt(1) : 0;
		}
		finally {
			if ( rs != null )
				rs.close(); 
			if ( stmt != null )
				stmt.close(); 
		}
	}
	
	
	
#foreach($table in $tables)

	private Stack<I${table}> ${table.javaName}Buffer = 
		new Stack<I${table}>();

#if(!$table.isAutoIncrement())

	public void insert$table( ${table} ${table.javaName} )
	throws SQLException {
		${table.javaName}Buffer.push(${table.javaName});
	}

	private ITransaction ${table.javaName}Transaction = new ITransaction() {
		public void flush() throws SQLException {
			BufferedDBWriter.this.flush${table}();
		}
		public void reset() throws SQLException {
		}
	};
#else
	
	private int ${table.javaName}Id = -1;

	public int insert$table( ${table} ${table.javaName} )
	throws SQLException {
		if (  ${table.javaName}Id == -1 ) {
			//execute("LOCK TABLES `${table.name}` WRITE");
			${table.javaName}Id = getLastId("${table.name}");
			transactions.offer(${table.javaName}Transaction);
		}
		${table.javaName}.setId( ++${table.javaName}Id);
		${table.javaName}Buffer.push(${table.javaName});
		
		return ${table.javaName}Id;
	}

	private ITransaction ${table.javaName}Transaction = new ITransaction() {
		public void flush() throws SQLException {
			BufferedDBWriter.this.flush${table}();
		}
		public void reset() throws SQLException {
			BufferedDBWriter.this.${table.javaName}Id = -1;
		}
	};

#end	

	public void flush${table}()
	throws SQLException {
		long start = System.currentTimeMillis();
		int size = ${table.javaName}Buffer.size();
		if ( size == 0 ) 
			return;
		
		StringBuffer sql  = new StringBuffer( "INSERT INTO $table.name (#foreach ($column in $table.columns)$column.name#if( $velocityHasNext ),#end#end) VALUES " );  
		sql.append("(#foreach ($column in $table.columns)?#if( $velocityHasNext ),#end#end)");
		for ( int i = 1 ; i< size ; i++) {
			sql.append(", (#foreach ($column in $table.columns)?#if( $velocityHasNext ),#end#end)");
		} 
		PreparedStatement stmt = null;
		try {
			stmt = connection.prepareStatement(sql.toString());
			int offset = 1; 											
			do  {
				I${table} ${table.javaName} = ${table.javaName}Buffer.pop();
#foreach ($column in $table.columns)

				if ( ${table.javaName}.get${column}() == null )
					stmt.setNull(offset++, ${column.type});
				else
#if ($column.javaClass.equals("Integer"))
					stmt.setInt(offset++, ${table.javaName}.get${column}());
#elseif ($column.type == -4 )
					stmt.setBinaryStream(offset++, ${table.javaName}.get${column}());
#else
					stmt.set${column.javaClass}(offset++, ${table.javaName}.get${column}());
#end
#end				
			} while ( !${table.javaName}Buffer.isEmpty() );
			stmt.execute();

			// elapsed time in milliseconds
			long elapsed = System.currentTimeMillis() - start;
			info("Inserted {} ${table}s in {} milliseconds.", size, elapsed );		
		}
		finally {
			if ( stmt!= null ) 
				stmt.close();
		}		
	}

#end

	
}
	
