/********************************************************************
* Copyright (c) 2011, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

package com.code.aon.master.db;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.Statement;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.util.List;
import java.util.LinkedList;

import java.io.Reader;
import java.io.InputStream;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;


public class DBWriter  extends AbstractDB {

#foreach($table in $tables)

	
#if(!$table.isAutoIncrement())
	public void insert$table( I${table} ${table.javaName} )
	throws SQLException {
#set($colCount = 0)
		insert$table(#foreach ($column in $table.columns)
#if( $colCount > 0 ), #end${table.javaName}.get${column}() #set($colCount = $colCount + 1)
#end);
	}
#else
	public int insert$table( I${table} ${table.javaName} )
	throws SQLException {
#set($colCount = 0)
		return insert$table(#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())#if( $colCount > 0 ), #end${table.javaName}.get${column}() #set($colCount = $colCount + 1)
#end#end);
	}
#end	

	private PreparedStatement ${table.javaName}Stmt = null;

	/**
	 * $table
#foreach ($column in $table.columns)
	 * @param $column.javaName $column.remarks
#end
	 * @throws SQLException
	*/
#set($colCount = 0)
	public void insert$table(#foreach ($column in $table.columns)
#if( $colCount > 0 ), #end$column.javaClass $column.javaName #set($colCount = $colCount + 1)
#end)
	throws SQLException {
		if ( ${table.javaName}Stmt == null ) {
			${table.javaName}Stmt= connection.prepareStatement("INSERT INTO $table.name (#foreach ($column in $table.columns)$column.name#if( $velocityHasNext ),#end#end)"  
				+" VALUES (#foreach ($column in $table.columns)?#if( $velocityHasNext ),#end#end)"  );
		}

		int offset = 1;

#foreach ($column in $table.columns)
		if ( ${column.javaName} == null )
			${table.javaName}Stmt.setNull(offset++, ${column.type});
		else
#if ($column.javaClass.equals("Integer"))
			${table.javaName}Stmt.setInt(offset++, ${column.javaName});
#elseif ($column.type == -4 )
			${table.javaName}Stmt.setBinaryStream(offset++, ${column.javaName});
#else
			${table.javaName}Stmt.set${column.javaClass}(offset++, ${column.javaName});
#end
#end

		${table.javaName}Stmt.executeUpdate();
	}


#if($table.isAutoIncrement())

	private PreparedStatement ${table.javaName}StmtAuto = null;

	/**
	 * $table
#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())	
	 * @param $column.javaName $column.remarks
#end
#end
#if($table.isAutoIncrement())
	 * @returns auto-generated key
#end
	 * @throws SQLException
	*/
#set($colCount = 0)
	public #if($table.isAutoIncrement())int#{else}void#end insert$table(#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())#if( $colCount > 0 ), #end$column.javaClass $column.javaName #set($colCount = $colCount + 1)#end
#end)
	throws SQLException {
		if ( ${table.javaName}StmtAuto == null ) {
			${table.javaName}StmtAuto = connection.prepareStatement("INSERT INTO $table.name (#foreach ($column in $table.columns)#if (!$column.isAutoIncrement())$column.name#if( $velocityHasNext ),#end#end#end)"  
				+" VALUES (#foreach ($column in $table.columns)#if (!$column.isAutoIncrement())?#if( $velocityHasNext ),#end#end#end)" 
				, Statement.RETURN_GENERATED_KEYS);
		}
		int offset = 1;

#foreach ($column in $table.columns)
#if (!$column.isAutoIncrement())
		if ( ${column.javaName} == null )
			${table.javaName}StmtAuto.setNull(offset++, ${column.type});
		else
#if ($column.javaClass.equals("Integer"))
			${table.javaName}StmtAuto.setInt(offset++, ${column.javaName});
#elseif ($column.type == -4 )
			${table.javaName}StmtAuto.setBinaryStream(offset++, ${column.javaName});
#else
			${table.javaName}StmtAuto.set${column.javaClass}(offset++, ${column.javaName});
#end
#end
#end

		ResultSet rs = null;
		try {
			${table.javaName}StmtAuto.executeUpdate();
			rs = ${table.javaName}StmtAuto.getGeneratedKeys();
			return rs.next() ? rs.getInt(1) : null; 
		} 
		finally {
			if ( rs!= null )
				rs.close();
		}
	}

#end
#end

	public DBWriter( Connection connection) 
	throws SQLException {
		super(connection);
	}
	
	
	@Override
	protected void finalize() throws Throwable {
#foreach($table in $tables)
		if ( ${table.javaName}Stmt != null ) 
			${table.javaName}Stmt.close();
#if($table.isAutoIncrement())
		if ( ${table.javaName}StmtAuto != null ) 
			${table.javaName}StmtAuto.close();
#end
#end
		super.finalize();
	}
	
}
	
