::ng-deep{
  .new-query{
    flex-grow: 0;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    }

  .issue-query{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 56.6rem;
    margin-left: 2rem;
    }

  .button{
    display: flex;
    flex-direction: row-reverse;
    }

  .content-input-inbox{
    margin: 1.135rem 2.1rem 0.9rem 2rem;
  }

  .button-close-query{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .content-input-inbox .mat-form-field-wrapper {
    margin-bottom: 1rem;
  }

  .modal-inbox-fullscreen{
    visibility: hidden;
  }
}
