<form (ngSubmit)="sendMessage()">
  <ng-container>
<div class="modal-container">
  <div class="button-close-query">
    <app-icon shape="fullscreen"></app-icon>
    <app-icon shape="close" (click)="closeModal()"></app-icon>
  </div>
  <div class="issue-query">
    <div>
      <span class="new-query Roboto-24-sp-H5">
        {{ "INBOX.NEW_QUERY" | translate }}
      </span>
    </div>
  </div>
  <div class="content-input-inbox">
    <app-input
    (inputValue)="loadAdvisors($event)"
    [type]="'select'"
    [options]="advisorsList"
    [value]="this.advisors"
    [label]="'INBOX.ASSIGN_TO' | translate"
    >
    </app-input>
       <app-input
      [type]="'text'"
      [placeholder]="'INBOX.TEXT' | translate"
      [label]="'INBOX.SUBJECT' | translate"
      [value]="newMessageAsunto"
      (inputValue)="newMessageAsunto = $event"
    ></app-input>
    <app-input
      [type]="'textarea'"
      [placeholder]="'INBOX.TEXT' | translate"
      [label]="'INBOX.DESCRIPTION' | translate"
      [value]="newMessageDescription"
      (inputValue)="newMessageDescription = $event"
    ></app-input>
      <div class="button">
    <app-button [mat-dialog-close]="true" [class]="'*color *position left red'" [width]="'226px'" (click)="sendMessage()">
      <app-icon shape="send"></app-icon>
      {{ "COMMON.SEND" | translate }}
    </app-button>
  </div>
  </div>
</div>
</ng-container>
</form>

