@import 'src/styles.scss';
::ng-deep {
  app-table-tax-model {
    width: 100% !important;
    top: 0px;
  }

  :host {
    height: 100%;
    width: 100%;
  }

  .input-tax-model {
    display: flex;
    gap: $margin;
  }
  .no-models{
    display:flex;
    justify-content: center;
  }

}

