<app-grid-layout [contentCols]="24" [showDetail]="false">
  <div class="allSize" content style="overflow: auto">
    <mat-grid-list [cols]="24" [rowHeight]="'30rem'">
      <mat-grid-tile
        [gridCols]="{ xs: 1, sm: 1, md: 1, lg: 1, xl: 1 }"
      ></mat-grid-tile>
      <mat-grid-tile [gridCols]="{ xs: 22, sm: 22, md: 22, lg: 22, xl: 22 }">
     <app-tabs-tax-model></app-tabs-tax-model>

     <app-icon shape="edit" (click)="showModalEdit()"></app-icon>
     <app-modal-controller #modalEdit ></app-modal-controller>
     <app-icon shape="done_all" (click)="showModalPayment()" >
      <app-modal-controller #modalPayment ></app-modal-controller>
     </app-icon>
     <app-icon shape="eye" (click)="showModalTaxesDetails()" >
      <app-modal-controller #modalTaxesDetails ></app-modal-controller>
     </app-icon>

      </mat-grid-tile>
    </mat-grid-list>
    <!-- <app-modal-controller #modal ></app-modal-controller> -->
  </div>
</app-grid-layout>

