<app-content>
  <!-- Subir documentación -->
  <mat-grid-list class="breadcumb" [cols]="24" [rowHeight]="'7rem'">
    <mat-grid-tile
      [gridCols]="{ xs: 1, sm: 1, md: 1, lg: 1, xl: 1 }"
    ></mat-grid-tile>
    <mat-grid-tile class="breadcumb1" [gridCols]="{ xs: 22, sm: 22, md: 22, lg: 22, xl: 22 }">



      
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list class="breadcumb" [cols]="24" [rowHeight]="'26.25rem'">
    <mat-grid-tile
      [gridCols]="{ xs: 1, sm: 1, md: 1, lg: 1, xl: 1 }"
    ></mat-grid-tile>
    <mat-grid-tile class="breadcumb1"

      [gridCols]="{ xs: 22, sm: 22, md: 22, lg: 22, xl: 22 }"
    >

    </mat-grid-tile>
  </mat-grid-list>

















</app-content>
