/*************************/
/******  GENERICS  ******/
/*************************/
label[disabled], label[readonly],input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly]
{
 background-color: #dcdcdc;
 border: #bbbbbb 1px solid;

 cursor: default;
} 

/*************************/
/******  EDITTABLE  ******/
/*************************/
.aon-editDataTable-dateColumn{
	width:auto;
	text-align:center;
	}
/*************************/
/*******  ICONS  *********/
/*************************/	
.aon-icon-pdf{
	background:transparent url(../images/aon-icon-pdf-file.png) scroll left center no-repeat;
}

.aon-icon-excel{
	background:transparent url(../images/aon-icon-excel-file.png) scroll left center no-repeat;
}

.aon-icon-csv{
	background:transparent url(../images/aon-icon-csv-file.png) scroll left center no-repeat;
}

/* --------- MENU INICIO --------- */

.aon-scroll-area-menu .aon-portlets-column{
	vertical-align: top;
	}


.aon-scroll-area-menu .aon-portlets-column + .aon-portlets-column {
	padding-left: 25px;
	}
	
.aon-scroll-area-menu .aon-direct-access-list{
	margin:0;
	padding:0;
	padding-bottom:3px;
	list-style-type:none;
	display:block;
	width:100%;
}
.aon-scroll-area-menu .aon-direct-access-list div{
 	background:transparent url(../images/aon-ul-list.png) scroll left 4px no-repeat;
 	padding:1px 0 5px 15px;
 	border-bottom:#f2f2f2 1px solid;
}

.aon-scroll-area-menu #aon-content .aon-group{
	padding-bottom: 0;
	}

.aon-scroll-area-menu .aon-group-body {
	margin-top: -5px;
	padding: 0 8px;
	}
	
.aon-scroll-area-menu .aon-direct-access-list div {
	border: none;
	}
	
.aon-scroll-area-menu .aon-direct-access-list div a.aon-commandLink:hover {
	color: #619BDF;
	}
	
.aon-scroll-area-menu {
	padding:15px 26px;
	}
	
/* ---------- FORMS PRINCIPALES --------- */

.aon-scroll-area-principales td.aon-panelGrid-odd{
	width: 145px;
	min-width: 145px;
	white-space: normal;
	}
.aon-scroll-area-principales td.aon-panelGrid-even{
	width: 435px;
	min-width: 435px;
	}
.aon-scroll-area-principales table.aon-panelGrid {
	width: 1160px; 
	}

/* ---- tabla mantenimiento empresas ---- */

#homepage\3A empresaForm\3A datos5 td{
	vertical-align: top;
	padding: 0 5px;
	}
#homepage\3A actividadForm\3A datos5 td{
	vertical-align: top;
	padding: 0 5px;
	}	
	

#homepage\3A cnaeForm\3A listaOcupaciones .rich-shuttle-source-items td, #homepage\3A cnaeForm\3A listaOcupacionestlTable td{
	border:1px solid #CCC;
	border-right: none;
	
	
}

table#homepage\3A cnaeForm\3A listaOcupaciones, table#homepage\3A cnaeForm\3A listaOcupaciones table{
	border-collapse:collapse;
}

#homepage\3A cnaeForm\3A listaOcupaciones{
	margin: 10px auto;
}

.tablasmini {
	width:550px;
}

/* ---------- FORMS PRINCIPALES --------- */

.aon-scroll-area-search td.aon-panelGrid-odd{
	width: 120px;
	min-width: 120px;
	white-space: normal;
	}
.aon-scroll-area-search td.aon-panelGrid-even{
	width: 415px;
	min-width: 415px;
	}
.aon-scroll-area-search table.aon-panelGrid {
	width: 1100px; 
}

/* ---------- FORMS NOMINAS --------- */

.aon-scroll-area-nom td.aon-panelGrid-odd{
	width:450px;
	min-width: 450px;
	max-width: 450px;
	white-space: normal;
	}
.aon-scroll-area-nom td.aon-panelGrid-even{
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	}
.aon-scroll-area-nom table.aon-panelGrid {
	width: 1100px; 

}

/* ---------- FORMSSIMU --------- */

.aon-scroll-area-sim td.aon-panelGrid-odd{
	width:100px;
	min-width: 100px;
	max-width: 100px;
	white-space: normal;
	}
.aon-scroll-area-sim td.aon-panelGrid-even{
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	}
.aon-scroll-area-sim table.aon-panelGrid {
	width: 300px; 

}


	/* ---------- FORMSSIMU --------- */

.aon-scroll-area-sim2 td.aon-panelGrid-odd{
	width:200px;
	min-width: 200px;
	max-width: 200px;
	white-space: normal;
	}
.aon-scroll-area-sim2 td.aon-panelGrid-even{
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	}
.aon-scroll-area-sim2 table.aon-panelGrid {
	width: 300px; 

}
	
	
	
.aon-calendar-button tr td {
	width: 15px;
}

	/* ---------- TOOLBAR FLUJO DE PROCESO --------- */
.flow-toolbar{
		
}

.flow-button{
		
}
	
.flow-button-disabled{
		
}
	
