body {
	font-family: ${font_fuente_texto_pagina};
	font-size: ${size_tamano_texto_pagina};
	background-color: ${bgcolor_color_fondo_pagina};
	margin-top:100px;
}	
a:link, a:visited, a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#main {
	width:800px;
	background-color: ${bgcolor_color_fondo_contenido};
	color: ${color_color_texto_contenido};
	border: ${border_tamano_borde_pagina} ${color_color_borde_pagina} solid;
	margin: 50px auto 0px auto;
	padding: 0px 20px 0 20px
}
#head { 
	text-align: center;
	width: 800px;
	background-color: ${bgcolor_color_fondo_cabecera};
	color: ${color_color_texto_cabecera};
	font-weight: normal;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding:20px;
	margin-left:-20px;
}

#head img{
margin-right:600px;
}

#menu {

	margin: 20px 0px 50px 100px;
	padding: 0px;
	color: ${color_color_texto_menu};
	font-weight: normal;
	font-size: ${size_tamano_texto_menu};
	text-align:right;
}
#menu li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}
#menu a {
	font-size: ${size_tamano_texto_menu};
	font-weight: bold;
	color: ${color_color_texto_menu};
	text-decoration: none;
}
#menu a:hover {
	color: ${color_color_texto_menu_hover};
	text-decoration: none;
}
#content {
	color: ${color_color_texto_contenido};
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
}
#content h1 {
	font-size: ${size_tamano_texto_titulo};
	color:${color_color_texto_titulo};
}
#content h1 a:link, a:visited, a:active {
	font-weight: normal;
}
#content h1 a:hover {
	text-decoration: underline;
}
#content h2 { 
	font-size: ${size_tamano_texto_titulo};
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ff6666;
}
#foot {
	text-align: center;
	color: ${color_color_texto_pie};
	font-size:9px;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	background-color:#DDDDDD;
	font-size:9px;
	margin-left:255px;
	padding:17px;
	text-align:justify;
	width:425px;
}
.gallery-navigation{
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
	padding:20px;
	}
.copiesferalia a{
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente_texto_pie} ;
	font-size: 9px;
	color:${color_color_texto_pie};
	text-decoration:underline;
	}
.album {
	height:400px;
	text-align:center;
}
.objeto {
	float:left;
	padding:10px;
}
td img{
padding:20px;}