body {
	font-family: ${font_fuente};
	font-size: ${size_tamano_de_fuente};
	background-color: ${bgcolor_color_de_fondo};
}	
a:link, a:visited, a:active {
	color: ${color_color_de_texto_link};
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: ${color_color_de_texto_link_hover};
}
#main {
	width:800px;
	background-color: ${bgcolor_color_de_fondo};
	color: ${color_color_de_texto_contenido};
	border: ${border_bordes} ${color_color_de_borde} solid;
	margin: 50px auto 0px auto;
	padding: 0px 20px 0 20px
}
#head { 
	text-align: center;
	width: 113px;
	background-color: ${bgcolor_color_de_fondo_cabecera};
	color: ${color_color_de_texto_cabecera};
	font-family: ${font_fuente};
	font-weight: normal;
	font-size: ${size_tamano_de_fuente};
	letter-spacing: 5px;
	text-transform: uppercase;
	padding:20px;
}
#menu {

	margin: -26px 0px 50px 100px;
	padding: 0px 0px 0px 0px;
	color: ${color_color_de_texto_menu};
	font-family: ${font_fuente};
	font-weight: normal;
	font-size: ${size_tamano_de_fuente};
	text-align:right;
}
#menu li {
	list-style: none;
	display: inline;
	margin-right: 20px;
}
#menu a {
	font-size: ${size_tamano_de_fuente};
	font-weight: bold;
	color: ${color_color_de_texto_menu};
	text-decoration: none;
}
#menu a:hover {
	color: ${color_color_de_texto_menu_hover};
	text-decoration: none;
}
#content {
	color: ${color_color_de_texto_contenido};
	font-family: ${font_fuente}
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
}
#content h1 {
	font-size: ${size_tamano_de_fuente_contenido};
}
#content h1 a:link, a:visited, a:active {
	color: ${color_color_de_texto_link};
	font-family: ${font_fuente};
	font-weight: normal;
}
#content h1 a:hover {
	text-decoration: underline;
	font-family: ${font_fuente};
	color: ${color_color_de_texto_link_hover};
}
#content h2 { 
	font-size: ${size_tamano_de_fuente};
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ff6666;
}
#foot {
	text-align: center;
	color: ${color_color_de_texto_pie};
	font-size:9px;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	background-color:#DDDDDD;
font-size:9px;
margin-left:255px;
padding:17px;
text-align:justify;
width:425px;
}
.gallery-navigation{
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	padding:20px;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
.album {
	height:400px;
	text-align:center;
}
.objeto {
	float:left;
	padding:10px;
}
td img{
padding:20px;}