<app-grid-layout>
<!--SIDENAV-->
  <div nav>
    <!--CREATE BUTTON-->
    <div id="button-create">
      <app-button
        *ngIf="selectedTab !== 2 && selectedTab !== 3"
        [class]="'red left'"
        (click)="openCreateQueryComponent()"
      >
        <app-icon shape="add_comment"></app-icon>
        {{ "INBOX.CREATE" | translate }}
      </app-button>
    </div>
    <!--FIN CREATE BUTTON-->
    <!--List -->
    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 0"
    >
      <app-icon
        shape="all_inbox"
      ></app-icon>
      &nbsp;&nbsp; {{ "INBOX.INBOX" | translate }}
    </app-button>

    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 1"
    >
      <app-icon
        shape="chat"
      ></app-icon>
      &nbsp;&nbsp; {{ "INBOX.QUERIES" | translate }}
    </app-button>

    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 2"
    >
      <app-icon
        shape="playlist_add_check"
      ></app-icon>
      &nbsp;&nbsp; {{ "INBOX.TASKS" | translate }}
    </app-button>
    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 3"
    >
      <app-icon
        shape="notifications_none"
      ></app-icon>
      &nbsp;&nbsp; {{ "INBOX.NOTIFICATIONS" | translate }}
    </app-button>
    <!--FIN List -->
  </div>
<!--FIN SIDENAV-->
<!--CONTENIDO-->
  <div  content>
    <div class="margin width-40" *ngIf="selectedTab !== 4">
      <app-input
        [appearance]="'outline'"
        [class]="'search'"
        [type]="'search'"
      ></app-input>
    </div>
    <ng-container *ngIf="selectedTab == 0">
      <app-table-component></app-table-component>
    </ng-container>
    <ng-container *ngIf="selectedTab == 1">
      <app-tabs
        [tabs]="tabsConsultas"
        (changeTabIndex)="this.tabIndex = $event"
        [tabColor]="'#f6655a'"
        [paddingLeftHeader]="'1rem'"
      >
        <div tool>
          <span>{{ "INBOX.THIS_WEEK" | translate }}</span
          >&nbsp;&nbsp;<app-icon
            shape="more_vert"
            color="black"
            size="1.2rem"
          ></app-icon>
        </div>
        <div content *ngIf="this.tabIndex == 0">
          <app-table-queries
            [filterStatus]="['abierta', 'cerrada']"
          ></app-table-queries>
        </div>
        <div content *ngIf="this.tabIndex == 1">
          <app-table-queries [filterStatus]="['abierta']"></app-table-queries>
        </div>
        <div content *ngIf="this.tabIndex == 2">
          <app-table-queries [filterStatus]="['cerrada']"></app-table-queries>
        </div>
      </app-tabs>
    </ng-container>

    <ng-container *ngIf="selectedTab == 2">
      <app-tabs
        [tabs]="tabsTareas"
        (changeTabIndex)="this.tabIndex = $event"
        [tabColor]="'#f6655a'"
        [paddingLeftHeader]="'1rem'"
      >
        <div tool>
          <span>{{ "INBOX.THIS_WEEK" | translate }}</span
          >&nbsp;&nbsp;<app-icon
            shape="more_vert"
            color="black"
            size="1.2rem"
          ></app-icon>
        </div>
        <div content *ngIf="this.tabIndex == 0">
          <app-table-tasks
            [filterStatus]="['realizada', 'pendiente']"
            (noPendingTasks)="showNoTasksMessage($event)"
          ></app-table-tasks>
          <ng-template #noTasks *ngIf="noTasksMessage"
            >{{ "INBOX.NO_PENDING_TASKS" | translate }}</ng-template
          >
        </div>
        <div content *ngIf="this.tabIndex == 1">
          <app-table-tasks [filterStatus]="['pendiente']"></app-table-tasks>
        </div>
        <div content *ngIf="this.tabIndex == 2">
          <app-table-tasks [filterStatus]="['realizada']"></app-table-tasks>
        </div>
      </app-tabs>
    </ng-container>
    <ng-container *ngIf="selectedTab == 3">
      <div class="tabContent">
        <app-tabs
          [tabs]="tabsNotificaciones"
          (changeTabIndex)="this.tabIndex = $event"
        >
          <div tool>
            <span>{{ "INBOX.THIS_WEEK" | translate }}</span
            >&nbsp;&nbsp;<app-icon
              shape="more_vert"
            ></app-icon>
          </div>
          <div content *ngIf="this.tabIndex == 0">
            <app-table-notifications
              [filterStatus]="['nueva', 'vista']"
            ></app-table-notifications>
          </div>
          <div content *ngIf="this.tabIndex == 1">
            <app-table-notifications
              [filterStatus]="['nueva']"
            ></app-table-notifications>
          </div>
          <div content *ngIf="this.tabIndex == 2">
            <app-table-notifications
              [filterStatus]="['vista']"
            ></app-table-notifications>
          </div>
        </app-tabs>
      </div>
    </ng-container>
    <app-create-query *ngIf="selectedTab === 4"></app-create-query>
  </div>
<!--FIN CONTENIDO-->
<!--Detail-->
  <div detail *ngIf="showDetail">

  </div>
<!--FIN Detail-->
</app-grid-layout>
