<app-grid-layout>
  <!--SIDENAV-->
  <div nav>
    <!--CREATE BUTTON-->
    <div id="space" *ngIf="selectedTab !== 0 && selectedTab !== 1"></div>
    <div id="button-create">
      <app-button
        *ngIf="selectedTab !== 2 && selectedTab !== 3"
        [class]="'red left'"
        (click)="showModal()"
      >
        <app-icon shape="add_comment"></app-icon>
        {{ "INBOX.CREATE" | translate }}
      </app-button>
      <app-modal-controller #modal>
        <app-create-query *ngIf="isModalVisible"></app-create-query>
      </app-modal-controller>
    </div>
    <!--FIN CREATE BUTTON-->
    <!--List -->
    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 0; onTabChange()"
    >
      <app-icon shape="all_inbox"></app-icon>
      &nbsp;&nbsp; {{ "INBOX.INBOX" | translate }}
    </app-button>

    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 1; onTabChange()"
    >
      <app-icon shape="chat"></app-icon>
      &nbsp;&nbsp; {{ "INBOX.QUERIES" | translate }}
    </app-button>

    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 2; onTabChange()"
    >
      <app-icon shape="playlist_add_check"></app-icon>
      &nbsp;&nbsp; {{ "INBOX.TASKS" | translate }}
    </app-button>
    <app-button
      [width]="'100%'"
      [class]="'left'"
      (click)="selectedTab = 3; onTabChange()"
    >
      <app-icon shape="notifications_none"></app-icon>
      &nbsp;&nbsp; {{ "INBOX.NOTIFICATIONS" | translate }}
    </app-button>
    <!--FIN List -->
  </div>
  <!--FIN SIDENAV-->
  <!--CONTENIDO-->
  <div content class="padding" id="cursor">
    <div class="margin width-40" *ngIf="selectedTab !== 4">
      <app-input
        [appearance]="'outline'"
        [class]="'search'"
        [type]="'search'"
        [placeholder]="'INBOX.TEXT' | translate"
      ></app-input>
    </div>
    <ng-container *ngIf="selectedTab == 0">
      <div *ngIf="this.tabIndex == 0">
        <app-table-component></app-table-component>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTab == 1">
      <app-tabs
        [tabs]="tabsConsultas"
        (changeTabIndex)="this.tabIndex = $event"
        [paddingLeftHeader]="'1rem'"
        [tabColor]="'red'"
      >
        <div tool>
          <span>{{ "INBOX.THIS_WEEK" | translate }}</span>
          <app-icon shape="more_vert"></app-icon>
        </div>
        <div content *ngIf="this.tabIndex == 0">
          <app-table-queries
            (rowClicked)="rowClickHandler($event)"
          ></app-table-queries>
        </div>
        <div content *ngIf="this.tabIndex == 1">
          <app-table-queries [filterStatus]="['abierta']"></app-table-queries>
        </div>
        <div content *ngIf="this.tabIndex == 2">
          <app-table-queries [filterStatus]="['cerrada']"></app-table-queries>
        </div>
      </app-tabs>
    </ng-container>

    <ng-container *ngIf="selectedTab == 2">
      <app-tabs
        [tabs]="tabsTareas"
        (changeTabIndex)="this.tabIndex = $event"
        [paddingLeftHeader]="'1rem'"
        [tabColor]="'red'"
      >
        <div tool>
          <span>{{ "INBOX.THIS_WEEK" | translate }}</span>
          <app-icon shape="more_vert"></app-icon>
        </div>
        <div content *ngIf="this.tabIndex == 0">
          <app-table-tasks
            (noPendingTasks)="showNoTasksMessage($event)"
            (rowClicked)="rowClickHandler($event)"
          ></app-table-tasks>
          <ng-template #noTasks *ngIf="noTasksMessage">{{
            "INBOX.NO_PENDING_TASKS" | translate
          }}</ng-template>
        </div>
        <div content *ngIf="this.tabIndex == 1">
          <app-table-tasks [filterStatus]="['pendiente']"></app-table-tasks>
        </div>
        <div content *ngIf="this.tabIndex == 2">
          <app-table-tasks [filterStatus]="['realizada']"></app-table-tasks>
        </div>
      </app-tabs>
    </ng-container>
    <ng-container *ngIf="selectedTab == 3">
      <app-tabs
        [tabs]="tabsNotificaciones"
        (changeTabIndex)="this.tabIndex = $event"
        [paddingLeftHeader]="'1rem'"
        [tabColor]="'red'"
      >
        <div tool>
          <span class="margin-right">{{ "INBOX.THIS_WEEK" | translate }}</span>
          <app-icon shape="more_vert"></app-icon>
        </div>
        <div content *ngIf="this.tabIndex == 0">
          <app-table-notifications
            (rowClicked)="rowClickHandler($event)"
          ></app-table-notifications>
        </div>
        <div content *ngIf="this.tabIndex == 1">
          <app-table-notifications
            [filterStatus]="['nueva']"
          ></app-table-notifications>
        </div>
        <div content *ngIf="this.tabIndex == 2">
          <app-table-notifications
            [filterStatus]="['vista']"
          ></app-table-notifications>
        </div>
      </app-tabs>
    </ng-container>
  </div>

  <!--FIN CONTENIDO-->
  <!--Detail-->
  <div detail *ngIf="showDetail">
    <div *ngIf="messagesChat">
      <div class="content-state">
        <div class="state">
          <p>{{ messagesData.Status }}</p>
        </div>
        <div class="icons" *ngIf="selectedTab === 1 || selectedTab === 2">
          <app-icon shape="reply"></app-icon>
          <app-icon shape="archive"></app-icon>
        </div>
      </div>
      <hr />
      <div class="content-head-message">
        <div class="arrow-title">
          <app-icon class="icon-back" shape="arrow_back"></app-icon>
          <p class="title">{{ messagesData.Title }}</p>
        </div>
      </div>
      <div *ngIf="selectedTab === 1">
        <div *ngFor="let messageChat of messagesChat; let i = index">
          <div class="chat">
            <p class="name">{{ messageChat.Name }}</p>
            <p class="description">{{ messageChat.Description }}</p>
            <p class="date">
              {{ datepipe.transform(messageChat.Date, "EEEE, HH:mm") }}
            </p>
          </div>
          <hr />
        </div>
      </div>
      <div *ngIf="selectedTab === 2">
        <div class="content-tasks">
          <p class="name-tasks">{{ messagesData.Name }}</p>
          <p class="descrption-tasks">{{ messagesData.Description }}</p>
        </div>
        <div class="content-btn-inbox">
          <app-button
            class="btn-inbox-01"
            [class]="'red left'"
            [width]="'100%'"
          >
            <app-icon shape="playlist_add_check"></app-icon>
            Tramitar
          </app-button>
          <app-button
            class="btn-inbox-01"
            [class]="'red left'"
            [width]="'100%'"
          >
            <app-icon shape="chat"></app-icon>
            Consultar
          </app-button>
        </div>
      </div>
      <div *ngIf="selectedTab === 3">
        <div class="content-tasks">
          <p class="name-tasks">{{ messagesData.Name }}</p>
          <p class="descrption-tasks">{{ messagesData.Description }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--FIN Detail-->
</app-grid-layout>
