<!--SIDENAV-->
<app-grid-layout [navCols]="4" [contentCols]="10" [detailCols]="10" [showDetail]="false">
        <div class="allSize" nav style="overflow: auto;">
            <app-list-element >
                <!--CREATE BUTTON-->
                <div class="contentButton">
                    <app-button [class]="'red left'" [padding]="'0rem 1rem'"  (click) = "showModal()">
                        <app-icon shape="add_comment" size="14"></app-icon>
                        CREAR
                        </app-button>
                        <app-modal-controller #modal></app-modal-controller>
                    </div>
                </app-list-element>
    <app-card 
        [height]="'15rem'">
        <div body class="allSize " >
            <app-list-element >
                <app-button  [width]="'15.5rem'" [height]="'2.8rem'" [color]="'black'" [backgroundColor]="'white'" [hoverBackgroundColor]="'#feedec'" 
                [border]="' #f6655a'" 
                [align]="'left'" 
                [fontSize]="'18px'"
                (click)="selectedTab = 0">
                    <app-icon shape="all_inbox" [size]="'1.2rem'" [color]="'#f6655a'"></app-icon>
                        &nbsp;&nbsp; Bandeja
                    </app-button>
                    
                <app-button [width]="'15.5rem'" [height]="'2.8rem'" [color]="'black'" [backgroundColor]="'white'" [hoverBackgroundColor]="'#feedec'" 
                    [border]="' #f6655a'" 
                    [align]="'left'" 
                    [fontSize]="'18px'"
                    (click)="selectedTab = 1">
                    <app-icon shape="chat" [size]="'1.2rem'" [color]="'#f6655a'"></app-icon>
                            &nbsp;&nbsp; Consultas
                        </app-button>

                    <app-button class = 'create' [width]="'15.5rem'" [height]="'2.8rem'" [color]="'black'" [backgroundColor]="'white'" [hoverBackgroundColor]="'#feedec'" 
                    [border]="' #f6655a'" 
                    [align]="'left'" 
                    [fontSize]="'18px'"
                    (click)="selectedTab = 2">
                    <app-icon shape="playlist_add_check" [size]="'1.2rem'" [color]="'#f6655a'"></app-icon>
                            &nbsp;&nbsp; Tareas
                        </app-button>
                    <app-button [width]="'15.5rem'" [height]="'2.8rem'" [color]="'black'" [backgroundColor]="'white'" [hoverBackgroundColor]="'#feedec'" 
                    [border]="' #f6655a'" 
                    [align]="'left'" 
                    [fontSize]="'18px'"
                    (click)="selectedTab = 3">
                    <app-icon shape="notifications_none" [size]="'1.2rem'" [color]="'#f6655a'"></app-icon>
                            &nbsp;&nbsp; Notificaciones
                        </app-button>
                </app-list-element>
            </div>
        </app-card>
    </div>
        <!--CONTENIDO INBOX-->
        <div class="allSize" content style="overflow: auto; padding: 1rem">
            <div style="width: 50%;margin: 1rem;">
                <app-input [label]="'search'"></app-input>
            </div>
            <ng-container *ngIf="selectedTab == 0">
                <app-table-component></app-table-component>
                
            </ng-container>
            <ng-container *ngIf="selectedTab == 1">
                
                <app-tabs [tabs]="tabsConsultas" (changeTabIndex)="this.tabIndex = $event" [tabColor]="'#f6655a'" [paddingLeftHeader]="'1rem'">
                    <div tool><span>Esta semana</span>&nbsp;&nbsp;<app-icon shape="more_vert" color="black" size="1.2rem"></app-icon></div>
                    <div content *ngIf="this.tabIndex == 0">Consultas</div>
                    <div content *ngIf="this.tabIndex == 1">content 2</div>
                    <div content *ngIf="this.tabIndex == 2">content 3</div>

                </app-tabs>
            </ng-container>
            
            <ng-container *ngIf="selectedTab == 2">
                <app-tabs [tabs]="tabsTareas" (changeTabIndex)="this.tabIndex = $event" [tabColor]="'#f6655a'" [paddingLeftHeader]="'1rem'">
                    <div tool><span>Esta semana</span>&nbsp;&nbsp;<app-icon shape="more_vert" color="black" size="1.2rem"></app-icon></div>
                    <div content *ngIf="this.tabIndex == 0">content 1</div>
                    <div content *ngIf="this.tabIndex == 1">content 2</div>
                    <div content *ngIf="this.tabIndex == 2">content 3</div>
                </app-tabs>
            </ng-container>
            <ng-container *ngIf="selectedTab == 3">
                <div class="tabContent">
                    <app-tabs [tabs]="tabsNotificaciones" (changeTabIndex)="this.tabIndex = $event" [tabColor]="'#f6655a'" [paddingLeftHeader]="'1rem'">
                        <div tool><span>Esta semana</span>&nbsp;&nbsp;<app-icon shape="more_vert" color="black" size="1.2rem"></app-icon></div>
                        <div content *ngIf="this.tabIndex == 0">content 1</div>
                        <div content *ngIf="this.tabIndex == 1">content 2</div>
                        <div content *ngIf="this.tabIndex == 2">content 3</div>
                    </app-tabs>
                </div>
               
            </ng-container>
        </div>
</app-grid-layout>
