@import "src/styles.scss";
<<<<<<< Updated upstream
=======

.contentButton{
    padding: 1.25rem;
    display: flex;
}

.content-center {
  width: 100%;
  height: 70%;
  padding-top: 1rem;
}

.bandeja-Min {
  width: 1920px;
  height: 1412px;
  flex-grow: 0;
  background-color: #fff;
}
>>>>>>> Stashed changes
