@import "src/styles.scss";

::ng-deep {

  .text {
    font-family: 'Roboto-Bold';
  }

  .subtitle {
    color: $color-secondary;
  }

  .dashboard-billing [body] {
    display: flex;
    gap: $margin;
    height: 11.8rem;
  }

  .dashboard-billing [body] .import {
    width: 15rem !important;
  }

  .dashboard-billing [body] .chart {
    height: 11.8rem;
  }

  .no-selected {
    color: $color-secondary;
    z-index: 2;
  }

  .selected {
    color: $color-primary;
    border-bottom: $border-button-dark;
    z-index: 2;
  }
}
