
<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="example-full-width tedi-form-field">
        <input #name matInput placeholder="Nombre" [value]="userService.user.name"
              (change)="updateUserName(name.value)">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #surname matInput placeholder="Apellidos" [value]="userService.user.surname"
              (change)="updateUserSurname(surname.value)">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #document matInput placeholder="DNI/NIE" [value]="userService.user.document"
              (change)="updateUserDocument(document.value)">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #phone matInput placeholder="Teléfono Móvil" [value]="userService.user.phone"
          (change)="updateUserPhone(phone.value)">
      </mat-form-field>

      <mat-form-field class="example-full-width tedi-form-field">
        <input #email matInput placeholder="Email" disabled [value] = "userService.user.email">
      </mat-form-field>

      <mat-form-field *ngIf="isMe" class="example-full-width tedi-form-field">
        <input #password matInput placeholder="Contraseña" type="password" disabled value="********">
        <mat-icon matSuffix class="tedi-icon" (click)="changePassword()">edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
