body {
	font-family: ${font_fuente};
	font-size: ${size_tamano_de_fuente};
	background: url(images/background.gif) repeat-x top ${bgcolor_color_de_fondo};
	margin: 0 auto;
	width:750px;
}
a {
	color: ${color_color_de_texto_link};
	font-weight: bold;
}
a:hover {
	color: ${color_color_de_texto_link_hover};
}
#container {
	width: 750px;
	margin: 0 auto;
}
#header {
	height: 90px;
	padding-bottom: 20px;
}
#header ul.navigation {
	list-style: none;
}
#header ul.navigation li {
	float: left;
	display: block;
}
#header ul.navigation li a {
	float: left;
	display: block;
	width: 101px;
	height: 27px;
	text-decoration: none;
	text-align: center;
	padding-top: 7px;
	color: #275b7e;
	font-weight: bold;
	background: url(images/nav.gif) no-repeat top;
}
#header ul.navigation li a:hover {
	background: url(images/nav-hover.gif) no-repeat top;
	color: ${color_color_de_texto_menu};
}
#content {
	clear: both;
	width: 750px;
	padding-bottom: 20px;
	margin-top: 10px;
	background: url(images/content-top.gif) no-repeat top ${bgcolor_color_de_fondo_contenido};
}
.post {
	width: 570px;
	padding: 20px;
	padding-bottom: 0;
	float: left;
}
.post h2 {
	font-weight: lighter;
	color: #275b7e;
	padding-top: 10px;
	font-size:24px;
	letter-spacing: -1px;
}
.post  p {
	line-height: 1.6em;
	font-size: ${size_tamano_de_fuente};
	color: #333333;
	padding-bottom: 10px;
}
.post span.info {
	background: #e5e4e4;
	border: 1px solid #c2bebe;
	padding: 3px;
	width: 580px;
	display: block;
	color: ${color_color_de_texto_link_hover};
	font-size: ${size_tamano_de_fuente};
}
#menu {

	float: right;
	
}
#menu h2 {
	width: 225px;
	height: 43px;
	padding-top: 10px;
	text-align: center;
	color: #777;
	font-weight: bold;
	letter-spacing: -1px;
	background: url(images/sidebar-header.gif) no-repeat top;
}
#menu ul {
	list-style: none;
}
#menu ul li {
	display: block;
	width: 240px;
}
#menu ul li a {
	display: block;
	width: 210px;
	padding: 5px 0;
	padding-left: 15px;
	border-top: ${color_color_borde_arriba} ${border_bordes} solid;
	border-bottom: ${color_color_borde_abajo} ${border_bordes} solid;
	text-decoration: none;
	color: ${bgcolor_color_de_fondo_menu_hover};
	font-weight: bold;
	background: url(images/arrow.gif) no-repeat left;
}
#menu ul li a:hover {
	background: url(images/arrow.gif) no-repeat left ${bgcolor_color_de_fondo_menu_hover};
	color: #fff;
}
#foot {
	background: url(images/content-bottom.gif) no-repeat top;
	width: 750px;
	padding: 30px 0;
	padding-bottom: 10px;
	text-align: center;
	font-size: ${size_tamano_de_fuente_pie};
	color: ${color_color_de_texto_pie};
}
#foot a {
	color: ${color_color_de_texto_pie};
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:330px; 
	padding:5px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:${color_color_de_texto_contenido};
}
.gallery-navigation a{
	color:${color_color_de_texto_contenido};
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:15px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}

.album {
	height:400px;
	text-align:center;
	margin-left:50px;
}
.album a{
	text-decoration:none;
	color:${color_color_de_texto_contenido};
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:${color_color_de_texto_contenido};
}