<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<session-config>
		<session-timeout>33</session-timeout>
	</session-config>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/faces-config.xml
		</param-value>
	</context-param>

	<context-param>
		<description>
			State saving method: "client" or "server" (= default) See
			JSF Specification 2.5.2
		</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<context-param>
		<description>Use Documents Saved as *.xhtml</description>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<context-param>
		<description>
			Setting this to true will cause the FaceletViewHandler to
			print out debug information in an easy to use screen when an
			error occurs during the rendering process.
		</description>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.REFRESH_PERIOD</param-name>
		<param-value>-1</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.BUFFER_SIZE</param-name>
		<param-value>500000</param-value>
	</context-param>
	
	<context-param>
		<param-name>facelets.RESOURCE_RESOLVER</param-name>
		<param-value>com.code.aon.ui.resources.TemplateResolver</param-value>
	</context-param>
	
	<context-param>
		<description>
			Set this flag to true if you want the JavaServer Faces
			Reference Implementation to validate the XML in your
			faces-config.xml resources against the DTD. Default value is
			false.
		</description>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<context-param>
		<description>
			Set this flag to true if you want the JavaServer Faces
			Reference Implementation to verify that all of the
			application objects you have configured (components,
			converters, renderers, and validators) can be successfully
			created. Default value is false.
		</description>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<context-param>
		<param-name>com.sun.faces.displayConfiguration</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>com.sun.faces.responseBufferSize</param-name>
		<param-value>500000</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>5</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>10</param-value>
	</context-param>	
	
	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>
	
	<context-param>
		<description>Define que los recursos no expiren en 100 dias</description>
		<param-name>org.ajax4jsf.DEFAULT_EXPIRE</param-name>
		<param-value>8640000</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.ajax4jsf.RESOURCE_URI_PREFIX</param-name>
		<param-value>../aon-desktop/richFaces3.2.1/</param-value>
	</context-param>
	
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>aon</param-value>
	</context-param>
	
	<!-- BackDoorAuthentication Filter -->
	<filter>
		<filter-name>BackDoorAuthenticationFilter</filter-name>
		<filter-class>com.code.aon.bridge.session.BackDoorAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BackDoorAuthenticationFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<!-- Sessions Filter -->
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>
			com.code.aon.bridge.session.SessionFilter
		</filter-class>
	</filter>
	
	<!-- Enables and Registers session for concurrent sessions -->
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- Listener, that does all the startup work (configuration, init). -->
	<listener>
		<listener-class>
			com.sun.faces.config.ConfigureListener
		</listener-class>
	</listener>
	
	<!-- Listener, that enables Concurrent Sessions per User. -->
	<listener>
		<listener-class>
			com.code.aon.bridge.session.ConcurrentSessionListener
		</listener-class>
	</listener>
	
	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.sjsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
		<init-param>
			<param-name>forceparser</param-name>
			<param-value>false</param-value>
		</init-param>				
	</filter>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- CID image Servlet -->
	<servlet>
		<servlet-name>CidServlet</servlet-name>
		<servlet-class>
			com.code.aon.ui.webmail.servlet.CidServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CidServlet</servlet-name>
		<url-pattern>*.cid</url-pattern>
	</servlet-mapping>
	
	<!-- Resource Servlet -->
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>
			com.code.aon.ui.resources.servlet.ResourceServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>				
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/aonResource/*</url-pattern>
	</servlet-mapping>

	<!-- FCK Faces Servlet -->
	<servlet>
		<servlet-name>InputRichText Servlet</servlet-name>
		<servlet-class>
			com.code.aon.faces.component.richfaces.inputRichText.InputRichTextServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputRichText Servlet</servlet-name>
		<url-pattern>/fckfaces/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>org.fckfaces.CUSTOM_CONFIGURATIONS_PATH</param-name>
		<param-value>/js/fckconfig.js</param-value>
	</context-param>
	
	<!-- Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Security Constraint -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>facelet</web-resource-name>
			<url-pattern>/facelet/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>webmail</web-resource-name>
			<url-pattern>/webmail/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>groupware</web-resource-name>
			<url-pattern>/groupware/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>jsf</web-resource-name>
			<url-pattern>*.jsf</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>jsp</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Manager</role-name>
			<role-name>User</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/com/code/aon/ui/resources/facelet/login/login.jspx</form-login-page>
			<form-error-page>/com/code/aon/ui/resources/facelet/login/errorlogin.jspx</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>Manager</role-name>
	</security-role>
	<security-role>
		<role-name>User</role-name>
	</security-role>
	
	<resource-env-ref>
		<resource-env-ref-name>jdbc/AonWebmail</resource-env-ref-name>
		<resource-env-ref-type>
			javax.sql.DataSource
		</resource-env-ref-type>
	</resource-env-ref>
	
</web-app>
