.aon-commandButton{
	padding:0 0.5em 0 1.5em !important;
}

#aon-content .aon-table-header-link:hover {
	text-decoration: underline;
}
#aon-content .aon-table-header-link:visited{
	text-decoration: none;
}

.aon-row-auxiliary {
	color: #8D8D8D;
	font-size: 0.9em;
	padding-bottom: 0px;
	padding-top: 0px; 
}
.aon-row-auxiliary a{
	color: #8D8D8D;
}

.aon-portlets-column{
	vertical-align:top;
	padding: 0 5px;
}

.aon-panel-title {
	text-transform:uppercase;
	margin-bottom:0.5em;	
}

.aon-panelGrid2-odd{
	width: 115px;
	border:#c4c4c4 1px solid;
	background-color:#ffffff;
	white-space: nowrap;
	padding:1px 0.5em 1px 0.5em;
	vertical-align:top;
	text-align: right;
}
.aon-panelGrid2-even{
	width: 60px;
	border:#c4c4c4 1px solid;
	border-collapse: collapse;
	background-color:#f2f2f2;
	white-space: nowrap;
	padding:1px 0.5em 1px 0.5em;
	vertical-align:top;
	text-align: center;
}
.aon-panelGrid2-header-first{
	width: 150px;
	border:#c4c4c4 1px solid;
	border-collapse: collapse;
	background-color:#f2f2f2;
	white-space: nowrap;
	vertical-align:middle;
}
.aon-panelGrid2-header{
	border-collapse: collapse;
	width: 300px;
	border:#c4c4c4 1px solid;
	background-color:#ffffff;
	white-space: nowrap;
	vertical-align:top;
}
.aon-panelGrid2-header-text{
	font-weight: bold;
	text-align: center;
	background-color:#f2f2f2;
}
.aon-panelGrid2-total-text{
	font-style: italic;
	font-weight: bold;
	background-color:#f2f2f2;
}
.aon-panelGrid2-total-title{
	font-weight: normal;
	font-style: italic;
	text-align: right;
	padding-right: 5px;
	background-color:#ffffff;
}

.aon-dataTable-link-noicon {}
.aon-dataTable-link-noicon:hover {
	color: #285E9C; 
	text-decoration: underline;
}

.aon-icon-winsuite{
	background:transparent url(images/aon-icon/aon-icon-winsuite.png) no-repeat scroll center left;
}
.aon-icon-redtrabaja{
	background:transparent url(images/aon-icon/aon-icon-redtrabaja.png) no-repeat scroll center left;
}
.aon-icon-contrata{
	background:transparent url(images/aon-icon/aon-icon-contrata.png) no-repeat scroll center left;
}
.aon-icon-pdf-disabled{
	background:transparent url(images/aon-icon/aon-icon-pdf-disabled.png) no-repeat scroll center left;
}
.aon-icon-zoom-increase{
	background:transparent url(images/aon-icon/aon-icon-zoom-increase.png) no-repeat scroll center left;
}
.aon-icon-zoom-decrease{
	background:transparent url(images/aon-icon/aon-icon-zoom-decrease.png) no-repeat scroll center left;
}
.aon-icon-calendar{
	background:transparent url(images/aon-icon/aon-icon-calendar.png) scroll left center no-repeat;	
}
.aon-icon-contract-calendar{
	background:transparent url(images/aon-icon/aon-icon-contract-calendar.png) scroll left center no-repeat;	
}
.aon-icon-file-generic{
	background:transparent url(../images/aon-icon/aon-icon-file.png) scroll left center no-repeat;	
 }
.aon-background-shadow{
	background-image:url(images/background-shadow.jpg);
	background-repeat: repeat-x;
}

.lst {margin-left: 20px; font-family: Courier; white-space: nowrap;}
.lst_ERROR {color:red; font-weight: bold;}
.lst_WARNING {color:red;}
.lst_INFO {color:black;}
.lst_DEBUG {color: blue;}