/* Splitbar styles; these are the default class names */

.ui-state-default { background-color: #CBE1FB }
.ui-state-hover { background-color: #66CCFF }
.ui-state-highlight { background-color: #68f }
.ui-state-error { background-color: #eaa }

.splitter-pane {
	overflow: auto;
}
.splitter-bar-vertical {
	width: 6px;
	background-image: url(images/vgrabber.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.splitter-bar-vertical-docked {
	width: 10px;
	background-image: url(img/vdockbar-trans.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.splitter-bar-horizontal {
	height: 6px;
	background-image: url(img/hgrabber.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.splitter-bar-horizontal-docked {
	height: 10px;
	background-image: url(img/hdockbar-trans.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.splitter-bar.ui-state-highlight {
	opacity: 0.7;
}
.splitter-iframe-hide {
	visibility: hidden;
}