<html>
<head></head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="background-color: #ffffff; padding: 20px; border-radius: 10px; max-width: 600px; margin: 30px auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <!-- Header -->
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="$logo" alt="$parentName" style="max-width: 200px; border-radius: 10px;">
        </div>

        <!-- Title -->
        <h2 style="text-align: center; color: #333; font-size: 18px; margin-bottom: 20px;">Modificación de Contratación</h2>

        <!-- Body -->
        <div style="font-size: 14px; color: #555; line-height: 1.6;">
            <p style="margin: 15px 0;">Estimado Cliente:</p>
            <p style="margin: 15px 0;">
                La funcionalidad contratada en su plataforma ha sido modificada por 
                <span style="font-weight: bold; color: #333;">$booking.getUser()</span>.
                <br>
                La configuración actual para la dirección 
                <span style="font-weight: bold; color: #333;">$booking.getDomainName()</span> queda como se detalla a continuación:
            </p>

            #if($domainChange)
                <p style="margin-top: 15px;">
                    <strong style="color: #333;">Cambio de Dominio:</strong> $domainChange
                </p>
            #end

            #if($usersChange)
                <p style="margin-top: 15px;">
                    <strong style="color: #333;">Cambio en Usuarios:</strong> $usersChange
                </p>
            #end

            #if($sizeChange)
                <p style="margin-top: 15px;">
                    <strong style="color: #333;">Cambio en Tamaño:</strong> $sizeChange
                </p>
            #end

            #if($multiDomain)
                <p style="margin-top: 15px;">
                    <strong style="color: #333;">Múltiples Dominios:</strong> $multiDomain
                </p>
            #end

            #if($payerDomain)
                <p style="margin-top: 15px;">
                    <strong style="color: #333;">Dominio Pagador:</strong> $payerDomain
                </p>
            #end

            #if ($addedApps && $addedApps.size() > 0)
                <p style="margin: 15px 0 0 0;">
                    <strong style="color: #333;">Opciones añadidas:</strong>
                </p>
                <ul style="margin: 0; padding: 0 0 0 20px;">
                    #foreach($addedApp in $addedApps)
                        <li style="margin-left: 10px;">$addedApp</li>
                    #end
                </ul>
            #end

            #if ($removeApps && $removeApps.size() > 0)
                <p style="margin: 15px 0 0 0;">
                    <strong style="color: #333;">Opciones eliminadas:</strong>
                </p>
                <ul style="margin: 0; padding: 0 0 0 20px;">
                    #foreach($removeApp in $removeApps)
                        <li style="margin-left: 10px;">$removeApp</li>
                    #end
                </ul>
            #end

            <p style="margin: 15px 0 0 0;">
                <strong style="color: #333;">Contratación actual para $booking.getCompanyName()</strong>
            </p>
            <p style="margin: 0 0 0 20px;">
                Tipo de Acceso: <span style="font-weight: bold; color: #333;">$booking.getDomainType()</span><br>
                Número de Usuarios: <span style="font-weight: bold; color: #333;">$booking.getNumberOfUsers()</span>
            </p>

            <p style="margin: 0 0 0 20px;">
                Aplicaciones y Servicios Contratados:<br>
            </p>
            <p style="margin: 0 0 0 35px;">
	            #foreach($app in $booking.getApps())
	                    <strong style="color: #333;">$app</strong> |
	            #end
            </p>
            
            <p style="margin: 15px 0;">
                Esperamos que la información detallada sea correcta. En caso contrario, contacte con su administrador para corregirla en la opción de 
                <strong style="color: #333;">"Funcionalidad contratada"</strong> dentro del apartado de CONFIGURACIÓN.
            </p>

            #if(!$customView)
                <p style="margin: 15px 0;">
                    Acceda al enlace de 
                    <a href="https://aonsolutions.es/docs/aon_condiciones_generales_del_contrato.pdf" target="_blank" style="color: #007bff; text-decoration: none;">términos y condiciones</a>
                    para consultar las Condiciones generales del contrato de licencia de software.
                </p>
            #end

            <p style="margin: 15px 0;">Sin otro particular, reciba un cordial saludo.</p>
            <p style="margin: 15px 0;">
                Dpto. de Contrataciones<br>
                #if(!$customView)
                    Atención al Cliente | 900 831 205
                #end
            </p>
        </div>

        <!-- Footer -->
        <div style="font-size: 12px; text-align: center; color: #888; margin-top: 20px;">
            <p>Este es un mensaje generado automáticamente. Por favor, no conteste a este correo.</p>
            #if(!$customView)
                <p>
                    Si quiere saber más sobre nuestras prácticas relativas a la privacidad, consulte nuestro:<br>
                    <a href="https://aonsolutions.es/politicas-legales/aviso-legal/" target="_blank" style="font-weight: bold; color: #1a181b; text-decoration: none;">aviso legal</a> |
                    <a href="https://aonsolutions.es/politicas-legales/politica-privacidad/" target="_blank" style="font-weight: bold; color: #1a181b; text-decoration: none;">política de privacidad</a>
                </p>
            #end
        </div>
    </div>
</body>
</html>
