<html>
<head>
	<style>
	</style>
</head>
<body>

	<div style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; max-width: 600px; margin: 0 auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

	  <!-- Imagen del logo al principio -->
	  <div style="text-align: center; margin-bottom: 20px;">
	    <img src="$logo" alt="$parentName" style="max-width: 200px; border-radius: 10px;">
	  </div>
	
	  <h2 style="text-align: center; color: #333;">Empresa ya existente: <strong>$name</strong></h2>
	
	  <p style="font-size: 14px; color: #555; margin-top: 20px;">
	    La empresa que se ha registrado ya existe. Intente acceder con sus credenciales.
	  </p>
	
	  <p style="font-size: 14px; color: #555; margin-top: 20px;">
	    A continuación le detallamos los datos de acceso:
	  </p>
	
	  <p style="font-size: 16px; color: #333;">
	    <strong>Link Web:</strong>
	    <a href="$url" 
	       id="url-empresa" 
	       style="color: #007bff;">
	      $name
	    </a>
	  </p>
	
	  <p style="font-size: 12px; color: #666; text-align: center; margin-top: 20px;">
	    Si tienes alguna duda, por favor contacta con soporte ($contact).
	  </p>
	</div>



</body>
</html>