<html>
<head>
	<style>
	
		.diva {
			background-color: #f1f1f1;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	
		
		.divb {
			margin: 0px auto;
			max-width: 600px;
			background-color: white;
			border-radius: 5px;
		}
		
		.tableA {
			width: 100%;
			padding-top: 10px;
		}
		
		.invoiceTable {
			border: 1px solid #bbb;
			border-radius: 5px;
			width: 565px;
		    margin: 15px;
		}
		
		
		.invoiceText {
			font-size: 14px;
		    margin: 20px;
		}
		
		.label {
			font-size: 12px;
			margin-bottom: 0px;
			color: rgba(0,0,0,.54);
		}
		
	</style>
</head>
<body>

	<div class="diva">
		<div class="divb">
			<table class="tableA">
				<tr>
					<td style="text-align: center;">
						<a href="https://aonsolutions.es" target="_blank" alt="AON SOLUTIONS">
							<img src="https://aon.solutions/assets/aon-logo.png" style="cursor: pointer;" width="200px">
						</a>
					</td>
					<td></td>
				</tr>
				
	
				<tr>
    				<td>
        				<hr>
    				</td>
				</tr>
				
				<tr>
    				<td style="padding-left:20px">
						Estimado Cliente:<br><br>
						La funcionalidad contratada en la Plataforma de aonSolutions ha sido modificada por $booking.getUser().<br>
						La configuración actual para la dirección $booking.getDomainName() queda como le detallamos a continuación:<br><br>
						
						Empresa: $booking.getCompanyName()<br><br>
						
						Tipo de Acceso: $booking.getDomainType()<br>
						Número de Usuarios: $booking.getNumberOfUsers()<br><br>
						
						Aplicaciones y Servicios Contratados:
						#foreach($app in $booking.getApps())
							$app |
						#end
						<br><br>
						Esperamos que la información detallada sea correcta, en caso contrario contacte con su administrador para corregirla en la opción de "Funcionalidad contratada" dentro del apartado de CONFIGURACIÓN. <br><br>
						
						Acceda al enlace de <a href="https://aonsolutions.es/docs/aon_condiciones_generales_del_contrato.pdf" target="_blank">términos y condiciones</a> para consultar las Condiciones generales del contrato de licencia de software.<br><br>

						Sin otro particular reciba un cordial saludo.<br><br>

						Dpto. de Contrataciones<br>
						Atención al Cliente | 900 831 205
    				</td>
				</tr>
				
				<tr>
    				<td>
        				<hr>
    				</td>
				</tr>
				
				<tr class="label">
					<td>
						<div style="text-align:center">Este es un mensaje generado automáticamente. Por favor, no conteste a este correo.</div>
						<div style="text-align:center">Si quiere saber más sobre nuestras prácticas relativas a la privacidad, consulte nuestro:</div>
						<div style="text-align:center">
							<a href="https://aonsolutions.es/politicas-legales/aviso-legal/" style="font-weight:700;color:rgb(26,24,27)" target="_blank">aviso legal</a> |
							<a href="https://aonsolutions.es/politicas-legales/politica-privacidad/" style="font-weight:700;color:rgb(26,24,27)" target="_blank">política de privacidad</a> 
						</div>						
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>