<html>
<head></head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 10px 0; color: #333;">
    <table align="center" width="100%"; padding: 20px;">
        <tr>
            <td align="center">
                <table style="max-width: 650px; width: 100%; background-color: rgba(241, 240, 232, 0.1); border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 10px 15px;" cellpadding="0" cellspacing="0">
                    <!-- Header -->
                    <tr>
                        <td align="center" style="padding: 20px;">
                            <img src="$logo" alt="$parentName" style="max-width: 200px; border-radius: 10px;">
                        </td>
                    </tr>
                    <!-- Title -->
                    <tr>
                        <td align="center" style="padding: 0 20px;">
                            <h2 style="color: #333; font-size: 18px; margin: 0 0 10px;">Acceso sin contraseña</h2>
                        </td>
                    </tr>
                    <!-- Body -->
                    <tr>
                        <td style="font-size: 14px; color: #555; line-height: 1.6; padding: 20px;">
                            <p style="margin: 0 0 10px;">Estimado usuario,</p>
                            <p style="margin: 0 0 10px;">Gracias por contactarnos para establecer una nueva contraseña. A continuación, te explicamos cómo hacerlo de forma sencilla.</p>
                            <p style="margin: 0 0 10px;">Al hacer clic en el enlace adjunto, accederás a tu área de clientes. Este enlace expira $expireDate</p>
                            
                            <p style="margin: 0 0 15px; text-align: center;">
	                            <a href="$magicLink" style="display: inline-block; background-color: #28a745; color: white; padding: 12px 24px; text-decoration: none; font-size: 16px; font-weight: bold; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
	                                Acceder
	                            </a>
	                        </p>
                            
                            <p style="margin: 0 0 10px;">Una vez dentro, te recomendamos que vayas a la configuración de tu usuario. Para hacerlo, dirígete a la parte superior derecha de la pantalla y pulsa el icono de usuario. Al pulsarlo verás un desplegable con los datos de tu empresa y debajo encontrarás el texto "Cambiar contraseña".</p>
                            <p style="margin: 0 0 10px;">Esto te permitirá editar tu contraseña actual y crear una que consideres conveniente. Así, podrás iniciar sesión fácilmente con tu nueva contraseña en el futuro.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>