/*
  Created on : May 8, 2025, 10:11:14?AM
*/
@use './variables' as v;
@use './base/mixins' as mixin;
@use './base/typography';

:root{
  font-family : v.$font-primary-regular;
  font-weight : v.$font-weight-regular;
  font-size   : v.$font-16;
}

@include mixin.respond("8k") {
  :root {
    font-size: 24px;
  }
}

@include mixin.respond("5k") {
  :root {
    font-size: 22px;
  }
}

@include mixin.respond("4k") {
  :root {
    font-size: 20px;
  }
}

@include mixin.respond("2k") {
  :root {
    font-size: 18px;
  }
}

@include mixin.respond("xl") {
  :root {
    font-size: 17px;
  }
}

@include mixin.respond("lg") {
  :root {
    font-size: 16px;
  }
}

@include mixin.respond("md") {
  :root {
    font-size: 15px;
  }
}

@include mixin.respond("sm") {
  :root {
    font-size: 14px;
  }
}

@include mixin.respond("xs") {
  :root {
    font-size: 13px;
  }
}

@include mixin.respond("mobile") {
  :root {
    font-size: 12px;
  }
}

@include mixin.respond("mobile-sm") {
  :root {
    font-size: 11px;
  }
}

@include mixin.respond("mobile-xs") {
  :root {
    font-size: 10px;
  }
}
