/*
  Created on : May 8, 2025, 10:11:14?AM
*/

@use './variables' as v;
@use './base/typography';

:root{
  font-family : v.$font-primary-regular;
  font-weight : v.$font-weight-regular;
  font-size   : v.$font-16;
}
