<mat-toolbar class="toolBar">
  <img src="../../../assets/images/logo/logo-aon.png" class="logo-aon" />
  <mat-form-field disabled="false">
    <mat-select placeholder="" value="Empresa1" disabled="false">
      <mat-option value="Empresa1">Empresa1</mat-option>
      <mat-option value="Empresa2">Empresa2</mat-option>
      <mat-option value="Empresa3">Empresa3</mat-option>
      <mat-option value="Empresa4">Empresa4</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="toolbarIcons">
    <set-icon shape="person" set-color color="black"> </set-icon>
  </div>
</mat-toolbar>
