/*******************************************/
/******** TABLA CALENDARIO RESERVAS ********/
/*******************************************/
#assetActivityCalendar {
	
}

#aonContent\3A reservationForm\3A assetActivityCalendar {
	border-bottom: 1px solid #C4C0C9;
}
#aonContent\3A reservationForm\3A assetActivityCalendar th {
	padding: 0;
	margin: 0;
	width: 20px;
	text-align: left;
}
#aonContent\3A reservationForm\3A assetActivityCalendar\3A tb td {
	padding: 0;
	margin: 0;
	/*width: 5px;*/
	border-bottom: 0;
}
#aonContent\3A reservationForm\3A assetActivityCalendar td div {
	margin: 10px 0;
	height: 13px; 
	display: block;
	border: none;
	display: block;
}
#aonContent\3A reservationForm\3A assetActivityCalendar td.aon-outputText {
	background-color: gray;
}

.calendar-header{
	font-size: xx-small;
	color: gray;	
}
.reserved-cell {
	background-color: #FFA54F;
}
.available-cell {
	background-color: #C0C0C0;
}

.calendar-panelGrid tr td{
	vertical-align:top;
}

