/*********************************/
/*  PROPIOS DEL INFOWEB     */
/******************************/
.aon-top-menu-item{
    float:left;
}
.aon-top-menu{
	overflow:auto;
	height:100%;
}

/**********************/
/******* HOME ********/
/**********************/
/* IMAGEN DE FONDO AL ENTRAR EN APLICACION*/
.aon-content-home{
	background:#fff url(images/aon-home/aon-home.jpg) scroll left top no-repeat;
	height:400px;
}	
