<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">true</property>		
		<property name="connection.url">jdbc:mysql://volga:3306/aon_master?autoReconnect=true</property>		
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.password">serubd2000</property>		
		
		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON ACCOUNT -->
		<mapping class="com.code.aon.account.Account"/>
		
		<!-- AON ACCOUNTING -->
		<mapping class="com.code.aon.entity.master.AccountEntry"/>
		<mapping class="com.code.aon.entity.master.AccountEntryDetail"/>
		<mapping class="com.code.aon.entity.master.AccountHelper"/>
		<mapping class="com.code.aon.entity.master.Amortization"/>
		<mapping class="com.code.aon.entity.master.AmortizationDetail"/>
		<mapping class="com.code.aon.entity.master.AmortizationType"/>
		<mapping class="com.code.aon.entity.master.AutoConcept"/>
		<mapping class="com.code.aon.entity.master.Balance"/>
		<mapping class="com.code.aon.entity.master.BalanceDetail"/>
		<mapping class="com.code.aon.entity.master.Loan"/>
		<mapping class="com.code.aon.entity.master.Period"/>

		<!-- AON ACCOUNT-BRIDGE -->
		<mapping class="com.code.aon.entity.master.AccountEntryBankStatement"/>
		<mapping class="com.code.aon.entity.master.AccountEntryFinanceBatch"/>
		<mapping class="com.code.aon.entity.master.AccountEntryFinanceTracking"/>
		<mapping class="com.code.aon.entity.master.AccountEntryInvoice"/>
		<mapping class="com.code.aon.entity.master.BankConceptAccount"/>		
		<mapping class="com.code.aon.entity.master.CreditorAccount"/>
		<mapping class="com.code.aon.entity.master.CustomerAccount"/>
		<mapping class="com.code.aon.entity.master.InvoiceDetailAccount"/>
		<mapping class="com.code.aon.entity.master.InvoiceTaxAccount"/>
		<mapping class="com.code.aon.entity.master.LoanAccount"/>
		<mapping class="com.code.aon.entity.master.PayMethodTypeDetailAccount"/>		
		<mapping class="com.code.aon.entity.master.ProductAccount"/>		
		<mapping class="com.code.aon.entity.master.RegistryBankAccount"/>
		<mapping class="com.code.aon.entity.master.SupplierAccount"/>		
		<mapping class="com.code.aon.entity.master.TaxAccount"/>		

		<!-- AON-ASSET  --> 
		<mapping class="com.code.aon.entity.master.Asset"/>
		<mapping class="com.code.aon.entity.master.AssetActivity"/>

		<!-- AON-AUDIT  --> 
		<mapping class="com.code.aon.entity.master.Action"/>
		<mapping class="com.code.aon.entity.master.ActionDenied"/>
		<mapping class="com.code.aon.entity.master.ActionEntry"/>
		<mapping class="com.code.aon.entity.master.ActionFavorite"/>
		<mapping class="com.code.aon.entity.master.Application"/>
		<mapping class="com.code.aon.entity.master.Session"/>

		<!-- AON CALENDAR -->
		<mapping class="com.code.aon.entity.master.Calendar"/>
		<mapping class="com.code.aon.entity.master.CalendarHoliday"/>
		<mapping class="com.code.aon.entity.master.CalendarPeriod"/>
		<mapping class="com.code.aon.entity.master.Holiday"/>
		<mapping class="com.code.aon.entity.master.HolidayDetail"/>

		<!-- AON-COMMERCIAL  -->
		<mapping class="com.code.aon.entity.master.CommercialActivity"/>
		<mapping class="com.code.aon.entity.master.CommercialTracking"/>
		<mapping class="com.code.aon.entity.master.CommercialTerm"/>
		<mapping class="com.code.aon.entity.master.Commission"/>
		<mapping class="com.code.aon.entity.master.CommissionCategory"/>
		<mapping class="com.code.aon.entity.master.CommissionItem"/>
		<mapping class="com.code.aon.entity.master.CommissionTypeCommission"/>
		<mapping class="com.code.aon.entity.master.Offer"/>
		<mapping class="com.code.aon.entity.master.OfferAttachment"/>
		<mapping class="com.code.aon.entity.master.OfferDetail"/>
		<mapping class="com.code.aon.entity.master.OfferDetailCommission"/>
		<mapping class="com.code.aon.entity.master.OfferTerm"/>
		<mapping class="com.code.aon.entity.master.ProjectCommercial"/>		
		<mapping class="com.code.aon.entity.master.Target"/>
		<mapping class="com.code.aon.entity.master.TargetItem"/>
		<mapping class="com.code.aon.entity.master.TargetSeller"/>
		<mapping class="com.code.aon.entity.master.TargetSupplier"/>

		<!-- AON COMPANY -->
		<mapping class="com.code.aon.entity.master.Company"/>
		<mapping class="com.code.aon.entity.master.Enterprise"/>
		<mapping class="com.code.aon.entity.master.EnterpriseData"/>
		<mapping class="com.code.aon.entity.master.WorkPlace"/>

		<!-- AON CONFIG -->
		<mapping class="com.code.aon.config.Domain"/>
		<mapping class="com.code.aon.entity.master.ApplicationParameter"/>
		<mapping class="com.code.aon.entity.master.Bank"/>
		<mapping class="com.code.aon.entity.master.CNAE"/>
		<mapping class="com.code.aon.entity.master.CNAE2009"/>
		<mapping class="com.code.aon.entity.master.CNAE2009Rate"/>
		<mapping class="com.code.aon.entity.master.CommissionType"/>
		<mapping class="com.code.aon.entity.master.PayMethodTypeDetail"/>
		<mapping class="com.code.aon.entity.master.PayMethod"/>
		<mapping class="com.code.aon.entity.master.Series"/>
		<mapping class="com.code.aon.entity.master.Scope"/>
		<mapping class="com.code.aon.entity.master.Tariff"/>
		<mapping class="com.code.aon.entity.master.Tax"/>
		<mapping class="com.code.aon.entity.master.TaxDetail"/>
		<mapping class="com.code.aon.entity.master.User"/>
		<mapping class="com.code.aon.entity.master.UserScope"/>
		<mapping class="com.code.aon.entity.master.UserWorkGroup"/>
		<mapping class="com.code.aon.entity.master.WorkGroup"/>
		
		<!-- AON CUSTOMER -->
		<mapping class="com.code.aon.entity.master.Customer"/>
		
		<!-- AON FINANCE -->
		<mapping class="com.code.aon.entity.master.BankConcept"/>
		<mapping class="com.code.aon.entity.master.BankStatement"/>
		<mapping class="com.code.aon.entity.master.BankStatementLink"/>
		<mapping class="com.code.aon.entity.master.CashFlowForecast"/>
		<mapping class="com.code.aon.entity.master.CustomerFee"/>
		<mapping class="com.code.aon.entity.master.Creditor"/>
		<mapping class="com.code.aon.entity.master.Finance"/>
		<mapping class="com.code.aon.entity.master.FinanceBatch"/>
		<mapping class="com.code.aon.entity.master.FinanceBatchDetail"/>
		<mapping class="com.code.aon.entity.master.FinanceTracking"/>
		<mapping class="com.code.aon.entity.master.Invoice"/>
		<mapping class="com.code.aon.entity.master.InvoiceAddress"/>
		<mapping class="com.code.aon.entity.master.InvoiceAttachment"/>
		<mapping class="com.code.aon.entity.master.InvoiceDetail"/>
		<mapping class="com.code.aon.entity.master.InvoiceTax"/>
		<mapping class="com.code.aon.entity.master.InvoicingGroup"/>
		<mapping class="com.code.aon.entity.master.InvoicingGroupDetail"/>

		<!-- AON-FISCAL  -->	
		<mapping class="com.code.aon.entity.master.Mod347"/>
		<mapping class="com.code.aon.entity.master.Mod347Detail"/>
		<mapping class="com.code.aon.entity.master.ProfessionalRetention"/>
		<mapping class="com.code.aon.entity.master.Renting"/>
		<mapping class="com.code.aon.entity.master.RentingDetail"/>
		<mapping class="com.code.aon.entity.master.VatTax"/>
		<mapping class="com.code.aon.entity.master.VatTaxDeclaration"/>
		<mapping class="com.code.aon.entity.master.VatTaxDetail"/>

		<!-- AON GEOZONE -->
		<mapping class="com.code.aon.entity.master.GeoZone"/>
		<mapping class="com.code.aon.entity.master.GeoTree"/>
		
		<!-- AON GROUPWARE -->
		<mapping class="com.code.aon.entity.master.Alarm"/>
		<mapping class="com.code.aon.entity.master.Campaign"/>
		<mapping class="com.code.aon.entity.master.CampaignProject"/>
		<mapping class="com.code.aon.entity.master.CampaignType"/>
		<mapping class="com.code.aon.entity.master.CostProfile"/>
		<mapping class="com.code.aon.entity.master.DailyTracking"/>
		<mapping class="com.code.aon.entity.master.Favorite"/>
		<mapping class="com.code.aon.entity.master.FavoriteCategory"/>
		<mapping class="com.code.aon.entity.master.JobType"/>
		<mapping class="com.code.aon.entity.master.Note"/>
		<mapping class="com.code.aon.entity.master.Notice"/>
		<mapping class="com.code.aon.entity.master.Process"/>
		<mapping class="com.code.aon.entity.master.ProcessDetail"/>
		<mapping class="com.code.aon.entity.master.ProcessDetailTransition"/>
		<mapping class="com.code.aon.entity.master.ProcessTask"/>
		<mapping class="com.code.aon.entity.master.ProcessTransitionType"/>
		<mapping class="com.code.aon.entity.master.Task"/>
		<mapping class="com.code.aon.entity.master.TaskHolder"/>
		<mapping class="com.code.aon.entity.master.TaskHolderWorkgroup"/>

		<!-- AON INFOWEB -->
		<mapping class="com.code.aon.entity.master.WebInfo"/>
		<mapping class="com.code.aon.entity.master.WebInfoPage"/>
		<mapping class="com.code.aon.entity.master.WebInfoPageDetail"/>
		<mapping class="com.code.aon.entity.master.WebInfoPageResource"/>
		<mapping class="com.code.aon.entity.master.WebInfoStyle"/>

		<!-- AON-MARKETING Mapping files --> 
		<mapping class="com.code.aon.entity.master.ActionTarget"/>
		<mapping class="com.code.aon.entity.master.MarketingCampaign"/>
		<mapping class="com.code.aon.entity.master.MarketingAction"/>
		<mapping class="com.code.aon.entity.master.Question"/>
		<mapping class="com.code.aon.entity.master.QuestionValue"/>
		<mapping class="com.code.aon.entity.master.Survey"/>
		<mapping class="com.code.aon.entity.master.SurveyQuestion"/>
		<mapping class="com.code.aon.entity.master.SurveyResponse"/>
		<mapping class="com.code.aon.entity.master.SurveyResponseDetail"/>
		<mapping class="com.code.aon.entity.master.SurveyWorkflow"/>
		<mapping class="com.code.aon.entity.master.TargetProfile"/>
		<mapping class="com.code.aon.entity.master.Template"/>
		
		
		<!-- AON-PAYROLL Mapping files -->
		<mapping class="com.code.aon.entity.master.Agreement"/>
		<mapping class="com.code.aon.entity.master.AgreementData"/>
		<mapping class="com.code.aon.entity.master.AgreementExtra"/>
		<mapping class="com.code.aon.entity.master.AgreementLevel"/>
		<mapping class="com.code.aon.entity.master.AgreementLevelCategory"/>
		<mapping class="com.code.aon.entity.master.AgreementLevelData"/>
		<mapping class="com.code.aon.entity.master.AgreementPayment"/>
		<mapping class="com.code.aon.entity.master.BonusConcept"/>
		<mapping class="com.code.aon.entity.master.Certifica2Batch"/>
		<mapping class="com.code.aon.entity.master.Certifica2BatchAttachment"/>
		<mapping class="com.code.aon.entity.master.Certifica2BatchData"/>
		<mapping class="com.code.aon.entity.master.Certifica2BatchDetail"/>
		<mapping class="com.code.aon.entity.master.CNO"/>
		<mapping class="com.code.aon.entity.master.Contract"/>
		<mapping class="com.code.aon.entity.master.ContractAttachment"/>
		<mapping class="com.code.aon.entity.master.ContractBatch"/>
		<mapping class="com.code.aon.entity.master.ContractBatchAttachment"/>
		<mapping class="com.code.aon.entity.master.ContractBatchDetail"/>
		<mapping class="com.code.aon.entity.master.ContractBonus"/>
		<mapping class="com.code.aon.entity.master.ContractCalendarEvent"/>
		<mapping class="com.code.aon.entity.master.ContractData"/>
		<mapping class="com.code.aon.entity.master.ContractDeduction"/>
		<mapping class="com.code.aon.entity.master.ContractEmbargo"/>
		<mapping class="com.code.aon.entity.master.ContractLeave"/>
		<mapping class="com.code.aon.entity.master.ContractLeaveDetail"/>
		<mapping class="com.code.aon.entity.master.ContractPayment"/>
		<mapping class="com.code.aon.entity.master.DeductionConcept"/>
		<mapping class="com.code.aon.entity.master.EnterpriseActivity"/>
		<mapping class="com.code.aon.entity.master.EnterpriseCCC"/>
		<mapping class="com.code.aon.entity.master.FanBatch"/>
		<mapping class="com.code.aon.entity.master.FanBatchAttachment"/>
		<mapping class="com.code.aon.entity.master.FanBatchDetail"/>
		<mapping class="com.code.aon.entity.master.GeozoneIrpf"/>
		<mapping class="com.code.aon.entity.master.GeozoneIrpfDescendant"/>
		<mapping class="com.code.aon.entity.master.GeozoneIrpfHandicap"/>
		<mapping class="com.code.aon.entity.master.IrpfData"/>
		<mapping class="com.code.aon.entity.master.IrpfDataAscendants"/>
		<mapping class="com.code.aon.entity.master.IrpfDataDescendients"/>
		<mapping class="com.code.aon.entity.master.IrpfRegularization"/>
		<mapping class="com.code.aon.entity.master.IrpfResult"/>
		<mapping class="com.code.aon.entity.master.LeaveBatch"/>
		<mapping class="com.code.aon.entity.master.LeaveBatchAttachment"/>
		<mapping class="com.code.aon.entity.master.LeaveBatchDetail"/>
		<mapping class="com.code.aon.entity.master.PaymentConcept"/>
		<mapping class="com.code.aon.entity.master.PayrollWorkPlace"/>
		<mapping class="com.code.aon.entity.master.Salary"/>
		<mapping class="com.code.aon.entity.master.SalaryBonus"/>
		<mapping class="com.code.aon.entity.master.SalaryCost"/>
		<mapping class="com.code.aon.entity.master.SalaryDeduction"/>
		<mapping class="com.code.aon.entity.master.SalaryEmbargo"/>
		<mapping class="com.code.aon.entity.master.SalaryPayment"/>
		<mapping class="com.code.aon.entity.master.SystemData"/>
		<mapping class="com.code.aon.entity.master.SystemDeduction"/>
		<mapping class="com.code.aon.entity.master.SystemPayment"/>

		<!-- AON PRODUCT -->
		<mapping class="com.code.aon.entity.master.Brand"/>
		<mapping class="com.code.aon.entity.master.Catalogue"/>
		<mapping class="com.code.aon.entity.master.CatalogueCategory"/>
		<mapping class="com.code.aon.entity.master.CatalogueItem"/>
		<mapping class="com.code.aon.entity.master.Item"/>
		<mapping class="com.code.aon.entity.master.ItemAlternative"/>
		<mapping class="com.code.aon.entity.master.ItemAttachment"/>
		<mapping class="com.code.aon.entity.master.ItemComposition"/>
		<mapping class="com.code.aon.entity.master.ItemSupplier"/>
		<mapping class="com.code.aon.entity.master.ItemTariff"/>
		<mapping class="com.code.aon.entity.master.Product"/>
		<mapping class="com.code.aon.entity.master.ProductCategory"/>
		<mapping class="com.code.aon.entity.master.ProductCategoryGroup"/>
		<mapping class="com.code.aon.entity.master.ProductCategoryTree"/>
		<mapping class="com.code.aon.entity.master.TariffCatalogue"/>

		<!-- AON PROJECT -->
		<mapping class="com.code.aon.entity.master.ActivityType"/>
		<mapping class="com.code.aon.entity.master.Project"/>
		<mapping class="com.code.aon.entity.master.ProjectActivity"/>
		<mapping class="com.code.aon.entity.master.ProjectType"/>

		<!-- AON-PURCHASE  -->
		<mapping class="com.code.aon.entity.master.Purchase"/>
		<mapping class="com.code.aon.entity.master.PurchaseDetail"/>

		<!-- AON REGISTRY -->
		<mapping class="com.code.aon.entity.master.Category"/>
		<mapping class="com.code.aon.entity.master.Person"/>
		<mapping class="com.code.aon.entity.master.RecordData"/>
		<mapping class="com.code.aon.entity.master.Registry"/>
		<mapping class="com.code.aon.entity.master.RegistryAddInfo"/>
		<mapping class="com.code.aon.entity.master.RegistryAddress"/>
		<mapping class="com.code.aon.entity.master.RegistryAttachment"/>
		<mapping class="com.code.aon.entity.master.RegistryDirStaff"/>
		<mapping class="com.code.aon.entity.master.RegistryBank"/>
		<mapping class="com.code.aon.entity.master.RegistryMedia"/>
		<mapping class="com.code.aon.entity.master.RegistryNote"/>
		<mapping class="com.code.aon.entity.master.RegistryPayMethod"/>
		<mapping class="com.code.aon.entity.master.RegistryRelationship"/>
		<mapping class="com.code.aon.entity.master.RegistrySegment"/>
		<mapping class="com.code.aon.entity.master.Relationship"/>
		<mapping class="com.code.aon.entity.master.Segment"/>

		<!-- AON-SALES  -->
		<mapping class="com.code.aon.entity.master.Sales"/>
		<mapping class="com.code.aon.entity.master.SalesDetail"/>

		<!-- AON-SUPPLIER -->	
		<mapping class="com.code.aon.entity.master.Supplier"/>

		<!-- AON-SELLER -->	
		<mapping class="com.code.aon.entity.master.Seller"/>
		
		<!-- AON-TAS -->
		<mapping class="com.code.aon.entity.master.Make"/>
		<mapping class="com.code.aon.entity.master.Model"/>
		<mapping class="com.code.aon.entity.master.ProjectTas"/>
		<mapping class="com.code.aon.entity.master.TasItem"/>

		<!-- AON-WAREHOUSE -->
		<mapping class="com.code.aon.entity.master.Delivery"/>
		<mapping class="com.code.aon.entity.master.DeliveryDetail"/>
		<mapping class="com.code.aon.entity.master.Income"/>
		<mapping class="com.code.aon.entity.master.IncomeDetail"/>		
		<mapping class="com.code.aon.entity.master.Inventory"/>		
		<mapping class="com.code.aon.entity.master.InventoryDetail"/>
		<mapping class="com.code.aon.entity.master.ItemWarehouse"/>
		<mapping class="com.code.aon.entity.master.Stock"/>
		<mapping class="com.code.aon.entity.master.Warehouse"/>
		<mapping class="com.code.aon.entity.master.WarehouseTransfer"/>
		<mapping class="com.code.aon.entity.master.WarehouseTransferDetail"/>
		
	</session-factory>

</hibernate-configuration>