body {
	font-family: ${font_fuente_texto_pagina};
	font-size: ${size_tamano_texto_pagina};
	color: ${color_color_texto_pagina};
	margin: 0 auto;
	background: ${bgcolor_color_fondo_pagina};
	width: 800px;
	padding-top:5px;
	margin-top:100px;

}

h1 { font-size:16pt; 
	text-align: left; 
	margin: 0 0 0.7em 0; 
	padding: 0 0 0.2em 0;
	color:${color_color_texto_slogan};
}
	
h1 sup { 
	font-size: small; 
	position: absolute; 
}
h2 { 
	margin: 0; 
	font-size: small;
}

h3{
	font-size:x-large; 
	border-bottom: ${border_tamano_borde_titulo} ${color_color_borde_titulo} solid; 
	text-align: right; 
	margin: 0 0 0.7em 0; 
	padding: 0 0 0.2em 0;
	color:${color_color_texto_titulo};}
	
a { 
	font-weight: bold; 
	text-decoration: none; 
	color: ${color_color_texto_link};
}
a:visited { 
	font-weight: normal; 
}
a:hover { 
	
}
#menu {
	/*width: 7em;*/
	text-align: left;
	float: left;
	padding: 35px 0 0 0;
}
#menu a { 
	display: block; 
	padding: 0 0 1em 0; 
	font-weight: normal; 
}
#menu a:hover { 
	font-style: normal; 
	background: transparent;
	list-style-type:circle; 
}
#menu a span { 
	color: #fafffc; 
}
#menu a:hover span { 
	color: #000000; 
}
div.dummyicon {
	width: 40px;
	height: 40px;
	margin: 1em auto 0 auto;
	border: ${border_tamano_borde_contenido} solid #7f7f7f;
	background: #ffffff;
	text-align: center;
}
#content {
	margin: 0 0 0 10em;
	padding: 1em 0 0 2.5em;
	border-left: ${border_tamano_borde_contenido} ${color_color_borde_contenido} solid;
	min-height: 450px;
}
div.item {
	border-bottom: ${border_tamano_borde_contenido} ${color_color_borde_contenido} solid;
	margin: 0 0 2em 0;
}
div.item p { margin: 1em 0.2em 0.3em 0; line-height: 1.5; text-align: justify; }
#footer {
	margin: 2em 0 0 0;
	text-align: center;
	border-top: ${border_tamano_borde_pie} ${color_color_borde_pie} solid;
	font-size: xx-small;
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
}
a.thumb {
	border: ${border_tamano_borde_contenido} #fafffc solid;
	padding: 10px 5px;
	margin: 1px 0 0 0;
	display: table-cell;
	text-align: center;
	float: left;
	width: 140px;
	font-size: x-small;
	color: #646464;
}
a.thumb:hover {
	border: ${border_tamano_borde_contenido} ${color_color_borde_contenido} solid;
	font-style: normal;
	color: #000000;
}
a.thumb img {
	padding: 0;
	margin: 0;
	border: none;
	border: ${border_tamano_borde_contenido} #646464 solid;

}
a.thumb span {
	display: block;
	padding: 0;
	margin: 5px 1em 0 1em;
} 
a.thumb object {
	width: 100px;
	height: 75px;
	border: ${border_tamano_borde_contenido} #7f7f7f solid;
	background: #ffffff;
	padding: 0;
	margin: 0 auto;
	display: block;
}
.box{
	text-align:center; 
	padding-top:10px;
	}
.texto{
	text-align:right;
	}
.infoHelp{
	width:360px; 
	padding:10px;
	margin-top:10px;
	background-color:#dddddd;
	text-align:justify;
	font-size:9px;
	}
.gallery-navigation{
	text-align:center;
	color:${color_color_texto_pie};
}
.gallery-navigation a{
	color:${color_color_texto_pie};
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.album-block{ 
	text-align:center;}
.album {
	height:400px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:${color_color_texto_pie};
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:${color_color_texto_pie};
}
.formulario{
	float: left;
	line-height:15px;
	}
.copiesferalia {
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
	padding:20px;
}
.copiesferalia a{
	font-family: ${font_fuente_texto_pie} ;
	font-size:9px;
	color:${color_color_texto_pie};
	text-decoration:none;
}
.copiesferalia a:hover{
	font-family: ${font_fuente_texto_pie} ;
	font-size: 9px;
	color:${color_color_texto_pie};
	text-decoration:underline;
}
