<div id="content">
	<table cellpadding="10" cellspacing="5" border="0">
		<tr>
			<td valign=top width="180">
			<p align="justify"><strong>$!company.getName()</strong></p>
			<br>$!address.getAddress() $!address.getAddress2() $!add.getAddress3()</br> 

				 #if ($address.getZip()&& !$address.getZip().toString().trim().equals(""))
		<br>C.P. $!address.getZip()</br>
	 #end

	 #if ($address.getCity()&& !$address.getCity().toString().trim().equals(""))
		<br>$!address.getCity()</br>
	 #end

	 #if ($address.getGeozone().getName()&& !$address.getGeozone().getName().toString().trim().equals(""))
		<br>( $!address.getGeozone().getName() )</br>
	 #end

	 #if ($phone && !$phone.toString().trim().equals(""))
		<p>Tel: $!phone</p>
	 #end

	 #if ($fax && !$fax.toString().trim().equals(""))
		<p>Fax: $!fax</p>
	 #end

			</td>
			
			<td valign=top>
			#if ($coords.toString().trim().equals(""))
				<iframe frameborder="0" width="320px" height="200px" src="http://www.aonsolutions.es/maps/index.php?dir=$!address.getAddress() $!address.getAddress2() $!address.getAddress3() $!address.getZip() $!address.getCity() $!address.getGeozone().getName() SPAIN"></iframe>
			#else
				<iframe frameborder="0" width="320px" height="200px" src="http://www.aonsolutions.es/maps/index.php?coords=$!coords"></iframe>
			#end
			<br><a href="http://maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=$!address.getAddress() $!address.getAddress2(),$!address.getCity() ,$!address.getGeozone().getName()&sll=$!coords&sspn=0.00634,0.013947&ie=UTF8&ll=$!coords&spn=0.006159,0.013947&z=17&iwloc=A" target="_blank">Ver en Google Maps</a>
 			</td>
		</tr>
		<tr>
			
		</tr>	
	#set ($coordnum = 1)
	#foreach ($add in $addresses)
		#set ($coords = "")

		#if ($coordnum == 1)
			#set ($coords = $coords1)
		#elseif ($coordnum == 2)
			#set ($coords = $coords2)
		#elseif ($coordnum == 3)
			#set ($coords = $coords3)
		#elseif ($coordnum == 4)
			#set ($coords = $coords4)
		#elseif ($coordnum == 5)
			#set ($coords = $coords5)
		#elseif ($coordnum == 6)
			#set ($coords = $coords6)
		#elseif ($coordnum == 7)
			#set ($coords = $coords7)
		#elseif ($coordnum == 8)
			#set ($coords = $coords8)
		#elseif ($coordnum == 9)
			#set ($coords = $coords9)
		#end
	
		#set ($coordnum = $coordnum + 1)

		<tr>
			<td>
				<div class="title"></div>
				<p>$!add.getAddress() $!add.getAddress2() $!add.getAddress3()</p>
				<p>$!add.getZip() $!add.getCity() ($!add.getGeozone().getName())</p>
			</td>
			<td>
				#if ($coords.toString().trim().equals(""))
					<iframe frameborder="0" width="320px" height="200px" src="http://www.aonsolutions.es/maps/index.php?dir=$!add.getAddress() $!add.getAddress2() $!add.getAddress3() $!add.getZip() $!add.getCity() $!add.getGeozone().getName() SPAIN"></iframe>
				#else
					<iframe frameborder="0" width="320px" height="200px" src="http://www.aonsolutions.es/maps/index.php?coords=$!coords"></iframe>
				#end
			       <br><a href="http://maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=$!add.getAddress() $!add.getAddress2(),$!add.getCity() ,$!add.getGeozone().getName()&sspn=0.00634,0.013947&ie=UTF8&spn=0.006159,0.013947&z=17&iwloc=A" target="_blank">Ver en Google Maps</a>

 			</td>
		</tr>
		<tr>
			
			<td>&nbsp;</td>
		</tr>	
	#end
	</table>
</div>