<div class="form">
  <app-input
    [type]="'text'"
    [label]="'Nombre'"
    [placeholder]="'Placeholder'"
    [required]="'required'"
  ></app-input>
  <app-input
    [type]="'text'"
    [label]="'Apellidos'"
    [placeholder]="'Placeholder'"
    [required]="'required'"
  ></app-input>
</div>
<div class="form">
  <app-input
    [type]="'text'"
    [label]="'Email'"
    [placeholder]="'Placeholder'"
    [required]="'required'"
  ></app-input>
  <app-input
    [type]="'text'"
    [label]="'Móvil'"
    [placeholder]="'Placeholder'"
    [required]="'required'"
  ></app-input>
</div>
<div class="form">
  <app-input
    [type]="'password'"
    [label]="'Contraseña'"
    [placeholder]="'Placeholder'"
    [required]="'required'"
    [suffixBehavior]="'edit'"
  >
    <app-icon [shape]="'edit'" suffix></app-icon>
  </app-input>
  <!-- <app-input
            [appearance]="'outline'"
            [type]="'tel'"
            [label]="'Usuario'"
            [placeholder]="'usuario'"
            [suffixBehavior]="'clear'"
            [classes]="'ng-pending'"
            [width]="'20%'"
            [disabled]="'false'"
        >
 <span prefix>Prefijo</span>
        <app-icon [shape]="'delete'" suffix></app-icon>
</app-input> -->
</div>
