<form #formUser="ngForm">
  <div *ngIf="user">
    <div class="form">
      <app-input
        (inputValue)="getValue($event, user, 'Name')"
        [type]="'text'"
        [label]="'PROFILE.NAME' | translate"
        [placeholder]="'PROFILE.NAME' | translate"
        [required]="'required'"
        [value]="user.Name"
      ></app-input>
      <app-input
        (inputValue)="getValue($event, user, 'Lastname')"
        [type]="'text'"
        [label]="'PROFILE.LAST_NAME' | translate"
        [placeholder]="'PROFILE.LAST_NAME' | translate"
        [required]="'required'"
        [value]="user.Lastname"
      ></app-input>
    </div>
    <div class="form">
      <app-input
        (inputValue)="getValue($event, user, 'Email')"
        [type]="'text'"
        [label]="'PROFILE.EMAIL' | translate"
        [placeholder]="'PROFILE.EMAIL' | translate"
        [required]="'required'"
        [value]="user.Email"
      ></app-input>
      <app-input
        (inputValue)="getValue($event, user, 'Phone')"
        [type]="'text'"
        [label]="'PROFILE.PHONE' | translate"
        [placeholder]="'PROFILE.PHONE' | translate"
        [required]="'required'"
        [value]="user.Phone"
      ></app-input>
    </div>
    <div class="form">
      <app-input
        [type]="'password'"
        [label]="'PROFILE.PASSWORD' | translate"
        [placeholder]="'PROFILE.PASSWORD' | translate"
        [suffixBehavior]="'edit'"
        [value]="user.Password"
        [disabled]="'disabled'"
        [suffixShowIcon]="true"
      >
        <app-icon
          [shape]="'edit'"
          suffix
          (click)="togglePasswordFields()"
        ></app-icon>
      </app-input>
  </div>
  <div *ngIf="showPasswordFields" class="password_profile">
    <div class="form">
      <app-input
      [type]="'password'"
      [label]="'PROFILE.NEW_PASSWORD' | translate"
      [placeholder]="'PROFILE.NEW_PASSWORD' | translate"
      [suffixBehavior]="'showPass'"
      >
    </app-input>
  </div>

  <div class="form">
    <app-input
      [type]="'password'"
      [label]="'PROFILE.REPEAT_PASSWORD' | translate"
      [placeholder]="'PROFILE.REPEAT_PASSWORD' | translate"
      [suffixBehavior]="'showPass'"
    >
    </app-input>
  </div>
</div>
</div>
</form>
