@import "src/styles.scss";

.input-profile-personal-data {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;

}

.input-profile-personal {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;

}

.input-profile-password {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}
