<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:mysql://volga:3306/aon-task?autoReconnect=true</property>
		<property name="connection.username">dbuser</property>		
		<property name="show_sql">false</property>		
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.password">serubd2000</property>		

		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- Mapping files -->
		
		<!-- AON GROUPWARE -->
		<mapping class="com.code.aon.groupware.Alarm"/>
		<mapping class="com.code.aon.groupware.Campaign"/>
		<mapping class="com.code.aon.groupware.CampaignProject"/>
		<mapping class="com.code.aon.groupware.CampaignType"/>
		<mapping class="com.code.aon.groupware.CostProfile"/>
		<mapping class="com.code.aon.groupware.DailyTracking"/>
		<mapping class="com.code.aon.groupware.Favorite"/>
		<mapping class="com.code.aon.groupware.FavoriteCategory"/>
		<mapping class="com.code.aon.groupware.JobType"/>
		<mapping class="com.code.aon.groupware.Note"/>
		<mapping class="com.code.aon.groupware.Notice"/>
		<mapping class="com.code.aon.groupware.Process"/>
		<mapping class="com.code.aon.groupware.ProcessDetail"/>
		<mapping class="com.code.aon.groupware.ProcessDetailTransition"/>
		<mapping class="com.code.aon.groupware.ProcessTask"/>
		<mapping class="com.code.aon.groupware.ProcessTransitionType"/>
		<mapping class="com.code.aon.groupware.Task"/>
		<mapping class="com.code.aon.groupware.TaskHolder"/>
		<mapping class="com.code.aon.groupware.TaskHolderWorkgroup"/>

		<!-- AON CALENDAR -->
		<mapping class="com.esferalia.aon.calendar.Calendar"/>
		<mapping class="com.esferalia.aon.calendar.Holiday"/>
		
		<!-- AON COMPANY -->
		<mapping class="com.code.aon.company.Enterprise"/>
		 
		<!-- AON CONFIG -->
		<mapping class="com.code.aon.config.Bank"/>		
		<mapping class="com.code.aon.config.PayMethod"/>		
		<mapping class="com.code.aon.config.Scope"/>		
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.User"/>		
		<mapping class="com.code.aon.config.WorkGroup"/>		
		
		<!-- AON GEOZONE -->
		<mapping class="com.code.aon.geozone.GeoZone"/>

		<!-- AON PROJECT -->
		<mapping class="com.code.aon.project.ActivityType"/>
		<mapping class="com.code.aon.project.Project"/>
		<mapping class="com.code.aon.project.ProjectActivity"/>
		<mapping class="com.code.aon.project.ProjectType"/>

		<!-- AON REGISTRY -->
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Segment"/>

	</session-factory>

</hibernate-configuration>