<div class="content">	
<h1 >$!title</h1>



<table>
  <tr>
    <td>#foreach ($image in $images)
		<img src='$!image.getName()'/>
		$!image.getDescription();
    	#end</td>
    <td>$!text</td>
  </tr>
</table>

</div>