<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:aon="http://www.code.es/aon-rich-components">

#foreach($entry in ${categoryMap.entrySet()})
	<h:panelGrid styleClass="aon-width-all"
		headerClass="aon-direct-access-panel ${entry.key.iconClass}">		
		<f:facet name="header">
			<aon:outputText value="${entry.key.name}"/>
		</f:facet>					
		<aon:div styleClass="aon-direct-access-list">
			#foreach($option in $entry.value)		
			<aon:div styleClass="aon-direct-access-list-element">
				${option.getXml("")}
			</aon:div>
			#end
		</aon:div>
	</h:panelGrid>
#end
</ui:composition>
