@def mod200BackgroundColor #DDDDDD;	
@def mod200SelectedBackgroundColor #BBBBBB;	

/*
	//#FFE0B2
	//#FFC266
*/


.cellTableWidget {
	width:100%;		
	font-family:arial,verdana, "sans serif";
	border: mod200SelectedBackgroundColor 1px solid;
	border-collapse:collapse !important;
	margin-top: 10px;
}

.cellTableFirstColumn {
 
}

.cellTableLastColumn {
 
}

.cellTableFooter {
}

.cellTableHeader {
	background-color: mod200BackgroundColor;
	border-bottom: 0.5px solid mod200SelectedBackgroundColor;
    border: 0.5px solid mod200SelectedBackgroundColor;
    color: #000000;
    font-size: 0.9em;
    font-weight: normal;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: none !important;
}

.cellTableCell {
  padding-top:1px;
  padding-bottom:1px;
  padding-left:0.5em;
  padding-right:0.5em;
  border: 0.5px solid mod200SelectedBackgroundColor !important;	
  overflow: hidden;
}

.cellTableFirstColumnFooter {
 
}

.cellTableFirstColumnHeader {
 
}

.cellTableLastColumnFooter {
 
}

.cellTableLastColumnHeader {
 
}

.cellTableSortableHeader {
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {

}

.cellTableSortedHeaderDescending {

}

.cellTableEvenRow {
	background-color: white;
}

.cellTableEvenRowCell {
}

.cellTableOddRow {
	background-color: white;
}

.cellTableOddRowCell {
}

.cellTableHoveredRow {
}

.cellTableHoveredRowCell {
}

.cellTableKeyboardSelectedRow {
	background-color: white;
}

.cellTableKeyboardSelectedRowCell {
}

.cellTableSelectedRow {
	background-color: white;
}

.cellTableSelectedRowCell {
}

.cellTableKeyboardSelectedCell {
  border: none;
}

@sprite .cellTableLoading {
  gwt-image: 'cellTableLoading';
  margin: 30px;
}
