.message {
    width: calc(100%-1rem);
    margin: 1rem;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    box-sizing: border-box;
    border-color: #f6655a;
}

.elementMessage {
    width: calc(100%);
    height: calc(60px);
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messageDate {
    justify-content: flex-end !important;
}

.statusMessage {
    // padding: 0.2rem;
    padding: .3125rem .625rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #292a31;
    width: calc(auto);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.numMessages {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: left;
    color: #292a31;
}

.iconButtonMessage {
    width: 1.5rem;
    height: 1.5rem;
}

.messageSubject {
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: left;
    color: #292a31;
}

.messageDescription {
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: left;
    color: #787885;
}

.messageName {
    font-size: .875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #292a31;
}

.messageDate {
    font-size: .875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    text-align: right;
    color: #787885;
}

.dateMessageBlack {
    font-size: .875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: right;
    color: #292a31;
}

.dateMessageRed {
    font-size: .875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.1px;
    text-align: right;
    color: #f6655a;
}

.transformIcon {
    transform: rotateY(180deg);
}

.message:hover { 
    background-color: #feedec;
}