<div class="message">
  <mat-grid-list cols="24" rowHeight="3.75rem" gutterSize="1rem">
    <mat-grid-tile [colspan]="tiles[0]">
      <div class="messageName elementMessage">
        <div class="iconButtonMessage" *ngIf="selectedMenu == 'bandeja'">
          <set-icon *ngIf="message.type==1" shape="speaker_notes" size="24" style="color:#f6655a;"></set-icon>
          <set-icon *ngIf="message.type==2" shape="playlist_add_check" size="24" style="color:#f6655a;"></set-icon>
          <set-icon *ngIf="message.type==3" shape="notifications" size="24" style="color:#f6655a;"></set-icon>
        </div>
        {{ message.name }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[1]">
      <div class="messageSubject elementMessage">
        <ng-container *ngIf="message.type==1">
            <div class="iconButtonMessage">
              <set-icon *ngIf="message.status == 1 && message.lastMessageOrigin == false" shape="reply_all" size="24" style="color:#a9d3ab;"></set-icon>
              <set-icon *ngIf="message.status == 1 && message.lastMessageOrigin == true" shape="reply" size="24" style="color:#9dc2ff;" class="transformIcon"></set-icon>
            </div>
            <div *ngIf="message.status == 1 && message.lastMessageOrigin == false" class="statusMessage" style="background-color:#fddcda;">Abierta</div>
            <div *ngIf="message.status == 1 && message.lastMessageOrigin == true" class="statusMessage" style="background-color:#fddcda;">Abierta</div>
            <div *ngIf="message.status == 0" class="statusMessage" style="background-color:#f0f0f1;">Cerrada</div>
        </ng-container>
        <ng-container *ngIf="message.type==2">
            <div class="iconButtonMessage">
              <set-icon *ngIf="message.status == 1 && message.lastMessageOrigin == true" shape="watch_later" size="24" style="color:#f6655a;"></set-icon>
            </div>
            <div *ngIf="message.status == 1 && message.lastMessageOrigin == true" class="statusMessage" style="background-color:#f8877f;">Pendiente</div>
            <div *ngIf="message.status == 1 && message.lastMessageOrigin == false" class="statusMessage" style="background-color:#fddcda;">Pendiente</div>
            <div *ngIf="message.status == 0" class="statusMessage" style="background-color:#f0f0f1;">Realizada</div>
        </ng-container>
        <ng-container *ngIf="message.type==3">
            <div class="iconButtonMessage"></div>
            <div *ngIf="message.status == 1" class="statusMessage" style="background-color:#fddcda;">Nueva</div>
            <div *ngIf="message.status == 0" class="statusMessage" style="background-color:#f0f0f1;">Vista</div>
        </ng-container>
        <div class="messageSubject">
          {{ message.subject }}
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[2]">
      <div class="messageDescription elementMessage">
        {{ message.description }}
      </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="allTiles" [colspan]="tiles[3]">
        <div class="messageDate elementMessage">
            <ng-container *ngIf="message.type==1">
                <div *ngIf="message.status == 1 && message.lastMessageOrigin == false" class="numMessages" style="background-color:#cbe5cc;">1</div>
                <div *ngIf="message.status == 1 && message.lastMessageOrigin == true" class="numMessages" style="background-color:#c4daff;">2</div>
                <div *ngIf="message.status == 0" class="numMessages" style="background-color:#e1e1e3;">3</div>
            </ng-container>
            <div *ngIf="message.type==1" class="dateMessage">
              {{ message.date }}
            </div>
            <div *ngIf="message.type==2 && message.status == 0" class="dateMessageBlack">
              {{ message.date }}
            </div>
            <div *ngIf="message.type==2 && message.status == 1" class="dateMessageRed">
              {{ message.date }}
            </div>
            <ng-container *ngIf="message.type==1">
              <div class="iconButtonMessage" *ngIf="detailView == false">
                <set-icon *ngIf="message.status == 1" shape="archive" set-color color="black"></set-icon>
                <set-icon *ngIf="message.status == 0" shape="replay" set-color color="black"></set-icon>
              </div>
            </ng-container>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="allTiles && tiles[4] != 0" [colspan]="tiles[4]">
    </mat-grid-tile>
  </mat-grid-list>
</div>
