<script>
function enviaForm() {
	message="";
	message+="<strong>Consulta desde la pagina web</strong>" + "<br/>";
	message+="<strong>Empresa:</strong> " + document.getElementById("enterprise").value + "<br/>";
	message+="<strong>Persona de contacto:</strong> " + document.getElementById("contact").value + "<br/>";
	message+="<strong>Teléfono:</strong> " +  document.getElementById("telephone").value + "<br/>";
	message+="<strong>Email:</strong> " +  document.getElementById("from").value + "<br/>";
	message+="<strong>Consulta:</strong> " + document.getElementById("question").value  + "<br/>";
	document.getElementById("content").value=message;
}
</script>
<div class="formulario">
	<form name="Formpedidos" id="Formpedidos" action="http://www.merkataritza.com/mail/servlet/servlet.SendMailServlet" target="#ok">
		<dl>
			<dt><label for="enterprise">Empresa</label></dt>
			<dd><input type="text" name="enterprise" id="enterprise"></dd>
			<dt><label for="contact">Persona de contacto</label></dt>
			<dd><input type="text" name="contact" id="contact"></dd>
			<dt><label for="telephone">Teléfono</label></dt>
			<dd><input type="text" name="telephone" id="telephone"></dd>
			<dt><label for="from">Email</label></dt>
			<dd><input type="text" name="from" id="from"></dd>
			<dt><label for="question">Consulta</label></dt>
			<dd><textarea name="question" rows="5" id="question"></textarea>
			</dd>
		</dl>
		<input type="hidden" name="subject" id="subject" value="FORMULARIO ENVIADO DESDE LA PÁGINA WEB">
		<input type="hidden" name="content" id="content">				
		<input type="hidden" name="to" value="$!email">
		<input type="hidden" name="ok_return" id="ok_return" value="mailok.html" />	
		<input type="hidden" name="error_return" id="error_return" value="mailerror.html"/>	
		<div class="fButtons" style="padding-left:13em;">
			<button type="submit" name="bt_cancel" onClick="enviaForm();">Enviar</button>
			<button type="reset" name="bt_cancel">Borrar campos</button>
		</div>
	</form>
	<div class="infoHelp">
		<p>De conformidad con lo establecido en el artículo 5 de la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal, se informa a las personas que cumplimenten este formulario, que los datos en él introducidos serán incorporados en un fichero informático, previamente comunicado a la Agencia de Protección de Datos a los efectos de envío de pedidos y circulares de nuestro departamento comercial. Mediante el envío de este formulario, el usuario da su consentimiento al tratamiento automatizado de los datos incluidos en el mismo. </p>
		<p>Los datos facilitados no serán objeto de cesión a terceros. Los datos solicitados son los estrictamente necesarios para enviar los pedidos y las circulares de nuestro departamento comercial, por lo que su cumplimentación es obligatoria. Asimismo podrán utilizarse con el objetivo de mejorar la calidad de los servicios que Logstar Aviación S.L. ofrece .</p>
		<p>El usuario, o la persona física que lo represente, tiene derecho a acceder al fichero, rectificar sus datos, o cancelarlos. Para ejercitar este derecho puede enviar un mensaje a $email. El fichero se encuentra en el sistema informático sito en la calle $!address.getAddress() $!address.getAddress2() $!address.getAddress3() $!address.getZip() $!address.getCity() ($!address.getGeozone().getName()). El responsable del fichero es $!company.getName() </p>
	</div>
</div>