		<div class="content">
			<table cellpadding="10" cellspacing="0" border="0" class="info">
<tr>
	<td width="320">
		<p><strong>$!company_name</strong></p>

<br>$esc.html($!address.getFullAddress()) </br>
<br>$esc.html($!address.getZip())  </br>
<br>$esc.html($!address.getCity())   ($esc.html($!address.getGeozone().getName()))</br>


		<p>Tel: $!phone</p>
		#if ($fax && !$fax.toString().trim().equals(""))
			<p>Fax: $!fax</p>
		#end
		<div class="title">
			$!title
		</div>
		<p>
			$!text


		</p>
#if ($schedule && !$schedule.toString().trim().equals(""))
		<div class="title">
			
		</div>
		<p>
			$!schedule

		</p>
#end
	</td>
	<td>
	<h1>$!slogan</h1>
	<p>$!description</p>
	</td>
</tr>
</table>
		
	</div>