<div style="height: calc(100%); overflow: auto; padding-right: .5rem;">
    <div class="statusDate">
        <div class="messageSubject elementMessage">
            <ng-container *ngIf="message.type==1">
                <div *ngIf="message.status == 1 && message.lastMessageOrigin == false" class="statusMessage" style="background-color:#fddcda;">Abierta</div>
                <div *ngIf="message.status == 1 && message.lastMessageOrigin == true" class="statusMessage" style="background-color:#fddcda;">Abierta</div>
                <div *ngIf="message.status == 0" class="statusMessage" style="background-color:#f0f0f1;">Cerrada</div>
            </ng-container>
            <div class="consultDetailsIcons">
                <set-icon shape="reply" set-color color="black" style="width: 1.5rem; height: 1.5rem; cursor: pointer;" (click)="showFormFunction()"></set-icon>
                <set-icon shape="archive" set-color color="black" style="width: 1.5rem; height: 1.5rem; cursor: pointer;" (click)="openDialog(message.subject)"></set-icon>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="display: flex;justify-content: space-between;align-items: center;">
        <div class="subjectDetail elipsis">
            <set-icon shape="arrow_back" set-color color="black" (click)="close()" style="width: 1.5rem; height: 1.5rem; padding-right: 1rem;cursor: pointer;"></set-icon>
            <div class="messageSubjectDetail elipsis">
                {{message.subject}}
            </div>
        </div>
        <div *ngIf="message.type==1" class="dateMessage elipsis">
            {{ message.date }}
        </div>
    </div>
    <div *ngFor="let item of allMessages;last as isLast;let i = index;">
        <ng-container *ngIf="showItems[i]==true">
            <mat-grid-list cols="24" rowHeight="3.75rem" gutterSize="1rem" (click)="showConsult(i)" style="cursor: pointer;">
                <mat-grid-tile colspan="8">
                    <div class="nameConsult elipsis" *ngIf="item.lastMessageOrigin==true">
                        {{item.name}}
                    </div>
                    <div class="nameConsult elipsis" *ngIf="item.lastMessageOrigin==false">
                        <set-icon shape="reply" style="width: 1.5rem; height: 1.5rem; padding-right: 1rem;color: lightgray;"></set-icon>
                        Yo
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="8">
                    <div class="descriptionConsult elipsis">
                        {{item.description}}
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="8">
                    <div class="dateConsult elipsis">
                        {{item.date}}
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-container>
        <ng-container *ngIf="showItems[i]==false">
            <div class="messageExpanded">
                <div class="elementMessage" (click)="showConsult(i)" style="cursor: pointer;">
                    <div class="elementMessage">
                        <div class="nameConsult elipsis" *ngIf="item.lastMessageOrigin==true">
                            {{item.name}}
                        </div>
                        <div class="nameConsult elipsis" *ngIf="item.lastMessageOrigin==false">
                            <set-icon shape="reply" style="width: 1.5rem; height: 1.5rem; padding-right: 1rem;color: lightgray;"></set-icon>
                            Yo
                        </div>
                    </div>
                    <div class="dateConsult elipsis">
                        {{item.date}}
                    </div>
                </div>
                <div class="descriptionConsult" style="margin-bottom: .5rem ;">
                    {{item.description}}
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eveniet fuga molestiae quidem delectus unde iste quam in dolorem error soluta natus veritatis, non deserunt ducimus voluptatem numquam nam quasi.
                </div>
            </div>
        </ng-container>
        <mat-divider *ngIf="!isLast"></mat-divider>
    </div>
    <div class="inputTextArea" *ngIf="showForm">
        <mat-form-field appearance="outline" style="width: 100%;max-height: 250px!important;">
            <textarea matInput
                class="textAreaDetail"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                placeholder="Escribe..."></textarea>
        </mat-form-field>
    </div>
    <div class="buttonsDetail" *ngIf="showForm">
        <div class="buttonDetailSize processButton fontButton">
            <div class="iconButtonMessage">
                <set-icon shape="send" style="color:white;"></set-icon>
            </div>
            ENVIAR
        </div>
    </div>    
</div>
