
.loginFormField{
  width: 90%;

}
.initialContent{
  height: 250px;
  background-color: aqua;

}
.centerContent{
  width: 37%;
  height: 35%;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  border: 1px solid;
  border-width: 1px;
  border-radius: 5px ;
  border-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.formContent{
  flex-direction: column;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.loginButtonSessionDiv{
  background-color:white ;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}
// .loginButtonSessionDiv:hover{
//   background-color:white ;
//   border-radius: 5px;
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }
.loginButton{
  width: 90%;
  max-width: 90%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: black!important;
}
#notPasswordButton{
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 16px;
}
#initSessionButton{
  background-color: white!important;
  border: solid 2px!important;
  border-color:  black;

}
#initSessionButton:hover{
  background-color: black!important;
  border: solid 2px!important;
  border-color: black!important;
  color: white;
  //transition: transform 250ms!important;
}
#textInitial{
  color: #787885;
  font-size: 20px;

}
#loginMiddleLine{
  padding: 5px;
  font-size: 10px;
  color:#5A5B6A ;
  background-color: white;
  }
.line{
  padding: 0%;
  border-bottom: solid  rgba(#5A5B6A , .1);
  width: 80%;
  text-align: center;
  line-height: 0.1em;
}
.conentSession{
  width:90%;
  //height: 90%;
  //display: flex;
  //justify-content: center;
}
.loginTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eyeIcon{
  position: absolute;
  display: block;
  bottom: .7em; //desde la parte inferior
  right: 0.1rem; //desde el borde derecho
  border-color:#5A5B6A;
  transition: transform .1s;
  cursor: pointer;
}
.eyeIcon:hover{
  transform: scale(1.1);
}
