<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.provider_class">com.code.aon.common.dao.hibernate.C3P0ConnectionProvider</property>
		<property name="connection.service">jboss.admin:service=AonLdap</property>
		<property name="connection.datasource">java:comp/env/jdbc/AonPayroll</property>
		<property name="dialect">com.transtools.ctsql.hibernate.dialect.CtsqlDialect</property>
		<property name="show_sql">true</property>

		<!-- C3P0 Stuff -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">1900</property>
		<property name="c3p0.timeout">3600</property>
		<property name="c3p0.max_size">30</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.preferredTestQuery">select 1;</property>

		<mapping package="com.esferalia.aon.payroll.type"/>

		<mapping class="com.esferalia.aon.payroll.Actividad"/>
		<mapping class="com.esferalia.aon.payroll.ActividadCCC"/>
		<mapping class="com.esferalia.aon.payroll.Contrato"/>
		<mapping class="com.esferalia.aon.payroll.Empleado"/>			
		<mapping class="com.esferalia.aon.payroll.Empresa"/>
		<mapping class="com.esferalia.aon.payroll.Nomina"/>
		<mapping class="com.esferalia.aon.payroll.ParteConfirmacionIT"/>		
		<mapping class="com.esferalia.aon.payroll.ParteIT"/>		
		<mapping class="com.esferalia.aon.payroll.Persona"/>
		<mapping class="com.esferalia.aon.payroll.RemesaINSS"/>
		<mapping class="com.esferalia.aon.payroll.RemesaParteIT"/>
		<mapping class="com.esferalia.aon.payroll.Usuario"/>
		
		<mapping class="com.esferalia.aon.payroll.cotizacion.Bonificacion"/>
		<mapping class="com.esferalia.aon.payroll.cotizacion.TipoBonificacion"/>
		
		<mapping package="com.code.aon.common.dao.hibernate.type"/>
		
		<!-- AON-AUDIT Mapping files -->
		<mapping class="com.code.aon.audit.Action"/>
		<mapping class="com.code.aon.audit.ActionDenied"/>
		<mapping class="com.code.aon.audit.ActionEntry"/>
		<mapping class="com.code.aon.audit.ActionFavorite"/>
		<mapping class="com.code.aon.audit.Application"/>
		<mapping class="com.code.aon.audit.Session"/>		
		
		<!-- AON-CONFIG Mapping files -->
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.CommissionType"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.WorkGroup"/>
		
		<mapping resource="orm.xml"/>
		
	</session-factory>

</hibernate-configuration>