::ng-deep{
.new-query{
  flex-grow: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  }

.issue-query{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1132px;
  margin: 22.7px 42px 18px 40px;
  padding: 0;
  }

.button{
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 46px 42px 0 1150px;
  padding: 10px 48px 10px 20px;
  border-radius: 4px;
  }

.content-input{
  margin: 22.7px 42px 18px 40px;
}

.button-close-query{
  display: flex;
  justify-content: end;
  cursor: pointer;
}
}
