<table 
  mat-table 
  mat-flat-table 
  [dataSource]="data"
>
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef> {{head[column]}} </th>
    <td mat-cell *matCellDef="let element">
      <!--Add text only-->
      <span *ngIf="column !== 'actions'" [innerHTML]="element[column]"></span>
      <!--Add buttons acctions-->
      <span *ngIf="column === 'actions'">
        <span *ngFor="let button of element[column]">
          <app-icon 
            id='btn-models'
            shape="{{button}}"
            (click)="tableClick(element['key'], button)"
            class='griss'
          ></app-icon>
        </span>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<mat-paginator 
  *ngIf="pagination"
  [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
</mat-paginator> 
