		<div class="content">
			<table cellpadding="10" cellspacing="0" border="0" class="info">
<tr>
	<td width="320">
		<p><strong>$!company.getName()</strong></p>

<br>$!address.getAddress() $!address.getAddress2() $!add.getAddress3() </br>
<br>$!address.getZip()  </br>
<br>$!address.getCity()   ($!address.getGeozone().getName())</br>


		<p>Tel: $!phone</p>
		#if ($fax && !$fax.toString().trim().equals(""))
			<p>Fax: $!fax</p>
		#end
		<div class="title">
			$!title
		</div>
		<p>
			$!text


		</p>
#if ($schedule && !$schedule.toString().trim().equals(""))
		<div class="title">
			Horario
		</div>
		<p>
			$!schedule

		</p>
#end
	</td>
	<td>
	<h1>$!slogan</h1>
	<p>$!description</p>
	</td>
</tr>
</table>
		
	</div>