.form-center {
  display: flex;
  justify-content: center;
}

.form-mobile-div {
  top: 5%;
}

.form-div {
  top: 15%;
}

.logo {
  width: 250px;
}


.example-form {
  padding-bottom: 50px;
  min-width: 150px;
  max-width: 250px;
  top: 25%;
  width: 100%;
  position: absolute;
}

.tedi-error-panel {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  color: red;
}


.example-full-width {
  width: 100%;
}

.sign-in {
  right: 0px;
  position: absolute;
}

.sign-up {
  left: 0px;
  position: absolute;
}

.tedi-main-terms{
  position:absolute;
  right: 20px;
  bottom: 20px;
}
.tedi-terms{
  color:#757575;
}

.tedi-main-m-terms{
  position:relative;
  margin-top: 50px;
}

.tedi-m-terms{
  width: 50%;
  color:#757575;
}
