.inbox {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
}

.sideInbox {
    width: 15.625rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentInbox {
    width: calc(100% - 15.625rem);
    height: 100%;
}

.buttonSideInbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.625rem;
    margin-bottom: 2.5625rem;
}

.createInbox {
    width: 90%;
    height: 3rem;
    color: white;
    background-color: #f6655a;
    text-align-last: start;
}

.circle {
    font-size: .875rem;
    font-weight: 600;
    border: solid;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px;
    border-radius: 1rem;
    background-color: #feedec;
}

.optionMenuInbox {
    height: 3.75rem;
    display: flex;
    padding: 0px 1.25rem;
    gap: 1.25rem;
    align-items: center;
}

.optionMenuInboxClicked {
    background-color: #feedec;

    .circle {
        background-color: white;
    }
}

.optionMenuInbox:hover {
    background-color: #feedec;
    cursor: pointer;

    .circle {
        background-color: white;
    }
}

.optionMenuInboxContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.optionMenuInboxIcon {
    width: 10%;
}

.optionMenuInboxText {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.15px;
    text-align: left;
    color: #19191d;
}