<mat-drawer-container class="inbox">
  <mat-drawer mode="side" opened class="sideInbox">
    <div class="buttonSideInbox" *ngIf="this.selectedMenu == 'consultas' || this.selectedMenu == 'bandeja'">
        <button mat-flat-button disabled="false" class="createInbox" (click)="openDialog()">
            <set-icon shape="add_comment" set-color size="24" [ngStyle]="{'color': 'white'}"></set-icon>
            Crear</button>
    </div>
    <div class="buttonSideInbox" *ngIf="this.selectedMenu != 'consultas' && this.selectedMenu != 'bandeja'" style="height: 3rem;"></div>
    <div class="typesInbox">
        <div [ngClass]="bandejaClass" (click)="this.selectedMenu = 'bandeja'; this.resetClass(); this.bandejaClass = this.onClickClass" #bandeja>
            <set-icon class="optionMenuInboxIcon" shape="all_inbox" set-color size="24" [ngStyle]="{'color': '#f6655a'}"></set-icon>
            <div class="optionMenuInboxText">
              Bandeja
              <div class="circle">3</div>
            </div>
        </div>
        <div [ngClass]="consultasClass" (click)="this.selectedMenu = 'consultas'; this.resetClass(); this.consultasClass = this.onClickClass" #consultas>
            <set-icon class="optionMenuInboxIcon" shape="speaker_notes" set-color size="24" [ngStyle]="{'color': '#f6655a'}"></set-icon>
            <div class="optionMenuInboxText">
              Consultas
              <div class="circle">1</div>
            </div>
        </div>
        <div [ngClass]="tareasClass" (click)="this.selectedMenu = 'tareas'; this.resetClass(); this.tareasClass = this.onClickClass" #tareas>
            <set-icon class="optionMenuInboxIcon" shape="playlist_add_check" set-color size="24" [ngStyle]="{'color': '#f6655a'}"></set-icon>
            <div class="optionMenuInboxText">
              Tareas
              <div class="circle">14</div>
            </div>
        </div>
        <div [ngClass]="notificacionesclass" (click)="this.selectedMenu = 'notificaciones'; this.resetClass(); this.notificacionesclass = this.onClickClass" #notificaciones>
            <set-icon class="optionMenuInboxIcon" shape="notifications" set-color size="24" [ngStyle]="{'color': '#f6655a'}"></set-icon>
            <div class="optionMenuInboxText">
              Notificaciones
              <div class="circle">8</div>
            </div>
        </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="contentInbox">
    <app-content-inbox class="inbox" [selectedMenu]="selectedMenu"></app-content-inbox>
  </mat-drawer-content>
</mat-drawer-container>
