body {
	padding:0;
	margin:0 auto;
	background-color:${bgcolor_color_de_fondo};
	color:${color_color_de_texto};
	font:${size_tamano_de_fuente} ${font_fuente};
	text-align: center;
	width:750px;
}
#wrapper {
	margin:0 auto;
	padding:0;
	background: #2C8DDD url (images/${img_imagen_de_fondo}) repeat-y;
	background-position:top center;
}

#header-wrapper {
	margin:0;
	padding:0;
	background: ${bgcolor_color_de_fondo_cabecera} url (images/header-bg.jpg)  repeat-x  ;
	margin-left: auto;
	margin-right: auto;
	height:49px;
}
#header {
	width:750px;
	background: #2C8DDD url(images/header-bg.jpg) ;
	background-position: 0px 0px ;
}
#header-content {
	text-align:left;
}
#title {
	text-align:left;
	height:112px;
	font:26px Arial;
	color:#000000;
	margin-left: auto;
	margin-right:auto;
	padding-left:10px;
}
#topRight {
	float:right;
	margin-right:20px;
	margin-top:-25px;
}
#container {
	text-align:left;
	width:750px;
	margin:0;
	padding:150;
	margin-left: auto;
	margin-right: auto;
}
#content {
	background-color : ${bgcolor_color_de_fondo_contenido};
	padding:25px;
	color: ${color_color_de_texto};
}
#footer-wrapper {
	padding:0;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	background: ${bgcolor_color_de_fondo_pie} url(images/footer-bg.jpg) repeat-x ;
}

#footer {
	margin:0;
	padding:0;
	height:80px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	background: #0066BB url (images/footer-bg.jpg) no-repeat 50% 0 ;
}
#footer-content {

	font : ${size_tamano_de_fuente_pie} ${font_fuente};
	color:${color_color_de_texto_pie};
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width:750px;
}
#footer-content a:link, #footer-content a:visited  {
	font : Arial, Helvetica, sans-serif;
	color:${color_color_de_texto_pie} ;
	padding-right:20px;
	padding-left:20px;	
	text-decoration:none;
}
p, div, td {
	color:${color_color_de_texto};
	font:${size_tamano_de_fuente_pie} ${font_fuente};
} 
p {
	text-align:justify;
}
h1 {
	font:24px Arial black;
	color:${color_color_de_texto};
}
h2 {
	font:22px Arial black;
	color:${color_color_de_texto};
}
h3 {
	font:18px Arial black;
	color:${color_color_de_texto};
}
.clear {
	clear:both;
}
#menu {
	font-size:12px;
	height:84px;
	line-height:115px;
	margin-left:475px;
	text-decoration:none;
	color: ${color_color_de_texto_menu};
}
#menu a {
	width:120px;
	list-style-type: none;
	text-decoration:none;
	color: ${color_color_de_texto_menu};
}
#menu  a:link, #header-menus  a:visited {
	font: bold ${font_fuente};
	color: ${color_color_de_texto_menu};
	text-decoration:none;
}
div#left {
	float:left;width:68%; margin-top:20px;
}
div#right {
	float:right;width:30%; margin-top:20px; 
}
.box  {
	background: url(images/box-header-bg.jpg) repeat-x ;
	color: ${color_color_de_texto};
	padding-left:10px ;
	padding-top: 2px ;
}
.box p {
	padding-left: 10px;
	padding-right: 10px;
	color: ${color_color_de_texto};
}
.infoHelp{
	width:395px; 
	padding:5px;
	background-color:#dddddd;
	margin-left:255px;
	font-size:9px;
}
.gallery-navigation{
	text-align:center;
	color:&{color_color_de_texto_contenido};
}
.gallery-navigation a{
	color:&{color_color_de_texto_contenido};
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:10px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}

.album {
	height:400px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}
.bold {
	float:left;
	padding:10px;
}
.bold a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}