		<div class="content">
		
			<table cellpadding="0" cellspacing="0" border="0">
<tr>
	<td>
		<p>$!company.getName() </p>


$!address.getAddress() $!address.getAddress2() $!add.getAddress3() $!address.getZip() $!address.getCity() $!address.getGeozone().getName()


		<p>Tel: $!phone</p>

	 #if ($fax && !$fax.toString().trim().equals(""))
		<p>Fax: $!fax</p>
	 #end
		<div class="title">
			$!title
		</div>
		<p>
			$!text


		</p>
#if ($schedule && !$schedule.toString().trim().equals(""))
		<div class="title">
			Horario
		</div>
		<p>
			$!schedule

		</p>
#end
	</td>
	<td>
	<h1> $!slogan</h1>
	<p> $!description</p>
	</td>
</tr>
</table>

	</div>