<div class="menu">
	<table border="0" cellspacing="0" cellpadding="0">
			  #foreach($item in $menu)
			<tr>
				<td><a href="$!item.getLink()">$!item.getLabel()</a></td>
			  </tr>
			  
			#end
	</table>
</div>