<div style="height: calc(100%); overflow: auto; padding-right: .5rem;">
    <div class="statusDate">
        <div class="messageSubject elementMessage">
            <ng-container *ngIf="message.type==2">
                <div class="iconButtonMessage">
                  <set-icon *ngIf="message.status == 1 && message.lastMessageOrigin == true" shape="watch_later" size="24" style="color:#f6655a;"></set-icon>
                </div>
                <div *ngIf="message.status == 1 && message.lastMessageOrigin == true" class="statusMessage" style="background-color:#f8877f;">Pendiente</div>
                <div *ngIf="message.status == 1 && message.lastMessageOrigin == false" class="statusMessage" style="background-color:#fddcda;">Pendiente</div>
                <div *ngIf="message.status == 0" class="statusMessage" style="background-color:#f0f0f1;">Realizada</div>
            </ng-container>
            <ng-container *ngIf="message.type==3">
                <div class="iconButtonMessage">
                  <set-icon shape="reply" size="24" style="color:white;"></set-icon>
                </div>
                <div *ngIf="message.status == 1" class="statusMessage" style="background-color:#fddcda;">Nueva</div>
                <div *ngIf="message.status == 0" class="statusMessage" style="background-color:#f0f0f1;">Vista</div>
            </ng-container>
        </div>
        <div class="messageDate elementMessage" *ngIf="message.type==2">
            <div *ngIf="message.status == 0" class="dateMessageBlack">
              {{ message.date }}
            </div>
            <div *ngIf="message.status == 1" class="dateMessageRed">
              {{ message.date }}
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="subjectDetail">
        <set-icon shape="arrow_back" set-color color="black" (click)="close()" style="width: 1.5rem; height: 1.5rem; padding-right: 1rem;cursor: pointer;"></set-icon>
        <!-- (click)="closeDetail() -->
        <div class="messageSubjectDetail">
            {{message.subject}}
        </div>
    </div>
    <div class="descriptionNameDetail">
        <div class="nameDetail">
            {{message.name}}
        </div>
        <div class="descriptionDetail">
            {{message.description}}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione vero animi eius iure at corrupti nemo pariatur nesciunt esse explicabo amet provident facilis itaque aperiam eveniet, libero quasi repellendus modi?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione vero animi eius iure at corrupti nemo pariatur nesciunt esse explicabo amet provident facilis itaque aperiam eveniet, libero quasi repellendus modi?
        </div>
    </div>
    <div class="buttonsDetail">
        <div class="buttonDetailSize processButton fontButton" *ngIf="message.type==2">
            <div class="iconButtonMessage">
                <set-icon shape="playlist_add_check" style="color:white;"></set-icon>
              </div>
            TRAMITAR
        </div>
        <div class="buttonDetailSize processButton fontButton" *ngIf="message.type==3">
            <div class="iconButtonMessage">
                <set-icon shape="playlist_add_check" style="color:white;"></set-icon>
              </div>
            CONTRATAR
        </div>
        <div class="buttonDetailSize consultButton fontButton" (click)="showFormFunction()">
            <div class="iconButtonMessage">
                <set-icon shape="chat" style="color:#f6655a;"></set-icon>
              </div>
            CONSULTAR
        </div>
    </div>
    <div class="inputTextArea" *ngIf="showForm">
        <mat-form-field appearance="outline" style="width: 100%;max-height: 250px!important;">
            <textarea matInput
                class="textAreaDetail"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                placeholder="Escribe..."></textarea>
        </mat-form-field>
    </div>
    <div class="buttonsDetail" *ngIf="showForm">
        <div class="buttonDetailSize processButton fontButton">
            <div class="iconButtonMessage">
                <set-icon shape="send" style="color:white;"></set-icon>
            </div>
            ENVIAR
        </div>
    </div>    
</div>
