<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:mysql://192.168.2.4:3306/aon-commercial</property>				
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.password">serubd2000</property>
		<property name="show_sql">true</property>		

		<!-- AON-MARKETING Mapping files -->
		<mapping class="com.code.aon.marketing.Action"/>
		<mapping class="com.code.aon.marketing.ActionTarget"/>
		<mapping class="com.code.aon.marketing.Campaign"/>
		<mapping class="com.code.aon.marketing.Question"/>
		<mapping class="com.code.aon.marketing.QuestionValue"/>
		<mapping class="com.code.aon.marketing.Survey"/>
		<mapping class="com.code.aon.marketing.SurveyQuestion"/>
		<mapping class="com.code.aon.marketing.SurveyResponse"/>
		<mapping class="com.code.aon.marketing.SurveyResponseDetail"/>
		<mapping class="com.code.aon.marketing.SurveyWorkflow"/>
		<mapping class="com.code.aon.marketing.TargetProfile"/>

		<!-- AON-GEOZONE Mapping files -->		
		<mapping class="com.code.aon.geozone.GeoTree"/>
		<mapping class="com.code.aon.geozone.GeoZone"/>			

		<!-- AON-REGISTRY Mapping files -->
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>

		<!-- AON-COMMERCIAL Mapping files -->
		<mapping class="com.code.aon.commercial.Target"/>
		
		<!-- AON-CONFIG Mapping files -->
		<mapping class="com.code.aon.config.User"/>
		
		
	</session-factory>

</hibernate-configuration>