<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:ctsql://192.168.2.21:1101/empre055;DBPATH=/home/DATABASES;RTRIMCHAR=true</property>		
		<property name="dialect">com.transtools.ctsql.hibernate.dialect.CtsqlDialect</property>
		<property name="connection.driver_class">com.transtools.jdbc.CtsqlJdbcDriver</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.password">serubd2000</property>	
		<property name="show_sql">true</property>		

		<!-- TIPOS -->		
		<mapping class="com.code.aon.payroll.tipos.Documento"/>			
		<mapping class="com.code.aon.payroll.tipos.Empresario"/>
		<mapping class="com.code.aon.payroll.tipos.Cnae"/>
		<mapping class="com.code.aon.payroll.tipos.Registro"/>
		<mapping class="com.code.aon.payroll.tipos.Incidencia"/>
		<mapping class="com.code.aon.payroll.tipos.Autorizacion"/>				

		<!-- ORGANISMOS ENTIDADES -->
		<mapping class="com.code.aon.payroll.organismos_entidades.Admon"/>
		
		<!-- SISTEMA RED -->
		<mapping class="com.code.aon.payroll.sistema_red.Colectivos"/>			

		<!-- COTIZACIONES -->		
		<mapping class="com.code.aon.payroll.cotizacion.PorcentajeMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Porcentaje"/>
		<mapping class="com.code.aon.payroll.cotizacion.Bonificacion"/>				

	</session-factory>

</hibernate-configuration>