<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">true</property>		
		<property name="connection.url">jdbc:mysql://volga:3306/aon_master?autoReconnect=true</property>		
		<property name="connection.driver_class">org.gjt.mm.mysql.Driver</property>		
		<property name="connection.username">dbuser</property>		
		<property name="connection.password">serubd2000</property>		
		
		<mapping package="com.code.aon.common.dao.hibernate.type"/>

		<!-- AON-PAYROLL Mapping files -->
		<mapping class="com.esferalia.aon.payroll.Agreement"/>
		<mapping class="com.esferalia.aon.payroll.AgreementExtra"/>
		<mapping class="com.esferalia.aon.payroll.AgreementLevel"/>
		<mapping class="com.esferalia.aon.payroll.AgreementLevelCategory"/>
		<mapping class="com.esferalia.aon.payroll.AgreementLevelData"/>
		<mapping class="com.esferalia.aon.payroll.AgreementPayment"/>
		<mapping class="com.esferalia.aon.payroll.BonusConcept"/>
		<mapping class="com.esferalia.aon.payroll.Certifica2Batch"/>
		<mapping class="com.esferalia.aon.payroll.Certifica2BatchData"/>
		<mapping class="com.esferalia.aon.payroll.Certifica2BatchDetail"/>
		<mapping class="com.esferalia.aon.payroll.CNO"/>
		<mapping class="com.esferalia.aon.payroll.Contract"/>
		<mapping class="com.esferalia.aon.payroll.ContractAttachment"/>
		<mapping class="com.esferalia.aon.payroll.ContractBatch"/>
		<mapping class="com.esferalia.aon.payroll.ContractBatchDetail"/>
		<mapping class="com.esferalia.aon.payroll.ContractBonus"/>
		<mapping class="com.esferalia.aon.payroll.ContractCalendarEvent"/>
		<mapping class="com.esferalia.aon.payroll.ContractData"/>
		<mapping class="com.esferalia.aon.payroll.ContractDeduction"/>
		<mapping class="com.esferalia.aon.payroll.ContractEmbargo"/>
		<mapping class="com.esferalia.aon.payroll.ContractLeave"/>
		<mapping class="com.esferalia.aon.payroll.ContractLeaveDetail"/>
		<mapping class="com.esferalia.aon.payroll.ContractPayment"/>
		<mapping class="com.esferalia.aon.payroll.DeductionConcept"/>
		<mapping class="com.esferalia.aon.payroll.EnterpriseActivity"/>
		<mapping class="com.esferalia.aon.payroll.EnterpriseCCC"/>
		<mapping class="com.esferalia.aon.payroll.LeaveBatch"/>
		<mapping class="com.esferalia.aon.payroll.LeaveBatchDetail"/>
		<mapping class="com.esferalia.aon.payroll.PaymentConcept"/>
		<mapping class="com.esferalia.aon.payroll.PayrollWorkPlace"/>
		<mapping class="com.esferalia.aon.payroll.Salary"/>
		<mapping class="com.esferalia.aon.payroll.SalaryBonus"/>
		<mapping class="com.esferalia.aon.payroll.SalaryCost"/>
		<mapping class="com.esferalia.aon.payroll.SalaryDeduction"/>
		<mapping class="com.esferalia.aon.payroll.SalaryEmbargo"/>
		<mapping class="com.esferalia.aon.payroll.SalaryPayment"/>
		<mapping class="com.esferalia.aon.payroll.SystemData"/>
		<mapping class="com.esferalia.aon.payroll.SystemDeduction"/>
		<mapping class="com.esferalia.aon.payroll.SystemPayment"/>

		<mapping class="com.code.aon.company.Enterprise"/>
		<mapping class="com.code.aon.company.WorkPlace"/>

		<mapping class="com.code.aon.person.Person"/>	
		
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>		
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>	
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Segment"/>
		
		
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.CNAE"/>
		<mapping class="com.code.aon.config.CommissionType"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.PayMethodTypeDetail"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.UserWorkGroup"/>
		<mapping class="com.code.aon.config.WorkGroup"/>
		
		<mapping class="com.code.aon.geozone.GeoZone"/>

		<mapping class="com.esferalia.aon.calendar.Calendar"/>
		<mapping class="com.esferalia.aon.calendar.Holiday"/>
	</session-factory>

</hibernate-configuration>