body {
		   font: ${size_tamano_de_fuente} ${font_fuente};
		   color: ${color_color_de_texto};
		   background-color: ${bgcolor_color_de_fondo};
}
 h1{
		   color: ${color_color_texto_titulos};
		   font:1.1em/1 ${font_fuente};
		   font-weight:700;
		   margin:2em 0 .5em;
}
h2{
		   color: ${color_color_texto_titulos};
		   font:1em/1 ${font_fuente};
		   font-weight:600;
		   margin:2em 0 .5em;
}
p{
		   line-height:1.8;
		   margin:0 0 1em;
			   text-align: justify;
}
ol, ul{
		   margin-top:0;
			 margin-bottom:1em;
		   line-height:1.8;
}
a{
		   color: ${color_color_texto_links};
		   text-decoration:none;
		   font-weight:600;
}
a:link{  
			 color:${color_color_texto_links};
}
a:visited{
			 color:#444;
}
a:hover{
			 color: ${color_color_texto_links_hover};
}
body{
		   margin:50px 0px; 
		   padding:0px;
		   text-align:center;
}
img{ 
		   border: 0px;
		   margin:0 0 1em;
}
acronym{
			 cursor: help;
}
#navcontainer{
			 margin-left: auto;
			 margin-right: auto;
			 border-top: 1px solid #999;
			 z-index: 1;
			 width:675px;
}
#navcontainer ul{
			 list-style-type: none;
			 text-align: center;
			 margin-top: -0.9em;
			 padding: 1px;
			 position: relative;
			 z-index: 2;
height:46px;
}
#navcontainer ul:hover{
			 list-style-type: none;
			 text-align: center;
			 margin-top: -0.9em;
			 padding: 1px;
			 position: relative;
			 z-index: 2;
height:46px;
}
#navcontainer li{
			 display: inline;
			 text-align: center;
			 margin: 0 3px;
}
#navcontainer li a{
			 padding: 1px 7px;
			 color: #666;
			 background-color: #eee;
			 border: 1px solid #ccc;
			 text-decoration: none;
}
#navcontainer li a:hover{
			 color: #000;
			 border: 1px solid #666;
			 border-top: 1px solid #666;
			 border-bottom: 1px solid #666;
			 padding: 1px 7px;
}
#navcontainer li a#current{
			 color: #000;
			 border: 1px solid #666;
			 border-top: 1px solid #666;
			 border-bottom: 1px solid #666;
			 padding: 1px 7px;
}
 #content{
		   width:675px;
		   margin:0px auto;
		   text-align:left;
		   padding:1.3em;
		   border: ${border_bordes} solid  ${color_color_borde};
		   margin-bottom: 2.7em;
		   background-color: ${bgcolor_color_de_fondo_contenido};
		padding:20px;
}
#description{
		   width:460px;
		   margin:0px auto;
		   text-align:left;
		   padding:0.6em;
		   border:1px dotted #888;
		   margin-bottom: 0.5em;
		   background-color:#f3f3f3;
}
#address ul{
			 list-style-type: none;
			 margin-top: 4px;
}
#footer{
		   text-align:center;
		   font-size:9px;
}
.box{
	text-align:center; 
	padding-top:10px;
	}
.texto{
	text-align:right;
	}
.infoHelp{
	width:295px; 
	padding:15px;
	margin-top:30px;
	background-color:#dddddd;
	margin-left:255px;
	text-align:justify;
	font-size:9px;
	}
.gallery-navigation{
	text-align:center;}
.album-block{ 
	text-align:center;}
.formulario{
	margin-left:5px;
	float: left;
	margin-top:27px;
	}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
td img{
/*padding:20px;*/}

.album {
height:400px;
padding-left:55px;
text-align:center;
}
.album a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:&{color_color_de_texto_contenido};
}

.content{
	color:${color_color_de_texto_contenido};
	background-color:${bgcolor_color_de_fondo_contenido};
	border-left:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	padding:25px;
padding-top:20px;
width:580px;
margin:0 auto;
}