/********************************************************************
* Copyright (c) 2010, esferalia NETWORKS S.A
*
* The copyright of the computer program herein is the property 
* of esferalia NETWORKS.
*********************************************************************
* The program may be used and/or copied only with the written 
* permission of esferalia NETWORKS, or in accordance with the 
* terms and conditions stipulated in the agreement contract 
* under which the program has been supplied.
*********************************************************************
*/

package com.esferalia.aon.payroll.ctsql2mysql;

import java.sql.Date;
import java.sql.Time;
import java.sql.Timestamp;
import java.sql.Connection;
import java.sql.ResultSet;
import java.sql.Statement;
import java.sql.PreparedStatement;
import java.sql.SQLException;

import java.math.BigDecimal;

/**
* AbstractCtsqlDB
* 
*/
public class AbstractCtsqlDB {
	
	

	protected Connection ctsqlConnection;


	public AbstractCtsqlDB( Connection ctsqlConnection) {
		this.ctsqlConnection = ctsqlConnection;
	}

#foreach($table in $tables)
	
#foreach ($child in $table.childs)
		
	private PreparedStatement ${child.name}Stmt = null;
		
	private void init${child}Stmt() 
	throws SQLException{
		this.${child.name}Stmt = ctsqlConnection.prepareStatement(
				"SELECT "
#foreach ($column in $child.table.columns)
				+ "#if( $velocityCount > 1 ),#end${column.name}" 
#end
				+ " FROM ${child.table.name}"
				+ " WHERE" 
#foreach ($col in $child.fkColumns) 
				+ " $col.name = ?  " #if( $velocityHasNext ) + "AND" #end  
#end
			); 
	}

	private void close${child}Stmt() 
	throws SQLException{
		if ( ${child.name}Stmt != null ) { 
			${child.name}Stmt.close();
			${child.name}Stmt = null;	
		}
	}
#end

#foreach ($parent in $table.parents)
#set( $tnerap = $StringUtils.reverse($parent.name) )
#set( $Tnerap = $StringUtils.capitalize($tnerap) )
	private PreparedStatement _${tnerap}Stmt = null;
		
	private void init${Tnerap}Stmt() 
	throws SQLException{
		this._${tnerap}Stmt = ctsqlConnection.prepareStatement(
				"SELECT "
#foreach ($column in $parent.table.columns)
				+ "#if( $velocityCount > 1 ),#end${column.name}" 
#end
				+ " FROM ${parent.table.name}"
				+ " WHERE" 
#foreach ($col in $parent.pkColumns) 
				+ " $col.name = ?  " #if( $velocityHasNext ) + "AND" #end  
#end
			); 
	}

	private void close${Tnerap}Stmt() 
	throws SQLException{
		if ( _${tnerap}Stmt != null ) { 
			_${tnerap}Stmt.close();
			_${tnerap}Stmt = null;	
		}
	}
#end

	/**
	 * $table
	 * $table.remarks
	 */
	public class $table {
		
		private ResultSet rs;
		
		protected $table (ResultSet rs) 
		throws SQLException {
			this.rs =rs;
		}
		
#foreach ($column in $table.columns)
		/**
		 * $column.remarks
		 * @return the column '${column.name}' value; if the value is SQL NULL, the value returned is null
		 * @throws SQLException
		 */
		public ${column.javaClass} get${column}()
		throws SQLException {
#if ($column.javaClass.equals("Integer"))
			return rs.getInt(${velocityCount});
#else
			return rs.get${column.javaClass}(${velocityCount});
#end
		}
#end

#foreach ($parent in $table.parents)
#set( $tnerap = $StringUtils.reverse($parent.name) )
#set( $Tnerap = $StringUtils.capitalize($tnerap) )
		/**
		 * Visit ${parent.table} that's parent of this ${table}. 
		 * @param ctsqlDBVisitor a CtsqlDBVisitor.
		 * @throws SQLException
		 */
		public void visit${parent}(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
			ResultSet 			rs 	= null;
			try {
				
				if ( _${tnerap}Stmt == null )
					 init${Tnerap}Stmt();
				
#foreach ($col in $parent.fkColumns)
#if ($col.javaClass.equals("Integer"))
				_${tnerap}Stmt.setInt($velocityCount, this.get${col}()); 
#else
				_${tnerap}Stmt.set${col.javaClass}($velocityCount, this.get${col}()); 
#end
#end
				rs = _${tnerap}Stmt.executeQuery();
				${parent.table} ${parent.table.name} = new ${parent.table}(rs); 
				while ( rs.next() ) {
					ctsqlDBVisitor.visit${parent}(this, ${parent.table.name});
				}
			}
			finally {
				if ( rs != null )
					rs.close();
			}
		}
#end

#foreach ($child in $table.childs)
		
		/**
		 * Visit ${child.table} that're children of this ${table}. 
		 * @param ctsqlDBVisitor a CtsqlDBVisitor.
		 * @throws SQLException
		 */
		public void visit${child}(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
			ResultSet 			rs 	= null;
			try {
				
				if ( ${child.name}Stmt == null )
					 init${child}Stmt();
				
#foreach ($col in $child.pkColumns)
#if ($col.javaClass.equals("Integer"))
				${child.name}Stmt.setInt($velocityCount, this.get${col}()); 
#else
				${child.name}Stmt.set${col.javaClass}($velocityCount, this.get${col}()); 
#end
#end
				rs = ${child.name}Stmt.executeQuery();
				${child.table} ${child.table.name} = new ${child.table}(rs); 
				while ( rs.next() ) {
					ctsqlDBVisitor.visit${child}(${child.table.name}, this);
				}
			}
			finally {
				if ( rs != null )
					rs.close();
			}
		}
#end
	}
	

#end

	public void visit (CtsqlDBVisitor ctsqlDBVisitor) 
	throws SQLException
	{
		ctsqlDBVisitor.visit(this);
	}

#foreach($table in $tables)
	/**
	 * Visit all ${table}'s .
	 * @param ctsqlDBVisitor a CtsqlDBVisitor.
	 * @throws SQLException
	 */
	public void visit$table(CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
		ResultSet rs 	= null;
		Statement stmt 	= null;
		try {
			
			stmt = ctsqlConnection.createStatement();
			rs = stmt.executeQuery("SELECT "
#foreach ($column in $table.columns)
				+ "#if( $velocityCount > 1 ),#end${column.name}" 
#end
				+ " FROM ${table.name}");
			$table $table.name = new $table(rs); 
			while ( rs.next() ) {
				ctsqlDBVisitor.visit$table($table.name);
			}
		}
		finally {
			if ( rs != null )
				rs.close();
			if ( stmt != null )
				stmt.close();
		}
	}

#if($table.pkColumns.size() > 0 )
	/**
	 * Visit all ${table}'s .
	 * @param ctsqlDBVisitor a CtsqlDBVisitor.
	 * @throws SQLException
	 */
#set($colCount = 0)
	public void visit$table(#foreach ($column in $table.pkColumns)
#if( $colCount > 0 ), #end$column.javaClass $column.name #set($colCount = $colCount + 1)
#end#if( $colCount > 0 ),#end CtsqlDBVisitor ctsqlDBVisitor) throws SQLException{
		ResultSet rs 	= null;
		PreparedStatement stmt 	= null;
		try {
			
			stmt = ctsqlConnection.prepareStatement("SELECT "
#foreach ($column in $table.columns)
				+ "#if( $velocityCount > 1 ),#end${column.name}" 
#end
				+ " FROM ${table.name}" 
				+ " WHERE" 
#foreach ($col in $table.pkColumns) 
				+ " $col.name = ?  " #if( $velocityHasNext ) + "AND" #end
				  
#end
				);

#foreach ($col in $table.pkColumns)
#if ($col.javaClass.equals("Integer"))
				stmt.setInt($velocityCount, ${col.name}); 
#else
				stmt.set${col.javaClass}($velocityCount, ${col.name} ); 
#end
#end

			rs = stmt.executeQuery();
			$table $table.name = new $table(rs); 
			while ( rs.next() ) {
				ctsqlDBVisitor.visit$table($table.name);
			}
		}
		finally {
			if ( rs != null )
				rs.close();
			if ( stmt != null )
				stmt.close();
		}
	}

#end
#end

	@Override
	protected void finalize() throws Throwable {
#foreach($table in $tables)
#foreach ($child in $table.childs)
		close${child}Stmt();
#end	
#foreach ($parent in $table.parents)
#set( $tnerap = $StringUtils.reverse($parent.name) )
#set( $Tnerap = $StringUtils.capitalize($tnerap) )
		close${Tnerap}Stmt();
#end	
#end
		super.finalize();
	}




}		
	
	
