body { 
	margin:0 auto; 
	font-size: ${size_tamano_de_fuente};
	line-height:16px; 
	background-color: ${bgcolor_color_de_fondo};
	font-family: ${font_fuente};
	width:760px;
}
a { 
	color: ${color_color_de_texto_menu};
}
a:hover { 
	text-decoration:none;
}
#container { 
	background: url(images/bckg.jpg) 0 100px repeat-x ${bgcolor_color_de_fondo_menu};
}
#header { 
	background: url(images/header_bckg.jpg) repeat-x ${bgcolor_color_de_fondo_menu};  
}
#logo { 
	 
	text-align:left; 
}
#logo a{ 
	color: ${color_color_de_texto_cabecera};
	text-decoration:none; 
	font-weight:bold; 
	font-size:30px; 
	text-transform:uppercase;
}
#logo a:hover { }
#menu { 
	background-color:${bgcolor_color_de_fondo_menu};
	width:750px; 
	margin:0 auto; 
	height:32px; 
	margin-top:15px;
}
#menu ul { 
	margin:0; 
	padding:0;
}
#menu ul li{ 
	display:inline-block; 
	float:left; 
	width:100px; 
	list-style:none; 
	text-align:center; 
	height:32px;
}
#menu a { 
	display:block; 
	float:left; 
	width:100px; 
	color: ${color_color_de_texto_menu};
	font-size: ${size_tamano_de_fuente_menu};
	text-transform:uppercase; 
	font-weight:bold; 
	text-decoration:none; 
	padding-top:8px;
}
#menu a:hover{ 
	background-color: ${bgcolor_color_de_fondo_menu_hover};
	padding-top:8px; 
	height:24px; 
	color: ${color_color_de_texto_menu_hover};
}
#main { 
	width:100%;
}
#content { 
	margin:0 auto; 
	padding:0; 
	width:738px; 
	padding:10px 10px 20px 10px; 
	background-color: ${bgcolor_color_de_fondo_contenido};
}
#content h1 { 
	margin:0; 
	text-transform:uppercase; 
	font-size:1.5em; 
	color: ${color_color_de_texto_cabecera} ;
	background-color: ${bgcolor_color_de_fondo_menu};
	padding:5px; 
}
.red { 
	color:#FF5220;
}
#content p { 
	padding-bottom:0px; 
	margin-bottom:0px;
}
.footer {
	background: url(images/footer_bckg.jpg) repeat-x ${bgcolor_color_de_fondo_menu}; 
	height: 100px; 
	border-top: ${border_borde} solid ${color_color_de_borde};
}
.left_footer { 
	float:left; 
	padding:40px 0 0 30px; 
	text-transform:uppercase; 
	color: ${color_color_de_texto_pie};
	font-weight:bold; 
	font-size:10px;
}
.left_footer a { 
	color: ${color_color_de_texto_pie};
}
.left_footer a:hover { 
	text-decoration:none;
}
.right_footer { 
	float:right;  
	padding:40px 30px 0 0; 
	text-transform:uppercase; 
	color: ${color_color_de_texto_pie};
	font-weight:bold; 
	font-size: ${size_tamano_de_fuente_pie}; 
	text-align:right;
}
.right_footer a { 
	color: ${color_color_de_texto_pie};
}
.right_footer a:hover { 
	text-decoration:none;
}

.box{
	text-align:center; 
	padding-top:10px;
	}
.texto{
	text-align:right;
	}
.infoHelp{
	width:435px; 
	padding:15px;
	margin-top:20px;
	background-color:#dddddd;
	margin-left:255px;
	text-align:justify;
	font-size:9px;
	}
.gallery-navigation{
	text-align:center;
	color: #000000;
}
.gallery-navigation a{
	color: #000000;
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	margin-top:27px;
	}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}

.album {
	height:400px;
	text-align:center;
	color: #000000;
	margin-left:60px;
}
.album a{
	text-decoration:none;
	color: #000000;
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color: #000000;
}
.bold {
	color: #000000;
	text-decoration:none;	
}
.bold a{
	color: #000000;
	text-decoration:none;	
}