<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
 
		<mapping package="com.code.aon.common.dao.hibernate.type"/> 

		<!-- AON-ACCOUNT Mapping files -->
		<mapping class="com.code.aon.account.Account"/>

		<!-- AON-REGISTRY Mapping files -->
		<mapping class="com.code.aon.registry.Category"/>
		<mapping class="com.code.aon.registry.RegistryBank"/>
		<mapping class="com.code.aon.registry.RecordData"/>
		<mapping class="com.code.aon.registry.Registry"/>
		<mapping class="com.code.aon.registry.RegistryAddInfo"/>
		<mapping class="com.code.aon.registry.RegistryAddress"/>
		<mapping class="com.code.aon.registry.RegistryAttachment"/>
		<mapping class="com.code.aon.registry.RegistryDirStaff"/>
		<mapping class="com.code.aon.registry.RegistryMedia"/>
		<mapping class="com.code.aon.registry.RegistryNote"/>
		<mapping class="com.code.aon.registry.RegistryPayMethod"/>
		<mapping class="com.code.aon.registry.RegistryRelationship"/>
		<mapping class="com.code.aon.registry.RegistrySegment"/>
		<mapping class="com.code.aon.registry.Relationship"/>
		<mapping class="com.code.aon.registry.Segment"/>
		
		<!-- AON-COMMERCIAL Mapping files -->
		<mapping class="com.code.aon.commercial.CommercialActivity"/>
		<mapping class="com.code.aon.commercial.CommercialTerm"/>
		<mapping class="com.code.aon.commercial.CommercialTracking"/>
		<mapping class="com.code.aon.commercial.Expense"/>
		<mapping class="com.code.aon.commercial.ExpenseAccount"/>
		<mapping class="com.code.aon.commercial.ExpenseAccountDetail"/>
		<mapping class="com.code.aon.commercial.Offer"/>
		<mapping class="com.code.aon.commercial.OfferAttachment"/>
		<mapping class="com.code.aon.commercial.OfferDetail"/>
		<mapping class="com.code.aon.commercial.OfferTerm"/>
		<mapping class="com.code.aon.commercial.Target"/>
		<mapping class="com.code.aon.commercial.TargetItem"/>
		<mapping class="com.code.aon.commercial.TargetSeller"/>	
		
		<!-- AON-MARKETING Mapping files -->
		<mapping class="com.code.aon.marketing.Action"/>
		<mapping class="com.code.aon.marketing.ActionTarget"/>
		<mapping class="com.code.aon.marketing.Campaign"/>
		<mapping class="com.code.aon.marketing.Question"/>
		<mapping class="com.code.aon.marketing.QuestionValue"/>
		<mapping class="com.code.aon.marketing.Survey"/>
		<mapping class="com.code.aon.marketing.SurveyQuestion"/>
		<mapping class="com.code.aon.marketing.SurveyResponse"/>
		<mapping class="com.code.aon.marketing.SurveyResponseDetail"/>
		<mapping class="com.code.aon.marketing.SurveyWorkflow"/>
		<mapping class="com.code.aon.marketing.TargetProfile"/>
		<mapping class="com.code.aon.marketing.MarketingTarget"/>		
		
		<!-- AON-CONFIG Mapping files -->		
		<mapping class="com.code.aon.config.ApplicationParameter"/>
		<mapping class="com.code.aon.config.Bank"/>
		<mapping class="com.code.aon.config.PayMethod"/>
		<mapping class="com.code.aon.config.Series"/>
		<mapping class="com.code.aon.config.Scope"/>
		<mapping class="com.code.aon.config.Tariff"/>
		<mapping class="com.code.aon.config.Tax"/>
		<mapping class="com.code.aon.config.TaxDetail"/>
		<mapping class="com.code.aon.config.User"/>
		<mapping class="com.code.aon.config.UserScope"/>
		<mapping class="com.code.aon.config.WorkGroup"/>
		
		<!-- AON-CUSTOMER Mapping files -->		
		<mapping class="com.code.aon.customer.Customer"/>
		
		<!-- AON-GEOZONE Mapping files -->		
		<mapping class="com.code.aon.geozone.GeoTree"/>
		<mapping class="com.code.aon.geozone.GeoZone"/>			
	
		<!-- AON-PRODUCT Mapping files -->
		<mapping class="com.code.aon.product.Brand"/>
		<mapping class="com.code.aon.product.Catalogue"/>
		<mapping class="com.code.aon.product.CatalogueCategory"/>
		<mapping class="com.code.aon.product.CatalogueItem"/>
		<mapping class="com.code.aon.product.Item"/>
		<mapping class="com.code.aon.product.ItemAttachment"/>
		<mapping class="com.code.aon.product.ItemPos"/>
		<mapping class="com.code.aon.product.Product"/>
		<mapping class="com.code.aon.product.ProductCategory"/>
		<mapping class="com.code.aon.product.ProductCategoryGroup"/>
		<mapping class="com.code.aon.product.ProductCategoryTree"/>
		<mapping class="com.code.aon.product.TariffCatalogue"/>
						
		<!-- AON-SALES Mapping files -->
		<mapping class="com.code.aon.seller.Seller"/>
				
		<!-- AON-COMPANY Mapping files -->
		<mapping class="com.code.aon.company.Company"/>
		<mapping class="com.code.aon.company.WorkPlace"/>
		<mapping class="com.code.aon.company.WorkActivity"/>
		<mapping class="com.code.aon.company.resources.Resource"/>
		<mapping class="com.code.aon.company.resources.Employee"/>

		<!-- AON-MESSAGING Mapping files -->
		<mapping class="com.code.aon.messaging.Message"/>
		<mapping class="com.code.aon.messaging.MessageContent"/>
				
	</session-factory>

</hibernate-configuration>