.aon-commandButton{
	padding:0 0.5em 0 1.5em !important;
}

#aon-content .aon-table-header-link:hover {
	text-decoration: underline;
}
#aon-content .aon-table-header-link:visited{
	text-decoration: none;
}

.aon-row-auxiliary {
	color: #8D8D8D;
	font-size: 0.9em;
	padding-bottom: 0px;
	padding-top: 0px; 
}
.aon-row-auxiliary a{
	color: #8D8D8D;
}

.aon-dataTable-link {
	background:transparent url(images/aon-icon/aon-icon-arrow-dataTable-item.png) scroll right center no-repeat;
	padding-right: 10px;
}

.aon-dataTable-link:hover {
	color: #285E9C; 
	text-decoration: underline;
}

.aon-portlets-column{
	vertical-align:top;
	padding: 0 5px;
	}
	
.aon-direct-access-list{
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	width:100%;
}
.aon-direct-access-list-element{
 	background:transparent url(images/aon-ul-list.png) scroll left 6px no-repeat;
 	padding:5px 0 5px 12px;
 	border-bottom:#f2f2f2 1px solid;
}

.aon-panel-title {
	text-transform:uppercase;
	margin-bottom:0.5em;	
}