
<div class="container">
  <h3 class="title">
    Dirección Postal
  </h3>
  <div>
    <mat-form-field class="tedi-width-all" >
      <mat-select  placeholder="País"  [(ngModel)]="address.country">
        <mat-option *ngFor="let country of countries" [value]="country.iso2">
          {{country.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="tedi-width-all" >
      <input #addresss matInput tediInitValue placeholder="Dirección" [value]="address.address" (change)="updateAddress(addresss.value)">
    </mat-form-field>

    <mat-form-field class="tedi-width-all" >
      <input #zip matInput tediInitValue placeholder="Código Postal" [value]="address.postal_code" (change)="updateZip(zip.value)">
    </mat-form-field>

    <mat-form-field class="tedi-width-all" >
      <input #city matInput tediInitValue placeholder="Ciudad"  [value]="address.city" (change)="updateCity(city.value)">
    </mat-form-field>

    <mat-form-field *ngIf="isSpain()" class="tedi-width-all">
      <mat-select  placeholder="Provincia"  [(ngModel)]="address.province">
        <mat-option *ngFor="let province of provinces" [value]="province.name">
          {{province.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!isSpain()" class="tedi-width-all" >
      <input #province matInput tediInitValue placeholder="Provincia"  [value]="address.province" (change)="updateProvince(province.value)">
    </mat-form-field>
  </div>
  <div  mat-dialog-actions >
    <button mat-raised-button (click)="accept()">Aceptar</button>
  </div>
</div>
