.aon-input-required {
	color:#2152A5;
	font-weight: bold !important;
}
.aon-outputLabel {
	font-weight: normal;
}
.generator-log-panel {
	width:920px;
    height:178px;
    overflow:auto;
}
.aon-dropDownMenu-label{
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
}

.aon-menuBar-content{
	padding: 0 0 2px 0;
}

.aon-tree-node-active{
	background-color:#fffadc;
	border:#d3c061 1px solid;
	font-weight:bold;
}

.aon-tree-node-active:hover{
	text-decoration:none;
	color:#000000;
}

.aon-tree-node-highlighted{
	background-color:#e2f1f5;
	color:#000000;
	text-decoration:none;
}