<app-content>
  <mat-grid-list [cols]="24" rowHeight="fit" [style.height]="'100%'">
    <!-- Tratar de omitir primet tiel, a favor de un offset o colspan -->
    <mat-grid-tile
      [gridCols]="{ xs: 2, sm: 2, md: 8, lg: 8, xl: 8 }"
    ></mat-grid-tile>
    <mat-grid-tile [gridCols]="{ xs: 20, sm: 20, md: 8, lg: 8, xl: 8 }">
      <div class="contTitleLogin">
        <div class="titleAuth">
          <div>{{ "LOGIN.LOG_IN" | translate }}</div>
          <span>{{ "LOGIN.ACCESS_YOUR_AON_ACCOUNT" | translate }}</span>
        </div>
        <app-list-element class="inptCont" widthContainer="'100%'">
          <div class="cardBody">
            <form (ngSubmit)="loginUser()" >
              <app-input
                (inputValue)="username = $event"
                [type]="'text'"
                [label]="'LOGIN.USER' | translate"
                [placeholder]="'LOGIN.USER' | translate"
                [required]="'required'"
                class="inputLogin"
              ></app-input>
              <app-input
                (inputValue)="password = $event"
                [type]="'password'"
                [suffixBehavior]="'showPass'"
                [label]="'LOGIN.PASSWORD' | translate"
                [placeholder]="'LOGIN.PASSWORD' | translate"
                [required]="'required'"
                class="inputLogin"
              ></app-input>
              <app-button
                [class]="'white'"
                [width]="'100%'"
              >
                {{ "LOGIN.LOGIN" | translate }}
              </app-button>
            </form>
            <div class="divider">
              {{ "LOGIN.OR_ACCESS" | translate }}
            </div>
            <app-button [class]="'dark'" [width]="'100%'">
              {{ "LOGIN.WITHOUT_PASSWORD" | translate }}
            </app-button>
          </div>
        </app-list-element>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</app-content>
