.containerLogin {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.contTitleLogin {
  width: 100%;
}


.titleLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: 0 5.05rem 1.35rem 5.3rem;
}

.inputLogin {
  display: flex;
}

.divider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.025rem;
  background-color: #5a5b6a;
  margin: 0.25rem;
}

