@import "src/styles.scss";

.contTitleLogin {
  width: 100%;
}

.titleAuth{
  display       : flex;
  flex-direction: column;
  align-items   : center;
  margin-bottom : $margin-head-bottom;
}

.titleAuth div{
  font-size     : $font-size-head;
  font-weight   : bold;
  margin-bottom : $margin-bottom;
}

.titleAuth span{
  font-size   : $font-size-head-span;
  color       : $color-secondary;
}

.inptCont {
  border        : $border;
  border-radius : $border-radius;
  padding       : 1.85rem 1.25rem;
}

.inputLogin {
  display: flex;
  margin-bottom: $margin-bottom;
}

.divider {
  display     : flex;
  align-items : center;
  margin      : 1rem 0;
  color       : $color-third;
  font-size   : 0.5rem;;
}

.divider::before, .divider::after {
  flex            : 1;
  content         : '';
  padding         : 0.025rem;
  background-color: $color-border-primary!important;
  margin          : 0.25rem;
}
