<app-content>
  <mat-grid-list [cols]="24" rowHeight="fit" [style.height]="'100%'">
    <!-- TODO: Buscar si es posible usar offset parecdio a como se realiza en Bootstrap -->
    <mat-grid-tile [colspan]="8"></mat-grid-tile>
    <mat-grid-tile [colspan]="8">
      <div class="contTitleLogin">
        <div class="titleLogin">
          <!-- Pendiente de revisar tipografias y tamanyos -->
          <h4 class="">Inicia Sesión</h4>
          <span>Entra en tu cuenta de AON</span>
        </div>

        <app-list-element padding="1.75rem 1.25rem" widthContainer="'100%'" [border]="'1px'" color="gray">
        <div class="cardBody">

          <app-input
              (inputValue)="username=$event"
              [appearance]="'outline'"
              [type]="'text'"
              [label]="'Usuario'"
              [placeholder]="'usuario'"
              [width]="'100%'"
              [class]="'inputLogin'"
              class="inputLogin"
              style="margin-bottom: 1.6rem;"
              color="danger"
          ></app-input>

          <app-input
              (inputValue)="password=$event"
              [appearance]="'outline'"
              [type]="'password'"
              [label]="'Contraseña'"
              [placeholder]="'Contraseña'"
              [width]="'100%'"
              [class]="'inputLogin'"
              class="inputLogin"
              style="margin-bottom: 0.95rem;"
          ></app-input>

          <app-button [width]="'100%'"
          [height]="'auto'"
          [border]="'.0625rem solid black'"
          [borderRadius]="'0.4rem'"
          [backgroundColor]="'white'"
          [color]="'black'"
          [hoverBackgroundColor]="'black'"
          [hoverBorderColor]="'black'"
          [padding]="'.5rem'"
          [align]="'center'"
          [fontSize]="'1rem'"
          [hoverColor]="'white'"
          (click)="loginUser()"
          >INICIAR SESIÓN</app-button>
          <div class="divider">O INICIA SESIÓN</div>
          <app-button [width]="'100%'"
          [height]="'auto'"
          [border]="'.0625rem solid black'"
          [borderRadius]="'0.4rem'"
          [backgroundColor]="'black'"
          [color]="'white'"
          [hoverBackgroundColor]="'#292a31'"
          [hoverBorderColor]="'#292a31'"
          [padding]="'.5rem'"
          [align]="'center'"
          [fontSize]="'1rem'"
          [hoverColor]="'white'"
          >SIN CONTRASEÑA</app-button>
        </div>
      </app-list-element>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</app-content>
