.aon-icon-commercial-segment{
	background:transparent url(../images/aon-icon-comercial-segmentation.png) scroll left center no-repeat;
}

.aon-icon-commercial-activity{
	background:transparent url(../images/aon-icon-comercial-activities.png) scroll left center no-repeat;
}

.aon-icon-commercial-tracking{
	background:transparent url(../images/aon-icon-comercial-monitoring.png) scroll left center no-repeat;
}

.aon-icon-seller{
	background:transparent url(../images/aon-icon-comercial-personal.png) scroll left center no-repeat;
}

.aon-icon-target{
	background:transparent url(../images/aon-icon-comercial-potential-customer.png) scroll left center no-repeat;
}
.aon-width-170{
	width:170px;
}