<div class="structure-title">
  {{ "PROFILE.GENERAL_INFORMATION" | translate }}
</div>

<hr />

<div *ngFor="let enterprise of enterprises" class="structure-container">
  <div class="structure-photo">
    <p class="photo">{{ "PROFILE.PHOTO" | translate }}</p>
    <div class="upload-circle">
      <app-button class="icon-border">
        <app-icon [shape]="'clear'"></app-icon>
      </app-button>
    </div>
  </div>
  <div class="structure-form">
    <div class="form upload">
      <app-file-upload-button>
        {{ "PROFILE.CLICK_DRAG_DROP" | translate }}
        <app-icon shape="cloud_upload" class="margin-left"></app-icon>
      </app-file-upload-button>
    </div>

    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'PROFILE.TRADE_NAME' | translate"
        [placeholder]="'PROFILE.TRADE_NAME' | translate"
        [value]="enterprise.Name"
      >
      </app-input>
    </div>
    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'PROFILE.ADRESS' | translate"
        [placeholder]="'PROFILE.ADRESS' | translate"
        [value]="enterprise.Address"
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'PROFILE.COUNTRY' | translate"
        [placeholder]="'PROFILE.COUNTRY' | translate"
        [options]="optionsCountry"
        (selectionChange)="onCountrySelection($event)"
        [value]="enterprise.Country"
      >
      </app-input>
      <app-input
        [type]="'select'"
        [label]="'PROFILE.CITY' | translate"
        [placeholder]="'PROFILE.CITY' | translate"
        [value]="enterprise.Province"
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'PROFILE.LEGAL_NAME' | translate"
        [placeholder]="'PROFILE.LEGAL_NAME' | translate"
        [disabled]="'disabled'"
        [value]="enterprise.SocialReason"
      >
      </app-input>
      <app-input
        [type]="'text'"
        [label]="'PROFILE.TIN' | translate"
        [placeholder]="'PROFILE.TIN' | translate"
        [disabled]="'disabled'"
        [value]="enterprise.Document"
      >
      </app-input>
    </div>
  </div>
</div>
