@import "src/styles.scss";

::ng-deep {
  .structure-title {
    font-family: "Roboto-Medium";
  }

  hr {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .structure-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .structure-container .structure-photo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .structure-container .structure-photo .upload-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: $border;
  }

  .structure-container .structure-photo .icon-border {
    position: relative;
    top: -$margin/2;
    right: -$margin/2;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .structure-container .structure-form {
    width: 100%;
  }
  .structure-container .structure-form .form.upload {
    padding-top: $padding-top !important;
  }

  @media screen and (max-width: 1599px) {
    .structure-container {
      display: block;
      padding-top: $padding-top;
    }
  }
}
