<div class="structure-title">
  Información general
</div>

<hr>

<div class="structure-container">
  <div class="structure-photo">
    <p class="photo">Foto</p>
    <div class="upload-circle">
      <app-button class="icon-border">
        <app-icon [shape]="'clear'"></app-icon>
      </app-button>
    </div>
  </div>
  <div class="structure-form">
    <div class="form upload">
      <app-file-upload-button>
        Haz click para subir o arrastra y suelta
        <app-icon shape="cloud_upload" class="margin-left"></app-icon>
      </app-file-upload-button>
    </div>

    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'Nombre comercial / alias'"
        [placeholder]="'Placeholder'"
      >
      </app-input>
    </div>
    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'Dirección'"
        [placeholder]="'Placeholder'"
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'select'"
        [label]="'País'"
        [placeholder]="'Placeholder'"
        [options]="optionsCountry"
        (selectionChange)="onCountrySelection($event)"
      >
      </app-input>
      <app-input
        [type]="'select'"
        [label]="'Provincia'"
        [placeholder]="'Placeholder'"
        [options]="showProvinceField() ? optionsProvince : []"
      >
      </app-input>
    </div>

    <div class="form">
      <app-input
        [type]="'text'"
        [label]="'Razón Social'"
        [placeholder]="'Placeholder'"
        [disabled]="'disabled'"
      >
      </app-input>
      <app-input
        [type]="'text'"
        [label]="'NIF'"
        [placeholder]="'Placeholder'"
        [disabled]="'disabled'"
      >
      </app-input>
    </div>
  </div>
</div>
