<mat-grid-list cols="24" rowHeight="3rem" gutterSize=".75rem" class="content-message">
  <mat-grid-tile colspan="1" rowspan="1" [ngSwitch]="type">
    <div class="type-icon" [ngSwitch]="type">
      <app-icon class="red" [shape]="'message'" *ngSwitchCase="1"></app-icon>
      <app-icon class="red" [shape]="'playlist_add_check'" *ngSwitchCase="2"></app-icon>
      <app-icon class="red" [shape]="'notifications'" *ngSwitchCase="3"></app-icon>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <div class="text-message">{{ name }}</div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <div *ngIf="type === 1" class="status-message">
      <app-icon class="red" shape="watch_later"></app-icon>
      <div class="status">Pendiente</div>
    </div>
    <div *ngIf="type === 2" class="status-message">
      <app-icon class="green" shape="reply_all"></app-icon>
      <div class="status">Abierta</div>
    </div>
    <div *ngIf="type === 3" class="status-message">
      <app-icon class="red" shape="notifications"></app-icon>
      <div class="status">Nueva</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <div class="title-message">{{ title }}</div>
  </mat-grid-tile>
  <mat-grid-tile colspan="12" rowspan="1">
    <div class="description-message">
      {{ description }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <div class="date-message">
      {{ date }}
    </div>
  </mat-grid-tile>
</mat-grid-list>
