.aonSearchInput {
    outline: none;
    border: none;
    margin-top: 1px;
    height: 37px;
    background-color: transparent;
}

.aonSearchInput:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}