:host {
    display: block;
    font-family: Arial, sans-serif;
    text-align: center;
}

.aonImageEditorImageContainer {
    display: none;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.aonImageEditorCropperContainer {
    max-width: 100%;
}

.aonImageEditorCroppedImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.aonImageEditorResultContainer {
    display: none;
    text-align: center;
}