
/*------------------------HEADER------------------------*/

.aon-menuBar {
    border-bottom: 1px #ddd solid !important;
    background-image: none !important;
    background-color: #f6f6f6 !important;
}

.aon-top-menu-item-select {
    background-color: #fff !important;
}
.aon-header-search {
    padding: 14px 20px !important;
    border-radius: 50% !important;
    background: transparent url(css/images/aon-icon/aon-icon-search.svg) no-repeat scroll center center !important;
}
.aon-header-logout {
    padding: 14px 20px !important;
    border-radius: 50% !important;
    background: transparent url(css/images/aon-icon/aon-icon-logout.png) no-repeat scroll center center !important;
}
.aon-header-domain {
    padding: 14px 20px !important;
    border-radius: 50% !important;
    background: transparent url(css/images/aon-icon/aon-icon-domain.png) no-repeat scroll center center !important;
}
.aon-header-home {
    padding: 14px 20px !important;
    border-radius: 50% !important;
    background: transparent url(css/images/aon-icon/aon-icon-home.png) no-repeat scroll center center !important;
}	

.aon-header-help {
    padding: 14px 20px !important;
    border-radius: 50% !important;
    background: transparent url(css/images/aon-icon/aon-icon-help.png) no-repeat scroll center center !important;
}	

.aon-direct-access-panel {
    height:24px !important;
    border-bottom: 1px solid #ddd !important;
    background-color: #fff !important;
    color: #0c0c0c !important;
    padding-left: 12px !important;
    background-image: none !important;
}	

.aon-direct-access-panel img {
    filter: grayscale(100%) !important;
}

.aon-direct-access-list-element {
    background: none !important;
    padding: 5px 0 8px 12px !important;
    border-bottom: none !important;
}	
.aon-direct-access-list-element:hover {
    background-color: #f6f6f6 !important;
    border-top-right-radius: 50px 50px !important;
    border-bottom-right-radius: 50px 50px !important;
}	

.aon-finding-title {
    background: none !important;
}
.aon-finding-toolbar{
    background: none !important;
}

.aon-finding-title-toolbar {
    padding: 2px 0px !important;
    background: none !important;
    border: #ddd 1px solid !important;
    background-color: #f6f6f6 !important;
    border-top: none !important;
    border-bottom: 1px #ddd solid !important;
    /*background: #d7d7d6 url(/images/aon-header/aon-menuBar.png) scroll left top repeat-x !important;*/
}	

.aon-dataScroller {
    background-color: #f6f6f6 !important;
    border: #ddd 1px solid !important;
}

.aon-finding-toolbar-item {
    border-right: #ddd 1px solid !important;
}

.aon-header-domain-title {
    font-weight: normal !important;
}

.aon-finding-title-toolbar,
.aon-Selector .gwt-MenuBar-horizontal,
.aon-Selector .gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
    background: #fff !important;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
    border-bottom: 1px solid #ddd !important;
}	
.aon-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    color : #4b4b4b !important;
    background: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #fff !important;
}
.aon-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    color : #000 !important;
    background: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #2152a5 !important;
}

.aon-Selector .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    padding-top: 5px !important;
    border-bottom: 2px solid #fff !important;
}

.aon-table-row-hover {
    background-color: #f6f6f6 !important;
}

.aon-panelGrid-search {
    background-color: #fff !important;
    border: #fff 1px solid !important;
}

.aon-panelGrid-search-info {
    background: none !important;
    border-bottom: #ddd 1px solid !important;
}	

.aon-panelGrid-search .aon-panelGrid-odd,
.aon-panelGrid-search .aon-panelGrid-even {
    background-color: #fff !important;
}

.aon-panelGrid-search .rich-stglpanel-header {
    background-image: none !important;
    background-color: #f6f6f6 !important;
}

.aon-commandButton,
.aon-search-lookup-button {
    background: none !important;
    border: #ddd 1px solid !important;
    background-color: #eee !important;
}	

.aon-header .aon-dropDownMenu {
    display: inline-block !important;
}
    
.rich-menu-list-border {
    border-color: #ddd !important;
    background-color: #ddd !important;
    box-shadow: 2px 2px 5px 1px #ddd !important;
}

.rich-menu-list-bg {
    border: none !important;
    background: none !important;
    background-image: none !important;
}

.aon-dropDownMenu{
    font-size: 13px !important;
    font-weight: normal !important;
    background-color: #fff !important; 
}

.aon-dropDownMenu-item {
    text-align: left !important;
    filter: grayscale(100%) !important;
    padding: 7px 20px 7px 12px !important;
}


.aon-menuItem-styleClass {
    font-size: 13px !important;
    font-weight: normal !important;
    background-color: #fff !important;
    text-transform: none !important;
    text-align: left !important;
    padding: 7px 20px 7px 12px !important;
}

.rich-menu-item:hover ,
.aon-menuItem-selectClass
{
    border:none !important;
    font-size: 13px !important;
    font-weight: normal !important;
    background-color: #eee !important; 
    text-transform: none !important;	 
}	

.aon-dropDownMenu-selectItem{	
    border: none !important;
    text-align: left !important;
    background-color:#eee !important;
    text-transform: none !important;	 
    padding: 7px 20px 7px 12px !important;
} 

.aon-dropDownMenu-disabledItem{ 		
}

.rich-tab-active{
    background-image:none !important;
    background-color: #fff !important;
}

.rich-tab-inactive{
    background-image:none !important;
    border-color: #eee !important;
    background-color: #eee !important;
}

.aon-panelGrid-odd,
.aon-panelGrid-even{
    padding: 5px !important;
    border: #fff 2px solid !important;
}

.aon-toolbar {
    border: #ddd 1px solid !important;
    background-color: #f6f6f6 !important;
}

.rich-menu-separator {
    margin: 0px !important;
    border-top-color: #ddd !important;
}

.aon-editDataTable-header,
.aon-editDataTable-footer{
    border: #ddd 1px solid !important;
    background-image: none !important;
    background-color: #f6f6f6 !important;
}

.rich-mpnl-mask-div-opaque{
    background-color: #ddd !important;
}

.rich-mpnl-shadow {
    background-color: transparent !important;
    box-shadow: 2px 2px 5px 1px #ddd !important;
}

.aon-portlet-body,
.aon-portlet-title {
    border: none !important;
}

.aon-portlet-title{
    overflow: hidden !important;
}

.aon-Selector .gwt-PopupPanel {
    z-index: 69 !important;
    padding: 5px !important;
    border: 1px solid #c4c0b9 !important;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4) !important;
}

.aon-popupWindow-close,
.aon-Selector .gwt-PopupPanel .custom-dialog-close{
    background-size: cover !important;
    background: transparent url(/images/aon-cancel.svg) scroll center center no-repeat !important;
}


.aon-Selector .gwt-PopupPanel .gwt-Button {
    width: auto !important;
    color: #4b4b4b !important;
    background: none !important;
    border-radius: 0px !important;
    border: 1px solid #aaa !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
}

.aon-Selector .gwt-PopupPanel .gwt-Button:last-child,
.aon-Selector .gwt-PopupPanel .gwt-Button:nth-child(2) {
    padding-left: 25px !important;
    background: transparent url(/images/aon-accept.svg) scroll left center no-repeat !important;
}

.aon-Selector .gwt-PopupPanel .gwt-Button:first-child  {
    padding-left: 25px !important;
    background: transparent url(/images/aon-cancel.svg) scroll left center no-repeat !important;
}

.rich-mpnl-header,
.aon-Selector .gwt-PopupPanel .custom-dialog-header {
    border: none !important;
    background: none !important;
}


.aon-popupWindow-title,
.aon-Selector .gwt-PopupPanel .custom-dialog-header .custom-dialog-title {
    color: #4b4b4b !important;
    background-image: none !important;
    background-color: #fff !important;
    border-bottom: 1px solid #ddd !important;	
    height: auto !important;
}

.aon-dataTable,
.aon-dataTable tr ,
.aon-editDataTable,
.aon-editDataTable tr
{
    border: none !important;
}

.aon-dataTable td,
.aon-editDataTable td,
.aon-dataTable-header th,
.aon-editDataTable-header th
    {
    padding-left: 1.0em !important;

    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: #ccc 1px solid !important;
}	

.aon-Selector .aon-dataTable 
.aon-Selector .aon-editDataTable
{
    border: #ccc 1px solid !important;
}

.aon-Selector .aon-dataTable td,
.aon-Selector .aon-editDataTable td,
.aon-Selector .aon-dataTable-header th,
.aon-Selector .aon-editDataTable-header th
    {
    padding-left: 1.0em !important;

    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}	


.aon-dataTable-header,
.aon-editDataTable-header {
    text-align: left !important;
    background: none !important;
    border-bottom: #ccc 1px solid !important;
}

.aon-dataTable .aon-icon-rowSelector,
.aon-editDataTable .aon-table-row-link {
    background: transparent url(/images/aon-right-arrow.png) scroll center center no-repeat !important;
}

.aon-dataTable .aon-icon-reset,
.aon-editDataTable .aon-icon-reset
{
    padding-left:24px !important;
    padding-top:12px !important;
    padding-bottom:12px !important;
    background-size: 24px !important;
    background-color: transparent !important;
    background-position-x: left !important;
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-image: url(/images/aon-icon-add.svg)  !important;
}

.aon-dataTable .aon-icon-delete
{
    padding-left:24px !important;
    padding-top:12px !important;
    padding-bottom:12px !important;
    background-position-y: center !important;
}

.aon-dataTable-row-even,
.aon-editDataTable-row-even {
    background-color: #fff !important;
}	

.aon-input-search {
    width: 75% !important;
    padding: 4px !important; 
    border: 1px solid #ddd !important;
}

.aon-input-search:focus {
    outline:none !important;
    background-color:white !important;
}

.search-results-popup {
    
}

.search-results-popup td,
.search-results-popup th,
.search-results-popup table {
    border:none !important;
}

.search-results-popup table {
    padding-left : 20px !important;
}

.search-results-popup td {
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-bottom: 5px !important;
}

.search-results-popup > div {
    padding: 5px !important;
    background-color: white !important;
    box-shadow: 2px 2px 5px 1px #ddd !important;
}

.search-results-popup div {
}

.search-results-popup-filter
    {
    padding-top: 20px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    background-color: white !important;
}

.search-results-popup-title
    {
    color: black !important;
    padding: 10px !important;
    font-size: 15px !important;
    background-color: white !important;
    border-bottom : 1px solid #ddd !important;
}

.aon-rigth-menu {
    line-height:32px !important;
    text-align: right !important;
}

.aon-rigth-bar{
    font-size: 0px !important;
}

.aon-rigth-bar:hover {
    font-size: inherit !important;
}

.aon-rigth-bar .aon-direct-access-list-element {
    background-color: #fff !important;
}

.aon-rigth-bar .aon-direct-access-list-element:hover {
    background-color: #fff !important;
}

.aon-button-fiscal {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/apps/aon-fiscal.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button-payroll {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/apps/aon-payroll.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button-account {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/apps/aon-accounting.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button-document {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/apps/aon-documental.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button-tools {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/apps/aon-tools.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button-notes {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/apps/aon-notes.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button {
    padding-top:4px !important;
    padding-bottom: 4px !important;
    padding-right:36px !important;
    display:inline-block !important;
    background: url(/images/aon-icon-logo.svg) scroll right center no-repeat !important;
    background-size:32px !important;
}

.aon-button:hover,
.aon-button-tools:hover,
.aon-button-fiscal:hover,
.aon-button-payroll:hover,
.aon-button-account:hover,
.aon-button-document:hover
{
    padding-right:44px !important;
    background-size:40px !important;
}

.aon-support {
    padding: 0.5em 1.5em !important;
}

.aon-direct-access-list-head {
    color: white !important; 
    font-size: 18px !important; 
    font-weight: 400 !important;
    padding: 16px 8px !important;
    margin-bottom: 0.5em !important;
    background-color: #1f8cff !important;
}

.aon-direct-access-list-element a {
    overflow : hidden !important;
    text-overflow: ellipsis !important;
}	

.aon-menu-portlet {
    min-height: 600px !important;
}

.aon-pl-10{
    padding-left: 10px !important;
}

.aon-panelGrid-odd {
    background-color: #f6f6f6 !important;
}

.rich-tab-active {
    color : #000 !important;
    border-bottom: 2px solid #2152a5 !important;
}

.rich-tab-inactive {
    color : #4b4b4b !important;
    border-color:#fff !important;
    background-color:#fff !important;
    border-bottom: 2px solid #fff !important;
}

.rich-tab-bottom-line {
    border-color: #fff !important;
}

.rich-tabpanel-content {
    border:none !important;
}

.rich-tabhdr-side-cell {
    border-top:none
}

.rich-tabhdr-side-border {
    background: none !important;
}
.aon-icon-csv,
.aon-icon-invoice{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-document.svg)  !important;
}

.aon-icon-pdf{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-pdf.svg)  !important;
}

.aon-icon-excel,
.aon-icon-import-excel-trans,
.aon-icon-export-excel-trans{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-excel.svg)  !important;
}

.aon-icon-close,
.aon-icon-file-exit-cancel{
    background-size: 24px !important;
    background-image: url(/images/aon-cancel.svg)  !important;
}

.aon-icon-new,
.aon-icon-reset{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-add.svg)  !important;
}

.aon-icon-accept{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-save.svg)  !important;
}

.aon-icon-cancel{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-back.svg)  !important;
}

.aon-icon-search{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-search.svg)  !important;
}

.aon-icon-rubber{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-clear.svg)  !important;
}

.aon-icon-delete{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-delete.svg)  !important;
}

.aon-icon-email{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-email.svg)  !important;
}

.aon-icon-webmail2{
    background-size: cover !important;
    background-image: url(/images/aon-icon-email.svg)  !important;
}

.aon-icon-info{
    background-size: cover !important;
    background-image: url(/images/aon-icon-info.svg)  !important;
}

.aon-icon-big-info {
    background-size: 32px !important;
    background-image: url(/images/aon-icon-info.svg)  !important;
}

.aon-icon-sepe {
    padding: 24px !important;
    background-image: url(/images/aon-icon-sepe.png) !important;
}

.aon-icon-winsuite {
    padding: 24px !important;
    background-image: url(/images/aon-icon-tgss.png) !important;
}

.aon-icon-mail-save{
    padding: 24px !important;
    background-image: url(/images/aon-icon-download.svg)  !important;
}

.aon-icon-audit {
    background-size:cover !important;
    background-image: url(/images/aon-icon-visibility.svg) !important;
}

.aon-icon-edit-add{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-edit.svg)  !important;
}

.aon-icon-calendar{
    background-size: 24px !important;
    background-image: url(/images/aon-icon-date.svg)  !important;
}

.aon-icon-company {
    background-size: 24px !important;
    background-image: url(/images/aon-icon-home.svg)  !important;
}

.aon-icon-file-entrance  {
    background-size:24px !important;
    background-image: url(/images/aon-icon-forward.svg)  !important;
}

.aon-icon-segsocial-small {
    background-size: 14px !important;
    background-image: url(/images/aon-icon-tgss.png) !important;
}



.aon-direct-access-panel.aon-icon-sepe,
.aon-direct-access-panel.aon-icon-winsuite,
.aon-direct-access-panel.aon-icon-company {
    padding:8px 8px 8px 40px !important;
}

.aon-menu-icon.aon-icon-email {
    background-size:cover !important;
}

.aon-finding-toolbar-item-group {
    padding: 0px 0 !important;
}

.aon-finding-toolbar-item.aon-icon-new,
.aon-finding-toolbar-item.aon-icon-csv,
.aon-finding-toolbar-item.aon-icon-pdf,
.aon-finding-toolbar-item.aon-icon-info,
.aon-finding-toolbar-item.aon-icon-excel,
.aon-finding-toolbar-item.aon-icon-audit,
.aon-finding-toolbar-item.aon-icon-reset,
.aon-finding-toolbar-item.aon-icon-accept,
.aon-finding-toolbar-item.aon-icon-cancel,
.aon-finding-toolbar-item.aon-icon-rubber,
.aon-finding-toolbar-item.aon-icon-search,
.aon-finding-toolbar-item.aon-icon-delete,
.aon-finding-toolbar-item.aon-icon-invoice,
.aon-finding-toolbar-item.aon-icon-webmail2,
.aon-finding-toolbar-item.aon-icon-import-excel-trans,
.aon-finding-toolbar-item.aon-icon-export-excel-trans
{
    min-height:24px !important;
    padding-top:4px !important;
    padding-bottom:4px !important;
    padding-left:24px !important;
    background-position-y : center !important;
}

.aon-finding-toolbar-item.aon-icon-info,
.aon-finding-toolbar-item.aon-icon-audit,
.aon-finding-toolbar-item.aon-icon-webmail2
{
    background-size:24px !important;
}



.aon-editDataTable-button.aon-icon-new,
.aon-editDataTable-button.aon-icon-csv,
.aon-editDataTable-button.aon-icon-pdf,
.aon-editDataTable-button.aon-icon-warn,
.aon-editDataTable-button.aon-icon-excel,
.aon-editDataTable-button.aon-icon-reset,
.aon-editDataTable-button.aon-icon-accept,
.aon-editDataTable-button.aon-icon-cancel,
.aon-editDataTable-button.aon-icon-rubber,
.aon-editDataTable-button.aon-icon-search,
.aon-editDataTable-button.aon-icon-delete,
.aon-editDataTable-button.aon-icon-invoice,
.aon-editDataTable-button.aon-icon-calendar,
.aon-editDataTable-button.aon-icon-edit-add,
.aon-editDataTable-button.aon-icon-rowSelector,
.aon-editDataTable-button.aon-icon-rowSelector-C, 
.aon-editDataTable-button.aon-icon-rowSelector-S,
.aon-editDataTable-button.aon-icon-file-exit-cancel,	
.aon-editDataTable-button.aon-icon-file-entrance	
{
    padding-left:24px !important;
    padding-top:12px !important;
    padding-bottom:12px !important;
    background-position-x : center !important;
    background-position-y : center !important;
}

.aon-panelGrid-odd .aon-icon-edit-add,
.aon-panelGrid-even .aon-icon-edit-add{
    padding-left:24px !important;
    padding-top:12px !important;
    padding-bottom:12px !important;
    background-position-x : center !important;
    background-position-y : center !important;
}

.aon-icon-commandButton.aon-icon-new,
.aon-icon-commandButton.aon-icon-csv,
.aon-icon-commandButton.aon-icon-pdf,
.aon-icon-commandButton.aon-icon-close,
.aon-icon-commandButton.aon-icon-excel,
.aon-icon-commandButton.aon-icon-reset,
.aon-icon-commandButton.aon-icon-accept,
.aon-icon-commandButton.aon-icon-accept,
.aon-icon-commandButton.aon-icon-cancel,
.aon-icon-commandButton.aon-icon-rubber,
.aon-icon-commandButton.aon-icon-search,
.aon-icon-commandButton.aon-icon-delete,
.aon-icon-commandButton.aon-icon-invoice
{
    line-height: 0px !important;
    padding-left:24px !important;
    padding-top:12px !important;
    padding-bottom:12px !important;
}

.aon-portlet-title .aon-icon-company {
    padding-top:12px !important;
    padding-left:24px !important;
    padding-bottom:12px !important;
}

.aon-editDataTable-iconColumn .aon-icon-company{
    padding-top:6px !important;
    padding-left:24px !important;
    padding-bottom:18px !important;
}

.aon-lookupButton-new {
    background-size:cover !important;
    background-image: url(/images/aon-icon-add.svg)  !important;
}

.aon-lookupButton, .aon-lookupButtonPopup{
    background-size:cover !important;
    background-image: url(/images/aon-icon-search.svg)  !important;
}

.aon-panelBar-title{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    background: none !important;
}

.rich-calendar-button{
    width: 0px !important;
    height: 0px !important;
    padding: 12px !important;
    background: url(/images/aon-icon-date.svg) scroll right center no-repeat !important;
}

.aon-button-goto {
    background-size:18px !important;
    background-image: url(/images/aon-icon-launch.svg)  !important;
}

.aon-lookupButton-clear{
    background-size:cover !important;
    background-image: url(/images/aon-icon-refresh.svg)  !important;
}

/*
.aon-icon-predetermine {
    background-size:cover !important;
    background-image: url(/images/aon-accept.svg)  !important;
}

.aon-icon-exception {
    background-size:cover !important;
    background-image: url(/images/aon-icon-error.svg)  !important;
}*/

.aon-panelBar-title{
    text-align:center !important;
}

.rich-fileupload-button, 
.rich-fileupload-button-dis, 
.rich-fileupload-button-light, 
.rich-fileupload-button-press, 
.rich-fileupload-button-selection
    {
    width: auto !important;
    mouse: pointer !important;
    color: #4b4b4b !important;
    background: none !important;
    border-radius: 0px !important;
    border: 1px solid #aaa !important;
}

.rich-fileupload-button-light{
    background-color:#f6f6f6 !important;
}
.rich-fileupload-ico-add {
    padding-left: 26px !important;
    background-image: url(/images/aon-icon-upload.svg)  !important;
}

.aon-spin-control-element {
    font-size:12px !important;
}
.aon-dataScroller-button-last,
.aon-dataScroller-button-fastForward,
.aon-dataScroller-button-last-disabled,
.aon-dataScroller-button-fastForward-disabled
{
    background-image: url(/images/aon-icon-arrow-right.svg)  !important;
}
.aon-dataScroller-button-next,
.aon-dataScroller-button-next-disabled{
    background-image: url(/images/aon-icon-arrow-right.svg)  !important;
}
.aon-dataScroller-button-first,
.aon-dataScroller-button-fastRewind,
.aon-dataScroller-button-first-disabled,
.aon-dataScroller-button-fastRewind-disabled
{
    background-image: url(/images/aon-icon-arrow-left.svg)  !important;
}
.aon-dataScroller-button-previous,
.aon-dataScroller-button-previous-disabled{
    background-image: url(/images/aon-icon-arrow-left.svg)  !important;
}

.aon-dataScroller-button-last-disabled,
.aon-dataScroller-button-next-disabled,
.aon-dataScroller-button-first-disabled,
.aon-dataScroller-button-previous-disabled{
    opacity: 0.25 !important;
}

.gwt-MenuItem
{
    height: 16px !important;
}

.gwt-MenuItem .aon-icon-reset
{
    background-position-y:center !important;
}

.gwt-TabLayoutPanelTabInner .gwt-InlineLabel {
    padding-left : 0px !important;
    background-image: none !important;
}

/*------------------------------------------------------*/

/*----------------------CONFLICTS-----------------------*/

/* WARNING!
	Avoid using generic selectors, as gwt-Selector, once added to body's class,
	it remains there even if there's been loaded another non gwt module.
*/

.aon-Selector .gwt-PopupPanel,
.aon-Selector .gwt-PopupPanel * { /*Problem with the visualization of CustomDialog's header size*/
    box-sizing: initial !important;
}

/*------------------------------------------------------*/