/**
 * The file contains styles for GWT widgets in the 365 theme.
 */
@import url(/css/aon.css);
@import url(/css/noto-sans.css);
@import url(/css/material-symbols-outlined.css);
@import url(/css/header.css);

#rootPanel>div {
	margin-left: 0px;
}

.gwt-Selector {
	color: #424242;
	font-family: Noto Sans, sans-serif !important;
	font-optical-sizing: auto;
	font-size: 14px !important;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-weight: 400 !important;
	text-rendering: optimizeLegibility;
}

.material-icons {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24
}

/*
 Why this, I don't understand ?
.aon_search_panel{
	display:none;
}
*/

/*
* Grid template
*/

.aon_grid_two_cols{
	display: grid;
	grid-template-columns: 1fr;
   	gap: 1rem;
}
 
@media(min-width: 1150px) {
	.aon_grid_two_cols {
		grid-template-columns: repeat(2, 1fr);
    }
}

/*
 * Card
 */
.aonCard, .aonEmployeeCard, .aonEnterpriseCard, .aonCCCCard,
	.aonActivityCard, .aonMod145Card, .aonSEPECard, .aon_search_panel {
	font-size: 12px;
	margin: 10px;
	border-radius: 5px;
	padding: 15px 22px;
	background-color: #fff !important;
	border: 1px solid #ebebeb;
	color: rgb(66, 66, 66)
}

.aon_search_panel {
	margin: 0 1rem !important;
}

.aonCardTitle, .aonEmployeeCardTitle, .aonEnterpriseCardTitle,
	.aonCCCCardTitle, .aonActivityCardTitle, .aonSEPECardTitle,
	.aonMod145CardTitle {
	color: #262626;
	display: flex;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
	white-space: nowrap;
	position: initial;
}

.aonEmployeeCardLabel, .aonEnterpriseCardLabel, .aonActivityCardLabel,
	.aonMod145CardLabel, .aonSEPECardLabel {
	font-weight: 400;
	background-color: #fff;
}

.aonEmployeeCardRequired, .aonEnterpriseCardRequired,
	.aonActivityCardRequired, .aonMod145CardRequired {
	
}

.aon-ConfigContent, .aon-Model-Detail, .aon-MainTrash-Detail,
	.aon-MainCreta-Details, .aon-MainAgreement-Detail,
	.aon-EmployeeTree-EmployeeDetail {
	background-color: #fafafa !important;
}

.aonCard select, .aonCard .aon-InputText, .aonCard .aon-selectOneMenu {
	height: 35px;
	font-size: 14px;
	margin-left: 6px;
	margin-right: 6px;
	border-radius: 3px;
	padding: 1px 2px 0px 15px;
	border: 1px solid #d2d2d6;
}

.aonCard select, .aonCard .aon-selectOneMenu {
	height: 38px;
	padding-right: 40px;
}

.aon_custom_table_header {
	background-color: #fafafa;
}

.aon_custom_dialog .aon_custom_table_header{
	background-color: white;
}

.aon_custom_row {
	cursor: pointer;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 5px;
	padding: 12px 12px 12px 12px;
	border: 1px solid rgb(221, 221, 221);
	color: #5f6368;
	font-size: 12px;
}

.aon_custom_table_footer{
	border-radius: 5px;
  	padding: 12px 12px 12px 12px;
  	border: 1px solid rgb(221, 221, 221);
}

.gwt-Selector .gwt-SplitLayoutPanel-VDragger {
	background-color: #fafafa !important;
}

.aon-MainCreta-Events *, .aon-EmployeeTree-Events * {
	border-color: #fafafa !important;
	background-color: #fafafa !important;
}

.aon-MainCreta-Enterprises .aon-SearchTextBox,
	.aon-MainAgreement-Agreements .aon-SearchTextBox,
	.aon-EmployeeTree-Employees .aon-SearchTextBox {
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #fafafa;
	background-color: #ffffff;
}

.gwt-Selector .aon-MainCreta-Enterprises, .gwt-Selector .aon-EmployeeTree-Employees
	{
	width: 340px;
}

.gwt-Selector .gwt-Tree .gwt-TreeItem {
	font-size: 12px;
	font-weight: 400;
}

/* .aon-EmployeeTree-Employees */
.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem {
	min-width:225px;
	position: relative;
	padding: 4px 4px 4px 4px;
	background-color: #fafafa;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: transparent !important;
	text-transform: none;
	color: var(--aonSuiteMenuTitle);
	font-family: Noto Sans, sans-serif !important;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table:has(.gwt-TreeItem),
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table:has(.gwt-TreeItem)
	{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem-selected,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem-selected,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table:has(.gwt-TreeItem-selected),
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table:has(.gwt-TreeItem-selected)
	{
	font-weight: 700;
	background: var(--aonLightGray) !important;
	border-left: 2px solid var(--aonPayroll) !important;
}

.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem:hover,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem:hover,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table:has(.gwt-TreeItem):hover,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table:has(.gwt-TreeItem):hover
	{
	background-color: var(--aonLightGray2) !important;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table .gwt-TreeItem-selected,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table .gwt-TreeItem-selected
	{
	background: transparent;
	border-left: none !important;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table>tbody>tr:first-child>td:first-child img,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table>tbody>tr:first-child>td:first-child img
	{
	margin-left: 12px;
	background-size: 9px !important;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div:nth-child(-n+2)>.gwt-TreeItem,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div:nth-child(-n+2)>.gwt-TreeItem {
	left: -19px;
	font-size: 16px;
	font-weight: 500;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table .gwt-TreeItem,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table .gwt-TreeItem
	{
	margin-top: 0px;
	margin-bottom: 0px;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>.gwt-TreeItem,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>.gwt-TreeItem,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table:has(.gwt-TreeItem),
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table:has(.gwt-TreeItem)
	{
	margin-top: 6px;
	margin-bottom: 6px;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>.gwt-TreeItem>img,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table .gwt-TreeItem>img,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>.gwt-TreeItem>.material-icons,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>.gwt-TreeItem>.material-icons,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>.gwt-TreeItem>img,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table .gwt-TreeItem>img,
	.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>table .gwt-TreeItem>.material-icons,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>table .gwt-TreeItem>.material-icons
	{
	_display: none;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem-selected .material-icons,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem-selected .material-icons
	{
	font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24
		!important;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree>div>div  .gwt-TreeItem,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree>div>div  .gwt-TreeItem
	{
	left: -19px;
	padding-left: 18px;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem .material-icons[style],
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem .material-icons[style]
	{
	color: var(--aonPayroll) !important;
}

.gwt-Selector .aon-MainCreta-Enterprises .gwt-Tree .gwt-TreeItem img,
	.gwt-Selector .aon-EmployeeTree-Employees .gwt-Tree .gwt-TreeItem img {
	filter: none;
}

.aon-Salary-DraftPanel {
	padding: 10px;
	border-radius: 4px;
	background-color: #fff;
}

/*
.aon-EmployeeTree-EmployeeDetail {
	margin-left: 32px;
}
*/

.aon-EmployeeTree-EmployeeDetail .aon-finding-title-toolbar {
	background-color: #fafafa;
}

.aon_display_grid, table:has(>tbody>.dataGridEvenRow) {
	border-collapse: separate;
	border-spacing: 0px 6px;
}

.dataGridCell, .aon_display_grid_cell {
	padding-left: 1.0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-left: none;
	border-right: none;
	box-shadow: none;
	height: 46px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}

.gwt-PopupPanel .dataGridCell {
	height: 32px;
	padding-top: 0em;
	padding-left: 15px;
	padding-bottom: 0em;
	border-top: none;
	border-bottom: none;
}

.gwt-PopupPanel .dataGridLastColumn {
	border-right: none;
}

.gwt-PopupPanel .dataGridFirstColumn {
	border-left: none;
}

.dataGridFirstColumn, .dataGridCell:first-child, .aon_display_grid_cell:first-child
	{
	border-left: 1px solid #ddd;
	border-radius: 6px 0px 0px 6px;
}

.dataGridLastColumn, .dataGridCell:last-child, .aon_display_grid_cell:last-child
	{
	border-right: 1px solid #ddd;
	border-radius: 0px 6px 6px 0px;
}

.dataGridOddRow, .dataGridEvenRow, .aon_display_grid_row {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}

.dataGridHoveredRow, .aon_display_grid_row:hover {
	background-color: #f1f1f1;
}

.dataGridEvenRow:first-child, .aon_display_grid_row:first-child {
	border-bottom: 1px solid #ddd !important;
}

.aon-SearchTextBox::placeholder {
	color: transparent;
}

.gwt-TabLayoutPanelTabInner {
	font-size: 12px;
}

.gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner {
	font-weight: normal;
}

.gwt-MenuItem .aon_icon_pdf {
	background-size: 14px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg fill="black" width="14px" height="14px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>Adobe Acrobat Reader icon</title><path d="M23.63 15.3c-.71-.745-2.166-1.17-4.224-1.17-1.1 0-2.377.106-3.761.354a19.443 19.443 0 0 1-2.307-2.661c-.532-.71-.994-1.49-1.42-2.236.817-2.484 1.207-4.507 1.207-5.962 0-1.632-.603-3.336-2.342-3.336-.532 0-1.065.32-1.349.781-.78 1.384-.425 4.4.923 7.381a60.277 60.277 0 0 1-1.703 4.507c-.568 1.349-1.207 2.733-1.917 4.01C2.834 18.53.314 20.34.03 21.758c-.106.533.071 1.03.462 1.42.142.107.639.533 1.49.533 2.59 0 5.323-4.188 6.707-6.707 1.065-.355 2.13-.71 3.194-.994a34.963 34.963 0 0 1 3.407-.745c2.732 2.448 5.145 2.839 6.352 2.839 1.49 0 2.023-.604 2.2-1.1.32-.64.106-1.349-.213-1.704zm-1.42 1.03c-.107.532-.64.887-1.384.887-.213 0-.39-.036-.604-.071-1.348-.32-2.626-.994-3.903-2.059a17.717 17.717 0 0 1 2.98-.248c.746 0 1.385.035 1.81.142.497.106 1.278.426 1.1 1.348zm-7.524-1.668a38.01 38.01 0 0 0-2.945.674 39.68 39.68 0 0 0-2.52.745 40.05 40.05 0 0 0 1.207-2.555c.426-.994.78-2.023 1.136-2.981.354.603.745 1.207 1.135 1.739a50.127 50.127 0 0 0 1.987 2.378zM10.038 1.46a.768.768 0 0 1 .674-.425c.745 0 .887.851.887 1.526 0 1.135-.355 2.874-.958 4.861-1.03-2.768-1.1-5.074-.603-5.962zM6.134 17.997c-1.81 2.981-3.549 4.826-4.613 4.826a.872.872 0 0 1-.532-.177c-.213-.213-.32-.461-.249-.745.213-1.065 2.271-2.555 5.394-3.904Z"></path></g></svg>');
}

.gwt-MenuItem .aon-icon-commandButton {
	white-space: nowrap;
}

.aon-StackLayoutHeader {
	text-transform: none;
}

.aon-EmployeesToolbar-Title {
	text-transform: capitalize;
}

.aon_toolbar_title {
	font-size: 16px;
	font-weight: normal;
	text-transform: capitalize;
}

.aon_custom_text_box {
	/* Why change height here*/
	/*height: 3rem;*/
}

.aon_custom_row:hover, .aon_utility_option:hover, .aon_custom_text_box:hover, .aon_custom_text_area:hover
	{
	background-color: #f1f1f1;
}

.aon_toolbar_button_container .aon_custom_text_box:hover {
	background-color: transparent;
}

.aon_icon_info {
	background-size: 24px;
}

.aon_icon_undo {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M301-252v-28h292q62 0 105-43.5T741-429q0-62-43-105t-105-43H266l123 123-20 20-157-157 157-157 20 20-123 123h327q73 0 124.5 51.5T769-429q0 73-51.5 125T593-252H301Z"/></svg>');
}

.aon_icon_redo {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M367-252q-73 0-124.5-52T191-429q0-73 51.5-124.5T367-605h327L571-728l20-20 157 157-157 157-20-20 123-123H367q-62 0-105 43t-43 105q0 62 43 105.5T367-280h292v28H367Z"/></svg>');
}

.aon_icon_fx {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M416-266v-28h48l127-146-127-146h-80l-64 323q-12 61-34.5 89T226-146q-32 0-53-18t-21-47q0-19 9.5-30.5T186-253q14 0 24 10t10 24q0 13-8.5 22.5T191-186q5 5 14 8.5t20 3.5q26 0 42-22.5t26-71.5l63-318H236v-28h125l19-102q9-49 30.5-73.5T467-814q32 0 53 18.5t21 47.5q0 19-9.5 30.5T507-706q-14 0-24-9.5T473-739q0-13 8.5-22.5T503-772q-5-6-15.5-10t-21.5-4q-23 0-37.5 19T407-711l-17 97h174v28h-63l109 125 109-125h-63v-28h148v28h-48L629-440l128 146h47v28H656v-28h63L610-419 501-294h63v28H416Z"/></svg>');
}

.aon_icon_emit {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M200-200v-560 448-80 192Zm32 28q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v318h-28v-318q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10h246v28H232Zm457 40-100-99 20-20 80 80 160-160 20 20-180 179ZM326-452q12 0 20-8t8-20q0-12-8-20t-20-8q-12 0-20 8t-8 20q0 12 8 20t20 8Zm0-148q12 0 20-8t8-20q0-12-8-20t-20-8q-12 0-20 8t-8 20q0 12 8 20t20 8Zm124 134h208v-28H450v28Zm0-148h208v-28H450v28Z"/></svg>');
}

.aon_icon_undo_all {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M336-316 132-520l204-204 20 20-184 184 184 184-20 20Zm464 64v-108q0-60-43-103t-103-43H340l170 170-20 20-204-204 204-204 20 20-170 170h314q72 0 123 51t51 123v108h-28Z"/></svg>');
}

.aon_icon_more_vertical {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--aonIconColor, black)"><path d="M480-236q-11.55 0-19.77-8.23Q452-252.45 452-264q0-11.55 8.23-19.77Q468.45-292 480-292q11.55 0 19.77 8.23Q508-275.55 508-264q0 11.55-8.23 19.77Q491.55-236 480-236Zm0-216q-11.55 0-19.77-8.23Q452-468.45 452-480q0-11.55 8.23-19.77Q468.45-508 480-508q11.55 0 19.77 8.23Q508-491.55 508-480q0 11.55-8.23 19.77Q491.55-452 480-452Zm0-216q-11.55 0-19.77-8.22Q452-684.45 452-696t8.23-19.78Q468.45-724 480-724q11.55 0 19.77 8.22Q508-707.55 508-696t-8.23 19.78Q491.55-668 480-668Z"/></svg>');
}

.aon_icon_menu {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M172-278v-28h616v28H172Zm0-188v-28h616v28H172Zm0-188v-28h616v28H172Z"/></svg>');
}

.aon_icon_menu_collapse {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M172-292v-28h438v28H172Zm596-35L613-480l155-152 20 20-135 132 135 133-20 20ZM172-466v-28h326v28H172Zm0-174v-28h438v28H172Z"/></svg>');
}

.aon_icon_send {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M172-238v-484l574 242-574 242Zm28-42 474-200-474-200v160l180 40-180 40v160Zm0 0v-400 400Z"/></svg>');
}

.aon_icon_visibility {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M480.24-364q56.76 0 96.26-39.74 39.5-39.73 39.5-96.5 0-56.76-39.74-96.26-39.73-39.5-96.5-39.5-56.76 0-96.26 39.74-39.5 39.73-39.5 96.5 0 56.76 39.74 96.26 39.73 39.5 96.5 39.5Zm-.24-28q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm.14 140Q355-252 252-319.5 149-387 96-500q53-113 155.86-180.5 102.85-67.5 228-67.5Q605-748 708-680.5 811-613 864-500q-53 113-155.86 180.5-102.85 67.5-228 67.5ZM480-500Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>');
}

.aon-icon-config, .aon_icon_settings {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m416-132-14-112q-21-6-46.5-20T313-294l-103 44-64-112 89-67q-2-12-3.5-25t-1.5-25q0-11 1.5-23.5T235-531l-89-67 64-110 102 43q20-17 43.5-30.5T401-716l15-112h128l14 113q26 9 45.5 20.5T644-665l106-43 64 110-93 70q4 14 4.5 25.5t.5 22.5q0 10-1 21.5t-4 28.5l91 68-64 112-104-45q-21 18-42 30.5T558-245l-14 113H416Zm24-28h78l15-109q30-8 53.5-21.5T636-329l100 43 40-68-88-66q5-18 6.5-32t1.5-28q0-15-1.5-28t-6.5-30l90-68-40-68-103 43q-17-19-47.5-37T532-691l-12-109h-80l-12 108q-30 6-55 20t-51 40l-100-42-40 68 87 65q-5 13-7 29t-2 33q0 15 2 30t6 29l-86 66 40 68 99-42q24 24 49 38t57 22l13 108Zm38-232q37 0 62.5-25.5T566-480q0-37-25.5-62.5T478-568q-37 0-62.5 25.5T390-480q0 37 25.5 62.5T478-392Zm2-88Z"/></svg>');
}

.aon_icon_repair {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M759-172 536-395l30-30 223 223-30 30Zm-557 0-30-30 279-279-134-133-20 20-34-35v69l-20 20-100-100 20-20h69l-35-34 70-70q12-12 26.5-18t31.5-6q17 0 31.5 6t26.5 18l-58 58 42 42-20 20 134 133 106-106q-11-14-15-28.5t-4-32.5q0-46 32-78t78-32q9 0 17.5 1t16.5 5l-78 78 70 70 78-78q4 8 5 16.5t1 17.5q0 46-32 78t-78 32q-18 0-32.5-4T617-587L202-172Z"/></svg>');
}

.aon_icon_fix {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m712.15-139.69-262-262.46q-22.3 10.3-45.51 16.23-23.21 5.92-49.26 5.92-91.66 0-155.83-64.17-64.17-64.16-64.17-155.83 0-26 5.77-50.04T158-696.15l141.38 139.84 99.7-99.69-138.31-139.85q22.08-11.07 45.42-17.61 23.34-6.54 49.19-6.54 91.67 0 155.84 64.17 64.16 64.16 64.16 155.83 0 27.62-5.53 50.81-5.54 23.19-16.62 43.96l262.46 262q8.93 9.19 8.93 22.21 0 13.02-8.76 21.77l-61.26 61.27q-8.75 8.75-21.14 7.98-12.38-.77-21.31-9.69Zm22.08-35 46.23-46.23-276.77-276.77q15.69-21.54 23.69-48.04 8-26.5 8-54.27 0-73.08-56.57-131.04Q422.23-789 333.69-778l99.39 99.38q9.69 9.7 9.69 22.62 0 12.92-9.69 22.62L322-522.31q-9.69 9.69-22.62 9.69-12.92 0-22.61-9.69l-99.39-99.38q-8.69 97 50.04 149.34Q286.15-420 355.38-420q26.52 0 53.03-7.62 26.51-7.61 49.05-23.84l276.77 276.77ZM472-484.92Z"/></svg>');
}

.aon_icon_edit_calendar {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M232-132q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h80v-92h32v92h276v-92h28v92h80q26 0 43 17t17 43v200h-28v-40H200v336q0 12 10 22t22 10h240v28H232Zm-32-424h560v-132q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v132Zm0 0v-164 164Zm372 424v-78l211-210q5-5 10-6.5t10-1.5q5 0 10.5 2t9.5 6l37 38q4 5 6 10t2 10q0 5-2 10t-6 10L650-132h-78Zm268-230-37-38 37 38ZM600-160h38l144-144-19-19-18-20-145 145v38Zm163-163-18-20 37 39-19-19Z"/></svg>') !important;
}

.aon_icon_calendar_clock {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M200-556h560v-132q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v132Zm0 0v-164 164Zm32 424q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h80v-92h32v92h276v-92h28v92h80q26 0 43 17t17 43v205q-7-2-14-2.5t-14-1.5v-41H200v336q0 12 10 22t22 10h273q2 8 5.5 14.5T517-132H232Zm403-3q-43-43-43-105t43-105q43-43 105-43t105 43q43 43 43 105t-43 105q-43 43-105 43t-105-43Zm171-19 20-20-72-72v-108h-28v120l80 80Z"/></svg>');
}

.aon_icon_edit_calendarma {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M232-132q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h80v-92h32v92h276v-92h28v92h80q26 0 43 17t17 43v200h-28v-40H200v336q0 12 10 22t22 10h240v28H232Zm-32-424h560v-132q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v132Zm0 0v-164 164Zm372 424v-78l211-210q5-5 10-6.5t10-1.5q5 0 10.5 2t9.5 6l37 38q4 5 6 10t2 10q0 5-2 10t-6 10L650-132h-78Zm268-230-37-38 37 38ZM600-160h38l144-144-19-19-18-20-145 145v38Zm163-163-18-20 37 39-19-19Z"/></svg>');
}

.aon_icon_format_indent_increase {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M172-172v-28h616v28H172Zm320-147v-28h296v28H492Zm0-147v-28h296v28H492Zm0-147v-28h296v28H492ZM172-760v-28h616v28H172Zm0 378v-196l98 98-98 98Z"/></svg>');
}

.aon_icon_format_indent_decrease {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M172-172v-28h616v28H172Zm320-147v-28h296v28H492Zm0-147v-28h296v28H492Zm0-147v-28h296v28H492ZM172-760v-28h616v28H172Zm98 378-98-98 98-98v196Z"/></svg>');
}

.aon-icon-rowSelector, .aon-dataTable .aon-icon-rowSelector {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M540-480 356-664l20-20 204 204-204 204-20-20 184-184Z"/></svg>');
}

.aon-icon-rowSelector-C {
	background-size: 14px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14" viewBox="0 0 48 48"><path d="M 24.320312 5.0058594 C 23.178572 5.0058594 22.068214 5.1418057 20.998047 5.3984375 C 18.857712 5.9117011 16.880517 6.9100833 15.148438 8.2871094 C 12.550318 10.352648 10.50344 13.267379 9.28125 16.666016 C 9.2810444 16.666587 9.2814556 16.667397 9.28125 16.667969 C 8.466853 18.933256 8.0175781 21.413692 8.0175781 24 C 8.0175781 25.940247 8.2704346 27.820891 8.7402344 29.595703 C 8.8968322 30.187286 9.0775368 30.765601 9.28125 31.332031 C 10.50347 34.73142 12.549849 37.647011 15.148438 39.712891 C 16.44751 40.745654 17.88375 41.566749 19.423828 42.128906 C 20.963906 42.691063 22.607867 42.994141 24.320312 42.994141 C 24.370802 42.994141 24.420326 42.988817 24.470703 42.988281 C 29.66387 42.933032 34.256036 40.041841 37.171875 35.693359 A 1.50015 1.50015 0 1 0 34.681641 34.023438 C 32.203764 37.718773 28.47308 39.994141 24.320312 39.994141 C 21.613954 39.994141 19.06639 39.007781 16.939453 37.300781 C 16.584963 37.016259 16.242038 36.710008 15.912109 36.386719 C 15.582181 36.06343 15.265838 35.722865 14.962891 35.363281 C 14.356644 34.643726 13.807874 33.853976 13.324219 33.003906 C 13.082775 32.579649 12.855723 32.140568 12.648438 31.6875 C 12.648189 31.686957 12.648686 31.68609 12.648438 31.685547 C 12.44095 31.231914 12.25286 30.765194 12.082031 30.285156 C 11.398725 28.364955 11.017578 26.244004 11.017578 24 C 11.017578 23.43906 11.041562 22.88622 11.087891 22.341797 C 11.319474 19.620064 12.116188 17.11952 13.324219 14.996094 C 13.324494 14.99561 13.323944 14.994624 13.324219 14.994141 C 14.049076 13.720327 14.922783 12.582865 15.912109 11.613281 C 16.242026 11.289994 16.584968 10.983739 16.939453 10.699219 C 19.066357 8.9922319 21.613535 8.0058594 24.320312 8.0058594 C 28.473081 8.0058594 32.203764 10.281228 34.681641 13.976562 A 1.50015 1.50015 0 1 0 37.171875 12.306641 C 34.251989 7.952122 29.651267 5.0571903 24.449219 5.0097656 A 1.50015 1.50015 0 0 0 24.320312 5.0058594 z"></path></svg>');
}

.aon-dataTable .aon-icon-reset {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="--var(aonIconColor, black)"><path d="M460-460H240v-40h220v-220h40v220h220v40H500v220h-40v-220Z"/></svg>');
}

.aon_icon_add_block {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M146-346v-28h280v28H146Zm0-160v-28h440v28H146Zm0-160v-28h440v28H146Zm520 480v-160H506v-28h160v-160h28v160h160v28H694v160h-28Z"/></svg>');
}

.aon_icon_add_task {
	background-size: 24px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='black'%3E%3Cpath d='M479.63-120q-74.5 0-140.03-28.42-65.52-28.43-114.18-76.99-48.66-48.56-77.04-114.2Q120-405.26 120-479.9q0-74.64 28.35-140.38 28.35-65.73 76.95-114.36 48.6-48.63 114.3-76.99Q405.3-840 480-840q61.41 0 116.2 19 54.8 19 99.95 53l-28.77 29.77q-39.53-29.39-86.98-45.58Q532.96-800 480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q35.08 0 68.15-7.54 33.08-7.54 63.39-20.84l30 30.23q-36.39 18.46-77.16 28.3-40.76 9.85-84.75 9.85ZM780-180v-120H660v-40h120v-120h40v120h120v40H820v120h-40ZM422.46-323.69 280.15-466l28.31-28.31 114 114 389.23-389.46L840-741.46 422.46-323.69Z'/%3E%3C/svg%3E");
}

.aon_toolbar_button.aon_icon_receipt {
	background-size: 28px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M346-266h268v-28H346v28Zm0-160h268v-28H346v28Zm-74 294q-26 0-43-17t-17-43v-576q0-26 17-43t43-17h314l162 162v474q0 26-17 43t-43 17H272Zm300-520v-148H272q-12 0-22 10t-10 22v576q0 12 10 22t22 10h416q12 0 22-10t10-22v-460H572ZM240-800v148-148 640-640Z"/></svg>');
}

.aon_icon_filter_list {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M429-292v-28h101v28H429ZM282-466v-28h395v28H282ZM172-640v-28h616v28H172Z"/></svg>');
}

.aon_icon_refresh {
	background-size: 24px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSIjMDAwIj48cGF0aCBkPSJNMjA5LjM4LTM1MS44NXEtMTQuMy0yOS41My0yMS44NC02MS40NlExODAtNDQ1LjIzIDE4MC00NzhxMC0xMjUuNTQgODcuNjItMjEzLjc3UTM1NS4yMy03ODAgNDgwLTc4MGg1NS40NmwtODQtODQgMjguMzEtMjguMzFMNjEyLjA4LTc2MCA0NzkuNzctNjI3LjY5IDQ1MS40Ni02NTZsODQtODRINDgwcS0xMDguNDYgMC0xODQuMjMgNzYuMjdUMjIwLTQ3OHEwIDIzLjY5IDQuODUgNDguMzEgNC44NCAyNC42MSAxNC41MyA0Ny44NGwtMzAgMzBaTTQ4MC4yMy02Ny42OSAzNDcuOTItMjAwbDEzMi4zMS0xMzIuMzFMNTA4LjU0LTMwNGwtODQgODRINDgwcTEwOC40NiAwIDE4NC4yMy03Ni4yN1Q3NDAtNDgycTAtMjMuNjktNC44NS00OC4zMS00Ljg0LTI0LjYxLTE0LjUzLTQ3Ljg0bDMwLTMwcTE0LjMgMjkuNTMgMjEuODQgNjEuNDZRNzgwLTUxNC43NyA3ODAtNDgycTAgMTI1LjU0LTg3LjYyIDIxMy43N1E2MDQuNzctMTgwIDQ4MC0xODBoLTU1LjQ2bDg0IDg0LTI4LjMxIDI4LjMxWiIvPjwvc3ZnPg==);
}

.aon_icon_lock {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M272-132q-25 0-42.5-17.5T212-192v-336q0-25 17.5-42.5T272-588h60v-80q0-62 43-105t105-43q62 0 105 43t43 105v80h60q25 0 42.5 17.5T748-528v336q0 25-17.5 42.5T688-132H272Zm0-28h416q14 0 23-9t9-23v-336q0-14-9-23t-23-9H272q-14 0-23 9t-9 23v336q0 14 9 23t23 9Zm208-146q23 0 38.5-15.5T534-360q0-23-15.5-38.5T480-414q-23 0-38.5 15.5T426-360q0 23 15.5 38.5T480-306ZM360-588h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"/></svg>');
}

.aon_icon_unlock {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M272-588h328v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85h-28q0-62 43-105t105-43q62 0 105 43t43 105v80h60q25 0 42.5 17.5T748-528v336q0 25-17.5 42.5T688-132H272q-25 0-42.5-17.5T212-192v-336q0-25 17.5-42.5T272-588Zm0 428h416q14 0 23-9t9-23v-336q0-14-9-23t-23-9H272q-14 0-23 9t-9 23v336q0 14 9 23t23 9Zm208-146q23 0 38.5-15.5T534-360q0-23-15.5-38.5T480-414q-23 0-38.5 15.5T426-360q0 23 15.5 38.5T480-306ZM240-160v-400 400Z"/></svg>');
}

.aon_icon_verify {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m366-126-64-108-122-26 12-126-82-94 82-94-12-126 122-26 64-108 114 48 114-48 64 108 122 26-12 126 82 94-82 94 12 126-122 26-64 108-114-48-114 48Zm12-36 102-42 102 42 58-96 110-24-10-114 74-84-74-84 10-114-110-24-58-96-102 42-102-42-58 96-110 24 10 114-74 84 74 84-10 114 110 24 58 96Zm102-318Zm-42 106 190-190-20-20-170 170-86-86-20 20 106 106Z"/></svg>');
}

.aon_icon_upload_file {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M466-264h28v-194l90 90 20-20-124-124-124 124 20 20 90-90v194ZM272-132q-26 0-43-17t-17-43v-576q0-26 17-43t43-17h314l162 162v474q0 26-17 43t-43 17H272Zm300-520v-148H272q-12 0-22 10t-10 22v576q0 12 10 22t22 10h416q12 0 22-10t10-22v-460H572ZM240-800v148-148 640-640Z"/></svg>');
}

.aon_icon_list {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M326.07-304q11.93 0 19.93-8.07t8-20q0-11.93-8.07-19.93t-20-8Q314-360 306-351.93t-8 20q0 11.93 8.07 19.93t20 8Zm0-148q11.93 0 19.93-8.07t8-20q0-11.93-8.07-19.93t-20-8Q314-508 306-499.93t-8 20q0 11.93 8.07 19.93t20 8Zm0-148q11.93 0 19.93-8.07t8-20q0-11.93-8.07-19.93t-20-8Q314-656 306-647.93t-8 20q0 11.93 8.07 19.93t20 8ZM450-318h208v-28H450v28Zm0-148h208v-28H450v28Zm0-148h208v-28H450v28ZM232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Zm-32-560v560-560Z"/></svg>');
}

.aon_icon_domain_add {
	background-size: 19px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M118-164v-668h348v160h376v336h-28v-308H466v132h100v28H466v132h100v28H466v132h200v28H118Zm28-28h132v-132H146v132Zm0-160h132v-132H146v132Zm0-160h132v-132H146v132Zm0-160h132v-132H146v132Zm160 480h132v-132H306v132Zm0-160h132v-132H306v132Zm0-160h132v-132H306v132Zm0-160h132v-132H306v132ZM814-84v-80h-80v-28h80v-80h28v80h80v28h-80v80h-28ZM666-484v-28h28v28h-28Zm0 160v-28h28v28h-28Z"/></svg>');
}

.aon_icon_gpp_maybe {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M480-320q17 0 28.5-11.5T520-360q0-17-11.5-28.5T480-400q-17 0-28.5 11.5T440-360q0 17 11.5 28.5T480-320Zm-40-160h80v-200h-80v200Zm40 400q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z"/></svg>');
}

.aon_icon_move_group {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M326-292q-26 0-43-17t-17-43v-54h28v54q0 12 10 22t22 10h416q12 0 22-10t10-22v-368H294v86h-28v-134q0-26 17-43t43-17h416q26 0 43 17t17 43v416q0 26-17 43t-43 17H326ZM218-184q-26 0-43-17t-17-43v-444h28v444q0 12 10 22t22 10h444v28H218Zm272-193-19-19 108-110H266v-28h313L471-644l19-19 143 143-143 143Z"/></svg>');
}

.aon_icon_group_off {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M852-68 659-261v29H123v-52q0-26 13.5-43.5t36.45-28.59Q222-379 269.5-393.5 317-408 391-408q45 0 78.5 5.5T532-388L407-513q-4 1-8 1h-8q-44.55 0-76.27-31.72Q283-575.45 283-620v-8q0-4 1-8L90-830l20-20L872-88l-20 20ZM697-392q23 6 45 15.5t45 20.5q23 11 36.5 30.16T837-284v49L728-344q-6-14-13.5-26T697-392Zm-306 12q-66 0-114 12.5T187-332q-21 11-28.5 22t-7.5 26v24h480v-29l-51-51q-39-20-84-30t-105-10Zm158-143q14-21 22-46t8-51q0-30-10.5-57T541-728q44.55 0 76.28 31.72Q649-664.55 649-620q0 41.25-26 70.62Q597-520 559-513l-10-10Zm-57-57-23-23q1-4 1.5-8t.5-9q0-33-23.5-56.5T391-700q-5 0-9 .5t-8 1.5l-23-23q10-3 19.62-5 9.63-2 20.38-2 44.55 0 76.27 31.72Q499-664.55 499-620q0 10.75-2 20.38-2 9.62-5 19.62ZM381-260Zm42-392Z"/></svg>');
}

.aon_icon_move_to_inbox {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q14 0 23-9t9-23v-108H610q-20 38-54.5 59T480-260q-41 0-75.5-21T350-340H200v108q0 14 9 23t23 9Zm248-88q38 0 69-22t43-58h168v-360q0-14-9-23t-23-9H232q-14 0-23 9t-9 23v360h168q12 36 43 58t69 22Zm0-148L356-560l20-20 90 90v-194h28v194l90-90 20 20-124 124ZM232-200h-32 560-528Z"/></svg>');
}

.aon_icon_up {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m256-461-19-19 243-243 243 243-19 19-224-223-224 223Z"/></svg>');
}

.aon_icon_down {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M480-380 276-584l20-20 184 184 184-184 20 20-204 204Z"/></svg>');
}

.aon_icon_no_encryption {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m748-254-28-28v-246q0-14-9-23t-23-9H442l-28-28h186v-80q0-51-36.5-85.5T476-788q-51 0-87.5 35T352-668v12l-26-26q5-57 47.5-95.5T476-816q63 0 107.5 43T628-668v80h60q26 0 43 17t17 43v274Zm72 226L712-136q-9 3-19 3.5t-25 .5H272q-26 0-43-17t-17-43v-336q0-22 14-38t36-20L28-820l20-20L840-48l-20 20ZM686-160 521-327q-8 8-18 12t-21 4q-23 0-38.5-15.5T428-365q0-11 4-21t12-18L286-560h-14q-14 0-23 9t-9 23v336q0 14 9 23t23 9h414ZM486-360Zm95-61Z"/></svg>');
}

.aon_icon_check_circle {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m422-332 248-248-20-20-228 228-114-114-20 20 134 134Zm58.17 200q-72.17 0-135.73-27.39-63.56-27.39-110.57-74.35-47.02-46.96-74.44-110.43Q132-407.65 132-479.83q0-72.17 27.39-135.73 27.39-63.56 74.35-110.57 46.96-47.02 110.43-74.44Q407.65-828 479.83-828q72.17 0 135.73 27.39 63.56 27.39 110.57 74.35 47.02 46.96 74.44 110.43Q828-552.35 828-480.17q0 72.17-27.39 135.73-27.39 63.56-74.35 110.57-46.96 47.02-110.43 74.44Q552.35-132 480.17-132Zm-.17-28q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>') !important;
}

.aon_icon_check_circle_green {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="green"><path d="m422-332 248-248-20-20-228 228-114-114-20 20 134 134Zm58.17 200q-72.17 0-135.73-27.39-63.56-27.39-110.57-74.35-47.02-46.96-74.44-110.43Q132-407.65 132-479.83q0-72.17 27.39-135.73 27.39-63.56 74.35-110.57 46.96-47.02 110.43-74.44Q407.65-828 479.83-828q72.17 0 135.73 27.39 63.56 27.39 110.57 74.35 47.02 46.96 74.44 110.43Q828-552.35 828-480.17q0 72.17-27.39 135.73-27.39 63.56-74.35 110.57-46.96 47.02-110.43 74.44Q552.35-132 480.17-132Zm-.17-28q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
}

.aon_icon_error_exclamation {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M480-308q8.5 0 14.25-5.75T500-328q0-8.5-5.75-14.25T480-348q-8.5 0-14.25 5.75T460-328q0 8.5 5.75 14.25T480-308Zm-14-124h28v-240h-28v240Zm14.17 300q-72.17 0-135.73-27.39-63.56-27.39-110.57-74.35-47.02-46.96-74.44-110.43Q132-407.65 132-479.83q0-72.17 27.39-135.73 27.39-63.56 74.35-110.57 46.96-47.02 110.43-74.44Q407.65-828 479.83-828q72.17 0 135.73 27.39 63.56 27.39 110.57 74.35 47.02 46.96 74.44 110.43Q828-552.35 828-480.17q0 72.17-27.39 135.73-27.39 63.56-74.35 110.57-46.96 47.02-110.43 74.44Q552.35-132 480.17-132Zm-.17-28q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
}

.aon_icon_copy {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M366-292q-26 0-43-17t-17-43v-416q0-26 17-43t43-17h296q26 0 43 17t17 43v416q0 26-17 43t-43 17H366Zm0-28h296q12 0 22-10t10-22v-416q0-12-10-22t-22-10H366q-12 0-22 10t-10 22v416q0 12 10 22t22 10ZM258-184q-26 0-43-17t-17-43v-444h28v444q0 12 10 22t22 10h324v28H258Zm76-136v-480 480Z"/></svg>');
}

.aon_icon_edit {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M200-200h40l439-439-40-40-439 439v40Zm-28 28v-80l527-528q4.39-3.83 9.7-5.91Q714-788 719.68-788q5.67 0 11 1.5Q736-785 741-780l39 39q5 5 6.5 10.41t1.5 10.82q0 5.77-1.91 11.07-1.92 5.31-6.09 9.7L252-172h-80Zm589-548-41-41 41 41Zm-102.35 61.35L639-679l40 40-20.35-19.65Z"/></svg>');
}

.aon_icon_enterprise{
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M118-164v-668h348v160h376v508H118Zm28-28h132v-132H146v132Zm0-160h132v-132H146v132Zm0-160h132v-132H146v132Zm0-160h132v-132H146v132Zm160 480h132v-132H306v132Zm0-160h132v-132H306v132Zm0-160h132v-132H306v132Zm0-160h132v-132H306v132Zm160 480h348v-452H466v132h100v28H466v132h100v28H466v132Zm200-292v-28h28v28h-28Zm0 160v-28h28v28h-28Z"/></svg>');
}

.aon_icon_home{
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M240-200h156v-234h168v234h156v-360L480-742 240-560v360Zm-28 28v-402l268-203 268 203v402H536v-234H424v234H212Zm268-299Z"/></svg>');
}

.aon_icon_block {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M480.17-132q-72.17 0-135.73-27.39-63.56-27.39-110.57-74.35-47.02-46.96-74.44-110.43Q132-407.65 132-479.83q0-72.17 27.39-135.73 27.39-63.56 74.35-110.57 46.96-47.02 110.43-74.44Q407.65-828 479.83-828q72.17 0 135.73 27.39 63.56 27.39 110.57 74.35 47.02 46.96 74.44 110.43Q828-552.35 828-480.17q0 72.17-27.39 135.73-27.39 63.56-74.35 110.57-46.96 47.02-110.43 74.44Q552.35-132 480.17-132Zm-.17-28q59.96 0 115.48-21.5T696-244L244-696q-40 45-62 100.52-22 55.52-22 115.48 0 134 93 227t227 93Zm236-104q41-45 62.5-100.52Q800-420.04 800-480q0-134-93-227t-227-93q-60.31 0-116.16 21Q308-758 264-716l452 452ZM480-480Z"/></svg>');
}

.aon_icon_sync {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M194-194v-28h128l-50-50q-45-45-65.5-97.5T186-476q0-92 51.5-167.5T374-754v30q-73 32-116.5 99.5T214-476q0 50 19 97t59 87l50 50v-128h28v176H194Zm392-12v-30q73-32 116.5-99.5T746-484q0-50-19-97t-59-87l-50-50v128h-28v-176h176v28H638l50 50q45 45 65.5 97.5T774-484q0 92-51.5 167.5T586-206Z"/></svg>');
}

.aon_icon_link {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M420-328H284q-63.08 0-107.54-44.44Q132-416.89 132-479.94q0-63.06 44.46-107.56T284-632h136v28H284q-51 0-87.5 36.5T160-480q0 51 36.5 87.5T284-356h136v28Zm-74-138v-28h268v28H346Zm194 138v-28h136q51 0 87.5-36.5T800-480q0-51-36.5-87.5T676-604H540v-28h136q63.08 0 107.54 44.44Q828-543.11 828-480.06q0 63.06-44.46 107.56T676-328H540Z"/></svg>');
}

.aon_icon_enterprise_off {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m836-84-88-88H192q-26 0-43-17t-17-43v-376q0-26 17-43t43-17h100l28 28H192q-12 0-22 10t-10 22v376q0 12 10 22t22 10h528L124-796l20-20 712 712-20 20Zm-8-156-28-28v-340q0-12-10-22t-22-10H428l-56-56v-20q0-26 17-43t43-17h96q26 0 43 17t17 43v48h180q26 0 43 17t17 43v368ZM400-668h160v-48q0-12-10-22t-22-10h-96q-12 0-22 10t-10 22v48Zm214 214Zm-114 34Z"/></svg>');
}

.aon_icon_person_check {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M702-517 597-622l20-19 85 85 170-170 20 20-190 189Zm-342 5q-44.55 0-76.27-31.72Q252-575.45 252-620t31.73-76.28Q315.45-728 360-728t76.27 31.72Q468-664.55 468-620t-31.73 76.28Q404.55-512 360-512ZM92-232v-52q0-22 13.5-41.5T142-356q55-26 109.5-39T360-408q54 0 108.5 13T578-356q23 11 36.5 30.5T628-284v52H92Zm28-28h480v-24q0-14-9.5-26.5T564-332q-48-23-99.69-35.5Q412.63-380 360-380t-104.31 12.5Q204-355 156-332q-17 9-26.5 21.5T120-284v24Zm240-280q33 0 56.5-23.5T440-620q0-33-23.5-56.5T360-700q-33 0-56.5 23.5T280-620q0 33 23.5 56.5T360-540Zm0 220Zm0-300Z"/></svg>');
}

.aon_icon_person_alert {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M800.04-534q-11.04 0-18.54-7.46-7.5-7.47-7.5-18.5 0-11.04 7.46-18.54 7.47-7.5 18.5-7.5 11.04 0 18.54 7.46 7.5 7.47 7.5 18.5 0 11.04-7.46 18.54-7.47 7.5-18.5 7.5ZM786-666v-148h28v148h-28ZM360-512q-44.55 0-76.27-31.72Q252-575.45 252-620t31.73-76.28Q315.45-728 360-728t76.27 31.72Q468-664.55 468-620t-31.73 76.28Q404.55-512 360-512ZM92-232v-52q0-22 13.5-41.5T142-356q55-26 109.5-39T360-408q54 0 108.5 13T578-356q23 11 36.5 30.5T628-284v52H92Zm28-28h480v-24q0-14-9.5-26.5T564-332q-48-23-99.69-35.5Q412.63-380 360-380t-104.31 12.5Q204-355 156-332q-17 9-26.5 21.5T120-284v24Zm240-280q33 0 56.5-23.5T440-620q0-33-23.5-56.5T360-700q-33 0-56.5 23.5T280-620q0 33 23.5 56.5T360-540Zm0-80Zm0 360Z"/></svg>');
}

.aon_icon_work {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M192-172q-26 0-43-17t-17-43v-376q0-26 17-43t43-17h180v-48q0-26 17-43t43-17h96q26 0 43 17t17 43v48h180q26 0 43 17t17 43v376q0 26-17 43t-43 17H192Zm0-28h576q12 0 22-10t10-22v-376q0-12-10-22t-22-10H192q-12 0-22 10t-10 22v376q0 12 10 22t22 10Zm208-468h160v-48q0-12-10-22t-22-10h-96q-12 0-22 10t-10 22v48ZM160-200v-440 440Z"/></svg>');
}

.aon_icon_checked {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m424-348 248-248-20-20-228 228-114-114-20 20 134 134ZM232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Zm-32-560v560-560Z"/></svg>');
}

.aon_icon_check {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Z"/></svg>');
}

.aon_icon_delete_file {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M240-800v148-148 640-640Zm32 668q-26 0-43-17t-17-43v-576q0-26 17-43t43-17h314l162 162v198q-7-1-14-1.5t-14-.5v-182H572v-148H272q-12 0-22 10t-10 22v576q0 12 10 22t22 10h227q2 8 5 14.5t7 13.5H272Zm364-1-19-19 84-84-84-84 19-19 84 84 84-84 19 19-83 84 83 84-19 19-84-83-84 83Z"/></svg>');
}

.aon_icon_xml {
	background-size: 16px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg fill="black" height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M501.333,384h-32v-74.667c0-5.888-4.779-10.667-10.667-10.667S448,303.445,448,309.333v85.333 c0,5.888,4.779,10.667,10.667,10.667h42.667c5.888,0,10.667-4.779,10.667-10.667S507.221,384,501.333,384z"></path> </g> </g> <g> <g> <path d="M419.371,299.221c-4.352-1.472-9.152,0.043-11.904,3.712L384,334.208l-23.467-31.275 c-2.752-3.669-7.509-5.184-11.904-3.712c-4.352,1.451-7.296,5.525-7.296,10.112v85.333c0,5.888,4.779,10.667,10.667,10.667 c5.888,0,10.667-4.779,10.667-10.667v-53.333l12.8,17.067c4.032,5.376,13.056,5.376,17.067,0l12.8-17.067v53.333 c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667v-85.333 C426.667,304.747,423.723,300.672,419.371,299.221z"></path> </g> </g> <g> <g> <path d="M290.667,352.021l27.221-36.288c3.541-4.715,2.581-11.392-2.133-14.933c-4.715-3.52-11.371-2.581-14.933,2.133 l-23.467,31.296l-23.488-31.296c-3.563-4.736-10.219-5.696-14.933-2.133c-4.715,3.541-5.675,10.219-2.133,14.933l27.221,36.288 l-27.2,36.245c-3.541,4.715-2.581,11.392,2.133,14.933c1.92,1.429,4.16,2.133,6.379,2.133c3.243,0,6.443-1.472,8.555-4.267 l23.467-31.275l23.445,31.275c2.091,2.795,5.291,4.267,8.533,4.267c2.24,0,4.48-0.704,6.4-2.133 c4.715-3.541,5.675-10.219,2.133-14.933L290.667,352.021z"></path> </g> </g> <g> <g> <path d="M373.333,277.333c5.888,0,10.667-4.779,10.667-10.667v-256C384,4.779,379.221,0,373.333,0H138.667 c-1.429,0-2.816,0.299-4.117,0.832c-0.619,0.256-1.088,0.725-1.643,1.088c-0.597,0.384-1.28,0.683-1.792,1.195l-128,128 c-0.491,0.491-0.768,1.152-1.152,1.728c-0.384,0.576-0.875,1.067-1.131,1.707C0.299,135.851,0,137.237,0,138.667v362.667 C0,507.221,4.779,512,10.667,512h362.667c5.888,0,10.667-4.779,10.667-10.667v-64c0-5.888-4.779-10.667-10.667-10.667 c-5.888,0-10.667,4.779-10.667,10.667v53.333H21.333V149.333h117.333c5.888,0,10.667-4.779,10.667-10.667V21.333h213.333v245.333 C362.667,272.555,367.445,277.333,373.333,277.333z M128,128H36.416L128,36.416V128z"></path> </g> </g> </g></svg>');
}

.aon_icon_keyboard_double_arrow_right {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M433-480 249-664l20-20 204 204-204 204-20-20 184-184Zm238 0L487-664l20-20 204 204-204 204-20-20 184-184Z"/></svg>');
}

.aon_icon_keyboard_double_arrow_left {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M453-276 249-480l204-204 20 20-184 184 184 184-20 20Zm238 0L487-480l204-204 20 20-184 184 184 184-20 20Z"/></svg>');
}

.aon_icon_keyboard_arrow_right {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M540-480 356-664l20-20 204 204-204 204-20-20 184-184Z"/></svg>');
}

.aon_icon_keyboard_arrow_left {
	background-size: 24px;
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M560-276 356-480l204-204 20 20-184 184 184 184-20 20Z"/></svg>');
}

.aon_icon_ {
	background-size: 24px;
	background-image: url('data:image/svg+xml;utf-8,');
}

.gwt-CheckBox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gwt-TabBar {
	background: transparent;
}

.gwt-TabBar .gwt-TabBarItem {
	color: black;
	background: transparent;
}

.gwt-TabBarItem-wrapper-selected {
	border-bottom: 2px solid transparent;
}

.gwt-TabBarItem-wrapper-selected {
	border-bottom: 2px solid #002469;
}

input[type='checkbox'] {
 	width: 24px;
	height: 24px;
	appearance: none;
	background-size: 24px;
	background-position: center;
 	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="M232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Z"/></svg>');
}

input[type='checkbox']:checked {
	background-image:
		url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m424-348 248-248-20-20-228 228-114-114-20 20 134 134ZM232-172q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h496q26 0 43 17t17 43v496q0 26-17 43t-43 17H232Zm0-28h496q12 0 22-10t10-22v-496q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v496q0 12 10 22t22 10Zm-32-560v560-560Z"/></svg>');
}

.aon_display_table_cell input[type='checkbox'] + label {
	top: -10px;
	position: relative;
}

.minWidth_2 {
	min-width: 2rem !important;
}

.aon_no_border_toolbar .aon_toolbar_inner {
	border: none;
}

.aon_no_border_toolbar .aon_toolbar_button_container {
	margin: 0;
}

.aon_no_border_toolbar .aon_toolbar_title_container {
	padding: 0;
}

.aon-panelGrid-search .aon-panelGrid-odd, .aon-panelGrid-search .aon-panelGrid-even
	{
	background-color: #FFF !important;
}

.aon_message_panel{
	align-items: center;
}

.aon_message_close_panel{
	padding: 0 1rem 0 0;
}

.aon_message_close_panel > button{
	min-height: 2rem;
}

.gwt-viz-container > div {
	color: red;
	display: flex;
	justify-content: center;
}

.aon_custom_row_button.aon_icon_pdf{
	background-size: 18px;
}

.aon_contract_small_card {
    min-height: 7rem;
}

.aon_contract_medium_card {
	max-width: 67rem;
	min-height: 7rem;
}

.gwt-MenuBarPopup{
	border-radius: 2px;
}

.gwt-Selector .gwt-MenuBarPopup{
	padding: 0;
}

.gwt-Selector .gwt-MenuBar.gwt-MenuBar-vertical{
	min-height: 1.5rem;
	height: 100%;
	display: flex;
}

.gwt-Selector .gwt-MenuBar.gwt-MenuBar-vertical::hover{
	background-color: #e3e8f3;	
}

.gwt-Selector .gwt-MenuBar-vertical .gwt-MenuItem{
	padding: .4rem 1rem;
}

