.treeLeftContent {
	position: absolute;
	outline-style: none;
	left: 0px;
	z-index: 1;
	overflow: auto;
}

.treeRightContent {
	position: absolute;
	outline-style: none;
	z-index: 1;
}

/* Splitbar styles; these are the default class names */

.ui-state-default { background-color: #CBE1FB }
.ui-state-hover { background-color: #66CCFF }
.ui-state-highlight { background-color: #6DF }
.ui-state-error { background-color: #f55 }

.splitter-bar-vertical {
	width:4px;
	border-left:solid 1px #7f7b73;
	border-right:solid 1px #7f7b73;
	background:#cbe1fb url(images/panev.gif) 0% 50%;
}
.splitter-button {
	cursor: pointer;
	background:transparent url(images/panevc.gif) 8px 50%;
	margin-top:-41px;
	margin-left:-4px;
	height:79px;
	width:8px;
	top:50%;
	position:relative;
}
.splitter-button-docked {
	background:transparent url(images/panevc.gif) 0px 50%;
	margin-left:0px;
}
.splitter-bar.ui-state-highlight {
	opacity: 0.7;
}
.splitter-iframe-hide {
	visibility: hidden;
}