
aon-viewer {
	display: flex;
	width: 100%;
	position: relative;
	background: #fafafa;
}

aon-viewer.invisible #aonViewerCanvasDiv {
	
}

aon-viewer #aonViewerCanvasDiv {
	width: 100%;
	min-height: 100%;
	height: max-content;
	padding: 5rem;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	background: #fafafa;
	padding-bottom: 5rem;
	transition: transform .25s , margin .25s, opacity .25s ;
	box-sizing: border-box;
	transform-origin: center top 0px;
}


aon-viewer.loading::before  {
	
	/* loading bar */
	content: "";
	position: absolute;
	opacity: 0;
	top: 0;
	left: -10%;
	width: 10%;
	height: .3rem;
	background: #163776;
	border-radius: 2rem;
	z-index: 1;
	opacity: 1;
	animation: loading-bar 1s linear infinite;
}


aon-icon-button button {
	background: #f1f1f1;
	border-radius: 10rem;
	padding: 1rem;
	border: .2rem;
	border: none;
	transition: background 0.2s;
}

aon-icon-button button:hover {
	background: #c7c7c7;
}

aon-viewer #aonViewerButtonsDiv {
	position: fixed !important;
	top: 10% !important;
	align-items: center;
}

aon-viewer #aonViewerButtonsDiv button {
	cursor: pointer;
	box-shadow: 0 .12rem .25rem rgba(0,0,0,.1);
}

aon-viewer canvas {
	margin-bottom: 1rem;
	border-radius: .5rem;
	background: #fff;
	border: none !important;
	box-shadow: 0rem 1rem 2rem rgba(0,0,0,.05);
}

aon-viewer #aonViewerButtonsDiv #page-number {
	background: #f1f1f1;
	text-align: center;
	border: none;
	padding: .3rem;
	height: 2.9rem;
	width: 2.9rem;
	overflow-x: auto;
	font-weight: bold;
	color: rgb(95, 99, 104); 
	font-family: sans;
	border-radius: 35rem;
	box-shadow: 0 .12rem .25rem rgba(0,0,0,.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes loading-bar {
	0% {
		opacity: 0;
		left: -10%;
		width: 10%;
	}

	20%{
		opacity: 1;
	}

	40% {
		width: 30%;
		opacity: 1;
	}


	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		left: 90%;
		width: 10%;
	}

}