<div id="menu">
   #set($linea=0)
   #set($carslinea=0)
	#foreach($item in $menu)
	   #if($linea==0)
	      #set($linea=1)
	      <ul id="menu">
	   #end
	   #if($carslinea+$item.getLabel().length()>85)
	      #set($carslinea=0)
	      </ul>
	      <ul id="menu">
	   #end
	   <li><a href="$!item.getLink()">$!item.getLabel()</a></li>
	   #set($carslinea=$carslinea+$item.getLabel().length())
	   <!-- $carslinea -->
	#end
     #if ($carslinea>0)
	</ul>
     #end
</div>