<?php
function messageHTML($php_from, $php_namefrom, $php_to, $php_nameto, $php_subject, $php_message) {
        $php_nohtml = "[This message should be viewed in HTML.]";
        if(strtoupper(substr(PHP_OS,0,3)=='WIN')) {
                $php_eol="\r\n";
                $php_sol="\n";
        }
        elseif(strtoupper(substr(PHP_OS,0,3)=='MAC')) {
                $php_eol="\r";
        }
        else {
                $php_eol="\n";
        }
        if(!isset($php_sol)) {
                $php_sol = $php_eol;
        }
        $php_Momentn = mktime().".".md5(rand(1000,9999));
        $php_Mailcontentstri  = explode($php_sol, $php_message);
        $php_Mailcontentstrip = strip_tags($php_Mailcontentstri[0]);

        $php_body  = $php_message;

        $php_Servername = "127.0.0.1";
        $php_nameto = "${company.getName()}";

        $php_Textmsg = eregi_replace("<br(.{0,2})>", $php_eol, $php_body);
        $php_Textmsg = eregi_replace("</p>", $php_eol, $php_Textmsg);
        $php_Textmsg = strip_tags($php_Textmsg);
        $php_Textmsg = $php_nohtml.$php_eol.$php_eol.$php_Textmsg;

        $php_headers         = "";
        $php_headers      .= "Message-ID: <".$php_Momentn."@".$php_Servername.">".$php_eol;
        $php_headers      .= "From: ".$php_namefrom." <".$php_from.">".$php_eol;
        $php_headers      .= 'To: '.$php_nameto.' <'.$php_to.'>'.$php_eol;
        $php_headers      .= 'Subject: '.$php_subject.$php_eol;
        $php_headers      .= 'Date: '.date("r").$php_eol;
        $php_headers      .= 'Sender-IP: '.$_SERVER["REMOTE_ADDR"].$php_eol;
        $php_headers      .= 'MIME-Version: 1.0'.$php_eol;
        $php_bndp          = md5(time()).rand(1000,9999);
        $php_headers      .= "Content-Type: multipart/alternative; $php_eol       boundary=\"".$php_bndp."\"".$php_eol;
        $php_headers      .= 'X-Mailser: CMS Mailer 1.0'.$php_eol.$php_eol;

        $php_msg           = "This is a multi-part message in MIME format.".$php_eol;
        $php_msg          .= "--".$php_bndp.$php_eol;
        $php_msg          .= "Content-Type: text/plain; $php_eol       charset=\"iso-8859-1\"".$php_eol;
        $php_msg          .= "Content-Transfer-Encoding: 7bit".$php_eol.$php_eol;
        $php_msg          .= $php_Textmsg.$php_eol;
        $php_msg          .= "--".$php_bndp.$php_eol;
        $php_msg          .= "Content-Type: text/html; $php_eol       charset=\"iso-8859-1\"".$php_eol;
        $php_msg          .= "Content-Transfer-Encoding: 7bit".$php_eol.$php_eol;
        $php_msg          .= $php_body.$php_eol;
        $php_msg          .=  "--".$php_bndp."--".$php_eol;

        $php_data            = $php_headers.$php_msg;

        return $php_data;
}

function authMail($php_from, $php_namefrom, $php_to, $php_nameto, $php_subject, $php_message) {
        /*  Configuration  */
        $php_smtpServer = "213.172.45.246"; //ip accepted as well
        $php_port = "25"; // should be 25 by default
        $php_timeout = "30"; //typical timeout. try 45 for slow servers
        $php_username = "correo@aonsolutions.es"; //the login for your smtp
        $php_password = "eo2008"; //the pass for your smtp
        $php_localhost = "127.0.0.1"; //this seems to work always
        $php_newLine = "\r\n"; //var just for nelines in MS
        $php_secure = 0; //change to 1 if you need a secure connect

	//connect to the host and port
        $php_smtpConnect = fsockopen($php_smtpServer, $php_port, $php_errno, $php_errstr, $php_timeout);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        if(empty($php_smtpConnect)) {
                $php_output = "Failed to connect: $php_smtpResponse";
                return $php_output;
        }
        else {
                $php_logArray['connection'] = "Connected to: $php_smtpResponse";
        }

        //say HELO to our little friend
        fputs($php_smtpConnect, "HELO $php_localhost". $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['heloresponse'] = "$php_smtpResponse";

        //start a tls session if needed
        if($php_secure) {
                fputs($php_smtpConnect, "STARTTLS". $php_newLine);
                $php_smtpResponse = fgets($php_smtpConnect, 4096);
                $php_logArray['tlsresponse'] = "$php_smtpResponse";

                //you have to say HELO again after TLS is started
                fputs($php_smtpConnect, "HELO $php_localhost". $php_newLine);
                $php_smtpResponse = fgets($php_smtpConnect, 4096);
                $php_logArray['heloresponse2'] = "$php_smtpResponse";
        }

        //request for auth login
        fputs($php_smtpConnect,"AUTH LOGIN" . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['authrequest'] = "$php_smtpResponse";

        //send the username
        fputs($php_smtpConnect, base64_encode($php_username) . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['authusername'] = "$php_smtpResponse";

        //send the password
        fputs($php_smtpConnect, base64_encode($php_password) . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['authpassword'] = "$php_smtpResponse";

        //email from
        fputs($php_smtpConnect, "MAIL FROM: $php_from" . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['mailfromresponse'] = "$php_smtpResponse";

        //email to
        fputs($php_smtpConnect, "RCPT TO: $php_to" . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['mailtoresponse'] = "$php_smtpResponse";

        //the email
        fputs($php_smtpConnect, "DATA" . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['data1response'] = "$php_smtpResponse";

        $php_msg = messageHTML($php_from, $php_namefrom, $php_to, $php_nameto, $php_subject, $php_message);

        fputs($php_smtpConnect, "$php_msg\r\n.\r\n");
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['data2response'] = "$php_smtpResponse";

        // say goodbye
        fputs($php_smtpConnect,"QUIT" . $php_newLine);
        $php_smtpResponse = fgets($php_smtpConnect, 4096);
        $php_logArray['quitresponse'] = "$php_smtpResponse";
        $php_logArray['quitcode'] = substr($php_smtpResponse,0,3);
        fclose($php_smtpConnect);

        //a return value of 221 in $php_retVal["quitcode"] is a success
        return($php_logArray);
}

//VALIDAMOS LOS E-MAILS RECIBIDOS ESTE SI ES VÁLIDO
function validar_mail(&$php_email){
        $php_error_email = "";
        $php_email=trim($php_email);
        $php_email=strtolower($php_email);
        $php_email=addslashes($php_email);
        if(!$php_email) {
                $php_error_email = " - No se ha indicado la direccion de correo desde la que desea enviarlo.";
        }
        else {
                if(!eregi("^[a-z]+[_\.\-]{0,1}[a-z0-9]+@[a-z0-9]+[_\.\-]{0,1}[a-z0-9]+\.[a-z]{2,4}$", $php_email)) {
                        $php_error_email = " - La direccion de correo indicada no es valida";
                }
        }
        return $php_error_email;
}

function ValidarCabecera($campo){
        //Array con las posibles cabeceras a utilizar por un spammer
        $badHeads = array("Content-Type:",
                                "MIME-Version:",
                                "Content-Transfer-Encoding:",
                                "Return-path:",
                                "Subject:",
                                "From:",
                                "Envelope-to:",
                                "To:",
                                "bcc:",
                                "cc:");

        //Comprobamos que entre los datos no se encuentre alguna de
        //las cadenas del array. Si se encuentra alguna cadena se
        //dirige a una página de Forbidden
        foreach($badHeads as $valor){
                if(strpos(strtolower($campo), strtolower($valor)) !== false){
                        header("HTTP/1.0 403 Forbidden");
                        exit;
                }
        }
}


        $php_from = $_REQUEST['from'];
        $php_subject = $_REQUEST['subject'] ;
	$php_to = "${email}";

        $php_error_validacion = validar_mail($php_from);

        if (!empty($php_error_validacion)) {
                //Sacar error indicando que el from es necesario.
                $php_error  = "Se produjo un error al intentar enviar el correo electronico<br>";
                $php_error .= $php_error_validacion;
                echo "<div class='error-message'>$php_error</div>";
        }
        else {
                ValidarCabecera($php_to);
                ValidarCabecera($php_subject);
                ValidarCabecera($php_from);


                $php_vars = $_POST;
                $php_message = "";
                foreach (array_keys($php_vars) as $php_key) {
                        if (substr_count($php_key,"mail_") > 0) {
                                $php_label = substr_replace($php_key,"",0,5);
                                $php_label = str_replace("_", " ", $php_label);
                                $php_message .= "<strong>" . $php_label . "</strong>: " . "$_REQUEST[$php_key]" . "<br>";
                        }
                }
                $php_log = authMail($php_from, "Visitante WEB", $php_to, "${company.getName()}", $php_subject, $php_message);
                $php_ok  = "Gracias por utilizar nuestro servicio. <br><br>";
                $php_ok .= "Su mensaje ha sido enviado correctamente. Resumen del mensaje: <br>";
                $php_ok .= "<div>$php_message</div>";
                echo "<div class='ok-message'>$php_ok</div>";
        }
?>
