#container {
	width: 750px;
	margin: 0 auto;
	padding: 10px;
}
#header {
	<!--background-position: bottom;
	background-repeat: repeat-x;
	float: left;-->
	width:750px;
}
#header a {
	float: left;
	font: ${size_tamano_de_fuente} ${font_fuente};
	text-decoration: none;
	color: ${color_color_de_texto_cabecera};
}
#header a:hover {
	font-size: ${size_tamano_de_fuente};
}
#content {
	padding: 10px;
	background-color: ${bgcolor_color_de_fondo_contenido};
	width: 745px;
	margin-top:75px;
	border-top: ${color_color_borde} 1px solid;
	border-bottom: ${color_color_borde} 1px solid;
}
#content p {
	font: ${size_tamano_de_fuente} ${font_fuente};
	color: ${color_color_de_texto_contenido};
	clear: left;
	margin-right: 20px;
}
#content h3 {
	font: 18px ${font_fuente};
	text-align: left;
	margin-top: 10px;
}
#menu {
	padding: 5px;
	background-color: ${bgcolor_color_de_fondo_menu};
	width: 150px;
	float: right;
	border-right: 1px solid #CCCCCC;
	margin-top:20px;
}
#menu a {
	color: ${color_color_de_texto_menu_link};
	padding: 2px 15px;
	text-decoration: none;
	
}
#menu a:hover {
	text-decoration:none;
}
#menu p {
	font: ${size_tamano_de_fuente} ${font_fuente};
	color: ${color_color_de_texto_menu};
	text-decoration: none;
}
#footer {
	clear: both;
	padding: 5px 15px 5px 5px;
	background-color: ${bgcolor_color_de_fondo_pie};
	font: ${size_tamano_de_fuente_pie} ${font_fuente};
	color: ${color_color_de_texto_pie};
	text-align: right;
	margin: 0px;
}
.box{
	text-align:center; 
	padding-top:10px;
}
.texto{
	text-align:right;
}
.infoHelp{
	width:420px; 
	padding:5px;
	background-color:#dddddd;
	margin-left:235px;
	text-align:justify;
	font-size:9px;
	margin-top:70px;
}
.gallery-navigation{
	text-align:center;
	color:${color_color_de_texto_contenido};
	text-decoration:none;
}
.gallery-navigation a{
	color:${color_color_de_texto_contenido};
	text-decoration:none;
	text-align:center;
}
.gallery-navigation a:visited{
	color:${color_color_de_texto_contenido};
	text-decoration:none;
	text-align:center;
}
.gallery-navigation a:hover{
	color:${color_color_de_texto_contenido};
	text-decoration:none;
	text-align:center;
}
.gallery-navigation a:active{
	color:${color_color_de_texto_contenido};
	text-decoration:none;
	text-align:center;
}
.album-block{ 
	text-align:center;
}
.formulario{
	float: left;
	line-height:17px;
}
.copiesferalia {
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a{
	font-family: ${font_fuente} ;
	font-size:9px;
	color:${color_texto};
	text-decoration:none;
	}
.copiesferalia a:hover{
	font-family: ${font_fuente} ;
	font-size: 9px;
	color:${color_texto};
	text-decoration:underline;
	}
.album {
	margin-left:60px;
	text-align:center;
}
.album a{
	text-decoration:none;
	color:${color_color_de_texto_contenido};
}
.objeto {
	float:left;
	padding:10px;
}
.objeto a{
	text-decoration:none;
	color:${color_color_de_texto_contenido};
}
.bold {
	float:left;
	padding:10px;
}
.bold a{
	text-decoration:none;
	color:${color_color_de_texto_contenido};
}