@import 'src/styles.scss';

.cursor {
    cursor: pointer;
}

/* Color border input */
::ng-deep .mat-form-field-outline-start, ::ng-deep .mat-form-field-outline-end  {
  border-color: $col-gray-light !important;
  z-index: -0;
}


::ng-deep .mat-form-field-outline-gap {
  border-bottom-color: $col-gray-light !important;
}

/* Color label focus y Color label por defecto */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label,
::ng-deep .mat-form-field-label-wrapper .mat-form-field-label {
  color: $col-black-light !important;
  font-weight: normal !important;
}


::ng-deep .mat-form-field-flex {
  height: 2.8rem !important;
}
