@import 'src/styles.scss';

::ng-deep{
  ::placeholder{
    color   : $color-placeholder !important;
  }
  :-ms-input-placeholder{
    color   : $color-placeholder !important;
  }
  ::-webkit-input-placeholder{
    color   : $color-placeholder !important;
  }
  .mat-form-field-flex:hover ::placeholder{
    color   : $color-placeholder !important;
  }
  .mat-form-field-flex:hover :-ms-input-placeholder{
    color   : $color-placeholder !important;
  }
  .mat-form-field-flex:hover ::-webkit-input-placeholder{
    color   : $color-placeholder !important;
  }

  /*
    Border
  */
    mat-form-field .mat-form-field-outline-start,
    mat-form-field .mat-form-field-outline-end {
      border-width: $border-size-primary !important;
      border-color: $color-border-primary !important;
    }
    
    mat-form-field .mat-form-field-outline-gap {
      border-width       : $border-size-primary !important;
      border-bottom-color: $color-border-primary !important;
    }
    
  /*
    Border FOCUS
  */
    mat-form-field:focus-within .mat-form-field-outline-start,
    mat-form-field:focus-within .mat-form-field-outline-end  {
      border-color: $color-border-secondary !important;
    }
    mat-form-field:focus-within .mat-form-field-outline-gap {
      border-bottom-color : $color-border-secondary !important;
    }

  /*
    Shadow
  */
    mat-form-field .mat-form-field-outline{
      box-shadow: none !important;
    }

    mat-form-field mat-label{
      font-size   : $font-size-input-label!important;
      font-weight : normal!important;
      font-stretch: normal!important;
      font-style  : normal!important;
    }

  /*
    Shearch
  */
    .search {
      padding-top : 0.03rem;
      width       : 97.8% !important;
    }

    .search mat-form-field .search-componet div{
      float: left;
    }

    .search-componet-input{
      width: calc(100% - 1.2rem);
    }

    .search mat-form-field .mat-form-field-outline-start,
    .search mat-form-field .mat-form-field-outline-end,
    .search mat-form-field .mat-form-field-outline-gap {
      border: none;
    }

    .search mat-form-field .mat-form-field-outline{
      /*border        : solid $border-size-primary $color-border-primary;*/
      border-radius : 20rem !important;
      box-shadow    : $box-shadow;
    }

    .search app-icon{
      position: relative;
      top     : -0.3rem;
      left    : -0.25rem;
    }
    .search app-icon path{
      color: $color-icon;
    }
    
  /*
    Select
  */
    .mat-select-panel {
      /*padding         : $padding / 2;*/
      border-radius   : 0.55rem;
      box-shadow      : $box-shadow;
      background-color: $color-quarter;
    }

    .mat-select-panel mat-option{
      margin         : $margin / 2;
    }
    .mat-select-panel mat-option.disabled:hover,
    .mat-select-panel mat-option.disabled.mat-active  {
      background    : none!important;
    }
    .mat-select-panel mat-option:hover,
    .mat-select-panel mat-option.mat-active,
    .mat-select-panel .mat-option.mat-selected{
      background    : $background-button-hover !important;
      border-radius : $border-radius;
      color         : $color-primary;
    }
    .mat-select-panel mat-option.disabled .mat-pseudo-checkbox-disabled{      
      border    : 0;
      background: none;
    }
    .mat-select-panel mat-option.disabled .mat-pseudo-checkbox::after{
      color: transparent;
    }
    .mat-select-panel .mat-pseudo-checkbox::after{
      color: $color-primary;
    }
    .mat-select-panel .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
      border-color: #6e6e6f;
    }
    
  /*
    DatePicker
  */
    .datepicker{
      display: flex;
      align-items: center;
    }
    .datepicker button.mat-icon-button .mat-button-wrapper, a.mat-icon-button .mat-button-wrapper{
      margin  : unset;
      top     : -0.2rem;
      position: relative;
    }
    .datepicker .mat-icon-button {
      width: unset;
      height: unset;
    }
    .datepicker .mat-button-ripple.mat-ripple, .datepicker .mat-button-focus-overlay {
      top   : -0.45rem;
      left  : -0.25rem;
      width : 1.7rem;
      height: 1.7rem;
    }
  
  /*
    Error required
  */
    /*
      Border required
    */
      mat-form-field.mat-form-field-invalid .mat-form-field-label mat-label,
      mat-form-field.mat-form-field-invalid .mat-form-field-label span{
        color: $color-red !important;
      }
      mat-form-field.mat-form-field-invalid .mat-form-field-outline-start,
      mat-form-field.mat-form-field-invalid .mat-form-field-outline-end {
        border-width: $border-size-error !important;
        border-color: $color-red !important;
      }
      mat-form-field.mat-form-field-invalid .mat-form-field-outline-gap {
        border-width        : $border-size-error !important;
        border-bottom-color : $color-red !important;
      }
    /*
      Text error required
    */
      mat-form-field .mat-error,
      mat-form-field .mat-error span,
      mat-form-field .mat-error span strong{
        color       : $color-red;
        font-size   : $font-size-input-label !important;
      }
      mat-form-field .mat-error span strong{
        font-family : "Roboto-Bold"!important;
      }
      
  /*
    classSuffix
  */
    /*mat-form-field .mat-form-field-suffix:hover{*/
    mat-form-field .appButton{
      margin: 0;
      background-color: $background-button-hover-rgba !important;
    }
    mat-form-field .appButton:hover{
      background-color: $background-button-hover-view-rgba !important;
    }
}
