@import 'src/styles.scss';

::ng-deep{
  /*
    Border
  */
    mat-form-field .mat-form-field-outline-start,
    mat-form-field .mat-form-field-outline-end {
      border-width: $border-size-primary !important;
      border-color: $color-border-primary !important;
    }

    mat-form-field .mat-form-field-outline-gap {
      border-width       : $border-size-primary !important;
      border-bottom-color: $color-border-primary !important;
    }
  
  /*
    Border FOCUS
  */
    mat-form-field:focus-within .mat-form-field-outline-start,
    mat-form-field:focus-within .mat-form-field-outline-end  {
      border-color: $color-border-secondary !important;
    }
    mat-form-field:focus-within .mat-form-field-outline-gap {
      border-bottom-color : $color-border-secondary !important;
    }

  /*
    Shadow
  */
    mat-form-field .mat-form-field-outline{
      box-shadow: none !important;
    }
    
    mat-form-field mat-label{
      font-size   : $font-size-input-label!important;
      font-weight : normal!important;
      font-stretch: normal!important;
      font-style  : normal!important;
    }

  /*
    Shearch
  */
    .search mat-form-field .search-componet div{
      float: left;
    }
    
    .search mat-form-field .mat-form-field-outline-start,
    .search mat-form-field .mat-form-field-outline-end,
    .search mat-form-field .mat-form-field-outline-gap {
      border: none;
    }
    
    .search mat-form-field .mat-form-field-outline{
      /*border        : solid $border-size-primary $color-border-primary;*/
      border-radius : 20rem !important;
      box-shadow    : 0 2px 4px 0 #d2d2d6, 0 1px 2px 0 #b4b4bb !important;
    }
    
    .search app-icon{
      position: relative;
      top     : -0.3rem;
      left    : -0.25rem;
    }
    .search app-icon path{
      color: $color-icon;
    }
} 
