<mat-form-field
  [appearance]="appearance"
  [ngStyle]="{
    'width': width
  }"
  [class]="appearanceDetail"
  floatLabel="always"
>
  <mat-label *ngIf="label != ''">{{label}}</mat-label>
  <span matPrefix><ng-content select="[prefix]"></ng-content></span>

  <input
      *ngIf="intputType.includes(type)"
      matInput
      [(ngModel)]="value"
      [ngClass]="['ng-pending']"
      [disabled]="disabled"
      [required]="required"
      [type]="type"
      [placeholder]="placeholder"
      (ngModelChange)="returnValue($event)"
      [class]="appearanceDetail"
  />

  <div
    class='search-componet'
    *ngIf="type == 'search'"
  >
    <div>
      <app-icon [shape]="'search'"></app-icon>
    </div>
    <div class="search-componet-input">
      <input
        matInput
        [(ngModel)]="value"
        [ngClass]="['ng-pending']"
        [disabled]="disabled"
        [required]="required"
        [type]="type"
        [placeholder]="placeholder"
        (ngModelChange)="returnValue($event)"
        [class]="appearanceDetail"
      />
    </div>
  </div>

  <!-- INPUTS TIPO DATEPICKER -->
  <div
    *ngIf="type=='date' || type=='datetime-local'"
    class='datepicker'
  >
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="value"
      [ngClass]="['ng-pending']"
      [disabled]="disabled"
      [required]="required"
      [placeholder]="placeholder"
      (ngModelChange)="returnValue($event)"
      [class]="appearanceDetail" 
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>
  
  <!-- INPUTS TIPO SELECT -->
    <mat-select
      *ngIf="type=='select'"
      [(ngModel)]="value"
      [disabled]="disabled"
      [required]="required"
      [class]="appearanceDetail"
      (ngModelChange)="returnValue($event)"
      placeholder="{{ 'COMMON.INPUT.SELECT' | translate }}"
    >
      <mat-option *ngFor="let option of options" value="{{option.value}}">
        {{option.text}}
      </mat-option>
    </mat-select>

    <mat-select
      *ngIf="type=='selectMultiple'"
      [(ngModel)]="value"
      [disabled]="disabled"
      [required]="required"
      [class]="appearanceDetail"
      (ngModelChange)="returnValue($event)"
      multiple
      placeholder="{{ 'COMMON.INPUT.SELECT_MULTIPLE' | translate }}"
    >
      <mat-option *ngFor="let option of options" [value]="option.value">
        {{option.text}}
      </mat-option>
    </mat-select>

  <!-- INPUT TIPO TEXTAREA -->
  <textarea
    *ngIf="type=='textarea'"
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="3"
    [cdkAutosizeMaxRows]="maxRow"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="returnValue($event)"
    [disabled]="disabled"
    [required]="required"
  >
  </textarea>

  <mat-error *ngIf="required == 'required'">
    {{label}} <span [innerHTML]="'COMMON.INPUT.REQUIRE' | translate"></span>
  </mat-error>

  <span matSuffix 
    *ngIf="this.suffixIcon !== ''" 
    class="class-suffix"
    [ngClass]="classSuffix" 
    (click)="this.selectFunction()"
  >
    <app-button 
      class="icon-only"
    >
      <app-icon [shape]="this.suffixIcon" suffix></app-icon>
    </app-button>
    <ng-content select="[suffix]"></ng-content>
  </span>
  
  <mat-hint *ngIf="hint != ''">{{hint}}</mat-hint>
</mat-form-field>
