.aon-dataTable{
	width:100%;		
	font-family:arial,verdana, "sans serif";
	border:#ccc 1px solid;
	border-collapse:collapse;
}

.aon-dataTable td{
	padding-top:1px;
	padding-bottom:1px;
	padding-left:0.5em;
	padding-right:0.5em;	
	border:#ccc 1px solid;
}
.aon-margin-top{
	margin-top: 1em;
}
.aon-bold {
	font-weight: bold;
}
.aon-text-center {
	text-align: center;
}
.aon-text-left {
	text-align: left;
}
.aon-text-right {
	text-align: right;
}
.aon-vertical-align-middle{
	vertical-align: middle;
}
.aon-simple-border {
	border: solid #CCC 1px;
}
.aon-background-disabled {
	background-color: #EEE;
}
.aon-font-small {
	font-size: 0.8em;
}
.aon-padding-left {
	padding-left: 1em;
}
.aon-padding-right{
	padding-right: 1em;
}
.aon-border-bottom  {
	border-bottom: solid #999 1px;
}
.aon-padding2 {
	padding: 2px;
}

.aon-editDataTable-iconColumn {
	padding: 0;
	width: 14px;
	text-align: center;
}

.aon-editDataTable-textColumn {
	text-align: left;
}

.aon-editDataTable-numberColumn {
	text-align: right;
}

.aon-textBox-error {
	border: 1px solid red !important;
}
@sprite .aon-list-data {
	gwt-image: "aonListData";
	background-position:   left 6px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
    font-size: 0.9em;
    padding-left: 15px;
    white-space: nowrap;	
}
@sprite .aon-icon-delete {
	gwt-image: "aonIconDelete";
}
@sprite .aon-icon-enterprise {
	gwt-image: "aonIconEnterprise";
}

@sprite .aon-table-row-link {
	gwt-image: "aonIconRowSelector";
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
	background-attachment: scroll;
	margin: 0;
	padding: 0 0 0 14px;
}

@sprite .aon-icon-trash  {
	gwt-image: "aonIconTrash";
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
	background-attachment: scroll;
	margin: 0;
	padding: 0 0 0 14px;
}

@sprite .aon-timer {
	gwt-image: "aonTimer";
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-attachment: scroll;
	height: 150px;
	width: 250px;
	padding-left: 160px;
	padding-top: 20px;
	font-weight: bold;
	vertical-align: middle;
	color: #003399;
	border: solid #003399 1px;
}
@sprite .aon-icon-aeat{
	gwt-image: "aonAeat";
	background-color: transparent;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center left;
}

.aon-icon-commandButton{
	padding:0 0 0 16px;
	text-align:left;
	border:0px;
	width:auto;
   	overflow:visible;
   	cursor:pointer;   	
}

.aon-page-header {
	background-color: #999;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 25px;
	margin-bottom: 10px;
}
