<?xml version="1.0"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">



	<!-- Test Servlet -->
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.code.aon.aio.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/testServlet</url-pattern>
	</servlet-mapping>

	<!-- GWT RPC Servlets -->
	<servlet>
		<servlet-name>Agreeement Servlet</servlet-name>
		<servlet-class>com.esferalia.aon.gwt.payroll.server.EmployeesServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Agreeement Servlet</servlet-name>
		<url-pattern>/aon_gwt_payroll/agreement</url-pattern>
	</servlet-mapping>

	<!-- Payroll calculate Servlet -->
	<servlet>
		<servlet-name>Caculate Servlet</servlet-name>
		<servlet-class>com.esferalia.aon.gwt.payroll.server.CalculateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Caculate Servlet</servlet-name>
		<url-pattern>/aon_gwt_payroll/calculate</url-pattern>
	</servlet-mapping>

</web-app>
