@use './theme' as t;

// Variables colores
$color-50 : #13001f;  // Fondo principal
$color-100: #1c003d;
$color-200: #220649;
$color-300: #2b0b57;
$color-400: #321063;
$color-500: #452277;  
$color-600: #371b5c;
$color-700: #482b6e;
$color-800: #523a77;
$color-900: #6e578f;  
$color-grad-min: #5A1C9C;
$color-grad-max: #1C003D;

$color-text: #ede5f8;
$color-text-button: #ede5f8;
$color-text-button-transp: #ede5f8;

@mixin dark-theme {
  @include t.theme(
    $color-50, $color-100, $color-200, $color-300, 
    $color-400, $color-500, $color-600, $color-700, 
    $color-800, $color-900,
    $color-grad-min, $color-grad-max,
    $color-text, $color-text-button, $color-text-button-transp
  );
}
 