@use './theme' as t;
@use '../variables' as v;

// Variables colores
$color-0  : #fff;
$color-50 : #f8fafc;
$color-100: #f1f5f9;
$color-200: #e2e8f0;
$color-300: #cbd5e1;
$color-400: #94a3b8;
$color-500: #64748b;
$color-600: #475569;
$color-700: #334155;
$color-800: #1e293b;
$color-900: #0f172a;
$color-grad-min: #F52A52;
$color-grad-max: #3D0089;

$color-sky-50 : #e0f2fe;
$color-sky-100: #e0f2fe;
$color-sky-200: #bae6fd;
$color-sky-300: #7dd3fc;
$color-sky-400: #38bdf8;
$color-sky-500: #0ea5e9;
$color-sky-600: #0284c7;
$color-sky-700: #0369a1;
$color-sky-800: #075985;
$color-sky-900: #0c4a6e;

$color-blue-50 : #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-400: #60a5fa;
$color-blue-500: #3b82f6;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-blue-900: #1e3a8a;

$color-violet-50 : #f5f3ff;
$color-violet-100: #ede9fe;
$color-violet-200: #ddd6fe;
$color-violet-300: #c4b5fd;
$color-violet-400: #a78bfa;
$color-violet-500: #8b5cf6;
$color-violet-600: #7c3aed;
$color-violet-700: #6d28d9;
$color-violet-800: #5b21b6;
$color-violet-900: #4c1d95;

$color-red-50 : #f8fafc;
$color-red-100: #f1f5f9;
$color-red-200: #e2e8f0;
$color-red-300: #cbd5e1;
$color-red-400: #94a3b8;
$color-red-500: #64748b;
$color-red-600: #475569;
$color-red-700: #334155;
$color-red-800: #1e293b;
$color-red-900: #0f172a;

$color-green-50 : #f8fafc;
$color-green-100: #f1f5f9;
$color-green-200: #e2e8f0;
$color-green-300: #cbd5e1;
$color-green-400: #94a3b8;
$color-green-500: #64748b;
$color-green-600: #475569;
$color-green-700: #334155;
$color-green-800: #1e293b;
$color-green-900: #0f172a;

$color-yellow-50 : #f8fafc;
$color-yellow-100: #f1f5f9;
$color-yellow-200: #e2e8f0;
$color-yellow-300: #cbd5e1;
$color-yellow-400: #94a3b8;
$color-yellow-500: #64748b;
$color-yellow-600: #475569;
$color-yellow-700: #334155;
$color-yellow-800: #1e293b;
$color-yellow-900: #0f172a;

// Colores textos
$color-text: #1E293B;
$color-text-button: #ffffff;
$color-text-button-transp: #1E293B;

$color-msg-error: #FB5722;

// Logo
$logo: "../images/aon/logo.svg";
$logo-width: 11.3125rem; 
$logo-height: v.$px-55;

@mixin light-theme {
  @include t.theme(
    $color-0, $color-50, $color-100, $color-200, $color-300, 
    $color-400, $color-500, $color-600, $color-700, 
    $color-800, $color-900,
    $color-grad-min, $color-grad-max,
    $color-text, $color-text-button, $color-text-button-transp,
    $color-msg-error,
    $logo, $logo-width, $logo-height
  );
}
