@use '../variables' as v;

@mixin theme(
  $color-0, $color-50, $color-100, $color-200, $color-300,
  $color-400, $color-500, $color-600, $color-700, 
  $color-800, $color-900,
  $color-grad-min, $color-grad-max,
  $color-text, $color-text-button, $color-text-button-transp,
  $color-red-100,  $color-red-500, $color-red-900,
  $color-green-100, $color-green-500, $color-green-900,
  $color-blue-100, $color-blue-500, $color-blue-900,
  $logo, $logo-width, $logo-height
) {
  $color-900-alpha: #{$color-900}0D;
  
  $body-margin       : unset;
  $aonmodule-display : flex;
  $aonmodule-width   : v.$vw-100;
  $aonmodule-height  : v.$vh-100;

  $box-shadow    : v.$px-0 v.$px-4 v.$px-6 v.$px-0 $color-900-alpha;
  $border        : v.$px-1 solid $color-200;
  $transition    : background-color v.$t-03 ease;
  $box-sizing    : border-box;

  $button-border : v.$px-0;

  $loginbutton-background            : linear-gradient(to right, $color-900, $color-900, $color-grad-max, $color-grad-min);
  $loginbutton-background-size       : v.$pct-300 v.$pct-100;
  $loginbutton-backgorund-position   : v.$px-0 v.$px-0;
  $loginbutton-transition            : background v.$t-03 ease;
  $loginbutton-hover-background-size : v.$pct-100 v.$px-0;

  $magicbutton-background-color : transparent;
  $magicbutton-color            : $color-text-button-transp;
  $magicbutton-border           : v.$px-1 solid $color-300;
  $magicbutton-padding          : v.$px-7 v.$px-15;
  $magicbutton-hover-border     : v.$px-1 solid $color-900;
  $magicbutton-hover-padding    : v.$px-7 v.$px-15;

  $iconbutton-hover-background-color : transparent;

  $input-border : v.$px-1 solid $color-300;
  
  body {
    background-color : $color-0;
    color            : $color-text;
    margin           : $body-margin;
    aon-module{
      display : $aonmodule-display;
      width   : $aonmodule-width;
      height  : $aonmodule-height;
      // Cabecera
      .aonToolbar2{
        background-color  : $color-900;
      }
      // cargandos
      aon-loader{
        // Barra de progreso
        .aonProgress {
          background-color: $color-200;
          &:before {
            background-color: $color-500;
          }
        }
      }
      // toast
      aon-toast {
        > div {
          &.error{
            background-color: $color-red-100;
            color: $color-red-900;
          }
          &.success{
            background-color: $color-green-100;
            color: $color-green-900;
          }
          &.primary{
            background-color: $color-blue-100;
            color: $color-blue-900;
          }
        }
      }
      // Botones
      button{
        background-color  : $color-900;
        color             : $color-text-button;
        border-radius     : v.$border-radius;
        border            : $button-border;
        &:hover{
          background-color: $color-500;
        }
      }
      button.aonButton{
        transition: $transition;
      }
      button.aonLoginButton{
        background            : $loginbutton-background;
        background-size       : $loginbutton-background-size;
        background-position   : $loginbutton-backgorund-position;
        transition            : $loginbutton-transition;
        &:hover{
          background-position : $loginbutton-hover-background-size;
        }
      }
      button.aonMagicButton{
        background-color   : $magicbutton-background-color;
        color              : $magicbutton-color;
        border             : $magicbutton-border;
        transition         : $transition;
        padding            : $magicbutton-padding;
        &:hover{
          background-color : $color-900;
          color            : $color-text-button;
          border           : $magicbutton-hover-border;
          box-sizing       : $box-sizing;
          padding          : $magicbutton-hover-padding;
        }
      }
      button.aonIconButton{
        background-color   : $color-600;
        color              : $color-300;
        &:hover{
          background-color : $iconbutton-hover-background-color;
        }
      }
      // Input
      aon-input, aon-new-input{ 
        .aonInputMsg{
          .aonInputMsgError{
            color: $color-red-500;
          }
        }
        aon-icon-button i {
          &::after {
            background-color: $color-300;
          }
        }
        input{
          border: $input-border;
          background-color: $color-0;
          color: $color-text;
        }
      }
      // 
      // Pages - login
      // 
      aon-new-login{
        #logoContent{
          #logoSVG{
            background-image: url($logo);
            width: $logo-width;
            height: $logo-height;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        #loginContent, #magicLinkContent{
          .aonLoginForm{
            border    : $border;
            box-shadow: $box-shadow;
            .aonLoginTitle{
              color: $color-500;
            }
          }
        }
      }
    }
  }
}
