<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.url">jdbc:ctsql://192.168.2.20:1101/empre055;DBPATH=/home/DATABASES;RTRIMCHAR=true</property>		
		<property name="dialect">com.transtools.ctsql.hibernate.dialect.CtsqlDialect</property>
		<property name="connection.driver_class">com.transtools.jdbc.CtsqlJdbcDriver</property>		
		<property name="connection.username">ctl</property>		
		<property name="connection.password">ctl</property>	
		<property name="show_sql">true</property>		

		<!-- TIPOS -->		
		<mapping class="com.code.aon.payroll.tipos.Documento"/>			
		<mapping class="com.code.aon.payroll.tipos.Empresario"/>
		<mapping class="com.code.aon.payroll.tipos.TipoCnae"/>
		<mapping class="com.code.aon.payroll.tipos.Registro"/>
		<mapping class="com.code.aon.payroll.tipos.Incidencia"/>
		<mapping class="com.code.aon.payroll.tipos.Autorizacion"/>				
        <mapping class="com.code.aon.payroll.tipos.Tipovia"/>
		
		<!-- COTIZACIONES -->		
		<mapping class="com.code.aon.payroll.cotizacion.PorcentajeMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Porcentaje"/>
		<mapping class="com.code.aon.payroll.cotizacion.Bonificacion"/>
		<mapping class="com.code.aon.payroll.cotizacion.ElementoMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Elemento"/>	
		<mapping class="com.code.aon.payroll.cotizacion.Base"/>	
		<mapping class="com.code.aon.payroll.cotizacion.Linbasec"/>
		<mapping class="com.code.aon.payroll.cotizacion.OcupacionMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Ocupacion"/>
		<mapping class="com.code.aon.payroll.cotizacion.Epigrafe"/>
		<mapping class="com.code.aon.payroll.cotizacion.Linepigr"/>	
		<mapping class="com.code.aon.payroll.cotizacion.CnaeMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Cnae"/>	
	
	    <!--DIVISAS -->		
	    <mapping class="com.code.aon.payroll.divisa.Divisa"/>			
		<mapping class="com.code.aon.payroll.divisa.LinDivisa"/>	 		 	
        
        <!-- ORGANISMOS Y ENTIDADES-->		
	  	<mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Delegacion"/>		
		<mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Mutua"/>		
		<mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Linmutua"/>	
	    <mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Entidad"/>		
		<mapping class="com.code.aon.payroll.auxiliares.organismosyentidades.Sucursal"/>			
        <mapping class="com.code.aon.payroll.cotizacion.CnaeMaestro"/>			
		<mapping class="com.code.aon.payroll.cotizacion.Cnae"/>	

		
		
		<!-- CONTRATOS -->		
		<mapping class="com.code.aon.payroll.auxiliares.contratos.ContratosInternos"/>
		<mapping class="com.code.aon.payroll.auxiliares.contratos.ContratosTc2"/>	
		
		<!-- CONVENIOS -->		
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Complemento"/>
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Convenio"/>
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Nivel"/>		
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Pagaext"/>
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Categoria"/>
		<mapping class="com.code.aon.payroll.auxiliares.convenios.Percniv"/>

        <!-- GEOGRAFICAS -->		
        <mapping class="com.code.aon.payroll.geograficas.Nacion"/>
        <mapping class="com.code.aon.payroll.geograficas.Pais"/>
		<mapping class="com.code.aon.payroll.geograficas.Provincia"/>		
		<mapping class="com.code.aon.payroll.geograficas.Comunidad"/>
        
        <!-- IRPF -->
		<mapping class="com.code.aon.payroll.irpf.Cuota"/>
		<mapping class="com.code.aon.payroll.irpf.Exclusion"/>
		<mapping class="com.code.aon.payroll.irpf.Elemirpf"/>
		<mapping class="com.code.aon.payroll.irpf.Linirpf"/>	
		
		<!-- IRPF FORAL -->			
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionAlava"/>
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionVizcaya"/>	
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionNavarra"/>	
        <mapping class="com.code.aon.payroll.irpfforal.CuotaRetencionGuipuzcoa"/>	
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesAlava"/> 
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesGuipuzcoa"/> 
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesVizcaya"/> 
        <mapping class="com.code.aon.payroll.irpfforal.MinoracionesNavarra"/>
            
        <!-- SISTEMA RED -->			
        <mapping class="com.code.aon.payroll.auxiliares.Colectivos"/>	   	
           

        <!-- ORGANISMOS Y ENTIDADES -->			
        <mapping class="com.code.aon.payroll.auxiliares.Admon"/>	
	</session-factory>

</hibernate-configuration>